[2021-06-17 11:00] Pierre-Sassoulas commented on #4588
This look like something that is too complicated for pylint to understand right now. It might be fixed by creating a brain for "types" (?). Generally if it's complicated for pylint, it's also complicated to understand for humans, so there is an argument to make for another design? You can disable the error until pylint (and astroid in particular) understand this code structure.

[2021-06-17 11:45] #4555 closed

[2021-06-17 12:27] crazyscientist commented on #4187
There seems to have been some progress. With pyreverse version 2.8.3 I get a different error message:

[code]

### pylint --version output
[code]

[2021-06-17 13:32] apbard commented on #4588
@Pierre-Sassoulas, ok I'll then use the less common `__get__` approach so that users doesn't have to disable pylint every time

is there another way to handle this if you have access only to the instantiated object (beside incapsulating the object and build a complete wrapper of it)?

[2021-06-17 15:34] swight-prc commented on #4186
This is still an issue, because pylint still requires the version of astroid that predates the fix. I've installed the new version anyway, and nothing has broken so far, but I wanted to bring it up just the same.

[2021-06-17 16:22] Pierre-Sassoulas commented on #4186
You were right to manually set astroid this is a nice temporary fix. You can even use ``2.6.0-dev0``. We're going to release astroid 2.6.0 and pylint 2.9.0 (I hope this week-end), that will be the real fix.

[2021-06-17 17:07] Pierre-Sassoulas commented on #4588
Modifying a class at runtime is possible but I personally think it's sacrificing clarity for terseness. I would do a wrapper like you suggested, it's easier to read about a wrapper because you have a concrete type to use in function signatures (so you can go check the wrapper code if you want in o(0) time, and you don't need to do that because even stupid tools can help you autocomplete), whereas

[2021-06-17 17:07] #4588 closed

[2021-06-17 19:47] hauntsaninja opened #4590 "False positive for class definition in function scope"
### Steps to reproduce

[code]

### Expected behavior

No error

### pylint --version output

[code]

[2021-06-17 20:14] Pierre-Sassoulas commented on #4590
Thank you for opening the issue, I can reproduce this.

[2021-06-17 20:17] hardikkat24 opened #4591 "'Line too long' error for py2 style type annotations"
## Question
I am adding `# type: ignore[error-code]` pragmas to my codebase where I need to suppress MyPy type annotation errors.
For example:
[code]
Here the linter throws errors like this:
`C:691, 0: Line too long (112/80) `
I don't want these errors for type annotations. How to solve this?

[2021-06-17 20:29] Pierre-Sassoulas commented on #4591
For pylint there is a proposition to implement #1682, maybe there is a similar ticket for mypy type ignore ? If we start ignoring some constructs because there "justified" to go above the limit this is a slippery slope, so we're not going to do it. The line is really too long. You can make the limit higher or disable the check for the whole project, for the file, the function or... the line 😄.

[c

[2021-06-17 20:29] #4591 closed

[2021-06-17 20:41] hardikkat24 commented on #4591
@Pierre-Sassoulas Thanks a lot! Is there any way I can ignore the comments starting with 'type:'? Or something other than this?

[2021-06-17 20:52] Pierre-Sassoulas commented on #4591
I don't think there is another way than disabling the warning or changing the limit to a higher number.

[2021-06-18 09:51] Nikolai-Hlubek commented on #2018
I was currently evaluating if pylint is a nice addition to a GitLab CI workflow.
But if I read such statements I'm having serious doubts about the direction of the project. A linter should come with sane defaults. Python has a big usage in data science and calculation algorithms that are encapsulated in functions ususally use just a letter or two.
Does anybody really think the formulas given on th

[2021-06-18 10:55] Pierre-Sassoulas commented on #2018
@Nikolai-Hlubek, first, @PCManticore is right that it's impossible to please everyone on naming, if we change this default, some web developer will get angry that we consider ``x0`` to be a proper name for a burger menu item, and will also have "serious doubt about the direction of the project" because as we all know python has "big usage in web development projects". For this reason it's not an e

[2021-06-18 12:11] Nikolai-Hlubek commented on #2018
Well you can and should read my comment as honest user feedback. It was not meant as insult. And please take my appology if you read it as such.

Obviously I'm doing data analysis with python.
I'm not big into linters, and was always happy with the one integrated into pycharm.
I tried to evaluate if pylint - which I used 15 years ago at university and had good memories about - would fit into a bui

[2021-06-18 13:29] ravisumit33 opened #4592 "False positive for math sqrt function"
### Steps to reproduce

Given a file `a.py`:
[code]

### Current behavior

Result of `pylint a.py`:
<img width="762" alt="Screenshot 2021-06-18 at 6 55 54 PM" src="https://user-images.githubusercontent.com/19284116/122567923-d2fd7680-d066-11eb-9bf7-f9eb4936ab06.png">

### Expected behavior
pylint should not give error for math.sqrt function

### pylint --version output

Result of `pylint --version

[2021-06-18 13:38] Pierre-Sassoulas commented on #4592
Hello, thank you for opening the issue, I can't reproduce this problem. What is your operating system and environment ?

[2021-06-18 13:40] ravisumit33 commented on #4592
I am working on Mac OS Catalina in terminal. Install pylint using `pip3 install pylint` and got this error.

[2021-06-18 15:09] ravisumit33 commented on #4302
I also can reproduce this issue.
@dalemyers I am facing similar issue #4592 . Can you also reproduce it?

Is it common on Mac OS ?

[2021-06-18 16:58] ravisumit33 commented on #4592
This duplicates https://github.com/PyCQA/pylint/issues/1524
I solved it using `extension-pkg-allow-list=math` in my pylintrc. However, I didn't get `c-extension-no-member` error rather `no-name-in-module` error which created the confusion.

[2021-06-18 16:58] #4592 closed

[2021-06-18 18:22] Pierre-Sassoulas commented on #4592
Thank you for solving this. You must have a C binding for ``math`` on MacOs. I think I never saw the ``c-extension-no-member`` myself, half the issue about false positives for no-member and half the questions on stackoverflow could be avoided if ``c-extension-no-member`` was working properly because very often the answer is to put it in the ``extension-pkg-allow-list``.

[2021-06-18 18:37] finite-state-machine opened #4593 "useless-type-doc issued for undocumented parameters that have PEP484 type annotations"
This likely relates to (and solves) issue #4117.

### Steps to reproduce

Call pylint with the docparams extension enabled on the following code:

[code]

### Current behavior

[code]

### Expected behavior

Pylint should issue no errors.

It would be reasonable for pylint to issue this error if the type information appeared in the docstring, however, pylint is actually responding to the type anno

[2021-06-19 10:50] #4023 closed

[2021-06-20 10:26] cjvirtucio87 commented on #3982
As a datapoint, we're unable to reproduce the recursion error in `python3.6`:

[code]

Perhaps something in `python3.7` may have affected `pylint` 's algorithm?

[2021-06-20 14:51] ywanHK commented on #4475
what environment are you running pylint on?

I am on windows MSYS2 and the pylint I'm using is the mingw package called [mingw-w64-x86_64-python-pylint](https://packages.msys2.org/package/mingw-w64-x86_64-python3-pylint)

[2021-06-20 15:36] Pierre-Sassoulas commented on #4475
You probably need to modify the pythonpath so `a.py` is accessible for pylint.

[2021-06-20 16:57] tanvimoharir commented on #4580
@Pierre-Sassoulas  I was able to reproduce this,  however I did this on
pylint 2.9.0-dev1
astroid 2.5.8
should the fix be done on the prerelease version (clarifying because the issue was raised with 3.0.0a3)

[2021-06-20 17:01] Pierre-Sassoulas commented on #4580
``3.0.0a3`` is only ``2.8.2`` with some breaking changes on top of it, the version on pylint ``master`` branch (soon to be ``main`` branch) is the one that will be included in the next version (2.9.0), then 3.0.0a4 will be based on it.

[2021-06-20 17:19] fdamken commented on #2686
Hi @jamesbraza,
sorry for coming back to this so late, I was really busy and had to test this. Starting from PyLint 1.9 (you can try in version `1.9.0.dev1` which is on PyPi), the following exclusion directive works in the `.pylintrc`:

    ignore-paths=^src/experiments/.*$,
                 ^src/ingredients/.*$,
                 ^src/scripts/.*$,
                 ^src/tests/.*$

So you separate m

[2021-06-22 07:43] andrea-cassioli-maersk commented on #1498
Similar issue here using python3.8. In this example
[code]

I get

[code]

on the second call to `func`. `pylint` is quite smart, but in more complex examples it seems to give up and simply report a variable that might be `None` to be `unsubscriptable`. Is that the case?

[2021-06-22 10:04] superbobry opened #4603 "unused-import false positive for a module used in a type comment"
### Steps to reproduce

[code]

### Current behavior

[code]

### Expected behavior

`unused-import` should not be emitted.

### pylint --version output

Result of `pylint --version` output:

[code]

This is a follow up to #3112.

[2021-06-22 14:37] joshveea commented on #1004
I'm still seeing this issue.

Astroid 2.5.6
Pylint 2.8.0

[2021-06-22 14:38] Pierre-Sassoulas commented on #1498
Yes, @andrea-cassioli-maersk astroid do not have real control flow (no restriction on the inference after ``isinstance(x, dict)`` for example) but can handle simple cases like the one you gave.

[2021-06-22 14:40] Pierre-Sassoulas commented on #1004
@joshveea could you open a new issue for it please ?

[2021-06-22 16:43] mdepp opened #4606 "Expand `variable` name type to include non-constant, module-level variables"
### Is your feature request related to a problem? Please describe

Naming style of module-level non-constant variables is not enforced. For example,

[code]

My best guess for the reason is that non-constant module-level variables do not fall into any [name type](http://pylint.pycqa.org/en/latest/user_guide/options.html#naming-styles). Prior to pylint 2.5.0 they counted as `const`. This was fixed

[2021-06-22 17:56] tanvimoharir commented on #4580
@Pierre-Sassoulas  Sorry its taking me some time to understand this.
I was looking into the first case
[code]
The error I get is slightly different than above, I get:
AttributeError: **'list'** object has no attribute 'items'

I also tried with non-empty list and got the same error (AttributeError: **'list'** object has no attribute 'items')
[code]
Its mentioned above that this should not be crash

[2021-06-22 18:12] davildaran opened #4607 "how to run pylint recursively over multiple directories"
## Question

My simplified directory structure is as follows
.
├── src
│   ├── module1.py
│   └── module2.py
├── tests
│   ├── test1.py
│   └── test2.py

Both `src/` and `tests/` have an empty `__init__.py` module marking them as packages (iirc)

I am running `pylint` as follows `pylint --rcfile=.pylintrc src/**/*.py tests/**/*.py`
and pylint appears to recognize the tests dir/package as a module

[2021-06-22 18:30] davildaran commented on #4607
I think I have a solution after looking around and checking out the `git ls-files` man page.

I was using incorrect syntax to run a shell command inside of the make target command, I needed double `$$` it appears.

I was attempting to use the `--exclude` arg at first but then came across a pattern to exclude folders that is working instead

[code]

[2021-06-22 18:30] #4607 closed

[2021-06-22 20:18] Pierre-Sassoulas commented on #4580
I think what the code expect in ``values`` is a dict so probably ``{"load-plugins": ["a", "b"]}`` and not ``["a", "b"]`` ? Ideally the parsing should be the same for TOML or pylintrc, it's possible that the way it's done right now is not ideal. You can refactor to make it cleaner if you have to.

[2021-06-22 20:44] Pierre-Sassoulas commented on #4606
The fix is "easy", I have something locally. But there would be false positive as soon as pylint make a mistake on the inference of a constant. Also it broke 53 tests in the test suite most of them functional, For example:
[code]
Or :
[code]

I use constant that are mutable sometime, and variable that are immutable. So I don't know, about this one. Maybe a test that this is ``UPPER_CASE`` or ``sna

[2021-06-22 22:36] mdepp commented on #4606
Checking for either `UPPER_CASE` or `snake_case` makes sense to me. Really I just want to prevent `pascalCase` from showing up in globals... Maybe the best solution is to create a new name type then.

[2021-06-23 00:22] inducer opened #4608 "False positive: Pylint doesn't deduce non-None-ness from ternary condition"
### Steps to reproduce

Given a file `a.py`:
[code]

I get
[code]

### Expected behavior

It's clear that the `-x` won't be executed if `x` is None. IMO the warning is a false positive as a result.

### pylint --version output

Result of `pylint --version` output:

[code]

cc @majosm

[2021-06-23 09:53] bersbersbers opened #4609 "False positive no-name-in-module with tensorflow==2.5.0"
### Steps to reproduce

[code]

### Current behavior

[code]

### Expected behavior

No error

### pylint --version output

Result of `pylint --version` output:

[code]

[2021-06-23 10:26] christophe-riolo opened #4610 "False positives `unsupported-assignment-operation` and `unsubscriptable-object` for `TypedDict`s"
### Steps to reproduce

Given a file `test.py`:
[code]

### Current behavior

Result of `pylint test.py`:
[code]

### Expected behavior

It should be passing.

### pylint --version output

Result of `pylint --version` output:

[code]

[2021-06-23 11:51] Pierre-Sassoulas commented on #4610
This is fixed in master, you can try using 2.8.3 or it will be released in 2.9.0 later on.

[2021-06-23 12:01] Pierre-Sassoulas commented on #4610
My bad, this is still affecting python 3.9 and 3.10.

[2021-06-23 17:23] paulalex opened #4612 "Crash when a test function is decorated with ``@pytest.fixture``"
## Question
I am using pylint 2.8.3 and one of my repos pipeline fails for the following exception within pylint:

[code]

I cannot work out what is causing this but if I remove a failing module then this exception just gets thrown in another module.

Can anyone assist me with debugging this issue?

[2021-06-23 17:29] Pierre-Sassoulas commented on #4612
Hello, sure. It look like an unhandled inference fail on astroid. Could you provide the code causing this exception, please ? (You can follow the template for a 'bug' issue)

[2021-06-23 18:29] paulalex commented on #4612
The problem is that it falls over for any of the modules and I cannot see what is causing it., for example of I had module A, B, C in this repo and it currently fails on A, if I then comment out A it fails on B and so on.

Is there some way I can further debug because this has only just started happening and the last build against master was fine, I created a new PR against master with a readme on

[2021-06-23 18:36] Pierre-Sassoulas commented on #4612
I would need the traceback or the code it fails on to help you. It probably has something to do with a decorator, you could try isolating them. Maybe you can create a minimal sharable example that way.

[2021-06-23 18:48] paulalex commented on #4612
Here is the stack trace in the build logs:

[code]

[2021-06-23 18:54] Pierre-Sassoulas commented on #4612
Is there a decorator at `` node <Call l.92 at 0x7f9cb66bc220> in file '/codebuild/output/src662162499/src/ind-openit-export-forecasting-service/src/test/unit/export_forecasting_api_tests.py'`` ? Can you test the result of pylint on this function and its import in a single file ?

[2021-06-23 19:24] paulalex commented on #4612
The only decorator defined in that file is `@pytest.fixture` and this is used multiple times.

[2021-06-23 19:25] freud14 commented on #3249
Another example where there is a false positive:
[code]

[2021-06-23 19:35] paulalex commented on #4612
If I comment out everything but the first fixture in the test file it now moves on and fails on the next test file:

[code]

[2021-06-23 19:37] Pierre-Sassoulas commented on #4612
Is it possible to see line 92 previously or line 66 now ?

[2021-06-23 19:38] paulalex commented on #4612
Sure:

[code]

[2021-06-23 20:17] paulalex commented on #4612
Hi @Pierre-Sassoulas,

Thanks!!

You have helped me to diagnose the issue, I have updated the PR to use a context manager for all calls to `open()` and this has resolved the issue.

This might also help you diagnose the issue (if you still think there is one), for example the fixtures in the tests now look like:

[code]

I am currently replacing the calls which do not open the test resource files

[2021-06-23 20:20] Pierre-Sassoulas commented on #4612
The fix will be available in ``2.9.0``, thank you for signaling this bug and taking the time to pin down the problem 😄

[2021-06-23 20:20] paulalex commented on #4612
Awesome thanks, and thanks for maintaining such a useful tool!

[2021-06-23 20:31] #4612 closed

[2021-06-23 22:26] NeilGirdhar commented on #4326
Same thing for `np.floating`, `np.complexfloating`, and `np.ndarray` now.

[2021-06-24 17:52] Pierre-Sassoulas commented on #3981
It seems like every one of those tests was simply out of date, and the test getting better forced us to update the expected output so it matches reality. The message removed look like false positive that were rightfully removed.

[2021-06-24 17:52] #3981 closed

[2021-06-24 23:58] NeilGirdhar commented on #3131
Should this be closed?  It appears to be fixed now.

[2021-06-25 07:39] Pierre-Sassoulas commented on #3131
Thank you for the reminder @NeilGirdhar, cleaning up issue is hard :)

[2021-06-25 07:39] #3131 closed

[2021-06-25 07:58] Pierre-Sassoulas commented on #2913
The error happens on the class, in  the code of the class it's too late to disable it.

There is two way to do this:
[code]

[2021-06-25 08:06] NeilGirdhar commented on #3131
Least I can do to help.  Thank you for resolving these so quickly.

[2021-06-25 08:18] Pierre-Sassoulas commented on #4117
I had some time to look at this, I think this is a false positive in pylint, Another issue for this is #4593

[2021-06-25 12:34] #4117 closed

[2021-06-25 12:34] #4593 closed

[2021-06-25 12:41] Pierre-Sassoulas commented on #4326
If someone is looking to fix this, the files to upgrade are [the one starting with ``brain_numpy`` in this astroid module](
https://github.com/PyCQA/astroid/tree/master/astroid/brain).

[2021-06-25 17:04] timmartin commented on #4534
It looks to me like there's no logic currently to infer the result of the `cast()` function. IIUC this is something that should be solved in Astroid?

I had a go at implementing this [here](https://github.com/timmartin/astroid/commit/3e7697f6e05683bdd9c6e3f3c376ffa573a3d65a), I think this will need a bit of work to make it more rigorous but it seems like it works in a simple case.

[2021-06-25 17:54] Pierre-Sassoulas commented on #4534
@timmartin, could you open a PR in astroid please ? Apparently bad inference in cast is not at fault for this issue, but this is still a nice feature to have :)

[2021-06-26 16:41] timmartin commented on #4534
I will open a PR, I just wanted to do a little more review of the code first, it's probably not ready to merge.

If I'm understanding this correctly, lack of inference on `typing.cast` is causing this bug. It looks like if the cast was inferred correctly, Pylint would know to treat the `writer` as an instance of `wave.Wave_write`, which would presumably then have the expected methods.

[2021-06-26 18:36] #1548 closed

[2021-06-27 12:45] cdce8p commented on #4610
@christophe-riolo Just wanted to let you know: The fix has already been merged in `astroid` and will be available with the next release.

[2021-06-27 14:53] DudeNr33 opened #4616 "Add documentation for ``pyreverse`` and ``symilar``"
### Is your feature request related to a problem? Please describe

``pyreverse`` is an awesome tool to visualize the project structure and dependencies.
However, it is not even mentioned once in the documentation.
I think adding at least some basic instructions on how to use it and what the output looks like would make it a bit more widely known.

Probably ``symilar`` should get a few sentences as

[2021-06-27 14:56] DudeNr33 commented on #4609
What OS are you running?
I noticed similar errors with Python 3.9.5 on macOS.
Python 3.8 instead runs just fine.
So does Python 3.9.5 on Linux.

In my case those errors come from things like ``socket.error`` or ``math.sin``, which are both modules written in C.
``astroid`` has trouble with the inference in this case, but I do not know why yet.

[2021-06-27 15:40] MrYourM opened #4617 "default-docstring-type configure is not effective in docparams checker"
### Steps to reproduce

Below is a.py

[code]

and run command
[code]

### Current behavior

[code]

### Expected behavior

I think that it should report a warning message or others

### pylint --version output

Result of `pylint --version` output:

[code]

[2021-06-27 15:48] bersbersbers commented on #4609
This is one OpenSUSE Leap 15.2.

[2021-06-27 18:02] Pierre-Sassoulas commented on #4617
Thank you for opening the issue. What warning would you expect here ?

[2021-06-27 18:03] Pierre-Sassoulas commented on #4616
I agree, we need more documentation (in general too, but for pyreverse in particular). Especially if there is a new fancy plantuml option 😄

[2021-06-27 18:11] #4603 closed

[2021-06-27 18:31] MrYourM commented on #4617
I want to check a google style docstring. however it did not work

[2021-06-27 21:15] matusvalo opened #4618 "Deprecated checker is not able to detect deprecated aliases to existing functions/methods"
### Steps to reproduce
Module `threading` contains several deprecated aliases (deprecated in python 3.7 and 3.10) of existing functions:

* threading.Thread.isAlive
* threading.currentThread
* threading.activeCount
* threading.Condition.notifyAll
* threading.Event.isSet
* threading.Thread.setName
* threading.thread.getName
* threading.Thread.isDaemon
* threading.Thread.setDaemon

Current logic of

[2021-06-28 04:59] DudeNr33 commented on #4609
Can you try to reproduce this on OpenSUSE but with Python 3.8?

[2021-06-29 06:47] bersbersbers commented on #4609
Same thing:

[code]

gives

[code]

[2021-06-29 14:18] chaen opened #4624 "used-before-assignment not flagged for import while triggering UnboundLocalError"
### Steps to reproduce

`importExample.py`
[code]
`variableExample.py`
[code]

### Current behavior

The execution of these two scripts lead to a similar outcome:

[code]

[code]
`pylint` detects the problem correctly for the variable, but not for the import

[code]

[code]
### Expected behavior

I'd expect to see `E0601` raised in the case of the import as well.

### pylint --version output

[cod

[2021-06-29 16:29] #3747 closed

[2021-06-29 16:29] #4541 closed

[2021-06-29 17:12] #4618 closed

[2021-06-29 17:40] #4610 closed

[2021-06-29 21:39] NicholasCunningham commented on #2965
Curious if there's any update on this issue? I'm running into this exact problem on my project and I can't find another solution. Thanks!

[2021-06-29 23:00] akosthekiss opened #4629 "False positive `deprecated-module` caused by name collision"
### Steps to reproduce

Given multiple files:
[code]

Where:
[code]

[code]

[code]

### Current behavior

Result of `pylint mypkg`:
[code]

### Expected behavior

No deprecated-module diagnostics.

### pylint --version output

Result of `pylint --version` output:

[code]

[code]

[2021-06-29 23:50] akosthekiss opened #4630 "False positive `unnecessary-dict-index-lookup` and `consider-using-dict-items` if value associated with key is changed in loop"
### Steps to reproduce

Given a file `d.py`:
[code]

### Current behavior

Result of `pylint d.py`:
[code]

### Expected behavior

No diagnostics.

Following the recommendation for line 9 (i.e., rewriting `d[k]` to `_`) would incorrectly change the semantics of the program, as `d[k]` has already been changed, so it has a different value than `_`.

Following the recommendation for line 14 (i.e., re

[2021-06-30 04:45] MikhailZex opened #4631 "Pylint crash with ``StopIteration`` when used with ``--limit-inference-results 0``"
### Steps to reproduce

1. ```
    pylint --fail-under 9 --limit-inference-results 0 ./spotdl
[code]
2.9.0
[code]

[2021-06-30 06:02] Pierre-Sassoulas commented on #4629
@matusvalo do you have an idea how to fix this ? Can we use the absolute name to do the check ?

[2021-06-30 06:12] Pierre-Sassoulas commented on #4631
Thanks for opening the issue, I can reproduce this problem.

[2021-06-30 06:33] Pierre-Sassoulas commented on #2965
Hello, except if a fix get merged by chance when changing the similar checker (there's two MR for multiprocessing flying #4175 and #4565), everything is happening in this issue.

[2021-06-30 06:53] matusvalo commented on #4629
I suppose that yes. I will investigate.

[2021-06-30 06:53] ssbarnea commented on #3285
That bug allone makes it very inconvenient to keep using pylint on types projects, to a point where I am even considering removing it. Any chance we can have someone a patch to address it?

[2021-06-30 06:53] matusvalo commented on #4629
Please assign this issue to me.

[2021-06-30 06:54] Pierre-Sassoulas commented on #4629
Thank you for handling this, much appreciated :)

[2021-06-30 08:36] robsan00 opened #4633 "Exception when combining mock and queue"
### Steps to reproduce

Call `pylint pylint_err.py` on the following script (more or less empty venv besides pylint and using Python 3.8.8):
[code]

venv:
[code]

Python version:
[code]

### Current behavior
[code]

### Expected behavior
no exception

### pylint --version output

Result of `pylint --version` output:

[code]

[2021-06-30 09:32] #4633 closed

[2021-06-30 09:52] Pierre-Sassoulas commented on #4633
Thank you for opening the issue, this should be fixed after astroid 2.6.2 is released (if you force the installation of astroid 2.6.2) or in pylint 2.9.1. There's another problem currently and I'd like a review before merging the fix so it could be tomorrow.

[2021-06-30 09:55] #4631 closed

[2021-06-30 10:06] robsan00 commented on #4633
Thanks for the very fast feedback!

[2021-06-30 10:10] cdce8p commented on #4630
@yushao2 Would you like to take a look at it? It seems we need to ignore `unnecessary-dict-index-lookup` and `consider-using-dict-items` if an `Assign` or `AugAssign` is used.

[2021-06-30 10:13] eddyashton opened #4635 "False positive `no-value-for-parameter`/`too-many-function-args` in v2.9.0"
In v2.9.0, pylint appears to be confused by a certain pattern of abstract classes; it believes the code is calling a function on one abstract class which takes X arguments, it is actually calling another function with the same name on a totally different class, where it takes Y arguments. The original error was `no-value-for-parameter` on [this function](https://github.com/microsoft/CCF/blob/5486e

[2021-06-30 10:33] craiga commented on #3389
Thanks so much for your work here!

An hour ago I was going to log a bug against this change, but it turned out that my code contained an insidious little bug where it wasn't iterating over a data structure as it should've been. Thanks again!

[2021-06-30 10:47] Pierre-Sassoulas commented on #4631
This should be fixed if upgrading to astroid 2.6.2 manually, and will be fixed in pylint 2.9.1.

[2021-06-30 12:42] bugale opened #4638 "Exception thrown when using private class method"
### Steps to reproduce

Given a file `test.py`:
[code]

### Current behavior
Result of `pylint a.py`:
[code]

### Expected behavior

[code]

### pylint --version output

Result of `pylint --version` output:

[code]

The issue doesn't reproduce on version 2.8.3
It started reproducing on 2.9.0 and still happens in the latest prerelease version

[2021-06-30 13:46] fizbin opened #4639 "False positive on assigning-non-slot when following standard idiom for __deepcopy__ in a class hierarchy"
### Steps to reproduce

Run `pylint` version 2.9.0 (or the current pre-release) on this file:

[code]

### Current behavior

[code]

### Expected behavior

(this is the output with pylint 2.8.3)

[code]

### pylint --version output

Result of `pylint --version` output:

[code]

[2021-06-30 14:20] yushao2 commented on #4630
raised a pr for it: #4640

[2021-06-30 16:40] anders-kiaer commented on #4577
We see the same thing. Strangely enough the following snippet
[code]
gives `Instance of 'TextFileReader' has no 'columns' member`.

_However_ if either
* the last line is commented out
* or alternatively [these two lines in `pandas` during the `df` initialization](https://github.com/pandas-dev/pandas/blob/7c48ff4409c622c582c56a5702373f726de08e96/pandas/io/parsers.py#L1073-L1074) are commented out

[2021-06-30 17:16] MikhailZex commented on #4631
Thanks for the timely help.

[2021-06-30 18:28] cdce8p commented on #4638
@bugale You should be able to use `Bla.__a()` or even `self.__a()` instead. We are currently working on a fix for `type(self)`

[2021-06-30 20:09] anders-kiaer commented on #4577
Investigated a bit further. The false positive appears to have been introduced between `astroid==2.5.7`and `astroid==2.5.8`, in https://github.com/PyCQA/astroid/pull/1009. For the specific snippet above it looks like increasing [`max_inferred`](https://github.com/PyCQA/astroid/blob/b48b370b34c07be6b41bc669f0d65cddf1bfeb89/astroid/context.py#L45) to `>=166` removes the false positive in this case.

[2021-06-30 21:04] bodik opened #4643 "False positive no-member with wtforms BaseForm.populate_obj"
Hello,

during package bump in my project (sner4) I've came across perhaps false positive `no-member` related to wtforms package for function `BaseForm.populate_obj()` (https://github.com/wtforms/wtforms/blob/master/src/wtforms/form.py#L73)

According to minimal test case the issue is present since pylint 2.5.0, with last good version pylint 2.4.4

Any analysis or advice would be appreciated.

###

[2021-06-30 21:13] #4638 closed

[2021-06-30 21:27] akosthekiss opened #4644 "False positive `unused-private-member` if class member is accessed via `self`"
### Steps to reproduce

Given a file `p.py`:
[code]

### Current behavior

Result of `pylint p.py`:
[code]

### Expected behavior

No diagnostics.

### pylint --version output

Result of `pylint --version` output:

[code]

[code]

[2021-06-30 21:36] Pierre-Sassoulas commented on #4644
Thank you, I can reproduce this.

[2021-07-01 07:26] Pierre-Sassoulas commented on #4644
This will be fixed in ``2.9.2``, we'll release it when https://github.com/PyCQA/pylint/issues/4630 is merged :)

[2021-07-01 07:31] #4644 closed

[2021-07-01 08:13] #4630 closed

[2021-07-01 10:40] mhumetskyi opened #4648 "Pylint similarities checker fails with "ignore-signatures" option enabled and function with docstring-only body"
Newly introduced `ignore-signatures` option for similarities checker fails for functions with an empty body with docstring only.
Works fine if `ignore-signatures` is disabled.

### Steps to reproduce

Given a file `a.py`:
[code]

### Current behavior

Result of `pylint --disable=all --enable=similarities --ignore-signatures=yes a.py`:
[code]

### Expected behavior

Pylint shouldn't fail, no error

[2021-07-01 11:09] cdce8p commented on #4410
The renaming was done between `v2.9.1` and `v2.9.2` for `pylint` and `v2.6.2` and `v2.6.3` for `astroid`.

[2021-07-01 11:09] #4410 closed

[2021-07-01 12:17] #4648 closed

[2021-07-01 12:19] Pierre-Sassoulas commented on #4648
Thank you for opening the issue, and for all the detail provided, it will be fixed in 2.9.3.

[2021-07-01 12:36] mhumetskyi commented on #4648
@Pierre-Sassoulas thanks for the quick response.

The way it was resolved in #4649 we will ignore such functions at all and signatures would be checked in similarities for them.

Should we have a follow-up ticket to improve it?

[2021-07-01 12:39] Pierre-Sassoulas commented on #4648
Yes, I just wanted to avoid the crash in 2.9.3. Would you be interested in doing the real fix 😄 ?

[2021-07-01 12:45] mhumetskyi commented on #4648
@Pierre-Sassoulas yes 🙃

Additionally, we could try to improve `ignore-signatures` option to also ignore class methods signatures as well, because currently, it doesn't. Only functions signatures are ignored.

But possibly it could be another improvement issue.
Could I create both of them?

[2021-07-01 12:57] Pierre-Sassoulas commented on #4648
Sound great ! Fixing the false negative can go in 2.9, but we'll wait for ``2.10`` to merge the "ignore class methods signatures" :)

[2021-07-01 13:08] Pierre-Sassoulas commented on #3285
This is a high priority issue but no one is working on it right now, if you're willing to contribute it could go faster 😄

[2021-07-01 14:29] cdce8p commented on #4643
This might be related to #4278

[2021-07-01 14:48] mhumetskyi opened #4652 "Similarities checker with "ignore-signatures" option enabled ignores functions with docstring-only bodies"
#4648 follow-up.

### Steps to reproduce

Given multiple files:
[code]

`a.py`:
[code]

`b.py`:
[code]

### Current behavior

Result of `pylint --disable=all --enable=similarities --ignore-signatures=yes module`:
[code]

### Expected behavior

`duplicate-code` error shouldn't be reported in this case.

**Note**: if functions have bodies everything works correctly. You could add `pass` to the examp

[2021-07-01 15:10] mhumetskyi opened #4653 "Ignore class methods signatures with similarities "ignore-signatures" option enabled"
### Is your feature request related to a problem? Please describe

Initial already closed issue #3619.
One more related closed question with examples #4350.

Similarities "ignore-signatures" option currently only ignores functions' signatures.
Class methods won't be ignored with the current implementation which would be very useful to avoid false-negative `duplicate-code` errors for classes.

###

[2021-07-01 15:12] mhumetskyi commented on #4648
Created both issues I have mentioned: #4652, #4653.

[2021-07-01 17:09] romainletendart opened #4654 "R1732(consider-using-with): Regression on contextlib.ExitStack"
### Steps to reproduce

Using `exit_stack.enter_context()` within a `with contextlib.ExitStack() as exit_stack` block, I think we shouldn't have any `R1732(consider-using-with)` errors. At least, no errors were raised under `pylint==2.8.3`.

Given a file `test.py`:
[code]

### Current behavior

Result of `pylint test.py`:
[code]

### Expected behavior

[code]

### pylint --version output

[code]

[2021-07-01 17:23] Pierre-Sassoulas commented on #4654
Thank you for opening the issue, I agree with you you should not have a warning here.

[2021-07-01 17:36] Pierre-Sassoulas commented on #827
Closing as formatting is better handled by an auto-formatter like black or a linter like flake8.

[2021-07-01 17:36] #827 closed

[2021-07-01 18:16] Pierre-Sassoulas commented on #880
Wrong handing indentation has been removed from pylint.

[2021-07-01 18:16] #880 closed

[2021-07-01 18:40] DudeNr33 commented on #4654
I will look into this. I was not aware of the ``contextlib.ExitStack.enter_context()`` method.
This should be probably treated in a special way. I wonder if there are any other methods in the standard library that do similar things and should be considered as well.

[2021-07-01 22:53] michael-lefkowitz-techlabs commented on #2198
pylint is still taking over a minute to lint a short .py file that contains a very long string (65510 chars). I'm not sure if it's related to this issue, or if I should open a new issue.

pylint 2.6.0
astroid 2.4.2
Python 3.8.0 (default, Feb 25 2021, 22:10:10)
[GCC 8.4.0]

[2021-07-02 05:23] Pierre-Sassoulas commented on #2198
Probably due to https://github.com/PyCQA/pylint/issues/4062 instead.

[2021-07-02 08:52] JasonF-BJSS opened #4655 "Pylint Fails to output W0199 on single item tuple"
### Steps to reproduce

Given a file `a.py`:
[code]

### Current behaviour

Result of `pylint a.py`:
[code]

### Expected behavior

[code]

### pylint --version output

Result of `pylint --version` output:
[code]

[2021-07-02 09:36] cdce8p commented on #4654
Probably `contextlib.AsyncExitStack.enter_async_context`
https://docs.python.org/3/library/contextlib.html#contextlib.AsyncExitStack.enter_async_context

[2021-07-02 10:56] gcolombeau opened #4657 "False positive `unused-private-member` if class member is mutated via `cls`"
### Steps to reproduce

Given a file `w0238.py`:
[code]

### Current behavior

Result of `pylint w0238.py`:
[code]

### Expected behavior

I would expect no `unused-private-member` warning as `cls` is inferred as the current class.
However, this example feels error prone under edge cases.

### pylint --version output

Result of `pylint --version` output:

[code]

[2021-07-02 11:19] divineunited opened #4659 "Dangerous default argument should include "Stateful" default arguments as well"
### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

When a function is defined, a function will maintain the state of the default argument. This can be dangerous if the default argument is something like `datetime.date.today()`. In this [article](https://docs.python-guide.org/writing/gotchas/), it states that:

Thus, if a prod

[2021-07-02 15:21] PatrickBourdon opened #4660 "False positive - callable result of an overloaded method is reported to be not callable"
### Steps to reproduce
[code]

### Current behavior
Runs ok.
But pylint reports an error on the last line of code: d is not callable - pylint(not-callable)

This appeared on some existing code after updating to pylint 2.9.0.
I reduced to the smallest piece of code to reproduce the issue.
Note that It does not appear when there is no overload, since 'c' is Ok.

### Expected behavior
No pylint error

[2021-07-03 01:39] mMerlin opened #4662 "ValueError: generator already executing"
### Steps to reproduce

This appears very sensitive to the exact current code and environment. My attempts to create a simplified case for testing have failed. I have a commit in a local git repo of the failing state. I can publish that if needed to debug the root cause. There is nothing proprietory in the project.

Commenting out a single line `assert uni.dimensions == 2` avoids the error.
Uncomm

[2021-07-03 06:10] yushao2 commented on #4657
seems similar to #4644 , thanks for reporting this!

[2021-07-03 06:25] Pierre-Sassoulas commented on #4657
Do you want to handle this one @yushao2 ?

[2021-07-03 07:26] TylerYep commented on #3972
Can this be turned on by default in pylint? I think this is a very useful feature and is very difficult to find and enable.

[2021-07-03 10:40] alt-yushao2 commented on #4657
Yep, will work on it later

[2021-07-03 14:34] DudeNr33 commented on #4654
Thanks @cdce8p.
This led me to realize that the whole ``consider-using-with`` check does not check asnychronous context managers at all.
A quick search over the Github repo of CPython shows that the standard library only has async context managers in form of the various locks of ``asyncio.locks`` and in ``asyncio.events.AbstractServer``.

[2021-07-03 16:23] jacobtylerwalls opened #4664 "`use-maxsplit-arg` false positive when index is incremented inside a loop"
### Steps to reproduce

Given a file `a.py`:
[code]

### Current behavior

Result of `pylint a.py`:
[code]

### Expected behavior
no messages, since maxsplit=1 produces a different result.

### pylint --version output
[code]

[2021-07-03 16:37] yushao2 commented on #4655
@cdce8p, this seems to be expected behavior from the already implemented functional test:

https://github.com/PyCQA/pylint/blob/main/tests/functional/a/assert_on_tuple.py#L8

[2021-07-03 17:01] Pierre-Sassoulas commented on #3972
The documentation is lacking then because you only need to add `--enable useless-suppression` to the option or add `enable=useless-supression` in your pylintrc. I don't think we should be changing the default until the strange bugs that seems to exists are fixed. But I agree that it's a really useful warning.

[2021-07-03 17:16] yushao2 commented on #4664
Thanks for reporting this! I'm able to reproduce this issue

[2021-07-04 00:19] mMerlin commented on #4662
I encountered another state in the source code that causes the same error. I saved that as another commit, and published the [repo on github](https://github.com/mMerlin/cellular_automata/). Then I reproduced the failure and working cases on a bare, but fully updated, Fedora 33 virtual machine. I hope this helps track down the cause.

[code]

[2021-07-04 04:36] andy-maier opened #4667 "no-member on argparse result on Python 3.9 (only)"
### Steps to reproduce

Given a file `pylint_no_member.py`:
[code]

### Current behavior

On Python 3.9, Pylint raises no-member when accessing the `logdir` attribute from the argparse option `--logdir`:
[code]

The same command on Python 3.8 does not raise the issue:

[code]

### Expected behavior

On Python 3.9, no-member should also not be raised.

[2021-07-04 08:35] larme opened #4668 "False positive `unused-private-member` when using `__new__`"
This may relate to #4657

### Steps to reproduce
Given a file `sample2.py`:

[code]

### Current behavior

Result of `pylint sample2.py`:
[code]

### Expected behavior

I would expect no unused-private-member warning

### pylint --version output

Result of `pylint --version` output:

[code]

[2021-07-04 10:15] maxwrlr commented on #3199
Hey @PythonLinks, I stumbled across the same problem, but I found jedi, which is a pure python package, that gives you all the functionality that something like VSCode is having.

[2021-07-04 12:11] PythonLinks commented on #3199
Very cool.  Are you using it with Ace Editor?

[2021-07-04 12:19] Pierre-Sassoulas commented on #4659
Thank you for opening the issue, that would be a really useful enhancement !

[2021-07-04 14:58] cdce8p commented on #4655
Indeed, thanks for the lookup! I didn't look at it closely when adding the tag.
Just the question if it should change then otherwise this issue could be closed.

[2021-07-04 15:02] yushao2 commented on #4668
I'll look into this over the course of next week

[2021-07-04 15:25] Pierre-Sassoulas commented on #4655
What is the legitimate use case of ``assert (1 == 2,)`` ?

[2021-07-04 15:36] #4657 closed

[2021-07-04 17:58] #4654 closed

[2021-07-04 18:04] DudeNr33 commented on #4667
I can reproduce both the false positive on Python 3.9 and that it "works" on Python 3.8.
"Works" is in quotes because it is not like ``pylint`` (or better to say, ``astroid``) actually successfully infers that the ``Namespace`` object has a member called ``logdir``.
Instead, the ``TypeChecker.visit_attribute`` does not emit anything because it skips the check as the ``node.expr`` is ``Uninferable`

[2021-07-04 18:17] DudeNr33 commented on #4667
Interestingly, the reason why ``args.name`` does not trigger a ``no-member`` message is that ``node.expr.infer()`` in this case returns a third result (``Uninferable``), which leads to the function returning on the same line as it did under Python 3.8.

[2021-07-04 19:15] mhumetskyi commented on #4652
@Pierre-Sassoulas I have opened PR with a proposed fix 🙃

Will be glad if anybody could have a look.

Thanks!

[2021-07-04 19:44] maxwrlr commented on #3199
No, I'm using Monaco.

[2021-07-05 06:42] divineunited commented on #4659
Cool! - Thanks for adding the tags @Pierre-Sassoulas

[2021-07-05 07:09] ffissore opened #4670 "`invalid-length-returned` false positive when analysing "protocols""
### Steps to reproduce

Given a file `test.py`:
[code]

### Current behavior

Running `poetry run pylint src/test.py` results in

[code]

### Expected behavior

Pylint should not raise warnings on protocol/empty methods

### pylint --version output

Tested with both latest 3x

[code]
and latest 2.9

[code]

Additional dependencies:
[code]

[2021-07-05 07:14] ffissore commented on #4670
This false positive didn't occur with pylint 2.8.3

[2021-07-05 07:43] AndreasLuckert opened #4671 "pylint and astroid AttributeError: 'Module' object has no attribute 'col_offset'"
As I'd [already asked on StackOverFlow](https://stackoverflow.com/questions/68194128/pylint-and-astroid-attributeerror-module-object-has-no-attribute-col-offset/68244801), versions `2.9.0` and `2.9.3` seem to have this bug.

A workaround is to downgrade `pylint` to version [2.8.3](https://pypi.org/project/pylint/2.8.3/), which still works.

**EDIT:**

I've just updated the [OP](https://stackoverfl

[2021-07-05 08:25] JasonF-BJSS commented on #4655
There is no legitimate use case I could ever see for` assert (1 == 2,)`, the linter should warn as per `assert (1 == 2, "r")`.

[2021-07-05 11:14] RaenonX commented on #3249
Update:

The examples I provided above still has the issue.

Version info:
[code]

[2021-07-05 11:19] RaenonX opened #4672 "Name collision with deprecated modules causes `deprecated-module` false-positive"
### Steps to reproduce

[code]

There is a file called `parser.py` in the same directory as the file above.

### Current behavior

Emits `deprecated-module`.

### Expected behavior

Should not emit `deprecated-module` since it's not using the deprecated `parser` module.

I assume it's somehow ignoring that `.` before the module name.

### pylint --version output

Result of `pylint --version` outpu

[2021-07-05 16:25] Pierre-Sassoulas commented on #4672
Duplicate of #4629

[2021-07-05 16:26] #4672 closed

[2021-07-05 16:46] WoollyMammal opened #4673 "False Positive on `Unused-private-member` for nested function"
Looks like the `unused-private-member` warning is getting a false positive for nested functions.
E.g: `testthing.py`
[code]
And turns out that even for test-cases I can't bring myself to get a bad pylint score.
Oh well.

[code]

Currently running:
[code]

[2021-07-05 16:48] #4652 closed

[2021-07-06 06:22] adam-azarchs opened #4676 "False positive consider-using-with on a `with` statement"
### Steps to reproduce

Given a file `a.py`:
[code]

### Current behavior

[code]
-->

### Expected behavior

No warning.  I'm already using a `with` statement.

### pylint --version output

Result of `pylint --version` output:

[code]

[2021-07-06 06:27] Pierre-Sassoulas commented on #4676
Thanks for reporting the issue. It's probably due to the ``contextlib.nullcontext()``, and related to #4665

[2021-07-06 06:30] Pierre-Sassoulas commented on #4676
@DudeNr33 maybe I'm wrong and it's only the double open in with that is causing a problem ? What do you think ?

[2021-07-06 07:56] DudeNr33 commented on #4676
Either that, or the ternary if-else on file2.
I will look at it.
So many corner cases for this check I haven't thought of. 😀

[2021-07-06 14:20] amiroshn commented on #3683
Any news on this one?

[2021-07-06 14:48] Wiezzel commented on #1469
Well... it's 2021, I'm using pylint 2.9.3 with Python 3.8.0 and still getting this issue.

[2021-07-06 15:48] Pierre-Sassoulas commented on #1469
The maintainer you're responding to burnt out and is now in another field. But you can be the change you want to see in the world and open a merge request that fix the issue 😉

[2021-07-06 17:08] adam-azarchs commented on #4676
Simpler reproducer confirms the issue is the ternary:
[code]
gives two errors:
[code]
This isn't that weird a corner case, as it's a bit awkward to use `with` in situations like that otherwise.

[2021-07-06 18:15] #4629 closed

[2021-07-06 18:50] Pierre-Sassoulas commented on #4671
Do you have an hint about the code that provoked the crash ? I'd want to add a regression test if possible (and also possibly do more than just avoid the crash and do the right thing). Ideally it would be a python file that would crash pylint with ``pylint a.py`` but simply the code around the problem could help too.

[2021-07-06 19:46] #4676 closed

[2021-07-06 19:47] Pierre-Sassoulas commented on #4676
It will be fixed in 2.9.4 thanks to @DudeNr33 !

[2021-07-06 21:12] jamesbraza commented on #2686
Hello @fdamken !  Thank you for detailing out how to use it.  It seems https://github.com/PyCQA/pylint/pull/4623/files#diff-81fbdb16099ef5c97297b1a8dbd9a6a629906cab99950094742298d574573de3R24 added this to the example `.pylintrc` in the `master` section (reinforces what you've said).

Your comment:

pointed out my error.... I wasn't using the version of pylint your PR was merged to! (facepalm)

No

[2021-07-06 21:33] learnitall opened #4680 "AttributeError: 'Attribute' object has not attribute 'name'"
Seems to be an issued directly related to PR https://github.com/PyCQA/pylint/pull/3998 and issue https://github.com/PyCQA/pylint/issues/3742. When using a metaclass from a subpackage that can't be imported, and then referencing another variable from said subpackage within the same scope, an ``AttributeError`` is raised. Removing the ``assert`` line in the given file below prevents the error. Came

[2021-07-06 23:04] cdce8p opened #4681 "False-positive `unused-private-member` with class name"
### Steps to reproduce

[code]

**or**
[code]

### Current behavior

[code]

### Expected behavior
No errors

### pylint --version output

[code]

### Additional information
Probably needs to be fixed similar to #4663

[2021-07-06 23:05] cdce8p commented on #4681
@yushao2 Would you like to take a look at that?

[2021-07-07 04:17] EugeneZelenko opened #4682 "False positive `unused-private-member` on static members"
Hi!

As of e4cd2ef1b016dece104cccf33bd0d455f335f5af, `unused-private-member` reports false positives for static members used in static methods:

[code]

[2021-07-07 05:23] Pierre-Sassoulas opened #4683 "Cleanup after we drop support for Python 3.6"
When we do drop support because 3.6 has reached its end of life, we'll need to do some cleanup:

- [x] remove the code for Python 3.6 only and `PY36_PLUS` conditionals
- [x] clean up the minimum required version in the tests and functional tests RC files (this has not been done previously)
- [x] Use postponed evaluation of annotations (with from ``__future__`` import annotations) -> #6326
- [x] Us

[2021-07-07 08:10] jaeyoo opened #4684 "Can python decorator automatically/locally turn on/off rule?"
### Is your feature request related to a problem? Please describe

I want to have shorten form of local disable/enable pylint rules for functions.
for example, let `pylint.local_allow` is a decorator whose decorated functions disable pylint to check the specified rules at the beginning of the function code and enable the rules again. In details,

[code]

This is much readable than too many:
[code]

[2021-07-07 12:07] yushao2 commented on #4681
Sure thing.

I don't really use classes that much, but just wanted to ask if there might be cases when a superclass's class name is used too

e.g.
[code]

Not sure if this is even valid syntax, but just wanted some clarifications at this stage before I start working on it

[2021-07-07 13:12] #4664 closed

[2021-07-07 13:15] yushao2 commented on #4682
This seems like a duplicate of #4681, which was opened by @cdce8p

cmiiw

[2021-07-07 13:54] EugeneZelenko commented on #4682
Duplicate of  #4681.

[2021-07-07 13:54] #4682 closed

[2021-07-07 14:16] AndreasLuckert commented on #4671
I'm afraid this is not possible at the moment to provide such information.
I'm working in a dev team on a complex project of a multi-national company involving highly confidential data.
Also, the code is built in a quite intricate and nested manner.

Let's hope that you will the issue, or other people experience similar problems and will be able to provide a full-working example code.

[2021-07-07 18:26] Pierre-Sassoulas commented on #4684
Hello, thank you for taking the time to right down a detailed issue. This seem sub-optimal in terms of performance for your program because instead of relying on comment that won't affect the runtime of your code, we'd rely on a decorator that would.

You could use ``disable`` for the function's scope instead and do:
[code]

[2021-07-07 18:26] #4684 closed

[2021-07-07 18:32] cheesycod opened #4685 "MatchAs object has no attribute assigned_stmts"
No

### Steps to reproduce
Try doing pylint on this (no idea what lines are causing it tho: https://github.com/Fates-List/FatesList/blob/main/modules/core/system.py)

### Current behavior

pylint crashes with MatchAs object has no attribute assigned_stmts

Result of `pylint a.py`:
[code]

### Expected behavior

### pylint --version output

Result of `pylint --version` output:

[code]

[2021-07-07 18:33] Pierre-Sassoulas commented on #4671
Ok, thank you for providing as much details as you can 😄 Blind fix it is then :) Could you maybe tell me if there is still a crash when installing astroid via : ``pip install git+git://github.com/PyCQA/astroid.git@c37b6fd47b62486fd6cbe77b913b568b809f1a6d#egg=astroid``, please ?

[2021-07-07 18:46] Pierre-Sassoulas commented on #4681
As ``__instance`` is private in ``Singleton`` you should not be able to access it from ``InheritingClass``

[2021-07-07 18:50] Pierre-Sassoulas commented on #4685
Thank you for opening the issue, I can reproduce the crash.

[2021-07-07 18:52] Pierre-Sassoulas commented on #4673
@yushao2 , here's another use case for ``unused-private-member`` :)

[2021-07-07 19:50] doranid opened #4687 "Missing member hint fails when object has duplicated bases"
### Steps to reproduce

Given a file `b.py`:
[code]

### Current behavior

Result of `pylint a.py`:
[code]

### Expected behavior
Should not fail hard.

### pylint --version output
pylint 2.9.3
astroid 2.6.2
Python 3.6.12 (default, Feb  6 2021, 10:30:58)
[GCC Apple LLVM 12.0.0 (clang-1200.0.32.29)]

[code]

[2021-07-07 20:42] cdce8p commented on #4685
I can reproduce it as well. This seems to be enough:
[code]

[2021-07-07 21:04] cdce8p commented on #4683
With the removal, we could also start using features that have been added in `3.7`
The most relevant to us IMO would be:
- Postponed evaluation of annotations (with `from __future__ import annotations`)
- Dataclasses

https://www.python.org/downloads/release/python-370/
https://docs.python.org/3.7/whatsnew/3.7.html#new-features

[2021-07-07 21:06] cdce8p commented on #4683
Just for reference: #4310 (Issue discussing when the removal of 3.6 should happen)

[2021-07-07 22:15] yushao2 commented on #4681
right... not sure why my brain wasn't working. thank you :pray:

[2021-07-08 00:57] davmlaw commented on #956
[code]

[2021-07-08 01:34] fluffy-critter opened #4689 "`consider-using-with` on ThreadPoolExecutor?"
## Question

It's pretty common to construct a `concurrent.futures.ThreadPoolExecutor` and keep it around as a singleton or a global variable or the like. Until recently this passed pylint just fine, but recently it's started giving me the error:

    R1732: Consider using 'with' for resource-allocating operations (consider-using-with)

Given that `ThreadPoolExecutor` typically is intended to sit

[2021-07-08 01:49] fluffy-critter opened #4690 "False positive no-member on PonyORM"
### Steps to reproduce

On pylint (since 2.9.3, and still experiencing it on 3.0.0a4) I am having a strange case where pylint is generating a `no-member` error for a PonyORM model class, but only on one line of code.

The code in question is at https://github.com/PlaidWeb/Publ/blob/ee40cfcd388ee31b3e5c977b5ca326ce0af1e013/publ/entry.py#L841 and is excerpted below:

[code]

I also use the `.id` mem

[2021-07-08 03:27] Pierre-Sassoulas commented on #4683
Thank for the suggestion I added postponed evaluation to the list. Regarding dataclasses, could you explain the advantages compared to keeping NamedTuple for example ?

[2021-07-08 03:37] Pierre-Sassoulas commented on #4687
Thank you for opening the issue, nice catch.

[2021-07-08 03:52] Pierre-Sassoulas commented on #4689
Hello, I think we missed this use case. Do you think we should never raise this warning on ``concurrent.futures.ThreadPoolExecutor`` ? (Right now you can disable it, but if it's always a false positive then I think it's better if we should handle that in pylint directly). (cc @DudeNr33)

[2021-07-08 03:56] fluffy-critter commented on #4689
I assumed that the intention is to encourage people to use the `with ThreadPoolExecutor() as thread_pool:` at the top level of the system, but that's not always feasible, and definitely not the typical pattern for the use of c.f.TPE in my experience.

[2021-07-08 04:01] Pierre-Sassoulas commented on #4680
Thank you for opening the issue, I can reproduce this.

[2021-07-08 06:04] DudeNr33 commented on #4689
The main problem right now is, that the check can't detect if a context manager that was constructed earlier is subsequently used in a ``with`` statement, like here:

[code]

I will look into it as soon as possible.
Disabling the check for ``ThreadPoolExecutor`` (and then for ``ProcessPoolExecutor`` as well) would be the quick and easy solution, but maybe I can find a better way.

[2021-07-08 08:08] AndreasLuckert commented on #4671
Thanks a lot for this hint!

Indeed, the combination
[code]

worked out without a failure (the entire AWS CodePipeline process testing and building the packages).

The dev team on my side decided that we're going to keep on using `pylint==2.8.3` for this time being until there is a new official/stable version of `pylint` and `astroid` respectively.
Please let me know as soon as this is the case, s

[2021-07-08 09:16] vonschultz opened #4692 "AttributeInferenceError with click and pylint 2.9"
### Steps to reproduce

[code]

### Current behavior

[code]
We also get exceptions on 2.9.0, as well as when we do ```pip install pylint astroid --pre -U```

### Expected behavior

[code]
(Or similar; this is how it looks with Pylint 2.8.3. Note that we don't get any exceptions.)

### pylint --version output

Result of `pylint --version` output:

[code]

[2021-07-08 10:22] matusvalo commented on #3285
Just a note: As a workaround, disable all checks for a block should help.

[code]

[2021-07-08 12:48] cdce8p commented on #4683
Dataclasses are essentially just classes. So compared to `NamedTuple` you can change attributes without creating a new instance of it. Where dataclasses really shine is for classes that just implement some boilerplate code (`__init__` to assign all attributes to instance attrs, basic `__str__`, `__repr__`, `__eg__`, ...). Basically, they are meant for classes that mostly store data (hence the name

[2021-07-08 14:42] FrankyBoy commented on #4439
Same error, different location:

[code]

pylint --version:
pylint 2.9.3
astroid 2.6.2
Python 3.9.5 (default, May 05 2021, 15:23:13) [GCC]

[2021-07-08 17:32] fluffy-critter opened #4693 "False positive no-member"
### Steps to reproduce

In https://github.com/PlaidWeb/Authl/blob/dc53e065e7cfe5e21bcfb169aea4588293531da8/tests/handlers/test_fediverse.py#L89:

[code]

### Current behavior

[code]

### Expected behavior

In this particular test, `result` can never be `disposition.Error` and there's even a previous assertion to ensure that it's [`disposition.Verified`](https://github.com/PlaidWeb/Authl/blob/dc53

[2021-07-08 18:28] Pierre-Sassoulas commented on #4439
@FrankyBoy could you open another issue and provide the code or a snippet that is making pylint crash, please ?

[2021-07-08 18:29] Pierre-Sassoulas commented on #4439
Sorry I thought this issue was closed, no need to create a new one.

[2021-07-08 18:34] Pierre-Sassoulas commented on #4683
I added dataclasses to the list :) I think it should be done in good intelligence though (ie: not everywhere for refactor's sake)

[2021-07-08 18:37] cdce8p commented on #4683
Yeah, I completely agree. The initial list was more meant to show which new features we can take most advantage of with `3.7` as min requirement not necessarily that we should refactor old code because of it.

[2021-07-08 18:38] Pierre-Sassoulas commented on #3285
Thanks for the clever trick @matusvalo ! For readers who also are would be implementer, this workaround would not work for circular imports for example, so we still need this feature very badly :)

[2021-07-08 18:50] #4687 closed

[2021-07-09 00:39] rydrman commented on #2559
I have also run into this issue... I completely agree that it's helpful to warn about the None return for a function with only empty return statements or no return statements at all. However when the function explicitly returns any kind of value it feels like an unsafe assumption that is will always be exactly that value - especially for subclasses (as we see in this case).

[2021-07-09 05:11] Pierre-Sassoulas commented on #2559
I'm reopening because of popular demand and because implementing abstract class exemption from the checks that do not make sense would eliminate a lot of false positives elsewhere too.

[2021-07-09 08:03] FrankyBoy commented on #4439
Heh, forgot to exclude the venv from my scan, and this failure actually comes from some library code ... it's [pyparsing](https://github.com/pyparsing/pyparsing) (`venv/lib/python3.9/site-packages/pyparsing.py`). Installed version is 2.4.7. Sadly this is some minified file so I can't really give any more concrete pointers right now :/

[2021-07-09 13:43] romainletendart opened #4694 "Regression on rest_framework : Value 'serializer.data' is unsubscriptable"
`rest_framework.serializers.Serializer.data` is a property that returns a `ReturnDict` object. That class is a subclass of the well known `collections.OrderedDict` and is obviously subscriptable. What I notice is that the error only appears when the field we add to the serializer gets the very same name 'data'.

What might get pylint confused is that there is some metaclass magic going on when dec

[2021-07-09 14:43] ssbarnea commented on #4505
While I am not encountering the same bug reported in the description I found that using pylint as a pre-commit hook seems to be a permanent source of problems, which often are not possible to replicate by running pylint outside pre-commit.

When I say weird, I mean getting error from cyclic-import from particular file, not being able to use comments to disable it and not being able to get the same

[2021-07-09 17:24] #4680 closed

[2021-07-09 17:27] Pierre-Sassoulas commented on #4505
The way to use pylint with pre-commit is by using it outside of pre-commit and install it properly in a venv yourself, (pylint needs the depenency to be importable) like in the comment above, or in pylint itself:
[code]

[2021-07-09 19:23] #4671 closed

[2021-07-10 08:13] LefterisJP commented on #4694
I also started getting a few false-positive unsuscriptable objects in our projects with 2.9.3. I suspect underlying reason is the same. Have not managed to create a self-contained example yet.

[2021-07-10 11:35] mathiasertl opened #4696 "methods that return a sequence yield unpacking-non-sequence"
If you unpack a sequence return value of a method, pylint falsely reports unpacking-non-sequence. It seems to work correctly with functions.

The issue is introduced with `pylint==2.9.0` and happens with all later versions, including the current `pylint==3.0.0a4`. It does **not** happen with `pylint==2.8.3`, which is why I think this is a different issue from the similar looking #4137 (which menti

[2021-07-10 12:12] mathiasertl opened #4697 "Using classes "defined as generic in stubs but not at runtime" as base class triggers inherit-non-class"
`pylint>=2.9.0` triggers a false positive of `inherit-non-class` when using a class as base that was defined as a generic in a stub (or mypy plugin) but not at runtime when using the [recommended workaround from mypy](https://mypy.readthedocs.io/en/latest/runtime_troubles.html#using-classes-that-are-generic-in-stubs-but-not-at-runtime)

### Steps to reproduce

Consider this file:

[code]

### Curr

[2021-07-10 15:25] cdce8p opened #4698 "False-positive `unreachable` code for empty generator"
The most efficient way to create a empty generator is to add `yield` after `return`. `pylint` should not add the warning `unreachable` code for it. https://stackoverflow.com/a/61496399

### Steps to reproduce

[code]

### Current behavior

[code]

### Expected behavior

No warning

### pylint --version output

[code]

[2021-07-10 17:23] hippo91 commented on #4353
@tyralla are you facing the same problem with latest versions of `astroid` and `pylint`?
If so, is it possible to have access to the sources you are linting?

[2021-07-10 17:55] Pierre-Sassoulas commented on #4697
To take into account when doing #3285

[2021-07-10 20:56] #4698 closed

[2021-07-11 18:52] Pierre-Sassoulas opened #4701 "Document a better release process than the current one"
See #4651

[2021-07-12 20:56] xoracle6 opened #4706 "Doesn't give a warning if a library is only used once or twice"
Sometimes you only use an import once or twice. Often you can use an already imported library for a specific task which makes extra imports redundant. I think pylint should give a warning when an imported library is seldom being used and/or whether the task could be accomplished with just a single library.

[2021-07-13 18:29] Pierre-Sassoulas commented on #4706
This seem opinionated so it should definitely be an extension.

[2021-07-13 21:02] rr- commented on #2354
Given @pzelnip comment, shouldn't W1203 actually suggest the opposite, to use f-strings instead of `%` formatting?

[2021-07-14 01:39] gbrennon commented on #4015
is there any fix for this false-positive?

[2021-07-14 03:37] Pierre-Sassoulas commented on #4015
No one worked on it yet, do you want to tackle it @gbrennon  ? :)

[2021-07-14 03:47] Pierre-Sassoulas commented on #3512
I think in W1203 the f-string option should become the default. If you have so much logging that lazy formatting will make a difference, you can change the default ? See [this comment](https://github.com/PyCQA/pylint/issues/2354#issuecomment-414526879)

[2021-07-14 03:49] Pierre-Sassoulas commented on #2354
I think the default configuration should change to favor f-string which are superior for most project (and since pylint do not support python 3.5 anymore).

[2021-07-14 08:48] rvanlaar commented on #2698
Pylint also doesn't know about the __annotations__ on dataclasses.
It trigges a no-member error on the `__annotations__`.
Example code is included

[code]

[2021-07-14 10:53] MarcoGorelli commented on #986
As mentioned above, these wouldn't parse without `IPython` as a dependency, as they're not valid Python syntax. `ast.parse` will crash, you'd need `IPython`'s `TransformerManager` to parse such code.

As a workaround, you could use [nbQA](https://github.com/nbQA-dev/nbQA) to run pylint on notebooks:
[code]

---

disclaimer: I'm the author of nbQA

[2021-07-14 15:30] Pierre-Sassoulas commented on #986
Labelled as "won't fix", because as @MarcoGorelli said there is an external solution and jupyter notebook are not pylint's core competency.

[2021-07-14 19:47] papb commented on #4296
@dbaty That plugin did not work for me unfortunately, should it still work with latest pylint?

[2021-07-14 22:06] #4368 closed

[2021-07-15 06:01] papb commented on #3795
Maybe #3251 could also solve this

[2021-07-15 06:03] papb commented on #3363
@xavfernandez Unfortunately `pylint-strict-informational` did not work for me. I ended up with the following workaround (executed before calling `pylint`):

[code]

[2021-07-15 06:05] papb commented on #4296
@TylerYep @dbaty I managed to make another workaround, see https://github.com/Polyconseil/pylint-strict-informational/issues/2

[2021-07-15 07:51] alex-eri commented on #986
I want to pylint code with cython parts, where want to skip parts. Maybe preprocessing brackets?

[code]

[2021-07-15 07:52] MarkCBell commented on #3363
Note, since PyCQA/pylint@ab094ae, it is not just enough to change the `MSG_TYPES_STATUS` of the informational type messages. This is because this commit means that a shortcut `exit(0)` is applied whenever a run completes with a score >= `config.fail_under` (which is 10.0 by default). Since informational messages do not affect the score, if only informational messages are raised during a run then t

[2021-07-15 08:58] kasium opened #4711 "False positive finding for E0605: Invalid format for __all__"
### Steps to reproduce
Given a file `__init__.py`:
[code]

### Current behavior
Result of `pylint __init__.py`:
[code]

### Expected behavior
No finding. The attribute is a list at runtime but I guess the check doesn't see this

### pylint --version output
Result of `pylint --version` output:
[code]

[2021-07-15 09:08] Pierre-Sassoulas commented on #986
Can you open another issue for cython please @alex-eri ?

[2021-07-15 19:14] MarkCBell opened #4712 "Using --fail-on does not always result in a failing return code when that issue is present"
### Steps to reproduce

Run: `pylint --fail-on=useless-suppression a.py`

When `a.py` contains:
[code]

### Current behavior

Result of `pylint --fail-on=useless-suppression a.py`:
[code]
However this process finishes with exit code `0`:
[code]

### Expected behavior

pylint should have a non-zero return code since a failing issue was matched. However when failing matches occur the behavor is to e

[2021-07-15 19:37] Pierre-Sassoulas commented on #4712
Duplicate of #4296 that you opened yourself and #3363 in which you participated ? If you're interested in the issue you can open a merge request, but opening more issues is not going to make the problem fix itself.

[2021-07-15 19:37] #4712 closed

[2021-07-15 19:49] MarkCBell commented on #4712
So I'm not certain that this is an exact duplicate since this is specifically about the `--fail-on` option, although the root cause is certainly very similar. However I'll submit my merge request to #4296 as you suggested.

[2021-07-16 17:02] thedewpoint commented on #4186
@swight-prc how did you override this to get it working? I'm trying to do the same

[2021-07-16 17:17] Pierre-Sassoulas commented on #4186
You can use pylint 2.9.3 now. Or you Can force the version off astroid to 2.6.0+ but other problems might appear.

[2021-07-17 05:54] fgimian commented on #617
I'm not sure when this happened, but pylint now seems to support lists in message_control.  Here's an excerpt of my pyproject.toml if it helps anyone.

[code]

And yup, I find the defaults in pylint too noisy 😄

[2021-07-17 21:47] #3363 closed

[2021-07-17 21:47] #4296 closed

[2021-07-18 13:11] #4668 closed

[2021-07-18 18:29] Goldziher commented on #4505
Issue is resolved with newest version, 😃. Thanks!

[2021-07-18 18:29] #4505 closed

[2021-07-18 19:23] DudeNr33 commented on #4689
I fixed the check so that the message is only triggered if the created object is not subsequently used in a ``with`` block.
@Pierre-Sassoulas should this be included in 2.9.4 or 2.10?

[2021-07-18 20:01] fluffy-critter commented on #4689
That check wouldn't actually fix the particular issue I'm facing, though. You don't generally do a bare `with executor:` block; either you do something like:

[code]

or you do:

[code]

I also suspect that the close of the `with` will implicitly do a `pool.join()` which is definitely *not* desired in this case.

[2021-07-18 20:08] fluffy-critter commented on #4689
Yep, I just checked: the `__exit__()` calls `join()`, which is definitely not what's intended with the pattern of constructing a persistent ThreadPoolExecutor as a background worker/async task queue and submitting tasks to it.

Just because something declares `__enter__`/`__exit__` doesn't mean that a `with` block is necessarily the correct usage of it. It's uncommon, but ThreadPoolExecutor is a s

[2021-07-19 03:40] l0b0 opened #4715 "False positive "[TypedDict instance] is not callable""
### Steps to reproduce

Given a file `a.py`:
[code]

### Current behavior

Result of `pylint a.py`:
[code]

### Expected behavior

This should not be an error. `TypedDict` is a subclass of `dict`, so line 4 is equivalent to `dict(href="foo")`. The code also runs fine and passes `mypy --strict a.py`.

### pylint --version output

Result of `pylint --version` output:

[code]

[2021-07-19 05:47] 2bndy5 opened #4716 "getting `unnecessary-dict-index-lookup` when deleting an item by value"
I was wondering if I'm doing this wrong. I'm trying to remove a dict item when searching the dict's `items()` to re-assign a certain unique value to a new key.

-------------------------------
### NOTES

1. The dict I'm managing is a private class member and will not have multiple keys with the same value.
2. I'm using pylint v2.9.3 (had the same problem with v2.9.0 previously)

------------------

[2021-07-19 06:26] Pierre-Sassoulas commented on #4716
Thank you for opening the issue, I think it's a false positive.

[2021-07-19 06:28] Pierre-Sassoulas commented on #4689
I think it should go in 2.9.4 (if possible). If we have to wait so @fluffy-critter remarks are taken into account it can go in 2.10.x.

[2021-07-19 06:45] 2bndy5 commented on #4716
I was able to work around this in a separate instance by using dict comprehension.
[code]
But, applying this workaround to the snippet in the OP would be more work than its worth because I'm also re-assigning the previously used value to a new key.

[2021-07-19 11:36] cdce8p commented on #4716
This is a false-positive, `unnecessary-dict-index-lookup` should not be emitted for `del` statements.
I'm able to reproduce the error with this snipped:
[code]

/CC: @yushao2

[2021-07-19 12:56] cdce8p commented on #4715
Thanks for the bug report! I've opened PRs to address the issue.

You can work around it already though by using the "new" syntax instead.
[code]

https://docs.python.org/3/library/typing.html#typing.TypedDict

[2021-07-19 16:08] DudeNr33 commented on #4689
In this case it's probably best to remove ``ThreadPoolExecutor`` and ``ProcessPoolExecutor`` from the list of callables to check.

It seems to me like it is still best practice to call ``shutdown()`` if you use a ``ThreadPoolExecutor`` without a ``with`` statement.
However, if you call it directly you can specify ``wait=False`` if you do not want to wait until all threads are finished. The ``__exi

[2021-07-19 17:21] tanvimoharir commented on #4580
@Pierre-Sassoulas  [section_values](https://github.com/PyCQA/pylint/blob/main/pylint/config/option_manager_mixin.py#L274) reads {"load-plugins": ["a", "b"]} but then we break it down further into [option, value] (https://github.com/PyCQA/pylint/blob/main/pylint/config/option_manager_mixin.py#L281) where it breaks. I went ahead with a check as commented above. (I have raised a draft PR for now)

[2021-07-19 17:58] fluffy-critter commented on #4689
Yeah, it really comes down to the fact that there's different use cases for ThreadPoolExecutor and they have different patterns that make the most sense. Usually when I'm using it, it's for scheduling background tasks on a long-running persistent server process (basically in the same way one would use celery) and so there's never any reason for it to ever exit in the first place.

[2021-07-19 18:02] DudeNr33 commented on #4689
Yes, you are right. Thanks for pointing that out, others would have probably run into the same issue!

[2021-07-19 19:48] #4685 closed

[2021-07-19 19:57] #3525 closed

[2021-07-19 20:02] #3285 closed

[2021-07-19 20:02] #3382 closed

[2021-07-19 20:10] #4715 closed

[2021-07-19 20:48] bpourhamzeh opened #4723 "Latest version of astroid (2.6.3) causes `RuntimeError: generator raised StopIteration`"
### Steps to reproduce

`mycode.py`
[code]
(This is basically from this example: https://github.com/PyCQA/astroid/issues/1090 except I wrapped the with block in a function.)

### Current behavior

[code]

### Expected behavior

No exception raised.

### pylint --version output

Result of `pylint --version` output:

[code]

Additional dependencies:
[code]

There is no issue if I pin to `astroid==2.

[2021-07-19 21:16] l0b0 commented on #4715
You fixed it *and* taught me something new. Thank you so much!

[2021-07-19 21:20] Pierre-Sassoulas opened #4725 "Checker for ``unguarded-next-called`` for ``next`` called without catching ``StopIteration``"
### Is your feature request related to a problem? Please describe

StopIteration exceptions raised directly or indirectly in coroutines
and generators are transformed into RuntimeError exceptions for python
3.7+.

### Additional context

We missed one ``next`` in  astroid when doing https://github.com/PyCQA/astroid/pull/1081 and it resulted in  the avoidable #4723 in astroid ``2.6.3``

[2021-07-19 21:32] #4723 closed

[2021-07-19 21:46] Pierre-Sassoulas commented on #4723
Thank for opening the issue so fast after the release. I missed a next in astroid, it should be fixed in 2.6.4

[2021-07-20 17:02] #4689 closed

[2021-07-20 21:28] gmcluhan opened #4732 "Pylint 2.9.4 failure for 'Subscript' object has no attribute 'attrname'"
### Steps to reproduce
1) Run pylint against the code below

[code]

### Current behavior
Pylint is failing to properly lint this file.

[code]

### Expected behavior

This should pass, it only fails in our Python 3.9 environment. It passes in 3.8.

### pylint --version output

Result of `pylint --version` output:

[code]

[2021-07-20 21:41] cdce8p commented on #4732
I can reproduce it. It's likely caused by #4721. @DudeNr33 would you mind taking a look?

[2021-07-21 01:31] DudeNr33 commented on #4732
Will look at it as soon as possible.

[2021-07-21 06:24] #4732 closed

[2021-07-21 06:44] #4692 closed

[2021-07-21 07:21] #4439 closed

[2021-07-21 10:12] cdce8p commented on #4732
@DudeNr33 Thank you! 🐬

[2021-07-21 11:28] cdce8p opened #4735 "Add Github issue forms"
### Is your feature request related to a problem? Please describe

The current issue template for bug reports can sometimes be quite confusing. Especially since it's not always clear where a comment starts/ends and what someone needs to fill out.

### Describe the solution you'd like

Start using **Github issue forms** to make filing a bug report easier.

### Additional context

https://docs.githu

[2021-07-21 11:52] Pierre-Sassoulas commented on #4735
It looks amazing, thank you for bringing that up.

[2021-07-21 13:21] jolaf opened #4736 "invalid-index-returned false positive in stubs"
The following file:
[code]

produces the following output:

[code]

This looks like a false positive.

[2021-07-21 13:56] jolaf commented on #4693
I've encountered this error too – twice already.

[2021-07-21 20:03] Pierre-Sassoulas commented on #4735
Made a first try here : https://github.com/Pierre-Sassoulas/pylint/issues/new/choose

I think it looks very nice. the only problem is linked to yaml where you can't import so we'll have to duplicate.

I was thinking about making  "Crash", "Bug", "False Positive", "False Negative", "Feature request" and "Question", what do you think ?

[2021-07-21 21:28] cdce8p commented on #4735
Not sure we should really differentiate too much. It doesn't help if we have a nice form but a beginner doesn't know which to choose. We triage them afterwards anyway. Therefore I would suggest to stick to just `Bug`, `Feature request`, and `Question`.

One more thing, with the current template we assume that the issue is caused by multiple files: `Given file a and given file b`. At least from wha

[2021-07-22 09:07] OJFord commented on #4736
Can't speak for the others, but the `__iter__` one seems to be a regression.

[2021-07-22 09:51] jolaf commented on #4736
It looks to me that all the return type checks should not be performed if method body is not defined or the method throws any unconditional exception.

[2021-07-22 10:03] rr- commented on #3791
I believe this is relevant place to patch
`pylint/checkers/variables.py:992`

[code]

[2021-07-22 12:46] jimxzcai opened #4738 "multiple-imports/misplaced-future/wrong-import-order checkers is slow for scan"
## Question
Below checkers are slow for scan。 How to speed up？

multiple-imports
misplaced-future
wrong-import-order

[2021-07-22 19:24] Pierre-Sassoulas commented on #4735
That would permit to apply label automatically and have a template that is more relevant. But I think you're right, there's already a lot with all the link added and not a lot changing from false positive/negative and bug.

[2021-07-22 19:31] #3791 closed

[2021-07-23 09:10] graingert commented on #3732
@Pierre-Sassoulas why was this unpinned?

[2021-07-23 09:10] graingert commented on #3732
this should also not report: `too-many-instance-attributes` for attr.s

[2021-07-23 11:00] stefanistrate commented on #689
I have the same issue with:
[code]

[2021-07-23 16:02] Pierre-Sassoulas commented on #3732
I unpinned it because there was more pressing issues to advertise first (ranked according to number of thumbsup or heart reactions), it does not mean that I would not review a fix for this ;)

[2021-07-24 11:02] LefterisJP opened #4739 "False positive: Tuple is unsuscriptable since pylint 2.9.3"
### Steps to reproduce

Get the `web3==5.21.0` package. Then use this simple script.

[code]

### Current behavior

[code]

### Expected behavior

No error. A tuple is returned and its length is checked.

### pylint --version output

pylint 2.9.5. First appeared in 2.9.3 as per [this](https://github.com/PyCQA/pylint/issues/4694#issuecomment-877593945) comment.

[2021-07-24 15:37] angristan opened #4740 "JSON output: AttributeError: 'dict' object has no attribute 'category' since 3.0.0-a4"
### Steps to reproduce

`fib.py`:

[code]

### Current behavior

On `3.0.0-a4`:

[code]

### Expected behavior

Was working on `3.0.0a3`:

[code]

[2021-07-24 19:13] BenBlumer commented on #1548
Thanks for your work on this @mbyrnepr2 .

Quick question: It looks like the use case described in the first post works, but it doesn't show the "has-a" relationship the same way it would for a class instance defined within.

For example:

Here, where the instance of class B is passed to A's initializer, A's "box" shows it has a member of type B, but doesn't show this graphically.
![image](https:/

[2021-07-24 19:23] ThatXliner commented on #3181
I have
[code]

With Pylint failing with

[code]

[2021-07-24 20:47] angristan opened #4741 "Improve JSON output format with score"
### Is your feature request related to a problem? Please describe

I want to consume this programmatically, but the format make it difficult since the JSON array will contain different types of objects:

[code]

### Describe the solution you'd like

Something like this would be better:

[code]

### Additional context

The score in the JSON output was added in https://github.com/PyCQA/pylint/pull/3

[2021-07-25 07:32] yushao2 commented on #4716
Thanks, assigned myself to look into this

[2021-07-25 07:44] CAM-Gerlach commented on #2296
@rogalski @PCManticore Could you answer this so we can move forward on this issue? If this commit can simply be reverted, or the problem otherwise addressed, this will resolve a major blocker that breaks most non-trivial use of `NewType` with pylint. Thanks!

[2021-07-25 08:55] Pierre-Sassoulas commented on #3181
@ThatXliner this look like a crash, please open another issue as this was relates to documentation.

[2021-07-25 12:50] Pierre-Sassoulas commented on #2296
Hey :) We can't revert the commit directly because there are other changes mixed in it. (Lot of use cases in ``def test_typing_types(self):`` were added for example). But we need to address the problem that it's still possible to use the attribute of the old type when using ``NewType`` so the ``no-member`` on ``upper()`` is a false positive.

[2021-07-25 14:20] finite-state-machine opened #4743 "False positive ``missing-return-doc`` when a function is not supposed to be documented"
Issue #2738 appears to persist on pylint 2.9.5 as well as 3.0.0-a4 (as retrieved using `pip install --upgrade [--pre] pylint` on this date). The merge request for that issue seems to imply this fix should have gone out with pylint 2.7.x.

Has something gone wrong here, or have I misunderstood the merge?

### Steps to reproduce

File to be analyzed:
[code]

rcfile:
[code]

### Current behaviour

[c

[2021-07-25 14:24] finite-state-machine commented on #4743
In case it's helpful to mention them, the author and reviewers of the pull request relating to #2738 are: @komodo472, @Pierre-Sassoulas, and @hippo91.

[2021-07-25 15:01] mbyrnepr2 opened #4744 "pyreverse: has-a relationships for type-hinted arguments"
Thanks for your work on this @mbyrnepr2 .

Quick question: It looks like the use case described in the first post works, but it doesn't show the "has-a" relationship the same way it would for a class instance defined within.

For example:

Here, where the instance of class B is passed to A's initializer, A's "box" shows it has a member of type B, but doesn't show this graphically.
![image](https:/

[2021-07-25 15:03] mbyrnepr2 commented on #1548
Hi @BenBlumer thanks pointing this out. I've created an issue for it from the details in your report above.

[2021-07-25 16:51] ThatXliner commented on #3181
Ok, I was just making sure that I have the configuration set up correct and that it wasn't my fault.

[2021-07-25 16:52] ThatXliner opened #4746 "Pylint crashes"
I have
[code]

With Pylint failing with

[code]

_Originally posted by @ThatXliner in https://github.com/PyCQA/pylint/issues/3181#issuecomment-886100678_

[2021-07-25 16:54] ThatXliner commented on #3181
Nevermind, I just realized it was my mistake. I placed the configuration in the middle of another field 😬

[2021-07-25 17:00] Pierre-Sassoulas commented on #3181
This is not "your fault" as pylint outright crash and is not helpful at all in the error it gives :) We're trying to make this kind error more understandable for toml in #4580 / #4720 , feel free to come make suggestions if you like (and in particular giving the offending code that was crashing in your case would be very helpful) !

[2021-07-25 17:09] ThatXliner commented on #4746
In my case, my Pylint config was in the middle of another config. The red is the Pylint config and the green is the other tool's config:

[code]

[2021-07-25 17:53] #4735 closed

[2021-07-25 19:25] CAM-Gerlach commented on #2296
Thanks, understood—I wasn't necessarily thinking a literal `git revert`, rather a more abstract reversion of the atomic change (vis a vis the at least nominally greater difficulty of developing some new/modified code to handle this). Sorry that wasn't clear! Of course, before we think about that, I imagine it would be best to hear from the author, committer and maintainer, to understand what shoul

[2021-07-25 19:49] Pierre-Sassoulas commented on #2296
I agree with you I think a partial minimal revert (changing test case for NewType that aren't accurate for example) is the way to go. I'm under the impression that ``NewType`` should be behave as if it was a class inheritance and right now it's simply a class def without inheritance. Maybe the fix is simple. PCManticore won't answer this though, he's retired from pylint :)

[2021-07-26 13:22] cdce8p opened #4748 "False-positive `consider-using-with` when returning a file handler"
### Bug description

[code]

### (Configuration)

Using the following configuration:
[code]

### Command used

[code]

### (Expected behavior)

The example above might not be consider good code style, but it's enough to reproduce the issue. If the code is replaced by
[code]
Python will through an exception
[code]

### (Version affected)

[code]

### (OS / Environment)

_No response_

### (Addition

[2021-07-26 13:23] cdce8p commented on #4748
@DudeNr33 Would you mind taking a look at this one?

[2021-07-26 13:45] DudeNr33 commented on #4748
Will do, but I don't really know if this should be considered a false positive, at least with the example you gave.

The intention of this message is to inform the user that he is doing something which shifts the responsibility of freeing the allocated resources to somebody else.
In this case the caller has to make sure he does not forget calling ``close()``, which is actually missing in your exam

[2021-07-26 13:55] cdce8p commented on #4748
The reason I opened the issue is that I almost introduced a bug because of it. I didn't realize at the time that even after a return in a context manager the file is closed. It is pretty similar to
[code]
which does work as expected.

You are right that it shifts the responsibility to the caller, but I think emitting the `false-positive` might cause more issues than not closing the file handler. C

[2021-07-26 15:03] MaybeJustJames opened #4750 "Very slow linting when using the dry-python/returns library"
### Bug description

Given a file `a.py`:

[code]

### Command used

[code]

### Expected behavior

I expect this to lint very quickly (within a second or 3).

### Version affected

[code]

### (OS / Environment)

[code]

### Additional dependencies

Additional dependencies:
[code]

[2021-07-26 15:03] MaybeJustJames commented on #4750
Relevant bug in the returns library: https://github.com/dry-python/returns/issues/792

[2021-07-26 15:08] MaybeJustJames commented on #4750
Output from `cProfile` above:
[test.stats.zip](https://github.com/PyCQA/pylint/files/6879258/test.stats.zip)

[2021-07-26 17:57] DudeNr33 commented on #4748
I understand your concern. Trying to satisfy the linter should ideally not lead to erroneous code, even though this can not always be avoided - I've seen that more than once that fixing linter messages introduced new bugs.

The question is: should we rather
a) think about a clearer description for the check message
b) completely suppress the check when returning context managers
c) leave it as it

[2021-07-26 18:09] DudeNr33 opened #4751 "False positive ``consider-using-with`` in ``if``/``else`` block"
### Bug description

Given a file `a.py`:

[code]

### (Configuration)

_No response_

### Command used

Result of `pylint a.py`:
[code]

### (Expected behavior)

No message ``consider-using-with``, as ``file_handle`` is used in a subsequent ``with`` block.
#4721 implemented changes that already suppress this message for things like:

[code]

So naturally the example code above should also not tri

[2021-07-26 18:40] DudeNr33 commented on #4748
Oh, or option d)

Actually *do* suppress ``consider-using-with`` on return statements, and instead issue a message along the lines of ``consider-using-contextmanager`` - maybe this would be the clearest solution?

[2021-07-26 19:09] wamserma commented on #3045
It might be worth to add that the pylint-issues reported from these minimal examples might be caused by the fixed assignment of None, in which case the type of prop can be inferred as NoneType and hence the warnings are correct.

[code]

does not produce a pylint issue.

[2021-07-26 19:32] CAM-Gerlach commented on #2296
Yep, thanks; that makes perfect sense. What are our next steps here? I'd like to offer to help, but I am completely unfamiliar with pylint's internals (I only contributed some minor docs updates in my role as Spyder/Docs maintainer), and don't want to overbook myself.

Ah sorry, didn't know that. Thanks for the update.

[2021-07-26 20:10] Pierre-Sassoulas commented on #2296
I think @brycepg hint is the right one, so the change should be made in ``brain_typing.py``. I'm no astroid expert but If you want to experiment, open à MR, I'll try to review and help :)

[2021-07-27 06:37] banukk opened #4754 "Parameter decorator inside class - Method should have "self" as first argument (no-self-argument)"
In the below example of decorator inside class has an additional enclosing decorator for parameters, pylint against the signature return **Method should have "self" as first argument (no-self-argument)** where indeed param can not be a instance

[code]

[2021-07-27 06:59] tyralla commented on #4353
@hippo91: Sorry for the late response. Pylint now finishes within a reasonable time limit again on my local computer (Pylint 2.9.5, Astroid 2.6.5, Python  3.8.5, Windows). Unfortunately, I cannot check it on Travis-CI (Python 3.6) anymore - no more free open source support.

Thank you very much for your effort!

[2021-07-27 06:59] #4353 closed

[2021-07-27 09:44] stanislavlevin opened #4755 "new unused-private-member causes a crash"
### Bug description

Given a file `test.py`:

[code]

### (Configuration)

_No response_

### Command used

Result of `pylint test.py`:
[code]

### (Expected behavior)

pylint shouldn't crash.

### (Version affected)

[code]

### (OS / Environment)

ALTLinux

### (Additional dependencies)

_No response_

[2021-07-27 09:51] stanislavlevin commented on #4755
traceback for today's `main`:
[code]

[2021-07-27 10:06] stanislavlevin commented on #4755
IMO, non-current node's private attributes should be skipped.

[2021-07-27 10:25] Pierre-Sassoulas commented on #4754
I don't understand this issue, could you open another one and follow the template for "bug report" please ?

[2021-07-27 10:25] #4754 closed

[2021-07-27 13:46] stanislavlevin opened #4756 "[unused-private-member] false positive for property()"
### Bug description

Given a file `a.py`:

[code]

### (Configuration)

Using the following configuration:
[code]

### Command used

Result of `pylint a.py`:
[code]

### (Expected behavior)

There should be no errors.

### (Version affected)

[code]

### (OS / Environment)

ALTLinux

### (Additional dependencies)

_No response_

[2021-07-27 14:23] stanislavlevin opened #4757 "[RFE] warn about unused Pylint disablings"
### Current problem

The project which actively uses Pylint can contain many disabling of Pylint checkers via the code comments:
http://pylint.pycqa.org/en/latest/user_guide/message-control.html
- this can significantly litter a code with tons of comments (Pylint, flake, mypy, etc., individually or all together)
- this can hide actual code errors
- slows down Pylint analysis

### Desired solution

[2021-07-27 18:38] Pierre-Sassoulas commented on #4757
This already exists you need ``enable=useless-supression`` in the configuration. Maybe it should become a default or be more visible in the documentation, what do you think ?

[2021-07-27 20:59] Pierre-Sassoulas opened #4759 "Add Mac OS tests to Github Action"
### Current problem

The tests suite is not run on Mac so the tests are failing locally for mac developpers.

### Desired solution

Run Mac tests in Github Actions.

### Additional context

See discussion in https://github.com/PyCQA/pylint/pull/4753#issuecomment-887819516

[2021-07-27 22:44] cdce8p commented on #4748
I would like that!

[2021-07-27 22:50] cdce8p commented on #4759
The test suite might not be run, but that doesn't mean the tests are failing.
Just run `pytest tests/test_functional.py` on `main` and everything was fine (macOS Catalina)

[2021-07-28 00:00] nth10sd opened #4760 "range-builtin-not-iterating false positive when used with secrets"
### Bug description

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I'd presume that `range-builtin-not-iterating` is not triggered, because the `choice` function in `secrets` accept sequences, which is a type of iterator.

See #2731.

### Pylint version

[code]

### OS / Environment

[code]
(on WSL2)

[2021-07-28 09:00] DanielNoord commented on #4759
I reported this as running the test suite on my local machine produced different errors than those reported by the GitHub actions.

I have added the report. Perhaps this is due to something I messed up in my local environment, but I did not fully understand why these errors were only thrown on my local machine.

[code]

[2021-07-28 12:33] gcolombeau opened #4761 "False negative `used-before-assignment` when variable is only defined in `except` clause"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Pylint should report `used-before-assignment` on lines 10 and 13.

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2021-07-28 13:06] DanielNoord opened #4762 "Remove classes.dot after running test suite has finished"
### Bug description

The testing of `run_pyreverse` in `tests/test_pylint_runners.py` creates a `classes.dot` document during testing. Although it only takes a little effort to remove this document after the test suite is done, it would be good if it was automatically removed afterwards.

Something as simple as checking for `getattr(runner, "__name__") == "run_pyreverse")` on line 19 and then `os.

[2021-07-28 14:03] zhiltsov-max commented on #1976
The same thing for
[code]

[2021-07-28 14:38] stanislavlevin opened #4763 "[``unused-private-member``] False positives for ``cls`` used in ``__new__`` and in ``__get__``"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

There should be no error.

### Pylint version

[code]

### OS / Environment

ALTLinux

### Additional dependencies

_No response_

[2021-07-28 16:22] cdce8p commented on #1162
The specific issue will be addressed by #4764. However, I'll leave this issue open as the PR doesn't implement control-flow logic.

[2021-07-28 16:47] cdce8p commented on #4763
This looks like a potential duplicate of #4681

[2021-07-28 16:56] cdce8p commented on #4759
Can you run these two commands and check if anything changes?
[code]
[code]

--
You could also try the manual route:
1. Create a virtual environment and activate it
[code]
2. Install all requirements
[code]
3. Run `pytest`
[code]

[2021-07-28 17:12] Pierre-Sassoulas commented on #4762
I agree, this has been slightly annoying me from some time.

[2021-07-28 17:45] DanielNoord commented on #4762
Should I create a PR as suggested in the OP? Or do you have another solution in mind?

[2021-07-28 18:17] Pierre-Sassoulas commented on #4762
I'd be glad if you open a PR for this :) I think we could use the pytest ``tmp_path`` fixture as removing it at the end of the test does not work if the tests fail or add a lot of boilerplate.

[2021-07-28 18:17] DanielNoord commented on #4759
Manual route still gives me the same failed tests..

Perhaps it has something to do with my local python installation, but I wouldn't know why.
Could it be that I linked `python` to my python 3.9 installation instead of the standard python 2.7?

[2021-07-28 18:27] DudeNr33 commented on #4759
I also have this issue on MacOS 11.4 BigSur, and they only occur with Python 3.9.

Python 3.8 works fine.
These errors have in common, that they:
* are reported for modules of the standard library
* the modules in question are no plain Python modules, but written in C.

[2021-07-28 18:28] cdce8p commented on #4759
Quite strange. I have no issues with Python 3.7 through 3.10
Used the installer from python.org

[2021-07-28 18:29] DanielNoord commented on #4759
Might it be something with Big Sur? In your earlier comment you mentioned you were using Catalina.
Perhaps something changed with the naming of modules in Big Sur?

[2021-07-28 18:34] DudeNr33 commented on #4748
You can assign this issue to me if you like. :)

[2021-07-28 18:42] DudeNr33 commented on #4759
Another possibility would be the architecture, as I am running an M1 with arm64. At least the [Downloads page on python.org](https://www.python.org/downloads/release/python-396/) has two separate installers (Intel and universal2).
However, the Python 3.8 installer is also already available for M1.

[2021-07-28 18:49] Pierre-Sassoulas commented on #4759
Maybe we need to change those options in the pylintrc ?
[code]

[2021-07-28 18:53] DudeNr33 commented on #4759
As this currently only happens with some yet to determine specific combinations of Python version / architecture / OS I would say no - I don't think it is ``pylint``'s (or ``astroid``'s) fault.
Or even if it is, we should try to fix it instead just suppressing it.

[2021-07-28 19:11] #4120 closed

[2021-07-28 19:26] DudeNr33 commented on #4759
OK, I just dug a little deeper.

The versions installed with ``pyenv`` work fine, regardless of the Python version (tested 3.8.10, 3.9.5, 3.9.6).
The Python version I used before I switched to Pylint (Python 3.9.6 installed via ``homebrew``) does have the problem.

I do not know if ``homebrew`` installs Python via a ``.pkg`` or from source.
At least ``pyenv`` definitely builds from source.

[2021-07-28 19:40] #4762 closed

[2021-07-28 19:45] #3057 closed

[2021-07-28 20:02] #3878 closed

[2021-07-28 20:15] #1990 closed

[2021-07-28 20:15] #4168 closed

[2021-07-28 20:19] ntjess commented on #4736
Is this related to https://github.com/microsoft/vscode-python/issues/16807, or should I open a new issue here for that problem?

[2021-07-28 20:27] #4118 closed

[2021-07-28 20:29] Pierre-Sassoulas commented on #4736
@ntjess it look like it's related.

[2021-07-29 10:28] g1itch commented on #3732
What about context managers? May pylint detect them by `__enter__()` and `__exit__()` methods defined?

[2021-07-29 15:17] swight-prc commented on #4186
Sorry I missed this; To override it, I just installed the newer version with pip. That probably wouldn't work in a pipeline, but my current project doesn't have any CD going on, so that wasn't an issue for me yet.

[2021-07-29 15:20] stanislavlevin opened #4772 "[raising-bad-type] false negative if raised before"
### Bug description

[code]
Note: the error depends on the presence of any statement in the body of `handle_exception` before the raise (for example, no error if remove `print`)

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

There should be no error.

### Pylint version

[code]

### OS / Environment

ALTLinux Sisyphus

### Additional

[2021-07-29 15:40] stanislavlevin commented on #4772
Another example with the same result (a.py):
[code]

optparse.py:
[code]

[2021-07-29 15:44] Pierre-Sassoulas commented on #4772
I think you should do `self.handle_exception()` instead of `raise self.handle_exception()`, same thing for `parser.error()`.

[2021-07-29 15:48] stanislavlevin commented on #4772
IMO, It's OK case.
Please see details about motivation:
https://github.com/freeipa/freeipa/commit/f60b2c590684c8ffc2c6ce2efa7a99f0193f42a1

[2021-07-29 15:58] Pierre-Sassoulas commented on #4772
I'm nitpicking but the pylint warning is true, it's just that there is always an exception raised before reaching the problem.

I think it's true, but as pylint do not have real control flow "checking that a function always raise" is not trivial for us.

[2021-07-29 18:01] stanislavlevin commented on #4757
Note: double `p` in the name (`useless-suppression`) ;-)
It seems that this is exactly what I want. Unfortunately, I didn't find any docs on this.

[2021-07-29 18:29] Pierre-Sassoulas commented on #4757
Thanks for the correction :) Where would you expect to find it ? Or alternativelent I think we could make this one a default message as it permits to really clean code when upgrading pylint.

[2021-07-29 19:55] DanielNoord opened #4774 "Add checker for comparing for equality to empty literal"
### Current problem

_Originally posted by @cdce8p in https://github.com/PyCQA/pylint/pull/4769#discussion_r679096534_

Best not to check for equality by comparing it to an empty literal.
(This should probably be a pylint check as well.)

### Desired solution

[code]

### Additional context

_No response_

[2021-07-29 19:59] cdce8p commented on #4774
I already though of a way to implement it, but couldn't yet think of a good name or description. If anyone once to take a stab at it, this here should work:
[code]

[2021-07-29 20:04] DanielNoord commented on #4774
Perhaps `no-empty-literal-comparison`?
And what kind of message would this be? Does this have a performance effect? Or is it just code style?

[2021-07-29 20:11] cdce8p commented on #4774
Sounds like a start. I'm not good at naming things though 😅
@Pierre-Sassoulas Do you have a good idea?

Maybe a small performance effect and a bit code style. So probably a `refactoring` checker.

[2021-07-29 21:15] Pierre-Sassoulas commented on #4774
Maybe ``use-implicit-booleanness`` or ``empty-litteral-as-condition`` (based on the name of ``len-as-condition`` which is similar) ? This checker is prone to false positive because for numpy/pandas array the boolean value of an array is ambiguous. Ie you need to do ``not test_list.size`` or use ``all`` or ``any``. Arguably ``test_list == []`` could be considered better in that case (?). So I think

[2021-07-29 21:24] #4365 closed

[2021-07-29 21:44] #3692 closed

[2021-07-30 00:11] rublag opened #4775 "Crash with relative import in from statement"
### Bug description

File test.py
[code]
It seems like this commit introduced the bug:
https://github.com/PyCQA/pylint/commit/0f8212f43c60b41438a5485faec6cbec143f57c1#diff-7d982c7ee8d920542a08ef8e7a73fddf8929599d2c13507a7b3b6bf2a4371b6fR112

### Command used

[code]

### Pylint output
[code]

### Expected behavior

No crash

### Pylint version

[code]

[2021-07-30 07:23] samueltardieu opened #4776 "False positive ``consider-using-tuple`` for ``x in set``, because frozen sets are faster"
### Bug description

The change introduced in #4768 is unwarranted.

Considering the following code:

[code]

it suggests to use a tuple in both cases:

[code]

While the second suggestion is right (in-place sets should not be used for iterating over their content), the first one (added in #4768) is a very bad advice. In the case of a membership lookup a set is faster, compiled as a `frozenset` by

[2021-07-30 07:36] Pierre-Sassoulas commented on #4774
I've been thinking: we could rename `len-as-condition` to `use-implicit-booleanness` and add the comparison to empty literal to the checker.

[2021-07-30 07:40] Pierre-Sassoulas commented on #4776
Hey thank you for opening the issue. Do you have a source for the performance comparison between the two ?

[2021-07-30 07:52] samueltardieu commented on #4776
[code]

Using tuples (or lists for that matter) instead of sets require that comparisons are done sequentially until the member is found or the tuple. Also, using tuples or lists requires placing the expected-most-often-found elements first as they will be compared first, while in a set a hash comparison will find the matching element (or the absence of the key) in few operations.

Also, as is doc

[2021-07-30 07:59] samueltardieu commented on #4776
Note that a set lookup is amortized O(1) while tuple or list lookup is O(n). However, when n is small of course it makes no sense to compare costs this way, and this is not what I'm doing in the comment above. Python set objects (and particularly frozenset objects) are optimized for this particular use case including for small collections with very few objects.

Also, I've seen many code fragments

[2021-07-30 09:41] cdce8p commented on #4776
As I have explained [here](https://github.com/home-assistant/core/pull/53686#issuecomment-889414481) before, the main reason for this change wasn't performance, but rather code style. That's also why I added it to the optional **CodeStyleExtension**. As it says in the [documentation](http://pylint.pycqa.org/en/latest/technical_reference/extensions.html#code-style-checker-documentation)

The main g

[2021-07-30 09:45] samueltardieu commented on #4776
That's where our opinions differ I guess. I do not think it is ok to suggest bad practices to a user, especially a beginner, just for the sake of "code consistency". Someone using a set for a membership test is doing nothing wrong and is using the right tool, I would not understand why we would actively suggest using something inferior.

[2021-07-30 09:47] cdce8p commented on #4776
As I explained, it isn't inferior. You only considered the performance aspect, which isn't the whole picture in this case.

[2021-07-30 09:48] samueltardieu commented on #4776
Also you write

This is easy to check:

[code]

[2021-07-30 09:51] cdce8p commented on #4776
I didn't question that behavior. But consider the following, not everyone knows about it.
Just from looking at `s in {"a", "b", "c"}` someone might not realize that it's converted to a `frozenset`.

[2021-07-30 09:55] samueltardieu commented on #4776
This is wrong, the performance aspects bother me less than the bad practices ones: one should not actively suggest using sequential scanning for membership tests. This is CS 101. Even the official Python tutorial for set (https://docs.python.org/3/tutorial/datastructures.html) presents the membership test as "fast membership testing", i.e. the right tool for this.

I'm not asking for the reverse s

[2021-07-30 09:57] samueltardieu commented on #4776
The fact that it is a `frozenset` rather than a `set` is an implementation detail, as lookups in a `set` would be as efficient. The important thing is that it is compiled as a set at compilation time, this is what makes the performances good.

If small sets were built at execution time each time a membership tests was done, I would totally agree with you that tuples would be better, but this is no

[2021-07-30 09:59] samueltardieu commented on #4776
By the way, sorry if I sound passionate about the issue, but with my CS teacher hat on I would hate to see my students change their code from a static set membership test to a tuple one, and it would affect their grade negatively if they had done so without a good justification for using a sequentially scanning tool instead of a hashing one.

[2021-07-30 10:49] stanislavlevin commented on #4757
In my opinion, as a default checker for relatively new projects it will be useful, but for old ones, this may be cumbersome at the very first time.
For example, in freeipa case:
[code]
though all of the occurrences will be fixed.

Probably, I would search for such functionality in
http://pylint.pycqa.org/en/latest/user_guide/message-control.html

[2021-07-30 11:04] cdce8p commented on #4776
Thank you @samueltardieu for the discussion about this topic.

I took some time to think about it more and looked at some more code. As it turns out Python is better optimized than I was aware of (although I should probably have expected as much). That made me question if the whole `consider-using-tuple` check is at all worth it.

[code]
As you can see from the example above, even lists are intern

[2021-07-30 11:30] samueltardieu commented on #4776
Indeed, Python prefers to build read-only versions (`frozenset` for a `set` and `tuple` for a `list`) when it can determine at compilation time that the object will not be modified. This gives a slight performance advantage in cpython in the case `list` vs `tuple` as the tuple is read-only and the interpreter does not need to temporarily increment the reference count of the element it is consideri

[2021-07-30 13:05] scop commented on #4776
Just a quick note, if data structures get compiled to other, optimized ones (such as lists to tuples and sets to frozensets like they are shown to be here), but nothing _documents_ such behavior and that it's going to stay, then relying on it would be relying on internal implementation/optimization detail which might or might not hold between Python versions and Python implementations (cpython, py

[2021-07-30 15:34] stanislavlevin commented on #872
The issue is still here.

[2021-07-30 16:20] quentin-ag commented on #1364
It seems that the environment variable `PYLINTRC` could be used to set the path to the configuration variable.
Relevant code [here](https://github.com/PyCQA/pylint/blob/5e5f48d05fb6f1322a7420d6ea7586966b08f80a/pylint/config/find_default_config_files.py#L55), documented [there](https://github.com/PyCQA/pylint/blob/main/pylint/config/__init__.py#L125).

I have not tested this, but the following shou

[2021-07-30 18:17] Pierre-Sassoulas commented on #1364
The default for PYLINTHOME will change in 2.10, see https://github.com/PyCQA/pylint/pull/4661

[2021-07-30 18:21] #4744 closed

[2021-07-30 18:40] Pierre-Sassoulas commented on #4776
The way I understand, it sets are better performance wise for membership and worst for iterating, while list/tuple are equivalent. Let's not bother pylint's user for something that is equivalent and focus on the set vs list/tuple.

How about we remove the current ``consider-using-tuple`` as @cdce8p suggested because it seem really opinionated considering what python does under the hood, and replac

[2021-07-30 22:32] timmartin commented on #4643
I had a quick look at this, and it looks to me like it's related to the way `Form` is implemented:

    class Form(with_metaclass(FormMeta, BaseForm)):
        ...

where `with_metaclass` is a Python 2 compatibility feature. The problem seems to go away in wtforms 3.0, which apparently drops Python 2 compatibility.

I see that Astroid already has brain code for `six.with_metaclass`, and I think wt

[2021-07-31 06:40] scop commented on #4776
I've seen literal sets used for iterating a bunch of times. IIRC all of them have been inadvertent, and some of them sources of actual bugs due to the unstable order, such as https://github.com/pre-commit/pre-commit/pull/1117. So in my experience something flagging those is most welcome. Not sure which of the choices represent this wish of having _some_ way to check it best, but I'm placing it on

[2021-07-31 08:22] scop opened #4778 "--list-msgs and --list-msgs-enabled output different sets of messages"
### Bug description

[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No difference, same (complete) set of message ids output from both.

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2021-07-31 08:36] Pierre-Sassoulas commented on #4778
The fix should be a refactor so we use the same list for both, which is not the case currently, one is handled in ``MessageStore``, the other in ``Pylinter``. (I don't think simply "fixing it" is enough)

[2021-07-31 09:42] #4757 closed

[2021-07-31 11:55] Py-GNU-Unix commented on #3975
I agree with the need to ignore `super-init-not-called` if the super init raises `NotImplementedError`. That's a important feature, but no one fixed this in a long time. I tried to fix this by myself, but that's the first time that i look into pylint code and i failed. I hope that someone will fix this...

[2021-07-31 11:59] Py-GNU-Unix commented on #3975
might someone add an high priority tag to this issue? This is nearly a bug.

[2021-07-31 17:38] paper42 opened #4780 "unittest_lint.py fails with IsADirectoryError"
### Bug description

https://github.com/PyCQA/pylint/blob/main/tests/lint/unittest_lint.py#L638
[code]

This test fails with IsADirectoryError, because pylintd is a directory. It can be fixed by replacing os.remove with rmtree.

### Command used

[code]

### Pylint output

[code]

### Expected behavior

tests pass

### Pylint version

[code]

### OS / Environment

Void Linux

[2021-07-31 17:47] Pierre-Sassoulas commented on #3975
Hi @Py-GNU-Unix The high priority tag is for issue that have more than 10 thumbsup/heart reactions, but we're reviewing every contribution. If you want to contribute to this issue, it's going to get merged before high priority issues that do not get any attention.

[2021-07-31 17:51] Pierre-Sassoulas commented on #4780
Thank you for the report @paper42 , would you like to contribute the fix as you already analyzed the problem ? :)

[2021-07-31 20:20] paper42 commented on #4780
sure, #4781

[2021-08-01 06:14] #4780 closed

[2021-08-01 11:00] cdce8p commented on #4776
Certainly an argument in favor of adding / keeping the check for iterations.

Maybe we should split this into two separate checks. One `use-sequence-for-iterating`, and another `consider-using-tuple` if a list is used for in-place iterations. That way projects could choose if they want to enforce `tuples` but independently still keep a check to make sure no in-place `sets` are used there.

I menti

[2021-08-01 11:42] yushao2 commented on #4681
@cdce8p

picking this up after a hiatus, see #4782

[2021-08-01 12:00] cdce8p commented on #4681
I'll be sure to take a look!

[2021-08-01 12:07] yushao2 commented on #4755
hi, looked into it and came up with a PR :) please take a look

[2021-08-01 12:13] #4673 closed

[2021-08-01 12:27] yushao2 commented on #4756
looking into this, thanks for the report!

[2021-08-01 17:26] DanielNoord commented on #4759
This became a real issue when working on #4784.

To test my implementation I copied the code to my local pylint installation. This worked and all messages showed up correctly.
However, when using the testsuite to test the fix some messages did not show up. After some frustrating 30 minutes of trying to find the problem I tried to see if the CI would give me the same problems. Just like with the er

[2021-08-01 17:36] DudeNr33 commented on #4759
How did you install your Python version?
For me using a venv created with ``pyenv`` worked fine, which compiles Python from source.
Maybe this could be a workaround until someone finds a permanent solution.

[2021-08-01 18:14] DanielNoord commented on #4759
Currently I'm using HomeBrew.

Going to look into `pyenv` in the meantime, thanks!

[2021-08-01 18:33] Pierre-Sassoulas commented on #4776
That make sense, I like that.

[2021-08-01 19:48] #4755 closed

[2021-08-01 22:13] DanielNoord commented on #4739
I checked this for a little bit and it seems astroid thinks `decoded_method` is a generator. With my current (limited) knowledge I found no way to tell what the result of said generator was and if it would always be a tuple.

This might be something that needs to be fixed in `astroid` instead of `pylint` but I'm not sure. `pylint` 2.9.3 got released around the time `astroid` 2.6.2 was released, al

[2021-08-02 07:19] #3711 closed

[2021-08-02 07:23] Pierre-Sassoulas commented on #4739
By the look of it it look like we could git bisect the problem in astroid to pinpoint the commit that caused this.

[2021-08-02 10:54] stanislavlevin commented on #4755
The fix is verified. Thank you! (fixed + no regressions were found)

[2021-08-02 10:56] stanislavlevin commented on #4757
Great! Thank you!

[2021-08-02 11:20] stanislavlevin commented on #4681
The second example in this issue hasn't been fixed with the mentioned PR (today's main).
[code]

[2021-08-02 11:21] stanislavlevin commented on #4681
[code]

[2021-08-02 14:01] DanielNoord commented on #4102
You can assign this to me. However, I would like to have #4787 first because I would include it in the `visit_const` function add on line 903 there.

[2021-08-02 14:22] DanielNoord commented on #2491
@Pierre-Sassoulas I was checking for issues involving f-strings and found this. I can't reproduce the issues here. The examples only create a `unnecessary-comprehension` message but the `undefined-variable` message seems to be gone.
You might want to check for yourself, but I think this can be closed.

<img width="1037" alt="Schermafbeelding 2021-08-02 om 16 22 13" src="https://user-images.githubu

[2021-08-02 14:26] DanielNoord commented on #3857
@Pierre-Sassoulas Similar to the other message: while looking for f-string issues I found this. Screenshot shows that I can't reproduce this locally with the latest version of pylint.

<img width="1044" alt="Schermafbeelding 2021-08-02 om 16 25 11" src="https://user-images.githubusercontent.com/13665637/127877056-ef6468b1-71cf-40ef-9cbb-3a1ac2894570.png">

[2021-08-02 14:50] DanielNoord commented on #4778
I investigated and this is due to `list_messages` checking for `message.may_be_emitted()` on line 78 in `pylint/message/message_definition_store.py`.
So, messages that cannot be emitted for you Python version are not shown in this list. Do we want to change this, thus showing all messages?

[2021-08-02 15:02] Pierre-Sassoulas commented on #3857
Thank you for helping me clean up, this is the most thankless aspect of being a maintainer (especially with 700+ open issues).

[2021-08-02 15:03] Pierre-Sassoulas commented on #2491
Thank you @DanielNoord !

[2021-08-02 15:03] #2491 closed

[2021-08-02 16:33] DanielNoord commented on #476
@Pierre-Sassoulas Can't reproduce on my machine, probably possible to close this!

[2021-08-02 16:54] #476 closed

[2021-08-02 16:57] Pierre-Sassoulas commented on #4778
Well, now that you say it, the fix seems to be a better documentation of what list-msgs-enabled is doing compared to list-msg.  It seems to me that this is working as intended, if the message cannot be emitted for this python interpreter it's not "enabled". What do you think @scop ?

[2021-08-02 17:18] yushao2 commented on #4681
@stanislavlevin hey thanks, I'll try it out and investigate

[2021-08-02 18:09] bersbersbers opened #4788 "Type annotation ignored in `StarDist2D`"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error.

### Pylint version

[code]

### OS / Environment

Windows 10

### Additional dependencies

stardist==0.7.2

[2021-08-02 20:00] ITProKyle opened #4790 "false positive super-init-not-called for subclasses of typing.Protocol"
### Bug description

Given the example code below, both `MyProtocol.__init__()` and `ExplicitProtocolImplimentation.__init__()` are being flagged with `super-init-not-called`.

[code]
The results are the same with/without using `@abstractmethod`
and/or replacing `typing.Protocol` with `typing_extensions.Protocol`.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[cod

[2021-08-02 21:41] scop commented on #4778
I do find the described behavior surprising. The way I'd personally like to see the options behave would be to make `--list-msgs` list everything, no matter if it can be emitted/not, and a new section in `--list-msgs-enabled` that lists non-emittable messages instead of bundling them in the list of disabled ones. But if that's not feasible/desirable, documenting the behavior would be the next best

[2021-08-03 08:00] Pierre-Sassoulas commented on #4778
Yes the name is not clear in itself. ``--list-emittable-messages`` and `--list-messages`` seems more appropriate ? Renaming it is possible too, it would simply be a breaking change for 3.0.

[2021-08-03 12:38] DanielNoord opened #4792 "Make ``superfluous-parens`` consider string combinations"
### Current problem

Although #4784 fixes some problems with ``superfluous-parens`` it still does not consider the following cases:
[code]

This is because the current checker focuses on unnecessary parens after keywords (`if`, `else`, etc.) and only if the `(` immediately follows the keyword. See
[code]
on line `373` in `format.py` and the fact that we only run when Keywords are present.

Ideally

[2021-08-03 14:10] #2818 closed

[2021-08-03 14:10] #3608 closed

[2021-08-03 14:10] #4346 closed

[2021-08-03 14:42] DanielNoord commented on #3249
@Pierre-Sassoulas For some reason this did not auto-close. I think #4792 has all test cases not covered by #4784, so I think this can be closed?

[2021-08-03 18:39] Pierre-Sassoulas commented on #3249
Closing because it's been fixed in https://github.com/PyCQA/pylint/pull/4784

[2021-08-03 18:39] #3249 closed

[2021-08-03 19:41] #626 closed

[2021-08-03 20:05] #4778 closed

[2021-08-03 20:39] Pierre-Sassoulas opened #4795 "Discussion around a proper implementation of control-flow in pylint"
### Current problem

The main limitation regarding control flow is the fact that the variable checkers rely on ``NamesConsumer``'s to_consume/consumed states, and these are updated "all-or-nothing" per variable, with additional special-case checks here and there. To give a simpler example, pylint doesn't report any error on:

[code]

### Desired solution

I don't know the history of the Variables

[2021-08-04 07:27] yangkenneth commented on #4775
Running into the same issue, last working version was 2.9.3 on my end.

[2021-08-04 09:13] DanielNoord commented on #3802
This is still an issue. Have the readthedocs maintainers been updated? And if so, can this be fixed?

[2021-08-04 12:54] nodeg opened #4798 "False positives in socket library"
### Bug description

Pylint complains about non existent members in the socket library of Python, although they exist according to the [docu](https://docs.python.org/3.8/library/socket.html).

Sample code:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Pylint should pass without error.

### Pylint version

[code]

### OS / Envi

[2021-08-04 15:39] RoniGurvich opened #4799 "pylint ignoring the disable comment in some cases"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no issues found because it is suppressed

### Pylint version

[code]

### OS / Environment

macOS

### Additional dependencies

_No response_

[2021-08-04 17:32] Pierre-Sassoulas commented on #3898
Duplicate of #872

[2021-08-04 17:32] #3898 closed

[2021-08-04 17:33] Pierre-Sassoulas commented on #4799
Duplicate of #872

[2021-08-04 17:33] #4799 closed

[2021-08-04 17:34] Pierre-Sassoulas commented on #872
See https://github.com/PyCQA/pylint/issues/3898#issuecomment-755332618 if you want to fix this:

[2021-08-04 17:37] Pierre-Sassoulas commented on #872
The following work, this is why this bug is a minor one :
[code]

[2021-08-04 17:43] Pierre-Sassoulas commented on #2452
The bug is a duplicate of #872, the documentation need to be done though.

[code]
Would work here.

[2021-08-04 18:17] Pierre-Sassoulas commented on #4798
I don't have any problem with the latest pylint, what happen if you use 2.9.6 or the latest master ?

[2021-08-04 18:35] #4042 closed

[2021-08-04 18:37] #2452 closed

[2021-08-04 21:12] DanielNoord opened #4802 "Make pylint consider `disable params` when checking for line length"
### Current problem

As discussed in #1682 `pylint` currently does not consider the length of the disable params when checking for line length.
For example, when max-length is set to 80 the following code would not raise a `line-too-long` warning.
[code]
According to the issue, this is due to:
https://github.com/PyCQA/pylint/blob/14da5ce258d3818037304a6e0f61aba1462e251d/pylint/checkers/format.py#L

[2021-08-05 03:45] Pierre-Sassoulas commented on #4802
Wow, I did not understand that the current behavior was to exclude the length of the comment. You're right to have insisted ! Clearly in my mind the default should be to take the real length of the line into account. We could maybe suggest to put the comment on the line above if it's the comment that is causing the problem (and to use ``disable-next`` if it's a pylint comment). Might be an issue w

[2021-08-05 04:59] #1682 closed

[2021-08-05 04:59] Pierre-Sassoulas commented on #1682
Follow up for taking disable-param in the line length into account is here: #4802

[2021-08-05 05:38] DanielNoord commented on #4802
Hmm perhaps, but for those cases users will already have disabled `line-too-long`.
I think we can change the default behaviour and suggest to start using `disable-next`. Perhaps another maintainer wants to have a say about this?

[2021-08-05 05:47] Pierre-Sassoulas commented on #4802
The issue I was seeing is if pylint is suggesting to move a noqa from flake8 to the line above when it's in fact impossible. Maybe we don't need to handle that use case.

@cdce8p do you have an opinion ?

[2021-08-05 06:37] nodeg commented on #4798
I updated pylint with pipx and still got the same issue:

[code]

The master branch did not work for me either:

[code]

Any suggestions?

[2021-08-05 08:56] Pierre-Sassoulas commented on #4798
Could you provide your list of dependencies ? Or if you don't have one the result of `pip freeze` ? :)

[2021-08-05 10:44] nodeg commented on #4798
I installed `pylint` via pipx and not via pip.
[code]

[2021-08-05 12:11] rominf opened #4803 "False positive unpacking-non-sequence on classmethod + property"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No output, it's allowed in Python 3.9: https://docs.python.org/3/library/functions.html#classmethod

### Pylint version

[code]

### OS / Environment

Fedora 33

### Additional dependencies

_No response_

[2021-08-05 15:59] Pierre-Sassoulas commented on #4391
This fix is high effort as it require to modify control flow in astroid, please refer to [this](https://github.com/PyCQA/pylint/pull/4791#discussion_r681929788) if you want to tackle it :)

[2021-08-05 17:55] DanielNoord commented on #3222
@Pierre-Sassoulas I can't reproduce. Probably due to issues in `isort`. You might want to check for yourself and then possibly close this.

[2021-08-05 18:01] DanielNoord commented on #3087
I think we should be able to solve this bug, however, wouldn't it be better to pass the global variable to the function and re-assign the functions output to the variable? I don't think modifying global variables is recommended.
Therefore, I would suggest changing the code that is currently throwing this error to start throwing a `function-modifying-global-variable` (name could be improved..) mess

[2021-08-05 18:04] DanielNoord commented on #4774
Probably should also implement #3031 when working on this issue.

[2021-08-05 18:06] Pierre-Sassoulas commented on #3222
Thank you ! It's a problem with isort configuration imho (we're using isort internally), Might have to set ``known_third_parties`` to fix this. I'm going to close.

[2021-08-05 18:06] #3222 closed

[2021-08-05 18:10] DanielNoord commented on #2831
@Pierre-Sassoulas Can't reproduce. Might have been fixed!

[2021-08-05 18:22] DanielNoord commented on #3665
@Pierre-Sassoulas I cannot reproduce this. Might have been fixed!

[2021-08-05 18:23] DanielNoord commented on #2617
@Pierre-Sassoulas I cannot reproduce this. Might have been fixed!

[2021-08-05 18:28] Pierre-Sassoulas commented on #2617
Closing as the issue is pointing to code that evolved since and it has a duplicate.

[2021-08-05 18:28] #2617 closed

[2021-08-05 18:28] DanielNoord commented on #2571
@Pierre-Sassoulas Can't reproduce this anymore!

[2021-08-05 18:28] #3665 closed

[2021-08-05 18:29] #2571 closed

[2021-08-05 18:31] #2831 closed

[2021-08-05 18:31] Pierre-Sassoulas commented on #2831
Thank you, for all the work on triaging issues, I appreciate that @DanielNoord

[2021-08-05 21:13] DanielNoord opened #4805 "Update Coveralls to use `main` branch as standard branch"
### Current problem

Currently `pylint` on Coveralls uses the `master` branch as standard branch.
See: https://coveralls.io/github/PyCQA/pylint
This should probably be updated to `main`, as this is now the standard branch and `master` has been removed.

### Desired solution

/

### Additional context

_No response_

[2021-08-05 21:55] RaenonX commented on #4792
Not sure if this is exactly the same as the thing mentioned above, so I am leaving it here first instead of creating a new issue.

The following code still produces `superfluous-parens` false-positive.

[code]

Here's the error message:
[code]

Versions:
[code]

----------

### Syntax Reasoning

I can't use

[code]

instead of

[code]

because the first one only works if `dummy_func()` is returnin

[2021-08-05 22:14] Pierre-Sassoulas commented on #4805
Thank you for opening the issue, we had to sync to github in the settings.

[2021-08-05 22:14] #4805 closed

[2021-08-06 00:05] Sam152 commented on #4740
I've checked this out, it looks like this is caused by the score being included in the list of messages that are being dumped:

[code]

[2021-08-06 00:07] Sam152 opened #4806 "Display raw score in JSON report"
### Current problem

In `3.0.0a4`, it's possible to see the score in the JSON report, however it's formatted as a human readable string.

### Desired solution

Allow the JSON report to include a float of the raw score out of 10 and potentially an extra human readable version too. Maybe something like:

[code]

### Additional context

_No response_

[2021-08-06 05:14] Pierre-Sassoulas commented on #4806
Duplicate of #4741

[2021-08-06 05:14] #4806 closed

[2021-08-06 05:18] Pierre-Sassoulas commented on #4792
This should be fixed in 2.10 (that is not released yet) @RaenonX

[2021-08-06 05:30] RaenonX commented on #4792
OK, will wait for that. Thanks!

[2021-08-06 07:53] DanielNoord commented on #4805
Happy to help!

[2021-08-06 07:58] DanielNoord commented on #4805
By the way, as shown [here](https://coveralls.io/builds/41920338/source?filename=pylint%2Flint%2Frun.py) Coveralls seems to fail to load source files. I have done a quick google search and some users seem to note that this is due to wrong folder links used in the Coveralls config. Perhaps this is something we can look into? Should I create an additional issue? Or is this something you can easily f

[2021-08-06 08:00] #4102 closed

[2021-08-06 08:02] Pierre-Sassoulas commented on #4805
The coveralls config might be a file that is modifiable in the repository ? I don't see any directory configuration in the coveralls.io web interface.

[2021-08-06 08:04] Pierre-Sassoulas commented on #4805
https://github.com/lemurheavy/coveralls-public/issues/886#issuecomment-266094774

[2021-08-06 08:06] DanielNoord commented on #4805
Our config is found [here](https://github.com/PyCQA/pylint/blob/main/.coveragerc). I think you might be seeing different things on Coveralls as a maintainer compared to regular users. I don't see the "set prefix" options on Coveralls for example.

[2021-08-06 08:08] Pierre-Sassoulas commented on #4805
Once logged I can see the sources... so I don't have the option to set the root correctly. I'll check that later.

[2021-08-06 12:46] timmartin commented on #4751
The issue seems to be that when the second assignment is encountered:

    a = True
    if a:
        file_handle = open("foo")
    else:
        file_handle = open("bar")  # <--here

the checker thinks it's being reassigned, despite the fact that the program can't possibly hit both assignments in the same run. I've had a quick look at the existing checkers and I'm not sure if this is something th

[2021-08-06 13:03] couling opened #4807 "bare-except (W0702) tricks developers into writing bugs"
### Current problem

_Apologies if I'm quite forthright with this one.  This particular problem has burned me pretty hard and I now suspect it has my colleagues also.  I'm aware of #3656 but that doesn't really address the problem._

Pylint is tricking developers into writing `except Exception:` where they really did mean (and most likely did want)`except:`.  The explanation of "bare-except" W0702

[2021-08-06 13:48] DudeNr33 commented on #4751
You are definitely correct that the Problem is in the else clause. I have an idea how to solve it for this check, but that would not solve the general problem you described.

[2021-08-06 13:58] couling commented on #4807
After filing this I read what PEP 8 says.  Gratifyingly PEP 8 calls out the same two specific exceptions that I've described in my high-level examples: logging and cleanup

I don't believe pylint can accurately identify what is [not] logging or cleanup code.  However I believe the detection of a bare `raise` should be a good enough rule of thumb.

Further I really think that false positives on the

[2021-08-06 14:26] Pierre-Sassoulas commented on #4807
I agree with you mostly, this check is annoying and almost always a false positive for someone experienced, and almost always misunderstood for someone inexperienced. First step imo: making it optional in #3512.

Second step should be discussed. I think there's two kind of possibility to have this kind of code:
- Inexperienced dev don't want errors to be raised, so naively suppress them and silent

[2021-08-06 15:30] couling commented on #4807
I've struck through "designed solution 1" it was written in error - apologies.

Actually I'll hold my hands up and admit I got a little confused about which linter had raised issues with precisely which variant of my code before things stopped complaining at me.  Yet boiling it down pylint inadvertently perpetuates a particular myth: the idea that adding an explicit exception fixes the core proble

[2021-08-06 16:33] alwaysmpe opened #4808 "False positive ``consider-using-with`` for class member variable"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

In the case of a member variable where the lifetime of the class is intended to match the lifetime of the associated resources (RAII), I think this warning is unnecessary and incorrect.

The case I've given is trivial. I'm using a temporary folder to do some pr

[2021-08-06 16:38] DudeNr33 commented on #4751
The problem with the ``consider-using-with`` check is, that it intends to check if a variable containing a context manager is redefined before it is used in a ``with`` block, as you already mentioned.

Now for ``consider-using-with`` I would extend the logic of the check to see if the assignment is made inside an ``else`` block and if so double check if the previous assignment happened in the corr

[2021-08-06 19:28] Chris-Kimmel opened #4809 "False Positive for W0602: global-variable-not-assigned"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Pylint should NOT warn W0602 (global-variable-not-assigned)

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2021-08-07 08:09] Pierre-Sassoulas commented on #4798
Still can't reproduce with:
[code]
Using the same code and same name, after ``sudo apt install libcurl4-openssl-dev libssl-dev libcairo2-dev libgirepository1.0-dev``, upgrading pip and installing latest wheel + installing the dependencies from your ``pip freeze``.

[2021-08-07 08:58] Pierre-Sassoulas commented on #4805
It's not fixable, but everyone should be able to login and see the source. See:

https://github.com/lemurheavy/coveralls-public/issues/572#issuecomment-125849601

[2021-08-07 09:46] DudeNr33 commented on #4808
Can you give an example where it triggers for a context manager?
This should not be the case.

As for the original question: that may be just because you gave a simplified example, but in this case I would propose the following code:

[code]

It's shorter, the resource is only open as long as necessary for reading, and closing the resource is not bound to the garbage collector and how the end user

[2021-08-07 10:11] DudeNr33 commented on #4798
This looks very similar to the problem discussed in #4759 - some modules implemented in C give false-positive ``no-member`` or similar errors for ``socket`` and ``math`` (and possibly also for other C modules in the standard library).

In this case it depended on the way Python itself has been installed, but I did not figure out yet what the core problem is.

[2021-08-07 17:27] nodeg commented on #4798
Thanks for the comment @DudeNr33. I can confirm the issue on macOS using Homebrew, too.

[code]

[2021-08-08 03:28] yhh2021 commented on #647
Consider,

[code]

This raises a

[2021-08-08 06:53] Pierre-Sassoulas commented on #647
I'm going to close, as this issue is clearly "doing the same thing than mypy", and we're clearly not going to handle typing better than mypy. And this seem like a consensus among maintainers.

Any problem with specific false positive or false negative related to typing (like ``collections.abc.Iterator[int]`` @yhh2021) should be posted in their own new issue.

[2021-08-08 06:53] #647 closed

[2021-08-08 06:57] Pierre-Sassoulas opened #4813 "Take type information into account instead of inferring"
### Current problem

Right now pylint relies on its own inference engine, which ultimately is somewhat basic. This leads to quite a lot of false positives for deep inspections such as no-member, since what the entire inference is doing is just solving the variables into what values they might represent. In some cases it can properly infer the true value, in other cases we just infer a None or rais

[2021-08-08 07:55] timmartin commented on #4694
It looks like this has been caused by a change in Astroid, rather than Pylint. If I use Pylint v2.8.3 but upgrade Astroid to v2.6.6, I get the warning.

The direct cause of this is that in `pylint/checkers/typecheck.py`, in `TypeCheckers.visit_subscript()`, the older Astroid is failing to infer the type of `serializer.data` so the checker abandons the check. The more recent Astroid successfully in

[2021-08-08 08:04] andy-maier commented on #4120
For those reading this issue in the future: Using pylint 2.9.2, I tried disabling "R0801" in the `disable` parameter of the pylintrc file, and that worked (it disabled the similarity checker and had the normal elapsed runtime). Disabling "RP0801" did not work, the similarity checker was active and the elapsed runtime was long.

[2021-08-08 12:01] hippo91 commented on #4120
@andy-maier thanks for the hint. The Similarity checker have been deeply reworked and its performance improved thanks to #4565. So if you use the main branch of pylint you don't have to disable the Similarity checker.

[2021-08-08 13:58] Hubro opened #4814 "Optimizing speed of the starting and initialisation phase"
### Current problem

Pylint is frustratingly slow, taking several seconds to lint even tiny, simple Python files. Pylint is glacially slow compared to any linting tool in any other language I have worked with. This slowness is not too big a problem for CI/CD pipelines, since in this context a few seconds doesn't matter too much and linting of multiple files can be parallelized.

However, for backg

[2021-08-08 15:03] DudeNr33 commented on #4798
You can try to use ``pyenv`` to manage the Python installations for you - this helped me and another user to get rid of those false positives.
It seems like ``pyenv`` compiles CPython from source, so doing that yourself might be another option (until a true fix for this issue is found).

[2021-08-08 18:24] Pierre-Sassoulas commented on #2263
Closing because it cannot be reproduced in the latest pylint.

[2021-08-08 18:24] #2263 closed

[2021-08-08 18:26] Pierre-Sassoulas commented on #3649
Closing because it's been fixed in the main branch.

[2021-08-08 18:26] #3649 closed

[2021-08-08 18:52] DudeNr33 commented on #4814
I ran ``pylint`` with different checkers enabled and timed the execution (once with normal output and once while using ``-f pylint.testutils.reporter_for_tests.FunctionalTestReporter`` to suppress the output):
[code]

(Command: ``time pylint --disable=all --enable=<checker> -f pylint.testutils.reporter_for_tests.FunctionalTestReporter pylint``).
Maybe this can serve as a starting point.

However,

[2021-08-08 19:46] Pierre-Sassoulas commented on #4814
Ultimately pylint's characteristic is that it's slow and very thorough because it infer values contrary to some faster linter. Your file might be small but if the dependencies it uses are huge, pylint will analyses all of them and takes time to infer the value of things. Improving performance is a goal, but some checks cannot be done without calculation. For example a checker that is known to be s

[2021-08-08 21:49] cossor opened #4817 "Property __get__ usage causes E1101 (no-member) error"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

pylint should not complain about Spam.key.\_\_get\_\_.

### Pylint version

[code]

### OS / Environment

Ubuntu 16.04 (Xenial)

### Additional dependencies

_No response_

[2021-08-09 09:22] Hubro commented on #4814
Aw, that's discouraging... So I guess Pylint needs some work on the performance front. Are there any efforts to do that, that you're aware of?

Also, do any real alternatives to Pylint exist? (I.e. a generic linter with configurable checkers)

[2021-08-09 09:58] Pierre-Sassoulas commented on #4814
Issues are opened for it, and we're aware of the problem. Everyone likes contributing new check or bug fix, and improving performance is hard work (especially if we need to stop inferring everything and taking type clue into account which would be a major redesign). So yes, there is an effort to do that but maintainers time is limited and being fast is not pylint's main value proposition.

For dup

[2021-08-09 11:30] alwaysmpe commented on #4808
So, to give a more accurate version that uses a temp directory and some processed input data:

`from tempfile import TemporaryDirectory
import subprocess

class dataWrapper:
    def __init__(self, input_data):
        self.temp_directory = TemporaryDirectory()
        in_path = self.temp_directory.name + '/temp.in'
        with open(in_path) as temp_file;
            temp_file.write(input_data)

[2021-08-09 12:31] romainletendart commented on #4694
@timmartin Creating a `data` attribute in a `Serializer` subclass just seems to work when the code is run through a Python 3.8.11 interpreter. We do get `42` printed twice. The magic happens on those lines: https://github.com/encode/django-rest-framework/blob/cdd53c7de912d5868c96f4e3883df248a3e6341d/rest_framework/serializers.py#L533-L549.

I agree with you however on the fact that having an overr

[2021-08-09 16:16] DudeNr33 commented on #4814
I ran ``cProfile`` and fed the result to ``gprof2dot``:
![startup_profile](https://user-images.githubusercontent.com/3929834/128737810-0d9e27ff-cdcb-4061-8d6f-dd1fce07bb1c.png)

Haven't looked at it in detail, but options processing does take a substantial amount of time (considering I only gave ``disable=all`` via the command line).

[2021-08-09 17:39] nodeg commented on #4798
Thanks for the suggestions. I have no problems with the pylint result since I know that those socket methods do exist. I just wanted to report these false positives.

[2021-08-10 08:49] Pierre-Sassoulas commented on #4817
Sorry we're not maintaining 2.6 anymore and this is fixed in the latest version released.

[2021-08-10 08:49] #4817 closed

[2021-08-10 10:31] Timmmm opened #4821 "Spam on pylint messages page"
This page has been filled with spam: http://pylint-messages.wikidot.com/

[2021-08-10 11:11] IonyM commented on #2694
Hi!

I'm facing the same issue in python2 within vscode.
tried updating both pylint and astroid but got already up-to-date, while there is a newer version available. Are this just foir Py3?
How can I solve the problem for Py2?

thanks a lot!

[2021-08-10 11:26] Pierre-Sassoulas commented on #2694
Sorry, the last minor versions supporting Python 2 are 1.9.x. We're currentely only supporting Python 3.6 and up (we're following what Python itself is doing).

[2021-08-10 12:12] Pierre-Sassoulas commented on #4821
Thank you for signaling this. I don't know who control this site though (Maybe Larry Gilbert). I can't do anything myself.

[2021-08-10 12:12] #4821 closed

[2021-08-10 12:54] Redoubts opened #4822 "RuntimeError: generator raised StopIteration"
### Bug description

So I've noticed another one of these StopIteration bugs when using pylint on my codebase. I don't know if I can provide a minimal example, but seeing a few similar bugs in the issue tracker, the traceback below may be enough to track it down.

For me, this reproduces reliably with astroid==2.6.6 and pylint==2.9.6, but astroid==2.6.5 pylint==2.9.6 does not repro.

### Configura

[2021-08-10 12:57] Pierre-Sassoulas commented on #4822
Thank you for opening the issue. We desperately need #4725 for ourselves :smile:

[2021-08-10 13:46] cossor commented on #4817
no apology needed. thanks for the good news!

[2021-08-10 17:25] DudeNr33 commented on #4808
Thanks for the more detailed example.
I see that using ``with`` blocks here is a bit more unwieldy as you now have to things that would trigger the message (``TemporaryDirectory`` and ``open``).
Implementing an iterable context manager would be another option that should satisfy the check and have the file (and tempdir) only open as long as necessary - but in your case I understand it's not really

[2021-08-10 19:03] Pierre-Sassoulas commented on #4759
I don't have a mac so I can't test but could it be that the version of socket is not the same ? I remember that Mac often have outdated lib by default.

[2021-08-10 19:29] hippo91 commented on #4060
@socketpair i investigated a bit the problem.
This is due to the way `IsolatedAsyncioTestCase` is imported through `unittest` (dynamic lazy import). I will work for a solution ASAP. Meanwhile you can replace `from unittest import IsolatedAsyncioTestCase` with `from unittest.async_case import IsolatedAyncioTestCase`.

[2021-08-10 19:45] socketpair opened #4823 "Wrong class variables tracking"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no error

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2021-08-10 19:49] Pierre-Sassoulas commented on #4823
It should be fixed in the latest pylint, you're using 2.6.0 that is kinda old now, please let me know of the problem persist, I'll reopen.

[2021-08-10 19:49] #4823 closed

[2021-08-10 20:03] cdce8p commented on #4802
There seem to be valid arguments for both sides, with or without comments. Tbh I don't really like either that much.

Should we still have this check when `flake` does it probably way better than we do? Might be worth removing checks (or moving them to an extension) that are redundant (with `flake`) as we wouldn't need to support them anymore. If I remember correctly there have been some discussio

[2021-08-10 20:27] socketpair commented on #4823
@Pierre-Sassoulas did you test on latest pylint ?

[2021-08-10 20:34] Pierre-Sassoulas commented on #4823
I tested on the current main, also tested with:
[code]

[2021-08-10 21:34] hemberger opened #4826 "False positive with operator+ and lists (no-member)"
### Bug description

When using `operator+` to merge two lists (in the context of a class method?), pylint incorrectly thinks that the objects in the combined list are also of type `list`.

The simplest example I can construct is the following:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I would expect there to be no warnin

[2021-08-11 03:00] DetachHead opened #4828 "`used-before-assignment` false positive with walrus operator"
### Bug description

`used-before-assignment` false positive occurs on the following code:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no error

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2021-08-11 04:54] DudeNr33 commented on #4814
I noticed that another large amount of time was attributed to ``parallel.py``.
That made me wonder - why is Pylint spending almost 50% of its startup time in this module, even though I did not tell it to run in parallel mode?
A little hacking and putting timing code in each module later I could track it down:
It's the import ``from astroid import nodes`` which takes a **huge** amount of time!

Sim

[2021-08-11 05:55] Pierre-Sassoulas commented on #4814
We're refactoring the nodes module right now un astroid. This is for readability reason, because a 4500 lines file freeze the ide for seconds while being analyzed (with a fast linter) and because there are hidden circular import. If there is something to do regarding this import (beside bursting it, we're doing that anyway) it's the perfect time :D

[2021-08-11 07:30] Pierre-Sassoulas commented on #2121
Closing as it's fixed on main, thank you for the help @SamyCookie  and @david-yz-liu

[2021-08-11 07:30] #2121 closed

[2021-08-11 08:27] lavie commented on #1057
@reverbc you, sir, are a gentleman and a scholar.
<tips hat>

[2021-08-11 10:08] kasium commented on #4711
So I did some troubleshooting. The type of the list at pylint time is `<Instance of builtins.list at 0x140612117943968>`

So, the check fails here: https://github.com/PyCQA/pylint/blob/741276e90a3698c8bf5ac621669453b67b7c2c7c/pylint/checkers/variables.py#L2013

[2021-08-11 12:28] Pierre-Sassoulas commented on #4711
If I understand what you're saying the fix could be : `if not isinstance(assigned, (astroid.Tuple, astroid.List, list)): ` ? Could you try to open a merge request and add a functional test in `tests/functional/` to get the authorship of your fix ? :)

[2021-08-11 12:29] kasium commented on #4711
I guess that could be the fix 😄 . Let me give it a try

[2021-08-11 13:03] tuukkamustonen commented on #2270
Also bumped into this. Still reproduces on:

[code]

[2021-08-11 13:33] DudeNr33 commented on #4814
I ran the same script over the current ``astroid`` master.
It places ``time.time()`` calls at the very beginning of the script, one after the last "normal" import statement (things like ``try: import xy; except: ...`` are not recognized by the script) and one at the very end.
The column ``imports`` is the time delta between the first two measuring points, ``code`` is the delta between the second a

[2021-08-11 13:38] actionless commented on #3234
i slightly updated my previous message, because the main point was not the annotations (which also indeed are not working there)

[2021-08-11 14:55] robin-wayve commented on #4079
I'm not sure this example is still slow: I just had it pass in 2 seconds on Pylint 2.9.6 🤔

[2021-08-11 17:40] #4079 closed

[2021-08-11 17:42] Pierre-Sassoulas commented on #4814
Restricted the issue title to something actionable so it does not become an epic ticket we can never close.

[2021-08-11 20:21] Pierre-Sassoulas commented on #4802
We only document the one that are redundant if you're already using another linter, because some users want to just use pylint exclusively. Because of that removing checkers from the default is only decided on the checker's own merit regardless of another linter doing it or not. With the exception of very hard to maintain checks (like bad-indentation when black can do the formatting). ``line-too-l

[2021-08-11 20:25] #3839 closed

[2021-08-12 03:41] MajorCarrot commented on #4609
We are having the same issue in the [pipeline](https://gitlab.com/adithyav1511/betsi/-/jobs/1497447685) of one of our projects
Is there any solution for this?

[2021-08-12 06:39] #2846 closed

[2021-08-12 06:39] #3107 closed

[2021-08-12 06:48] Pierre-Sassoulas commented on #4826
Thank you for opening this issue. I'm classifying as minor since

[code]
Gives no pylint warning and putting a string instead of ``A()`` gives a proper pylint warning.

[2021-08-12 06:50] Pierre-Sassoulas commented on #4828
Thank you for opening the issue I can reproduce this.

[2021-08-12 06:57] Pierre-Sassoulas commented on #4823
Maybe you're using python 3.5 and the latest pylint you can use is 2.6.2 or your package repository do not have the latest pylint. If that's the case use pypi/pip and upgrade to python 3.6.

[2021-08-12 12:34] socketpair commented on #4823
No. All of us have shown our Python versions.

[2021-08-12 15:54] posita commented on #568
Instead of whitelisting, perhaps another approach would be (repeatable) options like `--ignore-class` or `--ignore-package`. For example:

[code]

That would dump classes from `fancylib.…` _**except**_ for anything in or under `fancylib._utils` or any class called `_SuperPrivateThing` wherever it lives (e.g., in `fancylib.goodstuff`).

[2021-08-12 17:22] #4828 closed

[2021-08-12 18:26] voronind opened #4833 "Prompt pylint class additional parents"
### Question

Can we prompt `pylint` to use additional class parents via plugin? It can be useful for https://github.com/odoo/odoo modules model inheritance way.

[code]
Other Odoo module. Install/uninstall independently of other modules.
[code]
Odoo make that `Model` inherits `ParentModel` cause `specifier`. That's why many checks of `pylint` doesn't work.

### Documentation for future user

May

[2021-08-12 19:21] Pierre-Sassoulas commented on #4833
I would say it's something that could be done in a ``pylint-odoo`` plugin (like ``pylint-pytest`` or ``pylint-django``) and not in the main pylint code.

[2021-08-12 20:08] #533 closed

[2021-08-12 20:08] #2224 closed

[2021-08-12 20:08] #2626 closed

[2021-08-13 03:03] ddangu525 opened #4836 "False negative ``reimported`` when using an import alias"
### Current problem

I think it would be nice if Pylint could check if there is same import name from different packages.
For example, in the code below, import order is fine, but the 'Path' imports overlap, causing errors somewhere.
[code]

### Desired solution

overlapping imports found. `Path`

### Additional context

_No response_

[2021-08-13 08:02] gtristan opened #4837 "AttributeError: 'Call' object has no attribute 'name'"
### Bug description

This is similar but distinct from issue #4439.

Here is a reduced test case, I was able to concoct this after running `pylint` with modified `checkers/classes.py` and tracing the asteroid nodes being checked in `_check_unused_private_attributes()`.

[code]

### Possible fix

I think the crash is essentially caused by `NodeNG.node_of_classes()` yielding attributes passed throug

[2021-08-13 08:51] Pierre-Sassoulas commented on #4837
Thank you for taking the time to report this. Love the example with default pink ponyz.

[2021-08-13 08:59] Pierre-Sassoulas commented on #4836
Thank you for your proposition, it makes sense.

[2021-08-13 18:39] mhumetskyi opened #4839 "Similarities checker doesn't ignore decorators with "ignore-signatures" option enabled"
### Bug description
Function decorators are not ignored by the similarities checker when the "ignore-signatures" option is enabled.

For me, it makes sense to ignore them as well as parameterized decorators might be applied to many different functions and look almost the same. For example, some frameworks use decorators to make declare API handlers functions like in the following example:

[code]

[2021-08-13 18:48] Pierre-Sassoulas commented on #4839
It makes sense, thank you for opening the issue.

[2021-08-14 02:10] #4839 closed

[2021-08-14 15:32] DudeNr33 opened #4845 "``pyreverse`` does not handle arguments of form ``Optional[int]`` correctly"
### Bug description

Given a file ``a.py``:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

Output of pyreverse (unfortunately I can't upload images with the new forms?) displays the type of ``my_int`` just as ``Optional``, not as ``Optional[int]``.

Note that if the code is changed to:

[code]

### Expected behavior

Display ``my_int`` as ``Optional[int]``

[2021-08-14 19:34] #4498 closed

[2021-08-15 09:58] #4837 closed

[2021-08-15 12:23] yumasheta opened #4849 "False-positive of unused-private-member with class reference"
### Bug description

Consider the following code snippet:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Calling a private static method only on `cls` (reference to class) in a classmethod produces false positive: `unused-private-member`.

#4782 recently fixed some issues regarding the usage of private members on the class name

[2021-08-15 16:37] timmartin commented on #4694
It took me a while, but I think I've figured out what's going on here. Not surprisingly, it's down to the metaclass:

    class SerializerMetaclass(type):
        @classmethod
        def _get_declared_fields(cls, bases, attrs):
            fields = [(field_name, attrs.pop(field_name))
                      for field_name, obj in list(attrs.items())
                      if isinstance(obj, Field)]

[2021-08-15 17:17] #4060 closed

[2021-08-15 18:06] #4488 closed

[2021-08-15 18:38] Pierre-Sassoulas opened #4852 "False negative for ``relative-beyond-top-level`` because pylint does not add warning on node properly"
### Bug description

In #4848 when fixing the crash for #4775 it seems that the right message is not raised [here](https://github.com/PyCQA/pylint/pull/4848/files#diff-08f9bf344172b11ca1f8f03ead8cbb2c95ac3a81d95501e010d850f937e4d628R26)

It's strange because the message should be raised (add_message is launched), but the node is probably not correct enough to be raised upon.

Using the following c

[2021-08-15 18:41] Pierre-Sassoulas commented on #4852
The warning was disabled in the functional test.

[2021-08-15 18:41] #4852 closed

[2021-08-15 18:49] #4748 closed

[2021-08-15 18:55] #4775 closed

[2021-08-15 19:01] Pierre-Sassoulas commented on #4776
Moving that issue to 2.11 as ``use-set-for-membership`` raise problem with unashable element see https://github.com/PyCQA/pylint/pull/4841#issuecomment-898913067 .

[2021-08-16 09:34] cdce8p commented on #4849
/CC: @yushao2

[2021-08-16 10:27] DanielNoord commented on #4759
I noticed that `socket` is a wrapper for `_socket`. However, my homebrew installation does not seem to have a `_socket.py` file.
@DudeNr33 does your homebrew installation have a `_socket.py` file?

[2021-08-16 10:47] #2600 closed

[2021-08-16 10:47] #2698 closed

[2021-08-16 10:47] #3405 closed

[2021-08-16 10:47] #3794 closed

[2021-08-16 11:20] kasium commented on #3696
+1 from my side. Same goes for the pyproject.toml file

[2021-08-16 15:54] Pierre-Sassoulas commented on #3696
This should be done during a configuration refactor, or it will be a small patch on something old and already very patched using optparse.

[2021-08-16 16:13] kasium commented on #3696
I tried to figure out where exactly this order sensitive disable/enable comes from since it affects CLI, init and toml config. Can you point me to the right place? I can try to open a PR

[2021-08-16 16:33] Pierre-Sassoulas commented on #3696
Everything happens in ``Pylinter`` and I think the relevant class with the behavior for options parsing is ``config.OptionsManagerMixIn,`` (without absolute certainty). I would be interested in what you think of the current configuration and what you would do differentely if you take the time to understand how it works :)

[2021-08-16 19:00] mbyrnepr2 commented on #4845
It seems to work as expected when I reset to commit 1e55ae64624d28c5fe8b63ad7979880ee2e6ef3f and run the provided command.
Perhaps a recent change affected it @DudeNr33.

[2021-08-17 05:00] DudeNr33 commented on #4759
@DanielNoord my installation has neither (both the "working" installation from ``pyenv`` and the "non-working" from ``homebrew``).
But I think that's because ``_socket`` is a C module, so you won't find a ``_socket.py``.
Rather I have a ``./lib/python3.9/lib-dynload/_socket.cpython-39-darwin.so``, which should be the compiled shared object of the C implementation.

[2021-08-17 08:46] khameeteman opened #4857 "`use-maxsplit-arg` false positive with custom split method"
### Bug description
I get a false positive when implementing a `split` method on a custom class:

[code]

Problem seems to be in the `[0]` part. When I change this to `[1]`, no warning is shown.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No warning

### Pylint version

[code]

### OS / Environment

_No response_

### Additional de

[2021-08-17 11:19] mhumetskyi commented on #4653
@Pierre-Sassoulas hi again!
I have opened PR with the proposed solution.

While worked on that I have noticed that function `tolineno` property may not work correctly, but there is already opened issue for `astroid`: https://github.com/PyCQA/astroid/issues/868

We rely on `tolineno` property only when a function doesn't have a body (== when it has only docstring), so the impact is small.

It's jus

[2021-08-17 15:09] kasium commented on #3696
Thanks for the hint. As far as I can say, the behavior comes from this code:
https://github.com/PyCQA/pylint/blob/a12242b2f44d5244bd1cacc6bc78df8c9c8e4296/pylint/config/option_manager_mixin.py#L309-L318

`parser.items(section)` is a list (so it's sorted), so the definition order is important. To be honest I'm not sure how to fix this since a very general loop is used

[2021-08-17 15:41] Pierre-Sassoulas commented on #3696
I can't think of a solution that will keep this for loop in its current state either.

[2021-08-17 17:30] DudeNr33 commented on #4845
No that's great, go ahead! Thanks for fixing it!

[2021-08-17 18:03] Pierre-Sassoulas commented on #4776
We realized in #4841 that some object not being hashable means that suggesting to use set is impossible for something like this:
[code]
What would be the preferred way for you going forward ?
- Do not add ``use-set-for-membership`` in pylint at all 👀
- Add ``use-set-for-membership`` and keep it like it is, the user will choose between making the object hashable or silencing pylint 👍
- Add ``use-se

[2021-08-17 18:54] #4653 closed

[2021-08-17 19:32] cdce8p commented on #4776
I'd prefer not to add `use-set-for-membership`. As this is a refactoring suggestion, I believe it would only be worth it if it has a clear real world performance benefit and / or no negative side effects. Neither is the case.

We have to consider it might not be obvious for some that sets require hashable items. Someone might start with a `list`, get the suggestion to use a `set` and later adds an

[2021-08-17 19:40] kasium commented on #3696
Are there any plans to refactor the configuration module to use argparse and to modernize it a little bit?
Else, I'm not quite sure how to proceed. I guess this would be a breaking change, because

* `disable=all` ->`enable=bar` = `bar`
* `enable=bar` -> `disable=all` = `all`

But the other way round, we also miss scenarios:
* `enable=all` ->`disable=bar` = `all except bar`
* `disable=bar` -> `ena

[2021-08-17 20:01] alimuldal opened #4861 "`repeated-keyword` false-positive when overriding existing dict keys"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]
[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2021-08-17 20:06] Pierre-Sassoulas commented on #3696
I think the logical order is to always take ``all`` into account first, then the other one to enable or disable some of the message. Ie:

    disable=all ->enable=bar = only bar
    enable=bar -> disable=all = only bar
    enable=all ->disable=bar = all except bar
    disable=bar -> enable=all =all except bar

My reasoning is that you would not specify disable or enable when you use ``all`` for th

[2021-08-17 21:09] nickdrozd opened #4862 "New check: Walrus operator recommended"
### Current problem

Consider this still-common pattern:

[code]

### Desired solution

As of Python 3.8, this can be rewritten with the "walrus":

[code]

Pylint should recommend using the walrus operator in situations like this.

### Additional context

See https://www.python.org/dev/peps/pep-0572/

[2021-08-17 23:39] gunit367 opened #4864 "`no-member` false positive when replacing dict values with objects of different types"
### Bug description

Code runs successfully, but incorrectly lints with a no-member failure.

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No errors should have occurred.

### Pylint version

[code]

### OS / Environment

Ubuntu 18.04.5 LTS

[2021-08-18 00:11] dc5048 commented on #4609
[@DudeNr33  Wrote](https://github.com/PyCQA/pylint/issues/4609#issuecomment-869176670):

Since upgrading python to 3.9.6 on macOS this AM, I've been having the same issue with false positives when importing from the math module.

[2021-08-18 04:18] Pierre-Sassoulas commented on #4864
Pylint 1.8.3 is very old, could you try with pylint 2.9.6 ?

[2021-08-18 05:29] Pierre-Sassoulas commented on #4862
Thank you, nice suggestion !

[2021-08-18 05:34] cdce8p commented on #4857
/CC: @yushao2

[2021-08-18 07:29] kasium commented on #3696
Thanks a lot for this insights.

I agree, it depends a lot how you look on this: It's either a breaking change or a bug fix. Since you asked what I would do: Personally, I would not use "dynamic" loops at all, but handle the options one by one. This leads obviously to more code, but options order dependencies and so in will disappear. But this is not possible w/o a refactoring.

So, what do you th

[2021-08-18 08:09] Pierre-Sassoulas commented on #3696
Thank you. There's I think foor aspects to the refactor :
- The loop is too generic. I agree with what you said.
- optparse is very old and would benefit from an argparse revamp
- Inheritance is used so everything is mixed up in Pylinter and even some checkers (composition and a class to handle the configuration, and the configuration only, would help imho)
- There's call back code for some option

[2021-08-18 08:18] kasium commented on #3696
To be honest, moving away from optparse to argparse/click (click is btw very nice) would be (as far as I can say) a very drastic change. I did only one small change so far in pylint, so I'm kind of afraid doing this change. As you said, there are many patches and callbacks making it hard to understand for beginners. In the end, the code is not even typed, which add just more complexity and hurdles

[2021-08-18 08:26] Pierre-Sassoulas commented on #3696
Yes, that would make a lot of sense especially for the transition to click or argparse. I think it's a lot easier to reproduce pylint's arg parsing from zero then replace the original code than to progressively refactor. It would be a breaking change though. I'm pretty sure that some strange bugs due to everything being done by hand with optparse are considered feature now.

[2021-08-18 08:28] Pierre-Sassoulas commented on #3696
I spoke about confuse too, because it could help define a template yaml and have the argument to parse done automatically.

https://confuse.readthedocs.io/en/latest/

[2021-08-18 12:24] alwaysmpe commented on #4808
Thank you for your answer/thoughts.

I'll leave it for now, as you're right it's a relatively small use case. I've ignored the specific warnings in the necessary location.

[2021-08-18 12:24] #4808 closed

[2021-08-18 14:58] Pierre-Sassoulas opened #4865 "Crash when pylint cannot write the issue template following an internal error"
### Bug description

See : https://github.com/PyCQA/pylint/pull/4787/checks?check_run_id=3362364284

### Command used

Launch pylint on anything that makes it crash for a single file.

### Pylint output

[code]

### Expected behavior

No crash, print stacktrace in output.

### Pylint version

[code]

[2021-08-18 15:28] #4367 closed

[2021-08-18 15:47] DudeNr33 commented on #4609
@dc5048 I am not sure if this has the same reason (the problem with macOS and ``socket``/``math`` is also discussed here: #4759), but it would be interesting to know how you installed/upgraded your Python version. Did you install it directly from the website, or used homebrew, or something like ``pyenv``?
(maybe this discussion should be continued in #4759)

[2021-08-18 15:52] #4845 closed

[2021-08-18 17:16] dc5048 commented on #4609
@DudeNr33 , I used homebrew to update Python.  Thanks for the pointer to the other issue, I'll take a look.

[2021-08-18 17:31] dc5048 commented on #4759
Similar to @DudeNr33, I am getting false positives when importing from math (all members as far as I can tell, noticed it for pi, sin, cos, fmod, and others).  I'm running Big Sur 11.4 on an intel architecture, and the problem started occurring after updating python to 3.9.6 yesterday using homebrew.

[2021-08-18 19:10] #4865 closed

[2021-08-18 19:51] vyahello commented on #3272
Hey, do we have some updates regarding this one?

[2021-08-18 19:56] Pierre-Sassoulas commented on #3272
Hey @vyahello, it seems like no one worked on it yet, do you want to contribute for this feature ?

[2021-08-19 10:23] PanderMusubi opened #4873 "Report refactor for missing main when file has shebang"
### Current problem

When a Python file has a shebang on the first line, such as

    #!/usr/bin/env python3

the file van be executed directly. In order to place a much as possible not in the top-level scope but in functions to promote reusage, the file ideally should have the main code in or called from

    if __name__ == "__main__":
        ...

### Desired solution

When the first line has

[2021-08-19 10:54] skogsvik opened #4874 "Transform plugin not called when running with multiple jobs"
# Summary
When adding a plugin which registers a transform it registers and calls the transform as expected, but when enabling multiple jobs, the transform doesn't get called resulting in a different result than expected.

The plugin seems to be loaded fine, but the transform is not triggered.

The expected behavior is to have the linting result be the same regardless of the number of jobs.

# Pyl

[2021-08-19 10:57] skogsvik commented on #4874
Upgraded pylint using pip and can confirm the same behavior for 2.9.6
[code]

[2021-08-19 18:17] kasium commented on #3696
I might miss a detail about confuse, but it seems not to support toml and ini out of the box, doesn't it?
In regards to a redesign, I'm not sure if I have enough time... sadly

[2021-08-19 18:18] Pierre-Sassoulas commented on #4873
Thank you for opening the issue. Wouldn't there be the corollary too when the ``if __name__ == "__main__":`` exists but not the shebang ?

[2021-08-19 20:58] Pierre-Sassoulas commented on #3696
Yes, we're handling a lot of possible file and format.  Maybe migrating to ``pyproject.toml`` only and providing a tool to convert old conf (setup.cfg, and pylintrc) and just using confuse would be easier than maintaining what we currently have. Probably not short term but this seems like something that could be done in the future. I understand that such a refactor is not acceptable when what you

[2021-08-19 22:38] cdce8p commented on #4862
Opened a PR for it: #4876

[2021-08-20 10:13] PanderMusubi commented on #4873
Yes, good one. It can have this line to disable it

    # pylint:disable=missing-shebang

[2021-08-20 10:14] PanderMusubi commented on #4873
Note that support needs to be for

    if __name__ == "__main__":

and for

    if __name__ == '__main__':

[2021-08-20 10:23] PanderMusubi commented on #4873
One of the advantages of having a main function is that code has the same base indentation in the entire file. This makes moving code between functions easier for editors that have more challenges with autoindentation.

[2021-08-20 10:53] bnavigator opened #4877 "numpy no-member errors in test suite"
### Bug description

Running the test suite for 2.9.6 or the main branch results in test failures for Python 3.8 and Python 3.9 (but not for Python 3.6)

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

successful test suite

### Pylint version

pylint 2.9.6 with patch #4816 OR pylint main branch
astroid 2.7.1

### OS / Environment

open

[2021-08-20 15:40] DudeNr33 commented on #4873
I don't think the opposite assumption (shebang necessary if a ``if __name__ == "__main__"`` exists) is true.
For example on Windows you don't have a shebang, and all Windows devs would have to disable the check.

Pylint could check the current operating system and only issue the message if it runs under Unix, but keep in mind that you could also have the situation where Pylint is run on a Linux se

[2021-08-20 17:27] #4366 closed

[2021-08-20 17:31] Pierre-Sassoulas commented on #4873
But windows code could be run on unix systems where the sheband is useful, and the shebang does not hurt on windows ? I see that as a cross-platform check, like ``specify-encoding``, the ``encoding="utf8"`` is useless on linux but it helps make the code better for windows users.

[2021-08-20 18:07] Pierre-Sassoulas commented on #4877
Thank you for opening the issue. I don't see your version of numpy in the dependency, is that normal ? The error seems to be about numpy.

[2021-08-20 18:10] DudeNr33 commented on #4873
I did not know about ``specify-encoding``, and the argument with cross-platform compatibility is valid.

[2021-08-20 18:41] #3201 closed

[2021-08-20 18:47] Pierre-Sassoulas commented on #4862
Moving to 2.11 as I feel we already have a lot of things in 2.10 and we're sitting on great unreleased performance improvement.

[2021-08-20 18:54] bnavigator commented on #4877
Numpy is not installed in the build environment. I don't see it in your test requirements either.

[2021-08-20 18:55] david-yz-liu commented on #3754
Cool, thanks for the prompt merge @Pierre-Sassoulas!

[2021-08-20 18:57] #3754 closed

[2021-08-20 19:27] bnavigator commented on #4877
There must have been some cache involved. When I build in a pristine VM (`osc build --clean`) everything builds fine.

I just noticed the same behavior in astroid.

[2021-08-20 19:27] #4877 closed

[2021-08-20 19:51] scop opened #4880 "Detect redundant collection type hints for `*args`, `**kwargs`"
### Current problem

Clean up `*args` and `**kwargs` in function parameters from redundant collection type hints.

### Desired solution

Have pylint warn if:
- `*args` is annotated as a tuple of some kind: it's redundant as only the type of the `args` items is needed, and if
- `**kwargs` is hinted to be a dict of some kind; it's redundant as only the type of the `kwargs` values is needed

So inste

[2021-08-20 20:00] Pierre-Sassoulas commented on #4880
I think this checker is infeasible as it's hard to guess if there really is a ``Tuple`` in ``*args`` or a ``Dict[str, Any]`` in ``**kwargs``. Consider this for example:
[code]

[2021-08-20 21:26] nth10sd opened #4882 "Use 2.9, 2.10, master/main or 3.0 series?"
### Question

Just curious, how long will pylint stay on the 2.x series? e.g. 2.9 was released a few weeks ago when 3.x was released, 2.10 was just released not long ago.

### Documentation for future user

Will 2.11, 2.12, 2.x be used for quite a long time before pylint makes the switch to 3.x?

### Additional context

_No response_

[2021-08-20 21:46] Pierre-Sassoulas commented on #4882
Right now there is no urgency to release 3.0 as it would make a lot of conversation issue and milestone become obsolete and create a lot of project management work.  3.0 requires big refactor and as maintainer we're mainly handling issue and reviewing merge request, with no time to do major refactor. We did not make a lot of planned breaking changes in 3.0.0 alpha yet, only a fix for the json outp

[2021-08-20 22:07] nth10sd commented on #4882
Great, thanks for clarifying! It'll be nice to have this documented somewhere, or we could point folks here then.

[2021-08-20 23:57] jfly opened #4883 "Pylint 2.10.0 incorrectly assumes that $HOME/.cache/pylint exists"
### Bug description

I'm trying out Pylint 2.10.0, and seeing a crash (described below).

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I would not expect Pylint to crash. I'd expect it to create this `~/.cache/pylint` directory as needed.

I believe this was broken in https://github.com/PyCQA/pylint/pull/4661/

### Pylint version

[c

[2021-08-20 23:59] KanHarI commented on #4883
(venv) E:\workspace\Programming\ConnectedPapers\rest-api>python -m pylint app
PYLINTHOME is now 'C:\Users\*****\AppData\Local\pylint\pylint\Cache' but obsolescent 'C:\Users\*****\.pylint.d' is found; you can safely remove the latter
Traceback (most recent call last):
  File "C:\Python39\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Python

[2021-08-21 00:10] FoamyGuy commented on #4883
I reproduced this successfully both on Pop_OS linux locally, and inside GitHub actions using `ubuntu-latest` the latter can be seen in the PR linked above.

[2021-08-21 00:20] dhalbert commented on #4883
This bug is breaking our CI runs when an earlier version of pylint has already run (in our case, pylint 2.7.1 as pinned by `pre-commit`.). We eventually need to advance the versions, but we have about 300 repos we have to change. If the crash did not happen, but a warning was simply issue, it wouldn't stop our CI runs.

[2021-08-21 01:55] CAM-Gerlach commented on #4883
I'm experiencing this as well on all platforms I tested, Python 3.8 and 3.9, Linux and Windows, and with and without Pre-Commit. The culprit actually appears to be `56fdadb`, a commit added directly to master only a few hours before release. The code, a check for a trivial nuisance under a specific run scenario, assumes that the new home directory already exists, and is executed on file import, be

[2021-08-21 02:40] #4883 closed

[2021-08-21 04:30] AWhetter commented on #4883
The fix for this has been released in v2.10.1. Sorry that took a bit longer than expected. I wish you all a weekend of green CI runs!

[2021-08-21 05:17] Pierre-Sassoulas opened #4886 "Migrate from ``appdirs`` to ``platformdirs``"
### Current problem

### Desired solution

Migration to platformdirs.

### Additional context

https://github.com/PyCQA/pylint/pull/4661#issuecomment-903009372

[2021-08-21 05:52] CAM-Gerlach commented on #4883
Thanks @AWhetter !

[2021-08-21 06:07] #4833 closed

[2021-08-21 07:12] scop commented on #4880
Oh, excellent point, failed entirely to think of that. And besides, at least mypy will already error out for cases like:
[code]

[code]

...so there's no need for other linters to check for this. Thanks for the sanity check and feeding it to me gently! :)

[2021-08-21 07:12] #4880 closed

[2021-08-21 08:41] #4886 closed

[2021-08-21 09:43] bje- opened #4888 "Is W1514 too pedantic?"
### Bug description

[code]

produces diagnostic W1514. This seems excessive given that the `encoding` argument has a default (None), and it's perfectly reasonable to use the default.

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No diagnostic.

### Pylint version

[code]

[2021-08-21 10:46] cdce8p commented on #4888
The issue is that the default encoding can vary between operating systems. It's recommended to explicitly set the encoding.
See https://www.python.org/dev/peps/pep-0597/ for further details.

Python 3.10 will add the optional `EncodingWarning` which does nearly the same as this check.

[2021-08-21 11:38] Pierre-Sassoulas commented on #4888
To add to what @cdce8p said, you can disable the check if you're not aiming for cross platform compatible code.

[2021-08-21 11:40] #4888 closed

[2021-08-21 12:21] cdce8p commented on #4873
I don't think we should add a `missing-shebang` check. Consider the following cases in which shebangs aren't necessary:
1. Python files can be "installed" / used with `entry_points`.
2. Just execute a python script with `python script.py`

[2021-08-21 13:43] hippo91 commented on #4083
@cjmayo thanks for your message but it is not related to the original one. The issue noted by @tschaub is directly linked to the use of the `numpy` module.

[2021-08-21 15:27] jacobtylerwalls opened #4891 "Crash on `copy.copy()` of dict value accessed with static key set elsewhere"
### Bug description

[code]
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/astroid/inference.py", line 401, in infer_subscript
    assigned = value.getitem(index_value, context)
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/astroid/nodes/node_classes.py", line 2252, in getitem
    rais

[2021-08-21 17:06] #4882 closed

[2021-08-21 17:14] #4891 closed

[2021-08-21 17:30] Pierre-Sassoulas commented on #4891
Thank you for creating the issue, it's fixed in 2.10.2.

[2021-08-22 06:34] TylerYep opened #4895 "Unpacking-non-sequence raises error for Callable in collections.abc"
### Bug description
This instance of the bug is a regression in pylint 2.10.2. It does not appear in pylint 2.9.

[code]

Related issues:
https://github.com/PyCQA/pylint/issues/4137
https://github.com/PyCQA/pylint/issues/4696
https://github.com/PyCQA/pylint/issues/4803

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Shouldn't throw this error.

### Pylint version

[cod

[2021-08-22 08:18] sidneycadot opened #4896 "Pylint does not properly process a ctypes variable's value field."
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I'd expect no warning.

### Pylint version

[code]

### OS / Environment

Debian

### Additional dependencies

_No response_

[2021-08-22 08:37] Pierre-Sassoulas commented on #4895
Thank for opening the issue, on ubuntu I'm getting:
[code]
If it's MacOs specific, we might need to do #4759 first.

[2021-08-22 16:35] cdce8p commented on #4895
@Pierre-Sassoulas Try it with at least Python 3.9 or add `from __future__ import annotations`.

[2021-08-22 19:30] #4895 closed

[2021-08-23 07:05] yellowhat commented on #2600
Hi,
may I ask to reopen this issue.
I have the following code:

[code]

With the version 2.10.2, pylint returns:
[code]

Thanks

[2021-08-23 07:49] Pierre-Sassoulas commented on #2600
Hi @yellowhat, could you open a new issue, please ?

[2021-08-23 08:00] yellowhat opened #4899 "Instance of 'Field' has no 'append' member"
### Bug description

Hi,
I have the following code:

[code]

With version 2.10.2, `pylint` returns:
[code]

Is this related to https://github.com/PyCQA/astroid/pull/1126?

Thanks

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No errors

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No r

[2021-08-23 08:35] GeZZu opened #4900 "Pylint prints error about cache files in fresh environment with pylint 2.10.2"
### Bug description

When I run pylint for my code in fresh environment (in build server), pylint tells me that it's not able to create cache directory (and files) to ``%localappdata%\pylint\pylint\Cache (Unable to create directory [full path]``).

Nevertheless I get the expected linting results written to a file.

I was able to reproduce the issue in my environment by upgrading pylint to 2.10.2 a

[2021-08-23 13:36] david-yz-liu commented on #4899
Yup, I can reproduce this! I can work on this one.

[2021-08-23 13:48] arnu515 opened #4901 "Setting `min-similarity-lines` to `0` should stop pylint from checking duplicate code"
### Current problem

Setting `min-similarity-lines` to `0` in the rcfile doesn't disable checking for duplicate code, it instead treats every line of code as duplicate and raises many errors.

### Desired solution

Setting `min-similarity-lines` to `0` should disable the duplicate code check.

It works that way in many other linters (like flake8). Setting a numerical value in flake8 to `0` (e.g. `

[2021-08-23 15:16] Pierre-Sassoulas commented on #4901
It's a nice enhancement, thank you for opening the issue. The way to disable duplicate code is by using:
[code]
It's currently impossible to disable duplicate-code in some part of the code and not the other but this would be a huge task ans is something different entirely.

[2021-08-23 17:40] mareq commented on #1378
+1 & bump

[2021-08-23 17:57] samuelmakarovskiy opened #4902 "Crash module 'astroid.nodes' has no attribute 'ComprehensionScope' v2.10.2"
### Bug description

[code]
also found linter import errors when there shouldn't have been:
[code]
When rerunning with v2.9.6 pinned, no issues at all and ran with 10.0/10.0 pylint score

Appears to possibly be linked to asteroid package (v2.6.3)

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

also found linter import errors when there shouldn't have been:
[code]

[2021-08-23 18:00] anders-kiaer commented on #3826
Should also [`pathlib.Path.read_text`](https://docs.python.org/3/library/pathlib.html#pathlib.Path.read_text) in the standard library give warnings, or is it out of scope?

With `pylint==2.10.2` the snippet
[code]
gives no `unspecified-encoding` warning.

[2021-08-23 18:25] barraponto opened #4903 "Settings to tolerate optional arguments"
### Current problem

Consider the following case, where Dog.speak adds optional keyword arguments to the AnimalBase:

[code]

Right now, it emits `W0221: Number of parameters was 1 in 'AnimalBase.say' and is now 2 in overridden 'Dog.say' method (arguments-differ)`

### Desired solution

There should be a setting/flag to allow for extra optional arguments.

### Additional context

_No response_

[2021-08-23 18:29] cjmayo commented on #4083
Thanks, and mine appears to be fixed in:
pylint 2.9.3
astroid 2.6.2

[2021-08-23 18:29] samuelmakarovskiy commented on #4902
Resolved locally, docker container was pulling asteroid v2.6.3, pulling v2.7.2 resolved. Wish the dependency version issue could have been more easily identifiable

[2021-08-23 18:29] #4902 closed

[2021-08-23 18:33] graingert commented on #3826
I forget that one the most

[2021-08-23 18:36] Pierre-Sassoulas commented on #4903
This code break the [Liskov substitution principle](https://en.wikipedia.org/wiki/Liskov_substitution_principle) which is the point of the check in the first place. You can disable ``arguments-differ`` if you want, but permitting optional argument would defeat the purpose of the check.

[2021-08-23 18:36] #4903 closed

[2021-08-23 18:39] Pierre-Sassoulas commented on #4902
Thank you for troubleshooting that. Since pylint 2.8.3 we're fixing the astroid version to a specific version in pylint so setting the astroid version yourself is not recommended and can cause issue. I think pip or conda should warn that the dependencies are not correct, it's strange it did not happen in your case. Do you think we should document this ?

[2021-08-23 18:41] Pierre-Sassoulas commented on #3826
I think you're right, I never used it myself so I did not think of adding it. Do you want to do the change @graingert ? :)

[2021-08-23 18:48] forana commented on #4900
Seeing this as well - this has broken our CI.

[2021-08-23 18:48] Pierre-Sassoulas commented on #4900
I wonder if we should try to create a cache in the local directory if we can't access the ``XDG_CACHE``, in continuous integration we can't expect write access to the standard cache, so maybe using the local dir would be better.

[2021-08-23 18:52] anders-kiaer commented on #3826
You probably see it/have seen it already: For `pathlib` completeness, as far as I can see there are three functions wrapping `open` in `pathlib` (at least there are three hits when I search for `encoding` on the page https://docs.python.org/3/library/pathlib.html):

- [`pathlib.Path.open`](https://docs.python.org/3/library/pathlib.html#pathlib.Path.open)
- [`pathlib.Path.read_text`](https://docs.p

[2021-08-23 19:02] graingert commented on #3826
Sorry I should have mentioned it in the issue, read_text was where I first noticed the problem because I assumed that was utf8 but knew open wasn't!

[2021-08-23 20:19] samuelmakarovskiy commented on #4902
Yeah, removing astroid altogether was fine, this was installed automatically as the version speciification was previously necessary for this application. Guess the need to no longer need that could be explicitly documented here https://github.com/PyCQA/pylint/blob/main/setup.cfg#L46

[2021-08-23 20:39] Pierre-Sassoulas commented on #4902
What would you add in the setup.cfg ?

[2021-08-23 20:42] samuelmakarovskiy commented on #4902
Not entirely sure how to put in a visible way, but it should probably specify that all these dependencies are pulled in automatically because I think this file is the first place people check for dependency issues

[2021-08-23 22:21] ickc opened #4906 "Warn against unicode identifier normalization"
### Current problem

Unicode normalization in unicode identifier. c.f.

* [2. Lexical analysis — Python 3.9.6 documentation](https://docs.python.org/3/reference/lexical\_analysis.html#identifiers)
* [Issue 44981: wildcard imports should normalise names in `__all__` - Python tracker](https://bugs.python.org/issue44981?@ok\_message=msg%20400106%20created%0Aissue%2044981%20created&@template=item)
* [

[2021-08-24 06:19] GeZZu commented on #4900
I don't know how things have been implemented under the hood, but I would assume that write access is not the issue, you just need to verify that the cache folder exists and create it and all it's parents if it doesn't exist before trying to write anything to there.

I believe that the "Unable to create directory" message comes as it tries to create only the Cache folder, but not it's parents, whi

[2021-08-24 06:55] AntonOfTheWoods commented on #3955
I am also faced with this. @hippo91 is the consensus that this should be closed as "wontfix" and pushed to `sqlalchemy`? Or is there a solution for pylint to play nice with current `sqlalchemy`? Or a fix wanted?

[2021-08-24 12:57] jolaf opened #4907 "False positive superfluous-parens"
### Bug description

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No errors.

### Pylint version

[code]

### OS / Environment

Ubuntu 20.04.3 LTS

[2021-08-24 13:28] jolaf opened #4908 "Coroutine type inferred incorrectly"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No errors.

### Pylint version

[code]

### OS / Environment

Ubuntu 20.04.3 LTS \n \l

### Additional dependencies

_No response_

[2021-08-24 15:36] whonore opened #4909 "``parse-error`` raised if directory matches standard library name"
### Bug description

`pylint` doesn't seem to like it when a directory has the same name as a standard library module, see the output below. I get the same error with something like `pylint ./tests` too. It works fine if you specify a specific file, like `pylint tests/a.py`.

Possibly related: #4444

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expecte

[2021-08-24 16:16] lureza opened #4910 "Instance of 'Index' has no 'tz' member"
### Bug description

When running `pylint` (tested with versions 2.8.3 and 2.10.2) on a Python script with a `DatetimeIndex` variable, `pylint` raises an error when the `tz` attribute of the variable is being accessed. The errors are:

[code]

This is a bug since `date_range` returns a [`DatetimeIndex`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html) object, whic

[2021-08-24 16:55] jolaf opened #4911 "Field lookup fails"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

<class 'geoip2.records.Country'> US

### Pylint version

[code]

### OS / Environment

Ubuntu 20.04.3 LTS \n \l

### Additional dependencies

geoipupdate==4.0.6-2
python3-geoip2==2.9.0+dfsg1-2

[2021-08-24 21:14] Marsfan commented on #4371
I can confirm that this is indeed an issue. I have a single _setup.cfg_ file with both pylint and flake8 configuration options. I want to ignore a specific subdirectory with the `ignore=example` setting in `[pylint.MASTER]`

Elsewhere in my configuration file I have a `[flake8]` section with the option `ignore=E303` setting. Pylint reads this and sets its `ignore` setting to `E303` instead of `exa

[2021-08-25 05:23] Pierre-Sassoulas commented on #4906
Thank you, I did not know about this behavior, it makes a lot of sense to add a check for that in pylint.

[2021-08-25 05:56] Pierre-Sassoulas commented on #4371
Good point, yes, I think so. The way it's done right now each plugin has his own section in the configuration so it can have arbitrary name added by external code. Theorically a ``flake8`` plugin could be added. We might have to make a breaking change to fix this, and it does not seem easy.

Thinking about two solutions on the top of my head:
- Adding pylint as a suffix to current configuration fo

[2021-08-25 10:10] hippo91 commented on #3342
@yumasheta this bug should be fixed once PyCQA/astroid#1148 will be merged and by authorizing `pylint` to dynamically load `numpy` with `--extension-pkg-allow-list=numpy` option.
If however you don't want to authorize this loading, then an improvement of `astroid`'s `numpy` brain is required but may take a very long time to be set up.

[2021-08-25 10:13] hippo91 commented on #4326
@NeilGirdhar  this bug should be fixed once PyCQA/astroid#1148 will be merged and by authorizing `pylint` to dynamically load `numpy` with `--extension-pkg-allow-list=numpy` option.
If however you don't want to authorize this loading, then an improvement of `astroid`'s `numpy` brain is required but may take a very long time to be set up.

[2021-08-25 10:29] Stealthii opened #4912 "Separate check for possibly unused arguments if locals() is used"
### Current problem

* I have a long list of keywords to a method, that I want to define for type hints
* I need to pass these to another method as a dictionary, using `locals()`
* pylint detects possibly unused variables, but not arguments

### Desired solution

* pylint should extend the logic used around unused argument and variable definitions to consider arguments as potentially unused as wel

[2021-08-25 10:31] Stealthii commented on #4912
This is related to #1909, which implemented a check for potentially unused variables. Arguments to a function/method do not fall under this check.

I believe for consistency that a 'possibly-unused-argument' check should exist similar to 'potentially-unused-variable', regardless of opinion about `locals()` use.

[2021-08-25 10:34] hippo91 commented on #3955
@AntonOfTheWoods can you, please, give me a clear snipped that illustrates the problem and also the python version you use and all of the dependencies (flask version, sqlalchemy version ...)?

[2021-08-25 11:40] bugale opened #4913 "False negative for `used-before-assignment` for variables only defined beneath always false conditions"
### Bug description

The following code produces no warning:
[code]
even though `VAR2` is clearly uninitialized.

This is similar to the issue reported in https://github.com/PyCQA/pylint/issues/4045 , thouhg in a much simpler scenario, without the need for exceptions to be handled correctly.

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Warning about the possibly uni

[2021-08-25 12:58] SamyCookie commented on #1934
another (fictive) example that just regressed since 2.10 version, I got also a spurious `cell-var-from-loop` warning:

[code]

[2021-08-25 13:20] SamyCookie commented on #4907
similar issue since 2.10 version with the following example :+1:
[code]

[2021-08-25 16:08] hippo91 commented on #4911
@sidneycadot thanks for your remark. However i'm unable to reproduce it.
When linting:
[code]

I got no warnings:

--------------------------------------------------------------------
Your code has been rated at 10.00/10 (previous run: 10.00/10, +0.00)

[code]

[code]
aiohttp==3.7.4.post0
-e
git+https://github.com/hippo91/astroid.git@9f529498dba18ee74ca3b425785bfb2587b1b05f#egg=astroid
async-timeo