[2021-12-20 08:44] XUWeijiang opened #5557 "False positive comparison-with-callable when comparing to Any in python 3.10"
### Bug description

When I run pylint on the following code (saved as `a.py`):
[code]
I get an warning:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No `comparison-with-callable` warning.

### Pylint version

[code]

### OS / Environment

WIndows 10 (FYI: I can also reproduce this bug in Ubuntu 20.04)

### Additional depende

[2021-12-20 09:23] #367 closed

[2021-12-20 12:02] DC4JG commented on #2399
The /10 strongly implied a rating of 0 or 1 to 10 for me, until I got a negative rating and questioned the whole system, started searching and found this issue.

No idea if the scoring system is good or bad in the bigger picture, but I can tell you it ain't intuitive.

[2021-12-20 14:38] jacobtylerwalls commented on #5557
Reproduced on Python 3.9.6

[2021-12-20 14:56] tushar-deepsource opened #5565 "Too many positinal args reported on `hashlib.shake_128().hexdigest(n)`"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No issues.

https://docs.python.org/3/library/hashlib.html#shake-variable-length-digests States that `shake_128` and `shake_256` return different objects, whose `hexdigest()` function takes in a length parameter.

I did some digging and found that all other obj

[2021-12-20 21:35] aborealis opened #5568 "Incorrect "undefined variable" error for named tuple class variables as return type annotations"
### Bug description

pylint seems to incorrectly identify an undefined variable error when using a namedtuple class variable as a return type annotation. Argument type annotations appear to be OK.

### Steps to reproduce
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no errors

### Pylint version

[code]

### OS / Environment

[2021-12-20 22:34] bugale opened #5569 "Crash ``'Call' object has no attribute 'name'`` when accessing a private class variable"
### Bug description

Seems similar to #4638, but reproduces after its fix

When parsing the following file:

[code]

pylint crashed with a ``AttributeError`` and with the following stacktrace:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Not to crash

### Pylint version

[code]

### OS / Environment

Windows 11

### Additiona

[2021-12-20 22:55] Pierre-Sassoulas commented on #5569
I can reproduce this with the latest main, thank you for opening the issue.

[2021-12-21 01:47] DetachHead opened #5570 "internal errors exit with code 0"
### Bug description

when an [internal error](https://pycodequ.al/docs/pylint-messages/Internal.html) appears, the exit code is 0

[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

non-zero exit code

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2021-12-21 05:44] Wangwuyi123 opened #5571 "i want use pylint in github ci.how can i do?"
### Question

i want use pylint in github workflow,How should I use it？

### Documentation for future user

    - name: Lint with Black
      run: |
        pip install --upgrade pip
        pip install black wheel
        black xxx

Similar to the format above

### Additional context

_No response_

[2021-12-21 08:58] Pierre-Sassoulas commented on #5571
Hello, what did you try ?
[code]

[2021-12-21 09:14] DanielNoord commented on #5570
The `I` doesn't reflect an internal error but an information error. Note that the documentation you linked are not from our own repository, but from another project that uses `pylint`. They seem to misclassify these issues, perhaps you can raise an issue against their repository?

That said, you could make `pylint` return non-zero for information messages. We do so ourself in our `pre-commit` with

[2021-12-21 09:15] #5570 closed

[2021-12-21 10:03] Pierre-Sassoulas opened #5572 "Upgrade tbump to 6.6.1, fix the primer tests"
When upgrading tbump to 6.6.1 in #5561, it broke the main branch. @DanielNoord fixed the root issue with #5566, and the change was reverted in https://github.com/PyCQA/pylint/pull/5567. Now we need to revert the revert and fix the primer.

[2021-12-21 10:52] DanielNoord commented on #5572
I'm not sure the break is actually in `tbump`. The `stdlib` primer was failing after this change, so running over `tbump` likely wouldn't have catched this issue. I do wonder though why a change to `tbump` broke the `stdlib` primer..

[2021-12-21 11:15] kasium commented on #5
@Pierre-Sassoulas so my first investigation is not the root cause.

As far as I could track down the issue, if a submodule is loaded, the parent is loaded as well, so that a member check like `os.path` can succeed. However. since the whole `os` module is loaded, checks like `os.name` will succeed as well.

Instead of loading the whole `os` module if a child is requested, we maybe just want to retu

[2021-12-21 13:58] #5557 closed

[2021-12-21 13:58] #3877 closed

[2021-12-21 13:58] #5360 closed

[2021-12-21 14:01] Pierre-Sassoulas commented on #5572
Here's the traceback so we don't have to search for old github actions jobs later:
[code]

[2021-12-21 14:15] jacobtylerwalls commented on #4045
On main, this is only reproducible because of the context manager, which fails the following check (the context manager gets between the assignment and the TryExcept, so the TryExcept is actually _two_ parents up):

https://github.com/PyCQA/pylint/blob/52576b7552b68593a3ea28e20cd3751ccdc106d7/pylint/checkers/variables.py#L686

[2021-12-21 14:22] DanielNoord commented on #4045
Might be fixable with `checkers.utils.get_node_first_ancestor_of_type`?

[2021-12-21 14:36] With-the-sun commented on #2648
hi
when i run zhe "1_introduction.py", the function named "GraphConv" cant be found.
so ,how can i work out the problem, could u give me some advice?

[2021-12-21 15:50] dhgarrette opened #5578 "Suggest replacing `Tuple[X]` with `Sequence[X]` or `Tuple[X, ...]`"
### Current problem

When `Tuple[X]` is used as a type annotation, it means "a `tuple` of length 1, whose (sole) element is of type `X`". However, since there are not very many situations in which one would genuinely want to specify something as being a 1-tuple, the vast majority of the time that someone writes `Tuple[X]`, they are doing so out of a mistaken belief that `Tuple[X]` is analogous to

[2021-12-21 16:11] Lucas-C commented on #3877
Thanks for the fix @Pierre-Sassoulas !

[2021-12-21 16:41] Pierre-Sassoulas commented on #3877
I just reviewed ; @DanielNoord did the actual work :wink:

[2021-12-21 17:29] jacobtylerwalls commented on #4045
You can assign this to me, I'll give it a spin and report back.

[2021-12-22 02:09] DetachHead opened #5585 "`invalid-name` false positives on generics"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no error

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2021-12-22 04:38] jacobtylerwalls opened #5586 "False positive `used-before-assignment` for filtered comprehensions in try blocks"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No message.

Here, `found_nodes` for the node inside the generator expression includes the assignment of `value` in the except block.
https://github.com/PyCQA/pylint/blob/c0fbbb7adbc39cbd67bbd0e0b1ca4e9421c12643/pylint/checkers/variables.py#L611-L620

I'm not s

[2021-12-22 05:12] jacobtylerwalls commented on #5364
A data point. Since I'm back for round 2 on `used-before-assignment`, I linted `django` against main and my open PRs.
I spotted 1 new warning on main, and distinct new warnings on each of my PRs. One was a [true positive](https://github.com/django/django/blob/19fb838803f63eef0726a370050443b693f109be/django/utils/module_loading.py#L52-L64). Two were false positives (#5586 and https://github.com/PyC

[2021-12-22 07:36] DanielNoord commented on #5585
Duplicate of #3401. A PR has been opened (#5221) but it's waiting on review. I do think this should be fixed in `2.13` 😄

[2021-12-22 07:36] #5585 closed

[2021-12-22 08:25] Wangwuyi123 commented on #5571
I want to check all the .py files in the folder through pylint
And add this function to the continuous integration Ci, check all the pr
I did not find any relevant examples in your documentation

[2021-12-22 10:00] DanielNoord commented on #5392
I have started work on migration to `argparse`. I have not previous experience with any of the alternatives mentioned in this issue, but I think trying to depend only on `stdlib` is a good thing for a static checker such as `pylint`. It allows everybody to use `pylint` in combination with other linter or analysers.

One of the things that I think we should change (and I'm changing in my proposal)

[2021-12-22 10:13] DanielNoord commented on #4814
Is it me or is most of the time spent in the bottom left quadrant: handling of messages, messages states, symbols and ids? I'm not sure if I'm reading the graph correctly but we're spending 10% of the run in `get_active_msgids`. That seems like quite a bit..

So if anybody wants to work with this I think that's where they should be looking.

@Pierre-Sassoulas Perhaps we should update the title to

[2021-12-22 14:03] Pierre-Sassoulas commented on #4814
I'm going to create another issue for optimizing the message store. I'm not sure it's going to be enough to fix the startup time issue entirely but it seems like something we should pursue for sure.

[2021-12-22 17:15] Pierre-Sassoulas opened #5587 "Optimizing speed of the message store during starting and initialisation phase"
### Current problem

The message store is taking a long time to run during startup and it should not as it's not something that complex to do.

### Desired solution

Faster message store and message handling.

### Additional context

https://github.com/PyCQA/pylint/issues/4814#issuecomment-999453371

[2021-12-23 01:52] jacobtylerwalls commented on #2399
From FAQ:

values really bugs you, you can set the formula to be the maximum of 0 and the
above expression.

Any reason we wouldn't just do this now? I don't know why we would need to wait an unspecified amount of time for v.3.0, especially if it's so easy to get the old behavior back. Do folks really have CI pipelines where the passing scores is negative and a score 0.0 will unexpectedly pass?

O

[2021-12-23 08:04] tushar-deepsource opened #5588 "False positive `consider-using-dict-comprehension` when creating a dict using a list of tuple where key AND value vary depending on the same condition"
### Bug description

The following code snippet raises R1717:

[code]

Both of these contain an `IfExp`, which I don't think can be converted into a dict comprehension. Please correct me if I'm wrong.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

R1717 to not show up

### Pylint version

[code]

### OS / Environment

_No response_

#

[2021-12-23 08:05] tushar-deepsource commented on #5588
If this is actually a false positive, I'd be happy to submit a patch.

[2021-12-23 10:06] Pierre-Sassoulas commented on #5588
I think you can do : `{k: v if v > 0 else 0 for k, v in stuff.items()}`

[2021-12-23 10:08] tushar-deepsource commented on #5588
@Pierre-Sassoulas I don't think it generalizes, what if the key varies

`dict([(k, v) if v > 0 else (k * 2, 0) for k, v in stuff.items()])`

[2021-12-23 10:20] Pierre-Sassoulas commented on #5588
If there is the same condition used on both the key and the value, then it make sense to use tuple. (Because there's duplication with the dict comprehension : `{k if v > 0 else k * 2: v if v > 0 else 0 for k, v in stuff.items()}`).

[2021-12-23 10:22] tushar-deepsource commented on #5588
Now that's a very specific condition :P
I'll submit a patch soon

[2021-12-23 10:23] Pierre-Sassoulas commented on #5588
Haha, you called that an edge case, I think this was very descriptive :smile:  Thanks for handling this one !

[2021-12-23 11:40] anders-kiaer commented on #4577
Based on the findings in https://github.com/PyCQA/pylint/issues/4577#issuecomment-871694490 we use the workaround below which might be useful for others here facing this issue.

Basically we for now increase `astroid.context.InferenceContext.max_inferred` to a higher value than the hard coded 100 using e.g.
[code]
in `.pylintrc`, or alternatively as a direct command line argument
[code]

[2021-12-23 12:07] DanielNoord commented on #2399
Although I'm generally for changing things sooner rather than later I think the `2.12` update showed me that plugins and other integrations of `pylint` use our internals in very particular ways.
I don't think we can guarantee that nobody is relying on the fact that scores can be negative. I would be hesitant to change this right now. Also because there is not that much benefit to us. Although unin

[2021-12-23 13:19] mbyrnepr2 commented on #5113
@Pierre-Sassoulas @DanielNoord thanks for looking.
I take back what I said about the recursion being an issue in my previous comment. On further examination that logic looks ok - I must have confused myself when debugging.

The following changes seem to fix it, but I'll leave as draft for now as I would like to share progress but also double-check when I have more time:
https://github.com/PyCQA/py

[2021-12-23 15:19] Pierre-Sassoulas commented on #2399
Daniel is right about the fact that it might breaks things for some plugin mainteners / users. Sometime it's surprising.

![workflow](https://user-images.githubusercontent.com/5493666/147258919-6fa89c74-922c-4d7f-a172-ab8241553454.png)

But it's also making users feel bad (I remember I felt hurt with my first negative score 😄) and it's easy to change so we could change it.

I was thinking about th

[2021-12-23 15:31] cdce8p commented on #2399
Didn't know it either, but a search for `gamification` seemed to work 🤷🏻‍♂️ https://github.com/PyCQA/pylint/pull/4538#issuecomment-853355683

[2021-12-23 21:02] Hornwitser commented on #2399
The scoring algorithm is a config option (`--evalutation`), if someone depends on the exact value returned by pylint's score they can set it to use the old algorithm when it's changed.

[2021-12-23 21:04] DanielNoord commented on #2399
I think I misinterpreted @jacobtylerwalls. Sorry about that! Changing the default score evaluation should be fine indeed, not allowing negative scores should not be done (for now). Thanks for pointing this out @Hornwitser 👍

[2021-12-23 22:44] jacobtylerwalls commented on #2399
Cool. Yeah. That's what I was thinking. #5521 already changed the default evaluation for fatal errors and so it would make for a more consistent release story to say that in tandem with that we also set the (default) score floor to 0. I can push a PR to keep discussion going, not to be pushy!

[2021-12-23 23:34] DanielNoord commented on #4814
@DudeNr33 Do you happen to have the command you used to get this profile?
I used:
`python -m cProfile -o output.pstats -m pylint --disable=all test.py` and got:
![foo](https://user-images.githubusercontent.com/13665637/147299299-1a23bba7-4ab2-494f-987c-e3cf69c5b131.png)

It has a lot of nice so it's not particularly useful for finding any improvable areas.

[2021-12-24 10:30] DudeNr33 commented on #4814
@DanielNoord unfortunately I can't recall exactly. I think I ran it over the whole pylint codebase, and did not apply any additional options or filtering (my original graph also contains stdlib calls just like yours).

It could help to filter the results to only contain calls from ``pylint`` and optionally ``astroid``, which [should be possible with the ``pstats`` module](https://docs.python.org/3

[2021-12-24 10:34] DanielNoord commented on #4814
Hmm, I'll look into the `pstats` module as well. Although I think with my latest PR the issue found in your graph has been mostly fixed?

When I run cProfile now the most time is spent in `astroid` and importing modules.

[2021-12-24 10:51] DudeNr33 commented on #4814
Yes, that's what I thought too when I saw your graph.

I played around a bit, and while exporting to CSV is not really straightforward with ``pstats``, using it on the command line is also quite good. For example sorting by cumulative time and only outputting calls within ``pylint`` itself:

[code]

This gives:

[code]

(Taken from the current main branch, with ``output.pstats`` produced by runnin

[2021-12-25 06:45] tushar-deepsource opened #5598 "``useless-else-on-loop`` should not be raised on `return`"
### Bug description

Here's a typical example of W0120 being raised:

[code]

And this code **doesn't** raise W0120 (correctly):

[code]

But, this code is pretty much identical in function and it **does** raise W0120 (bug):

[code]

The check for W0120 should check for both `break` and `return` in the while block.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[co

[2021-12-25 07:40] yarnabrina opened #5599 "Getting `unspecified-encoding` with Path().open("w")"
I understood from #5017 that it is expected to be solved by version `2.11.1`, but I'm facing same issues even now. I do not get this with binary files (`"wb"`) though.

## Reproducible Example

#### Code

[code]

### Folder Structure

[code]

### Configuration

**None**

### Invocation Command

(Same happens without `--enable=all` as well)

### Pylint Output

[code]

### Expected Output

**None**,

[2021-12-25 11:36] DanielNoord commented on #5599
I believe this is expected behaviour. You're not specifying that the file should be openend in binary mode, so it's openend in text mode making an encoding "required". The issue you're referring to indicated that we did not recognise the binary mode parameter correctly. This has been resolved.

[2021-12-25 11:37] #5599 closed

[2021-12-25 12:01] yarnabrina commented on #5599
@DanielNoord : I do not want to open it in binary mode at all. I want to open it in text mode only, and it is a completely valid python code. It should not raise any warning at all.

If it is an "expected issue", how exactly will you specify the encoding?

(And I know binary mode parameter is solved. Said so myself in the main thread already.)

[2021-12-25 12:54] DanielNoord commented on #5599
@yarnabrina Whether you open in binary or text mode is referred to as the `mode` in which you open. The encoding is the codec used to open the file. You can fix it (for example) by doing `open("w", encoding="utf-8")`.
Please also the official Python documentation which explains the difference between them [here](https://docs.python.org/3/library/functions.html#open).

Those docs also refer to as t

[2021-12-25 14:35] iamtodor commented on #4322
Hello @Pierre-Sassoulas
Any updates on this issue?
We are really missing Github actions for pylint

[2021-12-27 09:18] Pierre-Sassoulas commented on #4322
Hi, no one worked on it yet, contributions are welcome :)

[2021-12-27 09:28] #4067 closed

[2021-12-27 11:49] tushar-deepsource commented on #5598
There's a few test cases in `W0120` that I don't quite understand:

[code]

Why should `W0120` be raised here?

[2021-12-28 12:58] #5587 closed

[2021-12-28 13:00] DanielNoord commented on #4814
With #5596 I think it makes sense to revisit this issue and see if there is anything actionable left.

@DudeNr33 what do you think we should look at before closing this?

[2021-12-28 15:30] #2399 closed

[2021-12-28 15:44] Pierre-Sassoulas opened #5604 "Next step in pylint's gamification and user experience"
This is a follow up to #2399 and relate to #5403. It was discussed in detail in https://github.com/PyCQA/pylint/pull/4538#issuecomment-853355683

Right now when starting to use pylint the score can be really bad and we might be dumping thousands of warning on users. This is demoralizing, even for code quality oriented persons and hurting adoption for legacy projects.

The first step is Implementin

[2021-12-28 15:45] Pierre-Sassoulas commented on #2399
Opened https://github.com/PyCQA/pylint/issues/5604 for the follow-up.

[2021-12-28 18:32] areveny commented on #5403
How sensitive should this be? We could use `difflib` to naively compare baseline with new output. But that would present baseline messages as new in a file that has its line numbers changed.

We could ignore line numbers in the diff, which would not raise baseline errors as long as they are in the same relative order.

Is this a good general approach or is there an existing pylint feature we could

[2021-12-28 19:17] Hornwitser commented on #2399
I don't think the implementation of taking max(0, score) to avoid negative scores is any better than the negative scoring. Now when you get a really bad score it'll be 0 and there's the possibility that you could still be given a score of 0 after doing lots of improvements. For example where the previous score would be -20, it's now 0. If you improve it to what would be -3 it's now still 0. For th

[2021-12-28 19:31] jacobtylerwalls commented on #2399
It's marginally better in the sense that a fatal error can produce a score of zero as of #5521, so introducing a fatal error could have raised your score from -20 to 0, which is bad. Your suggestion still has independent value, so if it were me and I wanted to pursue it I would most likely open a new issue or draft PR.

[2021-12-28 19:35] Pierre-Sassoulas commented on #5403
There is a way to generate expected pylint output for a python file in the functional tests (ex [here](https://github.com/PyCQA/pylint/tree/main/tests/functional/a/abstract): the couple ``abstract_method.py`` and ``abstract_method.txt``). We then load it in a set to compare to what we have as pylint's output. We could create a "baseline directory" with the same architecture than the project contai

[2021-12-28 19:38] Pierre-Sassoulas commented on #2399
I agree with both of you, feel free to open an issue with a one liner version of your proposal @Hornwitser.

[2021-12-28 19:45] Hornwitser commented on #5604
The experience I had using Pylint on an existing codebase was 1500 messages being reported and no way to sort through it, no way to determine what has changed or compare with previous runs and no way to filter by the messages or modules I want to work on. I ended up [writing an html interface to display the reports based on the JSON output that has all of these features.](https://www.hornwitser.no

[2021-12-28 20:01] Pierre-Sassoulas opened #5607 "Refactor the message handling to use a smaller data structure"
### Current problem

The message store use message definition, which are big data structure only required when we need to create the messages or explains the message. This is minor as it's probably a small performance gain. Also, we dynamically check and generate the data structure from our code which is always the same for a version.

### Desired solution

We could use the msgid internally and si

[2021-12-28 21:31] superbobry opened #5608 "redefined-outer-name emitted for variables in the same namespace"
### Bug description

pylint emits `redefined-outer-name` for loop variables defined in nested for statements. For example,

[code]

Technically, both definitions of `y` are in the same namespace, and while this code does look fishy, the `redefined-outer-name` message seems irrelevant. The message is **not** emitted for

[code]

nor

[code]

### Configuration

_No response_

### Command used

[code

[2021-12-28 23:03] jacobtylerwalls commented on #5608
`The message is not emitted for ...`

Hi there @superbobry, I think your contrasting examples articulate quite nicely what `redefined-outer-name` is looking for. Your contrasting examples would be something like `redefined-name`, not `redefined-outer-name`. Does that make sense why `redefined-outer-name` does what it does? It's specifically looking for nested redefinitions.

[2021-12-29 00:29] cdce8p commented on #5607
Worth remembering that the `msgid` might not be unique. AFAIK we don't enforce it currently. (It might not even be practical with custom plugins.)

[2021-12-29 08:28] Pierre-Sassoulas commented on #5607
The msgid (``C0111``) and associated symbol (``missing-docstring``) are unique by definition, or it means that the same msgid refer to different checks/warning, which would be very problematic. It's also checked at run time right now (in the MessageIdStore) for both pylint's code, loaded extensions and user extensions.

[2021-12-29 08:39] superbobry commented on #5608
Thanks for the clarification @jacobtylerwalls.

I think I understand why `redefined-outer-name` is emitted there. It would probably be better to emit something like `redefined-name` instead, but my point is slightly different. I find the fact that special-casing is for loops only confusing. For example, nothing is emitted for

[code]

nor for

[code]

even though technically, the loop variable red

[2021-12-29 09:18] DanielNoord commented on #5608
Just my two cents:

Your first example seems like a false positive. `redefined-outer-name` serves to remind you of "outer-names" you might have forgotten about and I think this is an example of such a case.

The second example should probably be another (new) message like `redefined-loop-name`? Creating a new message would also allow disabling or enabling it specifically.

[2021-12-29 10:55] Pierre-Sassoulas commented on #4814
After #5605 and #5606 I don't see any low hanging fruits anymore. I tested with ``pylint --disable=all setup.py``. I can't manage to make ``gprof2dot`` works right now (``error: failed to load pylint.prof, maybe they are generated by different python version?``) So no screenshot but here's my analysis anyway:

- isinstance is taking 1,5% of the runtime alone, maybe a better typing would slightly h

[2021-12-29 13:46] DudeNr33 commented on #4814
Sorry I did not respond yet, I haven't found the time to look at it properly. But I trust your analysis, if there are no more low hanging fruits we should not keep this issue open "just in case", but rather create a new one if we find spots were concrete improvements can be done.

I also noticed that the ``astroid`` import is a large part of the startup time. I did not know about ``python -X impor

[2021-12-29 14:52] Pierre-Sassoulas commented on #4814
I reread prior comments, where you said the startup time was:

The import time from astroid now takes 92% of the total, I think it's safe to say, if we find area for improvement in pylint, it's probably going to be impactful only once we take care of astroid import time. I'm going to close this issue, thank you all who participated !

[2021-12-29 14:52] #4814 closed

[2021-12-29 15:02] Pierre-Sassoulas commented on #4814
I opened https://github.com/PyCQA/astroid/issues/1320 for the follow-up

[2021-12-29 15:18] DanielNoord commented on #5608
@jacobtylerwalls Ah yes!

[2021-12-29 16:46] superbobry commented on #5608
Note that to really get the first example right pylint would likely have to do proper reachability analysis (and I really think it shouldn't tbh). E.g. imagine `i = 42` happens inside control flow

[code]

[2021-12-29 17:29] jacobtylerwalls commented on #5608
Ah, but in that example, `i` is no longer an outer name, no? I think there there should be no message, because `i` is a variable defined in a loop that when the loop exits, we haven't bothered to delete (idiomatic Python).

[2021-12-29 19:04] orSolocate commented on #5348
@Pierre-Sassoulas  - is it a Do or a No Do for you guys?

[2021-12-29 19:05] orSolocate commented on #4124
@Pierre-Sassoulas  - if the tox environment does not include `numpy` than this issue should be considered closed (NO DO).

[2021-12-29 19:17] superbobry commented on #5608
I guess that would depend on what "outer" means. The help string for `redefined-outer-name` refers to "outer scope"

https://github.com/PyCQA/pylint/blob/532be9afa75bd090a389db0f172c47ba9d37b411/pylint/checkers/variables.py#L488-L490

in which case `redefined-outer-name` is probably not applicable to any of the examples in this issue, since all variable definitions occur in the same namespace.

[2021-12-29 20:12] Pierre-Sassoulas commented on #5348
@DanielNoord added a thumbs up, so I guess he agree with it :)

I don't remember why I added the discussion label, I agree with the general idea of the checker. Maybe I thought we'd need to discuss the details. What do you think @cdce8p ?

[2021-12-29 20:16] Pierre-Sassoulas commented on #4124
We discussed recently the possible creation of a ``pylint-numpy`` plugin so the specificity of numpy are handled somewhere else than in pylint / astroid. Would you be interested in maintaining such a plugin @orSolocate ? (See https://github.com/PyCQA/astroid/issues/1312)

[2021-12-29 20:24] orSolocate commented on #4124
@Pierre-Sassoulas  So the `pylint-numpy` would have numpy in its environemnt obviously and will use pylint infrastructure? just without the checkers? and it will have only it's numpy specific checkers?
Like the user would run 2 commands `pylint` and `pylint-numpy` the check their code?

[2021-12-29 21:17] DanielNoord commented on #5572
Looking at the stacktrace and want I changed in https://github.com/PyCQA/astroid/pull/1321 I think this might actually be a "requires astroid update". We should at least try and see if this gets fixed with an `astroid` version that includes that fix. It seems as if this might be the type of issue that was solved with the initial fix in https://github.com/PyCQA/astroid/commit/6ca01e0e1c691f08fbed9f

[2021-12-29 21:29] Pierre-Sassoulas commented on #4124
I think it should override some checker to add specific behavior, and register a properly maintained numpy brain for astroid. But the way to use pylint should not change. It's just additional plugin if you use numpy, marshmallow, etc.

[2021-12-30 09:01] DanielNoord commented on #5598
I'm not sure. It feels like they should indeed also not raise. Have you looked at the commit and PR that added them? Perhaps there is a discussion there?

[2021-12-30 09:13] DanielNoord commented on #5608
Wouldn't it be better if `redefined-outer-name` would warn on a loop variable names that shadow a previously declared variable? Taking the latest example and making it a bit more realistic:

[code]

This is still very made-up and doesn't necessarily reflect a real world scenario but I think this is a potential bug that `pylint` could/should warn about.

[2021-12-30 14:10] cdce8p commented on #5348
It looks like a check that could be quite useful! We just need to be careful to not create false positives when iterating over a copy of the list / dict. `.copy()` is the obvious one, but there are others, too. Eg. `copy(d)` or even something like `[k for k in d]`.

The check could also cover `sets` as they also raise a `RuntimeError` in this case.

[2021-12-30 14:43] sevdog commented on #3089
Can this be reconsidered?

It is not a good way to have to disable `redefined-outer-name` every time there is a wildcard import since it may shadow a real redefinition if by any means a new element is added.

[2021-12-30 16:03] DanielNoord commented on #3089
@sevdog Although I was not part of the original discussion the issue of dynamically changing `__all__` and `pylint` inferring these changes still stands. We don't have any good control flow recognition in `pylint` so we don't really know what is and what isn't in a tuple at any given point.
Seeing as the underlying problem still exists I don't think this would be on the horizon anytime soon. Sorry

[2021-12-30 16:14] tusharsadhwani commented on #5598
Removing those tests should make the PR ready for review, brb

[2021-12-30 16:22] DanielNoord commented on #5513
I'm adding to this that https://bugs.python.org/issue33053 seems to have been fixed in 3.7. We mention that issue in here:
https://github.com/PyCQA/pylint/blob/019794b808271d45f86a7014e9c91cb04458a47a/pylint/__init__.py#L56

We need to update the docstring to reflect whatever the situation in 3.7+ is.

[2021-12-30 16:47] cdce8p commented on #5513
We could also consider if we want to require `3.7.2` instead of `3.7.0`. That would prevent any upcoming issues with `NoReturn`. Just to be clear though, the current code works with `3.7.0` just fine.
_For reference #5304._

[2021-12-30 18:21] #5588 closed

[2021-12-30 21:11] #5320 closed

[2021-12-30 21:31] Pierre-Sassoulas commented on #5572
My next goal is to release astroid 2.9.1, let's see how it goes after this is done.

[2021-12-30 22:20] mbyrnepr2 opened #5617 "Add new checker `redefined-slots-in-subclass`"
### Current problem

According to the Python documentation, slots defined in a subclass should contain the names of **additional** slots only.

Example - ok:
[code]

Example - Not ok:
[code]

### Desired solution

Emit a warning when a subclass is encountered which redefines a slot which is already defined in one of its parent classes;
For example: `redefined-slots-in-subclass`

### Additional con

[2021-12-30 22:20] mbyrnepr2 commented on #5617
Please feel free to assign to me if this looks ok!

[2021-12-30 22:46] Pierre-Sassoulas commented on #5571
Please see https://pylint.pycqa.org/en/latest/user_guide/run.html#invoking-pylint

[2021-12-30 22:46] #5571 closed

[2021-12-30 22:49] Pierre-Sassoulas commented on #5
Do you mean by astroid or pylint ? Could you point to the specific code doing the loading ?

[2021-12-31 01:18] cdce8p commented on #5572
The primer tests do seem to work in #5600. The `CACHE_VERSION` bump might have fixed it.

[2021-12-31 07:40] Pierre-Sassoulas commented on #5572
We upgraded tbump to 6.6.1 in #5561, I4m going to rename this to 6.7.0 and put it in the milestone for pylint 2.14 as we need to drop python 3.6 first.

[2021-12-31 13:04] DanielNoord commented on #5461
@cdce8p Do we still want to add a test for this in `pylint`?

[2021-12-31 13:25] DanielNoord commented on #5461
Made a PR with little regression test

[2021-12-31 14:46] #1470 closed

[2021-12-31 14:46] #3499 closed

[2021-12-31 14:46] #4302 closed

[2021-12-31 14:46] #4798 closed

[2021-12-31 14:46] #5081 closed

[2021-12-31 17:40] bkline opened #5625 "Suppression of no-member false positives broken"
### Bug description

[code]

### Configuration

No custom configuration file used.

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No output is expected. What would _really_ be nice is for `pylint` to understand how `setattr()` works, but that's not the bug which this issue is reporting. It appears from the output that the directive to suppress the reporting of the `no

[2021-12-31 19:13] orSolocate commented on #5348
@cdce8p  I agree with expanding it to sets too, good idea.
Do you know what is the take of `astrroid` for this? i.e. for a code like this:
`lst1 = [1]

lst2 = lst1.copy()`

I guess those lists would be considered as different objects. So the algorithm could be simple as this:
[code]

[2021-12-31 22:44] bkline commented on #5625
OK, I've got some more clues. It turns out that it's not the difference between `__whatever__()` methods and `whatever()` methods. As far as I have been able to determine so far, the bug is in play, regardless of whether or not the method is a "dunder" method, _iff_ both of the following two conditions are met:

1. the member reference is inside a string coded using multiline syntax
2. the string

[2022-01-01 03:48] nickdrozd commented on #5604
Perhaps this would be a good time to revisit the topic of what's enabled by default. It would be interesting to know what checks are typically disabled. For myself, I always disable the ones that require docstrings. In my experience those warnings account for a lot of the noise.

[2022-01-01 08:38] dpinol opened #5626 "false negative missing member"
### Bug description

[code]

This code should cause  two E1101 no-member reports, but it only reports the second one.

### Command used

[code]

### Pylint output

[code]

### Expected behavior

[code]

### Pylint version

[code]

### OS / Environment

Can reproduce in both windows and WLS2

### Additional dependencies

On a virtualenv with only pylint installed
[code]

[2022-01-01 10:48] orSolocate commented on #5348
@cdce8p what code produces the error for Sets for you?

running:

`
item_set = {1, 2, 3}
for item in item_set:
    item_set.add(item)
`

in Python 3.7.7 has no runtime error. The runtime error only appears with Dictionaries..

[2022-01-01 11:14] orSolocate commented on #5348
@cdce8p  How about a shrinking list?
I think it is also an issue to consider, because when you iterate through a list whose items are being deleted the grabbing of the next item is unexpected.
[because the call to `next` is after the item deletion, and if you deleted the current item than you skip the next one(!)].
Like in this example:

[code]

output:
1
3

explanation: `1` is removed and printed

[2022-01-01 16:51] Pierre-Sassoulas commented on #5604
@nickdrozd you can discuss this in #3512

[2022-01-01 17:58] orSolocate opened #5627 "Update arg to mypy pre-commit checker"
### Bug description

Running pre-commit checkers on my environment shows `mypy` error related to `missing-imports` .

[link ](https://mypy.readthedocs.io/en/stable/running_mypy.html#missing-imports
)to mypy docs.

The error is gone when updating `.pre-commit-config.yaml` adding:

`args: [--ignore-missing-imports]`

Also in pre-commit `mirrors-mypy` [docs](https://github.com/pre-commit/mirrors-mypy

[2022-01-02 02:50] jacobtylerwalls commented on #801
Fixed in 107f59e949f1824251d14717eb57650273c0ffff

[2022-01-02 03:30] jacobtylerwalls commented on #2856
#### minimal example without exception handlers

git/__ init __.py

[code]

git/exc.py
[code]

a.py
[code]

python a.py
[code]

pylint a.py
[code]

[2022-01-02 09:17] Pierre-Sassoulas commented on #801
Thank you for the triaging @jacobtylerwalls, much appreciated.

[2022-01-02 09:17] #801 closed

[2022-01-02 11:18] DanielNoord commented on #5626
We would need to understand typing annotations for this to work. See https://github.com/PyCQA/pylint/issues/4813

[2022-01-02 11:20] DanielNoord commented on #5627
I think we do this on a per-package basis in `setup.cfg`. @orSolocate Could you try and see if adding colorma there works for Windows? I think most currently active contributors work on Mac or Linux..

[2022-01-02 17:51] DGarciaMedina commented on #4542
I agree that this check would be very useful to have! Would allow developers to remove dead code that isn't referenced anywhere.

One thing to note is that the line with ```_some_constant = 42``` currently triggers the error ```Constant name "_some_constant" doesn't conform to UPPER_CASE naming style (invalid-name)```. In this case I believe it would be better to replace the existing message with

[2022-01-02 17:59] Pierre-Sassoulas commented on #4542
Regarding the issue with the UPPER_CASE naming style it's another issue entirely and should be discussed elsewhere (I think the consensus is to allow both snake_case and upper case naming style for module level variable.

Regarding the unused level module private and protected function, please check what is currently being done in [this related MR](https://github.com/PyCQA/pylint/pull/5610) if you

[2022-01-02 20:26] 1kastner commented on #2894
The signature mutators option mentioned in https://github.com/PyCQA/pylint/issues/3108 allow exactly that.

[2022-01-02 20:27] 1kastner commented on #629
This has been further discussed in, among others, https://github.com/PyCQA/pylint/issues/3108

[2022-01-02 20:45] Pierre-Sassoulas commented on #629
This has been fixed in the latest pylint. Current result:

[code]

[2022-01-02 20:45] #629 closed

[2022-01-02 21:07] DanielNoord commented on #2894
I think we can close this then right?

[2022-01-03 00:42] jacobtylerwalls commented on #5370
Good candidate for `redefined-outer-name`.

[2022-01-03 02:18] jacobtylerwalls commented on #4434
This bit on line 9 (the false negative for `redefined-outer-name`) is fixed in #5630. I'll add a regression test.

The false positive on line 8 for `used-before-assignment` is weird.

[2022-01-03 02:25] jacobtylerwalls commented on #4434
Oooh, no -- that's just how the python interpreter works!

[code]
Gives
```UnboundLocalError: local variable 'CustomException' referenced before assignment```.

***
So I think ultimately this is a duplicate of #5370, but I can add the smart test case.

[2022-01-03 02:53] piotr-machura commented on #3518
Hi, this issue causes problems when using pylint's json format in language servers - in the case of pygame it can be ad-hoc fixed by adding `export PYGAME_HIDE_SUPPORT_PROMPT="hide"` to the working environment, but it would be great to have a proper fix for other such C extensions.

[2022-01-03 06:48] Pierre-Sassoulas commented on #4391
Should probably be handled the same way as #5630 with a LIFO queue.

[2022-01-03 07:15] mbdevpl commented on #3181
Just in case anybody else wonders about the `load-plugins` in `pyroject.toml`, from my experiments both of the below seem to work:

[code]

[code]

... but of course the 2nd one looks so much better :)

Similar flexibility seems to be allowed by other fields that expect comma-separated lists, and interestingly in pydocstyle as well... Although I'm not sure if that's intended/guaranteed in any way.

[2022-01-03 15:39] jacobtylerwalls commented on #5524
Extending this example, if the try block actually defines `msg` instead of returning, since there is not exhaustive error handling (by assigning the name, or raising or exiting), then we could emit a message that the use of the name needs to be guarded by `else`. Maybe that's also `used-before-assigment`, or maybe it's not. 🤔

Maybe `consider-using-try-else` (or if that's too weasel-worded, maybe

[2022-01-03 18:03] Pierre-Sassoulas opened #5631 "Checker to suggest keyword argument when using non-meaningfull litterals as positional argument"
### Current problem

Imagine you have the following call:

[code]
It's very hard to understand what the code is doing. Instead you'd want to have keyword arguments:

[code]
On the contrary for :
[code]
Doing the following do not bring much value:
[code]

### Desired solution

A new checker that would raise ``use-keyword-arguments-for-literals`` (or something better) when we encounter a meaningless

[2022-01-03 18:39] DanielNoord commented on #5631
Duplicate of #385 😉

[2022-01-03 19:28] Pierre-Sassoulas commented on #385
For the following call:

[code]
It's very hard to understand what the code is doing. Instead you'd want to have keyword arguments:

[code]
On the contrary for :
[code]
Doing the following do not bring much value:
[code]

I think a new checker should raise ``use-keyword-arguments-for-literals`` (or something better) when we encounter a meaningless literal (not for a string containing characters).

[2022-01-03 19:29] #5631 closed

[2022-01-03 19:38] #4434 closed

[2022-01-03 19:38] #5370 closed

[2022-01-03 21:13] #5627 closed

[2022-01-04 09:00] superbobry commented on #5608
I have no specific examples to back this up, but my gut feeling is that the false positive rate of such a check would be too high for it to be useful.

[2022-01-04 09:03] DanielNoord commented on #5608
Could you give an example of a false positive?

[2022-01-04 09:36] DanielNoord commented on #746
To get this thread some traction again I think we need to redefine what needs to be done to close this. To recap what I believe are the main points and what still needs to be done.

- [x] Reports have been turned off by default
- [x] Code style has been moved to an extension and has therefore become opt-in like most wanted to
- [ ] We need better defaults > This is being tracked in #3512 and is th

[2022-01-04 20:22] martimlobao opened #5635 "Pylint catches missing method in some situations but not in others"
### Bug description

Pylint ignores a `no-member` error when invoking a non-existing method from a Spark Context class if the class is returned from another method, but correctly recognizes the method does not exist if I call it on a `SparkContext` object directly.

I don't know if this is an issue with spark/pyspark specifically or if it's a more general issue, or if it's something that I should

[2022-01-04 22:04] Pierre-Sassoulas commented on #5635
Thank you for opening the issue. Without looking too much into it, it's probable that our internal ast, astroid, do not understand this code construct and need better parsing capability, or more reasonably a hard coded tip for spark (we call that an astroid brain).

[2022-01-04 23:05] Pierre-Sassoulas commented on #5578
I think this is a good idea, I already made the mistake myself.

[2022-01-05 00:23] xNinjaKittyx opened #5636 "Using custom braces in message template does not work"
### Bug description

Have any list of errors:

On pylint 1.7 w/ python3.6 - I am able to use this as my message template
[code]

However, on Python3.9 with Pylint 2.12.2, I get the following:
[code]

Is this intentional or a bug?

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Expect the dictionary to print out with `"Category"` as the

[2022-01-05 00:26] xNinjaKittyx commented on #5636
Subsequently, there is also this behavior with the quotes
[code]

[2022-01-05 00:29] DanielNoord commented on #5578
I might be totally wrong here but wouldn't sequence be incorrect for this:
[code]
I have been told that return value typing should be restrictive whereas argument typing should be as "open" as possible.

[2022-01-05 00:42] xNinjaKittyx commented on #5636
Commit that changed the behavior was probably this one: https://github.com/PyCQA/pylint/commit/7c3533ca48e69394391945de1563ef7f639cd27d#diff-76025f0bc82e83cb406321006fbca12c61a10821834a3164620fc17c978f9b7e

And I tested on 2.11.1 that it is working as intended on that version.

[2022-01-05 04:18] DetachHead opened #5637 "option to treat `TYPE_CHECKING` as `True`, or add a separate variable"
### Current problem

i have some edge cases where a class behaves differently at runtime than what the type checker thinks. here's a super minimal example:

[code]
in this case i don't want a pylint error here for the same reason i don't want a mypy error.

### Desired solution

either:

- option to treat `TYPE_CHECKING` as `True`
- add a `PYLINT_LINTING` variable that works the same way, which is

[2022-01-05 04:51] eight04 opened #5638 "unspecified-encoding error when the encoding is specified with positional argument"
### Bug description

*test.py*
[code]
Get an error on L3 even the encoding is already specified. I think this also applies to `read_text()`.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

L3 should not raise `unspecified-encoding`.

### Pylint version

[code]

### OS / Environment

Windows 10 64-bit / CMD

### Additional dependencies

[2022-01-05 09:36] Pierre-Sassoulas commented on #5636
Thanks for digging into this !

[2022-01-05 15:17] jacobtylerwalls commented on #5608
After reading the discussion on #5146, I think that the first example in https://github.com/PyCQA/pylint/issues/5608#issuecomment-1002461462 (and which @DanielNoord elaborated on) is valid usage, and should not emit a message (so pylint's current behavior is right.) This is the correct way to guard against the iterable being empty if the loop variable is accessed afterward:
[code]

I agree that sh

[2022-01-05 20:06] dhgarrette commented on #5578
@DanielNoord: A small clarification: The lint error I'm suggesting wouldn't trigger for your example since it doesn't contain any length-1 tuple type annotations (i.e., `Tuple[str, int]` is a perfectly appropriate use of `Tuple`, whereas if someone writes `Tuple[str]`, that would likely indicate an error).

But the larger point you're making is totally valid: the suggested fix might be different d

[2022-01-05 22:36] DanielNoord commented on #5578
But what about:
[code]
For example when I know that later on I want to concatenate the return value of `func` onto another tuple. Can't there be cases where the return value actually is `Tuple[int]`? We could discuss whether `pylint` should suggest `-> int` and do the cast to `tuple` somewhere else, but I can see this happening

[2022-01-05 23:39] DanielNoord commented on #5637
This should be opened in `astroid` probably as this has more to do with inference than what `pylint` does. Something with inferring constraints and checking those.

[2022-01-05 23:53] dhgarrette commented on #5578
Yes, that case is certainly possible, but I think that such intentional cases are really quite rare in comparison to uses of `Tuple[X]` that are due to a misunderstanding of its meaning. Anecdotally, in investigating this issue, I did a fair bit of grepping through code to see how widespread this problem is, and found a huge number of cases where people wrote `Tuple[X]` and then treated it as if i

[2022-01-05 23:58] DanielNoord commented on #5578
While I totally agree that this is probably often misunderstood and it would be good to "fix" that I don't think we should add a checker of which we know there are unfixable false positives.

See some discussion in https://github.com/PyCQA/pylint/issues/746 about preferring false negatives over false positives. We really want to avoid false positives over false negatives. If we can come up with a

[2022-01-06 07:40] Pierre-Sassoulas commented on #5578
It's not surprising to me.

I agree with the premise, but then we would need to detect the type of the return. First this is complicated, second It would be stepping on mypy's toes.

Having said that, I think returning a tuple of one element makes little sense and should never happen. If you're going to make the code evolve later, then maybe you ain't gonna need it, or you should keep it simple an

[2022-01-06 09:36] #5255 closed

[2022-01-06 11:08] jeroenNG commented on #3502
Is there any update on this?

[2022-01-06 11:57] Pierre-Sassoulas commented on #3502
We're not maintaining pylint 1.9 anymore. In the latest pylint, with:

a.py:
[code]

And m.py:
[code]

We do not get any `attribute-defined-outside-init` as expected.

If you're using a function called `initialize` or `ìnit`, consider initializing in the function that is semantically the constructor in python (`__init__`) or disable the warning for your project or the class.

[2022-01-06 18:22] CarliJoy opened #5644 "Pylint is not using a src/ folder"
### Bug description

Pylint does not have a src folder

Led me into problems developing and test at least from time to time.

Here an exmplaination stolen why this a good idea:

## Why does PyScaffold ≥ 3 have a ``src`` folder which holds the actual Python package?
   This avoids quite many problems compared to the case when the actual Python package resides in the same folder as
   your configura

[2022-01-07 12:53] jrom99 commented on #4083
Hello, this also happens in gspread, I tried to make a minimal reproducible example, but I'm not sure if I did it right.

**Steps to reproduce**

[code]

[code]

**Current behaviour**
[code]

**pylint --version output**
pylint 2.12.2
astroid 2.9.2
Python 3.9.7 (default, Sep 10 2021, 14:59:43)
[GCC 11.2.0]

I tried the following:

[code]

But pylint still sees `error_data['status']` as an error.

[2022-01-07 17:25] paride opened #5645 "[2.12.x] false positives: no-name-in-module, import-error"
### Bug description

Pylint 2.12.x emits `no-name-in-module` and `import-error` false positives with Python 3.6. This doesn't happen with pylint 2.11.x, or with newer Python versions.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No `E` tags.

### Pylint version

[code]

### OS / Environment

Ubuntu 18.04.

### Additional dependencie

[2022-01-07 20:38] Pierre-Sassoulas commented on #5645
Thank you for opening the issue. Sorry but we're not going to fix this unless someone open a MR fixing it before pylint 2.13.0 is released as pylint 2.13.0 is the latest version supporting python 3.6 and as python 3.6 is past end of life now.

[2022-01-07 20:57] DanielNoord commented on #5645
@Pierre-Sassoulas Didn't we add a test specifically for this https://github.com/PyCQA/pylint/commit/11eba03a9de2cf2293f0d952f0c8988b9bfd870d as an regression test against changes in `astroid` `2.9.2`?

@paride Just to be sure, could you try this while pinning `astroid` to `2.9.0`?

[2022-01-07 21:03] Pierre-Sassoulas commented on #5645
I thougth so but the version reported is:
[code]
As we did not change anything in pylint and the astroid used is the latest I don't think the bug is gone away.

[2022-01-07 21:37] doctoryes opened #5646 "Crash ``'FunctionDef' object has no attribute 'ancestors'``"
### Bug description

When parsing the file here:

https://github.com/openedx/XBlock/blob/59c2f28e32548b8cb78b8f7c733bf64689a9a751/xblock/test/test_core.py

pylint crashed with a ``AttributeError`` and with the following stacktrace:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

All the repo code should pass pylint checks. In fa

[2022-01-07 21:52] doctoryes commented on #5646
A possible fix is here:
https://github.com/PyCQA/pylint/pull/5647

[2022-01-07 21:59] doctoryes commented on #5646
I saw this crash bug with this version of the XBlock repo code:
https://github.com/openedx/XBlock/tree/b67123d3597e8dd1cca4efdda3d7d7415bc3ceeb

I'm including this specific URL as I'm about to commit some changes which fix the pylint errors causing the crash.

[2022-01-08 00:15] DanielNoord commented on #5646
Reproducible code is:
[code]

Assigning myself, probably get to this next week!

[2022-01-08 14:00] jiridanek opened #5648 "Crash: `AttributeError: 'If' object has no attribute 'name'`"
### Bug description

Pylint crashes while parsing a project file

[pylint-crash-2022-01-08-14.txt](https://github.com/PyCQA/pylint/files/7833321/pylint-crash-2022-01-08-14.txt)

### Configuration

[tox.ini.txt](https://github.com/PyCQA/pylint/files/7833323/tox.ini.txt)

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Pylint should not crash while parsing any file.

###

[2022-01-08 14:28] Pierre-Sassoulas commented on #5648
Thank you for opening the issue !

[2022-01-08 16:08] jacobtylerwalls commented on #5608
This is tough, because although I'm somewhat partial to creating a new checker instead of extending `redefined-outer-name`, I feel the new case we are discussing:

[code]

... is very similar to the nested loop scenario that already works, and if we make them both `redefined-loop-name`, then the previous disables for `redefined-outer-name` will break:

[code]

[2022-01-08 17:12] jacobtylerwalls opened #5650 "[Testing] `--update-functional-output` generates changes on main"
### Bug description

`--update-functional-output` generates quotation changes just on main branch, see:

https://github.com/PyCQA/pylint/compare/main...jacobtylerwalls:functional-output-diff

### Configuration

[code]

### Command used

[code]

### Pylint version

[code]

### OS / Environment

Tested on both MacOS 11.6 and 10.13.6

### Additional dependencies

_No response_

[2022-01-08 17:22] DanielNoord commented on #5650
Which OS are you using? I know I looked into this previously and thought all issues with escaping quotes in the functional tests had been fixed..

[2022-01-08 17:26] jacobtylerwalls commented on #5650
My fault for assuming not relevant. MacOS 11.6 and 10.13.6

[2022-01-08 17:30] DanielNoord commented on #5650
Hmm, I used the same OS to update all tests recently when we added end line and column.

@Pierre-Sassoulas added this specific test a couple of days ago. Could it be that the escaping is different on his OS? (Linux, I believe). That would be problematic

[2022-01-08 19:31] jacobtylerwalls opened #5653 "Should raise `undefined-variable` for self-referencing walrus operator expressions"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

line 2: undefined-variable

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-01-08 19:41] jacobtylerwalls opened #5654 "Should emit `used-before-assignment` for unused type annotation after the same name appears multiple times in a comprehension"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

test.py:7:37: E0601: Using variable 'my_none' before assignment (used-before-assignment)

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-01-08 19:42] jacobtylerwalls commented on #5326
I broke the false negative out into #5624. That means this ticket is now just a false positive with a PR to close it.

[2022-01-08 21:41] jacobtylerwalls commented on #5524
We can close #2835 as a duplicate.

[2022-01-09 10:43] JCGoran opened #5655 "False positive `no-name-in-module` in Matplotlib component"
### Bug description

Create a file `example.py` with the following content:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Pylint shouldn't report the `No name 'FigureCanvas' in module 'matplotlib.backends.backend_agg' (no-name-in-module)
` error since the class actually exists, and the very next line says that the (now succes

[2022-01-09 18:39] Pierre-Sassoulas commented on #2835
Closing as duplicate of #5524

[2022-01-09 18:46] Pierre-Sassoulas commented on #5650
The second part of the diff is especially strange, it seems like it's not escaping and actually a different string entirely ?
[code]

[2022-01-09 22:38] DanielNoord commented on #5650
No that's actually escaped correctly I think (for this system of escaping). The string is put between quotes and then any string within the string is double-quoted.

@Pierre-Sassoulas Could you test if you get the same diff on your local machine?

[2022-01-10 11:16] paride commented on #5645
@DanielNoord no false positive when pinning `astroid==2.9.0`.

[2022-01-10 12:38] Pierre-Sassoulas commented on #5650
I can reproduce the issue under ubuntu with pyhon 3.8.

[2022-01-10 15:57] sevdog commented on #3089
Just to have an other case which I encountered to be considered.

[code]

The error E1102 is reaise because pylint is ignoring the `__all__`  variable of first package and thus belives it _shadows_ `datetime` in the second-one while this does not happen!
This can be avoided by switching imports, but this will go againsts PEP-8 recommends (place first standardlib imports). This case was particular

[2022-01-10 16:25] DanielNoord commented on #5650
But is the output different for `3.8` and `3.10`? As in, is there something wrong with our updater or does this test currently pass with incorrect escaping and will it be enough to just update it once?

[2022-01-10 16:44] Pierre-Sassoulas commented on #5650
It's the same diff. I guess to solve this long term we'd need to add a test for the update too ? I.e. no diff when launching the update. It would take a while for almost no benefit though.

[2022-01-10 16:50] DanielNoord commented on #5650
Yeah, this seems to be a rare case then.

@jacobtylerwalls Since you found this, do you want to make a PR created by running the updater over all functional tests so they are all up to date again?

[2022-01-10 16:52] jacobtylerwalls commented on #5650
Indeed, it was only these two strings! Done in #5660

[2022-01-10 16:52] Pierre-Sassoulas commented on #3089
I don't think it's worth it because importing with wildcards is discouraged anyway for obvious reasons (it's confusing, and hard to reason about). pylint has trouble understanding what's happening but a human would also have trouble doing it.

If someone want to fix it, we'll review and merge but we have a lots of considerably higher priority issues.

[2022-01-10 17:07] #5650 closed

[2022-01-10 17:08] DanielNoord commented on #5645
Note that https://github.com/DanielNoord/pylint/pull/74 does not report a false positive here...

I'm not sure what is going wrong here. It probably has to do with recent changes in `astroid` but apparently it does not fall on all setups. @paride Are you using a `venv` or anything?

[2022-01-10 17:21] paride commented on #5645
@DanielNoord now I'm a bit confused: I can reproduce the issue in a virtual environment created using virtualenv(1), but not in a `venv`.

## venv:

[code]

## virtualenv:
[code]

[2022-01-10 17:23] DanielNoord commented on #5645
Hmm this has something to do with `virtualenv` and they way they patch `distutils`. See changes in https://github.com/PyCQA/astroid/pull/1321/

Could you check if the issues also exists in `3.7`? I'm having trouble compiling `3.6` and `3.7` locally for some weird reason..

[2022-01-10 17:24] paride commented on #5645
Also happening with Python 3.8 (from the python3.8 Ubuntu Bionic package):

## virtualenv

[code]

It works in a `venv`.

[2022-01-10 17:25] DanielNoord commented on #5645
Ah that's too bad. I hoped it would be resolved. Looks like we're going to have to revert https://github.com/PyCQA/astroid/pull/1321/ then, or at least try and come up with a solution.

I hope to get to this somewhere this week. I'd like to fix this issue for real this time 😄

[2022-01-10 17:28] paride commented on #5645
@DanielNoord thanks! If you need testing/verification do not hesitate to ping me.

[2022-01-10 19:48] #4045 closed

[2022-01-10 22:05] #5333 closed

[2022-01-10 22:11] #5326 closed

[2022-01-11 10:28] DanielNoord commented on #4662
@Pierre-Sassoulas I see you have assigned yourself to this.

I have checked out the latest commit on https://github.com/mMerlin/cellular_automata/, `09e1c` and `9cec8` and none of them crash any longer. I think this has been fixed already. Should we close this?

[2022-01-11 10:31] DanielNoord commented on #5317
Shall we start the discussion on `check_docs`? The change that deprecated `check_docs` for backward compatibility is 6 years old, see https://github.com/PyCQA/pylint/commit/9423e31126fa2e951d17d1d57d59c1b14bbbd404

Maintaining it is problematic as we can't load the same plugin twice without crashing on the option registering. The change to use `docparams` is also quite easy (just change `check_doc

[2022-01-11 15:50] #5569 closed

[2022-01-11 15:54] DanielNoord commented on #5586
@jacobtylerwalls This is one of the final issues in `2.13` without an associated PR. Would you consider taking a look at it before we release it? Feel free to say no obviously, I'm just going through any remaining open issues and PRs 😉

[2022-01-11 16:01] jacobtylerwalls commented on #5586
I'll let you know this week if I think I can. Meanwhile, I was wondering if you had a gut feeling about this part without having to do much investigation straight away:

And if so, is that in `astroid`? Or other related issues you know of with comprehension variables not being isolated enough by the variables checker?

[2022-01-11 16:45] DanielNoord commented on #5586
Thanks!

[code]
This raise `unused-variable` but I think could be a start. A little investigation showed that we do check the `comprehension` scope for a `value` name but we don't seem to find it. Then we move up to `function` and see that is defined after we try and access it.
The fix should thus probably be in `_check_consumer` and how it handles the `ifs` of comprehensions.

[2022-01-11 19:37] DanielNoord commented on #5645
@paride One follow-up question. Which version of `virtualenv` are you using?

[2022-01-11 22:13] Pierre-Sassoulas commented on #5317
Same here, I think it's pretty safe to do at this point.

[2022-01-11 22:14] Pierre-Sassoulas commented on #4662
Thank you for checking @DanielNoord 😄 Indeed I think we can close

[2022-01-11 22:14] #4662 closed

[2022-01-11 22:17] paride commented on #5645
@DanielNoord an older one:
[code]

[2022-01-11 22:29] DanielNoord commented on #5645
Ah that might explain it. I know that something changed in how `virtualenv` patches `distutils`, although I'm not sure when that change occurred. Let me retry!

[2022-01-11 22:31] #3077 closed

[2022-01-11 23:33] DanielNoord commented on #5645
I'm running into issues getting `virtualenv==15.1.0` to work on my Mac with a homebrew installation of python.
I guess that's one of the things that was fixed in `20.0.0`.

I would really like for this to be solved without adding a new dependency to `distutils` to `astroid`... We could also pin `virtualenv` to 20+ which is what `tox` seems to be doing. If anybody can get `virtualenv` to work it wo

[2022-01-12 08:55] DanielNoord commented on #5645
@Pierre-Sassoulas Would you be willing to take a look at this? To recap, https://github.com/PyCQA/astroid/pull/1321/ is incompatible with `virtualenv==15.1.0` and I believe everything under 20.0.0. We though removing those lines on L169 was possible since `list(distutils.__path__)` seemed similar to `[spec.location]` due to the check on L166. Apparently it is not.

It would be very helpful if you

[2022-01-12 12:49] NeilGirdhar commented on #5495
If this happens again, I suggest at least catching the exception and maybe outputting a single line error.  That would be much more gracefull than stack traces.

[2022-01-12 13:02] DanielNoord commented on #5495
Normally I think all exceptions are automatically turned into an issue template for the user to easily report the issue here. It might be that that isn't working when we're using multiple threads and running `pylint` in parallel.

@Pierre-Sassoulas Do you know something about this?

[2022-01-12 14:46] tushar-deepsource opened #5667 "Add a flag to disable config parsing"
### Current problem

Here's a sample broken `.pylintrc`, placed in the root folder:

[code]

This is what happens when I try to use pylint now:
[code]

Is it possible to add a flag that disables config parsing entirely, so that the pylint isn't completely broken when this happens? `--ignore-config-file` for example?

P.S. this is a feature I want, and I'd be willing to contribute it.

[2022-01-12 14:49] tushar-deepsource commented on #5667
Optionally, raising a warning using a logger when config parsing fails might be a good idea.

[2022-01-12 15:15] DanielNoord commented on #5667
I'd recommend waiting for the `argparse` migration to do this if we want to.

That said, I'm not sure this should be allowed. I'm probably missing something, but in what scenario would you want to run `pylint` without being able to fix a faulty `pylintrc`?

[2022-01-12 15:27] Pierre-Sassoulas commented on #5667
There's [functional tests for the configuration](https://github.com/PyCQA/pylint/tree/main/tests/config/functional) that would permit to implement this relatively easily (at least on the testing side.) Also there's already [specific messages raised for faulty configuration](https://github.com/PyCQA/pylint/blob/main/pylint/lint/pylinter.py#L182), it would be possible to add a generic one like "bad-

[2022-01-12 15:34] tusharsadhwani commented on #5667
Adding a message for bad config would be just as good (probably better I suppose, as it's more directly actionable)

[2022-01-12 15:52] DanielNoord commented on #5667
Adding it to the `argparse` project then :)

That should get some traction again after `2.13` is released.

[2022-01-12 16:18] #5586 closed

[2022-01-12 17:18] areveny commented on #5648
When checking overriding method argument names, currently it expects the overriding method to be at the top level of the class. Putting a method definition in an `if` statement causes the crash.

Reproduction example:
[code]

See:
[code]

[2022-01-12 20:51] Pierre-Sassoulas opened #5668 "Investigate #5495 (crash without a provided template)"
See https://github.com/PyCQA/pylint/issues/5495#issuecomment-1011022169

[2022-01-12 20:52] Pierre-Sassoulas commented on #5495
I think the template should be provided when the issue happens in astroid, (because astroid is hard to test as we'd need to provide all possible code construct which is not reasonable. If something crash in pylint it means we did not test properly). It looks like there's a problem in astroid and the template is not created so I opened https://github.com/PyCQA/pylint/issues/5668 to follow up.

[2022-01-13 08:47] DanielNoord opened #5670 "Investigate use of ``lru_cache`` on methods"
### Problem

I stumbled upon this video which explains problems with using `lru_cache` on methods as it leaks `self`. I haven't watched the full video yet but watched the previous video and saw the PR at `pytest` here: https://github.com/pytest-dev/pytest/pull/9148

This is something we're doing ourselves as well and could be a potential source of memory leaks and other problems. I think this warr

[2022-01-13 11:26] #5281 closed

[2022-01-13 11:48] tushar-deepsource opened #5671 "False `unbalanced-tuple-unpacking` report"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No issue raised.

### Pylint version

[code]

### OS / Environment

MacOS Monterey

### Additional dependencies

_No response_

[2022-01-13 14:38] DanielNoord commented on #5671
This would require control flow inference I think as we would need to infer the value of `x` before we're sure what `f()` returns.
I agree that the message currently is a bit weird (0 vs. 2), but I think the current false positive makes more sense than the false negative:
[code]

[2022-01-13 15:09] tusharsadhwani commented on #5671
A simpler fix would be: if it can see that x's value is being changed later (seeing that there's an append or extend call in the code below for example) then it shouldn't raise the issue.

[2022-01-13 19:38] #5646 closed

[2022-01-14 04:07] bje- opened #5677 "invalid-name warnings do not distinguish true constants"
### Bug description

"""very minimal test case"""

x = 10
x += 1

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No output is expected. In this example, `x` is not a constant. Data flow analysis can distinguish between global variables that are initialised only once (as constants) and global variables that are modified throughout the s

[2022-01-14 08:55] Pierre-Sassoulas commented on #4701
I'm going to try a 2.13 branch where we back-port bug fixes and crash fixes to be released as patch this time. So we do not have crash fixes waiting for month while we finalize a minor release There's a "Needs Backport" label let's start using this and squashing the MR that needs backport for easy cherry-picking. This is going to massively increase the release cadence for bug/crash fixes. Putting

[2022-01-14 11:20] jenstroeger commented on #2792
I’m running into a similar issue with platform specific exit codes (e.g. [`os.EX_OK`](https://docs.python.org/3/library/os.html#os.EX_OK)) that [exist on UNIX systems but not on Windows](https://docs.python.org/3/library/intro.html#notes-on-availability).

For example, it would be great to disable `pylint` warnings for a certain platform, e.g.
[code]

[2022-01-14 11:49] superbobry opened #5678 "redefined-outer-name not emitted for names in enclosing namespace"
### Bug description

pylint does detect redefinitions in enclosing scope and instead goes directly to globals. So, the following example does not produce `redefined-outer-name`

[code]

whereas this one does

[code]

If this is WAI, I think we should consider adjusting the documentation for `redefined-outer-name`.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[cod

[2022-01-14 13:10] Pierre-Sassoulas commented on #2792
In the past we've created brains for astroid combining attribute from all platforms (sometime the lib is built differently on each platfrm so there's no other way).

[2022-01-14 13:29] davekirby opened #5679 "linting code containing sqlalchemy FunctionElement and compiler.compiles crashes pylint with an InferenceError exception"
### Bug description

After upgrading pylint from 2.2.2 to 2.12.2 and astroid from 2.1.0 to 2.9.3, a file that contained sqlalchemy user function definitions caused pylint to crash with an InferenceError exception.   I have cut the file down to the example code below, and it still crashes.  Curiously if you remove either the FunctionElement subclass OR the expression.compiles decorator it works, ev

[2022-01-14 13:54] Pierre-Sassoulas commented on #5679
Thank you for opening the bug. This is quite an upgrade you did there !

[2022-01-14 18:20] Pierre-Sassoulas commented on #5678
Confirmed to still be an issue in 2.13.0-dev0

[2022-01-14 18:32] Pierre-Sassoulas commented on #5677
This kind of is a duplicate of other issue regarding ``invalid-name``, the proposition was that both ``snake_case`` and ``UPPERCASE_WITH_UNDERSCORE`` should be permissible as there is no sane/fast way to check if a module level variable is a constant. This is probably a high priority issue seeing the number of duplicate that exists. (https://github.com/PyCQA/pylint/issues/4606, https://github.com/

[2022-01-14 18:40] Pierre-Sassoulas commented on #2246
We have opinionated checkers like one that ban the use of while loop or ternary condition so adding check for assignment expression is not out of scope for pylint. This need to be optional and opt-in though, because we're trying to not be too opinionated by default.

[2022-01-14 19:57] jenstroeger commented on #2792
@Pierre-Sassoulas, are you suggesting to open an issue with [`astroid`](https://github.com/PyCQA/astroid) instead of here with `pylint`?

[2022-01-14 21:25] Pierre-Sassoulas commented on #2792
Yes, or a MR directly. Sorry for the delay the MR I was referencing was surprisingly hard to find 😄 [Creating a brain with a mashup of multiple OS's code](https://github.com/PyCQA/astroid/pull/1172)

[2022-01-14 22:43] #5648 closed

[2022-01-15 00:25] jacobtylerwalls opened #5683 "False positive for `used-before-assignment` in `else` clause when the only non-`break` exit from a loop is an except block"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No message. Identified by @martimlobao and discussed in detail https://github.com/PyCQA/pylint/pull/5402#issuecomment-1012791780.

Quoting from my [suggested](https://github.com/PyCQA/pylint/pull/5402#issuecomment-1013209351) solution:

So maybe this is the con

[2022-01-15 11:43] DanielNoord commented on #5479
Fixed with #5494.

[2022-01-15 11:43] #5479 closed

[2022-01-15 11:51] DanielNoord commented on #4822
@Redoubts Do you have any code examples on which this occurs? Looking at the `git blame` I think I see which commits caused this regression between `2.6.5` and `2.6.6` but to resolve this a test case would be useful!

[2022-01-15 11:54] DanielNoord commented on #4932
@qohelet Could you provide the code you're working on and that causes this? Specifically `home/qohelet/MOP/pyara/flycheck_AUtils.py` which seems to be causing the issue. I'm not sure how `flycheck` works but I can do some investigation with a code example.

[2022-01-15 12:03] DanielNoord commented on #5408
I think this was fixed. On `main`:
[code]
No longer crashes either with:
[code]

[2022-01-15 15:47] asottile commented on #5670
you probably also want to ban `@functools.cache` on methods -- glad you enjoyed my video :)

[2022-01-15 15:53] DanielNoord commented on #5670
Thanks @asottile! Wasn't sure whether if you would appreciate being tagged but I did wonder if there were other troublesome functions. I'll open an issue for `cache` in a couple of minutes.
I do wonder though, in the [docs of `functools`](https://docs.python.org/3/library/functools.html) there is an example of turning `cached_property` into a stacking of `property` and `cache`. Wouldn't that creat

[2022-01-15 16:24] asottile commented on #5670
yeah that would likely have the same issues

[2022-01-15 20:54] jacobtylerwalls commented on #5598
@DanielNoord That looks like the commit intending to do what @tushar-deepsource wants to do and permit `return` alongside `break`. Looks like they reversed themselves about a month later: 31e6b776a, giving the current behavior.

Meaning I think they expected they might go to the current behavior.

I guess I don't see a strong reason for the change; it just causes churn.

[2022-01-15 22:21] orSolocate commented on #4124
@Pierre-Sassoulas  I don't think I can commit for something like that right now.. but some new Pylint checkers are on the plan..

I close it for now..

[2022-01-15 22:21] #4124 closed

[2022-01-16 08:59] Pierre-Sassoulas commented on #5408
I can reproduce on main, even without installing setuptools ``45.3.0`` it seems.

[2022-01-16 09:51] DanielNoord commented on #5408
Oh wait, I didn't see the version requirement for `setuptools`. Never mind.

[2022-01-16 10:49] mbyrnepr2 commented on #856
I can't reproduce this on the current pylint; @DanielNoord perhaps you could be a second pair of eyes and this issue can be closed?

[2022-01-16 11:16] mbyrnepr2 commented on #982
Neither example emits `unsubscriptable-object` on the latest pylint in my tests. @Pierre-Sassoulas  can this be closed?

[2022-01-16 11:34] Pierre-Sassoulas commented on #856
We removed wrong-hanging-indent from pylint à while ago.

[2022-01-16 11:34] #856 closed

[2022-01-16 11:37] Pierre-Sassoulas commented on #982
Thank you for triaging @mbyrnepr2, much appreciated !

[2022-01-16 11:37] #982 closed

[2022-01-16 16:52] jacobtylerwalls commented on #5265
I can reproduce on Python 3.8.10, but not on 3.10.1.

Reproduces
[code]

Does not reproduce
[code]

[2022-01-16 19:16] #5568 closed

[2022-01-16 20:50] mbyrnepr2 commented on #931
I can't reproduce this on the latest pylint; no `undefined-variable` errors are emitted for the reported example code. Perhaps we can close the issue.

[2022-01-16 21:02] #931 closed

[2022-01-16 21:03] Pierre-Sassoulas commented on #931
I can't reproduce either, thank you @mbyrnepr2

[2022-01-16 21:06] #5617 closed

[2022-01-17 04:10] asadovsky commented on #689
Very simple repro:

a.py:
[code]

b.py:
[code]

Run this in your shell:

[code]

[2022-01-17 09:34] #3088 closed

[2022-01-17 16:55] areveny commented on #4562
The false negative in the original post is related to the below code in `typecheck.py` `TypeChecker.visit_attribute` where we check usages of `node.attrname`.

[code]

We correctly exclude instances of `nodes.AugAssign`, which combine an operator and an assignment, e.g. `+=` because these rely on the attribute being already defined. These are not added to `missingattr` on which messages are emitte

[2022-01-17 17:35] areveny opened #5693 "Use `good first issue` label on issues"
### Current problem

GitHub now gives special meaning to the `good first issue` label on issues. I think it would be good to conform to this standard replacing `contributor friendly`.

Issues labeled with `good first issue` are surfaced in a couple places to help potential contributors find things to work on. Furthermore, not using the label means anybody trying to search on it will think there ar

[2022-01-17 18:49] mbyrnepr2 commented on #1829
I can't reproduce with the latest Pylint; can be closed?

[2022-01-17 18:49] mbyrnepr2 commented on #1433
I can't reproduce with the latest Pylint; can be closed?

[2022-01-17 19:03] DanielNoord commented on #5693
Good suggestion and I think it makes sense.

However, I think before doing so it would be good to do some "maintenance" and see if these issues are actually beginner friendly. I like your "clear direction and a fairly simple closed-ended fix". I think for many of these issues a consensus on the name for the new checker is missing, which would greatly help with the "clear direction" aspect.

[2022-01-17 20:43] areveny opened #5695 "Performance improvement with reusing checks for attribute validity"
### Current problem

While triaging #4562 I noticed two occurrences of `obj.value` causes two calls to `typecheck.visit_attribute` which is a fairly substantial method.

[code]

These two `visit_attribute` calls should produce the same result from the same scope, so it seems natural to cache the result.

I did a quick implementation of the general concept in the linked PR and there are some promis

[2022-01-17 21:25] mbyrnepr2 commented on #2851
On latest Pylint `no-member` is emitted as expected for `self.b` in the given examples 1 & 2. Perhaps this can be closed.

[2022-01-17 21:58] DanielNoord commented on #2851
Thanks @mbyrnepr2! I'm closing this :)

[2022-01-17 21:58] #2851 closed

[2022-01-17 21:59] DanielNoord commented on #1433
Thanks @mbyrnepr2! Closing this :)

[2022-01-17 21:59] #1433 closed

[2022-01-17 21:59] DanielNoord commented on #1829
Thanks @mbyrnepr2! Closing this :)

[2022-01-17 21:59] #1829 closed

[2022-01-17 23:01] DanielNoord commented on #4826
This is probably an issue in `astroid`.
I wrote the following code to show different behaviour in similar code:
[code]
[code]

With `for a in [self] + []` the inference seems to stop at recognising that it is a list and is unable to go any further.
I haven't looked at any `astroid` internals yet, but this should be a good start to find where this needs to be fixed or handled better.

[2022-01-17 23:09] Pierre-Sassoulas commented on #5693
We also conflate "help wanted" with "beginner friendly" right now. Sometime an issue is very hard but we still want help 😄

[2022-01-18 09:58] bersbersbers commented on #3596
Cannot reproduce any longer with `tensorflow==2.8.0rc0` and
[code]

I am even getting a `useless-supression` now with this code:

[code]

[2022-01-18 09:58] #3596 closed

[2022-01-18 12:05] bersbersbers commented on #4912
Here's an example summarizing the missing consistency with `(possibly-)unused-variable`:

[code]

[2022-01-18 13:33] DanielNoord commented on #4670
This has been fixed in a recent release 😄. Closing this!

[2022-01-18 13:33] #4670 closed

[2022-01-18 15:30] DanielNoord commented on #4941
@Goldziher You're issue was being tracked in #4790 for which I just created a fix #5697. Should be available in `2.13` 😄

[2022-01-18 19:35] BelchiorSaeg opened #5699 "False positive: unsubscriptable-object when using classmethod and property together"
### Bug description

[code]
`... 0`

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

************* Module untitled

------------------------------------------------------------------
Your code has been rated at 10/10

### Pylint version

[code]

### OS / Environment

### Additional dependencies

_No response_

[2022-01-18 20:24] mbyrnepr2 commented on #2009
No `no-member` emitted on latest Pylint. Can this issue be closed?

[2022-01-18 20:25] DanielNoord commented on #2009
Thanks @mbyrnepr2

[2022-01-18 20:25] #2009 closed

[2022-01-19 00:09] #5693 closed

[2022-01-19 00:28] mwgamble commented on #4452
This would be fantastic. I would also appreciate other obvious code smells, like classes full of nothing but static functions.

It frustrates me immensely that pylint has a rule for "too many statements" out of the box, but isn't checking for these more important architectural issues. One time I added a bunch of logging statements to a function and triggered the "too many statements" rule. That do

[2022-01-19 07:32] mbyrnepr2 commented on #3328
I can't reproduce on pylint version 2.13; perhaps this issue can be closed.

[2022-01-19 07:32] mbyrnepr2 commented on #2461
I can't reproduce on pylint version 2.13; perhaps this issue can be closed.

[2022-01-19 07:35] ffissore commented on #4670
Confirmed! Thx!!

[2022-01-19 07:50] DanielNoord commented on #3328
Thanks @mbyrnepr2!

[2022-01-19 07:50] #3328 closed

[2022-01-19 07:51] DanielNoord commented on #2461
Thanks @mbyrnepr2!

[2022-01-19 07:51] #2461 closed

[2022-01-19 07:58] DanielNoord commented on #5693
@areveny Did you move the labels? Or are we keeping them both?

[2022-01-19 08:31] Pierre-Sassoulas commented on #5693
I only changed the label content from "Contributor friendly" to "good first issue", as it's really fast / easy to do. Identifying "good first issue" in the current 700+open issues and checking that the current one are really "good first issue"  and not simply "help wanted" would take a huge time. I don't think I can do that as I'm already struggling with reviewing opened MR😄 So I agree with closin

[2022-01-19 08:46] Pierre-Sassoulas commented on #4452
You may want to disable too-many-statement and activate the [maccabe plugin](https://pylint.pycqa.org/en/latest/technical_reference/extensions.html#design-checker). We may want to change the default values ourselves.

[2022-01-19 09:12] Pierre-Sassoulas opened #5701 "Should ``pylint`` be equivalent to ``pylint .`` ?"
### Current problem

Right now pylint is displaying the help if called without argument. We could also default to the current directory i.e. ``pylint`` would be equivalent to ``pylint .``.

### Desired solution

If you want ``pylint`` to be equivalent to ``pylint .`` then react to this post with 👍, if not react with 👎.

### Additional context

Tools like ``flake8`` and ``pytest`` default to curren

[2022-01-19 09:18] DanielNoord commented on #5701
To explain why I'm against this change:
1) This is a large breaking change as it changes the behaviour of how `pylint` is invoked. The benefit is that you wouldn't need to type " .", which is minimal in my opinion and therefore does not warrant such a large breaking change.
2) Arguably, this is also incorrect as when a user invokes `pylint` without any directories are files as argument we don't kn

[2022-01-19 10:06] bersbersbers opened #5702 "stdout is broken after `pylint.lint.Run`"
### Bug description

This is `bug.py`:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

[code]

### Pylint version

[code]

### OS / Environment

OpenSUSE Leap 15.2 Linux

### Additional dependencies

_No response_

[2022-01-19 10:15] bersbersbers opened #5703 "`lint.py_run` does not use `setup.cfg`"
### Bug description

This is `bug.py`:

[code]

### Configuration

This is `setup.cfg`:

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Should issue `useless-suppression` in both cases.

### Pylint version

[code]

### OS / Environment

OpenSUSE Leap 15.2 Linux

### Additional dependencies

_No response_

[2022-01-19 11:48] DanielNoord commented on #5702
This is because `pylint` will exit with a `SystemExit` with this particular set of arguments.
You'll see that if you change the code to:
[code]

The line will get printed.

[2022-01-19 13:39] bersbersbers commented on #5702
I see, thanks! Related:
https://github.com/PyCQA/pylint/blob/2ab7d536159f5e54c195db7a42f00261c3b67827/pylint/lint/run.py#L370-L372

So this also works:

[code]

I am now wondering if I should have seen that in the docs somewhere. If I should have, feel free to close this.

[2022-01-19 13:44] DanielNoord commented on #5702
Hmm, we don't really discuss running `pylint` from within a file in the documentation. I think we kind of assume that if you're doing that you'll likely look at the source code as well and might catch peculiarities likes this as well.

I'd be happy to review a PR if you got any good suggestions for a place in the documentation on where to discuss this, but if you're not up to that please close thi

[2022-01-19 13:47] bersbersbers commented on #5703
Here's an extended example which shows that `pylint.epylint.py_run`, `pylint.lint.Run`, and `subprocess.call(["pylint", ...])` all three behave differently:

[code]

Output:
[code]

[2022-01-19 13:50] bersbersbers commented on #5702
Alright, agreed - thanks for the workarounds anyway!

[2022-01-19 13:50] #5702 closed

[2022-01-19 13:54] DanielNoord commented on #5703
@bersbersbers This seems to be related to exploring configuration files (obviously).

We're in the middle of migrating our options parsing from `optparse` to `argparse` which will probably also touch upon this.
However, this will probably take some more time, as we need `2.13` released before we can continue working on it.

I'm not sure what your specific use case is, but I think it might take som

[2022-01-19 14:06] DanielNoord commented on #5703
@bersbersbers Ah, okay! Well `subprocess` seems the way to go indeed.

Could you do something for me though? Could you apply the following patch:
[code]
And see what gets printed as `config_file`? For my own environment I got quite surprising results.. It found: ` /Users/daniel/.pylintrc`, which I totally forgot about and did not expect to be found.

[2022-01-19 14:12] bersbersbers commented on #5703
Using this patch and the code from https://github.com/PyCQA/pylint/issues/5703#issue-1107909741, this is what I get:

[code]

[2022-01-19 14:23] DanielNoord commented on #5703
I found the issue:
https://github.com/PyCQA/pylint/blob/2ab7d536159f5e54c195db7a42f00261c3b67827/pylint/epylint.py#L95-L119

Because you're creating a `tempfile` the `child_path` becomes the temporary file directory, which does not contain `setup.cfg`. I think if you create a `setup.cfg` in the temporary dir this should still work.
Why does the other command behave differently than `subprocess`? B

[2022-01-19 15:00] #3781 closed

[2022-01-19 15:22] bersbersbers commented on #5703
Thanks! `pylint.run_pylint` does not take any arguments, but `pylint.lint.Run` does. This works:

[code]

I would have noticed that this one works if my example in https://github.com/PyCQA/pylint/issues/5703#issuecomment-1016482552 had not had a copy-and-past error...

So this working for me. Just for my understanding - there is still a bug to be fixed in `epylint`, right? Because according to the

[2022-01-19 15:45] DanielNoord commented on #5703
Yeah calling `Run` directly also works!

Hm, I'm not sure about `epylint`. I believe it is the `pylint` used for emacs and I think there is a reason why they do that path resolving before instantiating `Run`. I don't think we really have any issues reported about emacs users not being able to configure their `pylint`. I'm going to wait on @Pierre-Sassoulas but I think we can close this.

_There is

[2022-01-19 17:15] Pierre-Sassoulas commented on #5703
(As far as I know epylint has no users because I never seen any open an issue or a merge request. I'm not using emacs myself, so epylint bugs are probably going to take forever to fix.)

If you think the documentation could be made clearer/better with the knowledge you just acquired feel free to open a documentation merge request @bersbersbers,, otherwise I think we can close :)

[2022-01-19 22:26] jnsnow opened #5704 "false positive 'c-extension-no-member' when running in environment with setuptools>=60.0"
### Bug description

For some reason that I definitely don't understand, if I am using Python 3.7 (3.7.12) and I am running my pylint tests from inside of a venv that simply happens to have setuptools `>=60.0.0` installed, pylint gives me warnings I do not see in any other circumstance:

[code]
or
[code]
or
[code]

I see this on pylint versions from as old as `2.8.0` all the way up to `2.12.0`.

I

[2022-01-19 23:05] jnsnow commented on #5704
Possibly related reading:

https://github.com/pypa/setuptools/pull/2896
https://github.com/PyCQA/astroid/pull/1316
https://github.com/PyCQA/astroid/issues/1313

[2022-01-20 00:32] yumasheta opened #5705 "False E0237 for __slots__ and collections.abc.Iterable and Container and subtypes using TypeVar specialization."
### Bug description

Consider the following example:

[code]

False E0237 are issued for the valid code (except that the subtypes still have abstract methods).
The false error messages are only issued when the `abc` types are specialized with a `TypeVar`. Using explicit (in this case built-in) types raises no error.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[c

[2022-01-21 09:14] DanielNoord commented on #5679
The following `diff` would fix this issue:
[code]

However, I'd like to investigate if we can't prevent this `InferenceError`. It seems this might be preventable. Similarly, we might want to add the `try...except` to `getattr` in `astroid` instead of `pylint` as `getattr` does not really reflect that it using `inference` and that it should be guarded by an `except`.

[2022-01-21 14:39] DanielNoord commented on #5679
I'm trying to narrow down the issue. I think I have found a solution that goes beyond catching the exception, but I wonder if my new fix isn't masking a deeper issue.

@davekirby I got the reproducible example down to:
[code]

I don't really understand why `compile_concat_for_postgresql` is necessary for this to crash. I have no experience with `sqlalchemy` and I grepped for the function name but

[2022-01-21 20:41] jnsnow commented on #5704
Doing some digging here. I'm using today's origin/main for pylint (gently mangled with debug prints) and astroid==2.9.3.
As a recap, I can find the extra error output only when using setuptools >= 60.0.0 and python 3.7 or python 3.8.

I see some failures for socket.AF_UNIX, socket.SOCK_STREAM, socket.timeout, socket.AF_INET, socket.SOL_SOCKET, socket.SO_REUSEADDR, socket.SCM_RIGHTS, struct.pack, r

[2022-01-21 22:25] flisboac opened #5706 "Improper "arguments-differ" for implementation of overloaded methods when using an abstract base class (ABC)"
### Bug description

Title says it all.

Consider the following snippet of code. Save it as `test_pylint.py` somewhere:

[code]

`DefaultService` implements the abstract base class `Service`. As it is an implementation, I expect to only need to define the method implementation, and not repeat overloads in the class.

I also expect the implementation signature to be complete, in both the ABC and im

[2022-01-21 22:27] flisboac commented on #5706
If I may take this moment to make a further question. Please see the comments on the following code snippet. Consider my previous snippet (in the issue description) as a base:

[code]

[2022-01-21 22:40] hroncok commented on #5704
The thing is, we have changed Python 3.9 and 3.10 to work with the setuptools 60+ distutils, but not yet 3.8 or 3.7.
If I give you a build of Python 3.7 that does the same, could you test it? What is your Fedora version?

[2022-01-21 22:41] hroncok commented on #5704
Oh, I see that it is Fedora 34.

[2022-01-21 22:43] hroncok commented on #5704
bah. we have figured out how to move our distutils patch to sysconfig for the `/local/` addition in https://github.com/pypa/setuptools/pull/2896 but we have not considered the lib64 thing :/ will need to change pypa/distutils even more -- this will take some time.

[2022-01-21 22:47] hroncok commented on #5704
This is however very weird :/ Maybe the environment value isn't propagated deep enough?

[2022-01-21 22:50] hroncok commented on #5704
I've opened https://github.com/pypa/distutils/issues/110

[2022-01-22 00:15] jnsnow commented on #5704
Yup, I goofed. I think it was getting dropped in an intermediate process somewhere.

[code]

So just in case anyone wanders in from `your search engine of choice`, setting `SETUPTOOLS_USE_DISTUTILS=stdlib` really ought to help here.

Thanks @hroncok !

[2022-01-22 11:43] LorhanSohaky commented on #4918
@DudeNr33 , do you see any problem?

[2022-01-22 18:08] nnadeau commented on #2354
Came across this today and I'm curious about the status:

- this issue is currently closed
- but the [best answer above](https://github.com/PyCQA/pylint/issues/2354#issuecomment-414526879) is in favour of f-strings
- Python 3.5 is deprecated, so f-strings should be fully supported
- many issues referencing this issue are simply disabling W1203

Disabling W1203 appears to be the consensus until som

[2022-01-22 19:08] mbyrnepr2 commented on #5671
The warning isn't emitted with Pylint version 2.13.
I can reproduce it after downgrading to 2.11 as in the report.

[2022-01-22 19:11] tusharsadhwani commented on #5671
That's awesome. Got any timeline for 2.13 release?

[2022-01-22 19:33] mbyrnepr2 commented on #5671
Let's see if a maintainer has an answer for you on that.

Having looked at your example on 2.13 further, I've noticed a false-negative when assigning more than 1 item on the left-hand-side in the example; so that would need to be updated.

[2022-01-22 22:29] Pierre-Sassoulas commented on #5671
You can see what's still need to be done in order to release 2.13 in the milestones: https://github.com/PyCQA/pylint/milestone/49

[2022-01-22 22:48] Pierre-Sassoulas commented on #2354
It's tracked in #3512 now.

[2022-01-23 00:06] mbyrnepr2 opened #5707 "False negative - tuple unpacking & empty list"
### Bug description

As mentioned in https://github.com/PyCQA/pylint/issues/5671, the Pylint 2.13 logic introduced the false negative with tuple unpacking.

The following example would have emitted an `unbalanced-tuple-unpacking` warning before the change of https://github.com/PyCQA/pylint/pull/5346:

mytest.py:
[code]

In 2.13 it does not emit any warning. Would be nice to fix the unintended chan

[2022-01-23 11:20] mbyrnepr2 commented on #5670
@DanielNoord good job on your work here.
I was wondering, however, does this checker give a counter-intuitive warning to users?

The lru_cache is core Python functionality & the Python developers seem to be saying here that this is expected behaviour of the lru cache: https://bugs.python.org/issue19859.
My feeling is this checker would mean Pylint is now warning users who are using it correctly ag

[2022-01-23 12:23] mbyrnepr2 commented on #5671
I think the intention of the programmer would be to mutate the list later in the function otherwise they could use a tuple.
Perhaps it is an idea to not emit the `unbalanced-tuple-unpacking` warning if it is a list as in this example.

[2022-01-23 13:03] tusharsadhwani commented on #5671
Yeah I can see that.

But still, if we're able to confidently infer that the length of the list is unchanged, I think it's still alright. The only false positives are when you reassign/append/extend on the list.

[2022-01-23 18:12] DudeNr33 commented on #4918
I downloaded your example and installed the requirements.txt (minus the ``mysqlclient`` as I don't have the necessary dependencies installed). I also ran ``pip install rabbitmq`` as I did not see it in the requirements.

I adjusted the command a bit:
[code]

It succeeded without problems.
The versions of ``pylint`` I used:

[code]

[2022-01-23 19:00] DanielNoord commented on #5706
The second comment is a completely different issue. Would be nice to support I think, but we should create a separate issue for it. The first issue is a duplicate of #5264.

@flisboac Could you create a new issue for your second comment so we can discuss it on its own. I will then close this as a duplicate.

[2022-01-23 19:03] DanielNoord commented on #5704
@hroncok Just trying to see if there is anything we can do to solve this. Should we wait for an upstream fix for this or can we do anything in `astroid`/`pylint` to help solve this?

[2022-01-23 19:26] DanielNoord commented on #5670
Hmm perhaps you are right. It is at `Warning` level now. Would you want to completely remove the checker, or downgrade it to either `Convention` or `Refactor`?

[2022-01-23 20:45] jacobtylerwalls commented on #5654
Edited to suggest `used-before-assignment` because the Python interpreter produces:
[code]

[2022-01-23 22:06] mbyrnepr2 commented on #5670
I think especially the line in the warning - `lru_cache shouldn't be used on a method as it creates memory leaks` contradicts the views of the core Python developers in the issue linked above. Because of that, it feels controversial to say it shouldn't be used.
So, I think that wording could change to something like `Method arguments are kept alive for the duration of the program when decorating a

[2022-01-24 06:05] mwgamble commented on #4452
Why can't that check just be enabled by default? Do any additional packages need installing? If not, why is it even called a plugin?

[2022-01-24 13:15] bersbersbers commented on #4360
I cannot reproduce this any longer.

[code]

[2022-01-24 13:15] #4360 closed

[2022-01-24 13:27] Pierre-Sassoulas commented on #5670
I like the phrasing from Radomir Dopieralski's suggestion:

I think the phrasing from the proposed warning need to be clear that this is not unwanted all the time. Maybe we only need to display the warning if ``max_size`` is None or not set ?

[2022-01-24 14:48] Pierre-Sassoulas commented on #4452
There's no need to install any other python package it's included in pylint. It only need to be loaded in the configuration as shown in the doc I provided.

It's not activated by default right now as `too many statements`` is activated and does something similar. flake8 has C901 that does McCabe rating too. Also some checks / entire checkers are deactivated by default so as not to overwhelm users

[2022-01-24 14:58] flisboac opened #5712 "Weak or improper support for overloads"
### Bug description

As requested by @DanielNoord , I'm creating this issue with some of the findings I [commented about](https://github.com/PyCQA/pylint/issues/5706#issuecomment-1018910338) on [another issue](https://github.com/PyCQA/pylint/issues/5706).

It seems like pylint either:

1. does not apply the correct set of overloads to the usage of an overloaded method; or
2. completely ignores ove

[2022-01-24 14:59] flisboac commented on #5706
Created issue #5712, as requested. Thank you!

Gonna close this issue, then.

[2022-01-24 14:59] #5706 closed

[2022-01-24 15:00] jacobtylerwalls opened #5713 "Emit `used-before-assignment` instead of `undefined-variable` for unused type annotations"
### Bug description

I think we can raise a more appropriate message for cases like:

[code]

Because the python interpreter produces:

[code]

This feature was added in #5158, so perhaps recent enough to change, but not sure if it's too much churn/worth it to bother.

### Expected behavior

Raise `used-before-assignment` instead of `unused-variable` for the above test from `undefined_variable_py3

[2022-01-24 16:13] eric-s-raymond opened #5714 "invalid module name message cannot be suppressed"
### Bug description

Invalid module-name message can't be suppressed.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I expected the first message to be suppressed.

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-01-24 16:30] Sasszem commented on #5288
Maybe a bit simpler code to reproduce:
[code]
 Adding a `return None, None` or similar after the match statement makes the false positive disappear, but raising an exception does not.

[2022-01-24 17:19] arekfu opened #5715 "numpy.ma.masked_invalid() return object triggers `no-member` for `mask` attribute"
### Bug description

This bug report is very similar to issue #3342. I slightly modified the reproducer:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No warning should be emitted.

### Pylint version

[code]

### OS / Environment

Ubuntu 16.04

### Additional dependencies

_No response_

[2022-01-24 17:41] DanielNoord commented on #5704
Do you have any timeframe for the fix to be live? If it's a matter of weeks I think we might hold off on it: we'll likely forget about it and might up with unnecessary fixes in the codebase.

/CC: @Pierre-Sassoulas

[2022-01-24 17:53] DanielNoord commented on #5670
That's actually a good improvement. I don't have time today but should have before `2.13` releases. I'll change the checker to:
- Update message and description
- Only trigger when `max_size` is `None` or not set

[2022-01-24 18:02] hroncok commented on #5704
It currently seems that it will be easy, so matter of days. However, there might be unexpected problems, as always.

[2022-01-24 18:05] DanielNoord commented on #5712
Note that the `arguments-differ` issue is tracked in #5264. I think we should revisit this issue after that has been fixed to see what remains of the various issues mentioned here.

[2022-01-24 18:07] DanielNoord commented on #5713
Could it be that the example is different than the error raised? What is `my_none` referring to?

[2022-01-24 18:08] DanielNoord commented on #5714
Closing as duplicate of #3973

[2022-01-24 18:08] #5714 closed

[2022-01-24 18:14] hemberger opened #5716 "False positive: abstract-class-instantiated when base class is not abstract"
### Bug description

[code]
According to the `abc.abstractmethod` documentation:

However, this is not enforced. If the base class is not abstract, then the `@abc.abstractmethod` decorator is simply ignored. While the above code is technically misusing the decorator, it still runs successfully.

The bug in the Pylint logic is that it treats all parent classes as abstract if one of its children is

[2022-01-24 18:34] jacobtylerwalls commented on #5713
Sorry, typo in the report. I fixed it to match.

[2022-01-24 19:19] #4790 closed

[2022-01-24 19:35] ns-sthakkar commented on #2242
Hi,
I am not able to get error, despite getting a lower score then the threshold I provided.
[code]
However, it works with `pylint-fail-under` command, but I want to use just `pytlint` command so that I can use flags like `--fail_on=E`

Can someone help me with this?

[2022-01-24 20:11] iloveagent57 opened #5717 "Crash ``'AssignAttr' object has no attribute 'qname'``"
### Bug description

I've seen this bug at various times over the past year or so, but I can't deterministically re-produce it.  The failure this time was when linting the file: https://github.com/openedx/license-manager/blob/aed/fix-lint/license_manager/apps/api/tests/test_tasks.py

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

That there i

[2022-01-24 20:21] #4941 closed

[2022-01-24 22:45] Pierre-Sassoulas commented on #5645
Sorry I did not find the time.

It seems it's affecting very recent virtualenv version then. Should we fix it ? Or is it also only affecting python 3.6 that is past end of life ? We have so much to do that if it's affecting python 3.6 only I don't think it's a wise allocation of our time to fix it.

[2022-01-24 23:19] hroncok commented on #5704
@jnsnow If I give you this PR https://src.fedoraproject.org/rpms/python3.8/pull-request/56 with this CI build for Fedora 34 https://koji.fedoraproject.org/koji/taskinfo?taskID=81784999 you can upgrade Python 3.8 with:

[code]

My questions for you:

 1. Does that help?
 2. Does it regress in some other way?

[2022-01-25 02:42] mwgamble commented on #4452
"too many statements" does not do anything similar. Calculating cyclomatic complexity has absolutely nothing to do with the number of statements in a subroutine.

[2022-01-25 03:08] belm0 opened #5719 "``enum.Enum`` type is blindly assigned to "Enum" of other modules"
### Bug description

For example, the prometheus_client module has an `Enum` class.  Pylint blindly assumes that references to `prometheus_client.Enum` are of type `enum.Enum`, and issues incorrect warnings.

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no warnings

### Pylint version

[code]

### Additional dependencies

prometheus_client==0.8.0

[2022-01-25 05:23] areveny commented on #5717
I can reproduce the tests consistently after installing the dependencies with the `Makefile` in `openedx/license-manager` https://github.com/openedx/license-manager.

The problem node comes from the `freezegun` module, specifically this file: https://github.com/spulec/freezegun/blob/master/freezegun/api.py

[code]

The attribute with no `qname` is `datetime.datetime`. This is a good lead on writin

[2022-01-25 07:08] DanielNoord commented on #5645
It's affecting all versions of Python with those older versions of setuptools. The fix is fairly straightforward as we only need to revert that commit, but it would be very helpful if we could get someone to do my steps from 2 comments ago so that we can actually see what that to-be-reverted-commit does. It would be much better if we could come up with a way to replicate it without importing distu

[2022-01-25 08:29] skirpichev commented on #5407
@Pierre-Sassoulas, do you still think it's a false-positive?  I still able to reproduce this in the Github CI and the errors seems to be random.  Ex. in [this](https://github.com/diofant/diofant/actions/runs/1743832156) test run one job pass and another - fail.

[2022-01-25 08:46] Pierre-Sassoulas commented on #5407
I think it's a false positive as an error is reported even if the code works. If someone want to fix this it's going to be by modifying [numpy's brain in astroid](https://github.com/PyCQA/astroid/blob/main/astroid/brain/)

[2022-01-25 08:59] Pierre-Sassoulas commented on #5719
We need to infer the name instead on relying on the name only.

[2022-01-25 09:13] skirpichev commented on #5407
@Pierre-Sassoulas, it does matter, that the code doesn't use numpy at all?

[2022-01-25 09:19] Pierre-Sassoulas commented on #5407
Yes, it look like I'm confused about the type of Matrix. Could you show the import and provide the python code of your example please (you can edit the issue) ? Depending on what is in `Matrix` we need a new Brain or better astroid parsing capability.

[2022-01-25 09:42] DanielNoord commented on #5679
Brought the reproducible example down to:
[code]

I believe the issue is related to the imports in `roles`. There are probably too many ancestors for the cache and therefore `astroid` trips up.

[2022-01-25 12:12] mgrabovsky commented on #5251
@Pierre-Sassoulas Thanks for your tips. I've managed to get rid of the “Unable to init server” message using `GDK_BACKEND=-`.

However, the problem with timeouts in GitHub workflows persists even with, for instance, `--limit-inference-results=5`. See [this recent run](https://github.com/abrt/gnome-abrt/runs/4936399015?check_suite_focus=true) for an example.

[2022-01-25 12:21] Pierre-Sassoulas commented on #5251
Thank you for the detail. It seems github action is killing the process after 180s, but do you manage to run in less than 180s locally ? It's entirely possible that pylint is taking more than 180s and would end normally in longer than that. Depending on the size of your codebase it could even be normal and not something we can easily optimize.

[2022-01-25 12:26] mgrabovsky commented on #5251
Pylint finishes in about 30 seconds on my machine. The runtime on GitHub seems to be a random variable. [Here's a run](https://github.com/abrt/gnome-abrt/runs/4936312746?check_suite_focus=true) that took 120 seconds and thus did not time out. (It's the same commit as before, just triggered by a PR instead of a push to master. I've seen this pattern multiple times before, though.)

[2022-01-25 12:39] Pierre-Sassoulas commented on #5251
I don't know how to check that are the specs of the machine for a github actions pipeline, but it would be interesting to see if there's any difference between runs.

[2022-01-25 17:10] alkatar21 commented on #3979
I have the same message with exactly this code in Python 3.8 is this intentional or a bug?

pylint 2.12.2
astroid 2.9.3
Python 3.8.10

[2022-01-25 18:54] Pierre-Sassoulas commented on #3979
I can reproduce the issue again with python 3.8.

[2022-01-25 20:02] orSolocate opened #5722 "assign list.sort() instead of sorted(list)"
### Current problem

when you use the `sort()` method on a list object, it modifies the list and returns None.
A common mistake is to assign the return value of this assignment (i.e. None) to a variable thinking you assigned the sorted list instead.

[code]

Results with:
None in `A` and [1,2,3] in `lst`.

### Desired solution

The checker should raise the WARNING message:
“A sort method of `list`

[2022-01-25 20:09] iloveagent57 commented on #5717
Thank you so much for picking this up, I'm glad you were able to reproduce the issue!

[2022-01-25 20:45] renardeinside opened #5723 "Message id 'W1601' cannot have both 'apply-builtin' and 'using-f-string-in-unsupported-version' as symbolic name."
### Bug description

I've recently upgraded prospector and pylint and run into the following:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Something more helpful/useful for debugging purposes.

### Pylint version

[code]

### OS / Environment

macOS Big Sur 11.6.2

### Additional dependencies

prospector==1.6.0

[2022-01-25 22:23] DanielNoord commented on #2242
In what way are you trying to use the option? This output doesn't necessarily show that the option isn't working: the error code can still be different even when we print the score. Are you using this in a CI?

[2022-01-25 22:49] DanielNoord commented on #5722
I like the idea although I wonder how opinionated this might be. Personally I never use `.sort()` to return `None`, but others might actually rely on that behaviour.

@Pierre-Sassoulas Should this be a plugin or a standard check?

[2022-01-25 22:54] DanielNoord commented on #5723
Could you post your `pylint` configuration? `apply-builtin` isn't coming from the `pylint` codebase and I couldn't find a match for it in `prospector` as well. Are you using a plugin that defines the `apply-builtin` message?

[2022-01-26 04:21] skirpichev commented on #5407
Sure, you can see imports on the top of the quoted in the original issue description file.  The Matrix class (it is the MutableDenseMatrix per default) is defined [here](https://github.com/diofant/diofant/blob/84c72e405aff6c87a40b6ff3281f51cc4f1fdb27/diofant/matrices/dense.py).  As you can see, it has the `__delitem__` method.

Unfortunately, I can't (yet) minimize the provided example.  E.g. if I

[2022-01-26 05:44] skirpichev opened #5724 "'missing-final-newline' is surprisingly slow on a large codebase"
### Bug description

I'm trying to enable the 'missing-final-newline' checker in [this PR](https://github.com/diofant/diofant/pull/1202).  Unfortunately, the Github CI run doesn't finish in a reasonable time (i.e. default job timeout).

The codebase of the [Diofant](https://github.com/diofant/diofant/) is big, however I think that this check should be reasonably cheap (shouldn't involve AST parsin

[2022-01-26 05:46] Pierre-Sassoulas commented on #5722
I also like this. Don't we have 'assignment-from-none' already? Is it a false negative?

[2022-01-26 06:15] Pierre-Sassoulas commented on #5724
Thank you for opening the issue, those checkers should indeed be almost instantaneous.

[2022-01-26 06:23] #5654 closed

[2022-01-26 06:25] Pierre-Sassoulas commented on #2242
Could you provide the output of ``echo $?`` following the pylint call ?

[2022-01-26 06:26] #5713 closed

[2022-01-26 07:19] skirpichev commented on #5724
FYI: in the same pr I did tests for other mentioned checkers (normally they should finish in 10-15 min on the Github Actions CI).

[2022-01-26 07:51] DanielNoord commented on #5722
Yes, I think we can consider this a false-positive.

[2022-01-26 08:10] renardeinside commented on #5723
hi @DanielNoord ,

I don't have a separate .pylintrc file, prospector.yml looks like this:
[code]

[2022-01-26 08:54] DanielNoord commented on #5679
I have found a fix and submitted a PR to `astroid`. I expect it to land in `2.10` which I hope we can release before `pylint` `2.13` is released.

[2022-01-26 09:19] DanielNoord commented on #5723
I opened https://github.com/PyCQA/prospector/issues/481 to see what is causing this. This also showed me a potential incompatibility with `pylint` and `prospector` which I have also mentioned in that issue, so that's a good thing to come from this either way.

[2022-01-26 18:46] Pierre-Sassoulas opened #5728 "A single changelog file instead of two"
### Current problem

We duplicate the changelog in two files. It's burning contributor and maintainer time for no reasons.

### Desired solution

One file only (probably the what's new ? markdown) and some automated checks on it. Maybe like the one black does for its own changelog ? Also maybe some consistency check of the old release when removing one of the file.

### Additional context

[Origin

[2022-01-26 18:50] orSolocate commented on #5722
In the `list.sort()` method documentation they write:

`        Sort the list in ascending order and return None.`

So I assume it always returns `None`.. therefore I don't see a case when someone relies on this value.
If they did, they should assign None to the variable/expression they want to evaluate..

@Pierre-Sassoulas  I could try to expand the 'assignment-from-none' checker...

[2022-01-26 19:16] DanielNoord commented on #4759
It might be interesting to take another look at this now that `astroid` resolves `symlinks` a little better.

[2022-01-26 20:12] carlio commented on #5723
@renardeinside How did you run and install the repository? I checked out `dbx` locally to try to reproduce, but it worked fine with:

[code]

This was starting from a fresh checkout and virtualenvironment; on the dbx repo I ran:

[code]

And I did not get this stack trace.

[2022-01-26 20:20] Pierre-Sassoulas opened #5729 "Pylint needs to forbid to re-use the msgid or symbol of old deleted msgid/symbol"
### Bug description

Right now it's possible to reuse old msgid that were removed, for example, everything from the python 3 checker (the problem was detected with ``using-f-string-in-unsupported-version`` vs ``apply-builtin``), or mixed-indentation, bad-whitespace, bad-continuation... maybe other that I don't remember that we deleted.

We have a mechanism in place for renamed message with old_nam

[2022-01-26 20:22] DanielNoord commented on #5729
I would suggest to see if we can find a way to do this in the form of a `test`. Registering a dict of `old_names` during runtime unnecessarily impacts performance. We could do something similar to how I recently added a check for non overlapping symbol prefixes.

[2022-01-26 20:25] Pierre-Sassoulas commented on #5729
I completely agree, I think we should probably generate an efficient and pre-checked message store that's why I think it's related to #5607

[2022-01-26 20:31] carlio commented on #5723
I noticed that dev-requirements does not specify a pylint version: https://github.com/databrickslabs/dbx/blob/main/dev-requirements.txt

Which means that the `pip install -U` in the CI file: https://github.com/databrickslabs/dbx/blob/main/.github/workflows/onpush.yml#L39

Will only upgrade things including prospector to their latest versions but will not upgrade prospector dependencies beyond the

[2022-01-26 20:48] renardeinside commented on #5723
hi @carlio ,

I was debugging the latest issues from prospector and wanted to run the linter locally - this is when I've met the error.

 I've noticed that probably I was using another conda env (base) locally which led to this error, thank you for the pointers (on the CI part as well)!

Just as a side note, in the base conda env, it's still failing (although it has slightly different versions). I

[2022-01-27 08:33] DanielNoord commented on #5703
Closing this as I think all issues have been resolved.

[2022-01-27 08:33] #5703 closed

[2022-01-27 13:31] DanielNoord commented on #5668
The following also crashes without any provided template:
[code]

This is for `astroid` 2.9.4 and `pylint` on https://github.com/PyCQA/pylint/commit/44ad84a4332dfb89e810106fef2616a0bc7e47e4

[2022-01-27 13:33] DanielNoord commented on #5408
I brought it down to the following issue:
[code]
This resembles code that is part of `setuptools.monkey` on `45.3.0`. This also crashes on `3.10`.

I believe we get stuck on the inference of `isinstance`, at least that's what the stacktrace is pointing to. Some additional investigation will be needed though.

[2022-01-27 15:16] henryiii opened #5731 "Crash with argument of type 'NoneType' is not iterable"
### Bug description

PyLint crashes when running on Plumbum. (it continues on other files just fine, though). Pretty sure it's choking on this:

https://github.com/tomerfiliba/plumbum/blob/bd29e7f21b1a9856d81553f149c68d07fbc38ce9/plumbum/commands/base.py#L474-L475

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No crash?

### Pylint ve

[2022-01-27 15:49] jacobtylerwalls commented on #5731
Thanks for the report! I reproduced on main with this:

[code]

[2022-01-27 15:58] #5683 closed

[2022-01-27 16:05] jacobtylerwalls opened #5733 "`bad-open-mode` produces illegible message when passing `mode=None`"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Maybe take the `repr()` of things that aren't strings?

'None' is not a valid mode...

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-01-27 17:29] maximyurchuk opened #5734 "False-negative: missing 'no-member' in case of private member function invoke without mangling"
### Bug description

Pylint doesn't emit an error in case of access to private class members without mangling.

Consider the following code:

[code]

It produces following output:
[code]

Because `Foo.__foo` must be replaced with `Foo._Foo_foo`, but pylint doesn't catch this case.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Expecte

[2022-01-27 17:55] DanielNoord commented on #5408
New reproducing example:
[code]

Not quite sure how to resolve this. We get stuck on the last line as we're trying to infer what gets assigned to `MyClass.sub_class.inner_class`. We infer that it might be `_Child`, which is the result of a call to `get_unpatched`. We try to infer the call result of `get_unpatched` and we try to infer if the `item` in the `isinstance` is of `type`. To do so we infe

[2022-01-27 19:26] #5731 closed

[2022-01-27 20:21] #5322 closed

[2022-01-27 20:36] jolaf commented on #5322
@DanielNoord @Pierre-Sassoulas Thanks!

[2022-01-27 22:23] DanielNoord commented on #5645
@paride Sorry for letting this rest so long. I finally got "Windows" to work via Wine on my Mac and I could do some very bare-bones testing.

However, when I revert the commit in https://github.com/PyCQA/astroid/pull/1321/ I actually keep getting the `import-error`.
I used the same instructions as here https://github.com/PyCQA/pylint/issues/5645#issuecomment-1010794253 and then `cd` into the `virt

[2022-01-28 03:56] Jasha10 opened #5735 "False positive 'undefined-variable' with assignment expression in decorator"
### Bug description

When using an assignment expression in a decorator, a false positive 'undefined-variable' may be raised.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No errors

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-01-28 08:48] DanielNoord commented on #5717
Adding `downstream bug` as my investigation here https://github.com/PyCQA/astroid/pull/1373#issuecomment-1023987021 shows that this is likely a bug in `pylint-django` rather than in `pylint` or `astroid`.

[2022-01-28 10:32] gh-tsc opened #5737 "Crash ``list index out of range``"
### Bug description
minimal.py containing
[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Didn't expect any fatal error

### Pylint version

[code]

### OS / Environment

Ubuntu 20.04

[2022-01-28 10:34] Pierre-Sassoulas commented on #5717
We could advertise the existence of pylint-django and prospector which are two major libs building on top of pylint. (Although it's impossible to automate the label creation, it's set once)

[2022-01-28 10:36] DanielNoord commented on #5717
I meant the issue template which is given to users when pylint crashes 😉 Perhaps we could explore using a regex on the last line of the stacktrace and seeing if it includes `pylint_django`? There are more pressing matters though.

[2022-01-28 10:49] gh-tsc commented on #5737
After changing the file to:
[code]
Pylint doesn't crash

[2022-01-28 14:16] mr-cal commented on #5390
The downstream regression was resolved in [pylint-fixme-info-v1.0.3](https://github.com/mxmeinhold/pylint-fixme-info/releases/tag/v1.0.3)

[2022-01-28 21:59] DanielNoord commented on #5668
@Pierre-Sassoulas Did some investigation and found the issue in 5 minutes. I have a fix, just need to figure out a good test. If you got one as well, please go ahead otherwise you can assign me to this!

[2022-01-28 22:00] #1056 closed

[2022-01-28 22:00] #2235 closed

[2022-01-28 22:06] Pierre-Sassoulas commented on #5668
You're fast 😄 ⚡ I assigned to myself yesterday but haven't been able to investigate since :)

[2022-01-28 22:09] DanielNoord commented on #5668
I had 20 minutes to spare on an airplane without internet and this was the only issue I could reproduce without any further information 😄
Fix itself is quite easy, but I need to look up method patching with `pytest`. That's something I can't do without internet 😅

[2022-01-28 22:09] Pierre-Sassoulas commented on #5527
Each individual message is now live following the merging of #5396  ! 🎉

There's a slight problem with presentation as two title are the same:

![double_titlze](https://user-images.githubusercontent.com/5493666/151628343-3607ef39-7ace-4427-8d83-f9d2d4274edb.png)

Next step are in the checklist of the issue's description.

[2022-01-28 22:12] DanielNoord commented on #5527
I'll fix this asap. Could you create an issue and assign me? I'm on mobile now, but I'll try and get to this asap as not to influence SEO too much.

[2022-01-28 22:13] Pierre-Sassoulas commented on #5359
Moving to 2.14 as we have quite a lot to do already for 2.13.

[2022-01-28 22:16] Pierre-Sassoulas opened #5740 "Duplicated title in pylint's message documentation"
### Current problem

Right now a title is duplicated following #5396

### Desired solution

First named something like ``Pylint's message's types`` and second one ``Pylint's message list`` ?

### Additional context

See https://github.com/PyCQA/pylint/issues/5527#issuecomment-1024689745

[2022-01-29 05:49] #5733 closed

[2022-01-29 16:04] DanielNoord commented on #5668
PR made 😄

[2022-01-29 19:22] #5668 closed

[2022-01-29 21:53] #5399 closed

[2022-01-30 00:02] Avasam opened #5746 "TypeError: expected str, bytes or os.PathLike object, not NoneType"
### Bug description

Pylint crashes for me whenever it's called.
Repo: https://github.com/Avasam/speedrun.com_global_scoreboard_webapp

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No crash, and/or a better error message explaining what's hapening.

### Pylint version

[code]

### OS / Environment

Windows 10

### Additional dependencies

a

[2022-01-30 07:24] #5598 closed

[2022-01-30 08:38] DanielNoord commented on #5746
This crash results from your `init-hook`. Which is `"from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.join(os.path.dirname(find_pylintrc()), 'backend'))"`

I guess `find_pylintrc()` returns `None` in your case. You can see it doing so here:
https://github.com/PyCQA/pylint/blob/c2a3e84f32559c434208ae1eede65ad5ca767b8d/pylint/config/find_default_config_files.py#L73-L7

[2022-01-30 21:57] finite-state-machine opened #5749 "Useful 'line-too-long' suppression considered useless: multi-line strings"
### Bug description

In the following script, which comprises a single, triple-quoted string:
[code]
...we get the following unexpected error when running pylint:
[code]

In fact, the `disable=line-too-long` directive is necessary, and an error is (rightly) issued if the directive is not present.

This bug is likely closely related to #3368.

### Configuration

_No response_

### Command used

[co

[2022-01-30 23:21] cdce8p commented on #3979
The issue was indeed fixed, but only for Python 3.9+.
For 3.8, it's related to #4369, although with a different pattern.

[2022-01-30 23:22] jacobtylerwalls commented on #4015
Same cause as #4060, fixed in https://github.com/PyCQA/astroid/pull/1127.

[2022-01-30 23:43] cdce8p commented on #5524
Another idea. I like how pyright names it. Maybe `possibly-unbound`?
[code]

We shouldn't really "force" users to add an `else` case. There are just to many alternatives. You could for example assign a default value before you enter the `try` block.

[2022-01-31 10:37] finite-state-machine commented on #5749
(If this issue is sufficiently similar to #3368 that this case should have been added as a comment there, please let me know and accept my apologies.)

[2022-01-31 16:45] hroncok commented on #5704
@jnsnow Any chance you were able to test the provided Python 3.8 build?

[2022-01-31 20:47] DanielNoord commented on #4015
Closing! 🛩️

[2022-01-31 20:47] #4015 closed

[2022-01-31 21:36] henryiii opened #5756 "False positive: global-variable-not-assigned with class"
### Bug description

If you use `global` with a `class`, this incorrectly thinks the global variable is never assigned. For example, a MWE:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I should get a warning about using a global, not about not assigning it. Class definitions are assignments. (also function definitions, too)

[2022-02-01 15:18] DavidMeu opened #5759 "[Bug] Pylint and astroid"
### Bug description

https://stackoverflow.com/questions/70937230/pylint-attributeerror/70939018#70939018

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No errors

### Pylint version

[code]

### OS / Environment

Windows 10

### Additional dependencies

_No response_

[2022-02-01 16:31] pilatte commented on #5327
This bug is still present in:
[code]
Here my example code
[code]

[2022-02-01 16:59] cdce8p commented on #5759
@DavidMeu Are you certain that you've installed `2.12.2` and used that version?
Just from looking at the traceback, the code in question has long been fixed. Judging by the line numbers, I would guess that you unknowingly used pylint `2.0.1` or an even older one.

[2022-02-01 17:43] DanielNoord commented on #5756
I think this might have been fixed with #5690. @mbyrnepr2 can you reproduce this on `main`?

[2022-02-01 17:51] henryiii commented on #5756
[code]

[code]

Looks like it! Thanks!

[2022-02-01 17:51] #5756 closed

[2022-02-01 17:53] DanielNoord commented on #5756
🎉

[2022-02-01 18:30] mbyrnepr2 commented on #5756
Great! Glad it worked out!

[2022-02-01 19:41] DanielNoord commented on #5645
I actually got my hands on a windows and can't make the issue go away, even on `pylint` `2.10`... I think `util` might actually be undefined in `distutils` in a `virtualenv` on Windows?

[2022-02-01 19:44] paride commented on #5645
@DanielNoord sorry for not getting back to you earlier. Tomorrow I'll try reverting the commit you mentioned on my system and see if the issue goes away, unless you say that's not useful info anymore at this point.

[2022-02-01 19:45] DanielNoord commented on #5645
@paride No worries! That would actually be quite useful as my recent dabbling with Windows makes me wonder if it's actually that commit that is causing these issues..

[2022-02-01 21:42] orSolocate commented on #5701
@DanielNoord  just to make sure I understand your suggestion:
You suggest to add a new optional entry called `files` or `files_default` in `setup.cfg` under `[options]` and set the `.` there? something like:

[code]

This way when the user invoke `pylint` with no args it would be equivalent to `pylint .`?
and if the user wants to run specific files or directory he can without breaking old behavior

[2022-02-01 22:01] #5348 closed

[2022-02-02 07:43] #5177 closed

[2022-02-02 07:43] #5212 closed

[2022-02-02 07:51] #5707 closed

[2022-02-02 08:04] #5722 closed

[2022-02-02 08:11] DanielNoord commented on #5701
Yes. If you specify the `files` option on the command line it would overwrite whatever is in `setup.cfg` as it has higher priority. You could specify `project/subdir` if you're only ready to run pylint over a sub directory.
Technically we already support the files option: the arguments passed on the command line that do not fit in any other option are read as `files`, but we do not support adding

[2022-02-02 08:13] Pierre-Sassoulas commented on #5749
I'm going to close as duplicate for issue management purpose, thank you for identifying the duplicate yourself :)

[2022-02-02 08:13] #5749 closed

[2022-02-02 09:24] zhiltsov-max commented on #3492
Another way to reproduce and an option to mitigate:

[code]

pylint pylint_example.py
************* Module pylint_example
pylint_example.py:20:6: E1121: Too many positional arguments for constructor call (too-many-function-args)

Attrs 21.4.0, pylint 2.10.2. But it happened in earlier versions too.

[2022-02-02 09:30] Pierre-Sassoulas commented on #2983
Possibly related to https://github.com/PyCQA/astroid/issues/1330 in astroid 2.10

[2022-02-02 10:14] #5759 closed

[2022-02-02 10:14] DavidMeu commented on #5759
correct used `2.0.1`

[2022-02-02 17:31] couling opened #5761 "False positive invalid-overridden-method for async generators overriding AsyncIterable"
### Bug description

For classes

    class Foo:
        def bar() -> AsyncIterable[str]:
            pass

    class Foo2(Foo):
        async def bar() -> AsyncIterable[str]:
            yield "hello"

Pylint will give a false positive:

[code]

That's because the `yield` has a subtly different effect for async methods.  An async generator method (such as `Foo2.bar()`) are not coroutines.  If you

[2022-02-02 20:19] Hynn01 opened #5762 "AttributeError: module 'pylint.testutils' has no attribute 'Message'"
Hi, I'm writing a pylint plugin(https://github.com/Hynn01/dslinter) and trying to use CI for automating tests. However, I run into the `AttributeError: module 'pylint.testutils' has no attribute 'Message'` and have no idea how to fix it. The tests run quite well on my local machine but don't work on the docker container. Could someone help?

### Steps to reproduce:
1. docker pull hynn0633/dslinter

[2022-02-02 20:27] Pierre-Sassoulas commented on #5762
This is a private class that has been renamed to ``MessageTest`` https://github.com/PyCQA/pylint/blob/main/pylint/testutils/output_line.py#L17`recently. We're not going to make compatibility code so the import should be changed.

[2022-02-02 20:27] #5762 closed

[2022-02-02 20:29] orSolocate opened #5763 "feature suggestion for `is` compare between different types"
### Current problem

Comparing two different types using the `is` operator is always `False`.

For example for this code:

[code]

`A` is of type `int` and `STR1` is of type `str`.
`is` compare between those types is always `False`.

The user should be alert about it, and consider modifying his code.

As far as I checked there is no checker that checks that..

### Desired solution

I suggest a new

[2022-02-02 20:31] Hynn01 commented on #5762
Thank you for your answer!

[2022-02-02 21:11] orSolocate commented on #5763
Edit: actually I don't think casting should be the suggestion here. It would still be `False` after casting...

[2022-02-02 23:26] nickdrozd commented on #2016
I've come around to the belief that control flow should be as statically analyzable as possible. The example code here is terrible in that regard, even if it does happen to work out at runtime. So the warning is appropriate.

[2022-02-02 23:26] #2016 closed

[2022-02-03 00:05] cdce8p commented on #5761
Interesting 🤔 Tbh I wasn't aware of that.
However, I still think the error make sense here. `Foo.bar` isn't a Generator, let alone an async one. The return type should probably be `Iterable[str]` instead. With that, both `mypy` and `pyright` also report that `Foo2.bar` overrides `Foo.bar` in an incompatible manner.

[2022-02-03 03:37] pgoy-dod commented on #5225
Just adding my voice to this ticket to note that this also occurs in subclasses of dataclasses with default values. For example:

[code]

[2022-02-03 13:51] couling commented on #5761
Iterator vs Generator
----

That's putting the relationship the wrong way around.  Generators are Iterators, not all Iterators are Generators.

This issue is about the async equivalent.  If you've got an alternative to make an async equivalent of the code below then I'm open to suggestions.

[code]

Python's behaviour
----

There's three legitimate ways to use async combined with a for loop.  BUT

[2022-02-03 19:45] hroncok commented on #5704
There is also this PR https://src.fedoraproject.org/rpms/python3.7/pull-request/41 with this CI build for Fedora 34 https://koji.fedoraproject.org/koji/taskinfo?taskID=82345254 you can upgrade Python 3.7 with:

[code]

[2022-02-03 19:49] thejcannon commented on #3512
This issue has some age, but recommend adding a column for overlap with `mypy` as well!

[2022-02-04 06:03] NeilGirdhar opened #5767 "False positives with keywords-only fields of dataclasses"
### Bug description

[code]
### Pylint version

[code]

[2022-02-04 06:03] NeilGirdhar commented on #5767
Related https://github.com/PyCQA/pylint/issues/3492

[2022-02-04 06:36] skirpichev commented on #5407
BTW, similar happens for [L237](https://github.com/diofant/diofant/blob/e623a88dc1ab6dfa1d1be60b189f980b844db6e7/diofant/calculus/optimization.py#L237) if I enable the 'unsubscriptable-object' warning.  @Pierre-Sassoulas, let me know if it's better to fill a separate issue.

[2022-02-04 09:16] skirpichev opened #5768 "False positive 'super-with-arguments' if there are kwargs"
### Bug description

[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-02-04 09:20] skirpichev opened #5769 "False positive 'nonexistent-operator' for repeated '-' (with parens)"
### Bug description
[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error.

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-02-04 14:50] DanielNoord commented on #5768
[code]

The code from your example crashes. Am I missing something here?

[2022-02-04 15:14] cassdalton opened #5770 "AstroidSyntaxError when parsing NewType"
[pylint-crash-2022-02-04-15.txt](https://github.com/PyCQA/pylint/files/8004129/pylint-crash-2022-02-04-15.txt)

[2022-02-04 15:35] skirpichev commented on #5768
Thanks, example fixed.

[2022-02-04 15:44] DanielNoord commented on #5768
[code]

What's the difference between B and C? Isn't this message correct here?

[2022-02-04 15:52] skirpichev commented on #5768
None, from the language point of view.  But pylint apparently thinks there is...

No.  There is no error for L14 (super call in the `C.__init__`).  Same should be for the B class.

[2022-02-04 15:55] DanielNoord commented on #5768
I think the message is referring to the fact that you can write `B` as `C`. There is no need for the arguments in `super(...)` in Python 3 and thus `super(B, self).__init__(a)` can be simplified to ` super().__init__(a)`. That message seems correct in this case?

[2022-02-04 16:15] skirpichev commented on #5768
Thanks you are right, sorry for bothering.

[2022-02-04 16:15] #5768 closed

[2022-02-04 16:16] DanielNoord commented on #5768
No worries! I can see how the message can be confusing at first!

[2022-02-04 16:57] bluefish6 commented on #533
Hi @Pierre-Sassoulas, I see the same behaviour when I'm importing enum.Enum with a different name (to prevent confusion when also doing `from sqlalchemy.dialects.postgresql import ENUM`):

[code]
[code]
The error goes away when `Enum` is imported without renaming to `PyEnum`

[code]

Should I open a new issue or this one can be reopened?

[2022-02-04 21:15] jnsnow commented on #5704
@hroncok Sorry about that, didn't catch the github notif. I tried the 3.8 package and left 3.7 alone, and can observe my test suites in QEMU upstream working for 3.8 (and failing for 3.7), so that gives me some good confidence in the fix making a difference here.

I tried the 3.7 package afterwards, and everything looks green as far as I can see. Thanks!

[2022-02-04 21:54] DevinShanahan opened #5771 "False positive W0613 with keyword only argument"
### Bug description

Using a keyword-only argument is triggering a W0613(unused-argument) warning where it is not occurring if the (unused) argument is a keyword argument. Below, `B.add` does not issue the warning, but `D.add` does.

kwoa.py
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I believe there are two possibilities he

[2022-02-04 23:03] jacobtylerwalls commented on #5771
Thanks for the report. Based on this [comment](https://github.com/PyCQA/pylint/blob/d7013f6799d28a69dbbf3329da7867a8afacce82/pylint/checkers/variables.py#L2342) I think you are correct that this is not supposed to warn. I have a diff for `astroid` that fixes it and hope to PR it soon.

[2022-02-05 14:43] Pierre-Sassoulas commented on #533
Thank you for the report, could you open a new issue, please ? :)

[2022-02-05 19:22] orSolocate commented on #5763
I can implement it if there is value in that for Pylint.
@Pierre-Sassoulas  or anyone else like the idea?

[2022-02-05 20:51] DanielNoord commented on #5704
I'm going to close the issue then! Thanks @hroncok for your work on this and getting back to us!

[2022-02-05 20:51] #5704 closed

[2022-02-05 21:38] jacobtylerwalls commented on #5771
PR adding the regression test should also simplify this to just `argnames()`: https://github.com/PyCQA/pylint/commit/01cc02d5e

[2022-02-06 00:25] orSolocate opened #5773 "new checker suggestion for unused function under Pylint scope"
### Current problem

I suggest a new checker that will raise a message for any function that is not used under pylint check scope.

some example:

1. if you check Pylint in one file called `func_def.py` with a function definition which isn't called, Pylint will raise a message for it.
2. If you run Pylint on both `func_def.py` and `func_use.py` on the same run, where `func_use.py` imports `func_de

[2022-02-06 00:30] orSolocate commented on #4391
@Pierre-Sassoulas  I guess  this can be closed now :)

[2022-02-06 00:33] orSolocate commented on #5773
I found this issue that somewhat related to my idea #4363, just have to be careful that my this new checker doesn't effect `unused-variable` messages and that it only works on functions and not variables

[2022-02-06 07:03] DanielNoord commented on #5773
It's pretty common to write functions in separate files and then import them. For example, when you separate your utility functions into a separate file. How would you check for this? Pylint itself would raises this message multiple times.

And what about methods of classes? They are also often used in other files.

[2022-02-06 14:10] #352 closed

[2022-02-06 14:13] Pierre-Sassoulas commented on #352
Thanks to @matusvalo this will be available in pylint 2.13.0. There's a follow up discussion concerning the possibility to launch pylint without argument in the current directory in #5701, please cast your vote if you have an opinion on the issue :)

[2022-02-06 18:38] matusvalo commented on #352
Now I will wait for pizza :-D (just kidding)

[2022-02-06 18:50] #5737 closed

[2022-02-06 18:55] Pierre-Sassoulas commented on #5763
I'm hesitant about this one because it seems like a lot of effort with potentially a lot of false positive where the user knew what they're doing. There's also a lot of case that are already handled by thing like [flake8's E711](https://www.flake8rules.com/rules/E711.html) or pylint's literal-comparison, which is why I added the discussion label to see what others are thinking about it.

[2022-02-07 09:39] bluefish6 opened #5776 "False positive `no-member` for `enum.Enum` when imported with alias"
### Bug description

Enum is not being recognised as an Enum, when it's imported with an alias (to prevent confusion when also doing `from sqlalchemy.dialects.postgresql import ENUM`)

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error

### Pylint version

[code]

### OS / Environment

Ubuntu 20.04.3 LTS

### Additional de

[2022-02-07 09:40] bluefish6 commented on #533
Opened #5776, thanks! :)

[2022-02-07 11:47] DanielNoord commented on #5763
I'm having similar though as @Pierre-Sassoulas. I wonder how often this would catch actual bad code compared to the number of edge use cases that could turn into false positives.

[2022-02-07 19:45] kovla commented on #5466
Highlighting entire code block is very distracting, to be honest. A lot of unnecessary highlighting is done to communicate something very simple or something that the developer choses not to change.

Old behavior (highlight just the beginning of the affected line) was concise and effective enough. Please at least provide an option to change this behavior via settings. Thanks!

[2022-02-07 20:32] reconndev opened #5779 "False positive - superfluous parens"
### Bug description

The parentheses are essential for this to work:
[code]
Otherwise:
[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No warning

### Pylint version

[code]

### OS / Environment

Mac OS (M1 processor)

### Additional dependencies

N/A

[2022-02-07 21:02] DanielNoord commented on #5779
This no longer raises on `main`. I think it is also fixed in `2.12`. Are you able to update your version of `pylint`?

[2022-02-07 21:21] reconndev commented on #5779
My bad. Should have checked the latest version. Thanks for your prompt response!

[2022-02-07 21:21] #5779 closed

[2022-02-07 22:33] Pierre-Sassoulas commented on #5466
Hey @kovla thank you for the remark, but could you open a new issue please ? Your comment will get lost otherwise.

[2022-02-07 22:38] #5740 closed

[2022-02-07 22:40] DanielNoord commented on #5466
@cdce8p Have you thought about how to go about this? I actually struggled to find an easy and quick implementation to either 1) find the end of the class or function definition or 2) find the end_column of the first line of a definition. Either would work for this I think.

[2022-02-08 07:45] tushar-deepsource commented on #5671
Unfortunately, the current way the rule is implemented I don't see any way to do that.

We're inferring the value of the list object while unpacking it. To be able to detect modifications to the list we need to have access to the AST of the part that defines the list, not just the part that unpacks it.

The only viable solution right now would be to disable the rule on mutable sequences :(

[2022-02-08 10:57] phiresky commented on #3324
It would be good if there was a way to make pylint recognize this correctly as a type variable instead of a "class name", since the usual convention for type variables is to be single-letter (as opposed to class names).

I don't want to disable the lint for real class names, but I do want to disable it for type vars.

[2022-02-08 10:58] DanielNoord commented on #3324
We're working on this in #5221. It (hopefully) will be part of the next version!

[2022-02-08 11:01] phiresky commented on #3324
Great! I guess this issue is really a dupe of #3401 then instead of #2018 (referencing since I found only this one via google)

[2022-02-08 11:03] DanielNoord commented on #3324
You're right! Thanks for pointing that out 😄

[2022-02-08 13:29] felixvd commented on #352
Thanks!

Tell me how you would like to receive a coupon or money and it will be done. I can do SEPA transfers. FvDrigalski@gmail.com

[2022-02-08 14:17] Pierre-Sassoulas commented on #352
@felixvd If you mean it, you can use github sponsor : https://github.com/sponsors/matusvalo 😄 It's matched by github the first year so it might very well even be two (2) pizzas in the end 🎉

[2022-02-08 17:05] jacobtylerwalls opened #5780 "False negative `used-before-assignment` after name defined and used in except"
### Bug description

This doesn't warn as it should:
[code]

But this warns just fine:
[code]

So it's an issue with "consuming" the name too early in the variables checker when used by the first "print(msg)".

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

************* Module a
a.py:6:6: E0601: Using variable 'msg' before assignment

[2022-02-08 17:08] jacobtylerwalls commented on #5780
This diff passes the test suite, but two small questions:

- I'd like to make `mark_as_consumed()` itself less brittle so I don't have to do this extra "careful consumption".
- Is it okay to add back this complexity around when to mark as consumed?

[code]

[2022-02-08 21:41] DanielNoord commented on #3290
I'm going to close this as I think this issue has been resolved. Let me know if any issues still persist and I'll reopen!

[2022-02-08 21:41] #3290 closed

[2022-02-08 21:45] DanielNoord commented on #2835
This was actually not a duplicate see: https://github.com/PyCQA/pylint/pull/5764#issuecomment-1032803372.

A very relevant comment was made by @cdce8p in #5524 [here](https://github.com/PyCQA/pylint/issues/5524#issuecomment-1025262104):

[2022-02-08 21:46] DanielNoord commented on #5524
Some of the discussion in this issue is being moved to #2835. The rest is being closed with #5674.

[2022-02-08 22:04] jacobtylerwalls commented on #2835
Implementation tip: when checking whether the except handlers define a name, raise, or return, consider using `NamesConsumer._defines_name_raises_or_returns()` from #5764

[2022-02-08 23:24] DanielNoord commented on #4391
We currently do:
[code]

Is this the desired behaviour?

[2022-02-09 00:47] cdce8p commented on #5466
Instead of adding some new attribute for the `end_lineno`, wouldn't it be better if `ClassDef.name` / `FunctionDef.name` were actual nodes instead of just strings? The problem we already identified is that the Python AST only stores the string itself, ie. not enough information to create a `Name` node for it. Since those are fairly strict patterns (`class ...`, `def ...`, `async def ...`), it shou

[2022-02-09 04:26] jacobtylerwalls commented on #5645
@DanielNoord I saw your call for reinforcements

I just tried reproducing on windows and [couldn't](https://github.com/jacobtylerwalls/astroid/runs/5120065827?check_suite_focus=true). Do I need to pin to a specific version of `setuptools`? Any tips you have for reproducing would be helpful. Using GitHub Actions is a lot easier than an emulator IMO! :D

[2022-02-09 06:57] Pierre-Sassoulas commented on #4391
Thank you for testing this @DanielNoord , I think one of the unused  variable is still a false negative (the first level `as e`). But there are flying MR in the variable checker, we should reacess once they're merged.

[2022-02-09 08:03] felixvd commented on #352
The more you know! I hadn't heard of that, guess it's worth using.

I sent you half of @matusvalo 's pizza fee, but his sponsor page does not have a one-time contribution option. @matusvalo maybe you could set that up?

[2022-02-09 08:14] DanielNoord commented on #5645
No only the `virtualenv` version seems to matter (it should be `<20`). GitHub Actions

[2022-02-09 08:18] Pierre-Sassoulas opened #5782 "Add a link to the checker's page from a message's documentation"
### Current problem

The SEO for individual message start to take effects :

![bad_builtin](https://user-images.githubusercontent.com/5493666/153153405-dbe0cf30-f909-421c-91c3-c2d0c50b0233.png)

Result:

![bad_builtin](https://user-images.githubusercontent.com/5493666/153154298-f5d265d3-d779-4f1c-ad35-71927109af74.png)

But we lack some information to easily navigate. The information I wanted here

[2022-02-09 08:26] DanielNoord commented on #5466
Lot to unpack here.

Although I like making the `name` attribute "smarter" I'm not sure it should be a `Name` node. `Name` is used to represent variables and mimics (in a way) `ast.Name`. `def fun(param: int) -> bool:` doesn't really fall jn the same category as the `x` in `x = 1` in my opinion. Perhaps we should think about something else? A `NamedTuple` or another datatype that can convey inform

[2022-02-09 08:28] DanielNoord commented on #5466
Btw, perhaps in the meantime we should change `ClassDef` and `FunctionDef` to only raise on the first 3 columns of the first line (that should never exceed either `def` or `class`) as not to annoy our users while we're working on this.

[2022-02-09 08:34] DanielNoord commented on #5782
To make this more actionable, I'd say that:
1) For messages coming from standard checkers it should say something like:
`This message is emitted by standard checker xxx. You can view the source code here.`
2) For messages coming from extensions it should say something like:
`This message is emitted by the optional extension xxx. You can view the source code here. To turn this extension on add the

[2022-02-09 08:39] DanielNoord commented on #4994
@NikaBatsmanova Could you provide the code you ran `pylint` over?

[2022-02-09 09:50] skirpichev commented on #5724
I did more tests.  It seems, `pylint --ignore-patterns=test_ode.py diofant` - pass.  See [these](https://github.com/diofant/diofant/actions/runs/1816890580) jobs (with [that diff](https://github.com/diofant/diofant/pull/1205/commits/1c710dea9f1b928cf151ee3cbd5698645316d174)).

The matched [test_ode.py](https://github.com/diofant/diofant/blob/6e280e9d0c974a239f850b95e0162f1dd209da20/diofant/tests/s

[2022-02-09 11:39] trym-b opened #5783 "pylint trigger false-positive `no-member` error when using `pathlib.Path` parents function"
### Bug description

Pylint finds a false-positive when running the code below:
[code]
When the code is run like this: `python /path/to/script/test.py`, this is the output:
[code]

However, when I run pylint with the following options `pylint test.py --disable missing-module-docstring` then this is the output:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[

[2022-02-09 11:57] cdce8p commented on #5466
I'm certainly still open for ideas how to do it better, maybe even without a breaking change. However, what I've found while thing about it is that contextual it would make use `Name` nodes for them, more specifically `AssignName` nodes.

The main reason is probably that we already do that in other places (`ExceptHandler.name`, `MatchMapping.rest`, `MatchStar.name`, `MatchAs.name`). We convert the

[2022-02-09 12:50] DanielNoord commented on #5466
Okay! I just wonder if there are differences between assigning with `=` and `class` that we need to think about. Things I can think of now are stuff like the `parent` attribute which might also be of a specific type for `AssignName` and could be different for `class` and `def`. Not sure if this is a real problem, but just something to consider. If there are real differences between the two we migh

[2022-02-09 15:19] miniBloq commented on #3199
Is there anyway to get `jedi` telling _what_ a syntax error is instead of just _where_ it is in the code running by Pyodide? In particular, syntax errors inside `asyncio` coroutines "fail silently" and I was trying at least to get the linter helping with that. But can't find error messages, just error positions...

[2022-02-09 15:22] DanielNoord commented on #3199
You might be in the wrong repository for this. This is the `pylint` repo, you can find `jedi` [here](https://github.com/davidhalter/jedi).

[2022-02-09 15:47] miniBloq commented on #3199
Sorry, and thanks!

[2022-02-09 17:04] martimlobao opened #5784 "false positive"
### Bug description

Just tried this out with the latest version of the main branch (any version after bfeca4c) and there seems to be a case where #5547 is still raising a false positive unexpected-keyword-arg error.

[code]

(Note that no error is raised by pylint if we remove the top-level function (`example_decorator`). The reason for someone to define the decorator this way is so that it's pos

[2022-02-09 18:14] oriyarde opened #5785 "False-positive E0602 with nonlocal"
### Bug description

similar to https://github.com/PyCQA/pylint/issues/2049, but with `with` instead of `if`:

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error. `count` equals 1 at the end of `func`

### Pylint version

[code]

[2022-02-09 19:58] jacobtylerwalls commented on #5645
Reproduced it now. (There was a flaw with my github actions recipe.)

I can [reproduce](https://github.com/jacobtylerwalls/astroid/runs/5130988976?check_suite_focus=true) even on `astroid==2.9.0` with Python 3.8, `virtualenv==15.1.0` and `windows-latest`:

[code]

I think it's a fool's errand to spend more time trying to bisect: we're talking a major matrix of python versions, platforms, pylint/as

[2022-02-09 20:05] DanielNoord commented on #5645
Hmm that directly contrasts @paride's comment here: https://github.com/PyCQA/pylint/issues/5645#issuecomment-1008773689.

For me the most important question is whether this regression was actually introduced in `2.9.x` in `astroid` and therefore in `pylint` `2.12.x`. That's why I would like to bisect and get the faulty commit.
If it was not introduced in `2.9.x` this might just be a regular false

[2022-02-09 20:19] jacobtylerwalls commented on #5645
Sure thing. I'm just worried it will turn out to be a different faulty commit on various platforms and python versions.

Anyway, [reproduced](https://github.com/jacobtylerwalls/astroid/runs/5131342958?check_suite_focus=true) on astroid 2.8.1. (I'd have to keep doing this to try to get a "good" commit, and I'd have to rollback python and pylint versions, probably.)

[code]

[2022-02-09 20:22] DanielNoord commented on #5645
Hmm, do you know what version of `setuptools` was present in those two tests?

And @paride do you know which version of `setuptools` you used?

[2022-02-09 20:34] jacobtylerwalls commented on #5645
`setuptools=60.8.2`

The monkeypatching started in >60, based on [discussion](https://github.com/PyCQA/astroid/pull/1321#discussion_r776911599)

[2022-02-09 21:49] DanielNoord commented on #5724
I ran a quick and dirty profile on the linting of that specific file. If you look at the profile it might not actually be the final new line:
[code]
`nodes_of_class` which is being called by `_no_context_variadic` is taking a considerable amount of time. That might be the culprit here.

![out](https://user-images.githubusercontent.com/13665637/153295329-6fd1a423-a2cd-4a4b-bd69-3b81290cfe5c.svg)

[2022-02-10 01:38] skirpichev commented on #5724
Well, my point is that the problem is triggered by the 'missing-final-newline' checker (or other mentioned above checkers).  If [remove](https://github.com/diofant/diofant/pull/1205/commits/50ec46a5c27128f129364de1ad88f3de5ae298c6) these lines, `pylint diofant` doesn't timeout on CI.

[2022-02-10 07:43] DanielNoord commented on #5724
My bad, I forgot you `missing-finale-newline` is disabled by default (although the other issue is also quite interesting performance-wise).

For those looking to tackle this issue. The issue is with this `re.search` call:
https://github.com/PyCQA/pylint/blob/851b63e897fdcdb07b939ac7873e9ea3a94f1115/pylint/checkers/format.py#L778

We get stuck here on the file @skirpichev mentioned.

The pattern is

[2022-02-10 08:17] DanielNoord commented on #5724
Submitted a PR as the fix proved to be very easy. 😄

[2022-02-10 09:07] skirpichev commented on #5724
Oh, I think my guess was correct.  The nested construct with catastrophic backtracking seems to be the problem.

[2022-02-10 14:49] #5524 closed

[2022-02-10 16:02] jacobtylerwalls commented on #5364
Likely doing #5403 first would help.

[2022-02-10 17:17] Lyle-Alloy opened #5788 "Possible false positive with `use-sequence-for-iteration` on in-place sets with dynamic content?"
### Bug description

I'm getting a warning for `use-sequence-for-iteration` in my code, but I believe I have a valid reason to use it that should possibly be considered as an exception for the rule.

In my code I iterate over in-place sets with some in-place content, and some dynamic content to ensure that I iterate over the in-place content if it doesn't already exist in the dynamic content, whil

[2022-02-10 19:31] UncleOwen opened #5789 "Crash ``tuple index out of range`` because of missing import"
### Bug description

When parsing the following file:
(Note that I'm missing the import for `hypothesis.strategies.composite`)

[code]

pylint crashed with a ``IndexError`` and with the following stacktrace:
[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no crash

### Pylint version

[code]

### OS / Environment

Ubuntu 20.04

### Add

[2022-02-10 20:46] mbyrnepr2 commented on #5789
Looks like the one @DanielNoord  fixed in https://github.com/PyCQA/pylint/pull/5549 as part of the Pylint 2.13.0 milestone.

[2022-02-10 20:56] UncleOwen commented on #5789
Indeed, looks just like it. I just tried to reproduce with current master, and there's no crash.

[2022-02-10 21:06] Pierre-Sassoulas commented on #5466
I'm thinking about moving this to 2.14 because of the amount of work involved and the number of duplicate issues we must handle that are already fixed in main and could be released :)

[2022-02-10 21:17] DanielNoord commented on #5317
I'm thinking about moving this to 2.14 because of the amount of work involved and the number of duplicate issues we must handle that are already fixed in main and could be released :)

_Originally posted by @Pierre-Sassoulas in https://github.com/PyCQA/pylint/issues/5466#issuecomment-1035517869_

Just my two cents about `2.13`:
Looking at open issues and PRs for `2.13`:
1) There are 4 PRs which ar

[2022-02-10 21:22] Pierre-Sassoulas commented on #5317
👍

[2022-02-10 21:49] Pierre-Sassoulas commented on #5788
I think you need a set but you're not making the check that hello is in your iterable explicit. Doing so would make your code faster. I took the liberty of removing the print from your example so the benchmark is not majorly measuring the time it takes to print to terminal:

Here's the original ``a.py``:

[code]

[code]

If you can replace your iterable by set in b.py:

[code]

[code]

Now that is

[2022-02-10 21:55] jacobtylerwalls commented on #5788
I think it is a false positive.

It looks like that case was explicitly contemplated:
https://github.com/PyCQA/pylint/blob/61b4db0dc31fd31fcfda36e4730cb44848af2d30/tests/functional/u/use/use_sequence_for_iteration.py#L16

But on the other hand, there was discussion that this warning was [only intended for in-place sets](https://github.com/PyCQA/pylint/issues/4776#issuecomment-889818180). This isn'

[2022-02-10 22:06] jacobtylerwalls commented on #5788
Unfortunately this won't account for a use case like:

[code]

[2022-02-10 22:07] Pierre-Sassoulas commented on #5788
Great point @jacobtylerwalls, as we're raising a message on something that is not an in-place set/list the change required are a refactor (like the one I did above), not simply casting to set/list (as evidenced by your benchmark, it just add more thing to do before iterating). I think we need to stick to in-place set/list or make it clearer that a simple cast is not the solution.

[2022-02-10 22:51] DanielNoord commented on #5670
I'm moving this to the `2.14` milestone pre-maturely as #5791 addresses all the issues raised that need to be fixed before `2.13` launched.

I'm keeping this open as reminder to myself that I need to implement the check for `functools.cache` as well.

[2022-02-10 23:09] orSolocate commented on #5763
could you explain why you think there will be false positives with an example?

The implementation can be restricted only to `if` visits. it can be reduced to work only on either built-in types or inferable names. otherwise ignored. This will increase false negatives and decrease false positives.

[2022-02-10 23:14] orSolocate commented on #5773
@DanielNoord  I understand what you are saying, for example with a utils package all the instantiations would be external and out of scope, and it is not a rare case.

I suggest then that this checker would be a plugin, then a user who wants to use it can choose to do so.
A common use case would be a directory with multiple files of a standalone program, where you want all your functions to be cal

[2022-02-11 00:48] stephanlachnit commented on #5783
Interestingly this only happens with Python 3.10, not with Python 3.9.

[2022-02-11 07:55] bersbersbers opened #5793 "arguments-differ: number of parameters was some number ... and is now the same number in overridden ..."
### Bug description

The following code produces a warning that does not really tell much about what is going wrong:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I'd expect a more meaningful warning not only referring to the number parameters (which has not changed from `Base.fun` to `Class.fun`).

### Pylint version

[code]

[2022-02-11 08:10] DanielNoord commented on #5763
I can't think of any right now, however, I wonder how many actual messages will be raised. How often do people use this pattern when they shouldn't? And how often do people use this when they should?
I'm not totally convinced of the right balance between 1) catching actual errors and 2) the risk of emitting a number of false positives.

[2022-02-11 08:44] Pierre-Sassoulas commented on #5773
I agree with @DanielNoord here, I don't mind merging opinionated but simple checker as extension (like the one that forbid while loop or ternary condition). But once we add a checker in pylint we must fix the issues with it even if it's an optional extension. So maintenance time and complexity of the checker is something we have to take into account.

We could add a list of external python package

[2022-02-11 10:34] felixvd commented on #352
@matusvalo I tried this out, the option is kind of hidden in `Sponsor Tiers/Custom amounts/Enable one-time custom amounts`. Surprised that it's not on by default. If you turn it on I'll send the half-pizza.

[2022-02-11 10:38] DanielNoord commented on #352
You need to set up a connected bank account with Stripe Express, which is probably the reason why it's not turned on by default 😉

Looking at @matusvalo's profile, they have turned it on though 😄

[2022-02-11 11:56] laf0rge opened #5794 "False positive ``undefined-variable`` when using class reference of sibling class"
### Bug description

I'm getting false positives when using the following construct, where  the name of a sibling class is used in the argument list of defining another sibling class.

The code works perfectly fine, cpython executes it and the result is the expected result.  It is just pylint-2.12.2 which is complaining about this:

[code]

The full code example can be fond at https://gerrit.osmoc

[2022-02-11 14:35] DanielNoord commented on #5408
Fix submitted to `astroid`. Hopefully will land in `astroid` `2.10` and subsequently in `pylint` `2.13`.

[2022-02-11 20:38] karthiknadig opened #5796 "Pylint over Language Server Protocol and VS Code extension"
### Question

The [Python team for VS Code](https://github.com/microsoft/vscode-python) has been working on putting various tools we support behind [LSP](https://microsoft.github.io/language-server-protocol/) and breaking them out into their own extensions This work is now far enough along that we wanted to share the extension prototypes for your tool with you and see if you had any interest in ow

[2022-02-11 22:04] mbyrnepr2 opened #5797 "New checker - `unbalanced-dictionary-unpacking`"
### Bug description

Also mentioned in discussion in https://github.com/PyCQA/pylint/issues/5113.

The following situation does not issue a message from Pylint:
a.py:
[code]

On the other hand, Python gives:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Emit a message indicating the unpacking error.

### Pylint version

[code]

[2022-02-12 01:03] #5746 closed

[2022-02-12 01:24] Avasam commented on #4352
Upping this one, I like the rule but it happens so often with Flask

[2022-02-12 01:45] Avasam commented on #4369
I'm not entirely certain if related, but I'm having the same issue with `Column` type from` the sqlalchemy typestubs

[code]
![image](https://user-images.githubusercontent.com/1350584/153691419-01f83367-726a-48bd-b704-f651768b7b7a.png)

[2022-02-12 01:51] Avasam commented on #3979
I'm not entirely certain if related, but I'm having the same issue with `Column` type from` the sqlalchemy typestubs
pylint 2.12.2
Python 3.9.6

[code]
![image](https://user-images.githubusercontent.com/1350584/153691419-01f83367-726a-48bd-b704-f651768b7b7a.png)

[2022-02-12 01:59] Avasam commented on #2917
This does not happen to me, do you have the following stubs installed?
[code]

[2022-02-12 02:28] Avasam opened #5798 "false positive: global-variable-not-assigned and invalid-name for global dict"
### Bug description

My code snippet, my variables don't need to be assigned to, they're assigned once outside the function then reused.

![image](https://user-images.githubusercontent.com/1350584/153693039-5d9fcd8a-c091-4abe-9716-406fe3114090.png)

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No warnings

### Pylint version

[2022-02-12 02:39] Avasam opened #5799 "Since 2.12 method-related warnings are too intrusive and hide other issues"
### Current problem

![image](https://user-images.githubusercontent.com/1350584/153693348-6720dc4a-dad3-4ba0-8728-0c1845d92d92.png)

### Desired solution

To just underline the top of the function. Example:
![image](https://user-images.githubusercontent.com/1350584/153693412-645f70e7-2153-43c0-a1f4-e5c6a36d571d.png)

### Additional context

I do appreciate that issues no longer underline a single

[2022-02-12 04:11] skirpichev opened #5800 "False positive for 'chained-comparison'"
### Bug description

[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No R1716.

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-02-12 08:32] mbyrnepr2 commented on #5797
Good point @DanielNoord - I thought one of the existing unpacking checkers could cover it but perhaps not.

Perhaps `unbalanced-dictionary-unpacking`?

[2022-02-12 09:33] Pierre-Sassoulas commented on #5799
Duplicate of #5466

[2022-02-12 09:33] #5799 closed

[2022-02-12 17:07] mbyrnepr2 commented on #5800
It looks like this checker wants the following refactor:

Before:
`if a < 0 and b > 1 and c < 1 and d > 2:`

After:
`if a < 0 and b > 1 > c and d > 2:`

Some more details about the upper/lower bounds of `1`:
[code]

[2022-02-12 17:35] mbyrnepr2 commented on #5800
Would it be an idea for Pylint to output the suggested refactor to the user?

[2022-02-12 18:06] Pierre-Sassoulas commented on #5800
Thank you @mbyrnepr2 I didn't see it and was ready to call that a false positive 😄 A warning message suggesting what to do would make a lot of sense.

[2022-02-12 18:51] DanielNoord commented on #5797
Yeah that works for me!

[2022-02-12 19:25] kovla commented on #5466
@Pierre-Sassoulas Thanks for mentioning this. If the idea is to simply convey that there is a mistake in that line/section, underlining the first symbol (previous behavior) is the most minimalistic solution. As a user, I will explore the issue once, decide if I want to correct it, and after that all communication about it becomes merely a distraction. Hope this way of explaining it makes sense.

S

[2022-02-12 19:28] vlotorev opened #5801 "Module 'struct' has no 'unpack' member (no-member)"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

_No response_

### Pylint version

[code]

### OS / Environment

CentOS 8 Stream

### Additional dependencies

[code]

[2022-02-12 20:52] mbyrnepr2 commented on #5798
I think this looks like expected behaviour because the dictionaries are not getting reassigned at any point and, as a result, don't need `global`.

Here's a couple of scenarios:
[code]

[code]

[2022-02-12 21:46] cdce8p commented on #5466
The main issue, and I think we agree on that, is highlighting the whole class / function (without reason). That will be resolved either way.

That's a subjective preference IMO. Maybe something a dedicated VS Code addon can explore? #5796
For now, outputting a range would be consistent with other errors which is why that would be my preference.

[2022-02-12 22:51] Pierre-Sassoulas commented on #5794
I confirmed the false positive with latest pylint using:
[code]

[2022-02-13 09:11] mbyrnepr2 commented on #5801
This could be related to the Python version used. A similar issue mentions this here: https://github.com/PyCQA/pylint/issues/4184

[2022-02-13 22:51] BoniLindsley commented on #5378
I think the check given in <https://github.com/PyCQA/astroid/pull/900#issuecomment-804492415> would fix this. Specifically line 4 of the code snippet.
[code]
That pull request might need to be adopted with this in mind, or needs to be merged first, for this to be added, I think.

[2022-02-14 09:15] kayhayen opened #5803 "False alarm for superfluous-parens"
### Bug description

Simple code gives false warning:

[code]

As you can see, there are no braces around the return value, but I still get `superfluous-parens   Unnecessary parens after 'return' keyword`

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Should detect the parens usage properly.

### Pylint version

[code]

### OS / Environment

[2022-02-14 14:16] jacobtylerwalls opened #5806 "Emit a message for reliance on variable annotations never initialized in `__init__` or `__new__`"
### Current problem

This pattern emits no messages:
[code]

### Desired solution

Should raise either `maybe-no-member` if we're being cautious, or if we can actually check `__init__` _and_ `__new__`, then we might actually raise `no-member`.

### Additional context

See discussion at

https://github.com/PyCQA/pylint/pull/5544#issuecomment-1038768505
#2945
#3167 (fixed by #4194)

From PEP 526:
"I

[2022-02-14 18:40] shuckc commented on #5801
Facing the same issue with quite different versions:

[code]

[2022-02-14 20:04] kushal-ti opened #5807 "Is there an option to set a threshold limit on duplicate-code detection"
### Question

I'm not very familiar with pylint, so apologies if i'm asking a dumb question. I'm not quite sure how the duplicate code detection works, but i'm guessing it uses some kind of tree matching algorithms for the ast to detect similarity. if that is the case, is there a way to set the threshold for similarity beyond which the code is reported as duplicate

### Documentation for future us

[2022-02-14 21:37] brettcannon commented on #5796
Another option is LSP support which is [editor-agnostic](https://microsoft.github.io/language-server-protocol/implementors/tools/). If that's something you may be interested in then just let us know! But as we said, we understand if you are not interested and we can continue to wrap Pylint ourselves at both the LSP and VS Code level.

[2022-02-15 06:05] areveny commented on #5403
Since this involves storing detailed results between runs, could we also store a hash of linted files and not rerun pylint on files that have not changed? Or skip all the checkers that do not look at imports.

[2022-02-15 08:32] Pierre-Sassoulas commented on #5796
I like the list of supported IDE for LSP ! There's also an issue open for SARIF (https://github.com/PyCQA/pylint/issues/5493) never heard of it before the issue was opened, is it wildly adopted too ?

[2022-02-15 08:35] Pierre-Sassoulas commented on #5807
The option is called ``min-similarity-lines`` and is in the documentation you provided. What description would you propose so it's easier to understand what it does ?

[2022-02-15 08:38] kushal-ti commented on #5807
Sorry, perhaps i was not clear in my original question. min-similarity-lines set's the threshold according to a certain number of lines. What i was hoping for was a similarity threshold in percentage (ex. two pieces of code are 80% similar) or something along those lines. I come from an NLP background, and document similarity in NLP is usually measured in those terms. I'm not sure if such an optio

[2022-02-15 08:40] Pierre-Sassoulas commented on #5801
Added the 3.8 tag as the problem does not seem to occur with latest pylint version on python 3.9. There was a strange regression between python 3.8.9 and 3.8.12, apparently [it worked in 3.8.9 but not anymore](https://github.com/PyCQA/pylint/issues/4184#issuecomment-845232644)

[2022-02-15 08:44] Pierre-Sassoulas commented on #5807
No we don't have this option.

In the context of programming I don't think so, in both case the 4 duplicated lines could be factorized.

[2022-02-15 08:44] #5807 closed

[2022-02-15 09:07] kushal-ti commented on #5807
Yeah fair enough. Thanks for the response. I'll be closing this issue now

[2022-02-15 10:12] DanielNoord commented on #5796
@brettcannon I scanned through the overview on that site. What do you mean with "LSP support"? Is that returning the output from `pylint` in a formatter similar to the JSON response on [this page](https://microsoft.github.io/language-server-protocol/overviews/lsp/overview/) or am I misunderstanding you?

[2022-02-15 10:58] DudeNr33 commented on #5796
Can you maybe provide (ideally relatively simple) example code of some static analysis tool that already has a LSP server VS Code extension?
I think this could make it easier to understand what maintaining such an extension means in terms of required skills and effort.

[2022-02-15 17:36] connorbrinton opened #5809 "🔍 Improve CPU count detection in cgroup environments"
### Current problem

PyLint [currently uses](https://github.com/PyCQA/pylint/blob/8c0062f5ac0cfd80a74568e36d1e68e5a128c7f5/pylint/lint/run.py#L22-L30) `sched_getaffinity` or `multiprocessing.cpu_count` to identify the number of CPUs available to the system, falling back to `1` if neither function is available. This doesn't work properly in cgroup environments, where CPU limits may be imposed as a

[2022-02-15 19:16] brettcannon commented on #5796
@DanielNoord LSP is a client/server protocol over JSON-RPC. So from Pylint's perspective, supporting LSP is probably something along the lines of an `--lsp` flag or something to spin up an LSP server that can speak the protocol (from LSP's perspective, the editor is the client). [pygls](https://pypi.org/project/pygls/) is probably the most popular library in helping to implement an LSP server.

De

[2022-02-15 19:33] karthiknadig commented on #5796
@DanielNoord @DudeNr33 You can find the code that does this in `extension\bundled\linter\linter_server.py`.

In there, we handle on file open, save, and close LSP requests. Part of this is running `pylint` using `runpy`, and then parsing the results and sending them as LSP diagnostics messages. Most of the TS/JS code is there to just get the right python interpreter from the python extension and l

[2022-02-15 20:43] 1Mark opened #5810 "How to fix pylint E1134: Non-mapping value X is used in a mapping context (not-a-mapping)"
### Question

How to fix pylint E1134: Non-mapping value X is used in a mapping context (not-a-mapping)

[code]

### Documentation for future user

Maybe an example in the documentation since this isnt that obvious in my opinion and I was using 2.9.3 and upgraded to 2.12.2 and this suddenly became an error.

### Additional context

For more details please see

https://stackoverflow.com/questions/7

[2022-02-15 21:03] mbyrnepr2 commented on #5785
I haven't spotted the change which fixed this but I can reproduce on the reported 2.12.2 version but not on development 2.13.0

[2022-02-15 21:12] markmark206 commented on #4045
And what about this case (should I open a separate issue?):

[code]
[code]
[code]
[code]

[2022-02-15 21:23] DanielNoord commented on #5796
@brettcannon @karthiknadig  I use VS Code myself, so I'm certainly inclined to help out here both to thank you for all you're doing for Python support in VSC as well as make my own life easier. However, I think for now adding LSP support internally in `pylint` might be a little too much. We're actually dealing with quite a bit of technical debt and issues such as migrating away from `optparse` and

[2022-02-15 21:24] DanielNoord commented on #5785
Thanks @mbyrnepr2! We can probably thank @jacobtylerwalls for this!

Closing!

[2022-02-15 21:24] #5785 closed

[2022-02-15 21:26] DanielNoord commented on #4045
@markmark206 This actually does emit a warning on the to-be-released `2.13` version thanks to the work of @jacobtylerwalls  and others!

[2022-02-15 21:27] markmark206 opened #5811 "An example of a try/except where pylint does not detect UnboundLocalError (used-before-assignment)"
### Bug description

This is related to (but not exactly duplicated by) what is described in https://github.com/PyCQA/pylint/issues/4913 and https://github.com/PyCQA/pylint/issues/4045 .

Here is an example where a variable is initialized inside a try block, and is used in the except, before it had a chance to be initialized.

[code]
[code]

if i run this code, i get an error -- as i would expect.

[2022-02-15 21:28] markmark206 commented on #4045
@DanielNoord this is very exciting, thank you!!

I opened a separate issue before i saw this, I will go ahead and close (unless you get there before me).

Thank you again!!

[2022-02-15 21:29] markmark206 commented on #5811
it looks like this issue has already been fixed: https://github.com/PyCQA/pylint/issues/4045#issuecomment-1040809846 closing. thank you!!

[2022-02-15 21:29] #5811 closed

[2022-02-15 22:33] brettcannon commented on #5796
You're quite welcome! And glad you're a happy user!

We completely understand. We just didn't want to publish something and have you feel like you weren't consulted or that we are trying to take ownership of Pylint in the VS Code Marketplace or in the LSP space if we published the LSP server for Pylint as a separate thing on PyPI.

How discoverable would it be to notice the differences in the JSON

[2022-02-15 22:42] DanielNoord commented on #5796
I mean I can think of multiple ways to go about doing this. Just a `version` key should be enough, right? If it exists check which `pylint` `json` format it is (which would allow later iterations) and handle appropriately, if it doesn't assume you're dealing with < 2.13 (or whatever version we would add that key).

I think in https://github.com/PyCQA/pylint/issues/4741 we actually discussed this p

[2022-02-16 10:48] DanielNoord commented on #4322
I'm working on this in https://github.com/DanielNoord/pylint-action.

I hope to have a first real version ready in the coming weeks and then move it to this repository/organization.

[2022-02-16 12:18] #5341 closed

[2022-02-16 12:23] Pierre-Sassoulas commented on #5796
A tuple for the version is available for compatibility reason here: https://github.com/PyCQA/pylint/blob/main/pylint/__pkginfo__.py#L35. See https://github.com/PyCQA/pylint/issues/4399 and https://github.com/PyCQA/pylint/issues/4420 (TLDR : ``pylint.__pkginfo__.numversion`` was not available for 2.8.0, 2.8.1 and 2.8.2, but was before and will be after).

[2022-02-16 14:32] tbarnier opened #5813 "Name' object has no attribute 'value'`` (if possible, be more specific about what made pylint crash)"
### Bug description

Content:
When parsing the following file:

[code]

### Command used

[code]

### Pylint output

[code]
[code]

### OS / Environment

inux laptop 5.10.60.1-microsoft-standard-WSL2 #1 SMP Wed Aug 25 23:20:18 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

### Additional dependencies

agate==1.6.3
alembic==1.4.3
apache-airflow==1.10.15
apache-airflow-backport-providers-google==2020.11.2

[2022-02-16 14:35] DanielNoord commented on #5813
Duplicate of https://github.com/PyCQA/pylint/issues/5448.

Sadly this is not an issue with pylint, but rather with a downstream package. I would recommend checking if their repository has an open issue about this yet and if not open one there!

[2022-02-16 14:35] #5813 closed

[2022-02-16 19:22] brettcannon commented on #5796
That would work. For us, the key thing is knowing how to properly call Pylint and then how to parse the results appropriately. For an API thing like a specific flag or value on the CLI requires checking the Pylint version upfront before we call Pylint using `runpy`. For processing on the output we either need to have some versioning or an easy way to detect from the shape of the data what we shoul

[2022-02-16 20:27] jacobtylerwalls commented on #4322
@DanielNoord thanks for stepping up. I had a quick skim of the WIP, and I suppose I have a stupid question. I thought issue was just asking for a tiny three-line YAML recipe, to help people get the same experience they get on the command line with defaults. Checkout python, pip install requirements, run pylint. Something like that. What was your interpretation, if I may ask?

[2022-02-16 20:59] DanielNoord commented on #4322
@jacobtylerwalls I'd like to support two functionalities in the same action:
1) Run pylint over your codebase and warn when there are errors
2) Run pylint over a PR or push and annotate the respective errors

I'm still figuring out how the Github API works so it still needs (a lot of) work, but I think especially the second function would be useful. That's what most people looking for this action

[2022-02-16 22:05] areveny opened #5814 "Check for circular comparisons and other comparison improvements"
### Current problem

[code]

`compare.py:4:3: R1716: Simplify chained comparison between the operands (chained-comparison)`

While it's nice some message that points to the error, it's not quite correct.

### Desired solution

Detect circular comparisons which simplify to `False`.

This is a graph pattern is solved with a topological sort. The main risks are the performance overhead for building t

[2022-02-16 22:21] bittner commented on #4667
I have a similar situation with a Python package I maintain. This happens with `pylint==2.12.2` for all modern Python versions (3.6.9, 3.7.12, 3.8.12, 3.9.10).

## Code Sample

The `shell` command that [returns a Namespace](https://github.com/painless-software/python-cli-test-helpers/blob/main/cli_test_helpers/commands.py#L36-L40) is also blamed by Pylint to have no members. Example:

[code]

Pyli

[2022-02-16 22:30] DanielNoord commented on #4322
Just to show the progress I have been making today. Something like this is what I have in mind 😄

<img width="761" alt="Schermafbeelding 2022-02-16 om 23 29 19" src="https://user-images.githubusercontent.com/13665637/154368293-e2807805-eed9-40a1-b314-f94315fe6794.png">

[2022-02-16 22:46] jacobtylerwalls commented on #4322
Awesome. I guess I was just surprised (speaking only from ignorance!) that it takes JS to do that -- I would have thought a pylint feature could just output some JSON like we already do, and the YAML step could feed that to the check API.

[2022-02-16 22:58] DanielNoord commented on #4667
You could check if adding `generated-members=argparse.Namespace` to your config helps. I actually did so myself in a PR for `pylint` in which we start to use `argparse`.
It might actually be good to make this a default value.

[2022-02-16 23:06] DanielNoord commented on #4322
Yeah, I must confess: after a day of trying to understand the various bits and pieces of documentation on GitHub Actions I am not even sure if this is the right approach 😅
How I understand it is that the checks API is actually meant for GitHub Apps, similar to the pre-commit app. However, parts of the checks API is also included in the actions/normal API. For example, the option to send Annotation

[2022-02-16 23:23] cdce8p commented on #4322
I would suggest looking into [problem-matchers](https://github.com/actions/toolkit/blob/main/docs/problem-matchers.md). It might not be as customizable, but likely much easier to implement.

This is what Home-Assistant does:
* [ci.yaml -> pylint](https://github.com/home-assistant/core/blob/f89de613d9449f1edd717f00f333dd0546985fb4/.github/workflows/ci.yaml#L617-L619)
* [pylint.json (regex-matcher)]

[2022-02-17 08:32] Pierre-Sassoulas commented on #4322
This is amazing @DanielNoord, the screenshot looks great !

Regarding the MVP I think it needs something to define what the dependencies are and install them between 1. and 3, because pylint can have a lot of false positive ``no-member`` / ``no-name-in-module`` when it can't import dependencies.  It's a "hard" problem to solve considering all the existing possible solutions to define dependencies

[2022-02-17 08:35] DanielNoord commented on #4322
@Pierre-Sassoulas I think that's something for the user to fix (although I should probably document it). If dependencies need to be installed from `requirements.txt` you just need to add an additional step to the action to download those dependencies. Same goes for the other types of dependencies.

@cdce8p Ah, that actually looks quite good.. Kind of annoying how diverse and dispersed the Github d

[2022-02-17 09:04] kasium opened #5815 "Escaped '*' in docstring leads to missing-param-doc"
### Bug description

If a docstring contains the arguments for `*args` and `**kwargs` and RST is used, `*` must be escaped.

[code]

However, the pylint docparams check doesn't like the escape

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Pylint should ignore escaping

### Pylint version

[code]

### OS / Environment

Linux

### Addi

[2022-02-17 09:05] kasium commented on #5815
My suggesting: Before comparing the arguments, "clean" them somehow (e.g. remove escaping)

[2022-02-17 09:10] DanielNoord commented on #5815
We currently handle `\*args` and `*args` after discussion in https://github.com/PyCQA/pylint/issues/5406.
Change was introduced in https://github.com/PyCQA/pylint/pull/5464/files.

Should be fairly trivial to fix this. However, I wonder why this is needed. Do you need to escape the backslash twice? And are there instances where you need to escape it three or four times? Should we just allow an unl

[2022-02-17 09:12] kasium commented on #5815
@DanielNoord If I use a single backslash I need to use "r-strings", else I get:
[code]

Therefore you need to use `\\` to avoid this error. I don't think that more than two backslashes are needed

[2022-02-17 09:14] DanielNoord commented on #5815
Is using `r-string` a problem in your case? This comment seems to indicate that that is the "correct" way to solve this:
https://github.com/PyCQA/pylint/issues/5406#issuecomment-983630829

[2022-02-17 09:20] kasium commented on #5815
@DanielNoord I see your point. However, adding r-strings can lead to some issues in corner cases. I don't remember a concrete example but I guess I found one in the past. So, would you be open to accept a PR or do you think everybody should go with r-strings

[2022-02-17 09:26] DanielNoord commented on #5815
Hm, I'm not sure actually. I don't think it hurts to allow `\\` but on the other hand: this is the exact case that r-strings are intended for. _I can imagine some people might actually be interested in a `consider-using-r-string` checker in the `CodeStyle` checker._
If we can't find an actual breaking corner case I think disallowing this and thereby nudging users to the (arguably) intended way to

[2022-02-17 10:40] Pierre-Sassoulas commented on #5815
I agree with @DanielNoord here.

I think we need to know what issues it's causing in what corner case to be able to make a decision. Personally I don't know of any :)  Let's keep the discussion open, but as it's hard to prove a negative I'll put this in the 2.14 milestone so we actually close or fix at some point.

[2022-02-17 13:07] TTKuLa opened #5817 "False positive used-before-assignment with try-except"
### Bug description

The following code will raise a `used-before-assignment` error:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Expected no error, since the variable `e` in the try-except and the `e` in the list comprehension use different scopes.

### Pylint version

[code]

### OS / Environment

_No response_

### Additi

[2022-02-17 14:27] Pierre-Sassoulas commented on #5817
Probably fixed in https://github.com/PyCQA/pylint/pull/5812 (duplicate of #5112 ?)

[2022-02-17 14:29] DanielNoord commented on #5817
I checked. Still emitting on `main` 😢

[2022-02-17 14:38] jacobtylerwalls commented on #5817
No, it's unrelated! Pretty much the only except-related case in that method that I had not altered yet :-D

[2022-02-17 15:27] #5817 closed

[2022-02-17 19:21] hroncok commented on #5704
Fedora updates:

 - [python3.8-3.8.12-6.fc35](https://bodhi.fedoraproject.org/updates/FEDORA-2022-bee534f152)
 - [python3.8-3.8.12-6.fc34](https://bodhi.fedoraproject.org/updates/FEDORA-2022-2f3a7c7f06)
 - [python3.7-3.7.12-8.fc35](https://bodhi.fedoraproject.org/updates/FEDORA-2022-61699bd6f8)
 - [python3.7-3.7.12-8.fc34](https://bodhi.fedoraproject.org/updates/FEDORA-2022-8b7e9457a2)

The update

[2022-02-17 20:11] Avasam commented on #5798
I think I got confused and indeed didn't need to be global. Making the errors accurate.

[2022-02-17 20:11] #5798 closed

[2022-02-17 20:46] Pierre-Sassoulas commented on #5798
Thanks for the investigation @mbyrnepr2 !

[2022-02-17 23:14] smackesey commented on #4300
PSA for others facing this problem: if you are a library author using dynamically defined attributes, and you want to avoid spamming your users with false positives, then, if you know the names of the dynamically defined attributes, you can do this:

[code]

This works, but pylint does not understand it.

[code]

[2022-02-18 08:13] DanielNoord commented on #5815
Hmm, I would need to investigate this. That could actually be the case.

[2022-02-18 09:11] kurianbenoy-aot opened #5819 "Missing badge for pylint"
### Current problem

Our project is using pylint, and we want a badge like in case of black to show in our README

### Desired solution

- Create a shareable badge which can be easily attached in project README like in case of [black](https://github.com/psf/black#show-your-style)

### Additional context

_No response_

[2022-02-18 09:18] Pierre-Sassoulas commented on #5819
Thank you for opening the issue !

I've found this one : https://img.shields.io/badge/Pylint-10.00/10-green, apparently it's possible to create a badge dynamically see : https://github.com/ResidentMario/missingno/issues/49#issuecomment-362469117, but an official badge would be nice for uniformity.

Do you want to create the badge and open a merge request to add it to our readme ? :)

[2022-02-19 04:15] jacobtylerwalls commented on #5770
**Source**
[code]
**Sanity check**
[code]
**Traceback**
[code]
**Version**
[code]

[2022-02-19 13:32] orSolocate commented on #5533
@bpedersen2  note that for the same line you also get this `[C]` message:

`C0209: Formatting a regular string which could be a f-string (consider-using-f-string)`

(same Pylint and astroid versions)

[2022-02-19 14:09] orSolocate commented on #5533
I debugged your session.
The `degrees` function returns an array `ndarray` or `None`, unless in the special case that you have here where the input is a scalar, which yields a scalar output as well.

From `numpy` `degrees` docs:

[code]

running your code on Pylint, you get for **string.py**:

`#400:` `                   arg_type = utils.safe_infer(arg)`

assigns: `<Instance of .ndarray at 0x16132

[2022-02-19 18:05] KukavicaHome commented on #2426
VS2019 works for me.

[2022-02-20 03:30] robertsont opened #5821 "False positive E1130 invalid-unary-operand-type from Numpy einsum"
### Bug description

It seems this bug has appeared before, for example [here](https://github.com/PyCQA/pylint/issues/2436) but was fixed by [#3974](https://github.com/PyCQA/astroid/pull/918). Generally, return values from `numpy` functions are handled correctly but pylint seems to think that the return value from [`numpy.einsum`](https://numpy.org/doc/stable/reference/generated/numpy.einsum.html)

[2022-02-20 09:44] Infernio opened #5822 "useless-super-delegation when an override changes the return type annotation"
### Current problem

Similar to #1923, but for the return type annotation.
It is sometimes useful to override a method and change the return type annotation - whether to help a static type checker out or to help the IDE make better autocomplete suggestions.

Here's an example - it's a bit contrived, I actually ran into this when overriding to add typing to a method from a third-party library (ANTL

[2022-02-20 10:19] Infernio opened #5823 "super-with-arguments should not be shown for dataclasses with slots"
### Bug description

Python 3.10 adds `slots=True` to dataclass decorators. The documentation describes it as such (emphasis mine):

The fact that it returns a new class breaks argument-less super, as shown in this example:

[code]

`Bird` implements pylint's suggestion to use argument-less super,  `Dog` does not. Running the file:
[code]

### Configuration

_No response_

### Command used

[code]

[2022-02-20 13:53] Infernio commented on #5767
Happens with the `kw_only` attribute of `dataclasses.field` too:
[code]

Running pylint (2.12.2):
[code]

[2022-02-21 08:10] #5819 closed

[2022-02-21 13:37] DervishD opened #5824 "Unnecessary parens after 'return' keyword issued when returning a generator expression"
### Bug description

`pylint` produces `superfluous-parens` error when a generator expression is returned and that generator expression contains additional parentheses, at least that's what I infer since a simple generator expression like `(i for i in ['a', 'b', 'c'])` does not trigger the error.

Below is the minimum code I've been able to create that reproduces the problem. Empty docstrings are

[2022-02-21 21:36] mbyrnepr2 commented on #5824
I can reproduce it on the 2.10.2 version but it works ok for me on 2.12.0 @DervishD if you could try that.

pylint version:
[code]

[2022-02-22 09:11] DervishD commented on #5824
@mbyrnepr2 you're right, it does **NOT** happen in `pylint 2.12.0`.

For some reason, `pip list --outdated` was not showing a new version for `pylint` when I was trying to update it before reporting the problem. Also, I did not find anything in closed bugs about this particular issue. The first part is somehow `pip`'s fault, but the second part is entirely my fault, I obviously did not search prop