[2022-02-22 09:11] #5824 closed

[2022-02-22 09:13] mbyrnepr2 commented on #5824
@DervishD no worries - thank you for taking the care to highlight a potential issue!

[2022-02-22 09:24] DervishD commented on #5824
My pleasure, really, and thanks a lot for `pylint`, of course 😃.

[2022-02-22 09:56] mbyrnepr2 commented on #5824
I'm going to pass this forward: Pylint is awesome thanks to @Pierre-Sassoulas & a multitude of others; what I do is a drop in the ocean compared to these folks 🚀

[2022-02-22 10:01] DervishD commented on #5824
Of course! 💪🏼 😃

[2022-02-22 11:42] teake opened #5829 "How to register options for reporter plugins?"
### Question

I'm trying to add a configuration option to my Reporter plugin, but am drawing blanks on how to do this. This seems to be possible for Checker plugins [1], but for Reporter plugins (i.e. those extending `BaseReporter`) I could not find any documentation. The hook `load_configuration` is available but that seems to be for overriding existing options [2]. How do I add a new CLI option

[2022-02-22 11:52] DanielNoord commented on #5829
Hi @teake,

I don't think we currently support this. It might be something we could/should look into. However, we're currently working on migrating our complete configuration parsing/registering from `optparse` to `argparse`. This is also likely going to change how options can/should be registered.

We're still in the first stage of this process, but I'll add this issue to the todo list so that we

[2022-02-22 13:41] parvathirajan commented on #2242
For me, it's 30. What it is taking?

[2022-02-22 14:49] Pierre-Sassoulas commented on #2242
Please see [the documentation on exit_code](https://pylint.pycqa.org/en/latest/user_guide/run.html?highlight=exit%20code#exit-codes), it means you have every time of message except fatal/error.

[2022-02-22 16:30] evohnave opened #5830 "Links for spyder in documentation are broken"
### Question

The links for spyder, in the documentation, seem to be broken.

For example, in [Editor and IDE Integration](https://pylint.pycqa.org/en/latest/user_guide/ide-integration.html#ide-integration) it lists a good link as [this](https://docs.spyder-ide.org/pylint.html), which gives you a 404 error.

Also the [Pylint home page](https://www.pylint.org/) lists [this](https://pythonhosted.org

[2022-02-22 22:53] sam-s opened #5831 "Regression: False positive I1101(c-extension-no-member) for np.finfo(np.float64).resolution"
### Bug description

""
import numpy as np
print(np.finfo(np.float64).resolution)

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no diagnostics

### Pylint version

[code]

### OS / Environment

mac os

### Additional dependencies

numpy==1.22.2

[2022-02-22 22:56] sam-s commented on #5831
Also reported in https://github.com/PyCQA/pylint/issues/5081#issuecomment-928289526

[2022-02-23 05:08] areveny commented on #5717
This PR attempts to fix a root cause of all these issues got merged recently: https://github.com/PyCQA/pylint-django/pull/350

I'll test shortly if this change closes these issues--I have a bit of confusion around when pylint-django gets used so I want to make sure. If I can get it going, upgrading `pylint-django` to 2.5.2 would fix this crash.

[2022-02-23 11:59] MerelTheisenQB opened #5832 "Issues accessing `PurePath.parents` by index in Python 3.10"
### Bug description

We're running `pylint` as part of our CircleCI builds, which we run on Python 3.7, 3.8, 3.9 and have now added 3.10.

We're using `pylint` version `2.12.2`, and the checks succeed on all versions < python 3.10, but on 3.10 we see the following errors:

`E1101: Instance of 'tuple' has no 'resolve' member (no-member)`
for:
[code]

`I0021: Useless suppression of 'abstract-class-i

[2022-02-23 12:15] Pierre-Sassoulas commented on #5832
Thank you for opening the issue.

Some checks have voluntarily different output for different python version. For example typing with ``dict`` or ``list`` needs to import from __future__ in earlier python interpreter. In 2.12, we introduced a new option ``py-version`` that permits to analyze code for a python version that may differ from your current python interpreter. Could you try to set the py

[2022-02-23 12:53] Pierre-Sassoulas commented on #5830
Thank you for opening this. Do you want to become a contributor as you're the one who detected the issue :) ?

[2022-02-23 13:53] Pierre-Sassoulas commented on #5832
This is [a global option](https://pylint.pycqa.org/en/latest/technical_reference/features.html?highlight=py-version#general-options), (``pylint --py-version=3.8``)

If you think we can make it clearer there's an issue to make the doc better: https://github.com/PyCQA/pylint/issues/5038, do not hesitate to add a comment there :)

[2022-02-23 14:33] MerelTheisenQB commented on #5832
Thanks, the doc explanation makes sense 🙂

Unfortunately, it doesn't make a difference for my checks..

[2022-02-23 14:53] parvathirajan commented on #5405
@Pierre-Sassoulas Sorry to bother you again, Still `--fail-under` is not failing for me, even the score is lesser. It should return exit code 1 but it doesn't.

[code]

**Output:**

[code]

[2022-02-23 15:21] Pierre-Sassoulas commented on #5405
@parvathirajan the exit code is not necessarily 1, it's [a bit encoded exit code](https://pylint.pycqa.org/en/latest/user_guide/run.html?highlight=exit%20code#exit-codes) from 0 to 32

[2022-02-23 15:30] parvathirajan commented on #5405
Oh Sorry! I felt really dumb here, Didn't read the word it's a bit encoded. tested it, and it's working as expected.

Also one more question if you don't mind me ☺️ Is there a way that I can get the output of the score, from pylint cmd.

Like how we can do it with `Run` - `score = results.linter.stats.global_note`?

[2022-02-23 15:52] Pierre-Sassoulas commented on #5405
No problem :) The score is shown in the output by default ``Your code has been rated at 7.76/10 (previous run: 7.76/10, +0.00)`` you could also use a custom reporter. The json reporter will have score in pylint 3.0 for example see #4741 .

[2022-02-23 15:56] parvathirajan commented on #5405
Amazing Work! hats off, Thank you so much and I really appreciate your help. Will try to contribute in the future. :)

[2022-02-23 20:56] areveny commented on #5717
Hey @iloveagent57,

Try upgrading your version of `pylint-django` to `2.5.2` from `2.5.0`. Switching between the two on my skeleton installation of `license-manager` is surfacing/preventing the crash.

I'll close this issue in a few days unless there issue keeps resurfacing on your end.

[2022-02-24 14:20] teake commented on #5829
Hi @DanielNoord, thanks for the prompt reply. It took me a bit longer to reply, but I wanted to finish the plugin first; it's now available on https://github.com/omegacen/pylint-sonarjson.

Adding a checker works perfectly indeed, thanks for the tip!

Most of the info that SonarQube needs is already in the standard JSON output, but the structure and key names are different. You can find the SonarQ

[2022-02-25 01:18] BrettMoan commented on #3767
@AWhetter is re-opening this possible? I'd like to be able to configure pylint to ignore test files the way @Conchylicultor described.

i wouldn't think pylint should be prescriptive of "whether test files are stored in standalone `tests`/`test`, directories" to support ignoring them from pylint.
"
Instead would opt to have a configurable flags for such as something like

[code]

[2022-02-25 04:22] brandon-leapyear opened #5835 "Slow with all checks disabled using pandas + dataclass"
### Bug description

Repro:
1. `mkdir test && cd test`
2. `python3 -m venv venv`
3. `venv/bin/pip install pylint pandas`
4. Write `foo.py`:

[code]
5. `time pylint --disable=all foo.py`

And this consistently takes 8s to run on my machine. Doing any of the following brings the runtime down to 2s:
* Comment out the `dataclasses` import
* Comment out the `pandas` import
* Comment out the `@dataclass

[2022-02-25 04:49] brandon-leapyear commented on #5835
Update: the minimal repro might be fast with the version of pylint on `master`, so this might not be an issue anymore.

Related, will there be a pylint release anytime soon?

[2022-02-25 05:37] brandon-leapyear commented on #1954
This also affects repos importing pandas + numpy. #5835 is one minimal example of this, but more generally, running `pylint --disable=all` on all the files in our repo takes 10s, while it takes 3s after commenting out all pandas + numpy + tqdm imports.

With prospector, it's currently ~40s, after commenting out all pandas + numpy + tqdm imports it's down to 30s, commenting out scipy + matplotlib +

[2022-02-25 06:38] Pierre-Sassoulas commented on #5835
Hi @brandon-leapyear thank you for opening the issue. The next milestone for pylint is https://github.com/PyCQA/pylint/milestone/49, it's 89% done right now, we need a release of astroid in order to close it, it's here https://github.com/PyCQA/astroid/milestone/25, 70% done right now.

[2022-02-25 06:49] Pierre-Sassoulas commented on #3767
@BrettMoan this option already exists, see

[code]
or ``ignore-paths`` introduced in pylint 2.9 if you want to use regexes.

[2022-02-25 07:25] Conchylicultor commented on #3767
I don't want to ignore the test filles. But apply different `pylint` rules to them.

I agree that pylint shouldn't impose were tests filles are stored.
For example at Google, tests filles are stored next to the implementation which make them much more discoverable and much more easy to navigate between test & implementation.
Google has an internal pylint version which apply different rules in test

[2022-02-25 07:58] Pierre-Sassoulas commented on #3767
If a googler want to contribute to pylint it would be very welcome. A lot of googler already did !

From where I'm at, the per-directory configuration is something that has been planned for a long time, and it's not implemented yet because we do not have enough contributors willing to take time to implement it. The per-file configuration seems a step above that, so it's unlikely to be done in the

[2022-02-25 11:09] laurentcau opened #5836 "pylint in embedded python interpreter"
### Current problem

We're facing 2 issues:
1. pylint exit application when parsing is finished. (Perhaps I missed the option to prevent that.)
2. I made a hack in our application to prevent exit but when I try to re-evaluate the file several times, it only display first evaluated warnings and errors.
code used:
[code]
### Desired solution

Ability to evaluate same file several times in same pytho

[2022-02-25 11:33] Pierre-Sassoulas commented on #5836
Hello, could you check the documentation [here, after "It is also possible to call Pylint from another Python program"](https://pylint.pycqa.org/en/latest/user_guide/run.html#invoking-pylint), please ? I'm thinking about creating a new title so it's easier to find this part of the doc, please let me know what we can make clearer too :)

[2022-02-25 13:01] evohnave commented on #5830
I'll look at it this weekend.

[2022-02-25 14:01] Pierre-Sassoulas commented on #5836
Yes, it's "intended" as in "it works this way and it would be a breaking change to change this". See exit code at the bottom of the doc from my next answer. Regarding the issue with the output see https://pylint.pycqa.org/en/latest/user_guide/output.html?highlight=stream#output-options

[code]

[2022-02-25 14:29] laurentcau commented on #5836
ok, do_exit=False is what I needed for the first point. Thanks.
For second, here is my test case:
test.py is:
[code]
[code]
now edit test.py:
[code]
in same python session:
[code]
It report the same error.
Should use of reporter fix this issue ?
I was not able to test your code because I don't know what is "text" in "text.TextReporter(pylint_output)"

[2022-02-25 14:38] Pierre-Sassoulas commented on #5836
It's ``from pylint.reporters.text import TextReporter``

[2022-02-25 16:04] aaronsmith1234 commented on #3060
I am still getting this on v2.12.2; not sure why! Same code,  pandas.ExcelWriter

[2022-02-25 16:36] #5836 closed

[2022-02-25 16:39] laurentcau commented on #5836
Hi Pierre,
I tested and that doesn't fix my second issue: The file is not re-evaluated in second call.

[2022-02-25 16:43] Pierre-Sassoulas commented on #5836
Can you show your code ?

[2022-02-25 16:43] He3lixxx opened #5838 "False negative `unused-variable` on reassignment depending on old value"
### Bug description

When reassigning a variable with a value that depends on its old value, pylint will not issue an `unused-variable` / W0612.

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

[code]

Note that this happens when assigning some value independent from `var`, eg. with `var = max(1, 3)`.

### Pylint version

[code]

[2022-02-25 16:46] Pierre-Sassoulas commented on #5838
Thank you for opening the issue after checking on the latest main branch :)

[2022-02-25 16:52] laurentcau commented on #5836
start python session:
[code]
edit c:\tmp\test.py (remove error)
and on **same** python console:
[code]

[2022-02-25 18:10] Pierre-Sassoulas commented on #5836
It seems the file is reevaluated as it should in the second call as there are 2 ``undefined-variable`` instead of one. You need to use another reporter if you want a new report.

[2022-02-25 19:30] jacobtylerwalls commented on #5838
Interesting case to think about. What definition would we rely on for "used", then? `var` was used in the course of getting the max of itself and 1. What about that is not "use"? 🤔

[2022-02-25 19:37] Pierre-Sassoulas commented on #5838
Hmm, I marked as false negative too fast, I think @jacobtylerwalls is right.

[2022-02-25 20:08] He3lixxx commented on #5838
I was thinking of "unused" as "the value you assign here is never used afterwards", inspired by how clang-tidy would [lint it as a dead store](https://clang.llvm.org/docs/analyzer/checkers.html#deadcode-deadstores) in c++ code.

I thought pylint would lint such cases in general, but just learned that it doesn't. In this case, this is not really a bug report. Would it make sense to open a feature r

[2022-02-25 22:11] dbrookman opened #5840 ""--notes" option ignores note tags that are entirely punctuation"
### Bug description

If a note tag specified with the `--notes` option is entirely punctuation, pylint won't report a fixme warning (W0511).

[code]

`pylint test.py --notes="YES,???"` will return a fixme warning (W0511) for the first line, but not the second.

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

[code]

### Pylint version

[code]

[2022-02-25 23:02] DanielNoord commented on #5838
I think this could be a feature request for the `CodeStyle` checker. Although obviously impacting performance I think such intermediate assignment are often used for clarity and readability and I don't think we should warn against them outright.

[2022-02-25 23:52] He3lixxx commented on #5838
Just to make sure, let me try to clarify: My problem is not with immediate reassignment. This is fine:
[code]

My problem is with assignments that are not used:
[code]

I initially though pylint would already lint this, and the self-reassignment was a special case, but turns out it is not. I changed the issue title and text to better reflect my actual intention (hope that's fine with the maintaine

[2022-02-26 09:21] DanielNoord commented on #5829
Good job on finishing it!

Ah, okay. Yeah, this is probably something that should stay in an external plugin. Thanks for contributing to the `pylint` network though! 😄

I'll leave this issue open because I still think that we should either update the documentation to reflect this or find a way to allow registering options more naturally.

[2022-02-26 09:30] DanielNoord commented on #5838
Ah, this is a different example and I actually think this is a nice enhancement. Although I wonder why we don't already see this.

@jacobtylerwalls Thought? The second example (which is now also in the OP) seems to be something we could warn against?

[2022-02-26 11:35] #5729 closed

[2022-02-26 11:38] #3680 closed

[2022-02-26 22:18] jacobtylerwalls commented on #5838
It's an interesting idea, for sure.

The variable consumers (per scope) are all or nothing, per name. There's not a concept of "name is used for part of the function/module and not used in later parts".

A really crude diff to surface test failures would be
[code]

I get 32 failures, some of which look good, but others look dicey such as:

https://github.com/PyCQA/pylint/blob/5bdd5034c556d2d4986a3

[2022-02-26 22:56] jacobtylerwalls commented on #5838
Right, I was concerned about side effects also.

I guess I thought this example was fine. How might you suggest rewriting it? Other than just `max(len(x) for x in ...)`, which sort of defeats the example. I guess the proposed checker would need to treat anything under a loop as "used".

[2022-02-27 08:46] Pierre-Sassoulas commented on #5838
The example is fine. Let's construct some almost similar one. I'm thinking as I write here.

So I guess this should not raise anything:
[code]

Then we'd have to be able to tell that the code has no side_effect to be sure that maxLength  is unused here ?
[code]

Here it's almost the same than before but we really use ``maxLength`` in the conditional for a variable that is used later. So it's unuse

[2022-02-27 09:38] #5486 closed

[2022-02-27 16:03] pauleohare opened #5844 "pylint (not-an-iterable) error in generator using match case"
The following code produces 2 pylint errors but runs fine:
[code]
pylint --version
[code]

[2022-02-27 16:29] Pierre-Sassoulas opened #5845 "False positive ``not-an-iterable`` in match case"
### Bug description

I have 2 functions that do the same thing: recursively iterate an object and return all the string values. I would prefer to use iter2, with the match case, as it is easier on the eye. They both run correctly but pylint reports errors in the second function.

[code]

See [original question on stackoverflow](https://stackoverflow.com/questions/71284533/pylint-error-not-an-itera

[2022-02-27 16:31] Pierre-Sassoulas commented on #5844
Thank you for opening the issue I created #5845 (I waited for the version to open the issue 😄 )

[2022-02-27 16:31] #5844 closed

[2022-02-27 17:03] DanielNoord commented on #5645
Thanks to the great work from @jacobtylerwalls and reviewers this has been fixed in `astroid` `2.10` with https://github.com/PyCQA/astroid/pull/1386. Expect the fix to be available in `pylint` `2.13`. 😄

[2022-02-27 17:03] #5645 closed

[2022-02-27 17:05] DanielNoord commented on #5770
@jacobtylerwalls Would you be willing to already open a PR with a test for this? This is the last issue for `2.13` without an already opened PR 😄

[2022-02-27 17:06] areveny commented on #5717
Resolved by the merged pylint-django issue: https://github.com/PyCQA/pylint-django/issues/349

[2022-02-27 17:06] #5717 closed

[2022-02-27 19:00] udifuchs commented on #5403
There is a tool called `pylint-ignore` that implements this baseline approach. It creates a database of all messages on the first run. Then, on subsequent runs  these messages will be ignored.

Personally, I prefer my own tool `pylint-silent`, which generates `# pylint: disable` comments for all your pylint messages. The advantage of this, is that you will notice the disabled pylint messages in yo

[2022-02-27 21:34] areveny commented on #2983
When we infer `attr.fields` in the unannotated base class, we get `nodes.None`: `
    attrs = getattr(cls, "__attrs_attrs__", None)`. If we annotate the base class, we infer an iterable.

We could check to see if any child classes of the class being checked have the annotation, but this would fail if the parent and child classes are in separate files.

Also note that in the example above, calling

[2022-02-27 23:26] DanielNoord commented on #5717
@areveny Sorry, I was messing up issues and reports. The comment I referred to in https://github.com/PyCQA/astroid/issues/1374#issuecomment-1053694584 was indeed fixed.

However, has the above actually been fixed? This is a `astroid` stacktrace not one from `pylint-django`. `Django` also doesn't feature once in the stacktrace.

[2022-02-27 23:49] areveny commented on #5717
Ah! I'm actually even more confident about this one.

`pylint-django` is accessed many times during inference of the original reporter's test file, confirmed by inserting a `print` statement. The errant `AssignAttr` node is returned by a `pylint-django` transform and doesn't get `qname` accessed in `pylint` until later, producing the above stack trace.

Furthermore I have been able to reproduce he

[2022-02-27 23:51] DanielNoord commented on #5717
Perfect! Thanks for looking into this :)

[2022-03-01 10:52] DanielNoord commented on #5723
After discussion and investigation with @carlio in `prospector` (see https://github.com/PyCQA/prospector/issues/481) I think we're going to close this. This was most likely the result of an old `pylint` version somewhere in a cache.
I don't know how messages from a removed checker could be registered in `2.12.2`.

Do note that we have added additional checks against re-using deprecated message ids

[2022-03-01 10:52] #5723 closed

[2022-03-01 13:07] marteoma opened #5852 "Ignore specific undefined variables"
### Current problem

I'm working in a Databricks notebook, and there are some variables that come directly from the environment, so they're not defined anywhere in the python file, so the linter would throw a E0602: Undefined variable in all the places I use these variables.

### Desired solution

I would like to use something similar to the good-names configuration in the pylintrc file, but for t

[2022-03-01 16:37] brycepg commented on #4577
Thank you for the example code @anders-kiaer

---

With `max_inferred` = 100
The return types are:
 `[<Instance of pandas.io.parsers.readers.TextFileReader>, Uninferable]`

Only one positive return type

---

With `max_inferred` = 500
The return types are:
``[<Instance of pandas.io.parsers.readers.TextFileReader>, Uninferable, <Instance of pandas.core.frame.DataFrame>]``

Two positive return types

[2022-03-01 18:29] mrpbennett opened #5854 "DocStrings giving a `pointless-string-statement`"
### Current problem

I have some docstrings to explain what certain bits of code does something like

[code]

pylint gives me the following warning:

[code]

### Desired solution

Although there is no point to this docstring apart from comments. Would it be possible to have a different type of warning message?

Or should I be putting these type of comments in a `#` and not a docstring? What If I w

[2022-03-01 18:35] DanielNoord commented on #5854
Yeah, it is indeed preferred to do this with comments. For multi-line comments you can just use a `#` at the start of every line.

They only "allowed" pointless statement is at the top of a module as this function as the module docstring.

[2022-03-01 23:55] omonimus1 opened #5855 "Ignore specific project folders or files"
### Question

Hi, in Django is easy to locally have a venv, migrations files, cache folders;
How can I run pylint excluding the check on a list of folders or files?

### Documentation for future user

README.md (and pipy website)

### Additional context

_No response_

[2022-03-02 10:12] Pierre-Sassoulas commented on #5855
Here's a stackoverflow answer covering the subject : https://stackoverflow.com/questions/2503717/ignore-by-directory-using-pylint

Here's the pylint documentation: https://pylint.pycqa.org/en/latest/technical_reference/features.html?highlight=ignore-patterns#general-options

Please let me know how we could make the documentation better or more discoverable :)

[2022-03-02 18:47] omonimus1 commented on #5855
@Pierre-Sassoulas , thank you very much <3

[2022-03-02 18:47] #5855 closed

[2022-03-02 19:10] deepyaman commented on #5832
@MerelTheisenQB With regards to this example, the reason for different behavior in Python 3.10 is actually because `.parents` changed in 3.10 to accept a `slice`. I don't know how pylint works, but I assume it doesn't figure out that passing a non-`slice` index to `.parents` will necessarily yield a `Path` object, and never a tuple. @Pierre-Sassoulas Do you know whether the pylint parser should be

[2022-03-02 19:12] deepyaman commented on #5783
Same as #5832. You can resolve this particular error by now by doing:

[code]

[2022-03-02 19:21] Pierre-Sassoulas commented on #5832
Thank you for the investigation @deepyaman, this indeed look like something that require an astroid update.

[2022-03-03 01:28] deepyaman commented on #5832
@Pierre-Sassoulas Any chance you can provide a bit of guidance as to what that update might look like? I've been keen to understand how Astroid works, and this looks like a simple case to start with.

My guess is that it would mean adding a brain like:

[code]

This way, I assume pylint/whatever is using Astroid would infer a tuple of `Path`s for `Path.parents[1:3]` or a `Path` for `Path.parents[3

[2022-03-03 07:22] bretttully opened #5857 "False positives with dataclasses"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No warnings produced

### Pylint version

[code]

### OS / Environment

Ubuntu 20.04, clean conda env

### Additional dependencies

_No response_

[2022-03-03 08:41] DanielNoord commented on #5840
Did a little investigation, this is we're actually converting this option in a regular expression pattern (thereby making it awfully similar to the `notes-rgx` option. Since `?` is a special character in regex this doesn't get picked up. Using `\?\?\?` in either `notes` or `notes-rgx` should work.

[2022-03-03 20:22] jborman-exos commented on #5327
Also hitting this false-positive, is there a plan to include this in an upcoming release?

[2022-03-03 23:17] deepyaman commented on #5832
Just to provide an update, I've gotten to the following `astroid/brain/brain_pathlib.py`:

[code]

Currently trying to figure out why `UseInferenceDefault` doesn't give back a tuple, since I thought the whole issue was that it was returning a tuple by default...

[2022-03-04 00:05] dbrookman commented on #5840
Turned out to be the `\b` ending both regex patterns, which would only match tags if the last character was alphanumeric.

[2022-03-04 02:05] rchen152 commented on #5273
I also ran into this issue. What I discovered is that pylint appears to be checking that the overloads return a contextmanager, which produces an error because overloads return None.  That is:
[code]

[2022-03-04 02:10] rchen152 commented on #5273
A workaround that worked for me is adding return statements to the overloads:
[code]
Of course, this is rather ugly and only works if you have control over the code containing the overloads.

[2022-03-04 07:24] Pierre-Sassoulas commented on #5832
Sorry for the late reply :) I'm not an expert in astroid to be honest but this looks very nice, thank you for opening an astroid PR !

[2022-03-04 07:32] Pierre-Sassoulas opened #5860 "One time initialization in ``MessageHandlerMixin.add_one_message`` can trigger ``KeyError`` in some scenario"
### Bug description

See discussion : https://github.com/PyCQA/pylint/commit/cbd3cc07515e21ed08000941dc4883c86e84e208#r67509745

### Pylint output

[code]

### Expected behavior

No crash

### Pylint version

[code]

[2022-03-04 07:35] Pierre-Sassoulas commented on #5840
I'm keeping the issue open for this reason, it seems we should not treat ``notes`` as a regex.

[2022-03-04 07:46] DanielNoord commented on #5860
@Ark-kun Are you able to share the relevant code you were talking about in that comment? The handling of `stats` has been completely rewritten (by your truly).
Also, what do you mean "use any other version". Are you trying to update to `2.12.x`?

[2022-03-04 07:48] DanielNoord commented on #5840
@Pierre-Sassoulas I think I was wrong. Due to the use of `re.escape` I don't think there are any issues with escape characters and it was indeed the problem @dbrookman found. I think we can close this (after the merge).

[2022-03-04 08:20] #5840 closed

[2022-03-04 10:26] Jamie- opened #5861 "False negative for undefined-variable when attempting to access class scope from list comprehension with double for loop"
### Bug description

[code]

Without the double for loop in the comprehension, pylint performs as expected.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No warning

### Pylint version

[code]

### OS / Environment

Debian 10.11 (Buster) and Ubuntu 20.04 LTS

### Additional dependencies

_No response_

[2022-03-04 11:33] mbyrnepr2 commented on #5861
Hi thanks for this @Jamie- . I've taken a look and it appears you are running into a Python issue covered here: https://bugs.python.org/issue3692.

The same behaviour reported in this issue is seen if you run your code with Python instead & not Pylint.

[2022-03-04 12:15] dothebart commented on #214
@DanielNoord was your approach accepted? Will we see that working anytime soon?

[2022-03-04 12:16] DanielNoord commented on #214
@dothebart No I think it ended up in `PR heaven` but it is still scheduled for the next release.

I think if I ask @Pierre-Sassoulas nicely he might find some time to do a review 😄

[2022-03-04 12:22] DanielNoord commented on #5861
@mbyrnepr2 I guess this mean we can close this right? This does indeed not execute and the warning therefore seems valid.

[2022-03-04 12:36] mbyrnepr2 commented on #5861
I believe so @DanielNoord. Just FYI I don't have the permissions to close it.

[2022-03-04 12:37] #5861 closed

[2022-03-04 13:38] DanielNoord commented on #214
@dothebart Thanks for the reminder, @Pierre-Sassoulas got to work quickly and we just merged the proposed PR in `main`. We're trying to release ASAP, so expect this to be available somewhere in the coming days/weeks 😄

[2022-03-04 13:55] Jamie- commented on #5861
The example given was a simplified example from a much larger codebase which is why I missed the float issue. Assume that's changed to an int, this code indeed does not execute under Python 3 but does execute (and as expected) under Python 2.

Sadly a regression in Python I guess, we'd not noticed this yet as we're currently porting this huge codebase from Python 2 to 3 and this is and edge case w

[2022-03-04 14:17] dothebart commented on #214
This is so great to hear, and I know how pleasing it is to close a Bug / Feature request after such a long time ;-)

[2022-03-04 16:21] dothebart commented on #214
some of these took similar long... https://github.com/collectd/collectd/pulls?q=is%3Apr+author%3Adothebart+is%3Aclosed

[2022-03-04 16:54] jacobtylerwalls commented on #5860
Right, I think this was fixed in 16c09cb48a3c66f453faccdf380aea6969d61202. I suggest sending a pull request to the project to update their pylint version in the pre-commit hook.

[2022-03-04 17:01] DanielNoord commented on #214
This works the same as any other disable in `pylint`. So if you want to disable the message for a particular line you can add:
`pylint: ignore=duplicate-code`. I'd refer to [this page](https://pylint.pycqa.org/en/latest/user_guide/message-control.html) in the documentation which explains this a little more!

[2022-03-04 18:48] Pierre-Sassoulas commented on #5860
Closing as I think the commit linked by @jacobtylerwalls fix the issue and we don't support 2.11 anymore.

[2022-03-04 18:48] #5860 closed

[2022-03-05 08:41] edwardfung123 commented on #3035
By any chance that this can be fixed?

[2022-03-05 12:49] DanielNoord commented on #3035
In the upcoming update of `astroid` we might be able to infer this a little bit better, but I can't make any promises. This is actually not that easy to solve as it is not an internal `pylint` issue, but rather an issue depending on how we build the `ast` representation of the code (or rather how the `stdlib` `ast` module does so).

[2022-03-05 16:33] jacobtylerwalls opened #5862 "Warn if deprecated stdlib module `cElementTree` is imported"
### Current problem

The stdlib module `cElementTree` has been deprecated in the docs since Python 3.3, and if imported just aliases `xml.etree.ElementTree`.

Core Python devs seem reluctant to issue `DeprecationWarning`s at runtime because of the longstanding idiom for attempting to import it and falling back to the python implementation, back when the C-accelerator was not on-by-default:

[code]

[2022-03-06 20:50] #5862 closed

[2022-03-07 16:13] finite-state-machine commented on #5189
My thanks to @AChenQ for reporting this issue. I've tried to minimize the repro case just a little further, and try to give some idea of the root cause.

Consider the following code:
[code]

### What's (not) necessary for the issue to occur:
- it's not important that the method in question is a dunder method
- the issue still occurs even if all three return type annotations for `wrap` are concrete

[2022-03-07 18:57] quantumdot opened #5871 "numpy.zeros_like false positive when using shape kwarg"
### Bug description

When calling `numpy.zeros_like()` and passing the keyword argument shape, pylint complains `Unexpected keyword argument 'shape' in function call`.

Example:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no error raised

### Pylint version

[code]

### OS / Environment

Windows, VSCode

### Additional depen

[2022-03-07 22:36] piehld opened #5873 "False positive "no-member" for Regex flags"
### Bug description

Pylint returns false positive for the regex flag `re.I`, failing with:

[code]

Link to example code: [Line 164 here](https://github.com/rcsb/py-rcsb_utils_citation/blob/84ab9b271ce28d7ecd9173c2919d59aa74936b68/rcsb/utils/citation/JournalTitleAbbreviationProvider.py#L164)

I suspect this issue is related to a recent update in the regex library (in version 2022.3.2, released la

[2022-03-07 23:10] pauljansen42 opened #5875 "Description of rule W0221 not complete"
The description of rule W0221 is not complete. Currently it is: "Used when a method has a different number of arguments than in the implemented interface or in an overridden method". However, the rule is also fired in case the argument names differ. So it is better to change the description into:

"Used when a method has a different number of arguments or different argument names than in the imple

[2022-03-08 10:31] LoicH commented on #2697
Hi, any news on this feature? :)

[2022-03-08 10:49] priv-kweihmann opened #5878 "Support for mccabe >= 0.7.0"
mccabe 0.7.0 has been released 1.5 months ago - so far I don't see any breaking API changes, so it should be supported by pylint easily

[2022-03-08 10:51] priv-kweihmann opened #5879 "astroids 2.10.0 support"
astroids 2.10.0 has been released a week ago - so far I don't see any breaking API changes, so it should be supported by pylint easily

[2022-03-08 11:09] #5879 closed

[2022-03-08 15:08] priv-kweihmann commented on #5878
allowing mccabe for py>=3.7 while remaining on 0.6.x for <3.7 isn't an option?

[2022-03-08 15:23] DanielNoord commented on #5878
I think it might be, but we're wanting to remove `3.6` support ourselves as well.
We're just caught up in the `astroid` `2.11` release, which is blocking `pylint` `2.13`, which is blocking dropping `3.6`.

So I don't think any of the active maintainers will have time to look into such temporary measures while we're working on these issues ourselves.

[2022-03-08 15:27] Pierre-Sassoulas commented on #5878
We could switch from ``mccabe>=0.6,<0.7`` to ``mccabe>=0.6,<0.8`` in ``setup.cfg`` (python 3.6 would get < 0.7). I don't think it's too much work but we already have a lot on our plate as @DanielNoord said. Please feel free to open a PR.

[2022-03-08 16:10] nickdrozd opened #5880 "Check sets for duplicate entries"
### Current problem

Pylint check dictionaries for duplicates, but not sets.

[code]

### Desired solution

Flag duplicate set entries just as with dictionaries.

### Additional context

_No response_

[2022-03-09 09:01] LefterisJP opened #5882 "The ``simplifiable-if-expression`` message description should not only mention ``bool(test)``"
### Bug description

Here is a simple example

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I would only expect the first `simplifiable-if-expression` warning for `A`.

For `B` simplifying it would not work since it's comparing against the string `True` and eventually the string `False` and `bool(string)` is always `True`

##

[2022-03-09 09:03] DanielNoord commented on #5882
@LefterisJP Can't you write:

[code]

[2022-03-09 09:15] LefterisJP commented on #5882
yes indeed, but what I understood for simplifiable-if-expression was telling me to use bool(): https://vald-phoenix.github.io/pylint-errors/plerr/errors/refactoring/R1719.html

Perhaps I misunderstood the error then?

[2022-03-09 09:18] DanielNoord commented on #5882
Ah, it seems like that information is incorrect. We should update the description of that message.
I'll change the issue title to reflect this. Thanks for telling us about this!

_Btw: That project (although helpful) is not the "official" `pylint` documentation. The official documentation can be found here: https://pylint.pycqa.org/en/latest/messages/refactor/simplifiable-if-expression.html.
We ha

[2022-03-09 10:29] stefaneidelloth opened #5883 "Clarify usage of pyproject.toml configuration file"
### Question

If I use a pyproject.toml configuraiton file, some statements from

https://github.com/PyCQA/pylint/blob/main/pylintrc

would not be in the toml format (https://github.com/toml-lang/toml), for example:

[code]

=> Do I need/should I adapt the expressions to conform to the toml format, e.g.
`persistent=true`

=> How to handle python expressions? Specify them as string?
Following expre

[2022-03-09 16:10] Pierre-Sassoulas commented on #5883
Duplicate of #3181, It's on our radar (it's even one of the 3 currently pinned issues) but we have a lot on our plate already.

[2022-03-09 16:10] #5883 closed

[2022-03-09 19:31] RemiCardona opened #5884 "'try-except-raise' warnings on 3.9 but not 3.7"
### Bug description

[code]

No warning raised when running in a python 3.7 venv, `W0706(try-except-raise)` warning raised with an identical pylint call when running in a 3.9 venv.

`# pylint: disable=try-except-raise,useless-suppression` thus needed to make pylint happy on both 3.7 and 3.9.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavi

[2022-03-09 19:37] Pierre-Sassoulas commented on #5884
Thank you for opening the issue. Are you using the ``py-version`` option (set to 3.7) ?

[2022-03-09 19:54] RemiCardona commented on #5884
Nope, I'm not using this option. And I can reproduce the bug with the provided sample and a plain call to `pylint demo.py`.

[2022-03-09 21:40] #5871 closed

[2022-03-09 21:58] cdce8p opened #5885 "Replace `toml` with `tomli`"
PEP 680 was accepted recently. Starting with 3.11, toml parsing will be part of the stdlib. To prepare for that, we should switch from the current dependency `toml`, to `tomli>2.0` which is the basis for the stdlib implementation.

A good example of how this can be implemented can be found here: https://github.com/python/mypy/pull/12305

**Some useful resources**
https://docs.python.org/3.11/libra

[2022-03-09 22:28] kjamieson opened #5886 "False positive deprecated-method with alias to non-deprecated method"
### Bug description

With pylint 2.12.2 and python 3.8 the following code:

[code]

Produces a false-positive `deprecated-method` warning:

[code]

I think this is related to the deprecated alias detection added in https://github.com/PyCQA/pylint/issues/4618 as the issue does not reproduce with that change reverted.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[c

[2022-03-09 23:26] RemiCardona commented on #5884
I tried setting `py-version` to both `3.7` and `3.9`, under both venvs and the results are the same as before.

[2022-03-10 10:21] agrendath opened #5888 "Running pylint twice on the same file while changing the file in between runs doesn't work"
### Question

So in our code we wanted to run pylint programmatically on the same file "test.py" multiple times while changing the content of the file in between runs. We figured a new reporter and new Run object each call should be enough but it just keeps outputting the same report from the content of the file on the first run.

Below is some code we wrote to test the issue further, using two di

[2022-03-10 11:55] DanielNoord commented on #5888
I did a little digging and this is because of the following lines:
https://github.com/PyCQA/pylint/blob/1ebdc8c59f31962db0244a79eaab9b8d90a87baf/pylint/lint/pylinter.py#L1264-L1268

Because we re-use the constant `MANAGER` in the same process we use the `cached` module for `test2`.

That said, I'm not sure if this is something we should change there, as the caching of `modules` is probably quite u

[2022-03-10 12:12] agrendath commented on #5888
We're using pylint inside pyodide, so in a WebAssembly environment. It was hard to get it to work because of some dependencies but we managed and got it to work using lint.Run. The user enters code in the browser, we save it to a file called test.py and run pylint on it. For now we have to keep creating test1.py, test2.py etc for each submission which is a terrible solution of course. Any other wa

[2022-03-10 12:24] DanielNoord commented on #5888
That might be something we could explore, although I'm hesitant to change how the caching in `astroid` works. Even in your case, the caching due to using one `Manager` does speed up the process.

I have no experience with WebAssembly, but I guess you're unable to run `python run_pylint_over_file.py` twice?

[2022-03-10 12:36] agrendath commented on #5888
We're running the python code that calls pylint using pyodide.runPython. Unfortunately when you start pyodide it has to load and install all necessary packages before running the code. This would take far too long so unfortunately we cannot restart the process.

Maybe it would be possible to add a function to clear the cache? Or maybe that's already possible in which case I'm not quite sure of how

[2022-03-10 12:41] DanielNoord commented on #5888
You could try and see if adding:
[code]
between the two `pylint` calls works?

`MANAGER` gets imported from:
https://github.com/PyCQA/astroid/blob/f2d0f4213f6f527a0d2309164ed43778f1e06184/astroid/astroid_manager.py

[2022-03-10 12:43] #5885 closed

[2022-03-10 12:50] agrendath commented on #5888
Just tried it, doesn't fix the issue unfortunately.

This is the exact code I tried, again changing a -> b in test.py in between runs.
![Screenshot from 2022-03-10 13-48-59](https://user-images.githubusercontent.com/50155208/157665166-6697c2cc-6cbf-4737-bbbf-a7bdff77a938.png)

[2022-03-10 13:00] DanielNoord commented on #5888
Hm, I'm going to think about this some more. Perhaps others have better ideas..

[2022-03-10 13:27] jacobtylerwalls commented on #5888
This seems to work:

[code]

[2022-03-10 13:44] agrendath commented on #5888
That does indeed solve the issue, thank you so much for your help. Maybe it's still worth putting in the docs in the FAQ or something? Regardless, thanks for the help.

[2022-03-10 14:23] jacobtylerwalls commented on #5884
Thanks for writing. This is a false negative for `try-except-raise` in python 3.7. The warning is emitted correctly on Python 3.9.

Most likely, the failure to raise on Python 3.7 is because before Python 3.8 `asyncio.CancelledError` had a more complicated inheritance structure (it just aliased `concurrent.futures.CancelledError`). See also: https://github.com/PyCQA/pylint/issues/3083#issuecomment

[2022-03-10 14:28] Pierre-Sassoulas commented on #5888
Related to https://github.com/PyCQA/astroid/pull/1242

[2022-03-10 14:32] jacobtylerwalls opened #5889 "False positive for `try-except-raise` when a superclass exception is raised"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No message. Unfortunately I'm not sure how to solve what looks like a fundamental design problem.

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-03-10 17:17] RemiCardona commented on #5884
Why a false negative? I want to *not* handle that exception. I agree that
[code]

[2022-03-10 17:22] jacobtylerwalls commented on #5884
I didn't write the checker, but I believe it's saying you can write:

[code]
Now, if it is possible for you to encounter other subclasses of _both_ CancelledError and ValueError, which is a diamond inheritance problem, then pylint's message is wrong and the code snippet is correct. I opened #5889 for that after reading your message. But I took the original report to be about the difference in beha

[2022-03-10 19:37] karthiknadig commented on #5796
Pre-release build is now available via marketplace: https://marketplace.visualstudio.com/items?itemName=ms-python.pylint

[2022-03-11 03:21] Australis86 opened #5893 "Bad indentation reporting false positive when using tabs"
### Bug description

I use tabs for my indentation and whilst setting the indent-string to "t" causes pylint to correctly identify the number of indents, it still reports bad identation, e.g.:

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

[code]

### Pylint version

[code]

[2022-03-11 09:31] DanielNoord opened #5895 "Create ``typevar-double-variance`` checker"
### Current problem

The following code should raise a ``typevar-double-variance`` warning.

[code]

### Desired solution

Some test cases that can be used:

[code]

### Additional context

_No response_

[2022-03-11 11:54] #5878 closed

[2022-03-11 13:05] ksaketou commented on #5880
Hello, I'd like to work on that. If I understood correctly, the message we are talking about here is `duplicate-key`?

[2022-03-11 13:08] DanielNoord commented on #5880
Yes! We might also need to update the description of the message to not only mention dictionaries any more 😉

[2022-03-11 13:11] ksaketou commented on #5880
Okayy, so we don't have to create a new message for the sets?

[2022-03-11 13:13] DanielNoord commented on #5880
Hm, now that I think about it, perhaps we should create `duplicate-values`? The original [pep](https://peps.python.org/pep-0218/) refers to the entries in a set as `values`. Using `keys` might be a bit confusing? What do others think?

[2022-03-11 13:16] Pierre-Sassoulas commented on #5880
I think creating a new message ``duplicate-values`` make sense.

[2022-03-11 13:28] jacobtylerwalls opened #5898 "Option to enable all `useless-suppression` warnings"
### Current problem

`useless-suppression` doesn't warn about `cyclic-import` and `deprecated-{module|argument|class|method|decorator}`. (See the constant `INCOMPATIBLE_WITH_USELESS_SUPPRESSION`.) Some users might want to see these warnings away.

### Desired solution

Provide a configuration option to enable every useless suppression warning. It shouldn't be on by default.

### Additional context

[2022-03-11 14:55] nickdrozd commented on #5880
The PEP says:

From this perspective, set entries are more like "keys". But then the rest of the PEP refers to them as "values". And the docstring for `set` mentions "elements", as is usually done in math.

So in the interest of covering every perspective, I suggest we use `duplicate-kvalemuys`.

[2022-03-11 15:18] ssbarnea commented on #3767
I personally do not think we really need different configuration for different files but we need wildcards for disabling rules, like flake8. They call the option `per-file-ignores` but it works with patterns, allowing you to disable specific rules for specific files and folders.

See https://github.com/ansible-community/ansible-lint/blob/main/.flake8#L49-L62

That is kinda essential for enabling p

[2022-03-11 15:29] Draqun opened #5899 "Too many arguments reported in incorrect lines"
### Bug description

When I called pylint there are reports about too many arguments in incorrect places of my tests. Source code is below.

Tests:

[code]

[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Report bug in correct places
- tests/unit/business_logic/test_azure.py:81:4 instead tests/unit/business_logic/test_azure.py:78:4
- t

[2022-03-11 19:01] orSolocate commented on #2697
@LoicH I could try to reproduce it on the latest version and look if can be solved easily

[2022-03-12 14:33] #5408 closed

[2022-03-12 16:52] #4826 closed

[2022-03-12 18:19] #5679 closed

[2022-03-12 21:07] cdce8p commented on #5466
Reopening it to collect feedback after we release 2.13. The current changes are definitely a good start, but we might still be missing some things.

[2022-03-12 23:50] jacobtylerwalls commented on #3971
This issue is useful as a google-indexed reference for folks needing to manage their dependencies on legacy projects.

Although it was worthy of discussion at the time, 1.9.5 is almost three years old, and I know of no plans to maintain it here (and I wouldn't be in favor of doing so). I hope that makes sense.

[2022-03-12 23:50] #3971 closed

[2022-03-13 03:04] jacobtylerwalls commented on #5899
Thanks for the report. Turns out this is a duplicate of PyCQA/astroid#1350. A new release of `pylint` will be out shortly with the fix.

(I'm suggesting to close because I doubt a regression test makes sense here; the changes were unit-tested in astroid, and we just did a mass update of line numbers in pylint. Let me know if folks disagree.)

[2022-03-13 03:04] #5899 closed

[2022-03-13 06:32] #5771 closed

[2022-03-13 14:20] #5770 closed

[2022-03-13 14:32] jacobtylerwalls commented on #5608
Is there precedent for allowing, say, a disable of `redefined-outer-name` to also disable `redefined-loop-name`? Especially (or only?) when the type of message is being changed such that the message emitted used to be `redefined-outer-name` and is changed to `redefined-loop-name`? That might be the most elegant solution.

[2022-03-13 14:48] Pierre-Sassoulas commented on #5608
There's ``old_names`` defined in the ``MSGS`` dict of ``BaseCheckers``, but the two messages needs to be equivalent all the  time. See for example ``C0111`` ``missing-docstring``.

[2022-03-13 17:40] ksaketou commented on #5880
Hello, I am trying to run the tests but I get a `ModuleNotFoundError` at the primer tests for this line:
https://github.com/PyCQA/pylint/blob/8e9a44727545b09ccc0161d72b8b66bc92d95d88/pylint/testutils/primer.py#L5
 Any idea why this is happening?

[2022-03-13 18:14] jacobtylerwalls commented on #1175
Duplicate of #2039. Cannot reproduce on pylint 2.13 dev version. Most likely fixed in b93cdf863896556c95b064f8405d648c69953ffa (2.0.0).

The issue here https://github.com/PyCQA/pylint/issues/1175#issuecomment-429562178 reports the issue on pylint 2.1.1, but I cannot reproduce with:

[code]

[2022-03-13 18:14] #1175 closed

[2022-03-13 18:14] Pierre-Sassoulas commented on #5880
Hello @ksaketou, you need to install pylint locally with ``pip3 install -e .[testutil]`` we made this package an extra in #5486 in order to not add a runtime dependency for standard users.

[2022-03-14 08:40] michael-k commented on #5317
Now that this has been resolved in #5802, is there anything blocking a 2.13 release?

[2022-03-14 08:42] Pierre-Sassoulas commented on #5317
No, we "only" need to handle the list of remaining issues in the milestone.

[2022-03-14 15:39] JoeHCQ1 opened #5914 "W0233 non-parent-init-called triggered by call to `super().__init__()`"
### Bug description

I have a series of classes inheriting from each other, all single inheritance. This code is triggering these errors:

[code]

[code]

If I'm not mistaken, `super` is how you should call your parent class' constructor rather than hardcoding the value so you don't break python's dynamic call order in the case of multiple inheritance.

### Configuration

_No response_

### Comman

[2022-03-14 16:47] jacobtylerwalls commented on #5914
Hi, thanks for the report. I can't reproduce the issue with the provided example.

Yes, that's true--instead, it appears the ancestor classes were not inferred correctly. We will need more information about your classes to reproduce. Would you be able to provide a minimal reproducer? Thanks!

[2022-03-14 21:17] #5463 closed

[2022-03-15 07:45] skirpichev opened #5919 "Can't install on the CPython 3.11 (broken indirect wrapt deps)"
### Bug description

see e.g. [this](https://github.com/diofant/diofant/runs/5549071764?check_suite_focus=true) build.  Installation crashed with
[code]
This should be fixed in the v1.14 of the wrapt.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Installation succesful.

### Pylint version

[code]

### OS / Environment

_No response_

[2022-03-15 07:54] Pierre-Sassoulas commented on #5919
Thank you for opening the issue. We're not supporting (i.e. testing) python 3.11 yet, we're going to do that when a beta version is released here: https://github.com/actions/python-versions/releases

[2022-03-15 08:52] skirpichev commented on #5919
This should be [fixed](https://github.com/PyCQA/astroid/commit/e346d42e92499849eb5d75ca27a648e1ce411ec7) with astroid 2.11.

[2022-03-15 08:56] Pierre-Sassoulas commented on #5919
OK, the it's already fixed in the development branch. Could you check if ``pip install git+git://[github.com/PyCQA/pylint.git@main#egg=pylint](http://github.com/PyCQA/pylint.git@main#egg=pylint) -U`` fix the problem and close the issue if it does ?

We're trying to release 2.13.0 asap.

[2022-03-15 08:58] DanielNoord commented on #5919
I'm checking CI on `3.11` as we speak on https://github.com/DanielNoord/pylint/pull/101.

I'll update if we can turn it on 👍

[2022-03-15 09:03] DanielNoord commented on #5919
Seems like [tomllib](https://peps.python.org/pep-0680/) has been accepted and merged https://github.com/python/cpython/pull/31498 but not yet released to any of the images available on Github.

[Next release](https://peps.python.org/pep-0664/) is expected on `2022-04-05` so we'll need to wait a bit.

[2022-03-15 09:07] Pierre-Sassoulas opened #5920 "Add Python 3.11-dev to Github actions"
### Current problem

Seems like [tomllib](https://peps.python.org/pep-0680/) has been accepted and merged https://github.com/python/cpython/pull/31498 but not yet released to any of the images available on Github.

[Next release](https://peps.python.org/pep-0664/) is expected on `2022-04-05` so we'll need to wait a bit.

### Desired solution

Add 3.11-dev when github actions are up to date and rel

[2022-03-15 09:08] Pierre-Sassoulas commented on #5919
I opened https://github.com/PyCQA/pylint/issues/5920 for the issue with github actions, so we can close this issue if the problem with wrapt was fixed in astroid 2.11.0 and 2.13.0.

[2022-03-15 09:30] #5919 closed

[2022-03-15 10:22] #4756 closed

[2022-03-15 12:56] ksaketou commented on #5880
Hello again, I'm getting an unexpected `syntax-error` at the `symlink_module1` functional test, but I don't know how my changes could be related to this specific error message. I believe this is the line with the problem:
https://github.com/PyCQA/pylint/blob/975550582494f9e1c0eb43336943c716120bc4e6/tests/functional/s/symlink/_binding/symlink_module.py#L1

[2022-03-15 13:01] DanielNoord commented on #5880
How did you clone the repository? That functional test is dependent on symlinks so I think it is important that the repository is cloned via `git` instead of installed via `pip` or downloaded directly from Github.

[2022-03-15 13:07] ksaketou commented on #5880
I cloned it with `git clone`. The path of this line is correct though, it's not that I miss any files.

[2022-03-15 13:08] DanielNoord commented on #5880
Did you get a output log for the syntax error_

[2022-03-15 14:55] diddi- opened #5922 "Upgrade and check the custom plugin documentation"
### Question

The documentation for How to write a Pylint plugin uses a function `get_checker`, but it's not described where this function can be found/imported from.

https://pylint.pycqa.org/en/latest/how_tos/plugins.html
[code]

### Documentation for future user

I'd expect the example on https://pylint.pycqa.org/en/latest/how_tos/plugins.html to include relevant import statements for the `get_

[2022-03-15 16:17] DanielNoord commented on #5922
I wasn't around when that documentation was written, so I don't know what happened to the method. I can help you with writing your plugin, so if there is any other issues please let me know!

We will take a look at the plugin docs and update them accordingly soon(™).

[2022-03-15 16:25] diddi- commented on #5922
Thanks. For the plugin I'm writing now I don't need any configuration so it's not an issue for me at the moment. I was just experimenting and curious what the function is and does.

Might get back with more specific questions when/if I need that functionality :)

[2022-03-15 20:01] JoeHCQ1 commented on #5914
I can no longer reproduce it.

[2022-03-15 20:01] #5914 closed

[2022-03-16 10:39] ksaketou commented on #5880
Keeping the symlink as a string like below seems to work for my case so far. However, I don't know if there is any problem with changing this file.

![image](https://user-images.githubusercontent.com/56515303/158571248-d6ac2c93-ce9f-43e7-bb40-fe48646db326.png)

[2022-03-16 10:56] pietrodantuono commented on #2910
Has this bug been solved?

[2022-03-16 11:11] DanielNoord commented on #5880
Yeah, if the file gets changed then the test won't work anymore. Perhaps you can revert the change and see if you can commit without any changes to the file?

Were you unable to allow `git` to create symlinks?

[2022-03-16 11:12] DanielNoord commented on #2910
It hasn't been fixed yet. This will need to be fixed by providing a brain tip in `astroid`. I don't know the `numba` package, but I would be happy to review a PR that adds one!

[2022-03-16 11:14] stanislavlevin commented on #4756
great!
the fix verified, thank you!

[2022-03-16 11:16] ksaketou commented on #5880
When I run the `symlink_module1` test with that change it passes though.

I changed the `core.symlinks` of the .gitconfig file to True but that didn't seem to work. If I don't find anything else I will try to commit without that change as you said.

[2022-03-16 11:18] DanielNoord commented on #5880
I'll need to see the actual commit to see if nothing actually changes. This is difficult to interpret without seeing the actual changes `git` picks up on. Luckily we have the CI which should also pick up on this 😄

I'd say go ahead with working on this, we should be able to resolve any issues with this particular test if they arise!

[2022-03-16 11:52] #5724 closed

[2022-03-16 14:11] #2067 closed

[2022-03-16 14:15] DanielNoord commented on #2067
@zchrissirhcz Has this been fixed?

[2022-03-16 23:28] JonnoFTW commented on #5822
I experience the same error, except that the superclass is an ABC. I would consider this a bug seeing as this behaviour contradicts what is in the changelog for 2.0

[2022-03-17 01:14] ryansdowning opened #5930 "`superfluous-parens` false positive for `is not` tests"
### Bug description

I just got the lint `C0325: Unnecessary parens after 'not' keyword (superfluous-parens)`, so I removed the parens it referred to, but thankfully a unit test caught that these are not the same, and the parens are needed (removing them changes the logic!).

I have been able to create a minimal example that I believe reproduces this

[code]

### Configuration

_No response_

###

[2022-03-17 03:36] jacobtylerwalls commented on #5930
Thanks for the report. This is _not_ a duplicate of #5803 (my diff for that doesn't fix this!)

There are numerous operators that aren't working. At a glance, it looks like the implementation of the check confuses `is not` with `not`, which have different [precedences](https://docs.python.org/3/reference/expressions.html#operator-precedence). That would explain why the operators in the same group

[2022-03-17 04:06] jacobtylerwalls commented on #5875
Hi @pauljansen42 thanks for this. Do you have an example to share? Right now I'm not seeing it.

[code]
emits W0237 instead:
[code]

[2022-03-17 08:40] tushar-deepsource opened #5931 "False positive: `not-callable` for property that returns a lambda function conditionally"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error. The code runs when run under python.

### Pylint version

[code]

### OS / Environment

MacOS Monterey

### Additional dependencies

_No response_

[2022-03-17 08:47] DanielNoord commented on #5931
This requires understanding of control flow as we can't infer that the return value of `foo()` is a function easily.

Note that `c._x()` won't get you a false positive, so to avoid the warning in the meantime you might want to explore if that's a possibility. _Assigning `lambda: None` instead of `None` in the `__init__` could work?_

[2022-03-17 09:08] DanielNoord commented on #5931
Yeah, the code that checks this relies on the `property` decorator and then checks if all return values are callable. Since `None` is not callable (and doesn't get removed due to lacking control-flow) we warn that the call is "not callable".

[2022-03-17 09:10] tushar-deepsource commented on #5931
If control flow wasn't there, the 2nd example should've also raised E1102 right?

[2022-03-18 12:18] feluxe opened #5933 "Compile pylint with mypyc to improve performance."
### Current problem

pylint seems kinda slow.

When I run it with `time` on a 400 LOC file:

[code]

This is annoying when I cleanup errors/warning in my editor, because every time I fix an error/warning I have to wait 3 seconds until the errors/warnings render again. This makes my Python workflow unsmooth, because I'm constantly waiting for the errors/warning to render.

### Desired solution

Com

[2022-03-18 16:25] tjprescott opened #5935 "Crash ``argument of type 'Const' is not iterable``"
### Bug description

When parsing the following file:

[code]

pylint crashed with a ``TypeError`` and with the following stacktrace:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Not crash

### Pylint version

[code]

### OS / Environment

Windows 10/11. CMD shell.

### Additional dependencies

## `azure-core`
## `six`

[2022-03-19 03:15] jacobtylerwalls commented on #5935
Thanks @tjprescott, I edited down your report to a MWE. `azure-core` has to be installed. With that, I can reproduce.

It looks like the same issue as PyCQA/astroid#713, which another user [reported](https://github.com/PyCQA/astroid/issues/713#issuecomment-818798556) was failing once more about a year ago. But rather than re-open an old issue, I think it makes sense to keep a new one open.

[2022-03-19 04:56] MiguelGuthridge opened #5936 "Warning when manually invoking __magic__ methods"
### Current problem

It is almost always considered a bad practice to manually invoke a `__magic__` method on a class.
[code]
A warning for this type of issue could be nice and instructive for people who are new to Python.

### Desired solution

A warning is given when Pylint is run on code that invokes `__magic__` methods on a class rather than using the builtin functions for it.

### Additional

[2022-03-19 10:19] DanielNoord commented on #866
This has been fixed on `main` due to recent improvements on line number calculations.

[2022-03-19 10:19] #866 closed

[2022-03-19 10:50] jpy-git commented on #5936
I'd like to give this one a go please 😄

[2022-03-19 11:42] DanielNoord commented on #872
I have opened an `astroid` PR that would allows us to retrieve the position of the `else` keyword. That should make this fixable.

[2022-03-19 13:45] jpy-git commented on #5936
I've got a basic implementation working but had a few questions for refinement:
- I'm only flagging magic methods not dunder attributes since they usually have genuine use cases. e.g. `my_instance_name = x.__class__.__name__` or `my_pkg_version = pkg.__version__`. Happy with that?
- `super().__init__(self, ...)`, `Foo.__init__(self, ...)`, `super().__new__(cls, ...)`, or `Foo.__new__(cls, ...)` ar

[2022-03-20 02:44] MiguelGuthridge commented on #5936
@jpy-git thanks so much for your work! I think your decisions are reasonable - if there are functions or attributes where there isn't a function you should call to get them, then it should give the warning, but otherwise, it shouldn't.

One thing that could be worth consideration is whether to use an inclusion list or an exclusion list. I feel like using a whitelist might be better in terms of red

[2022-03-20 10:25] jpy-git opened #5940 "Warn against user defined `__magic__` methods"
### Current problem

I'm currently working on a PR (#5938) that warns users against manually invoking magic methods.

This led me to wonder what happens if a user defines their own method using the `__dunder__` naming convention.

e.g.
[code]

According to the [docs](https://docs.python.org/3/reference/lexical_analysis.html#reserved-classes-of-identifiers)

System-defined names, informally known a

[2022-03-20 22:16] julianstirling commented on #5873
It seems to be something weird that regex is now doing because I can install very old versions of pylint and this bug persists. I have fixed it by setting my version of regex to `regex==2022.1.18`. However, there does seem to be something fishy as the flags do indeed exists when you are in Python.

[2022-03-21 04:06] Michaelzhouisnotwhite commented on #5466
Have this feature added?

[2022-03-21 05:37] Michaelzhouisnotwhite commented on #5466
How to install pylint-2.13-dev?

[2022-03-21 07:44] CarliJoy commented on #971
Also pyscaffold implemented a simple `-interactive` mode:

https://github.com/pyscaffold/pyscaffold#quickstart

[2022-03-21 07:52] andy-maier opened #5943 "False positive "import six" should be placed before "import ssl" on Windows"
### Bug description

On Windows (and only there, not on Ubuntu or MacOS), we get:

C0411: third party import "import six" should be placed before "import ssl"

Since the "ssl" module in Python is also supported for Windows, this is a false positive.

Source file `ssl_import_order.py` to demonstrate the issue:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[

[2022-03-21 07:57] Pierre-Sassoulas commented on #5943
Under (pylint's) hood there is [isort](https://github.com/PyCQA/isort). The fast way to fix this would be to modify the isort configuration, otherwise it's an isort issue first.

[2022-03-21 08:02] andy-maier commented on #5943
Thanks for the hint. `isort` is at 4.2.5 in the failing run, and at 5.10.1 in the succeeding run, so this provides some room for experiments!

[2022-03-21 08:03] Pierre-Sassoulas commented on #5466
With pip you can do ``pip install git+git://github.com/PyCQA/pylint.git@main#egg=pylint -U``. We're also going to release 2.13, soon ™️

[2022-03-21 08:39] Pierre-Sassoulas commented on #5943
I guess the solution here is to upgrade isort to have the latest features and bug fixes. We're trying to be permissive in the version of isort we support. People using isort 4.2.5 probably have good reasons to do so (?), and pylint is compatible with this version (but this version of isort is what it is).

We could maybe change pylint's supported version to 4.3.21 (latest 4. compatible version) ?

[2022-03-21 08:49] #4590 closed

[2022-03-21 10:29] andy-maier commented on #5943
Our pywbem project is a library, so we do not know what the constraints of our users are. For that reason, we want to give them the largest possible range of versions for our dependent packages. We have a defined set of minimum versions of dependent packages, and we also test against these minimum versions. We increase these minimum versions driven by triggers such as bugs we encounter in the test

[2022-03-21 11:11] Pierre-Sassoulas commented on #5943
I'm going to close as won't fix because I think it's better if users can choose what version of isort they use. You have to be explicit about it to use an old version of isort so if this bug happens it's voluntarily.

[2022-03-21 11:11] #5943 closed

[2022-03-21 13:14] cdce8p commented on #5466
The `git` protocol is no longer supported. You can use `https` instead.
[code]

[2022-03-21 14:59] thomueller opened #5946 "pylint crashes with TypeError: unhashable type: 'list'"
### Bug description

Running pylint on a single python file on a fresh python install on windows results in a TypeError: unhashable type: 'list':

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

pylint should run

### Pylint version

[code]

### OS / Environment

Windows 10

### Additional dependencies

_No response_

[2022-03-21 15:06] SkyBazzz opened #5947 "Miss-leading No name in module error"
### Bug description

"""Miss-leading Pylint no name in module error"""

from unicon.core.errors import ConnectionError as UniconConnectionError

raise UniconConnectionError()

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No exception raised. Code quality 10/10

### Pylint version

[code]

### OS / Environment

macOS Monterey
Version 12.3

#

[2022-03-22 00:58] ChrisKeefe opened #5950 "DOC: pyreverse supported format not recognized missing puml, plantuml, mmd, etc"
### Bug description

Some supported formats are not listed in the error messaging:

[code]

Here, I have made the mistake of prepending a `.` to `puml`. The error output should list `puml` (and `plantuml` and `mmd` and `vcg`) as [supported formats](https://pylint.pycqa.org/en/v2.12.2/additional_commands/index.html?highlight=.puml#example-output).

Without the preceding `.`, the command runs as exp

[2022-03-22 01:09] jacobtylerwalls commented on #3074
Duplicate of #5187 (more minimal example)

[2022-03-22 01:09] jacobtylerwalls commented on #3074
Duplicate of #5187 (more minimal example)

[2022-03-22 01:09] #3074 closed

[2022-03-22 06:01] mccaidan commented on #5533
Why hasn't this change been implemented? I have a school project where I need to make pull requests to an open-source project, and I saw this was a good first issue. Could it be assigned to me to fix? If it doesn't need fixing, who can I ask for recommendations on what issues to fix?

[2022-03-22 06:13] DudeNr33 commented on #5950
Thank you for the report.
This error message is not generated by ``pyreverse`` itself, but comes from the call to the ``dot`` executable.

The logic for the output format in ``pyreverse`` is as follows:

1. First, we check if the given output format can be generated directly by ``pyreverse`` - this includes VCG (``vcg``), PlantUML (``plantuml``, ``puml``), MermaidJS (``mmd``, ``html``), and DOT (`

[2022-03-22 07:00] Pierre-Sassoulas commented on #5533
Hey @mccaidan, it's just a lack of time I guess. Thank you for being willing to work on pylint. The label used by github to indicate good first issue is "good first issue" we also have "help wanted" in pylint. Be careful not all 'good first issue' are easy we sometime underestimate the difficulty. You can also sort by thumbs up reactions to work on the one that have more impact: https://github.com

[2022-03-22 07:11] thomueller commented on #5946
Ok so I figured out what the problem is, there is really a list in req_paths.
I had some old pylintrc file where I have a init-hook="import sys; sys.path.append(somelist)".
So it is not a bug, can be closed. Sorry.

[2022-03-22 07:11] #5946 closed

[2022-03-22 07:17] mccaidan commented on #5533
Is the solution not just the fix you mentioned in the comment?

On Tue, Mar 22, 2022 at 3:00 AM Pierre Sassoulas ***@***.***>
wrote:

[2022-03-22 08:02] Pierre-Sassoulas commented on #5533
@orSolocate did most of the diagnosis already, but there might be issue during implementation. You'll need to modify astroid, the library pylint is using. It's here : https://github.com/PyCQA/astroid

[2022-03-22 08:03] Pierre-Sassoulas commented on #5946
Thank you for the follow-up !

[2022-03-22 22:48] pwohlhart opened #5952 "misleading [assignment-from-none] warning"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No warning. The return type is Optional[str] so pylint should figure that although the Base class always return None, derived classes might return a str.

### Pylint version

[code]

### OS / Environment

Debian

### Additional dependencies

_No response_

[2022-03-22 23:59] mbyrnepr2 commented on #5952
This looks like a duplicate of https://github.com/PyCQA/pylint/issues/5503

[2022-03-23 01:43] pwohlhart commented on #5952
It does. Sorry I didn't see that one.

[2022-03-23 01:43] #5952 closed

[2022-03-23 18:36] Pierre-Sassoulas commented on #5527
Reopening because some of the item are not handled yet.

[2022-03-23 18:39] DanielNoord commented on #5527
Going to create a follow up issue to help do this and guide the effort. I think the task in this issue (set up a system) has been done.

[2022-03-23 18:39] #5527 closed

[2022-03-23 19:06] DanielNoord opened #5953 "HELP WANTED: Help copy content from ``pylint-errors`` over to our own documentation"
A longstanding issue of `pylint` has been that there is little documentation about some of the messages and why they are emitted. For some messages the short message that is displayed is not enough to make explicit what needs to be changed or what is considered wrong.
With the closure of #5527 and the merge of #5934 we have now set up a system that allows us to do so!
We have also received the oka

[2022-03-23 19:15] Pierre-Sassoulas commented on #5953
I agree that having community support for this would be awesome, but I think we're not ready for that yet. In my opinion we should do a script to do the grunt work of migrating from pylint-error.  Then proper reviews of the current examples when we integrate them and creation of missing examples would be super helpful.

Here's what I think we need to do following #5527, we really need community he

[2022-03-23 19:23] DanielNoord commented on #5953
Sorry, perhaps I should have discussed with you prior.

However, I don't think this is feasible. During the transfer of the two test issues I already noticed a mistake in the examples for `pylint-errors` (a bad code example that was actually good code), so just migrating all data doesn't really work. Besides, the work necessary to migrate their data structure to ours isn't really worth the effort

[2022-03-23 21:38] Pierre-Sassoulas commented on #5953
Yes I noticed that, this is why I proposed to review chunk by chunk. If the migration script is complicated / not worth it, it make sense to do it manually. Did you check the work that need to be done to automate this, or is this a wet finger kind of thing ? I could try a proof of concept to see if it works otherwise (once 2.13 is released of course).

[2022-03-24 06:48] Pierre-Sassoulas commented on #5953
Sure, multiple messages in the same PR would be messy, let's do "chunk of one" 😄

Maybe it could even be our script and save them a lot of time. I'm going to create a proof of concept to migrate one message from pylint-error to our new doc system (so contributor just have to review/fix and create a PR) and see how it goes. You did the algorithm yourself in the description, I'm going to follow that

[2022-03-24 07:33] DanielNoord commented on #5953
Co-authors show in the GitHub interface, luckily 😄 _One thing we should check and which is more difficult is that the directories have the correct names, you easily miss that on Github._
Let me know if I can update the OP to add a script people can use.

[2022-03-24 07:45] xmo-odoo opened #5955 "`used-before-assignment` false positive on multiple-target assignment"
### Bug description

When assigning to multiple target, and target `n` is used in target `n+1`, pylint flags the the line as E0601 "used-before-assignment", despite the statement being entirely correct per Python semantics:
[code]
Even if there's an argument for flagging it (it's not great style), I don't think E0601 is valid.

### Configuration

_No response_

### Command used

[code]

### Pylint

[2022-03-24 12:41] #4701 closed

[2022-03-24 15:28] #1556 closed

[2022-03-24 15:28] #5338 closed

[2022-03-24 16:14] fmigneault commented on #5286
C0209 seems to be a bad side effect here. It should simply be W1203.

Both of these definitions are incorrect according to best practices for logging package:

[code]

The correct fix is to use:
[code]
This is the optimal way because, contrary to the other 2 approaches, passing the parameter allows logging to skip any string formatting if the logger is not `level <= DEBUG`. The 2 erroneous approac

[2022-03-24 16:17] Dulakd commented on #4562
Hi, I'm going to try to work on this issue as a first issue.

[2022-03-24 17:35] DanielNoord commented on #5406
@fmigneault Although I agree that this might be a bit of work for any existing codebase, I do think that requiring `**` or `*` before `args` or `kwargs` makes sense.

There is no real authority on this (and there has been no response to https://github.com/sphinx-doc/sphinx/issues/9893), but there is an example within the Sphinx ecosystem which says that they should be there, see [this example](htt

[2022-03-24 18:56] fmigneault commented on #5406
It is not just a little work, it is massive work. Every code base use `*args` and `**kwags` profusely. This is a lot of modifications for something that effectively changes nothing in the final result when tools are able to parse them regardless if `*` are present or not.

Given that `*` and `**` are always handled as special cases across different tools/extensions and across the various documenta

[2022-03-24 20:36] xNinjaKittyx opened #5963 "Patching an import module results raises no-value-for-parameter incorrectly"
### Bug description

Here's an `example.py` . It's a bit silly, but works.

[code]

The error in concern
[code]

I think the desired behavior would be to not raise this error.

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No errors

### Pylint version

[code]

### OS / Environment

MacOS

[2022-03-24 20:37] DanielNoord commented on #5406
Although I can understand that you would be hesitant to do so I think with some regular expressions and replace all you should be able to fix most cases (and then let `pylint` notify you of any you missed). For example, in the commit and project in which you mentioned this issue searching for `param: kwargs` and `param: args` should help automate some of this process.

The necessity of escaping `*

[2022-03-24 21:39] fmigneault commented on #5406
I disagree with that. When the parameter is used in the code, only the parameter name itself is used without `*`.
The `*` and `**` only indicates how to aggregate remaining parameters provided during the call, and store them in that named parameter.
So the parameter name can be seen from two contexts, how it is used in the call and how it is used in the code, but the `*` is a modifier operation on

[2022-03-24 21:58] #4994 closed

[2022-03-24 22:13] #5317 closed

[2022-03-24 23:55] darintay opened #5965 "`used-before-assignment` false positive with nonlocal"
### Bug description

Getting a false positive for `used-before-assignment` in the latest pylint release when the variable is declared nonlocal.  I don't think the new try/except logic is handling it correctly, I believe the code below is valid.

[code]

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No pylint errors raised

###

[2022-03-25 00:41] jacobtylerwalls commented on #5965
Thanks for the report, regression in #5402.

[2022-03-25 02:26] dragonpaw opened #5967 "Python 3.10 match statement causing false positive unsupported-membership-test"
### Bug description

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

It should accept that the function will always return a list of strings:

[code]

### Pylint version

[code]

### OS / Environment

Python 3.10.3 via pyenv on a Mac.

[2022-03-25 03:31] skirpichev opened #5969 "2.13 crashed with AttributeError: 'Call' object has no attribute 'name'"
### Bug description

I got the following traceback from [the project CI](https://github.com/diofant/diofant/runs/5686472054?check_suite_focus=true):
[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No crash

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-03-25 04:00] TheSuperiorStanislav opened #5970 "TypeError: <lambda>() missing 1 required positional argument: 'scope_type'"
### Bug description

Pylint crashes with the following error

[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

It does not crash

### Pylint version

[code]

### OS / Environment

[code]

### Additional dependencies

[code]

[2022-03-25 04:20] KotlinIsland opened #5971 "(🐞) false error: `undefined-loop-variable` when for loop has terminating else branch"
### Bug description
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no error

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-03-25 04:25] KotlinIsland opened #5972 "(🎁) Make a pylint playground to easily reproduce errors"
### Current problem

I am trying to debug pylint issues/fill in the bug report form and am hit with a massive amount of friction.

### Desired solution

Make a pylint playground website, like https://mypy-play.net, maybe you could even inquire to adding pylint to mypy-play. That would be based, two tools in the same place 😳.

### Additional context

_No response_

[2022-03-25 04:41] KotlinIsland opened #5973 "(🐞) false error `unnecessary-ellipsis` when ellipsis (`...`) is used as a value"
### Bug description

[code]

Seems to be that the doc string triggers it for some reason.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no error

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-03-25 06:55] Pierre-Sassoulas commented on #5970
Thank you for opening the issue. Could you provide the code causing the crash or maybe the full stacktrace with the original error, please ?

[2022-03-25 07:06] TheSuperiorStanislav commented on #5970
This is the only thing pylint logs. And pylint pointing to `backend/apps/__init__.py` but it's empty.
[code]

[2022-03-25 07:18] DanielNoord commented on #5970
Could this be an issue in `pylint_django`? I'm seeing it in the stacktrace.
@Carlio has something like this been reported against you previously?

[2022-03-25 07:21] DanielNoord commented on #5971
Related are #5608, #5146.

@jacobtylerwalls Please help me remember, what was our conclusion about this message. Were you going to take a look at the larger problem with this message and these patterns for `2.14`?

[2022-03-25 07:23] DanielNoord commented on #5969
@orSolocate This is a regression in the new checker you added. Are you willing to take look? Please feel free to say no, then somebody else will take a look!

[2022-03-25 07:24] #1555 closed

[2022-03-25 08:31] carlio commented on #5970
I have not seen this reported, no.

However I have had a look and I think it's related to the pylint 2.13 release.

In 2.12.2 ScopeConsumer has 3 fields - https://github.com/PyCQA/pylint/blob/v2.12.2/pylint/checkers/variables.py#L537

Whereas in 2.13 it has 4 - https://github.com/PyCQA/pylint/blob/v2.13.0/pylint/checkers/variables.py#L520

And pylint-django uses it once, here - https://github.com/

[2022-03-25 08:36] #578 closed

[2022-03-25 08:40] DanielNoord commented on #5970
Hm, I don't think we consider `pylint's` own checkers to be external API, but I can see why plugins might want to tie into this particular checker.

@jacobtylerwalls Do you see possibility to change this to become backwards compatible without adding to much overhead/redundancy? Perhaps with default values for the `NamedTuple` and keeping the order of the arguments like they previously were?

[2022-03-25 08:42] DanielNoord commented on #5406
This would be a reason for me to allow no-asterisks: incompatibility with IDEs is indeed a problem.

@Pierre-Sassoulas also uses PyCharm. Do you see the same problem?

[2022-03-25 08:45] carlio commented on #5970
I'm not sure if it needs to be backwards compatible or not. pylint-django does a lot of frobbing of pylint internals so changes like this just need to have pylint-django patches made! (I should turn on the nightly builds against `main` again to catch these before release)

[2022-03-25 08:53] songtoy opened #5975 "fatal error for (wrong-import-position) and can't write the issue template for the crash"
### Bug description

So today I run the style-test of CICD for my on our GitLab site, and it got fatal errors. But locally the test was passed.

Then I re-ran the style-test task that got passed result two days ago, and it got a failed result!

Therefore,  I figure that I should open an issue for it, as the message suggested.

the code is as follows. (I only add code environment for lines started

[2022-03-25 08:56] DanielNoord commented on #5975
Likely a duplicate of #5970.

@songtoy Are you able to provide the template that the `pylint` log mentions? That should include the backtrace which shows where `pylint` crashed.

[2022-03-25 09:01] songtoy commented on #5975
I'm sorry but I cannot find the template you mentioned @DanielNoord.

'Can't write the issue template for the crash in /opt/app/.cache/pylint/pylint-crash-2022-03-25-08.txt.'

this message was included in the log.

[2022-03-25 09:02] DanielNoord commented on #5975
Does it work when you try to run this check locally?

[2022-03-25 09:06] Pierre-Sassoulas commented on #5970
Thanks for the quick reply @carlio. I think reinstating bleeding edge pylint tests in pylint django is the right way to anticipate this. (As we had the discussion in the past : Just do not set the astroid version, we're updating astroid ourselves when we think it's ready for the current pylint 😉)

[2022-03-25 09:09] songtoy commented on #5975
Everything looks good locally. The version of pylint is 2.12.2 locally.

[2022-03-25 09:11] songtoy commented on #5975
Oh, I just reinstall the pylint of version 2.12.2 and the error disappear on remote server.

[2022-03-25 09:11] DanielNoord commented on #5975
There is a incompatibility with `pylint` `2.13` and the latest version of `pylint-django`. However, looking at the commits of `pylint-django` I expect a bug fix release of `pylint-django` in a couple of hours (1/2).

So you should be able to upgrade to `2.13` both in CI and locally then.

You can subscribe to #5970 to see when this gets fixed 😄

[2022-03-25 09:13] Pierre-Sassoulas commented on #5975
We're going to fix this in 2.13.1 if it's really a duplicate, you should be able to upgrade pylint again after that. (Or if pylint-django release a new version).

[2022-03-25 09:15] songtoy commented on #5975
So I update pylint locally to 2.13.0, and I reproduce the fatal error. Yeah, I think I met the same problem with #5970.

[code]

pylint crashed with a ``TypeError`` and with the following stacktrace:
[code]

[2022-03-25 09:15] DanielNoord commented on #5670
Note to self: we should also disallow `max_size=None`. We're using that in `astroid` and we're not raising the warning therefore.

[2022-03-25 09:16] songtoy commented on #5975
Got it. Many Thanks!

[2022-03-25 09:16] DanielNoord commented on #5975
Closing this a duplicate then. Sorry for the inconvenience @songtoy!

[2022-03-25 09:16] #5975 closed

[2022-03-25 09:25] Pierre-Sassoulas commented on #5406
Pycharm raises
- nothing for ``args``
- "Unexpected parameter *args in docstring" for ``*args``
- "Unexpected parameter \*args in docstring" and "PEP 8: W605 invalid escape sequence '\*'" (embedded pycodestyle?)  for  ``\*args``.

To be honest I'm not using this style of docstring myself which is why I did not realize this before.

[2022-03-25 09:26] DanielNoord commented on #5645
@paride Just because I'm curious: we just released `2.13`. Can you confirm this has been fixed? 😄

[2022-03-25 09:45] #5965 closed

[2022-03-25 09:49] #2793 closed

[2022-03-25 10:23] paride commented on #5645
@DanielNoord I can't reproduce the issue with 2.13.0, so looks like it is. Thanks!

[2022-03-25 10:35] jpy-git opened #5976 "New lint: Use `def` instead of lambda expression for bare assignments and calls"
### Current problem

Currently these uses of lambda expressions don't raise any lint.
A)
[code]
(^ Same as E731 in flake8)

B)
[code]
(not flagged by flake8 or pylint)

### Desired solution

A)
[code]
raises lint to tell user to create a normal function instead of assigning a lambda.
Should be replaced with
[code]

B)
[code]
raises lint telling user to just execute the lambda body since there's no

[2022-03-25 10:55] jpy-git commented on #5976
N.B. there is `W0108: unnecessary-lambda` but that seems to focussed on cases where you could replace the lambda with it's contents if it just contains a simple callable e.g. `lambda: func()` -> `func`.

The suggestion in this issue is about not using lambdas in inappropriate places

[2022-03-25 11:37] #5187 closed

[2022-03-25 12:52] jacobtylerwalls commented on #5976
Just to be clear, you're proposing only assignments and calls, not arguments to calls, right?

I don't think this should emit anything:
[code]

[2022-03-25 13:35] jacobtylerwalls commented on #5967
Thanks for the report. `pylint` relies on `astroid` to infer values of variables, and astroid doesn't understand control-flow from `isinstance()` checks or type annotations, either of which would help solve this problem. Also, it doesn't understand that the catch-all case at the end raises an exception. So `astroid` just infers that `test("foo")` returns `None` (from the function's implicit return

[2022-03-25 13:54] orSolocate commented on #5969
@DanielNoord  - thanks for letting me know.
@skirpichev  - thanks for discovering it. Will be harder to reproduce without knowing which line caused the crash... could you try to provide it?

I will try to reproduce it with some other node which `node.value.func.expr` is a `Call` node..

[2022-03-25 14:03] jacobtylerwalls commented on #5361
See [discussion](https://github.com/PyCQA/pylint/pull/5964#discussion_r835280442) -- we might be able to revert most of the changes from #4948 to solve this. Just check #4907 for any legitimate cases.

[2022-03-25 14:21] jpy-git commented on #5976
yes using it a lambda expression in an argument is completely fine 😄

[2022-03-25 14:32] leunardo commented on #5970
I had the same problem today. I  am dropping my crash log here, hope it helps :)
[pylint-crash-2022-03-25-10.txt](https://github.com/PyCQA/pylint/files/8351405/pylint-crash-2022-03-25-10.txt)

[2022-03-25 15:35] jpy-git commented on #5972
Black has a similar [playground](https://black.vercel.app/?version=stable&state=_Td6WFoAAATm1rRGAgAhARYAAAB0L-Wj4ABfAEddAD2IimZxl1N_WlOfrjsuXlq2Sa62gl18MvYUHYsdLQ_EqI6kG6JYz9VtCdVz_HcGZkSbyEbmizvK7qnXSIDSfqCPehPW3-oAAABEgXJJGNkRcwABY2AX7OQjH7bzfQEAAAAABFla) as well 😄

[2022-03-25 15:44] jdavidagudelo opened #5980 "Crash ``'Call' object has no attribute 'name'`` (if possible, be more specific about what made pylint crash)"
### Bug description

When parsing the following file:

[code]

pylint crashed with a ``AttributeError`` and with the following stacktrace:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

The command should not raise an exception.

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No r

[2022-03-25 15:45] KotlinIsland commented on #5972
I'll ask mypy-play and see what they say.

[2022-03-25 15:46] DanielNoord commented on #5980
Duplicate of #5969, although that issue was lacking a code example so posting this example there might help get this resolved!

[2022-03-25 15:51] jdavidagudelo commented on #5969
This code was the one I used to reproduce this issue:

[code]

[2022-03-25 16:11] carlio commented on #5970
Hopefully pylint-django 2.5.3 will fix this, please let me know if not!

[2022-03-25 20:51] farmio opened #5981 "Default `TypeVar` style for `invalid-name` too strict"
### Bug description

[code]
would both lead to

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I would expect names beginning with multiple capital letters (like common abbreviations) to be valid TypeVar names, as they are for class names.

### Pylint version

[code]

### OS / Environment

macOS 12.3

### Additional dependencies

_No r

[2022-03-25 21:09] #4525 closed

[2022-03-25 21:17] roman-verchikov opened #5982 "TypeError: '<' not supported between instances of 'int' and 'NoneType'"
### Bug description

# Steps to reproduce

1. Create python file `test.py` with contents:

[code]

2. Run pylint against it:

[code]

# Expected

 - pylint succeeds
 - worked as expected with `pylint==2.12.2` and earlier versions of pylint

# Actual

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

pylint succeeds

### Pylint ver

[2022-03-25 23:54] cdce8p commented on #5981
Thanks for opening this one @farmio! I agree `HVACModeT` and `IPAddress` should be valid names. Saw something similar somewhere else already.

I opened #5983 to fix it. Should be included in the next release.

[2022-03-26 02:14] jacobtylerwalls commented on #5982
Thanks for the report, I bisected it to [8f0fa4f69575a0bba986ef2f85b5c3719e08e588 in astroid](https://github.com/PyCQA/astroid/pull/1458/commits/8f0fa4f69575a0bba986ef2f85b5c3719e08e588)

@DanielNoord would you be interested to take a look?

[2022-03-26 03:09] skirpichev commented on #5969
It seems, the problem file is diofant/polys/factortools.py and related to the `_gf_berlekamp()` method.  @orSolocate, sorry for an incomplete issue.

Unfortunately, tracebacks from parallel runs aren't very helpful.  Even the problem file is missing, c.f. [this run with -j1](https://github.com/diofant/diofant/runs/5700616482?check_suite_focus=true).

I would consider this as an issue.  (I've not f

[2022-03-26 07:37] Pierre-Sassoulas commented on #5969
No the report not being generated while running in parallel is an issue. Probably due to multiple threads writing the same file together as we try to create only one file (?) The error message saying why we can't right not being shown is also an issue but this should be easy to fix in 2.13.1.

[2022-03-26 09:00] #5981 closed

[2022-03-26 11:01] orSolocate commented on #5969
I uploaded a fix for that. added your example as a regression test and also verified the `factortools.py` fails before the fix and doesn't fail after the fix :)

[2022-03-26 11:21] Pierre-Sassoulas commented on #5970
@leunardo or @TheSuperiorStanislav, I'm closing, but please don't hesitate to ping us if the issue persists.

[2022-03-26 11:21] #5970 closed

[2022-03-26 12:47] #5969 closed

[2022-03-26 20:45] cdce8p opened #5989 "Regression protected-access not recognized"
[code]

Error in pylint 2.12.2, not recognized in 2.13.0
[code]

The issue is caused by a change in #5662. In particular the one in `_is_mandatory_method_param` which prevents the `protected-access` check from running.
https://github.com/PyCQA/pylint/blob/556304eb1e54c67940d0f9d0497ffa368b50a22a/pylint/checkers/classes/class_checker.py#L2105-L2122

https://github.com/PyCQA/pylint/blob/556304eb1e54

[2022-03-26 20:46] jacobtylerwalls commented on #4822
Looks like it was solved in PyCQA/astroid#1220. Adding to 2.14 milestone to decide if we can add a testcase in pylint.

[2022-03-26 20:48] DanielNoord commented on #4822
Let's close without one.

[2022-03-26 21:17] #4822 closed

[2022-03-26 22:31] #5803 closed

[2022-03-26 22:44] Pierre-Sassoulas commented on #4310
I just checked the number on pypistats, there are still more than 10% of our users on python 3.6 (3/4 months after end of life). We also have dependencies that start to remove python 3.6 support and that we can't update anymore. So we're going to drop python 3.6 in pylint 2.14 and merge #5921 once the maintenance of 2.13 calm down see https://github.com/PyCQA/pylint/pull/5921#issuecomment-10797868

[2022-03-26 22:49] jacobtylerwalls commented on #5364
@DanielNoord  this might be the place to continue the discussion about false negative/positive changes in primer repos?

What if we committed the baseline json to the repo? So we only lint a project once and compare it to the baseline on disk. Or am I missing why it would need to be run twice?

[2022-03-26 22:54] cdce8p commented on #4310
👍🏻 Users who depend on 3.6, can continue using the last `2.13` release after all.

[2022-03-26 22:56] DanielNoord commented on #5364
One thing I considered is uploading the primer json output as an artefact on `main` and then downloading it in CI of PRs.

However, I noticed that the `mypy` primer doesn't do this. They use `git merge-base` to calculate the common ancestor and then do a diff. I implemented a similar process in https://github.com/DanielNoord/pydocstringformatter/pull/78.
My rationale for this was/is:
1) It makes s

[2022-03-26 22:58] DanielNoord commented on #4310
@cdce8p If you have time, a review of #5921 would be appreciated. You often have good input on such changes/upgrades 😄

[2022-03-26 23:00] cdce8p commented on #5364
Artifacts might be difficult to deal with since you would probably need to know the actions run that created them. What might work however is using the cache for that. With a good cache key, we should be able to store almost all results we need. The fallback can still be to just run it twice.

[2022-03-26 23:06] DanielNoord commented on #5364
Yeah, I mean it's definitely something we should explore but perhaps in V3? V4? (😄).

You know what, I'm going to ask the guys over at `mypy` primer if there is a specific reason why they don't use a cache.

[2022-03-26 23:08] cdce8p commented on #5364
If I had to guess, nobody has had to idea and/or time to implement it yet.

[2022-03-26 23:40] cdce8p commented on #5364
Don't know. Isn't a simple line diff also possible. I believe that's what mypy_primer does. With that, no additional formatting would be necessary.

--
You might have already though of that. I run my Home Assistant pylint tests with `useless-suppression` enabled. Should be useful to see improvements.

[2022-03-26 23:47] DanielNoord commented on #5364
Yeah I was thinking about that, but then started to think about what would happen if:
`main`:
module a: no message
module b: 1 message
PR:
module a: 1 message
module b: 2 messages

The diff would include the `Module a` "name line" (How do we call that? The line that gets printed at the start of a module's messages) and the second message from `b` would be directly under that as well.
_Actually the

[2022-03-26 23:55] cdce8p commented on #5364
I would just strip out every line that starts with `****`. Should be fairly strait forward. However, one issue might be the non-deterministic output. Especially with multiple jobs, I don't think the order is guaranteed. That would require at least some parsing, ordering, and set comparisons 🤔

[code]

[2022-03-27 12:31] #5982 closed

[2022-03-27 12:31] #5989 closed

[2022-03-27 13:08] Pierre-Sassoulas commented on #5953
Thing like ``astroid-error`` are internal and there's nothing to do from the user. Maybe we should keep a list of such messages and treat them differently ?

[2022-03-27 17:23] jpy-git opened #5998 "Fatal error for variant of W0632 (unbalanced-tuple-unpacking): Crash ``list index out of range``"
### Bug description

When parsing the following file:

[code]

pylint crashed with a ``IndexError`` and with the following stacktrace:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Should be detected as another variant of W0632

### Pylint version

[code]

### OS / Environment

Mac OS Monterey

### Additional dependencies

_No

[2022-03-27 19:35] jab opened #6001 "false positive "assigning-non-slot" error for inherited descriptor when slots are used"
### Bug description

Minimized reproducer:
[code]

A real-world (non-minimized) example where pylint produces this false positive error can be found on this line: https://github.com/jab/bidict/blob/caf703e959ed4471bc391a7794411864c1d6ab9d/bidict/_orderedbase.py#L101

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error should be fla

[2022-03-27 19:46] leosmerling opened #6003 "invalid-name on TypeVar definition containing "Type" as part of the name"
### Bug description

for the following Generic alias declaration:

a.py
[code]

pylint issues an invalid-name warning (apparently cause the Type suffix in the name).
[code]

According to PEP-8 https://peps.python.org/pep-0008/#type-variable-names
TypeVar should use "CapWords" naming convention, with the option of _ + suffix,
but no mention about using "Type" or not as part of the name. (I might be

[2022-03-27 20:04] cdce8p commented on #6003
You're correct that PEP 8 only mentions `CapWords`. However, we deliberately chose to forbid the `Type` suffix. The reason was that it felt more like a `TypeAlias` that way. To make the distinction clear, it's better to suffix TypeVars with `T`.

I.e. `ConfigTypeT`. You can find some more examples [here](https://pylint.pycqa.org/en/latest/user_guide/options.html#predefined-naming-patterns).

[2022-03-27 20:06] jab opened #6005 "False positive "not-callable" after `is not None`"
### Bug description

Minimized reproducer:
[code]

See the following line for a real-world example where this false positive is occurring: https://github.com/jab/bidict/blob/caf703e959ed4471bc391a7794411864c1d6ab9d/bidict/_base.py#L185

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error should be flagged here.

### Pylint version

[2022-03-27 20:11] leosmerling commented on #6003
Thanks for the clarification. Then I assume I can adopt this convention in my code and this issue can be closed.

[2022-03-27 20:15] #6003 closed

[2022-03-27 20:34] jab opened #6006 "false positive 'useless-import-alias' error for mypy-compatible explicit re-exports"
### Bug description

Suppose a package has the following layout:
[code]
Since the submodules here implement public APIs, `__init__.py` imports and re-exports them, expecting users to import them from the public, top-level package, e.g. `from package import Api1`.

Since the implementations of `Api1` and `Api2` are complex, they are split into `_submodule1.py` and `_submodule2.py` for better mainta

[2022-03-27 20:58] Pierre-Sassoulas commented on #6006
I think ``__all__``is the way to be explicit about the API of a module.That way you have the API documented in one place at the top of the module without having to check what exactly is imported with.  I never heard about  ``import x as x`` and never did the implementer of the check, but I saw the mypy documentation you linked, let's see how widely used this is.

[2022-03-27 21:20] jacobtylerwalls commented on #6005
It's possible this is addressed by https://github.com/PyCQA/astroid/pull/1189

[2022-03-27 22:36] cdce8p commented on #6006
I don't think there is a way for pylint to detect if the reexport is intended or not. Maybe we could ignore `__init__.py` files 🤔 However, that might be unexpected to the general user.

Probably the easiest solution in your case would be to add a module level `pylint: disable=useless-import-alias` (before any imports).

[2022-03-27 23:04] mbyrnepr2 commented on #6001
Regarding the provided example pasted above, I think this is expected Pylint behaviour due to `attr2` not being one of the slots.

`__slots__ = ("attr2",)` vs. `__slots__ = ()`

[2022-03-27 23:14] mbyrnepr2 commented on #6001
The answer [here](https://stackoverflow.com/questions/4912499/using-python-descriptors-with-slots) and [here](https://stackoverflow.com/questions/65537008/how-to-use-descriptors-and-slots-in-python-at-the-same-time) may be useful to achieve what you are looking for.

[2022-03-27 23:48] jab commented on #6001
Slots are for instance attributes. In this example, `attr2` is (and should be) a class attribute, therefore it is omitted from slots, as it should be. Pylint is incorrectly treating it as an instance attribute, not the inherited class attribute that it actually is.

[2022-03-28 00:00] jab commented on #6006
Yeah, other linters like mypy specifically support `as` rather than just `__all__` for this, since so many people have been burned by using `__all__`.

`__all__` requires maintaining exports as a list of strings, which are all-too-easy to typo (and have tools and IDEs detect this), and also separately (and often far away) from where they’re imported / defined, which is also fragile and error-prone

[2022-03-28 06:41] skirpichev commented on #5407
I think, this is fixed in 2.13+ (my recent [pr](https://github.com/diofant/diofant/pull/1225) removed the pylint pragma).

[2022-03-28 06:41] #5407 closed

[2022-03-28 08:24] #5998 closed

[2022-03-28 08:26] DanielNoord commented on #5953
I think we could still add something in `details.rst` for these messages. After this process has been done we can then make a check that each message should have at least one files in its data folder.

[2022-03-28 08:27] vincentschut commented on #5406
Chiming in as a regular pylint user: we here (@ satelligence) would also appreciate it if the possibility to omit the */** from the docstrings would return. Either optionally, or by default. Until this is resolved, we'll probably stick to pylint 2.11.x

[2022-03-28 08:28] DanielNoord commented on #5406
Sorry @vincentschut and @fmigneault I should have indeed reopened this.

I'm adding this to `2.14` to make sure we get to it before releasing a new minor version.

I'm quite busy myself, so I won't get to this soon (and won't be able to get it in a patch version). But if someone is willing to open a PR I think we can review this quickly and get it in `2.13.3.`

[2022-03-28 08:32] DanielNoord commented on #5364
To get back on the response from `mypy`. They just don't have a real need for caching of results as their unittests are slower than the primer runs.

I might have some time to look at this in the near future. Although I do think that fixing the `json` output at the same time might be helpful as well.

[2022-03-28 09:07] DanielNoord commented on #4701
@Pierre-Sassoulas For clarity, it might be good to add a "backported" label which can replace the "needs backport" label after a PR has been back ported. That allows us to easily see if all recently merged PRs that need back porting have had it.

[2022-03-28 09:27] #5973 closed

[2022-03-28 09:58] huxuan commented on #5491
Hi @DanielNoord, so any suggestions to fix this issue? I think maybe we could use `os.path.relpath()` to decide whether we should check? Since `os.path.relpath("./test.py", ".") == "test.py"`.

[2022-03-28 10:09] DanielNoord commented on #5491
The changes that cause this were introduced in https://github.com/PyCQA/pylint/pull/5201/. I think the tests that were added to `tests/unittest_config.py` in that PR are fairly robust and might help you fix this and see if any solution is "good".

I honestly don't know what the best approach is here (and must warn that it might be a difficult issue for a first PR to a project).
I think there are t

[2022-03-28 10:15] kdeldycke commented on #5701
Looks like `pylint --recursive=y .` now does the trick since v2.13.0. See: #352.

[2022-03-28 10:18] huxuan commented on #5491
Tha

Thanks for the detailed explanation. I will further look into it. Actually, I was blocked by the issue. As the release of v2.13.0, I try to use `pylint .` for all the projects, but it does not work for pre-commit, as pre-commit does not have `./` preceding. So currently I have to use `.*/?test.py` for hack.

[2022-03-28 10:41] skirpichev commented on #5800
@areveny, probably this could be closed in favor of #5814?

[2022-03-28 10:41] #5800 closed

[2022-03-28 10:41] jpy-git opened #6011 "`typevar-name-mismatch` check suggestion"
### Current problem

Currently we don't have a check to flag if a user doesn't assign a `TypeVar` to a variable of the same name:
i.e.
[code]
should be
[code]

### Desired solution

There should be a lint along the lines of `TypeVar must be assigned to a variable named "A" (typevar-name-mismatch)`

### Additional context

Pylance currently flags this, but would be nice to also have in Pylint for C

[2022-03-28 10:42] DanielNoord commented on #6011
Duplicate of #5224 although I do like this name suggestion. Could you post it in that issue?

[2022-03-28 10:42] #6011 closed

[2022-03-28 10:44] jpy-git commented on #6011
Ah apologies, will do! Happy to take a look at adding this as well 😄

[2022-03-28 10:48] jpy-git commented on #5224
_From #6011_
[code]
Suggested name: `typevar-name-mismatch`
Suggested message: `TypeVar must be assigned to a variable named "A"`

[2022-03-28 11:19] jpy-git commented on #5895
@DanielNoord I'm going to add this as part of the work on #5224 since it's touching the same bit of code 😄

[2022-03-28 11:26] mbyrnepr2 commented on #6001
Thanks for the info @jab. I certainly don't disagree with your analysis but the behaviour is also seen with the simpler case (irrespective of class attribute descriptors):
[code]

Perhaps a maintainer can clarify what the intention is from the checker in this situation.

[2022-03-28 11:57] jab commented on #6001
@mbyrnepr2, your simplified example is not the same as what's going on here. In your example, you are assigning an instance attribute `b`. Since `b` is not present in slots for `Example` (or any of its base classes), pylint is correctly flagging the `assigning-non-slot` error.

This issue is about pylint incorrectly flagging an `assigning-non-slot` error when an inherited descriptor is used. If yo

[2022-03-28 12:05] vincentschut commented on #5406
Thanks for reopening.
If it is as simple as replacing line 272 in _check_doc_utils.py from `((\\\*{{1,2}}\w+)|(\w+))  # Parameter name with potential asterisks` to `((\\\*{{0,2}}\w+)|(\w+))  # Parameter name with potential asterisks`, I can make a PR. If there's more to it, I'll probably rather wait for 2.14...

[2022-03-28 12:30] haroldmeerwaldt opened #6012 "RecursionError with colorama and jobs>1"
### Bug description

Pylint crashes from a RecursionError inside colorama when run with jobs>1. This happens on any file, e.g. test.py:
```print("test")```

When it is run with jobs=1, it finishes fine. When coloroma is uninstalled, it also works fine.

It appears to be due to the line `obj = StockUnpickler.load(self)` in dill which passes `self`. In colorama, now `self.__wrapped` equals `self` an

[2022-03-28 12:30] mbyrnepr2 commented on #6001
@jab I agree with you. It's an example of correct usage vs. what you are reporting. Sorry that I didn't communicate that clearly.

[2022-03-28 12:37] DanielNoord commented on #5895
If it isn't too much work for you I'd like you to ask you to separate the PRs. I know me and other maintainers have been quite busy the last couple of weeks and larger PRs just take more time to review. If split, it should still be pretty easy to rebase one of the PRs after the first has been merged.

That said, I'm very grateful for you taking on this issue 😄

[2022-03-28 12:38] DanielNoord commented on #5406
I think that should do the trick. We just need a test as well, which can probably be based on some of the other tests. Searching for *args in the test directory should point you to the current test files I think.

[2022-03-28 12:42] jpy-git commented on #5895
Yeah that's no problem, in that case will do this one first since 😄

[2022-03-28 12:43] DanielNoord commented on #6012
@haroldmeerwaldt I added the dependency on `dill` and didn't there would be issues with `colorama`. I don't use the package myself so I have no immediate solutions here.

That said, I did find this issue https://github.com/tartley/colorama/issues/86. Could you check if this indeed works? If so, we might want to try and get that change to land in a patch version of colorama.

[2022-03-28 12:55] haroldmeerwaldt commented on #6012
I checked the solution in the issue at colorama, and indeed, adding the `__setstate__` and `__getstate__` fixes the issue.

[2022-03-28 14:13] OJFord opened #6017 "hashlib constructors unexpected-argument false positive for `usedforsecurity`"
### Bug description

Python 3.9 added the `usedforsecurity` keyword-only argument to all `hashlib` constructors

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-03-28 15:21] cdce8p commented on #4701
Home Assistant has a label named `cherry-picked`. Every bugfix PR gets assigned to the  corresponding milestone and once it's "backported" `cherry-picked` is added.

[2022-03-28 17:22] Pierre-Sassoulas commented on #6017
Thank you for opening the issue. Could you try with the latest pylint <3 ? 3.0.0 alpha 4 is based on an old version of pylint like 2.10 with breaking change on top of it.

[2022-03-28 17:28] Pierre-Sassoulas commented on #6012
It's unclear for me if we need to do something (stop pickling StreamWrapper ?) or if it's a dill/colorama related problem and we can close as won't fix. What's your opinion ?

[2022-03-28 17:35] Pierre-Sassoulas commented on #6006
Yeah I remember when I used liclipse (eclipse + pydev) this was a pain. This is an issue with the IDE though, Pycharm Community Edition handle this correctly.

[2022-03-28 17:36] OJFord commented on #6017
Thanks for the reply - I think it might actually be that python3.8 was (unexpectedly) picked up, in which case the error is correct. Will close once I've confirmed that.

[2022-03-28 17:55] jab commented on #6006
Sure, some IDEs can help with typos in `__all__`, but that's only one part of the problem with `__all__`. More problematic is that it forces you to maintain exports separately from where they're imported / defined, which makes it too easy for `__all__` to drift out of sync as changes are made to the intended exports.

[2022-03-28 17:58] tl24 opened #6019 "False positive ``arguments-differ`` when converting ``@staticmethod`` to/from bound method"
### Bug description

When changing a base class static method with the @staticmethod decorator to a bound method using self, the arguments-differ warning is being generated.  I don't believe this should be the case as calling the child class method using self works correctly.

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No warnings generated

### Pylint vers

[2022-03-28 20:41] cdce8p commented on #6019
True, but the other way doesn't work. You can't replace a call to `Base.handlers()` with `Child.handlers()`. If you know that you'll be calling  the method with `self.xxx` anyway, it probably shouldn't be a static one.

_Btw. both pyright and mypy also emits an error here._
[code]

[2022-03-29 01:29] jacobtylerwalls commented on #3220
`bad-whitespace` was removed in #3577 as not fitting pylint's roadmap, so since this code style issue is most like that warning, I suggest closing this issue on that basis.

[2022-03-29 01:29] #3220 closed

[2022-03-29 01:54] jacobtylerwalls commented on #5888
BTW, this is probably the better call:
[code]

[2022-03-29 06:24] #5888 closed

[2022-03-29 06:37] #5769 closed

[2022-03-29 06:39] DanielNoord commented on #6012
I would like to submit the fix to `colorama` and see if they accept it.

@Pierre-Sassoulas Do we officially support `colorama`? If so we can either 1) revert the `dill` dependency (but that would once again stop the `argparse` migration) or 2) say that we don't support `colorama` on `2.13` and will only do so after `colorama` has this fix...

[2022-03-29 07:47] Pierre-Sassoulas commented on #6012
I don't understand the question. I suppose it's only used for the colored output (that isn't the default reporter). But we should be able to parse colorama's code without crash.

Let's hope the fix in colorama get merged and released quickly ™️ (say before may) and re-discuss this if it's not.

[2022-03-29 08:23] Pierre-Sassoulas commented on #6012
Maybe we can disable colored output while multiprocessing when colorama Version is < to the next release of colorama? I don't realize the work involved.

[2022-03-29 08:28] WAvdBeek opened #6027 "'_CData' not found in <ClassDef.Union l.None at 0x7fb308fdb650>."
### Bug description

internal crash when doing a pylint run

full details here:

https://github.com/KNX-IOT/KNX-IOT-STACK/runs/5733695443?check_suite_focus=true

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no crash

### Pylint version

[code]

### OS / Environment

Linux (on github)

### Additional dependencies

see github action.

[2022-03-29 08:39] lyz-code commented on #5981
I'm still encountering this issue with pylint 2.13.2

[code]

[code]

[2022-03-29 08:57] DanielNoord opened #6028 "Make sure to package the ``pylintrc`` from testutils"
### Bug description

We have discussed this in the ``pylint-django`` repo but I haven't got the time to get to it.

If somebody else knows how to do this please go ahead. I'm no expert in `setuptools`.

Basically, there is a pylintrc file in the testutils that should be packaged with `pylint` as the `testutils` depend on it at runtime.

[2022-03-29 08:59] DanielNoord commented on #5981
Please see the discussion in #6003. We have explicitly chosen to disallow `Type` at the end of a `TypeVar` to distinguish it from a `TypeAlias`. `EntityT` should work!

[2022-03-29 09:01] DanielNoord commented on #6012
Not sure. Let's wait for a response from the `colorama` maintainers on how long a release might take. The unreleased branch also has support for `3.9` so perhaps that might convince them to move up the release.

[2022-03-29 09:36] haroldmeerwaldt commented on #6012
@DanielNoord No problem! Already great you are picking this up so fast.

I actually have output-format set to text. For all values (text, parseable, colorized, json) the error occurs.

For now my workaround is setting jobs to 1.

[2022-03-29 10:13] jpy-git commented on #6028
Will add this 👍

[2022-03-29 11:45] jpy-git opened #6030 "Prevent missing package_data in CI"
### Current problem

This is an improvement to prevent issue like #6028 (Fixed by #6029) from occurring again.

### Desired solution

2 options:
- Don't use editable installs for testing: Editable install just uses an `egg-link` to link the code to `site-packages` and therefore simulate the package being installed. The risk is that non-python files within the code aren't automatically included in

[2022-03-29 11:58] lyz-code commented on #5981
Perfect, thank you ! :)

[2022-03-29 12:49] siddhant-ti opened #6031 "failing or getting stuck in parsing json present in code"
### Bug description

I've a json in the code like
[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

it should complete processing, seems there's some minor issue in parsing

### Pylint version

[code]

### OS / Environment

mac

[2022-03-29 12:56] Pierre-Sassoulas commented on #6030
We can launch the test with tox, but pytest alone is faster which is probably why we don't use tox in github action (locally you also have to --recreate or remember to reinstall if you're not using editable install). To be fair I don't think we have non python files to include in the packaging often enough to warrant a check or having to remember that we need to reinstall so the code is up to date

[2022-03-29 13:00] Pierre-Sassoulas commented on #6031
Hi, thank you for opening the issue. Did you try with the latest pylint ``2.13.3`` ?

[2022-03-29 13:05] siddhant-ti commented on #6031
hey, it works for pylint 2.13.3, it has been couple of weeks now, but believe i had tested on some 2.13 version
sorry about this

[2022-03-29 13:05] #6031 closed

[2022-03-29 13:39] jacobtylerwalls commented on #6027
Thanks for the report, bisected it to 6977e48ab9399ce9d953ea86fb480d362d9cb6db. Does not appear to require an astroid update, just catching the InferenceError.

**Reproducer** (with ``--disable=missing-docstring --disable=empty-docstring``)
[code]

[2022-03-29 13:56] tonial opened #6033 "False positive: 'unsubscriptable-object'"
### Bug description

I have an instance of [`elasticsearch_dsl.search.Search` which has a `__getitem__` function](https://github.com/elastic/elasticsearch-dsl-py/blob/master/elasticsearch_dsl/search.py#L348).
Most other functions from `elasticsearch_dsl.search.Search` clone the instance before applying the new params, but pylint or astroid (I don't know which) thinks the cloned instance is of the

[2022-03-29 14:02] jacobtylerwalls commented on #6033
Thanks for the report. Sounds like another manifestation of #981 or PyCQA/astroid#457.

[2022-03-29 14:29] jpy-git commented on #6030
Yeah it's not essential, only made the issue in case you wanted extra options for checking but doesn't sound worth it 👍

We can discuss this on #6029

[2022-03-29 14:29] #6030 closed

[2022-03-29 15:04] Pierre-Sassoulas commented on #6031
It was probably a duplicate of https://github.com/PyCQA/pylint/issues/5724 then, it was fixed in https://github.com/PyCQA/pylint/pull/5925 by @skirpichev :)

[2022-03-29 15:04] The-Compiler opened #6035 "`used-before-assignment` false positive with list comprehension and try/except"
### Bug description

Somewhat similarly to #5965,

[code]

leads to an `used-before-assignment` false-positive for the second line, yet `asset` is always defined there.

I bisected this to bd55b27d41542e3ca1f031f986b6151f6cac457f, part of #5402 ("Fix #4761: Emit used-before-assignment where single assignment only made in except blocks")

### Configuration

_No response_

### Command used

[code]

[2022-03-29 15:06] #6028 closed

[2022-03-29 15:21] The-Compiler opened #6036 "`unnecessary-ellipsis` false-positive when using `...` in lambda"
### Bug description

Similarly to what's been reported in #5973, this:

[code]

results in a false-positive `unnecessary-ellipsis`.

While that might be a strange thing to do, I use it to make PyYAML able to save/restore `...`:

[code]

I bisected this to 78eed6af303e0e9854e43528d17d2ada96f11c09, part of #5470 ("New checker - Detect use of unnecessary ellipsis").

### Configuration

_No response_

[2022-03-29 15:37] The-Compiler opened #6037 "`unnecessary-ellipsis` checker: `AstroidError` with list in dict (Could not find list in dict's children)"
### Bug description

[code]

leads to an `AstroidError`.

I bisected this to 78eed6af303e0e9854e43528d17d2ada96f11c09, part of #5470 ("New checker - Detect use of unnecessary ellipsis").

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No crash, and probably no error either.

### Pylint version

[code]

(environment in which I originall

[2022-03-29 17:09] areveny commented on #5814
Thanks for merging. I have the core logic of this assembled, I'll finish up the documentation and add a PR now that we're on 2.14.

[2022-03-29 18:46] jacobtylerwalls commented on #6035
Thanks for the well-written report! Extremely similar to #5586 and #5817, but still missed it before the release.

[2022-03-29 19:13] jacobtylerwalls commented on #6027
@DanielNoord would you have any interest to take a look?

[2022-03-29 19:18] DanielNoord commented on #6027
I'll have a look tonight.

[2022-03-29 19:44] kfsone opened #6042 "disable=redefined-builtin ignored in some scenarios"
### Bug description

We encountered an issue where under some circumstances Pylint will complain about a redefined-builtin on a line with an explicit `# pylint: disable=redefined-builtin`, and/or W0622. _Only_ when the affected file is mentioned explicitly and not by search path (`pylint src` vs `pylint src/file.py`)

I was able to repro this on several of our linux ci workers, but it did not mani

[2022-03-29 19:57] tl24 commented on #6019
Ok, so is the guidance here just to disable the "no-self-use" warning in the base class if the intent is for it to be overridden in the child class and possibly needing the self reference?

[2022-03-29 20:09] dllu opened #6044 "False positive E1133 Non-iterable value used in an iterating context (not-an-iterable)"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

There shouldn't be a pylint error since `get_asdf()` always sets `Wat.asdf` to `[1, 2, 3]` before returning it.

### Pylint version

[code]

### OS / Environment

Ubuntu 18.04.3 LTS x86_64

### Additional dependencies

_No response_

[2022-03-29 20:30] jpy-git opened #6045 "Is `BaseChecker.__gt__` required"
### Bug description

As noted by @DanielNoord [here](https://github.com/PyCQA/pylint/pull/5938#discussion_r837867526), [`BaseCheck.__gt__`](https://github.com/PyCQA/pylint/blob/742e60dc07077cdd3338dffc3bb809cd4c27085f/pylint/checkers/base_checker.py#L62-L64) is not currently covered. If this required then we should add a unit test, otherwise we can remove this method.

### Configuration

[code]

#

[2022-03-29 20:33] Pierre-Sassoulas commented on #6045
I think this was used originally to be able to assert that  a list of checker is equal to another one in tests. If it's not covered it means we do not do that anymore.

[2022-03-29 21:14] burrussmp opened #6048 "astroid.exceptions.AstroidError: Could not find <Set.set l.311 at 0x2557e123ac8> in <Dict.dict l.311 at 0x2557e123948>'s children"
### Bug description

Asteroid error when upgrading from pylint 2.12 to 2.13. Code cannot be shared.

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Return nothing or linting failures.

### Pylint version

[code]

### OS / Environment

Edition	Windows 11 Enterprise
Version	21H2
Installed on	‎10/‎23/‎2021
OS build	22000.556
Serial number	047128

[2022-03-29 21:20] Pierre-Sassoulas commented on #6045
It's used in Sphinx and maybe downstream libraries see #6047 .

[2022-03-29 21:20] #6045 closed

[2022-03-29 21:25] DanielNoord commented on #5392
@Pierre-Sassoulas I want to ask for input before committing to this:
Do we want to keep requiring the sections in options files? It adds a lot of extra checks in the code and honestly I don't see why we should require it. It's trivial to keep supporting it but I would like to support:
[code]

I do not immediately see what having these sections internally offers to us.

[2022-03-29 21:31] cdce8p commented on #6019
Exactly! IMO the `no-self-use` checker encourages the wrong behavior here. Just because the base implementation of a method doesn't use self, doesn't mean it should be a static method. I opened an issue for that a while ago
* https://github.com/PyCQA/pylint/issues/5502

[2022-03-29 21:31] #6019 closed

[2022-03-29 21:33] mbyrnepr2 commented on #6048
Looks similar to https://github.com/PyCQA/pylint/issues/6037. I'll address this in the merge request linked over there.

[2022-03-29 21:39] Pierre-Sassoulas commented on #5392
Only upside would be to have the same option within two checkers with a different value in each checkers ? :trollface: Imo not an upside and more like a nightmare. Otherwise I don't know. I think we expose our internals checker name to users so it makes it more complex for us to change anything in the checkers and more complex for users to understand what they need to add in the configuration. See

[2022-03-29 21:40] DanielNoord commented on #5392
I'll go ahead with that implementation then! 😄

[2022-03-29 21:45] DanielNoord commented on #6045
Shall we add a no coverage param then?

[2022-03-29 22:52] mbyrnepr2 commented on #6048
Can be reproduced with this example:
[code]

This issue is addressed and a functional test added in: https://github.com/PyCQA/pylint/issues/6037.

[2022-03-30 04:30] jacobtylerwalls opened #6049 "TypeError in `unnecessary-list-index-lookup`"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no crash, and potentially, a message to use `a` and not `[i][0]`

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-03-30 04:38] jacobtylerwalls commented on #6049
FYI @timmartin -- perhaps you would like to take a look? Would be much appreciated.

[2022-03-30 05:14] stevie-b-g opened #6050 "Doesn't like TypeVar now in 2.13.3 - C0103: Type variable name...."
### Bug description

pylint 2.13.3 is now compliant about C0103: Type variable name when using TypeVar

https://www.pythonsheets.com/notes/python-typing.html#using-typevar-and-generic-as-class-template

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Your code has been rated at 10.00/10 (previous run: 10.00/10, +0.00)

### Pylint version

[cod

[2022-03-30 05:17] jacobtylerwalls commented on #6050
Thanks for reporting. FYI this was an intentional change, see discussion at #6003.

[2022-03-30 05:17] #6050 closed

[2022-03-30 05:27] jacobtylerwalls commented on #6033
No worries! I'll mention this test case on both #981 and PyCQA/astroid#457 (and try to clarify those issue titles a bit)

[2022-03-30 05:27] #6033 closed

[2022-03-30 05:28] jacobtylerwalls commented on #981
#6033 has another useful test case.

[2022-03-30 07:10] matusvalo opened #6051 "Add information about extension enabling in messages documentation"
### Current problem

Current message documentation does not provide information whether message (e.g. bad-builtin) is extension.

### Desired solution

Message documentation should provide note that message is part of extension and provide link to the extension.

### Additional context

See https://github.com/PyCQA/pylint/pull/6022 for details

[2022-03-30 08:28] timmartin commented on #6049
Sure, I'll take a look at this.

[2022-03-30 09:13] Pierre-Sassoulas opened #6053 "Better explanation for reasoning behind ``invalid-name`` warnings"
### Current problem

We're getting a lot of report for the new TypeVar naming style lately (#6050, #6003). It's probably annoying users. We took a decision but it's not conveyed in the warning message. We also have a long standing issue with snake_case requiring to be more than 3 letters and less than 30 characters long but not explaining it properly (the regex behind it is also hidden).

### Desi

[2022-03-30 10:06] tushar-deepsource commented on #5931
Found this:

https://github.com/PyCQA/pylint/blob/5324fecb32b0c86a70c88fc196360d721085fdfc/pylint/checkers/typecheck.py#L1231-L1242

The inference seems to work just fine. Here, `attr.infer_call_result` gives us both `Const.None` and `Lambda` objects.

But since we're checking if `all` the inferred results are callable, E1102 is getting raised.

Even if some of the inferred results are callable, p

[2022-03-30 10:08] tushar-deepsource commented on #5931
Proposed solution:

- If we were able to infer call results, and none of the inferred values were callable, raise `not-callable`.
- If we were able to infer call results, and some of the inferred values were callable, raise `possibly-not-callable`.
- If we were not able to infer call results, do nothing

[2022-03-30 10:47] #5936 closed

[2022-03-30 15:16] DanielNoord commented on #3838
@kontsaki Is the `find_pylintrc()` function used in emacs for anything? We don't use it internally (anymore) so that might explain why there is a discrepancy. Does it offer any functionality to you?

[2022-03-30 18:00] jpy-git commented on #6045
It's pretty easy to add a unit test for this so will make a quick PR

[2022-03-30 18:00] #6037 closed

[2022-03-30 18:00] #6048 closed

[2022-03-30 19:20] SteveHespelt commented on #6035
in the spirit of possibly being helpful:

somewhat similar list comprehension statement, but not in a try-except block

[code]
E:191,59: Using variable 'c' before assignment (used-before-assignment)

pylint 2.13.3,  pytest-pylint 0.18.0, python 3.8.13, pytest-7.1.1

[2022-03-30 19:40] DudeNr33 opened #6060 "Use, misuse and confusion of ``@check_messages`` decorator"
### Current problem

The work on #5953 showed that specifically enabling just a single message is sometimes not working as expected.
This is due to either missing message declaration in a checkers ``msgs`` attribute or the incorrect usage of the ``@check_messages`` decorator.
Ideally I would like to implement a new, optional checker aimed at Pylint core development and custom checker development.

[2022-03-30 19:40] jacobtylerwalls commented on #6035
I can't reproduce with that example:
[code]

[2022-03-30 20:02] SteveHespelt commented on #6035
my apologies @jacobtylerwalls - my example wasn't meant to be complete, just the minimal snippet showing the statement.
Extremely interesting:  the error was reported in a CI pipeline using Python 3.8.13, the other versions I reported earlier.
Not using pytest-pylint, I get the following.
Not being a Python expert/guru, I'm concerned over the difference between the full codebase scan via pytest-py

[2022-03-30 20:20] #6036 closed

[2022-03-30 23:08] KotlinIsland opened #6062 "(❓) Should minor versions have pre-releases"
### Question

2.13 came with a fair few issues and required three patch releases within 4 days. If there were publicized pre-releases the community would have had a chance to report these issues before a general release.

### Documentation for future user

I'm always willing to test pre-releases and raise issues

### Additional context

_No response_

[2022-03-30 23:14] KotlinIsland opened #6064 "(🐞) The Tidelift logo in the readme is stretched"
### Bug description

Expected:
![image](https://user-images.githubusercontent.com/65446343/160945827-7dd115d5-631f-46e4-bfb0-da835bdb1dd8.png)

Actual
![image](https://user-images.githubusercontent.com/65446343/160945805-efca2b2b-48b6-47b7-ac77-f1896196b68c.png)

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

N/A

### Pylint version

[

[2022-03-30 23:18] jacobtylerwalls commented on #6035
Thanks, I misunderstood -- thought you were saying you found a case reproducible without a try/except block. I think it's worth adding this case to the tests.

[2022-03-31 01:29] #6035 closed

[2022-03-31 02:20] jacobtylerwalls commented on #4639
Thanks for the report. Although a duplicate of https://github.com/PyCQA/pylint/issues/981 and https://github.com/PyCQA/astroid/issues/457 I'll link this and mention the test case.

[2022-03-31 02:20] #4639 closed

[2022-03-31 02:20] jacobtylerwalls commented on #981
Another test case in #4639.

[2022-03-31 02:31] jacobtylerwalls commented on #2329
Duplicate of https://github.com/PyCQA/pylint/issues/981 and https://github.com/PyCQA/astroid/issues/457. I'll mention this test case there.

[2022-03-31 02:31] #2329 closed

[2022-03-31 02:31] jacobtylerwalls commented on #981
And #2329.

[2022-03-31 03:49] jacobtylerwalls commented on #3093
Duplicate of #981 and https://github.com/PyCQA/astroid/issues/457

[2022-03-31 03:49] #3093 closed

[2022-03-31 06:35] DudeNr33 commented on #6060
Let me give an example on this point, as I think it is the most problematic:

The checker I wanted to prepare has a good example for that. The relevant parts can be stripped down to this:

[code]
``visit_classdef`` does not emit messages itself, so it is not decorated with ``@check_messages``. But it sets the ``self._defined_messages`` attribute, which is needed by ``visit_call``.

Now imagine a n

[2022-03-31 06:45] Pierre-Sassoulas commented on #6062
The number of patch releases is greater since #5858 because we're backporting all false positives fixes all the time. Before that we were only fixing crashes for a short period of time. So more and faster patch releases was expected for 2.13 and is not necessarily a bad thing. Before that we were just waiting longer to release and not releasing fixes until the next minor. (See for example [2.13.2]

[2022-03-31 06:45] DanielNoord commented on #6060
@DudeNr33 Thanks for this extensive write-up. I agree with most points here and I think this can/is indeed problematic.

I had one question though: have you checked how much of a performance benefit this actually gives? Even if we rename to `only_required_for` it is easy to miss it in `visit_` methods of 100+ lines (which there are). I think knowing the actual performance benefit would be importan

[2022-03-31 06:48] DanielNoord commented on #6062
To add to what @Pierre-Sassoulas said:
1) I think releasing minor version a little sooner than we did with `2.13` should help. We had a lot of issues getting that version out which then increased the size of the release and thus the potential for new bugs.
2) I think pre-releasing/nightly builds could certainly be interesting but only if we find a way to do this automatically with a Github Action.

[2022-03-31 06:49] #6027 closed

[2022-03-31 06:50] DanielNoord commented on #6049
@jacobtylerwalls Not sure how you found this, but is this project a potential candidate for the primer?

[2022-03-31 06:50] #6049 closed

[2022-03-31 06:59] DanielNoord commented on #5931
@tushar-deepsource What about changing `possibly-not-callable` to another lint: `assigning-callable-to-non-callable` or something like that?
That seems to be a bigger issue imo?

[2022-03-31 07:01] Pierre-Sassoulas commented on #6060
Yeah that's very useful I was using it without understanding it properly personally. It probably contributed to hard to debug issues along the way.

I like the proposed steps.

If the performance improvment is worth it, we could also create our own internal checker to verify that it's on a function when there is no side effectand conversely  that there is no side effects if it's on a function.

[2022-03-31 07:02] kontsaki commented on #3838
Hello, i was using it to point pylint to the project's pylint configuration in cases where pylint run from a different directory than the root of the project. I'm not using this anymore since i always run pylint from project's root now through an lsp.

[2022-03-31 07:03] DanielNoord commented on #3838
Ah okay! I'm going to close this issue then and going forward with the removal of this function. It doesn't really do what its name suggests and we have better functions to do what people like want with it.

Glad to hear you found another solution!

[2022-03-31 07:03] #3838 closed

[2022-03-31 07:03] #6064 closed

[2022-03-31 07:49] tushar-deepsource commented on #5931
@DanielNoord sounds good to me! Did you mean "assigning non callable to callable"?

[2022-03-31 07:50] DanielNoord commented on #5931
Yeah! I think we should exclude `None` for now but assigning both a string and a callable to the same variable seems problematic and could be a lint for the Refactoring checker I think.

[2022-03-31 07:51] tushar-deepsource commented on #5931
I'll make a new issue for that.

For this issue, is it okay to not raise `not-callable` in this case then? Mind if I make a PR that only raises `not-callable` only when no inferred values are callable?

[2022-03-31 07:51] #6051 closed

[2022-03-31 08:00] DanielNoord commented on #5931
@tushar-deepsource I think that sounds like the right way forward!

[2022-03-31 09:44] skshetry commented on #6035
I can still reproduce this in 2.13.4:

[code]

[code]

[2022-03-31 11:50] jacobtylerwalls commented on #6035
Thanks for the report: this one does involve an if test in the comprehension, so I'm going to open a new issue for it. I have a patch ready.

[2022-03-31 11:52] jacobtylerwalls opened #6069 "False positive `used-before-assignment` for homonym between subscript in comprehension and assignment in except block"
False positive for `used-before-assignment` from subscript notation in comprehension followed by definition of that same variable later in an except block.

[code]

[code]

_Originally posted by @skshetry in https://github.com/PyCQA/pylint/issues/6035#issuecomment-1084339275_

[2022-03-31 12:03] skshetry opened #6070 "False positive `used_before_assignment` with assignment in `except` block and unconditional raise in `try` block"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No false positives

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-03-31 12:09] skshetry opened #6071 "False positive `unnecessary-ellipsis` when multiple conditions in `if` statement"
### Bug description

[code]

Above code raises error, but the following does not:
[code]

So, it probably is something to do with multiple conditions here.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No false-positives

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-03-31 13:01] jacobtylerwalls opened #6074 "False positive `unnecessary-dunder-call` when overriding dunder method"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No message, since the example cannot be rewritten as `return item in super()`:
[code]

This wasn't happening for `__init__` because it was allow-listed, but I think all dunder methods could be overridden in subclasses, so they all need to be made compatible wit

[2022-03-31 14:13] DudeNr33 commented on #6060
No, I haven't. The question is what we should measure here.
Measuring the impact of disabling just a single message could be done with a script. But I already saw that a lot of times many messages are not properly included in existing ``@check_messages`` decorators, so the results would not really mean that much.
Probably more interesting would be the performance gains for users who run ``pylint``

[2022-03-31 14:22] skshetry commented on #6070
Thanks, @jacobtylerwalls for the reply. I do find the above error message confusing as the `try-catch` is exhaustive, but I agree with your points and the design decisions.

The above code was from our tests so it is definitely flawed. Closing the issue. Again, thankyou for the prompt reply. 🙂

[2022-03-31 14:22] #6070 closed

[2022-03-31 14:59] teake commented on #4993
git-bisect tells me this bug was introduced in ea13058b9fde38698515c93bf67cc6018ed0064e. I've briefly tried to see if there was an easy fix, but that code has been refactored since and, unfortunately, I could make heads or tails out of it.

[2022-03-31 15:06] skshetry opened #6076 "Report logical contradictions"
### Current problem

[code]

There was a discussion on adding support for logical tautologies and contradictions in #2051.

### Desired solution

I would expect pylint to raise warning for `"mode" == "rb"` comparisons. Similarly, for other literals (`3 == 4` and `3 != 3`), and between literals of different types `"mode" == 0`.

### Additional context

_No response_

[2022-03-31 15:16] ptagl opened #6077 "Missing `W0612: Unused variable` warning if exception name is being reused"
### Bug description

Save the following code in a file like `pylint_test.py`.

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I would expect to get a "unused variable" warning for line 26 at least when commenting line 19 and uncommenting line 21, like:

`pylint_test.py:26:4: W0612: Unused variable 'exception' (unused-variable)`

[2022-03-31 18:12] Pierre-Sassoulas commented on #6076
Make sense, it could be added to the ``ComparisonChecker`` see original commit for ``comparison-with-itself``: https://github.com/PyCQA/pylint/commit/5f5026627520bd06dae00f9cb87148ba9733d312

[2022-04-01 05:42] DudeNr33 commented on #4993
@teake Thanks for taking time to investigate. Are you sure that this commit introduced the bug?
I can reproduce it when I roll back to the commit before that (c5faab4caa77c4f5b16f9a411c79c5b7a2e98753).
I can also reproduce it on the current main branch, where the ``@check_messages`` decorator has been removed completely for this method.

[2022-04-01 07:21] DanielNoord commented on #6060
Hmm, since the documentation project is likely to find all these issues it is very likely that all `check_messages` call will be correct after that project has finished.

What about creating a `must_always_be_checked` decorator that we can add to `visit_` or `leave_` calls with side-effects? That way we don't accidentally add the decorator to functions that don't have them but keep the possible pe

[2022-04-01 07:28] DudeNr33 commented on #5953
Question for ``assign-to-new-keyword``:
This message only targets ``async`` and ``await`` and is only emitted for Python versions < 3.7.
Should we support message specific configuration files as for the functional tests?

[2022-04-01 07:32] DanielNoord commented on #5953
Ah, yeah I hoped to avoid that...
I think we will drop that message in a couple of weeks so perhaps not worth to add documentation for it.

We only run the check on Python 3.8 though. Of the top of my head I don't know any messages that do/don't emit for 3.8 but do for others. But we should probably exclude those? Perhaps not with configuration files but with a simple list in the extension which c

[2022-04-01 07:48] DudeNr33 opened #6085 "``bad-format-character`` false negative on ``.format()`` and f-strings"
### Bug description

# pylint: disable=consider-using-f-string, missing-module-docstring
PI = 3.1415
print("Pi is %.2v" % PI)
print("Pi is {:.2v}".format(PI))
print(f"Pi is {PI:.2v}")

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

``bad-format-character`` is currently only emitted for the old-style string formatting.

It should also c

[2022-04-01 08:02] DanielNoord commented on #6085
For anybody taking this on, after #6086 has landed we will need to update the documentation for this as well.

[2022-04-01 08:09] DudeNr33 commented on #6060
The speed-up when running with ``--disable=R`` comes mainly from disabling whole checkers (namely ``SimilarChecker``):

Can you give an example for ``must_always_be_checked``? Would this be an alternative to ``only_required_for``/``check_messages``, or an addition?

[2022-04-01 08:14] DanielNoord commented on #6060
This was mostly in relation to the above point. I think that in the `NamesConsumer` there might be `visits` that set up stuff for later?

[2022-04-01 08:17] DudeNr33 commented on #5953
If we'd be willing to add support for configuration files, we could maybe make use of the ``py-version`` option.
That way we can still only run the tests with one Python version.
And we could also catch some bugs where the ``py-version`` is not taken into account (``assign-to-new-keyword`` would be one, although I agree that this particular message is probably not worth working if it will be dropp

[2022-04-01 08:19] DanielNoord commented on #5953
That's good idea. I like that! Do you want to work on this?

[2022-04-01 08:22] teake commented on #4993
@DudeNr33 Sorry, you're right, I was a bit too hasty. I bisected not against OPs code snippet, but mine, assuming the underlying issue was identical (evidently not).  My code snippet was:
[code]
This snippet will start raising a false positive at ea13058b9fde38698515c93bf67cc6018ed0064e _when invoked as follows_:
[code]
But when invoked as
[code]
no false positive is raised, even though `unused-im

[2022-04-01 08:26] DanielNoord opened #6087 "Re-enable ``bad-docstring-quotes`` for Python 3.7"
### Current problem

With changes to `doc_node` in astroid we can now check docstring quotes in `3.7` as well. This was turned off in #5526.

### Desired solution

Turn the checker on again.

### Additional context

@kasium Do you still want to do this? Should I assign you?

[2022-04-01 08:27] DanielNoord commented on #4993
@teake Could you open a new issue for your snippet? That does seem related to `check_messages` indeed 👍

[2022-04-01 08:44] teake opened #6089 "False positive unused-import (W0611) when assigning class properties with the same name"
### Bug description

This code snippet
[code]
will start raising a false positive from ea13058b9fde38698515c93bf67cc6018ed0064e up until the current main branch (6505c743564452f1b298b2a7ce2507a0b280ea25).

Related: #4993.

### Configuration

_No response_

### Command used

A false positive is only raised in combination with `--disable=all`:

[code]
But when invoked as
[code]
no false positive is

[2022-04-01 08:45] teake commented on #4993
Done!

[2022-04-01 08:47] Pierre-Sassoulas commented on #6060
There might be a benefit to separating messages inside checker to reduce this complexity. For example the "basic" checker is dispatched between multiple classes so it seems to be possible.

https://github.com/PyCQA/pylint/blob/main/pylint/checkers/base/basic_checker.py#L36
https://github.com/PyCQA/pylint/blob/main/pylint/checkers/base/basic_checker.py#L105
https://github.com/PyCQA/pylint/blob/main

[2022-04-01 08:49] DudeNr33 commented on #5953
Yes, I will take a look.

[2022-04-01 08:49] DanielNoord commented on #6060
A counterpoint to that is that many of these `visit_` calls will then infer values. Depending on the order and difficulty of inference these calls might fall outside of the cache and become rather expensive if separated into different classes.

I explored passing a pre-inferred value to `visit_` calls but never followed up on it.

[2022-04-01 09:04] LuminairPrime commented on #6017
`Unexpected keyword argument 'usedforsecurity' in constructor call`

[code]

[code]

[2022-04-01 09:06] DudeNr33 commented on #6060
I agree, bloating the ``visit_*`` method itself is not good for maintainability.
But in this case I would prefer splitting the checks for each message in subfunctions, as can bee seen in the first three lines of the ``visit_compare`` you mentioned.

This, of course, makes it harder to keep track of all messages that can be possibly emitted by this ``visit_*`` method.
If we want to keep ``check_mes

[2022-04-01 09:38] gunungpw commented on #5953
Hello, I make script that convert error documentation from `pylint-errors` to `bad.py`, `good.py`, `related.rst`, and `details.rst` in the appropriate folder, But it's very bad because I am beginner, for most case it will work but if the documentation missing some element it will just print error on some file but majority of the time it will work (not guaranteed 😵‍💫 )
[code]

[2022-04-01 10:06] DudeNr33 commented on #6089
While the original bug introduced by https://github.com/PyCQA/pylint/commit/ea13058b9fde38698515c93bf67cc6018ed0064e really was an issue with the ``unused-import`` not being included in the ``check_messages`` call, this is not the root cause in the current main branch.

The error is also slightly different:
When running with https://github.com/PyCQA/pylint/commit/ea13058b9fde38698515c93bf67cc6018e

[2022-04-01 10:27] Pierre-Sassoulas commented on #6017
pylint uses astroid to create the abstract syntax tree. It's possible there's an issue in astroid not being able to create the proper AST for the python 3.9 code.

[2022-04-01 10:28] teake commented on #6089
FWIW, enabling either `used-before-assignment (E0601)` or `undefined-variable (E0602)` together with `W0611` makes the issue go away:

[code]

Those are the only two rules that seem to make a difference though -- enabling any of the others does not make the issue go away.

[2022-04-01 10:46] quazgar opened #6094 "no-member raised on __getattribute__ for modules"
### Bug description

In the following code snippet, pylint complains about line 3 with `E1101: Module 'sys' has no '__getattribute__' member (no-member)`:

[code]

Note that this seems to be OK for other usages of `__getattribute__`.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]
[code]

### OS / Environment

Debian 11

### Additional dependencies

_No respo

[2022-04-01 12:53] DudeNr33 commented on #6089
Thanks, this explains why in the current version the ``check_messages`` decorator does not play a role.
``used-before-assignment`` and ``undefined-variable`` translate to internal flags that are used to change the control flow in the checker class and how the consumption of names is handled.

This was introduced with https://github.com/PyCQA/pylint/commit/c5181886b59799740306829e0e21e548c50db391 w

[2022-04-01 13:26] DanielNoord commented on #4165
@Pierre-Sassoulas I think you fixed this recently, right?

[2022-04-01 13:52] Pierre-Sassoulas commented on #4165
Probably fixed in https://github.com/PyCQA/pylint/pull/5987, thank you @DanielNoord

[2022-04-01 16:21] jacobtylerwalls commented on #6049
Sure. It's [music21](https://www.github.com/cuthbertLab/music21), which I help maintain. I've used it to report issues like #4891 #4664 and #6074. And I should be able to help contributors interpret behavior changes if we get the message-differ wired up.

[2022-04-01 18:44] kainjow opened #6100 ""AttributeError: 'ClassDef' object has no attribute 'value'" in _check_redefined_slots"
### Bug description

I'm seeing this exception when a `__slot__` is set to a list of enum values, but was able to reproduce minimally with just using a type as the list:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

pylint not crash.

### Pylint version

[code]

### OS / Environment

Python 3.8.8
macOS 11.6.4

### Additional d

[2022-04-01 19:20] jacobtylerwalls commented on #6100
Thanks for the report. Regression in 56129b7e05ed606a40546659daaac510c7572d20. /CC @mbyrnepr2

[2022-04-01 19:22] mbyrnepr2 commented on #6100
Thanks for the headsup. By the way, this example is invalid Python:
[code]

But we probably want to avoid the crash either way.

[2022-04-01 19:27] jacobtylerwalls opened #6101 "Truncate output of `invalid-slots-object` message for classes"
### Bug description

Same test case from #6100, but not regarding the crash in `redefined-slots-in-subclass`. This is regarding the verbose output for the `invalid-slots-object` message, which might print the entire content of a class.

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Either truncate the representation or just pr

[2022-04-01 19:29] kainjow commented on #6100
I’m on mobile now but I can update the example using enums which I think mapped to strings. Will check later.

[2022-04-01 19:35] jacobtylerwalls commented on #6101
If this is the case with other messages then we can generalize a solution or perhaps wontfix it?

[2022-04-01 19:38] Pierre-Sassoulas commented on #6101
I think we should display the name of the class instead of the whole class (like we did for end line / end column in vscode for highlighting).

[2022-04-01 19:43] jpy-git commented on #6074
@jacobtylerwalls apologies, this was an oversight on my behalf. Let's update C2801 so that it only raises iff there is no alternate operator (current behaviour) AND  the dunder method is not being called on `super()` (resolves this issue).

Will pull together a PR for this now 😄

[2022-04-01 19:51] #6071 closed

[2022-04-01 20:18] kainjow commented on #6100
Enum example:
[code]

[2022-04-01 22:01] mbyrnepr2 commented on #6100
Thanks for this example. This one is also invalid Python but I agree that we could tidy things up to prevent the crash report which happens when running Pylint on it.

Both of the examples provided emit the `invalid-slots-object` error so some of the heavy-lifting is already there to work on.
I'm happy to put together a MR for this.

`python example2.py`
[code]

[2022-04-01 22:14] DanielNoord commented on #4455
Closing this in favour of #5392.

[2022-04-01 22:14] #4455 closed

[2022-04-01 22:22] kainjow commented on #6100
Thanks. So I realized that enum example doesn't yet match the code base because the issues come from code that uses a custom Enum (added pre-Python 3). So in those cases, the value is a string, not an enum value.

[2022-04-02 00:52] jacobtylerwalls commented on #4391
I think the output Daniel shows is correct -- line 8 overwrites "error" from line 5, so in line 9, the only "error" that exists is the one from line 8, and it's used in line 9. All done. "Error" was used. (We are warning about the redefined-outer-name going on, also.)

Without `from error`, then yes, we should warn that `error` is not used. But although it's a great test case to work on nested exc

[2022-04-02 01:13] jacobtylerwalls commented on #4391
Hold on!

#2223 only presents cases in a module scope. There you have to use `--allow-global-unused-variables=False`. It works; I'll close it.

Here, I think the nested example is fine, because we have `redefined-outer-name` to flag fishiness. The variables checker doesn't really have any sense of "you overwrote something and so some are used and some aren't".

For instance, you just get one messa

[2022-04-02 01:17] jacobtylerwalls commented on #2223
These examples were only presented at the module-level. These work with `--allow-global-unused-variables=False` in your config.
[code]
[code]

For function examples, see discussion at #4391 about whether we need more handling.

[2022-04-02 01:17] #2223 closed

[2022-04-02 01:23] jacobtylerwalls commented on #6077
Hi @ptagl, thanks for the writeup. The variables checker warns once per variable per scope. For fishy patterns in the same scope (redefining a variable inside an except handler or nested loop) we have `redefined-outer-name`, but still no further messages for `unused-variable`.

For instance, just one warning is emitted for:
[code]

If you have thoughts I'd be happy to continue discussing on #4391.

[2022-04-02 01:23] #6077 closed

[2022-04-02 05:55] #4391 closed

[2022-04-02 06:03] #5931 closed

[2022-04-02 06:05] #5880 closed

[2022-04-02 10:13] Pierre-Sassoulas commented on #1887
We're removing the man page generation as it's not used by debian packaging see https://github.com/PyCQA/pylint/issues/5283#issuecomment-964735075

[2022-04-02 10:35] #6100 closed

[2022-04-02 11:51] #6069 closed

[2022-04-02 12:01] #1887 closed

[2022-04-02 12:01] #5283 closed

[2022-04-02 13:09] jacobtylerwalls opened #6136 "False positive `unused-variable` for homonyms between comprehension variable and outer container"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No msg

### Pylint version

Regression in #6073. Found it by diffing primer package messages.

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-04-02 13:10] jacobtylerwalls commented on #6136
Not a regression if we fix it before 2.13.5.

[2022-04-02 13:53] cdce8p commented on #6074
Thanks @jpy-git! The last change (to exclude `super()` calls) did solve a lot of false-positives for me.

I'm just wondering if it would make sense to also exclude calls to names other than `super()`. Some examples from Home Assistant.
[code]

--
There is also the `__getattribute__` delegation inside `__getattr__`.
[code]

[2022-04-02 15:26] jpy-git commented on #6074
So the first example isn't a false positive (at least by the current definition). The `super()` case is different since you have to call the dunder methods on it, whereas for this you can just use normal operators/keywords.

[code]

Likewise in the second case this is fine:

[code]

[2022-04-02 15:40] jpy-git commented on #6074
Think there's a typo in that third case, you'll need a `self` in `OrderedDict.__setitem__(key, value)` otherwise you'll get a runtime error
[code]
It's slightly oddly written as given that class structure this should probably be written
[code]
This one does seem like a false positive so another exception would be calling the dunder method on an uninstantiated class and manually passing `self` in.

[2022-04-02 16:00] jpy-git commented on #6074
Yeah this one's tricky! When invoking `getattr()` or accessing an attribute directly it's quite context specific as to whether `__getattr__` of `__getattribute__` gets called ([link](https://softwareadept.xyz/2020/07/getattr-vs-__getattr__-vs-__getattribute__/)), and therefore it'll be tough for us to infer the reverse and figure out whether one of these dunder methods can be replaced with `getatt

[2022-04-02 23:00] cdce8p commented on #6074
Technically true, however the way I see it is that reasoning about a dunder method is much easier if the same method names are used in the body. You just don't have to think that much if inside a `__setattr__` method you have a call to `self.xxx.__setattr__(...)`. Additionally, in some cases using the operator doesn't work as well for mypy. For `self._state == other` mypy would raise a no-any-retu

[2022-04-02 23:16] jpy-git commented on #6074
Thanks for elaborating!

Yeah that seems a pretty sensible suggestion 😄
So basically dunder methods are allowed within a dunder method definition?
i.e.
[code]

Makes sense, I've fixed this case in #6142 ☝️

[2022-04-02 23:27] cdce8p commented on #6074
Exactly. At least that's what I was thinking of.

[2022-04-03 05:05] jacobtylerwalls commented on #6077
Oh, by the way, we also have #5838 open for warning about "dead stores" of reassigning "as e" and doing nothing with it. That's probably the better superseder.

[2022-04-03 07:15] gunungpw opened #6155 "`pylint` documentation doesn't have page listing all command line options"
### Question

Hello, I am searching command-line options and examples of how to use it for `pylint` in the documentation but it's very hard and not organized. I want to help document and reorganize commad-line options and maybe config file like `pyproject.toml` and `pylintrc` documentation also can get some love :)

### Documentation for future user

from my experience, `pip` docs have good comman

[2022-04-03 07:57] Pierre-Sassoulas commented on #6155
Thank you for opening this issue that would be awesome.

Concerning ``pyproject.toml`` and ``pylintrc`` there's this existing issue : #3181. But this part is under refactoring @DanielNoord  is removing the need to have top sections right now. Daniel will probably knows the best way to start documenting this as he's refactoring it currently 😄

For the command line options, there's ``--help`` and ``

[2022-04-03 08:35] Pierre-Sassoulas commented on #6006
As @cdce8p said, the solution is to disable. I think this is going to stay that way because I don't see how pylint can guess the intent of the implementer. We could make this check optional but I think if you're making library API using this  you're more able to disable the check than a beginner making a genuine mistake is to activate it. We're going to document this in the ``useless-import-alias`

[2022-04-03 08:42] Pierre-Sassoulas commented on #6074
Yeah the reason there was a ``__gt__`` in pylint instead of ``>`` in the ``BaseChecker.__gt__`` is because it's easier (and less error prone) to just call the dunder you're implementing again. I think it's sensible to authorize it in this context.

[2022-04-03 09:28] jpy-git commented on #6074
Will update #6142 to reflect this 👌

[2022-04-03 11:28] jab commented on #6006
Ok, thanks for that. As usage of mypy and mypy-style explicit re-imports continues to grow, it would be interesting to know how many pylint users end up having to disable `useless-import-alias`, and whether that amount ever crosses some threshold for being better as an opt-in rather than an opt-out. Not sure how much usage data you collect though for such decisions (e.g. by looking at usage from o

[2022-04-03 11:40] Pierre-Sassoulas commented on #6006
An alternative solution would be to not raise this message in ``__init__.py``.

TBF, it's mostly opened issues and the thumbsup / comments issues gather. I'm not looking specifically at open sources project for each messages it's really time consuming. A well researched comments on this issue with stats and sources, a proposition that is easily implementable with a better result than what we have

[2022-04-03 11:41] jab commented on #6006
Got it, good to know.

[2022-04-03 13:05] DudeNr33 opened #6163 "``bad-string-format-type``: only works on old-style string formatting and can't infer values"
### Bug description

Two issues with ``bad-string-format-type``:

1. Just like ``bad-format-character`` the ``bad-string-format-type`` message is currently only raised for old-style string formatting.
2. If only a single value needs to be formatted, the check does not work if the value to format is passed in as a variable. Using variables in tuples however is fine.

Given a file ``a.py``:

[code]

[2022-04-03 13:14] DudeNr33 commented on #6163
When this is resolved, the ``doc/data/messages/b/bad-string-format-type/details.rst`` must be updated.

Two hints so far:
* The message is not raised for new-style formatting and f-strings because the logic for the check is only contained in ``visit_binop`` of ``StringFormatChecker``
* When using a variable as format value (third example ``print("%d" % WORD)``, we end up in this ``else`` block: ht

[2022-04-03 13:18] #6136 closed

[2022-04-03 14:26] #6089 closed

[2022-04-03 15:50] DudeNr33 commented on #6060
Should we vote for the future of ``check_messages``?

- ❤️ leave it as is, just check and correct the usage of it across the codebase
- 🚀 rename it to ``only_required_for`` and check and correct usage of it
- 🎉 remove its usage entirely and issue ``DeprecationWarning`` if it is applied

Maybe also @cdce8p and @jacobtylerwalls want to cast their vote on this?
Personally I am torn between option 2 a

[2022-04-03 19:49] DanielNoord commented on #6060
Are we sure the renaming (and thus `DeprecationWarning` on the old name) are worth the hassle?

[2022-04-03 19:59] jacobtylerwalls commented on #6060
Oh, it's public? I didn't realize that. Is it documented anywhere? I didn't realize we were talking about deprecation warnings.

[2022-04-03 20:00] jacobtylerwalls commented on #6060
We need some sort of definition of the public API footprint. I wouldn't know where to get that info.

[2022-04-03 20:01] DanielNoord commented on #6060
At this point I don't know: but it is an non-underscored function in `utils`. I would consider it highly likely that some (old) plugin has imported it. Especially since most plugins will likely just copy a basic checker from `pylint` when they start working on their checkers. It's likely that they just copied this as well.

[2022-04-03 20:05] jacobtylerwalls commented on #6060
Yep: https://sourcegraph.com/github.com/chromium/chromium/-/blob/third_party/pylint/pylint/checkers/python3.py

Alright. I'm changing my vote to "let's document this in the development guide somewhere"

[2022-04-03 20:06] DanielNoord commented on #6060
I'm voting that as well. I do think the suggested name is much better, but I am not sure if the hassle of changing it is worth it.

[2022-04-03 20:26] Pierre-Sassoulas commented on #6060
The public API is/was undocumented so it's always a guess as to how much use there is in downstream libraries. For example confidences could be refactored to an ordered enum and save us a lot of trouble but I **suppose** it's used somewhere and we can't just do that. Creating such a document would be nice but we'll still need to guess what was public API because we could be wrong and pointing to t

[2022-04-03 20:32] jacobtylerwalls commented on #6060
Sorry for being so indecisive! A self-documenting name is probably less effort than writing a hard-to-understand paragraph people might not find. So let's do the rename/deprecation warnings 👍🏻

[2022-04-03 21:30] #6087 closed

[2022-04-03 22:54] #5895 closed

[2022-04-04 07:06] teake commented on #6089
Thanks guys!

[2022-04-04 08:19] #5501 closed

[2022-04-04 09:04] tushar-deepsource opened #6169 "Typo in W0402 message"
W0402 (`deprecated-module`) error message says "Uses of a deprecated module 'optparse'".

I think it should say "Use of a deprecated module 'optparse'" instead of "Uses". Either "Use", or "Usage". "Uses" seems grammatically incorrect to me. What do you think?

[2022-04-04 09:07] jpy-git opened #6170 "Move `test_messages_documentation.py` to tests folder"
### Current problem

Currently the `test_messages_documentation.py` file is in the `doc` folder.

I usually like to run the full test suite via `pytest tests -n 8` before submitting a PR (because it's faster than waiting for CI).
However, this doesn't include `test_messages_documentation.py` since it's in a diff folder. Could we move it over to the tests folder for convenience?

### Desired soluti

[2022-04-04 09:39] Pierre-Sassoulas commented on #6170
I think it make sense to have all tests in tests/

[2022-04-04 09:42] DanielNoord commented on #6170
My rational against this was that these "tests" are essentially testing the same thing as the other tests are doing as well. (Although the `check_messages` mess shows that this is not always the case).

I thought inflating local test time by running completely similar tests would be undesirable and considered this a pure CI test. Perhaps we could make an `addopt` like `--all-tests` or something to

[2022-04-04 10:17] DudeNr33 commented on #6170
I am +1 for moving it to the ``tests``  directory.
Another argument is that I cannot run the tests from the Test Explorer in VS code, which also means that I had to create a specific launch configuration for debugging ``test_messages_documentation``.

I also think that we should run them in CI as well. This way we can ensure that the examples are actually working as intended.

[2022-04-04 10:19] DanielNoord commented on #6170
This is done with the `Checks / Documentation` job.

[2022-04-04 10:31] Pierre-Sassoulas commented on #6170
Yeah, there's some additional work to consider when doing this issue, because having minimal check for documentation changes is really a game changer for documentation MR. Maybe a mark that we'd launch only inside the documentation CI job ?

[2022-04-04 10:44] DudeNr33 commented on #6170
Sorry, misread your previous comment.

[2022-04-04 11:00] omarandlorraine commented on #6169
I think the message you describe could also be phrased more tersely, or more uniformly.

`E0602` says "Undefined variable <variable-name>". In that vein, I suggest "Deprecated module <module-name>" for `W0402`.

While we're at it, the description for W0402 has some similar weirdness as well: "Used a module marked as deprecated is imported."

[2022-04-04 15:18] #5224 closed

[2022-04-04 15:33] wshanks opened #6179 "Should E4702 `modified-iterating-dict` be triggered for updating existing keys?"
### Question

With pylint 2.13, the following file:

[code]

results in:

[code]

The error can be avoided by changing `for key in my_dict` to `for key in iter(my_dict)` (or `for key in list(my_dict)`; maybe the `iter()` version should still be an error).

@orSolocate I am using the "support question" issue template because I am a bit conflicted about if this is handled right and thought it would

[2022-04-04 16:04] plcarman commented on #5225
Hitting this as well. The workaround I have for now is to set disable/enable blocks around the problematic code.

[code]

[2022-04-04 16:39] jacobtylerwalls commented on #4913
I have a draft patch for this, but it's not mergeable without revisiting PyCQA/astroid#853. (See below)
[code]

Result of linting `pylint` itself:
[code]

Which ultimately has to do with a pattern like this:
[code]
How will we know that `blah` is not actually under a constant false test? `astroid` only tells us that `x` can be False without PyCQA/astroid#853.

[2022-04-04 16:40] mdegat01 commented on #5670
What is the reason pylint requires explicitly providing a value for `maxsize` over just using the [default value of 128](https://github.com/python/cpython/blob/main/Lib/functools.py#L479)? It seems like this should only raise an issue if `maxsize=None` is added and not if `maxsize` is omitted. Unless 128 is not good for another reason?

[2022-04-04 16:55] jacobtylerwalls commented on #5670
Thanks for the report, that looks like an oversight. Since that's a false positive in a released version, that's eligible for a patch release. (As opposed to this ticket, which looks like it's still open as an enhancement tracker for `functools.cache`.) Could you open a new bug report? Thanks!

[2022-04-04 17:07] jacobtylerwalls commented on #5670
BTW, another reason to go to an issue first before a PR for that latter issue, is that I'm likely -1 on doing so. Unlike `lru_cache(maxSize=None)`, there's no other way to call it. So I'm essentially in agreement with:

[2022-04-04 17:10] mdegat01 opened #6180 "pylint reports false positive error for lru_cache with maxsize omitted"
### Bug description

Starting in `v2.13.0` pylint reports warning if you decorate a method with `lru_cache` but do not provide a value for `maxsize` (#5670) . It does this even if you omit a value for `maxsize` and just use `@lru_cache` or `@lru_cache()`.

This is incorrect, the `lru_cache` decorator [defaults maxsize to 128 if omitted](https://github.com/python/cpython/blob/main/Lib/functools.py#

[2022-04-04 18:07] DanielNoord commented on #5670
@jacobtylerwalls I have openend a PR implementing the issue. Should have done so earlier. Let me know if you still want me to create a new issue 👍

[2022-04-04 18:21] #5205 closed

[2022-04-04 18:32] skuukariel opened #6184 "What does the ``TypeVar`` pattern for ``invalid-name`` refer to?"
Can anyone please tell me what's this exactly expressing?

https://github.com/PyCQA/pylint/blob/ce42d69f623bfab62d15263bc1d95bd0725c4701/pylint/checkers/base/name_checker/checker.py#L30

[2022-04-04 18:34] DanielNoord commented on #6184
I think this comment has the best summary of what this pattern does and does not allow:
https://github.com/PyCQA/pylint/pull/5221#discussion_r776501605

[2022-04-04 19:49] adamcunnington-mlg commented on #5406
Hi there, please can you confirm what the usage will be following this issue - I've struggled to follow the conversation exactly.

How should we document *args & **kwargs following this release?

[2022-04-04 20:29] erensahin commented on #2648
I run into the same problem when I use namespace packages. My pylint version is 2.4.4, I tried with more recent versions but it does not solve at all. Any suggestions?

[2022-04-04 20:53] erensahin commented on #2648
Thanks! I uninstalled pylint and astroid, and re-installed pylint with its latest version (2.13.4).

I will try to explain the package structure. The problem is, namespace package name conflicts with another python library name (it is an internal one, so I will pick pandas as an example);

[code]

The content of namespace_pkg/pandas/__init__.py is as follows;

cat `namespace_pkg/pandas/__init__.py

[2022-04-04 20:56] erensahin commented on #2648
Plus, https://github.com/PyCQA/pylint/pull/5235 looks quite promising for my problem :)

[2022-04-04 21:34] Pierre-Sassoulas commented on #2648
Can you try installing pylint with : ``pip install -U git+https://github.com/hmc-cs-mdrissi/@add_option_disable_sys_path_patching`` and launch pylint with ``disable-path-patching=y`` in your pylintrc for the ``[master]`` section, to see if it fix the issue, please ?

[2022-04-04 21:50] erensahin commented on #2648
Yeah, it does fix it. Thanks :)

btw, the correct pip install command should be as;

`pip install -U git+https://github.com/hmc-cs-mdrissi/pylint/@md/add_option_disable_sys_path_patching`

[2022-04-05 06:27] DanielNoord commented on #2648
@Pierre-Sassoulas Can we use this example to create a folder structure to test on in the primer?

[2022-04-05 06:32] Pierre-Sassoulas commented on #2648
Yes, I was thinking we should use something else than pandas, like pathlib, so we don't have to add dependencies to pandas.

[2022-04-05 07:11] erensahin commented on #2648
@Pierre-Sassoulas do you have any planned timeline for the next release? when we can get the new feature implemented in https://github.com/PyCQA/pylint/pull/5235 :)

[2022-04-05 07:45] Pierre-Sassoulas commented on #2648
You can check https://github.com/PyCQA/pylint/milestone/61 to see the next patch release.

[2022-04-05 09:15] ptagl commented on #6077
@jacobtylerwalls thanks a lot for your answers, it's ok for me to close this issue: I'm not a Python expert, so I'm not sure what a linter should or should not report.

By the way, I just wanted to let you know that I've found that both `Flake8` and `Pyflakes` correctly detect the unused variable in my example, not sure if such information is useful or not.

[2022-04-05 09:23] cdce8p commented on #6184
Some examples for good and bad TypeVar names can also be found here: https://pylint.pycqa.org/en/latest/user_guide/options.html#predefined-naming-patterns

[2022-04-05 12:04] jacobtylerwalls commented on #6077
Interesting. I had a look and it turns out that `pyflakes` is actually unsatisfied with their handling of this, so although your example works, they are issuing false positives, see PyCQA/pyflakes#378.

[2022-04-05 16:58] jacobtylerwalls commented on #5394
On 2.13.x this emits `used-before-assignment` instead due to #5718

[2022-04-06 03:09] gunungpw commented on #5953
Hello, I have problems with `pre-commit` auto-fix formatting style example for `bad.py`. How to fix this problem? I have tried a few error messages that have similar problems with this also, especially for error messages about formatting style that auto fix by `black` or `pre-commit`

- C0301 (line-too-long)
- C0302 (too-many-lines)
- C0303 (trailing-whitespace)
- C0304 (missing-final-newline)
- C

[2022-04-06 06:27] DanielNoord commented on #5953
We probably need to turn of some formatters for these messages.

@Pierre-Sassoulas Do we want to disable all formatting on these files or make specific exclusion patterns?

[2022-04-06 06:58] Pierre-Sassoulas commented on #5953
I think we can start with specific exclusion and see of it's still reasonable if we document everything.

[2022-04-06 17:17] #5394 closed

[2022-04-06 20:20] tusharsadhwani commented on #6179
How about changing this report from an error to a warning?

[2022-04-06 22:53] vepain opened #6211 "False negative: missing numpy param doc when "default ..." in same line of "param : type""
### Bug description

False negative :
Warning "missing param doc" should'nt be raised when these type of docstring format:
[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No warning

### Pylint version

[code]

### OS / Environment

Ubuntu 20.04

### Additional dependencies

_No response_

[2022-04-07 05:30] jackdewinter commented on #6012
Seeing this also with jobs > 1 and seeing the same output.  Let me know if you want some help testing this.

[2022-04-07 06:57] kasium commented on #6087
@DanielNoord thanks for checking. Seems I was too slow 😄

[2022-04-07 07:05] DanielNoord commented on #6012
I think the best option is to politely ask the `colorama` team if they would consider doing a patch release. We're unable to remove our `dill` dependency as we have now built quite a bit of our configuration handling on top of it so it would be _almost_ impossible to revert it.

[2022-04-07 08:24] DanielNoord commented on #5406
I have just opened a PR with a fix for the issues discussed here.
After that has been merged and released in a patch release we now accept:
`\**kwargs`, `**kwargs` and `kwargs`.

[2022-04-07 08:43] #5406 closed

[2022-04-07 08:43] #5815 closed

[2022-04-07 13:36] edreamleo opened #6221 "'str' object has no attribute 'parent'"
### Bug description

**Note**: Crash appeared several times in different files.  Including all of pylint-crash-2022-04-07-07.txt made the body text of this issue too big.

pylint crashed with a ``AttributeError`` and with the following stacktrace:
[code]

**Note** Several more similar crashes appear in the crash report.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[2022-04-07 13:58] Pierre-Sassoulas commented on #6221
Possibly a windows only issue, the example does not crash for me. What is the commit used in your local pylint ?

[2022-04-07 14:03] edreamleo commented on #6221
@Pierre-Sassoulas

[code]

[2022-04-07 14:12] DanielNoord commented on #6221
@edreamleo Could I ask you to print out `attr_nodes` on L1055?

L1057 was changed in https://github.com/PyCQA/pylint/pull/5544. It might be possible that this caused a regression? But honestly I don't immediately see how `attr_nodes = owner.getattr(node.attrname)` can return a list of strings... Peculiar bug 😅

[2022-04-07 14:40] edreamleo commented on #6221
@DanielNoord What do you mean "on L1055"?

[2022-04-07 14:44] edreamleo commented on #6221
@DanielNoord Will do. Probably later today.

[2022-04-07 14:46] frot opened #6225 "Cannot create a consistent method resolution order for MROs"
### Bug description

Crash ``Cannot create a consistent method resolution order for MROs (type, object), (ABCMeta, type, object), (type, ABCMeta) of class <ClassDef.AbstractGuiStatusItem l.9 at 0x7fb1118c54e0>.``

[code]

Without the metaclass I get "TypeError: metaclass conflict" when running.
With the metaclass everything works fine and reports the following MRO:
`[<class '__main__.SocSupervisor

[2022-04-07 14:59] mcaryl-verimatrix opened #6226 "Adjust unnecessarily precise description of superfluous-parens message"
### Bug description

My initial code was:
[code]
Which trigger superfluous-parens. I think the parentheses are technically unnecessary but it doesn't seem match with the intended target of this warning:
[code]
I adjusted my code to:
[code]
Which does not trigger superfluous-parens.
This makes me think that the warning is reacting to the proximity of the `if` and the `(` not the context in which th

[2022-04-07 15:21] Pierre-Sassoulas commented on #6226
I think it's fixed in 2.13.5, could you confirm ?

[2022-04-07 15:36] mcaryl-verimatrix commented on #6226
I was using an old version... more testing...

It still seems to be a problem `C0325: Unnecessary parens after 'if' keyword (superfluous-parens)` with `pylint 2.13.5`.

[2022-04-07 16:46] edreamleo commented on #6221
@DanielNoord

At line 1057 I replaced the unguarded access to ` attr_parent = attr_node.parent` with:
[code]
The extra output was: `EKR self`.

BTW, for reasons that I do not understand, adding just the print statement (outside the try/except) hung pylint.

[2022-04-07 17:05] DanielNoord commented on #6221
I'm going to ping @jacobtylerwalls as this is probably related to his PR #5544.

@edreamleo Do you have a short code snippet that always trigger this crash?

[2022-04-07 17:06] edreamleo commented on #6221
@DanielNoord No, but I should be able to create one. One of the failing files is fairly short.

[2022-04-07 17:41] DanielNoord commented on #6221
Hmm, I can't get that to crash on `main` on Mac. One thing I notice is that those imports are not used in the code. Are they necessary for `pylint` to crash?

[2022-04-07 17:43] jacobtylerwalls commented on #6221
Might need to spin up a fresh venv with the packages from the report. That can affect inference.

[2022-04-07 17:43] edreamleo commented on #6221
@DanielNoord Yes, the imports appear necessary. I admit, this particular snippet is very strange.  If you like, I can try to find another snippet.

[2022-04-07 17:45] DanielNoord commented on #6221
I did a fresh venv with `pip install leo`, but I might obviously be missing an important package.

[2022-04-07 18:16] edreamleo commented on #6221
@DanielNoord I may be able to simplify the example...

[2022-04-07 18:29] edreamleo commented on #6221
@DanielNoord On my system all the imports succeed, so the example can just the following:
[code]
This still gives a fatal error, as expected.

**But**:we *should* be able to simplify the example further by using PyQt6 imports defined in leoQt.py (via leoQt6.py):
[code]
But now pylint doesn't crash, and instead complains:

c:\test\test_leoPrinting.py:34:14: E1102: self.document is not callable.

[2022-04-07 18:32] edreamleo commented on #6221
@DanielNoord Hmm. leoQt.py gets access to the symbols in leoQt6.py this way:

`from leo.core.leoQt6 import *`

So maybe this extra level of indirection is bothering pylint.

[2022-04-07 19:25] jacobtylerwalls commented on #6221
@edreamleo could you post the entire crash report? You can wrap it in a `<details>` tag so that it doesn't overwhelm the thread.

<details><i>like this</i></details>

[2022-04-07 19:34] Pierre-Sassoulas commented on #6226
Could you show the content of pylint-config.txt please ? I cannot reproduce.

[2022-04-07 20:02] jacobtylerwalls commented on #6226
I can reproduce it. But why is it a false positive?

[2022-04-07 20:38] edreamleo commented on #6221
@jacobtylerwalls Will do.

[2022-04-07 22:23] tmccall8829 opened #6231 "What is the rationale behind use-maxsplit-arg?"
### Question

I have a python script that includes the following line:
[code]

When I run my script through `pylint`, it hits me with a `use-maxsplit-arg` warning and suggests I do the following instead:
[code]

What I'm wondering is, **what is the rationale behind that rule?** It seems unnecessarily complex, and when I time things with `timeit` it looks like the recommended change actually takes

[2022-04-08 00:02] jacobtylerwalls commented on #6231
I wasn't involved in reviewing that checker, but it looks like speed was the reason. You can imagine this making a bigger difference with a larger string:

[code]

We're working on a documentation project to provide a page for each message. I could envision adding a sentence about this there, acknowledging that there is negligible or even worse performance impact with such small strings. I'll just

[2022-04-08 06:06] hterik opened #6234 "Warn usage of datetime.utcnow()"
### Current problem

The `datetime.utcnow()` returns timezone-naive datetimes, which is almost never what you want when working with utc timestamps.
The[ standard library documentation for the function](https://docs.python.org/3/library/datetime.html#datetime.datetime.utcnow) itself has a warning, recommending use of `datetime.now(timezone.utc)` instead.

Same would be applicable to `datetime.utcf

[2022-04-08 07:33] #6231 closed

[2022-04-08 07:44] mcaryl-verimatrix commented on #6226
I wasn't sure of the exact rules. My assumption was that if `if foo and (i - 0) in exclude` doesn't trigger a warning then `if (i - 0) in exclude` should also not trigger a warning.

[2022-04-08 08:12] mcaryl-verimatrix commented on #6226
From the pylint code `_check_keyword_parentheses` there is a comment:
[code]
This does not seem to match `if (i - 0) in exclude`.

Hmm. Looking further down `_check_keyword_parentheses` I can see a line starting `if tokens[i + 1].string in {":", ")", "]", "}", "in"}...`. The inclusion of `in` in this list is presumably why I'm seeing a warning for one line. And the variable `found_and_or` is presu

[2022-04-08 08:17] Pierre-Sassoulas commented on #6226
This repository is maintained by @vald-phoenix who is currently busy fighting in Ukraine. But we're integrating it in our own documentation with his permission currently, see #5953. If you want to provide an example for https://pylint.pycqa.org/en/latest/messages/convention/superfluous-parens.html it would be very much appreciated  :)

[2022-04-08 10:29] edreamleo commented on #6221
@jacobtylerwalls Here is the entire crash report, from pylint-crash-2022-04-08-05.txt:

<details>
First, please verify that the bug is not already filled:
https://github.com/PyCQA/pylint/issues/

Then create a new crash issue:
https://github.com/PyCQA/pylint/issues/new?assignees=&labels=crash%2Cneeds+triage&template=BUG-REPORT.yml

Issue title:
Crash ``'str' object has no attribute 'parent'`` (if

[2022-04-08 10:31] edreamleo commented on #6221
And here is the console output, with an extra trace inserted in typecheck.py:
[code]

[2022-04-08 11:34] orSolocate commented on #6179
@wshanks  Thanks for reporting the issue.
Your case is indeed a specific case where **only** the iterating keys are modified.

I think it would be nice to update my checker with:
1. include the error message with `dict.pop` method.
2. don't add message when only existing keys are being modified.

Regarding the message content suggestions:
When you iterate through a dictionary and assign an un-iter

[2022-04-08 11:36] orSolocate commented on #6179
@DanielNoord  - let me know what you think about all this. If you think a change is needed you can assign me to this task

[2022-04-08 12:56] jacobtylerwalls commented on #6221
Thanks, I can reproduce it now. I needed to:

 -  install `PyQt6` into a venv as well
 -  clone `leo-editor` so that I had the local project file `leo.core.leoQt`
 -  invoke pylint with `python3.8 -m pylint <crasher-path> --ignore-on-opaque-inference=no --extension-pkg-allow-list=PyQt6.QtPrintSupport`

Assigning myself with the intent of having a look soon at the root cause, but any help is welcom

[2022-04-08 13:12] jacobtylerwalls commented on #6221
Bisected it to #5544 in 2.14 (glad we didn't rush it into 2.13!) I just need to restore an `except` for ast's built from living objects. Thanks for testing on `main`!

[2022-04-08 15:16] sylvain-ri opened #6236 "Spellchecking Proper nouns in docstrings / comments"
### Current problem

I would to use spellchecking (with pyenchant), but there are too many false positives with Proper nouns like John Alex etc.

### Desired solution

A flag to disable spellchecking of words in docstrings or comment that starts with a capital letter ?

### Additional context

Somehow related to #945.

[2022-04-08 15:34] Pierre-Sassoulas commented on #6179
I like this 👍

[2022-04-08 15:40] Pierre-Sassoulas commented on #6236
I thinks it's an issue related with pyenchant configuration and not with pylint's. The solution could be to create [a custom dictionary](https://stackoverflow.com/questions/22898355/pyenchant-spellchecking-block-of-text-with-a-personal-word-list).

If we start adding an overlay on top of enchant for thing that are not maintained in enchant itself the maintenance burden would become unreasonable re

[2022-04-08 15:56] wshanks commented on #6179
Regarding warning vs error (which was not my suggestion), I agree that error makes the most sense as long as the instances of false positives are rare. I don't know the internals of pylint well enough to judge that. At least the simple case that I gave could be exempted. There could be more complicated juggling and reassigning of existing keys that it is hard for pylint to follow, but maybe that i

[2022-04-08 19:34] edreamleo commented on #6221
@jacobtylerwalls The code in ee94d81 works for me. Many thanks for the quick fix.

[2022-04-09 00:11] jacobtylerwalls commented on #6221
@edreamleo actually, may I ask you to test an alternative solution? This is the root cause and actually _testable_ in a real way! https://github.com/PyCQA/astroid/pull/1505

[2022-04-09 01:02] edreamleo commented on #6221
@jacobtylerwalls Will do. Probably tomorrow.

[2022-04-09 02:50] jacobtylerwalls commented on #6226
I think you have a good point that the message description is too specific about what it is looking for. The `followed by a colon` should be struck.

[2022-04-09 07:16] edreamleo commented on #6221
Tests still fail for me, but I suspect that I have not installed the PR properly.  Here is what I did:

- Reverted my by-hand patch to typecheck.py using `git checkout .`
- git clone https://github.com/jacobtylerwalls/astroid.git ekr-pylint-6221
- cd ekr-pylint-6221
- pip install .

Now `python -m pylint-leo -v` reports:
[code]
What should I do now?  Thanks.

[2022-04-09 07:19] edreamleo commented on #6221
Hmm. I suppose I should do `gh pr checkout 1505`, but I'm not sure what that means.

[2022-04-09 07:25] edreamleo commented on #6221
Ok, from https://github.com/cli/cli I did:
git clone https://github.com/cli/cli

I'll get the gh command working and see if that helps :-)

[2022-04-09 07:29] Pierre-Sassoulas commented on #6221
I think you need to switch the branch to the ``qt-brain`` one from @jacobtylerwalls as the default one is main, so between
- cd ekr-pylint-6221
and
- pip install .
Do ``git switch qt-brain``

[2022-04-09 07:32] edreamleo commented on #6221
@Pierre-Sassoulas Thanks.  I'll try that.

Also, I see that there is an msi installer for gh cli on Windows, which I've just installed. Now 'gh' works.

[2022-04-09 07:44] edreamleo commented on #6221
@Pierre-Sassoulas `git switch qt-brain` appears to have worked.

I'm still running tests (they take over 1000 sec), but there are no crashes in the files that crashed before, only new pylint warnings :-)

`pip install .` issued the warnings, but apparently I can ignore them. Here is the full log:

<details>
c:\leo.repo\ekr-pylint-6221>python -m pip install .

c:\leo.repo\ekr-pylint-6221>echo off
P

[2022-04-09 07:55] edreamleo commented on #6221
@Pierre-Sassoulas All tests just completed: `282 files, time: 1198.07 sec.`

So I have done all the testing that I can.  Thanks again for the quick fix.

[2022-04-09 15:52] jackdewinter opened #6242 "`Too-many-branches` scanning returns different values if directories to scan are explicitly specified."
### Bug description

In scanning my [PyMarkdown](https://github.com/jackdewinter/pymarkdown) project, a switch to pylint==2.13.5 caused some errors to show up with pylint.  Specifically, when `pipenv run pylint --rcfile=setup.cfg pymarkdown pymarkdown/plugins` was executed, this was the response:

[code]

However, upon using either `pipenv run pylint --rcfile=setup.cfg --recursive=y pymarkdown` or

[2022-04-09 17:12] #6101 closed

[2022-04-09 17:27] #3979 closed

[2022-04-09 17:28] pauljansen42 commented on #5875
Hi @jacobtylerwalls, thanks for your answer. I am actually using pylint 1.9.5. I can't upgrade to a newer pylint version because my company is still using Python 2. With your example I get the confusion violation message:

  W0221:  5,4: B.z: Parameters differ from overridden 'z' method

So probably this is because I am using an old pylint version. If you can confirm this, then you can close this

[2022-04-09 17:32] jacobtylerwalls commented on #5875
Yes, I was testing on the main branch for Python 3.6.2+. Thanks for following up.

[2022-04-09 17:32] #5875 closed

[2022-04-09 18:07] jacobtylerwalls commented on #5413
Hi @crimson-gao, we will need just a little bit more information to work on this. A generic dict with strings as keys and values works fine, so something is up with `conv_variables(dashboard["templating"]["list"])`. That's probably the root of the problem; `pylance` (in your screenshot) can tell that it's `dict[str, str]`, but `pylint`/`astroid` can't.

Can you provide an example that we can repro

[2022-04-10 13:26] jacobtylerwalls commented on #1118
Can't reproduce on 2.14 dev:
[code]

[2022-04-10 13:26] #1118 closed

[2022-04-10 15:53] jacobtylerwalls commented on #3751
I almost had a patch finished for this and then looked at #2684 where there was a PR merged to do the opposite (i.e. create the current behavior). I think we should close to avoid churn.

[2022-04-11 08:50] DanielNoord commented on #6179
Completely agree with these points! I'll assign you @orSolocate

[2022-04-11 08:56] DanielNoord commented on #3751
Let's close then!

[2022-04-11 08:56] #3751 closed

[2022-04-11 10:38] omarandlorraine opened #6252 "Some TypeErrors are not caught"
### Current problem

It turns out that the built-in `tuple` takes exactly one argument. That is, to instantiate a tuple, it's `tuple([a, b])`, not `tuple(a, b)`. And maybe better still would be `(a, b)`. This is for Python 2 and 3.

But pylint does not warn me of my mistake, which was `tuple(a, b)`. This statement throws a TypeError in both 2.7 and 3.9.

### Desired solution

It would be great if

[2022-04-11 10:52] Pierre-Sassoulas commented on #6252
Thank you for opening the issue, I think this is the kind of thing pylint should warn about in error only mode.

[2022-04-11 13:22] #4310 closed

[2022-04-11 13:59] DanielNoord commented on #4683
@cdce8p Is your typing upgrade tool ready to use for `pylint`? Or will its default value of `3.8` be problematic for us (making it easier to do everything by hand)?

[2022-04-11 20:27] timmartin commented on #5151
I think if you create an file called `redis.py` in the current directory, with the content:

    import redis

and that file is not part of a package then that file _is_ importing itself, because the directory of the currently-executing script will always be first on `sys.path`, and so the import will find the local file `redis.py` before it searches libraries.

Where there might be an issue is wi

[2022-04-12 05:40] bdbernstein opened #6275 "Incorrect unexpected-keyword-arg in dataclasses with inheritance"
### Bug description

Looks like the generated init function that pylint creates doesn't work correctly (i.e., unexpected-keyword-arg) when there is a non-dataclass class it inherits from.
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No unexpected-keyword-arg

### Pylint version

[code]

### OS / Environment

Ubuntu 20.04.1 LT

[2022-04-12 06:11] omarandlorraine commented on #6252
Great. Time permitting I might get started on it today. Is there already a natural checker for this kind of thing for me to modify or shall I make a new one?

[2022-04-12 06:24] DanielNoord commented on #6252
Perhaps `basic_error_checker`? Under `checkers/base`.

[2022-04-12 09:15] omarandlorraine commented on #6252
Oops, I closed it by mistake.

[2022-04-12 09:39] omarandlorraine commented on #6252
I ran `python3 ./setup.py build` and then `sudo python3 ./setup.py install` This seems to install a binary at /usr/local/bin, which shows an updated mtime. Then I explicitly specify the path when I run the program, so as to make sure that I'm not invoking the one installed by pip or apt.

I tried the pip way as well, no luck. Are you seeing the same issue?

[2022-04-12 09:46] DanielNoord commented on #6252
Then I think the issue is the `isinstance` call. You could add a `print()` or `breakpoint()` to see if you reach that `if` statement.

I'm on mobile atm so I can't test it, sorry!