[2022-08-22 20:34] gcbirzan-plutoflume commented on #7339
Okay, thinking more about the #6538 fix test (test added in #6553), I'm not entirely sure what the behaviour there should be.

Technically, the code is not importable with the current `sys.path`. Yes, if you _run_ it, it will run, but that's because `sys.path` in that case gets set to the path of script. This seems like an edgecase that is debeatable (at least in my opinion) and that can be fixed

[2022-08-22 21:53] DanielNoord commented on #7308
This is not about the existence of lambda's but rather about calling a lambda immediately after defining it.
For example, one of our test cases is:

`y = (lambda x: x**2 + 2*x + 1)(a)` which should just be `y = a**2 + 2*a + 1`. There is no need to define a lambda if you're just going to call it immediately. If anything it will be less performant code.

Honestly this is debatable. For very complex

[2022-08-22 22:25] DanielNoord commented on #7339
Thanks for the detailed analysis @gcbirzan-plutoflume. Much appreciated!

This triggered me to do some further exploring. Because although you can run `python ns1/m1.py ns2/ns1/__init__.py` only `ns1/m1.py` will be executed. So as far as I can see this is not a situation with which Python normally has to deal with. That also brings me to the solution I have been exploring: patching `sys.path` on a

[2022-08-22 22:42] gcbirzan-plutoflume commented on #7339
The phrasing was bad, and I was secretly hoping nobody would notice (especially after I failed at markdown several times). But, what I meant to say is that all of these files can be imported and they would work just fine.

I guess it depends on what you expect pylint to do: pretend that you're executing each file separately or you're running it on some files that should work together.

While I am

[2022-08-22 22:50] DanielNoord commented on #7339
I think if the files are passed as arguments separately I think it makes most sense to lint them "separately".

Normally I think people just lint the directory/directories that include the files.

Locally I got this to lint without the errors.

I forgot I had https://github.com/PyCQA/astroid/pull/1747 checked out as my `astroid` branch. That might actually be required for this to fully work, but I

[2022-08-23 00:15] jacobtylerwalls commented on #6632
Ring ring! What do you say, is it release time? :bell:

I think we should bump everything (and I mean everything) that's not already got an approving review to the next minor version, and then release this week.

- [ ] astroid 2.12.3 with https://github.com/PyCQA/astroid/pull/1742
- [ ] bump astroid to 2.12.3 in pylint
- [ ] merge any test PRs depending on 2.12.3
- [ ] that's it, release 2.15 (opt

[2022-08-23 02:58] mdeweerd commented on #7308
Sure we agree on that, possibly not entirely for the same reasons - in my case it's just because `a` is "simple".

# "complexity".

Complexity is not measured in terms of a number of characters.

In this context, anything else than a variable, a constant of a numerical value or a numeric value not in an expression such as multiplication, division, list, array indexing, function call.

# Performanc

[2022-08-23 02:58] #7308 closed

[2022-08-23 06:05] DanielNoord commented on #7308
Thanks you for participating in the discussion and not just getting mad. We have seen many examples of other behaviour sadly 😅

[2022-08-23 07:47] DanielNoord commented on #7338
@dsilakov I must say I'm no expert in containers and CPU's so I'll likely need some help fixing this.

Based on discussion in https://bugs.python.org/issue36054 and the implementation of CPU counting in `JVM` in https://github.com/openjdk/jdk/blob/d5686b87f31d6c57ec6b3e5e9c85a04209dbac7a/src/hotspot/os/linux/os_linux.cpp#L5304-L5336
https://github.com/openjdk/jdk/blob/2d5137e403e16b694800b2ffe18c3

[2022-08-23 08:09] DanielNoord commented on #7306
@jooola Can you confirm that for the reproducing repository doing `pip install setuptools==63` and then reinstalling the editable packages fixes the issue? I'm having trouble reproducing the successful behaviour on lower setuptools versions locally.

[2022-08-23 08:26] jooola commented on #7306
@DanielNoord I was was able to fix my issue buy applying the patch I just pushed. Which pin the setuptools version below 64.0.0

https://github.com/jooola/pylint-import-error-bug/blob/main/before_setuptools_v64.0.0.patch

[2022-08-23 08:41] jooola commented on #7306
Ok, I can confirm this again, setuptools<63 fixes the bug.

[2022-08-23 08:50] DanielNoord commented on #7306
The issue is in the following piece of code:
https://github.com/PyCQA/astroid/blob/d033fe2f4c575d45a1706c52988dbcdf50645c5c/astroid/interpreter/_import/spec.py#L135-L145

On `setuptools<64` we successfully find the `shared_lib` package via `sys.path` and looking for its `__init__.py` file.
On `setuptools>65` this no longer works. I think this is because editable installs are no longer put on `sys.

[2022-08-23 09:12] #7307 closed

[2022-08-23 09:26] DanielNoord commented on #7233
Superseded by https://github.com/PyCQA/astroid/pull/1749.

[2022-08-23 09:38] DanielNoord commented on #7011
@jacobtylerwalls We fixed this issue didn't we?

[2022-08-23 09:47] DanielNoord commented on #3984
@jacobtylerwalls Is this still the case? 🚀

[2022-08-23 09:49] DanielNoord commented on #5226
@jacobtylerwalls I have lost track of this issue. Should we consider this fixed? Or do we still need to allow disabling `sys.path` patching?

[2022-08-23 09:50] DanielNoord commented on #5364
I'm considering this closed. We have the primer comment and some detection.

Any remaining issues can be tracked in https://github.com/PyCQA/pylint/issues/5359.

[2022-08-23 09:50] #5364 closed

[2022-08-23 09:52] DanielNoord commented on #5359
Let's close this at some point.

**FINAL TODO FOR THIS ISSUE**:
- [ ] Update documentation about primer. What is it? Which projects are primed?
- [ ] Do one final check for potential speed ups
- [ ] Move last remaining projects to the new primer as well as `home-assistant`

[2022-08-23 09:54] DanielNoord commented on #5644
I'm not really a big fan of moving everything around as it will screw up `git blame`. As far as I know we haven't been having any issues with our project structure recently so without any immediate benefit I only see potential downsides here.

-0.5 for me.

[2022-08-23 09:54] DanielNoord commented on #5821
This has been fixed some time ago in `astroid`. I'm closing 😄

[2022-08-23 09:54] #5821 closed

[2022-08-23 09:56] DanielNoord commented on #6473
@jacobtylerwalls  @Pierre-Sassoulas Any opinion about this?

[2022-08-23 10:01] DanielNoord commented on #6632
I have done some project maintenance on the milestone.
@Pierre-Sassoulas There are a number of issues where you added the `2.15` milestone. For some I could determine why but there are still some where I don't understand why they are in the milestone. Could you have a look?

@jacobtylerwalls Would you mind putting https://github.com/PyCQA/astroid/pull/1749 in as well? The code was already approved

[2022-08-23 10:30] Pierre-Sassoulas commented on #6632
Sure, I'll have a look. Some issue I labelled 2.15 so we take a decision but it can be delayed to later (we just need to take a decision at some point and not let the issue rot).

[2022-08-23 10:36] Pierre-Sassoulas commented on #6473
I say let's put this in default value, one user want it and took the time to ask for it. Also the documentation clearly explain the context in which you need to call it, I don't think there's an alternative for "impossible to catch sys exit" : https://docs.python.org/3/library/os.html#os._exit

[2022-08-23 10:46] DanielNoord commented on #6473
@Pierre-Sassoulas I just saw that `exclude-protected` only stores attribute names. So if we add `_exit` any `MyClass()._exit` also won't flag anymore. Is that something we want to do?

[2022-08-23 10:58] Pierre-Sassoulas commented on #6473
Right, no. If we need to change the way exclude protected work it can probably wait.

[2022-08-23 11:00] DanielNoord commented on #6473
I mean users can add `_exit` themselves, but I'm not sure we should add it to the default values as that would make us ignore all `_exit` implementations. `exit` seems like an often used word.

Perhaps close as won't fix then?

[2022-08-23 11:05] Pierre-Sassoulas commented on #6473
I agree we should add ``os._exit`` in the default value but not ``_exit``. It means changing the way the check work (and also affect performance by using the qname and inference instead of simply the attribute name ?). So it's a lot of work. Should we create an issue for that and revisit later when this is easier to do ?

[2022-08-23 11:08] DanielNoord commented on #6473
Are we sure we want to go through the effort of creating a new option? Maintaining `exclude-protected` and `exclude-protected-qname` (temporary name obviously) seems like quite a bit of effort for one single edge case.

[2022-08-23 11:13] Pierre-Sassoulas commented on #6473
I think the use case for exclude protected will always be "this class an attribute combination is permitted", so we could probably replace the current ``exclude-protected`` by ``exclude-protected-qname`` entirely and call that an enhancement. It's not worth it right now but tracking the issue might be ?

[2022-08-23 11:36] jacobtylerwalls commented on #6473
That would be a valuable enhancement and allow us to provide these one-off defaults.

[2022-08-23 11:41] Pierre-Sassoulas opened #7343 "``exclude-protected`` using the class name and attribute name (astroid's ``qname``) instead of only the attribute name"
### Current problem

Right now only the name is taken into account. For example if we want to make ``os._exit`` permissible we'd make all ``x._exit`` permissible.

### Desired solution

We use the qname instead so we can allow one off class/attr combination.

### Additional context

See https://github.com/PyCQA/pylint/issues/6473

[2022-08-23 11:42] Pierre-Sassoulas commented on #6473
Blocked by https://github.com/PyCQA/pylint/issues/7343

[2022-08-23 11:45] jacobtylerwalls commented on #7011
Not to my knowledge, although we did fix https://github.com/PyCQA/astroid/issues/1646 (different cause)

[2022-08-23 11:46] jacobtylerwalls commented on #7011
Ah, looking at the solution in #1705, it was general enough to fix this, yes.

[2022-08-23 11:46] #7011 closed

[2022-08-23 11:53] Pierre-Sassoulas commented on #6632
I released and I'm trying to upgrade astroid in pylint in https://github.com/PyCQA/pylint/pull/7333

[2022-08-23 12:00] Pierre-Sassoulas commented on #7338
Related to #6098 and https://github.com/PyCQA/pylint/pull/6903

[2022-08-23 12:00] dsilakov commented on #7338
To be more precise - in JVM, the magic you are referencing to happens inside the OSContainer class and JVM seems to have some trickier logic when detecting if it is running "containerized" (under cgroup control) or not.

Having /sys/fs/cgroup/cpu/cpu.shares and other cpu.shares for particular processes on the host system is completely legit - for example, systemd uses them to limit CPU resources.

[2022-08-23 12:05] dsilakov commented on #7338
Heh, after a closer look, JVM also contains a set of hack for treating cpu.shares equal to 1024:

https://github.com/openjdk/jdk/blob/master/src/hotspot/os/linux/cgroupV1Subsystem_linux.cpp#L278

https://github.com/openjdk/jdk/blob/master/src/java.base/linux/classes/jdk/internal/platform/cgroupv1/CgroupV1Subsystem.java#L247

Honestly I don't know what should be a proper fix for pylint here. For ou

[2022-08-23 12:06] jacobtylerwalls commented on #3984
No, I was probably testing in a directory on sys.path, and we now know that's been polluting our test results.

Failing test for `unittest_lint.py`:
[code]

[2022-08-23 12:41] soullivaneuh commented on #2279
@matusvalo @Pierre-Sassoulas the `--ignore-paths` option does not have the same behavior.

What about the `.gitignore` style solution?

[2022-08-23 19:52] Pierre-Sassoulas commented on #6632
Opened https://github.com/PyCQA/pylint/pull/7345

[2022-08-23 20:18] Pierre-Sassoulas commented on #2279
@soullivaneuh could you open a new enhancement issue for taking the ``.gitignore`` into account ?

[2022-08-23 20:29] Pierre-Sassoulas commented on #6632
Seems like the only MR that needed an astroid update in 2.15.0 is https://github.com/PyCQA/pylint/pull/7333

[2022-08-23 20:35] gcbirzan-plutoflume commented on #7339
Sorry for the delay, I spent an enormous amount of time trying to figure out a good solution for this (trying to reason about the many places and ways in which the path can be modified is not fun), but I cannot really see a way this would work. I haven't tried your branch of `astroid`, will do it tomorrow, but with the current one, I added two tests that still fail (check latest code from the PR).

[2022-08-23 20:42] Pierre-Sassoulas commented on #7339
If think this last part is https://github.com/PyCQA/pylint/issues/5226. If you read the issue you'll see that we think that fixing the sys path patching would be better. But fixing the sys path patching is hard and noone worked on it long enough to understand it well and make it make sense, so we might have to re-consider this.

[2022-08-23 21:31] dgutson opened #7346 "Let pyreverse show abstract methods differently"
### Current problem

Currently, there's no way to distinguish abstract methods.

### Desired solution

Abstract methods are shown in italic in UML diagrams.
I propose to get that idea and shows `@abstractmethod` also in italic.
CC @qequ

### Additional context

_No response_

[2022-08-23 22:32] adam-grant-hendry commented on #2178
Things may have changed since you originally posted, but this is now in the standard checkers here:

https://pylint.pycqa.org/en/latest/user_guide/configuration/all-options.html?highlight=--ignore-long-lines#ignore-long-lines

[2022-08-24 02:09] Ultimanecat opened #7347 "[astroid-error] error when checking type comment like 'type: # comment'"
### Bug description

Checking the following code would lead to an astroid-error:
[code]

This is probably due to a bug in astroid.
In astroid.rebuilder: check_type_comment, when the type comment is parsed as an ast, comment results in a 0-sized body, which leads to an IndexError.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no crash

[2022-08-24 07:59] gblazq opened #7348 "False positives for E1120 and E1123 when instance method is overwritten"
### Bug description

Pylint seems to think a method overwrite in a class instance affects all other instances. The following code

[code]
triggers an E1120 error.

It also happens if `bar` is an instance of a `Foo` subclass:
[code]
now triggering an E1123 error too.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No E1120 error, as the

[2022-08-24 10:06] mbyrnepr2 commented on #7347
Thanks @Ultimanecat.

Also reproducible on:
[code]

[2022-08-24 11:40] jacobtylerwalls commented on #6632
That makes sense, since we're just going from patch to patch.

[2022-08-24 15:01] AndersMunch opened #7350 "E0601 false positive when exception is reraised after assignment"
### Bug description

This produces a _using 'x' before assignment_ error:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Expected no error, x is assigned in all branches.

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-08-24 15:23] #5767 closed

[2022-08-24 20:26] adam-grant-hendry commented on #6211
I am seeing this as well with

[code]

using

```pylint.extensions.docparams```

@DanielNoord Has this not been fixed yet?

[2022-08-24 20:38] DanielNoord commented on #6211
No, I don't think so. The linked PR fixed something different.

[2022-08-24 21:06] jamesbraza opened #7351 "False positive C2801 (unnecessary-dunder-call) with unittest.mock.call"
### Bug description

Here is a minimal repro:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I expect pylint to now throw an `unnecessary-dunder-call` here.

### Pylint version

[code]

### OS / Environment

macOS Big Sur v11.5.1

### Additional dependencies

_No response_

[2022-08-24 21:22] adam-grant-hendry commented on #6211
@DanielNoord Can you point me to the section of code to review? I can submit a PR if you like.

[2022-08-24 21:28] adam-grant-hendry commented on #6211
Actually, I'm assuming this is [pylint/extensions/docparams.py](https://github.com/PyCQA/pylint/blob/main/pylint/extensions/docparams.py). I'll submit a PR.

[2022-08-25 00:52] ramarivera opened #7352 "variable-naming-style toml configuration: only a single style is allowed?"
### Question

When running pylint from VS code, with the following config:

[code]

only the following error is reported

[code]

[2022-08-25 01:30] jacobtylerwalls commented on #5644
Same. Major projects like `django` do not use a `src` folder. Thanks for the suggestion, it was worth having a look 👍🏻

[2022-08-25 08:45] DanielNoord commented on #7265
This is extensively tested in `astroid` and we're nearing a release. I'm going to close this issue as I don't think we'll ever regress on this by changes in `pylint` itself as this is a pure inference issue.

[2022-08-25 08:45] #7265 closed

[2022-08-25 08:45] DanielNoord commented on #7233
Fixed in https://github.com/PyCQA/astroid/pull/1749 which also includes the necessary regressions tests. We're nearing a new `pylint` release so this should be available relatively soon! 😄

[2022-08-25 08:45] #7233 closed

[2022-08-25 08:47] DanielNoord commented on #5151
This was fixed in https://github.com/PyCQA/astroid/pull/1747. We don't need regression tests in `pylint` but this should be closed with the bump to astroid `2.13` in `pylint` at some point.

[2022-08-25 08:48] DanielNoord commented on #7289
This issue has been slightly rescoped, see https://github.com/PyCQA/pylint/issues/5151#issuecomment-1222410308.

The issue about importing the correct module has been fixed and we should now follow this up in `pylint` by no longer doing the string comparison, but looking at the actual module. I'll add this to the `2.16` milestone so we don't forget to look at this when we bump `astroid` to `2.13`.

[2022-08-25 08:58] Pierre-Sassoulas commented on #7093
You can follow the release at https://github.com/PyCQA/pylint/milestone/56. I'm going to remove this from the 2.15.0 milestone as we want to release soon and as if seems like a real release would be convenient be helpful for testing on your side :)

[2022-08-25 09:00] DanielNoord commented on #7347
Fixed with https://github.com/PyCQA/astroid/pull/1753.

@Pierre-Sassoulas Since this is a crash should we consider releasing another quick patch version of `astroid` to include this fix in the new `pylint` version?

[2022-08-25 09:00] Pierre-Sassoulas commented on #6632
I've done some cleanup if the milestone there's 1 issue left now. Should we wait or investigate on https://github.com/PyCQA/pylint/issues/6986 or remove it from the milestone too ?

[2022-08-25 09:02] DanielNoord commented on #6632
@Pierre-Sassoulas I have some time right now. I'll do a quick investigation and come back in an hour if I can't fix it easily.

[2022-08-25 09:08] DanielNoord commented on #6986
I'm going to close this issue as `won't fix`. I'm not sure if the change is with us or if the file you're linting changed and this caused the condition to never be met. Either way, the fix for this is relatively simple and we can't do much on our end: we can't guarantee that every `Keyword` node will have an `arg` attributes that matches `model_name` which would be the only way to avoid this crash

[2022-08-25 09:08] #6986 closed

[2022-08-25 09:27] DanielNoord commented on #7351
So basically, we shouldn't emit this warning if the call is within `unittest.MagicMock.assert_has_calls`?

[2022-08-25 09:29] #7347 closed

[2022-08-25 10:19] sinisarudan commented on #5967
confirming this too.
It prevents us from deploying the regularly working 3.10 code with match - case :(

[2022-08-25 10:33] sinisarudan commented on #5967
is there a workaround to disable this false syntax-error?

[2022-08-25 10:52] Pierre-Sassoulas commented on #5967
You can use message control (`` # pylint disable=message-name``) see https://pylint.pycqa.org/en/latest/user_guide/messages/message_control.html

[2022-08-25 11:04] Pierre-Sassoulas commented on #7347
Astroid 2.12.4 was released with the fix 🎉

[2022-08-25 12:06] Pierre-Sassoulas commented on #6211
That's right @adam-grant-hendry, most tests for this checker are in https://github.com/PyCQA/pylint/tree/main/tests/functional/ext/docparams

[2022-08-25 12:34] Pierre-Sassoulas commented on #6632
Remaining to review/approve before release:
- [ ] #7354 for #5237
- [ ] #7356 (This one's primer can't work, we need to merge as is)
- [ ] #7355

[2022-08-25 12:40] Pierre-Sassoulas commented on #7352
Thank you for opening the issue. I'm wondering if it's better to add the feature or document the lack of the feature. Let's wait for other opinions on this. There's also a rework in #7305 to take into account.

[2022-08-25 13:26] DanielNoord commented on #7347
Thanks for releasing @Pierre-Sassoulas 😄

[2022-08-25 14:29] DanielNoord commented on #5226
@hmc-cs-mdrissi While working on #7339 I completely forgot to check what the original issue was here. Turns out it is actually a duplicate of the original issue 😅

While we want to keep this issue around to keep discussing whether we should support this option, if you want you could test out https://github.com/PyCQA/pylint/pull/7357 which should fix the issue you describe in the first paragraph 😄

[2022-08-25 21:29] jamesbraza commented on #7351
Yeah that is a good question, and I was sort of hoping you all'd know how to better generalize this 😅

The `call.HasDunder.__setitem__` that's causing the pylint error is set up to match the string passed in the `all_mocks.attach_mock(mock__setitem__, "HasDunder.__setitem__")`.

This:

[code]

Can be re-written as:

[code]

And it would move the error message to be on the first `call_` line.  Two

[2022-08-26 08:37] #6632 closed

[2022-08-26 09:06] fievelk opened #7361 "Pyreverse not showing sub-classes with -c flag"
### Bug description

Directory tree:
[code]

Contents of `normal_inheritance.py`:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

The docs state:

                        create a class diagram with all classes related to \<class\>; this uses by default the options -ASmy (default: [])

So I would expect the output to show both c

[2022-08-26 11:05] Pierre-Sassoulas opened #7362 "Better release notes generation and automated release process"
### Current problem

- contributor-txt pollutes the contributor file with a header because it does not detect the existing header
- The release notes are generated as rst but github want markdown
- Only the first link is generated when there is two or more issues referenced in a fragment

### Desired solution

Markdown creation so it can be used in both context, other issue automatically fixed

##

[2022-08-26 11:38] mbyrnepr2 commented on #3976
It looks like this one has been fixed somewhere along the way.
I can reproduce on 2.6.0 but not on the latest Pylint version (2.15.0).

Happy to re-open if any issues.

[2022-08-26 11:38] #3976 closed

[2022-08-26 11:58] DudeNr33 commented on #7362
Markdown is not really directly supported by `towncrier`.
But people have found [hacks](https://github.com/twisted/towncrier/issues/128) for a workaround.
Alternatively, we could use `pandoc` or a similar tool to convert it.

For the link generation: This will also require some scripting. Currently we use the `issue_format` option:
https://github.com/PyCQA/pylint/blob/24eaec26f701cf8adddf27ffa8859

[2022-08-26 12:50] Pierre-Sassoulas commented on #7362
For github we could do with only  "#{issue}". I was thinking of using .md in order to not have to generate another document but this is done very unfrequentely so launching a script to generate github's text is reasonable.

[2022-08-26 14:30] DudeNr33 commented on #7361
Thank you for opening this issue.

The options `-ASmy` stand for:

* `-A` (`--all-ancestors`): *show all ancestors off all classes in <projects>* --> Shows all *parent* classes
* `-S` (`--all-associated`): *show recursively all associated off all associated classes* --> Shows all classes that the our class has a *has-a* or *uses* relationship with
* `-my` (`--module-names=y`): *include module name

[2022-08-27 10:30] dalcinl opened #7365 "First-party import incorrectly resolved to `site-packages` rather than source"
### Bug description

Please see the following [logs](https://github.com/mpi4py/mpi4py/runs/8049643174?check_suite_focus=true). Note the strange `site-packages.` prefix in the package/module namespace. I cannot reproduce this issue locally using virtual environments (running via `tox`) or installing into user site-packages.

### Configuration

I'm using the following [.pylintrc](https://github.com/

[2022-08-27 10:54] bnavigator opened #7366 "incorrect logic in test__test_environ_pythonpath_no_arg"
`test__test_environ_pythonpath_no_arg` expects an unchanged PYTHONPATH. But that is not what the decorator does:

https://github.com/PyCQA/pylint/blob/ccd1dc8d5d1bc705b0b5eb4183ba979f97a96f21/tests/testutils/test_testutils_utils.py#L53-L60

https://github.com/PyCQA/pylint/blob/ccd1dc8d5d1bc705b0b5eb4183ba979f97a96f21/pylint/testutils/utils.py#L54-L62

The test fails, when the test suite is run wit

[2022-08-27 11:37] Rogdham opened #7368 "`E0601: used-before-assignment` false positive for import under `TYPE_CHECKING` check"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

This is a false positive, as `assert_type` is defined in both branches of the `if`.

### Pylint version

[code]

### OS / Environment

Archlinux

### Additional dependencies

astroid==2.12.4
dill==0.3.5.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
pla

[2022-08-27 11:40] Rogdham commented on #7368
The issue is still here if the import is from stdlib instead of an external module:

[code]

[code]

[2022-08-27 12:21] DanielNoord commented on #7365
This has something to do with how we infer the name of the package to lint. I'm not quite sure why we are regressing on this in `2.15`. We're actually working on this in `astroid` right now, but those changes aren't included in `2.15`.

I'm not sure if this is a namespace package issue but rather something with the specific way this CI installs the `mpi4py` package and then tries to lint it.

[2022-08-27 12:27] DanielNoord commented on #7351
I think this makes the most sense and is relatively easy to fix knowing how `pylint` deals with stuff like this. I like this proposal, thanks!

[2022-08-27 12:33] jacobtylerwalls commented on #7368
Good catch. 3159b1744caee14068b4d875bb5adaa5ffbebd44 only checked `AssignName` nodes, not `FunctionDef` nodes, as here. Would you like to prepare a PR?

[2022-08-27 12:42] DanielNoord commented on #7368
@jacobtylerwalls Just for my understanding, why are we special-casing `TYPE_CHECKING` here?

[code]

This doesn't raise, only a `no-name-in-module` warning.

[2022-08-27 12:46] jacobtylerwalls commented on #7365
I noticed you're invoking flake8 as `flake8 src/mpi4py` but pylint as `pylint mpi4py`, which is forcing pylint to look around for an installed package named `mpi4py`. When I clone the repo without installing it with pip, pylint fails with `pylint mpi4py` and succeeds with `pylint src/mpi4py`, which is what I would expect.

Regarding what made the prior behavior work with `pip install .`, I don't k

[2022-08-27 12:49] jacobtylerwalls commented on #7368
Assignments under if TYPE_CHECKING are always false at runtime, so from the perspective of `used-before-assignment`, we can assume they never happened. With some control-flow knowledge that the name is defined in the `else`, though, we can avoid assuming the name was never assigned. Here the else is only checked for assignments, not function definitions.

[2022-08-27 12:56] DanielNoord commented on #7365
@jacobtylerwalls That sounds exactly like I would expect. Well done noticing that!

[2022-08-27 13:24] dalcinl commented on #7365
That's on purpose. I've been doing it that way for long time, tools like flake8 wants to run under the actual sources, they do not search for packages, and they do not do introspection of extension modules. pylint does perform introspection but I'm not building in-place, so yes, pylint has to search for the installed package.

yes, indeed.

Expected, the package is not installed, and I use a `src`

[2022-08-27 13:57] #7366 closed

[2022-08-27 14:29] jacobtylerwalls commented on #7365
Thanks for your patience with me. The additional instructions were extremely helpful--I can reproduce locally now. The behavior changed in PyCQA/astroid@5067f08affc912860b20f03fa5476d536e986745 as I think other maintainers suspected. I'm having a look now.

[2022-08-27 14:48] jacobtylerwalls commented on #7365
Something like this should do, I'll work up a PR:
[code]

[2022-08-27 15:33] Rogdham commented on #7368
@jacobtylerwalls I did what I could in #7370, but the `pylint` codebase is foreign to me so I'm sure I missed tons of things!

[2022-08-27 16:30] #7368 closed

[2022-08-27 16:33] soullivaneuh opened #7371 "Provide a --ignore-file option with .gitignore as default"
### Current problem

When I run pylint, report warning are found on files ignored by `.gitignore` (vendor, generated file etc...).

Because of that, I have to specify nearly the same configuration as the `.gitignore` to the `--ignore-paths` option, but with a different format.

This is config repetition that make project and CI configuration heavier to maintain.

### Desired solution

Make pylint

[2022-08-27 16:33] soullivaneuh commented on #2279
@Pierre-Sassoulas sure! Please consider https://github.com/PyCQA/pylint/issues/7371.

Thanks!

[2022-08-27 16:51] jacobtylerwalls commented on #7365
@dalcini, I've put a PR at https://github.com/PyCQA/astroid/pull/1756, so I would be very grateful if you had an opportunity to test the fix. Thanks again for the report!

[2022-08-27 17:28] dalcinl commented on #7365
@jacobtylerwalls Where you able to reproduce the issue using either a virtual environment or a user-site install? Could you share the exacts steps you used (and version/git hash of astroid)? As I said before, I was not able to reproduce the issue locally. Testing your PR without being able to reproduce the failure on my side first is not so useful.

[2022-08-27 17:58] jacobtylerwalls commented on #7365
This reproduces for me without a virtual env on MacOS:
[code]

[2022-08-28 00:29] adam-grant-hendry commented on #6211
@lkev @vepain One thing to note: you are using `Parameter` instead of `Parameters` (plural). Change this to `Parameters` and see if that helps because `pylint` checks for sections using the plural form:

[code]

and this is how it is written in the [`numpydoc` Style Guide](https://numpydoc.readthedocs.io/en/latest/format.html#parameters).

[2022-08-28 06:02] dalcinl commented on #7365
**I cannot reproduce!!** I'm using Homebrew Python 3.10.6 on macOS. Do you have any clue about what could be going on?

[2022-08-28 12:24] dmail00 commented on #2166
Am I missing something here. It has gone from being able to supply a regex to match only using upper or lower case, to no C0103 reporting of pascal naming at the global scope.
[code]

[code]

[2022-08-28 13:58] jacobtylerwalls commented on #7365
No, sorry. I might try a python.org python.

[2022-08-28 19:10] mbyrnepr2 commented on #6832
Thank you @cdreimer-thewriter. I believe this is resolved now via https://github.com/PyCQA/pylint/issues/7265.
I can no longer reproduce using your example with the latest astroid + pylint versions.

[2022-08-28 19:10] #6832 closed

[2022-08-28 20:30] DanielNoord commented on #2166
@dmail00 This sounds like a regression. Is this change only on `2.15`?

[2022-08-29 06:38] #7365 closed

[2022-08-29 07:14] ultmaster opened #7375 "TypeError: 'Uninferable' object is not iterable"
### Bug description

When parsing the following file:

[code]

pylint crashed with a ``AstroidError`` and with the following stacktrace:
[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Success.

It used to work with pylint 2.14.5.

### Pylint version

[code]

### OS / Environment

Ubuntu 20.04

### Additional dependencies

https://msra

[2022-08-29 09:58] mbyrnepr2 commented on #2166
I believe this is an intentional change introduced as far back as `2.5.0`.
Please see https://github.com/PyCQA/pylint/issues/3111 for discussion

[2022-08-29 11:49] aradyaron opened #7376 "CLI should be able to extend ignore from config file"
### Current problem

I'm currently trying to extend ignore path coming from rcfile using the CLI, and it only replaces the value instead of extending it.
from the behavior hat occurred until recently, this was indeed the situation, but it changed in the latest version.
This can be done for example by adding extend-ignore configuration

### Desired solution

CLI --ignore extend configuration file
O

[2022-08-29 12:05] daogilvie commented on #7264
Hello! Hope you folks are well 😄

- I've fixed case 3 on #7284, but not implemented anything else yet (i.e the code still makes 2 calls to `load_plugins`).
- I haven't found a change I feel comfortable making for the other cases, or for emitting the warning, but will keep looking over the coming days.

I have meddled with the history on my branch a bit; I didn't think it was an issue because it's

[2022-08-29 12:12] Blind4Basics commented on #7268
Hello,

Sorry for the late answer, I didn't see the notification...

Yes, I'm using a venv in VSC and it often becomes a mess, for me. I'm not sure about how to make tails and heads of this. In my current environment, while the venv is activated, I still get the error. I tried the following in the console, if the may help:

[code]

I still get the same error when running pylint from the command li

[2022-08-29 12:42] Pierre-Sassoulas commented on #7264
Thank you for the recap !

Yeah, don't worry about that, I don't 😄

[2022-08-29 12:59] dmail00 commented on #2166
@DanielNoord
As @mbyrnepr2 says this is due to a change introduced in 2.5.0 reguarding global names and constness, hence comparing with 2.4.4 the release prior to the change.

@mbyrnepr2 I understand the logic behind the change, but for it to not care about the name of something in the global scope is, in my opinion, an error. I specified snake_case on the command line for variables and whilst pyl

[2022-08-29 13:24] mbyrnepr2 commented on #2166
Indeed @dmail00 I think the change which led to no warning being emitted for global non-constant assign-names was unintentional; we should fix that.

In your example, changing the list to a string will emit the warning as expected because it is seen as a constant. We need to extend that logic to also consider assigning non-constants.

[2022-08-29 15:32] badbadbatman opened #7379 "False positive no-member on member of generic parent class with overriden __class_getitem__"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No message is reported.

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-08-29 18:09] guilhermearaujo commented on #7375
I too got an error after upgrading to 2.15. In my case, I'm linting a django project, venv managed by poetry

[code]

After reverting astroid back to 2.11.7 it worked again.

[2022-08-29 18:31] DanielNoord commented on #2166
It would probably best to open a new issue for this as this will likely get lost otherwise.

[2022-08-29 20:22] itttgg opened #7380 "AttributeError: 'Attribute' object has no attribute 'name'"
### Bug description

Linting:
[code]

pylint crashed with a ``AstroidError`` and with the following stacktrace:
[code]

### Expected behavior

No crash.

### Pylint version

[code]

### OS / Environment

ubuntu-latest

[2022-08-29 21:22] Wayonb opened #7381 "Multiple binary | operation in a single statement failed with "E1131: unsupported operand type(s) for | (unsupported-binary-operation)""
### Bug description

If I am trying to OR'd more than two flags, pylint 2.15.0 fails with "E1131: unsupported operand type(s) for | (unsupported-binary-operation)".  This worked with pylint 2.14.1

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Expected no errors

### Pylint version

[code]

### OS / Environment

Ubuntu 20.04

[2022-08-30 00:50] dmail00 opened #7383 "Some module level variables names are not checked for invalid-name."
### Bug description

Reference: https://github.com/PyCQA/pylint/issues/2166#issuecomment-1229446231

I will pretty much just copy and paste what has already been said.

The following shows the issue with two version of pylint 2.4.4 and 3.15.0 (latest). The reason for using 2.4.4 is due to it being the last version before the change was made in 2.5.0 regarding constant names in the global scope.

T

[2022-08-30 00:56] jacobtylerwalls commented on #7375
Hi @guilhermearaujo, your issue looks different -- it's coming out of `pylint-django`, which may or may not be fully tested against pylint 2.15. I'd also give it a retest against `astroid` 2.12.5, which just went out. I know that's a lot of dependencies to track, but we'd greatly appreciate knowing if `astroid` 2.12.5 resolves your issue.

[2022-08-30 07:38] DanielNoord opened #7384 "``pylint.org`` is defunct and we might need to move some stuff"
### Question

I got an email from readthedocs.org that it can nog longer find the `docs.pylint.org` domain to serve the documentation to. I can remove the configuration for that domain but I want to be sure we're giving up on the domain.

There might be other places where this is necessary after `pylint.org` is now no longer in the air.

### Documentation for future user

/

### Additional context

[2022-08-30 07:49] Pierre-Sassoulas commented on #7384
Thanks for opening the issue, I was looking at it too. The current domain ``https://pylint.pycqa.org`` is going to need to be changed if we don't get admin right for pycqa soon and if we have to create another organization. (I've been trying to add you as an admin for months, but you're not the only one that need more rights in pylint and I can't do that right now. I'm sure you know the context.).

[2022-08-30 07:51] DanielNoord commented on #7384
I think `pylint.org` was also hosted/bought by `logilab`. They probably cleaned up some of their older projects.

I'm fine with removing `docs.pylint.org` and staying on `pylint.pycqa.org`.

_Slightly off topic, but for now I don't think we should create our own organisation. For me personally the benefits don't outweigh the negatives at the moment._

[2022-08-30 08:01] Pierre-Sassoulas commented on #7384
Let's remove ``docs.pylint.org`` from the read the doc configuration and let me do a quick follow up on the code then.

Could you join discord to chat, or we could create a common private project on github ? I have no way to contact you privately :)

[2022-08-30 08:19] RemiCardona commented on #7381
Same issue when using Django's "Q objects" https://docs.djangoproject.com/en/3.1/topics/db/queries/#complex-lookups-with-q

2 Q objects `|`-ed or `&`-ed together is fine, 3 or more breaks pylint. We're getting hundreds of errors as Q objects are a fairly common sight in Django projects.

[2022-08-30 08:23] Pierre-Sassoulas commented on #7384
Closing as I removed the configuration for the domain in read the doc, and there's no reference to it anywhere in the repository (nor in astroid repository).

[2022-08-30 08:23] #7384 closed

[2022-08-30 08:37] mbyrnepr2 commented on #7381
Thanks for the report. I'm can't reproduce this one myself:
[code]

[code]

[code]

[2022-08-30 14:10] maujim commented on #5327
If the same variable is used as a match guard twice, pylint won't complain the second time.

[code]

If the line `case (n, _) if n < 12:` is changed to use `x` instead of `n`, the false positive triggers again.

version:

[2022-08-30 15:56] Wayonb commented on #7381
Hi @mbyrnepr2, Thanks for taking a look.  Sorry, I didnt actually try the sample code.
I was able to repo with the sample below.

pylint example.py --load-plugins pylint_quotes

[code]

[2022-08-30 16:13] SamyCookie commented on #7381
if you want a shorter example without enum dependency you can reproduce this bug with this:

[code]

[2022-08-30 19:18] mbyrnepr2 commented on #7381
Thanks for the examples.

@Wayonb you're right - something between 2.14.1 & 2.15.0 has led to this false positive. Note it happens only for Python versions below 3.10 because of this logic: https://github.com/PyCQA/pylint/blob/main/pylint/checkers/typecheck.py#L1879-L1880

[2022-08-30 20:23] yilei commented on #4802
I would suggest keeping the default excluding the comments. Even though there are now `disable-next`, this would __put extra burden to the users__ to change the trailing `# pylint: disable=` to a new `disable-next` in a separate line above.

This happens both to existing code, and when you write new code interactively. When you add a trailing `# pylint: disable=`, you _don't know in advance_ wheth

[2022-08-31 06:38] DanielNoord commented on #4802
@yilei Thanks for the thorough investigation! Based on this I think it makes sense to keep excluding comments from line length. This seems like a major breaking change and if I had to change +-1200 lines just to be able to upgrade to `pylint` `3.x` I probably wouldn't.

Although I think it makes sense to do this, with the current status quo I'm -1 on this proposal.

[2022-08-31 07:00] Pierre-Sassoulas commented on #4802
Thanks you for the feedback @yilei, I did not realize the change would create that much work. Clearly we can't do it unless we automate the move to ``disable-next`` one way or another. (Off topic: An auto-fixing pylint is talked about often but some design is required, and strangely, no issue is opened for it). Imo if we start somewhere and add things progressively it could work. While making some

[2022-08-31 07:14] DanielNoord commented on #4802
I think an `autopylint` like `autoflake8` should probably be its own project. It will need its own release schedule and shouldn't be impacted by `pylint` development.

I think so... Although we might want to document this somewhere a little more explicitly?

[2022-08-31 07:30] #3822 closed

[2022-08-31 08:50] DanielNoord commented on #7380
Note that the error in the OP doesn't actually reproduce. The post before the edit does provide the necessary info though.

@itttgg As I had to dive into your codebase to find the issue I had a look around. I noticed that you use `NoReturn` to annotate functions that don't return anything. This is unsolicited advice but you should use `-> None` for such functions. `NoReturn` implies that a functio

[2022-08-31 09:02] itttgg commented on #7380
I thought that `NoReturn == None`, but it's not. Sorry

[2022-08-31 09:03] DanielNoord commented on #7380
No problem, just thought I'd let you know. A year ago I had never even heard of Python typing. We're all just learning about it 😄

[2022-08-31 09:07] itttgg commented on #7380
I mean, is there a difference?

[2022-08-31 09:08] DanielNoord commented on #7380
Between `NoReturn` and `None`?

[2022-08-31 09:10] itttgg commented on #7380
Yes

[2022-08-31 09:12] DanielNoord commented on #7380
Yeah!

For example:
[code]

With the following code, `func_two` will execute after `func` and then the program exists with a `ValueError`.
If you switch them around `func` will never be executed as the program already stops at the `ValueError` raised by `func_two`. That's why `NoReturn` is helpful. It shows that without some mitigation calling a certain function will create an error that will term

[2022-08-31 09:18] itttgg commented on #7380
Ok i'm fix this error in my code

[2022-08-31 09:35] wangyeqin1 opened #7387 "E0611: No name 'QDesktopWidget' in module 'PySide2.QtWidgets' (no-name-in-module)"
### Bug description

 E0611: No name 'QDesktopWidget' in module 'PySide2.QtWidgets' (no-name-in-module)

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

should not report E0611 error

### Pylint version

[code]

### OS / Environment

linux x86

### Additional dependencies

_No response_

[2022-08-31 10:31] devholland opened #7388 "New match/case syntax reports "using variable before assignment""
### Bug description

In the following code example, pylint reports: "*Using variable 'names' before assignment*":

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

The variable is assigned by the match/case statement and therefore shouldn't be reported as an error.

### Pylint version

[code]

### OS / Environment

Windows 10

##

[2022-08-31 11:36] AnasTaherGit opened #7389 "pyreverse -c option causes stack overflow"
### Bug description

I'm using pyreverse on one of my python project to generate the  UML diagram of a specific class so i use the c option but it takes too long and memory usage get bigger and bigger and throw :

Fatal Python error: Cannot recover from stack overflow.
Current thread 0x000092b0 (most recent call first):
  File "c:\python37\lib\site-packages\astroid\bases.py", line 134 in __getattr

[2022-08-31 15:54] michalfabik opened #7390 "Confusing wording of arguments-differ?"
### Bug description

    #pylint: disable=missing-docstring
    class ParentClass():  #pylint: disable=too-few-public-methods
        def method(self):  #pylint: disable=no-self-use
            return 0

    class ChildClass(ParentClass):  #pylint: disable=too-few-public-methods
        def method(self, extra_arg):
            return extra_arg

`ParentClass.method` is an overridden method and `Chi

[2022-08-31 16:28] mbyrnepr2 commented on #7390
This makes perfect sense to me. Thank you for spotting this @michalfabik!

[2022-08-31 16:41] yilei commented on #4802
+1 for auto-fixer to be its own project to separate concerns. `pylint` itself can be the auto-fixer's upstream dependency. In fact, we do have something like that internally to auto fix a few of the linter errors. For cases like `bad-whitespace`, `multiple-statements`, it invokes a formatter to achieve this. So it also has a lot more dependencies than `pylint`. It also needs its own interface when

[2022-08-31 18:16] Pierre-Sassoulas commented on #4802
I'll open an issue for autofixing.

Let's close this issue with a documentation merge request then ?

[2022-08-31 19:24] Pierre-Sassoulas commented on #7388
Thank you for opening the issue. I'm going to close as it looks like a duplicate of https://github.com/PyCQA/pylint/issues/5327.

[2022-08-31 19:24] #7388 closed

[2022-08-31 20:06] #7380 closed

[2022-08-31 20:08] DanielNoord opened #7391 "Make ``modified-iterating-*`` also check class attributes"
### Current problem

See #7386 for some discussion.

Basically:
[code]

Doesn't raise currently and it should. This likely requires some refactoring of the current checker as there are some assumptions in the checks we use there that aren't true with respect to class attributes.

### Desired solution

Emit the warning as described.

Tagging @orSolocate so I can assign them.

### Additional context

[2022-09-01 09:53] owillebo opened #7392 "pylint crashed with a AstroidError"
### Bug description

[code]

pylint crashed with a ``AstroidError`` and with the following stacktrace:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No crash

### Pylint version

[code]

### OS / Environment

Edition	Windows 11 Pro
Version	21H2
Installed on	‎11/‎24/‎2021
OS build	22000.856
Experience	Windows Feature Experience

[2022-09-01 09:55] DanielNoord commented on #7392
Fixed in #7386 and duplicate of #7380.

I expect a patch release with this fix somewhere this week. Sorry for the inconvenience!

[2022-09-01 09:55] #7392 closed

[2022-09-01 10:10] owillebo commented on #7392
Thanks Daniël,

I only checked open issues not expecting you to fix the issue so fast!

Next time I will check all the issues.

Have a nice day,

Okko

On Thu, 1 Sept 2022 at 11:55, Daniël van Noord ***@***.***>
wrote:

[2022-09-01 10:11] Pierre-Sassoulas commented on #7392
I'm going to release 2.15.1 asap. There is only one real bug fixed but it's a crash and there are some astroid bugs that are fixed automatically upon re installation with the latest astroid too. We might as well release a version that guarantee the right version of astroid being installed.

[2022-09-01 11:10] marcinsulikowski commented on #2332
What about the case where code has type annotations, like the following?
[code]
Here it is pretty much obvious that the code is correct but Pylint still complains.

If Pylint is unable to understand annotations and cannot reliably tell that the annotation allows non-`None` values, maybe there could be a heuristic that `assignment-from-none` is disabled for functions with any type annotation, leavi

[2022-09-01 11:12] lggruspe opened #7394 "pylint doesn't complain about undefined name in string type annotation"
### Bug description

example.py:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I think pylint should complain in both cases.

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-09-01 11:26] DanielNoord commented on #7392
No worries! I tend to forget to check closed issues as well 😄

[2022-09-01 11:29] Pierre-Sassoulas commented on #7394
The typical use case for this is "undefined" being defined in a ``if TYPE_CHECKING:`` guard ie.:

[code]
 But pylint does not understand control flow well right now so we avoided a false positive at the cost of a false negative here. If we handle control flow better in astroid in the future then we could do this without the false positive. (I would advice checking string type annotation with mypy

[2022-09-01 18:09] jaraco opened #7396 "False positive with default arg values before *args"
This bug is a re-file of #2481. That issue was locked without resolution.

The issue reported there is still an issue, and is affecting code [like this one](https://foss.heptapod.net/mercurial/mercurial-devel/-/blob/f59e49f6bee4591763ccdad9cf0d7fb2c5b130c7/mercurial/commands.py#L4093).

The problem with W1113 is that it is inconsiderate of the case where a positional argument has a default value a

[2022-09-01 19:13] jaraco commented on #7396
Regarding "Needs specification", would it be sufficient to say "W1113 should be disabled by default" as the specification? What more would need to be specified to move forward with an implementation?

[2022-09-01 19:23] Pierre-Sassoulas commented on #7396
What I meant by need specifications is that we need to define what we want for the test cases in https://github.com/PyCQA/pylint/blob/main/tests/functional/k/keyword_arg_before_vararg.py. I think the check can be modified to reduce false positives by checking if the positional argument has a default value. But you seem to think the check can't be salvaged ? (It's possible to disable it yourself in

[2022-09-01 19:40] mauvilsa opened #7397 "False positive E1143 (unhashable-member) when creating a set with typing classes as elements"
### Bug description

Creating a set with elements a class from the `typing` module. For example below using a `List`.

[code]

The same happens with `Set`, `Dict`, `DefaultDict`, `OrderedDict`, `Counter` and `TypedDict`. I tried a few other classes from `typing` which didn't give a false positive. Note that these classes are hashable and using them as key in a dict access, e.g. `some_dict[List]` d

[2022-09-01 21:47] jaraco commented on #7396
In my opinion, those test cases are fine for illustrating the condition the check intends to catch, and maybe the tests just need to be extended to illustrate that the check is one that is not enabled by default.

I think part of my problem is that I'm biased. I've only ever encountered this lint warning twice (in the above referenced code and a similar derivative case), so in all cases, I've only

[2022-09-01 21:59] DanielNoord commented on #7396
I think this is a leftover from the same paradigm that influenced the `star-args` message, see https://stackoverflow.com/questions/28915233/alternative-to-asterisk-in-function-definitions and some discussion there.

I wasn't involved then, but `pylint` maintainers at the time seemed to discourage using star args and anything related to them. I think we might want to consider removing this message,

[2022-09-01 22:03] Pierre-Sassoulas commented on #7396
``misplaced-variable-length-args`` ?

[2022-09-01 22:20] DanielNoord commented on #7396
Since this is probably controversial to some and mostly stylistic, what about:
`consider-placing-variable-length-args-last`? The message is a bit long but it is also actionable, which might help users.

[2022-09-02 06:40] Pierre-Sassoulas commented on #7396
Ok, so in order to fix this issue we should create a new extension for ``consider-placing-variable-length-args-last`` and refactor the existing check to become an optional extension too.

*Off topic: I feel like we need to relax the prefix for checker requirement in message id first, because blocking 99 msgid for this seems inefficient.*

[2022-09-02 06:56] MiltiadisKoutsokeras commented on #7306
pylint is used in our workflows and currently it breaks them with import errors from an editable installation of our projects. Is there something we can change in the usage of pylint to avoid these errors without changing the project's code or file hierarchy?

[2022-09-02 06:59] DanielNoord commented on #7306
It's a bit of a stretch but you could install `astroid` from my branch in https://github.com/PyCQA/astroid/pull/1752.

See https://stackoverflow.com/questions/20101834/pip-install-from-git-repo-branch
Or `git clone` my branch and then install locally.

Fixing stuff in our import system is difficult as much can be broken. So it takes some time for these fixes to make it to release. This branch has

[2022-09-02 07:00] jooola commented on #7306
You can either pin the setuptools version ([see the bug reproduction repository](https://github.com/jooola/pylint-import-error-bug/blob/main/before_setuptools_v64.0.0.patch)) or add the [legacy editable option](https://setuptools.pypa.io/en/latest/userguide/development_mode.html#legacy-behavior) when installing.

[2022-09-02 07:00] DanielNoord commented on #7396
I think we don't need an extension but we can put it under `CodeStyle`.

I'm not sure refactoring is worth it. I really can't see why anybody would need this check and think it is actually bad practice to write code like in the "Good example". I would be in favour of removing just like we have done with `star-args`.

[2022-09-02 07:14] MiltiadisKoutsokeras commented on #7306
Thank you for your recommendations but the issue is reproduced with these versions:

Python 3.9.2
pip 22.2.2
setuptools 44.1.1

So setuptools is less than 64.

[2022-09-02 07:16] DanielNoord commented on #7306
Even then, installing my local branch should fix this as it add support for custom import hooks.

Also note that it's quite easy to have `pip` use a different version of setup tools than what's showing up with `pip list`. I had similar issues while working on the fix.

[2022-09-02 07:35] #6592 closed

[2022-09-02 08:01] Pierre-Sassoulas commented on #7396
This is probably something we need to discuss but the more I think about it the more I think we should separate checkers **unless there's actually checks that would be duplicated and grouping those checks together make performance better**.  It's more modular, it makes for simpler checkers, the file are shorter, the checker's owner is obvious and can be defined in the CODEOWNER file, it's impossib

[2022-09-02 08:08] DanielNoord commented on #7396
I have actually been thinking the opposite 😅 The `visit_` pattern with individual checker classes per check creates a lot of overhead, especially with `safe_infer` being called everywhere. There is a very high likelihood that we are not hitting caches across multiple `visit_` calls to the same node type I think.

I mean, for `*args` it makes no sense as there is no risk of "taking over" the keywor

[2022-09-02 08:59] rjarry opened #7399 "Introspection of CFFI compiled modules is broken in 2.15"
### Bug description

With the following script:

[code]

You can produce a compiled cffi module:

[code]

This module can then be imported and the C function can be invoked:

[code]

[code]

When analyzing this file with pylint 2.15:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

With pylint 2.14:

[code]

### Pylint version

[2022-09-02 13:04] guilhermearaujo commented on #7375
@jacobtylerwalls I just tested with the `astroid 2.12.5`, it still fails the same way

[2022-09-02 13:53] jack1142 opened #7401 "`disable-next` leaks into the whole block if it's followed by an empty line"
### Bug description

1. Create a virtual environment (e.g. run `virtualenv pylint-repro`)
2. Activate the virtual environment (e.g. run `. pylint-repro/bin/activate`
3. Install pylint (e.g. `pip install pylint`)
4. Put these contents into an `example.py` file:
[code]
5. Run `pylint example.py`
6. See the issue.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

[2022-09-02 15:45] huwcbjones opened #7402 "false positive for type-hinted Enum class instance variable"
### Bug description

As per https://mypy.readthedocs.io/en/stable/cheat_sheet_py3.html#classes, you can optionally declare instance variables in the class body. For normal classes, this is fine, but for Enums pylint raises a false positive

Define an enum with a type-hinted instance variable and you get an invalid name! 😞
[code]

### Configuration

_No response_

### Command used

[code]
(`pylint

[2022-09-02 20:19] huwcbjones commented on #7402
From my quick peruse of the code, I believe that pylint will treat all Enum class variables as class constants, even if no value is assigned (the variable is for a type hint).
https://github.com/PyCQA/pylint/blob/880095c7266134a218e5f97075d1adeaa5b34b79/pylint/checkers/base/name_checker/checker.py#L459-L464

[2022-09-03 00:30] mbyrnepr2 commented on #7402
Thanks for reporting. I think this is expected since Enum members are expected to be constants. Quoting from the docs:

_Because Enums are used to represent constants we recommend using UPPER_CASE names for enum members, and will be using that style in our examples._

https://docs.python.org/3/library/enum.html

[2022-09-03 06:29] Pierre-Sassoulas commented on #7402
I'd also say it's working as intended.

[2022-09-03 13:13] jacobtylerwalls commented on #7380
Sorry @DanielNoord, I was the one who did the edit. I was trying to bisect the file to get to the minimum reproducer, and I guess I made a mistake somewhere.

[2022-09-03 13:17] jacobtylerwalls commented on #7375
Thanks, then it's probably the same issue as https://github.com/PyCQA/pylint-django/issues/370.

[2022-09-03 18:44] #4354 closed

[2022-09-03 19:01] Pierre-Sassoulas commented on #7396
Blocked by #6670. The message is documented with bad/good and we want to keep that documentation for users using the old versions (where the message will still exists). There's nothing in place to do that right now.

[2022-09-04 09:51] nyuszika7h opened #7405 "`method-hidden` false positive with `functools.lru_cache` in `__init__`"
### Bug description

When using `@lru_cache` on an instance method, flake8-bugbear throws a B019 warning, therefore I do this in `__init__` instead:
[code]

However, this causes pylint to raise a false positive warning on `def get_proxy(self, region)`.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

There should be no warning.

### Pyl

[2022-09-04 11:10] #3299 closed

[2022-09-04 11:13] Pierre-Sassoulas commented on #7405
I don't think this is a false positive as the method really is hidden, disabling the pylint message will probably make reader of your code to be more aware of this fact.

[2022-09-04 11:16] Pierre-Sassoulas commented on #4828
@nyuszika7h could you open another issue, please ? It look like it's affecting another node than a return in your case.

[2022-09-04 13:43] #2374 closed

[2022-09-04 13:56] DanielNoord commented on #3973
I added a regression test for this.

This actually works but the file can't only have a disable comment due to the way we parse such comments. As soon as there is more than only a disable comment this works as expected on the current version 😄

[2022-09-04 13:58] DanielNoord commented on #516
@Pierre-Sassoulas Are we sure we want to do this? I feel like it makes more sense to require a disable comment than adding an exception to a rule that is already quite controversial and difficult to fully understand. Complicating with additional exceptions doesn't seem too good to me.

[2022-09-04 14:28] Pierre-Sassoulas commented on #516
I think you're right. Besides the issue's been opened for quite some time and there's no fix yet. The fact it can't be disabled is a problem though.. Probably not a big one as not following pep8 isn't that frequent. Also entrypoints exists and are easy to use.

[2022-09-04 14:34] #3973 closed

[2022-09-04 14:35] Pierre-Sassoulas commented on #516
I commented before seeing that disable work for non empty file with invalid names. Let's close.

[2022-09-04 14:35] #516 closed

[2022-09-04 14:38] DanielNoord commented on #516
I just checked:

[code]

Also works. So you can actually disable on the same line as the shebang and still execute. Agreed that this can be closed, working as intended and the exception is not worth it.

[2022-09-04 18:32] #7375 closed

[2022-09-05 02:18] mwchase commented on #4743
Ah, I guess I should file a followup issue for `raises` and `yields`. I can try to get that together tomorrow, if nobody else gets there first.

[2022-09-05 03:36] DetachHead commented on #6963
you can use a single quoted string to avoid this issue
[code]

[2022-09-05 03:40] DetachHead commented on #5398
a workaround is to use `pyproject.toml` instead of `.pylintrc`, and use raw strings (`'` instead of `"`):
[code]

[2022-09-05 07:32] DanielNoord commented on #7397
This requires a change in the `astroid` `typing` brain. We needs to add the `__hash__` dunder to some classdefs I think.

[2022-09-05 07:34] DanielNoord commented on #7350
I think this is correct? Pinging @jacobtylerwalls for an opinion.

If you change this to:
[code]

This won't run and an `UnboundLocalError` will be raised. Is that we are guarding against here @jacobtylerwalls?

[2022-09-05 07:37] DanielNoord commented on #7311
@DetachHead Do you want to work on the `NoReturn` example? I can guide you through it if you want.

If you get the `FunctionDef` node of `fail` by inferring the call to it you can use the `type_comment_returns` attribute to get the return type annotation. With an inference on that annotation + a check for `.qualname() == "typing.NoReturn` I think we should be able to add this case as well.

[2022-09-05 08:24] mttbernardini opened #7412 "`not-callable` false positive in type narrowing"
### Bug description

Pylint emits a false positive when calling `func()`, which shouldn't happen because of the type narrowing of the `if`.

[code]

I noticed that if I add to the previous code the following snippet, the error disappears:

[code]

Similarly, the error is not emitted if `func` is initialized directly in global scope.

However I think this kind of inference is wrong because the abov

[2022-09-05 11:07] DanielNoord commented on #7290
I posted a fix to `astroid` for this. Most issues with `kw_only` should be resolved with that PR.

[2022-09-05 11:44] DanielNoord commented on #7412
This is just something that `pylint` is not good at. We struggle with some control flow inference using `if` and we don't take type annotation into account currently. This could change in the future though.

[2022-09-05 11:44] #7401 closed

[2022-09-05 12:50] jacobtylerwalls commented on #7350
Yes, or even:

[code]

We just currently lack a "comprehensivity" check that "nothing else is being done in the outer try". Theoretically we could, so I'm happy to leave the issue open for now, but it could be that ultimately we determine it doesn't bring enough value for the effort involved.

[2022-09-05 14:28] #7290 closed

[2022-09-05 14:52] DanielNoord commented on #6550
Fixed with in https://github.com/PyCQA/astroid/pull/1764

@jacobtylerwalls Do we want test for this and for the original issue that that PR targeted in `pylint`? Or is `astroid` enough in your opinion?

[2022-09-05 14:53] jacobtylerwalls commented on #6550
Let's merge at least one test case in pylint, since the astroid one is a little convoluted (on purpose, to catch the string contains issue.)

[2022-09-05 14:53] DanielNoord commented on #5857
Fixed in https://github.com/PyCQA/astroid/pull/1764 😄

[2022-09-05 14:53] #5857 closed

[2022-09-05 14:53] DanielNoord commented on #6550
Sure! I'll open a PR for you to review 😄

[2022-09-05 15:03] DanielNoord commented on #5225
Related to https://github.com/PyCQA/pylint/issues/7291

[2022-09-06 04:18] tyralla opened #7418 "Building error when trying to create ast representation of module sphinx configuration module (in which we extend a sphinxcontrib-bibtex dataclass)"
### Bug description

Since astroid 2.12.6, when parsing the following file:

[code]

pylint crashed with a ``AstroidBuildingError`` and with the following stacktrace:
[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No crash (and no useless-suppression and invalid-name false positives, but this is another issue)

### Pylint version

[code]

### OS / Environment

[2022-09-06 08:42] DanielNoord commented on #7418
@Pierre-Sassoulas This is a release blocker imo.

Making a PR to fix this somewhere today!

[2022-09-06 09:24] DanielNoord commented on #7418
Thanks for the report @tyralla! I have deployed a fix and we should release `astroid` `2.12.7` somewhere today.

One side note: we advise against upgrading `astroid` manually. Although this time this was much appreciated as it helped prevent releasing `pylint` with an avoidable crash, normally we bump `astroid` within `pylint` itself. There are instances where upgrading `astroid` on its own withou

[2022-09-06 09:46] DanielNoord commented on #4743
Oh I completely misread your comment and looked over the `raises` and `yields` part.

I can probably write a PR for this somewhere this afternoon.

@Pierre-Sassoulas I'm reopening this issue and adding the blocker label. I think it makes sense to fix these three issues in the same patch release. Review shouldn't be too difficult now that we have done #7410.

[2022-09-06 10:16] Pierre-Sassoulas commented on #7418
(astroid get updated automatically in pylint when we release patch versions, but they usually don't break anything)

https://github.com/PyCQA/pylint/blob/3694f4fe58dd7b4d24befcc26794590c9880f731/pyproject.toml#L40

[2022-09-06 10:21] #7418 closed

[2022-09-06 10:53] #4743 closed

[2022-09-06 11:16] #6550 closed

[2022-09-06 12:34] lucas-str opened #7422 "Crash ``Building error when trying to create ast representation of module 'test'``"
### Bug description

With astroid 2.12.7, when parsing the following file:

[code]

pylint crashed with a ``AstroidBuildingError`` and with the following stacktrace:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No crash.

### Pylint version

[code]

### OS / Environment

Debian 11.4

### Additional dependencies

_No response_

[2022-09-06 12:53] DanielNoord commented on #7422
😡

Sorry @Pierre-Sassoulas, that seemed like a straight forward PR.

PR incoming!

[2022-09-06 14:28] Lalufu opened #7424 "invalid-sequence-index when unpacking a sequence of sequences"
### Bug description

[code]

This seems related to the unpacking behaviour in the `for` loop. If `n` contains fewer entries than there are variables unpacked in the `for` loop, the behaviour does not occur (here, setting `n = [p1, p1 p1]` will make the error disappear.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]
[code]

### OS / Environment

_No response_

[2022-09-06 14:52] altendky opened #7425 "pylint complaint about missing dataclass constructor parameters with new astroid 2.12.6+"
### Bug description

We have some code using dataclasses, union hints, inheritance, and default factories where pylint started complaining about the parameter being missing when constructing an instance despite the default factory.  This started with astroid 2.12.6 and 2.12.7.
 With astroid 2.12.5, pylint does not complain.  I've narrowed it down to being triggered by the inheritance and the union

[2022-09-06 14:53] altendky commented on #7425
For reference, here are the astroid diffs.

https://github.com/PyCQA/astroid/compare/v2.12.5...v2.12.6
https://github.com/PyCQA/astroid/compare/v2.12.6...v2.12.7

[2022-09-06 15:17] DanielNoord commented on #7425
Thanks for the report. I pushed a PR with a fix to `astroid`. We're probably going to release another patch version of `astroid` and include that in `pylint` as well.

A recent PR for `dataclasses` has caused a lot of unexpected regression. Sorry about that!

[2022-09-06 15:47] #7425 closed

[2022-09-06 16:01] mbyrnepr2 commented on #2964
Testing on the latest astroid version(2.13.0) & this one doesn't occur anymore. Please re-open if the issue persists.

[2022-09-06 16:01] #2964 closed

[2022-09-06 20:03] #7169 closed

[2022-09-06 23:38] DetachHead commented on #7311
@DanielNoord i gave it a go but i can't figure out how to get the `FunctionDef` from the function call. #7419

[2022-09-07 01:34] ejolie commented on #7418
@Pierre-Sassoulas @DanielNoord
Hi! I am also having the same problem.
How can I download version `2.15.1`? I couldn't find it on the https://pypi.org/ site.
May I know when it will be available for download?
Thanks!

[2022-09-07 01:42] tomsilver opened #7427 "False positive with dataclass multiple inheritance and field init"
### Bug description

`pylint` emits a false positive `too-many-function-args` in the following situation:

[code]

**Note:** This is new in `pylint==2.15.0`. There is no false positive with `pylint==2.14.5`.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

`pylint` should not raise `too-many-function-args`

### Pylint version

[code]

#

[2022-09-07 04:39] tyralla opened #7428 "No numbers in TypeVar names allowed"
### Bug description

Since version 2.15, pylint reports the names of the following type variables to be invalid:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No complaints about the TypeVar names.

### Pylint version

[code]

### OS / Environment

Windows (my computer), Linux (Travis-CI)

### Additional dependencies

_No res

[2022-09-07 04:58] tyralla commented on #7418
@ejolie: you must upgrade astroid (currently 2.12.8), then pylint 2.15.0 does not crash anymore.

[2022-09-07 05:43] enkidulan opened #7429 "Crash ``AttributeError: 'ClassDef' object has no attribute 'value'``"
### Bug description

When parsing the following file:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]
[code]

### OS / Environment

fedora 36

### Additional dependencies

alembic==1.8.1
astroid==2.12.8
async-generator==1.10
attrs==22.1.0
Authomatic==1.0.0
bandit==1.7.4
bcrypt==4.0.0
beautifulsoup4==4.11.1
black==22.8.0
CacheControl==0.12.11
cachetool

[2022-09-07 06:34] ejolie commented on #7418
@tyralla Thanks! It works!

[2022-09-07 06:38] Pierre-Sassoulas commented on #7418
Thank you for the comment, it made me realize I failed at releasing. I released ``2.16.0-dev`` instead of 2.15.1 (https://pypi.org/project/pylint/2.16.0.dev0/). We're going to skip 2.15.1 and release 2.15.2 directly hopefully today.

[2022-09-07 07:38] DanielNoord commented on #7428
@cdce8p Pinging you for opinion.

Shall I update the regular expression?

[2022-09-07 07:43] #7429 closed

[2022-09-07 08:25] DanielNoord commented on #7427
Thanks for the report! A fix should be available somewhere today/tonight when we release a new version of `pylint` and `astroid` 😄

[2022-09-07 08:25] DanielNoord commented on #7429
Thanks for the report. A fix will be available after we release a new version of `pylint` and `astroid`.

[2022-09-07 09:06] daogilvie commented on #7264
## Update
Once #7284 is merged, cases 3 and 6 will be fixed. The other cases look like they might be a bit more complicated to fix without unintended consequences. I will happily do that, but probably over multiple smaller PRs to make sure everything works well.

## Current State
| # | Passed on CLI | Supplied in pylintrc | Can be imported before init | Can be imported after init | Current Behavio

[2022-09-07 10:30] #7427 closed

[2022-09-07 16:56] Wehzie commented on #7305
Could pylint adapt naming conventions of mainstream packages and add those as defaults to an exception list whenever these are imported?

For example, consider the purpose of data science and machine learning, [as in this issue](https://github.com/PyCQA/pylint/issues/2018).

A typical data science project will use some of the following projects,
pandas -> add "df"
maplotlib -> add "ax"
sklearn ->

[2022-09-07 18:24] tyralla opened #7433 "unsafe-load-any-extension ignored?"
### Bug description

Since 2.15.0,  pylint emits many warnings like the following for [my project](https://github.com/hydpy-dev/hydpy):

[code]

Enabling or disabling the `unsafe-load-any-extension` option does not make a difference.

Adding the relevant cython extension modules explicitly via the `extension-pkg-allow-list` seems to help (at least silences the warnings).

### Configuration

_No re

[2022-09-07 18:51] mheath commented on #4584
I found this issue doing a Google search. It's not a false positive as `requests.packages.urllib3` is just an alias for `urllib3`. Change the code to:
[code]

[2022-09-07 20:19] mattclay opened #7434 "False positive `unexpected-keyword-arg` regression for dataclasses"
### Bug description

A false positive is reported for `unexpected-keyword-arg` starting with pylint 2.15.0 for dataclasses with multiple inheritance, as seen in the code below. The issue is present in the latest version (2.15.2). The issue was not present in pylint 2.14.5.

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No issu

[2022-09-07 20:38] rickwierenga opened #7435 "useless-super-delegation with ABC"
### Bug description

Subclassing an ABC and just calling parent raises `useless-super-delegation`.

Example:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I guess you'd not want to raise the `useless-super-delegation` since this delegation is not useless.

### Pylint version

[code]

### OS / Environment

macOS 12.3.1

### Ad

[2022-09-08 08:14] Pierre-Sassoulas commented on #7435
Why are you decorating the function as abstract in this example if you're using it later ? I think an abstract function should not have any behavior implemented, this is probably why we have a message that feel wrong here.

[2022-09-08 08:44] ItsIgnacioPortal commented on #4584
You've found a way to do the same thing without the false positive. That's nice. This is still a false positive though.

[2022-09-08 08:45] DanielNoord commented on #7434
@Pierre-Sassoulas I'm never touching the `dataclass` code ever again... Sorry about this, our tests really were not exhaustive it seems.

@mattclay I'll try and get a fix for this somewhere this week.

[2022-09-08 10:30] RemiCardona commented on #7381
Is there any chance for part or all of the new type checker code to be reverted until the issue is fixed?

Thanks

[2022-09-08 10:51] Pierre-Sassoulas commented on #7381
@RemiCardona Without looking too much into it, the cost of fixing the issue is probably going to be smaller than the cost to partially revert (but the main problem is that we don't have contributions for either right now).

[2022-09-08 10:53] Pierre-Sassoulas commented on #7434
Don't worry. Astroid brains for very popular classes are hardcore to change. If we could remove the brain altogether and understand the code directly with astroid it would avoid a lot of problem.. but I guess dataclasses are a C extension ?

[2022-09-08 11:10] DanielNoord commented on #7381
@Pierre-Sassoulas I have been waiting on working on `Enums` more until https://github.com/PyCQA/astroid/pull/1598 gets merged. It's quite a substantial design change, but would facilitate more work on `Enums` very easily.

[2022-09-08 11:11] DanielNoord commented on #7434
Not the main issue is that `dataclasses` are created through a wrapping decorator. We have trouble understanding the wrapper and then we are unable to understand all the side effects of this wrapping function such as changing the `__init__`. I don't think we'll ever do without the brain for `dataclasses`.

[2022-09-08 12:43] mbyrnepr2 commented on #7381
It could be worth taking a look at [this change](https://github.com/PyCQA/pylint/pull/7012). If I revert that one locally, I can't reproduce using the following example, provided in the comment above
<details>
<summary>example from the comment</summary>

[code]
</details>

[2022-09-08 14:28] mjhaye opened #7437 "False positives with modified dataclass decorator and default value via field"
### Bug description

When building my own dataclass decorator based on the stdlib dataclass, the type of the fields initialized via a field call is inferred incorrectly. This triggers errors every time the field is accessed (and thus this cannot be silenced locally).

[code]

I did some research in the issues here and at astroid and it appears to be related to the difficulty to determine if an obj

[2022-09-08 21:51] mbyrnepr2 commented on #7435
I see how this could be a false positive. From [PEP3119](https://peps.python.org/pep-3119/):

_Unlike Java’s abstract methods or C++’s pure abstract methods, abstract methods as defined here may have an implementation. This implementation can be called via the super mechanism from the class that overrides it. This could be useful as an end-point for a super-call in framework using cooperative mult

[2022-09-09 02:40] idiomaticrefactoring opened #7438 "features for refactoring non-idiomaitc code with Python idioms"
### Current problem

Recently, [a paper](https://arxiv.org/abs/2207.05613) could automatically refactor non-idiomatic Python code with nine Python idioms: List/set/dict-comprehension, chain-comparison, truth-value-test, loop-else, star-in-function-call, assign-multiple-targets, for-multiple-targets.  And they pulled some requests to GitHub projects and many project members like the feature. And so

[2022-09-09 05:00] dgutson opened #7439 "Find similarities within files"
### Current problem

I'm trying to find code clones within a single file, but symilar needs at least two files. Comparing twice the same file brings 100% of duplication, as expected.

### Desired solution

I want to be able to provide a single file in the arguments, meaning that symilar should find similarities within that file.

Tag @qequ .

### Additional context

_No response_

[2022-09-09 05:20] dgutson commented on #7439
Maybe this could be also a command line flag `--scan-self` and yet provide a list of file names, meaning that similarity scanning will _also_ occur within each provided file

[2022-09-09 06:58] mbyrnepr2 commented on #7439
Thanks for the report. It looks like a duplicate of https://github.com/PyCQA/pylint/issues/1457

[2022-09-09 07:09] #7439 closed

[2022-09-09 07:10] Pierre-Sassoulas commented on #1457
https://github.com/PyCQA/pylint/issues/7439#issuecomment-1241510155 @dgutson

[2022-09-09 07:29] Pierre-Sassoulas commented on #7438
Thank you for creating the issue. This is something we often talk about as there's some message that give the replacement outright in text and auto fixing would make a lot of sense. But we did not have an issue for it yet.

Take for example the ``for_any_all`` checker, the expected code is clearly given in the message.

It was proposed that it would be better as a standalone command and project wi

[2022-09-09 10:07] DanielNoord commented on #7437
The issue with using `__dataclass_fields__` is that we don't have access to it when we determine what is and what isn't a dataclass.

This recognition happens when we look at the definition of a class and check its decorators. However, there is no way to determine that `mydataclass` sets the `__dataclass_fields__` attribute.

This problem is solved by https://docs.python.org/3.11/whatsnew/3.11.htm

[2022-09-09 10:21] Pierre-Sassoulas commented on #7437
Should we move this issue to astroid ?

[2022-09-09 13:47] dgutson commented on #1457
CC @qequ

[2022-09-09 13:48] dgutson commented on #1457
@Pierre-Sassoulas is this about symilar? Does `--enable=similarities` end up calling symilar?

[2022-09-09 13:52] Pierre-Sassoulas commented on #1457
Yes, symilar is embeded in pylint and raises ``duplicate-code`` messages.

[2022-09-09 17:35] bjd2385 commented on #4792
Still seeing this

[2022-09-09 18:54] tl24 commented on #7397
I also noticed something similar occurring for classes built with Pydantic BaseModel.  It uses a metaclass, which might be the issue.
[code]

[2022-09-09 20:33] DanielNoord commented on #2079
With https://github.com/PyCQA/pylint/pull/7448 we have now turned on ``mypy`` strict mode on our codebase 🎉

The only thing left to do is https://github.com/PyCQA/pylint/pull/7115, which can close this issue.
Sadly it is blocked by an `astroid` issue, but we'll get to that at some point.

Over the coming days/weeks I'll try and see if there is anything in our code that needs to be updated, but for

[2022-09-09 20:51] cr333 opened #7449 "Incorrect warning name"
`logging-fstring-formatting` in [line 275](https://github.com/PyCQA/pylint/blob/360124d8a597422cdc9e94459f87da77d18cbaea/pylint/checkers/logging.py#L265) of logging.py should probably be `logging-fstring-interpolation` (see usage in [line 265](https://github.com/PyCQA/pylint/blob/360124d8a597422cdc9e94459f87da77d18cbaea/pylint/checkers/logging.py#L265)): https://github.com/PyCQA/pylint/blob/360124

[2022-09-10 05:46] Pierre-Sassoulas commented on #7449
Thank you for opening the issue, this indeed seems suspicious.

[2022-09-10 06:32] Pierre-Sassoulas commented on #2697
Closing as a duplicate of #1457

[2022-09-10 06:32] #2697 closed

[2022-09-10 20:59] emcd opened #7452 "False positive `import-self` when attempting relative import of misspelled submodule name in a package."
### Bug description

`from . import <submodule-name>` is a frequent pattern in Python and people can misspell a submodule name. As the misspelled name should not conflict with any attribute contained in the module performing the relative import, an error about a missing module attribute would be more appropriate and less likely to produce confusion than `import-self`. It seems reasonable that `imp

[2022-09-11 07:23] Tomalak opened #7453 "Crash with .AstroidError when parsing a dict with a lambda as the key"
### Bug description

pylint crashes over this code

test.py

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No crash. :)

### Pylint version

[code]

### OS / Environment

Windows 10

### Additional dependencies

_No response_

[2022-09-11 11:46] jacobtylerwalls commented on #7399
Thanks for the report @rjarry, does PyCQA/astroid#1777 resolve your issue?

[2022-09-11 11:50] jacobtylerwalls commented on #7453
Thanks for the report, regression in 1e2094d1e9192befedef7984b0b59d9234c6a7dd.

[2022-09-11 19:53] mjhaye commented on #7437
Ah, I see. Good that 3.11 has a robust solution for this.

Maybe another solution that can work now already: I guess you can detect that a class variable is initialised via the field function of the stdlib dataclass module. Although this clearly does not catch all dataclasses, it does catch the ones that suffer from above false positives and thus could resolve this issue.

Is this a viable suggest

[2022-09-11 23:59] Cireo opened #7456 "Improper handling of symlinked directories"
### Bug description

The behavior is a bit involved, even after significant minimization from the actual problem in my environment, which involves a few orders of magnitude more files.

Symlinked source directories using relative imports leak state (similar to pythonpath) of the symlink destination when other symlinked directories at a different level are also checked in the same pylint command.

[2022-09-12 06:02] kasium opened #7457 "mailcap is missing in deprecated modules"
According to https://docs.python.org/3.11/whatsnew/3.11.html#deprecated `mailcap` is deprecated but is not part of pylint's checks yet

### Bug description

import mailcap

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Raises deprecated-module

### Pylint version

[code]

### OS / Environment

Linux

### Additional dependencies

_No response

[2022-09-12 06:09] kasium opened #7458 "Specify python upper version bound"
### Current problem

I'm maintain a library which needs to be compatible with python 3.7-3.11 (once released). To check my code quality I use pylint.
In the later python versions many modules and functions are marked for deprecation. Pylint does a great job to find e.g. imports of such modules.

However, the current deprecated check uses `sys.version_info` to check which modules should be reported

[2022-09-12 06:50] Pierre-Sassoulas commented on #7458
This is (or at least should be) [``py-version``](https://pylint.pycqa.org/en/latest/user_guide/configuration/all-options.html#py-version). Let us know is setting py-version to 3.10 does not work.

[2022-09-12 07:27] DanielNoord commented on #7452
Thanks @emcd. This is indeed a bug! I hope this gets fixed with https://github.com/PyCQA/pylint/issues/7289, but we should at least consider them at the same time!

[2022-09-12 07:38] #7453 closed

[2022-09-12 07:45] DanielNoord commented on #7458
I don't think that is the correct solution, as `py-version` allows to set the lower bound.

My suggestion is to always run `pylint` with the highest supported version as this offers both speed-ups created in the `stdlib` and better parsing of files due to changes to the internals. You can then use `py-version` to tell `pylint` to also consider older versions.

It is unfeasible to create an upper b

[2022-09-12 08:15] kasium commented on #7458
Thanks for the input. I meant the request as @DanielNoord explained. Due the complexity, I'll close the issue

[2022-09-12 08:15] #7458 closed

[2022-09-12 09:17] SeanBickle commented on #374
I experience the same behaviour (Pylint `2.15.0`, Python `3.8.13`). This behaviour seems to affect any check for which context is spread across files (cyclical imports, duplicate code).

At first I thought this was because input files were checked across different parallel workers, and therefore important context from a secondary file (e.g. duplicate code) was outside the context of the parallel w

[2022-09-12 11:49] jacobtylerwalls commented on #7456
Can you reproduce against either `pylint` 2.15.2 or `main`?

[2022-09-12 15:27] mbyrnepr2 commented on #2476
I can't reproduce using the newest Pylint:
[code]

Will close but please reopen if any queries.

[2022-09-12 15:27] #2476 closed

[2022-09-12 17:21] Cireo commented on #7456
For python 3.6.9, 2.13.9 (what I ran above) is the latest available version
[code]
when I switch to python 3.9.0, 2.15.2 is available, and I cannot reproduce
[code]

[2022-09-12 20:47] DanielNoord commented on #7456
We long support Python `3.6` and don't provide bug fix updates to the `2.13.x` versions. Sorry about that!

I'd advise updating to a new Python interpreter as `3.6` is past EOL and other tools have likely also dropped support.

[2022-09-12 20:47] #7456 closed

[2022-09-13 08:05] daogilvie commented on #7264
Hello again! I've been pondering the next stage of this, and I can't help but think that "fixing" 4 and 7 is quite a big change in behaviour. Especially compared to what we did already, which is change a silent failure into a reported failure.

In fact, some git/github archaeology tells me that pylint working this way was a deliberate decision: https://github.com/PyCQA/pylint/issues/166.

I don't

[2022-09-13 08:45] svenpanne commented on #3488
I think this issue should be re-opened, Queue is subscriptable since Python 3.9 if I see this correctly. We have to disable the whole unsubscriptable-object because of this (and other pylint/astroid shortcomings), which is a pity.

[2022-09-13 09:04] Pierre-Sassoulas commented on #3488
You're right, could you open a new issue with a code example @svenpanne ?

[2022-09-13 12:00] DanielNoord commented on #7264
Thanks for that investigation. I'm not sure I agree with the original decision but I don't think it's worth the trouble of a breaking change here.

I think the only thing left to do is make sure we have regression tests against all "sub-cases" within cases 4 and 7. So:
`load-plugins` in `pylintrc`, `init-hook` in `pylintrc` on a line **before** `load-plugins`
`load-plugins` in `pylintrc`, `init-ho

[2022-09-13 14:12] jaraco opened #7460 "False negative: expected undefined-variable when deleted variable used"
### Bug description

While working on a piece of code, `pylint` warned about an unused variable from a function parameter. Especially because the name/position of the function argument is important to the interface, the recommended "fix" for the warning was to delete the unused variable. Later changes to that function indicated the use of that variable, so it became used again. However, at this po

[2022-09-13 16:48] jacobtylerwalls commented on #7460
Same root cause as #841, `pylint` lacks control-flow awareness of `del`.

[2022-09-13 18:14] #7346 closed

[2022-09-14 04:44] jaserieger opened #7461 "Crash parsing file where a dictionaries value is being assigned to None"
### Bug description

Pylint fails to parse this file and crashes. The error is the `temp_post_data[key] = None` as removing that line works, additionally change from `for key in self.request_data:` to `for key, _ in self.request_data.items():` also works

[code]
[pylint-crash-2022-09-14-14-14-11.zip](https://github.com/PyCQA/pylint/files/9562770/pylint-crash-2022-09-14-14-14-11.zip)

### Configura

[2022-09-14 08:30] svenpanne commented on #3488
Hmmm, now I'm totally confused. It seems that pylint is correct in this respect, at least at the current state of Python's standard libs. What works (with pylint, mypy and actually running the code):
[code]
But things get confusing with `multiprocessing`:
[code]
mypy is happy with these, but both pylint and cpython itself are not: Those queues are not (yet) subscriptable by a type. What's even mor

[2022-09-14 10:09] berzi commented on #2095
I'm having this issue on a work project too. Is there any way I can help short of contributing myself (which I can't do right now since I don't know the codebase at all and don't have time to learn it currently)?

[2022-09-14 10:12] DanielNoord commented on #2095
Not really. This seems like it might actually also be solved by https://github.com/PyCQA/pylint/pull/7357 which tackles https://github.com/PyCQA/pylint/issues/7339.
However, that PR introduces a major performance regression which I haven't been able to solve as of yet..

[2022-09-14 11:55] demberto commented on #3505
@cdce8p Not yet

[code]

[2022-09-14 12:07] iulian-birlica opened #7462 "Pylint does not report undefined variable in if..else branch"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Expected some kind of undefined variable warning.

### Pylint version

[code]

### OS / Environment

No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 9.13 (stretch)
Release:	9.13
Codename:	stretch

### Additional dependencies

[2022-09-14 20:46] yilei opened #7463 "DeprecationWarning raised by Pylint's own code should generally have stacklevel=2"
### Bug description

Looks like recently Pylint has added many `DeprecationWarning` in preparation for 3.0 (great!).

However, the `warnings.warn` call doesn't specify a `stacklevel=` thus default to `1`. Example: https://github.com/PyCQA/pylint/blob/27925396c85ffc443243589a0c03e430de9d7fa5/pylint/config/arguments_provider.py#L74

This makes the warning show up at the `warnings.warn` itself, like:

[2022-09-14 22:10] kriek opened #7464 "pylint is confusing ExitStack() and AsyncExitStack() when both are used"
### Bug description

pylint is confusing ExitStack() and AsyncExitStack() when analyzing two different modules using each.

Consider as a minimized example, the following two modules.

sync.py
[code]

async.py
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

1. no finding
2. no finding
3. no finding
4. no finding

### Pylint vers

[2022-09-15 00:41] yilei commented on #7463
FYI-- I'm working on a PR for this.

[2022-09-15 01:30] papb commented on #3363
Hello @Pierre-Sassoulas and everyone, sorry to take long, but: why was this issue closed? PR #4713 does not seem to add a flag to allow failing on any informational message.

At least it seems I can now achieve it by manually adding `--fail-on` for all existing informational messages, but I don't like that. Thoughts?

[2022-09-15 02:21] papb commented on #3363
Never mind, adding the following to my `.pylintrc` worked:

[2022-09-15 06:35] Pierre-Sassoulas commented on #7464
Thank you for opening the issue. It look like it could be somewhat related to https://github.com/PyCQA/pylint/issues/4053

[2022-09-15 07:10] kriek commented on #7464
I don't see the relation: here, the modules are fully different (path and content).

[2022-09-15 09:49] MiltiadisKoutsokeras commented on #7306
The only safe and non-intrusive fix for now is `export SETUPTOOLS_ENABLE_FEATURES="legacy-editable"` in the Bash script that prepares the Python venv and installs the editable version. Since this is temporary and going to be eventually deprecated I hope there will be a more efficient solution to support the new editable install format.

[2022-09-15 10:35] Pierre-Sassoulas commented on #7306
It seems it might be a bug caused by https://github.com/pypa/setuptools/issues/3499 that affects setuptools ``64.0.0`` but was fixed in ``64.0.1`` ?

[2022-09-15 10:36] #7463 closed

[2022-09-15 14:08] akaihola commented on #7429
I still have this issue with this source file (a minimal non-real-life example):
[code]

[code]

[code]

I guess I'll file a separate issue about that.

[2022-09-15 14:13] akaihola opened #7467 "Even after #7429 merged, a crash AttributeError: 'ClassDef' object has no attribute 'value'"
### Bug description

When parsing the following file, Pylint crashes:

[code]

Pylint versions prior to 2.9 run fine on the same file.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Expect pylint to not crash

### Pylint version

[code]

### OS / Environment

NixOS 22.05

### Additional dependencies

_No response_

[2022-09-15 14:19] clavedeluna commented on #6692
What's the consensus on implementation? Is fixing the issue as stated originally the way to go?

[2022-09-15 16:12] Pierre-Sassoulas commented on #6692
The issue as originally stated is not a false positive, what should be implemented now is the check talked about in the last comment.

[2022-09-15 20:42] mbyrnepr2 commented on #7381
I see it also in a simple example:
[code]

[code]

[code]

[2022-09-15 20:47] clo-vis opened #7470 "False positive with match/case (but not with if/elif/else)"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No errors.

### Pylint version

[code]

### OS / Environment

Microsoft Windows [Version 10.0.19042.1889]

### Additional dependencies

_No response_

[2022-09-15 22:31] yilei opened #7471 "--help-msg no longer accepts comma separate messages since v2.14.0"
I'm not sure if this is intentional since I don't find it mentioned anywhere in the changelog.

In v2.13.9:

[code]

In v2.14.0:

[code]

Possibly a side effect when migrating to `argparse`?

I don't think this is a big deal, and not sure if there are other similar affected flags. But it might be still worth mentioning somewhere about this change.

[2022-09-15 22:54] jacobtylerwalls commented on #7462
Thanks for the report. `undefined-variable` and `used-before-assignment` are almost synonymous. Duplicate of #1727

[2022-09-15 22:54] #7462 closed

[2022-09-15 23:15] jacobtylerwalls commented on #7461
Thanks for the report, regression in bcd4ca3052411e8c0823712d38cb970e354713f6.

[2022-09-16 05:41] Pierre-Sassoulas commented on #7471
There's an argument to be made that if it works for `--enable` or `--disable` then it should also work for `--help-msg`.

[2022-09-16 05:43] #7457 closed

[2022-09-16 07:24] #7461 closed

[2022-09-16 09:00] daogilvie commented on #7264
The bottom two are already present: https://github.com/PyCQA/pylint/blob/fb30fe09d74de3dad2472309fb24396b65b8b81d/tests/lint/unittest_lint.py#L665-L707

I will open a PR with the order-independence tests for the pylintrc case today.

[2022-09-16 09:18] daogilvie commented on #7264
Annoyingly, it looks like those 2 tests that I already added are not valid. For reasons I don't understand, and have just discovered by trying to add new tests, the path they are "adding" to the sys path is already in there, before the `init-hook` does anything. I did not think to check for this when I added those tests previously. I'll rewrite them to use a path that doesn't exist, like my more i

[2022-09-16 09:26] DanielNoord commented on #7471
I need to have a look why this no longer works. It could be that this is the result of using `argparse`, it tends to parse arguments just slightly different compared to `optparse`. But I agree, if it isn't too much hassle we should probably support this!

[2022-09-16 09:42] JonathanRohland-TNG opened #7474 "False positive: Various dict-access checks fail when using NewType for Dict[str,str]"
### Bug description

When using a NewType type definition based on `Dict[str,str]` and using regular dict-access methods, this generates various false positive warnings, e.g. `unsupported-assignment-operation`, `unsubscriptable-object`.

Sample code:
[code]

Possibly related issues:
For Tuples: https://github.com/PyCQA/pylint/issues/4944
For Lists: https://github.com/PyCQA/pylint/issues/2296

###

[2022-09-16 10:32] daogilvie commented on #7264
Ok so I actually had to fix-up all the tests I had written, because I didn't quite understand how the checker names were actually used in the test. All sorted in #7475. Between that and #7276 I think that's everything that this issue has thrown up.

[2022-09-16 11:34] jacobtylerwalls commented on #7474
Thanks for the report. We could probably close all of the `NewType` issues as duplicates of #2296. We need `astroid` to know that NewType callables return instances of the parameter passed in.

[2022-09-16 11:42] Pierre-Sassoulas commented on #7474
Current ``NewType`` bugs afaik :  #2296, #3162, #4944, #4961

[2022-09-16 14:00] #7467 closed

[2022-09-16 17:26] Gornoka opened #7478 "False Positive : unsupported-binary-operation when type hinting bool and None"
### Bug description

When executed on linux, pylint does not allow type hints with | operators.
Example file:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]
[code]

### OS / Environment

Windows11 python 3.10

Ubuntu 20.04 in wsl on windows and on github runner, if desired i can check bare metal next week

### Additional dependencies

_No response_

[2022-09-16 18:25] Pierre-Sassoulas commented on #7478
pylint is right here, you're analyzing your example with python 3.8 under linux, the ``|``operator for types union is not available until python 3.10 (unless you use ``from __future__ import annotations``). You could also use 3.10 for linux.

[2022-09-16 18:25] #7478 closed

[2022-09-16 18:56] mbyrnepr2 commented on #6900
Hi! I notice that there exists a plugin called `pylint-pydantic` [github](https://github.com/fcfangcc/pylint-pydantic) [PyPI](https://pypi.org/project/pylint-pydantic/#description)

The error reported in this issue is supressed by pylint-pydantic:
[code]

Would it be acceptable to defer to pylint-pydantic for this library-specific case, what do you think?

[2022-09-16 19:06] berzi commented on #6900
That is not a bad idea and thank you for finding it. I would still at least mention it in the documentation somewhere to make it more visibile (pydantic for example does the same to highlight plugins that silence false-positives related to pydantic code).

[2022-09-16 20:18] Pierre-Sassoulas commented on #6900
Could you confirm ``pylint-pydantic`` work for you @berzi ? Letting an external plugin handle that would be great but it has very few stars and adding it to our doc would drive a lot of traffic to it, we should make sure it's ready for it.

[2022-09-16 20:20] berzi commented on #6900
Sure. I'll make you know on Monday.

[2022-09-16 21:02] mbyrnepr2 commented on #5728
I think this has been achieved via https://github.com/PyCQA/pylint/pull/6974. Can we close @Pierre-Sassoulas?

[2022-09-16 22:32] mbyrnepr2 commented on #5113
I think we can close once https://github.com/PyCQA/pylint/pull/5593 is merged (functional test).

[2022-09-17 06:07] Pierre-Sassoulas commented on #5728
Sure, thank you for noticing !

[2022-09-17 06:07] #5728 closed

[2022-09-17 06:27] #5113 closed

[2022-09-17 10:57] phst commented on #7003
I don't think this is fixed.

[code]

That is, Pylint now thinks that it should lint a file named `--`. Instead, it should skip the `--` argument.

[2022-09-17 11:41] DanielNoord commented on #7003
Hm, that's weird. My test might not be good enough.

Putting this on my TODO list.

[2022-09-17 14:09] #7399 closed

[2022-09-18 10:30] DanielNoord commented on #7003
@Pierre-Sassoulas Based on previous knowledge I think this should be a quick fix. If possible I'd like to get this into the patch release as well. I'll tell you after fixing the open PR if I can get a quick PR in for this as well!

[2022-09-18 13:04] cclauss opened #7484 "pylint --generate-toml-config was incorrect on PyCQA/astroid"
### Bug description

In PyCQA/astroid#1793, I ran `pylint --generate-toml-config` but then two pylint tests failed.  To get them to pass, I had to add `disable = ["bad-builtin", "useless-suppression"]`.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

plint passes on GitHub Action Check

### Pylint version

[code]

### OS / Environment

[2022-09-18 20:25] cclauss opened #7485 "Add a minimal option to pylint --generate-toml-config"
### Current problem

`pylint --generate-toml-config` can produce 500+ lines of TOML config and comment.  This is a lot of text to understand, search, and edit compared to the configuration of other tools.  Can we create a far less chatty version `pylint --generate-toml-config` that strips all settings that match the pylint default and all nonessential comments.

### Desired solution

A _default va

[2022-09-18 23:53] vainaixr opened #7486 "pydantic BaseModel E0611"
### Bug description

I do
[code]
pylint says
[code]
plus I do,
[code]
it says R0903, too few public methods

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

there should be no issue with importing BaseModel from pydantic
if you see the way pydantic is used, both the issues should not be there

### Pylint version

[code]

### OS / Enviro

[2022-09-19 03:55] LucaRood opened #7487 "False positive: `no-member` when inner function uses the `@classmethod` decorator"
### Bug description

[code]
Pylint seems to think that `inner` is a member of the `test` object, while in reality, it is not known at this point what `inner` might eventually be bound to.

Also note that this issue only occurs when using the `@` decorator syntax. With `classmethod(inner)` the issue does not occur.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[cod

[2022-09-19 06:16] skshetry opened #7488 "pylint crashes when importing submodule from a module of same name as the current file"
### Bug description

Let's say you have the following directory structure:
[code]

and `celery.py` has a content `import celery.result`.

You can generate the above result using:
[code]

This crashes pylint. See below for the traceback. Note that `astroid==2.12.9` works, it's probably a regression in `2.12.10`

### Configuration

_No response_

### Command used

[code]

### Pylint output

### Expe

[2022-09-19 07:21] #4809 closed

[2022-09-19 08:24] DanielNoord commented on #7471
Going to look into another solution which won't be that easy.

[2022-09-19 09:01] DanielNoord commented on #7485
This will be available with https://github.com/PyCQA/pylint/pull/7489

It can be invoked with ``pylint-config generate --interactive``.
To take a previous `rcfile` into account use ``pylint-config --rcfile=MYFILE generate --interactive``

[2022-09-19 10:23] mbyrnepr2 commented on #7486
Thank you for the report @vainaixr.

Using the following option suppresses both issues reported by your example:

[code]

[2022-09-19 11:10] DanielNoord commented on #7003
I[m going to look into another solution which will take some more time. Moving this from the milestone.

[2022-09-19 12:06] #7471 closed

[2022-09-19 12:08] #7486 closed

[2022-09-19 12:13] #7485 closed

[2022-09-19 12:19] vainaixr commented on #7486
even SQLModel uses similar class attributes convention, do I keep adding all libraries to whitelist.
the whitelist solution is a workaround, could the first one that is no name in the module be solved?
the second one is related to creating a class with only class attributes in it, I think so, that should also be allowed, considering even more libraries use a similar convention.

[2022-09-19 12:25] Pierre-Sassoulas commented on #7486
You can also use ``--unsafe-load-any-extension=y``. Be aware though that using this flag means that extensions are loaded into the active Python interpreter and may run arbitrary code, which you may not want. This is the reason why we disable by default loading C extensions.

You can disable ``too-few-public-methods`` if you don't like it, we're also going to make it optional in #3512

[2022-09-19 15:48] cclauss commented on #7485
Can we please reopen this issue?

I did `pylint-config --rcfile=pylintrc generate --interactive .` in the `astroid` repo and selected `t` and then `my_file.toml`.  The result was a 551-line file which is clearly not what this issue was targeting.  The file was chock full of comments and default values and ended with three blank lines which will trigger other pre-commit tools like `end-of-file-fixe

[2022-09-19 15:50] DanielNoord commented on #7485
Did you use the version on the `main` branch? The PR that fixed this was not back ported to the just released version as it contained a new feature. We only put fixes in the patch releases to guard against potential new regressions in new features.

[2022-09-19 17:08] avylove opened #7494 "Check for raise Exception or BaseException"
### Current problem

Linting a codebase with a lot of `raise Exception()` statements. This is a bad practice as it makes it impossible to write narrow exception clauses.

### Desired solution

Forgive me if I missed it, but as far as I can tell, a check doesn't currently exist. The check should fail when an instance of `Exception` or `BaseException` is raised directly.

[2022-09-19 17:14] Pierre-Sassoulas commented on #7494
That would be [``broad-except``](https://pylint.pycqa.org/en/latest/user_guide/messages/warning/broad-except.html), can you try to enable it ?

[2022-09-19 17:22] avylove commented on #7494
Isn't `broad-except` on the catch side, not the raise side?

[2022-09-19 17:47] Pierre-Sassoulas commented on #7494
Ha, right !

[2022-09-19 19:34] jack1142 opened #7495 "overgeneral-exceptions doesn't work for exceptions outside builtins"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I expected to get `broad-except` message for line 9 (which is not happening regardless of whether `except Exception` is there or not).

This is also reproducible when making a whole package and referring to the exception class using `package.GeneralException` n

[2022-09-19 20:24] DanielNoord commented on #5701
I have a solution for this in https://github.com/PyCQA/pylint/pull/7496 that is non-breaking. Anybody who is looking for this feature is more than welcome to test it out and give feedback. This is crucial behaviour so I'm very wary of any backward incompatible changes, ironing those out before release is crucial.

[2022-09-19 20:28] DanielNoord commented on #7495
For some reason we check whether the exception is in `builtins` here:
https://github.com/PyCQA/pylint/blob/7ef145b9a7042ab884aa2d7b554fcdd96768815a/pylint/checkers/exceptions.py#L554

I'd be happy to review a PR that removes this check, it does indeed seem silly.

[2022-09-19 20:35] jack1142 commented on #7495
Do you think pylint should only check the name, or should it try matching the module name if a dotted name is provided and built-in if not?

The only public usage I could find was my own (using the dotted name) and Home Assistant (using just the exception name), everyone else who specifies `overgeneral-exceptions` only specifies one or more of `Exception`, `BaseException`, and `StandardError` (whi

[2022-09-19 20:39] DanielNoord commented on #7495
Perhaps do:
[code]

So, for `Exception` and `BaseException` allow not having them as qualified names and for all others make sure they should include the module name. This is backwards incompatible but since the current form is completely unusable we can get away with this I think.
Personally I would even prefer if we could issue a `DeprecationWarning` for `Exception` and not `builtins.Exception`

[2022-09-19 21:08] mbyrnepr2 commented on #7488
I've tried reproducing with the reported Pylint/astroid/Python versions but no luck.

[2022-09-19 21:58] clavedeluna commented on #4562
I took a stab at fixing this issue but came across a roadblock.

Basically, pylint correctly identifies `obj.value += 1` because of this code

[code]

but it doesn't identify `obj.value = 1 + obj.value` because this isn't an AugAssign, even though these two statements are equivalent.

So I tried to add breakpoints and try to make the two be equivalent, by adding

[code]
As a starting point, but th

[2022-09-19 22:05] clavedeluna commented on #7124
Happy to pick this up but just to verify, is the ask to change this output

 Method 'make_sound' is abstract in class 'Panther' but is not overridden (abstract-method)

to this?

 Method 'make_sound' is abstract in class 'Panther' but is not overridden in child class `PantherChild` (abstract-method)

?

[2022-09-19 22:12] DanielNoord commented on #7124
Yes! That makes the error a little bit more actionable!

[2022-09-19 22:32] clavedeluna commented on #3179
Testing with pylint 2.15.3, no negative numbers are output, instead, both outputs receive 0.

[code]

`Your code has been rated at 0.00/10 (`

and

[code]

`Your code has been rated at 0.00/10`

The spirit of the issue continues to be valid:  you'd think that as a user removes one code issue, the score would increase. However, given the few line statements and the computation done
`'max(0, 0 if fa

[2022-09-20 00:21] jack1142 opened #7498 "Skip redundant-returns-doc if function always raises"
### Current problem

Suppose you had a `Klass` class:
[code]
which is meant to be subclassed by your users and has a method that can be *optionally* overridden (like `optional_method()` above).
When users are overriding `optional_method` in their subclass of `Klass`, they are expected to return some value from it. To make it clear how the method is supposed to work, I would want to be able to docu

[2022-09-20 01:47] jack1142 opened #7500 "not-callable: manually constructed `types.FunctionType` is not considered callable"
### Bug description

[code]

A more complete example of public code constructing `types.FunctionCode` object can be found at:
https://github.com/python/cpython/blob/34de67c094776bdc719d87f8810e053a2acc915a/Lib/asyncio/__main__.py#L32

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error.

### Pylint version

[code]

### OS / Environ

[2022-09-20 03:16] skshetry commented on #7488
Looking closely, it seems like this is happening when `pylint_pytest` plugin is used. Sorry, the traceback made me think that it was `pylint`.

[code]

[2022-09-20 03:48] fmigneault opened #7501 "False positive E1143 unhashable-member with class type as key"
### Bug description

A class type used as key for a dict is valid, but is incorrectly reported as unhashable.

See Expected Behavior for example.

### Configuration

https://github.com/crim-ca/weaver/blob/master/.pylintrc

### Command used

[code]

### Pylint output

[code]

### Expected behavior

The specific class I used is defined here: https://github.com/crim-ca/weaver/blob/master/weaver/datat

[2022-09-20 03:59] #7488 closed

[2022-09-20 04:15] Pierre-Sassoulas commented on #3179
At this point using a log for values ranging from infinite negative to 1 so it's instead in the 0 to 1 range, then the normal formula would work imo.

[2022-09-20 04:19] Pierre-Sassoulas commented on #4562
I would check what is inside the AST node when the code is ``obj.value = 1 + obj.value`` (with prints or pdb) and then also skip that kind of node on top of augmented assignment.

[2022-09-20 07:46] DanielNoord commented on #4562
I think you'll need a `isinstance(x, nodes.BinOp) and x.op == "+="`. I believe the `=` is part of the `op` attribute.

[2022-09-20 08:09] DanielNoord commented on #7498
I don't think this is feasible. We rely on `astroid.nodes.FunctionDef.is_abstract`:
https://github.com/PyCQA/astroid/blob/849d043f3e3cd63881ba919ccba4e6a726947d22/astroid/nodes/scoped_nodes/scoped_nodes.py#L1634

This is a fairly robust and time-tested method which shows whether we should consider something an abstract method and even supports patterns that were common when the `abc` package didn'

[2022-09-20 08:11] #7264 closed

[2022-09-20 10:25] mbyrnepr2 commented on #7501
Thank you for for the report @fmigneault!

I can reproduce using a simplified example which is possibly the same root-cause:
[code]

[2022-09-20 11:24] clavedeluna commented on #3179
Let's see if I understood your suggestion. Trying out

`max(0, 0 if 0 else 10.0 - math.log((float(5 * 1 + 2 + 0 + 0) / 3) * 10))` ==> 6.85
`max(0, 0 if 0 else 10.0 - math.log((float(5 * 1 + 1 + 0 + 0) / 2) * 10))` ==> 6.59

looks better but results in the same issue in which we've reduced the warnings count (and hence the number of statements) and so the score goes down, which isn't what we want.

[2022-09-20 11:52] #7124 closed

[2022-09-20 12:19] Gornoka commented on #7478
For anyone running into the same thing
The problem also existed on 3.10 systems because the RCfile was created at a python3.8 system back in the day,

The issue there was slightly different and not represented correctly by the description above.

The RCFILE has a `py-version` setting for the lowest python version to expect for version dependant features like typing, this appears to be created auto

[2022-09-20 12:21] clavedeluna commented on #4562
`=` will not be part of the op attribute because the operation in `obj.value = 1 + obj.value` is `+`.

I'm getting a bit closer with this check
[code]

because it checks that we're assigning and that there's a bin operation to +
the problem is that now this is flagged as no-member in regression_2964.py

`self.__path = path + (self,)`

which is fair... I have to somehow figure out if the assigning

[2022-09-20 14:39] mbyrnepr2 commented on #7235
Without the `extension-pkg-whitelist=pydantic` option, Pylint cannot parse Pydantic's `BaseModel`. This part is similar to the discussion in https://github.com/PyCQA/pylint/issues/7486 which we closed yesterday.
With this option included, Pylint sees 13 public methods & will not emit `too-few-public-methods` (when using the default value of `min-public-methods=2`):

[code]

To demonstrate expected

[2022-09-20 14:52] clavedeluna commented on #2567
I'm not able to reproduce this second issue, but I am able to reproduce original issue raised at the top.

[2022-09-20 15:04] jack1142 commented on #7498
Hmm, I was sure I tested it with NotImplementedError but I guess I didn't because it clearly work when raising that instead :)

Before closing as won't fix (better documentation would be nice so IMO keeping it open would make sense but I *personally* won't work on improving the documentation for this), what do you think about checking MRO for `NotImplementedError`?

[2022-09-20 15:46] DanielNoord commented on #7498
What do you mean by this?

I'm not sure myself if we are really lacking here. So without any immediate suggestions I think holding an issue open about a small documentation issue where nobody has an immediate solution just clutters the tracker.

[2022-09-20 15:48] jack1142 commented on #7498
I mean including subclasses of `NotImplementedError` in the mentioned is abstract check.

[2022-09-20 15:53] DanielNoord commented on #7498
We could, but that would add additional inference calls to something that's arguably working fine. Is there a reason why subclassing the exception instead of using the normal `NotImplementedError` or just using `abc` is better? I guess you could do:

[code]

We use a similar pattern to catch all errors caused by `astroid`. However, how many times will a library actually want to raise `PylintImplem

[2022-09-20 16:12] #7390 closed

[2022-09-20 16:14] jack1142 commented on #7498
I guess there isn't much reason. I was thinking of a way to switch from custom exception to NotImplementedError without breakage and replacing the custom exception to subclass from `NotImplementedError` rather than `Exception` seemed like a potential option. But thinking about it more, I might as well remove custom exception and set custom exception's name in the module as an alias for `NotImpleme

[2022-09-20 16:15] DanielNoord commented on #7498
I'm closing this then! Anybody who finds this issue and has a good suggestion for a documentation improvement is more than welcome to open a PR 😄

[2022-09-20 16:15] #7498 closed

[2022-09-20 18:17] yilei opened #7506 "False positive of unused-import since v2.15.0"
### Bug description

Given the following code:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No `unused-import` should be raised

### Pylint version

[code]

This cannot be reproduced in v2.14.5.
[code]

[2022-09-20 18:25] mbyrnepr2 commented on #7506
Thank you @yilei. I can reproduce on the latest version of Pylint/astroid & also see no false positive on Pylint==2.14.5:
[code]

[2022-09-20 19:49] clavedeluna commented on #3232
I've started work on this and got
[code]

but wanted to check if we want both a warning and a crash (sys.exit) or just a warning. With the crash I have to update quite a few tests so I wanted to make sure before investing that time.

[2022-09-20 20:03] Pierre-Sassoulas commented on #7235
Yes, let's rely on pylint-pydantic for that.

[2022-09-20 20:30] jack1142 opened #7507 "Method with variadic args/kwargs but no `self` reports `no-method-argument` instead of `no-self-argument`"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

I expected to see `no-self-argument` when a method has `*args` or `**kwargs` rather than `no-method-argument` as the latter is quite confusing as the method does have arguments.

### Pylint version

[code]

### OS / Environment

Kubuntu 22.04.1 LTS

### Additio

[2022-09-20 21:39] #7235 closed

[2022-09-21 09:33] mbyrnepr2 commented on #7507
I think that makes sense. Thank you for reporting it.

[2022-09-21 10:52] berzi commented on #6900
I can confirm that installing `pylint-pydantic` and enabling it:

[code]

Makes the error go away. :)

On Fri, 16 Sep 2022, 22:18 Pierre Sassoulas ***@***.***>
wrote:

[2022-09-21 11:05] DanielNoord commented on #3232
Tagging @Pierre-Sassoulas for an opinion on this!

[2022-09-21 11:10] DanielNoord commented on #4562
You might want to check if we don't have a helper function for this in `pylint.checkers.utils`. If not something like this might work:

[code]

[2022-09-21 11:14] DanielNoord commented on #7478
This is "intended behaviour". `--generate-rcfile`, `--generate-toml-config` and `pylint-config` all use the current settings + default values. If you don't set `py-version` yourself then we take the default. This is the interpreter that is being used to run, like you expected. However, when we then "write down" this default value you get the issue where we use the interpreter that is being used to

[2022-09-21 13:08] jacobtylerwalls commented on #7506
We knew there was a risk of causing this false positive in https://github.com/PyCQA/astroid/pull/1622, but I thought we checked that we handled it (I suppose not). Closely related to #1630 (might need to broaden that issue title back out).

[2022-09-21 13:19] DanielNoord commented on #7506
Should this be fixed in `astroid` or should `pylint` also check the bases of a `ClassDef` for "used-imports"?

[2022-09-21 13:35] bzah commented on #7389
I think I face the same error with `pylint 2.15.3` and `astroid 2.12.10`.:
Here is a MRE using xarray library:
[code]
If this code is in a standalone file, say `mre.py`, pylint runs fine.
However, if it's within a `__init__.py` file or in a file imported in a `__init__.py`, it crashes with the recursion error of @AnasTaherGit

[2022-09-21 14:04] clavedeluna commented on #7507
It would also be a nice to have that the wording for both `no-method-argument` and `no-self-argument` include the method name, that is

`Method has no argument (no-method-argument)`
` Method should have "self" as first argument (no-self-argument)`

to be

`Method NAME has no argument (no-method-argument)`
` Method NAME should have "self" as first argument (no-self-argument)`

[2022-09-21 14:05] clavedeluna commented on #7494
What should the linter name be here, `broad-raise`?

[2022-09-21 14:17] ruancomelli opened #7508 "The messages `E0106` and `W1502` seem to be unreachable"
### Question

The messages [`E0106: return-arg-in-generator`](https://github.com/PyCQA/pylint/blob/2b6bd64d43ed109b1ee15f0993c010660cf56b13/pylint/checkers/base/basic_error_checker.py#L134-L141) and [`W1502: boolean-datetime`](https://github.com/PyCQA/pylint/blob/40c9e66e4756e76318469f1484602ca92d505d3f/pylint/checkers/stdlib.py#L355-L363) seem to be unreachable, i.e., there is no way to trigger t

[2022-09-21 14:22] DanielNoord commented on #7508
Both of those should probably take `py-version` into account. It is quite recent addition so it makes sense that older checkers don't make use of that config yet.

Both should probably be tackled in their own issue and PR to make review easier. Would you mind opening a new issue for the second issue? I think the `bug` template makes the most sense here.

[2022-09-21 17:55] Pierre-Sassoulas commented on #6900
Thank you ! Let's close this issue once pylint-pydantic is documented on our side. We should also talk about other plugins at least about pylint-django at the same time.

[2022-09-21 18:09] mbyrnepr2 commented on #3765
Looks like this one has been fixed along the way - it looks like its thanks to [this logic](https://github.com/PyCQA/pylint/blob/main/pylint/checkers/variables.py#L2830-L2832).

[2022-09-21 18:14] #3765 closed

[2022-09-21 18:23] Pierre-Sassoulas commented on #7508
Thank you @ruancomelli, great catch and well detailed issue.

[2022-09-21 18:26] Pierre-Sassoulas commented on #7494
I'm thinking that we could rename broad-except to broad-exception-caught and name this one broad-exception-raised. We need to use 'old-names' for that.

[2022-09-21 18:42] Pierre-Sassoulas commented on #7478
I don't see a reasonable solution to this. We have an issue with the generated pylintrc not being the same depending on interpreter or enchant install so we can't check that it's up to date on the pipeline (can't link I'm on mobile), but I don't know if permitting to set the value to 'default' in the pylintrc is right. It would make the python version change depending on the interpreter which is t

[2022-09-21 18:50] Pierre-Sassoulas commented on #3232
I'm not super up to date on this issue but imo if the result would be rubbish and plain wrong we need to crash, if it's still usable with a possible issue and we're not sure about it then we should warn.

[2022-09-21 19:07] clavedeluna commented on #7494
That's a way to handle backward compat, right? Or since this is a breaking change would this only be released in pylint 3.x? Trying to understand where to put this PR to

[2022-09-21 19:09] clavedeluna commented on #3232
Given original statement

sounds like we should indeed crash.

[2022-09-21 19:18] Pierre-Sassoulas commented on #7494
Yes, old names handle the backward compatibility so that it's not a breaking change. See C0111 /missing-docstring for example.

[2022-09-21 23:47] Gornoka commented on #7478
You are probably right, changing the entire config machinery to make one edge case more predictable is most definitely not worth the hassle.

I think a hint on the `--generate-rc` docs describing  which information will commonly be inferred from the environment would be nice, as this is not really obvious for new users. Are you aware of anything else that behaves like py-version?

[2022-09-22 05:14] nifx opened #7511 "output-format=pylint_gitlab.GitlabCodeClimateReporter not working since 2.15.x"
### Bug description

As a starting point, I work with the following package versions:

[code]

I generated a dummy.py with the following content:
[code]

Then, I start pylint:

[code]

Here, the output is totally fine.
Afterwards, I change the output format:

[code]

Again, the output is totally fine.
When I update pylint to 2.15.x (e.g. 2.15.3), I observe the following:

- output of my example wi

[2022-09-22 05:33] Pierre-Sassoulas commented on #7511
Thank you for opening the issue. It look like an issue in the plugin, could you also open an issue in pylint-gitlab, please ?

[2022-09-22 05:39] Pierre-Sassoulas commented on #7478
Just a thought, maybe py-version's default should be 3.7.2 (the oldest interpreter pylint support).

The other example is the enchant dictionary used for spelling check.

[2022-09-22 05:46] nifx commented on #7511
Thanks for the fast feedback:
I opened an issue at pylint-gitlab ->  https://gitlab.com/smueller18/pylint-gitlab/-/issues/17

[2022-09-22 06:22] DanielNoord commented on #7478
I think that might be annoying if you try to run `pylint` on a simple script/project without any setup or configuration files. I want to run that script on the interpreter I'm working on, not on the interpreter that one of my tools or IDE-integrated tools supports.

[2022-09-22 06:51] Pierre-Sassoulas commented on #7478
Right, that would be very unfriendly to first time users.

I think we'll have to document better that when you generate some value will use your system defaults and you need to take special care before using it for your team.

[2022-09-22 10:50] kriek commented on #7464
The problem is around pop_all() method. In contextlib.py, both ExitStack and AsyncExitStack are inheriting their pop_all() method from _BaseExitStack whose implementation looks like:
[code]
It seems pylint is inferring the type of pop_all() return type once and then re-using the same type again whatever the derived class is.
My understanding is incomplete because I failed to reproduce the issue by

[2022-09-22 11:40] rkr87 commented on #2607
I'm seeing this issue when working with Pydantic, however, I'm not sure if it's a PyLint or a Pydantic issue.

I've have the classes below;
[code]

Both `Tags` and `Shortcuts` result in Pylint giving a `Too few public methods (0/2) pylint(too-few-public-methods)` warning, despite the fact that there's three public methods in `RootDictModel`.

[2022-09-22 11:42] Pierre-Sassoulas commented on #7464
Thank you for investigating, this root cause look like something that could fix a bunch of other bugs too.

[2022-09-22 11:54] #7039 closed

[2022-09-22 11:54] #6900 closed

[2022-09-22 13:16] avylove opened #7515 "Accept regexes in ignored-parents"
### Current problem

I'm currently linting a code base which heavily uses a library that loves mixins raising multiple failures for `too-many-ancestors`. While I can use the `ignored-parents` option to tune this, I have to find the qualified name of the parents and maintain this list as the code changes.

### Desired solution

Support regexes in ignored-parents. This would allow entries like `mixi

[2022-09-22 14:17] tulinski opened #7516 "pylint -j2 with stdout redirect fails with RecursionError"
### Bug description

When pylint is run with multiple processes (-j flag) and stdout is redirected to a file it throws RecursionError-s infinitely.
The same command without stdout redirection runs properly.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Pylint works correctly with and without stdout redirection.

### Pylint version

[

[2022-09-22 14:24] DanielNoord commented on #7516
You need to update your local version of `colorama` I think. It seems like you're using a version we no longer support.

[2022-09-22 14:55] eftalgezer commented on #1770
This bug still exists.

[2022-09-22 15:04] DanielNoord commented on #1770
Without any reproducing code we're unlikely to be able to solve an issue. As this has been closed quite some time ago and new issues didn't actually lead to the return of the issue I think it might be better to open a new issue if you have reproducing code.

[2022-09-22 15:26] DanielNoord commented on #4048
DOesn't this build on either type inference or control flow? What if `param` is `IHaveANameAttribute | bool`? This seems like it fits `mypy` more than it fits us.

[2022-09-22 16:35] clavedeluna commented on #2583
I would argue this isn't a minor issue but maybe I'm not quite familiar with all the code yet. I tracked this down and I'm pretty sure this needs to be fixed in astroid.

Basically, the reason the in this example

[code]

`test.bar` doesn't get identified as `unused-import` is because by calling `test.foo.test`, because both bar and foo share the same directory `test`, then they both appear under

[2022-09-22 18:12] #7516 closed

[2022-09-22 19:10] kriek commented on #7464
You are welcome, I'm glad to give back a bit to pylint.

I've pushed my investigation further and was finally able to reproduce the problem out of contextlib usage.

Consider the following two files, pylint finds 3 no-member issues in them:

- the first one is the one originally reported
- the two others are the outcome I experienced in my previous comment (pylint inferring the base type)

other.p

[2022-09-22 20:19] Pierre-Sassoulas commented on #7464
Do you want to go further and try to fix this ? I can help you. I would start by adding a functional test  with the content of your example in https://github.com/PyCQA/pylint/tree/main/tests/functional/n, then launch the test with ``pytest -k name_of_the_file``.

[2022-09-22 20:21] Pierre-Sassoulas commented on #2607
Can you try using ``pylint-pydantic`` to see if it fixes the issue ? If you find a reproducer without using pydantic it would help tremendously to troubleshoot this in pylint directly :)

[2022-09-22 20:32] Pierre-Sassoulas commented on #7507
Yeah, having the name of the method would definitely be better for CLI use. (it's probably not the case because in IDE you know the name: it's the function you're hovering)

[2022-09-22 20:39] Pierre-Sassoulas commented on #3179
I was thinking of something like ``math.log(x) if x < 1 else x`` with x = ``10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10))``. To be fair this is getting really complicated and at this point we might want to do a special case internally if the current option is not user defined.

[2022-09-22 21:32] #3391 closed

[2022-09-22 21:38] EugeneZelenko commented on #3391
@DanielNoord: Thank you!

[2022-09-23 07:59] kriek commented on #7464
I'd like to ! Thanks for your support offer, I'll start as you recommended.

[2022-09-23 08:28] DanielNoord commented on #7464
I would start looking into the `astroid` internals. I think our support for `type()` calls is minimal as it is hard to determine what the result is based on a passed argument that can change depending on the caller.

[code]

I would probably start looking here. Both of these currently return `Uninferable`.

[2022-09-23 09:20] bersbersbers opened #7519 "False-positive W0143:comparison-with-callable with PySide6 and `__feature__`"
### Bug description

from PySide6.QtWidgets import QApplication, QSlider

from __feature__ import snake_case, true_property  # isort: skip

QApplication()
slider = QSlider()
print(slider.maximum)
print(slider.maximum == 99)

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No warning about the callable.

### Pylint version

[code]

### O

[2022-09-23 09:29] tulinski commented on #7516
Thank you @DanielNoord for a prompt response. Why pylint does not require colorama>=0.4.5 then?

[2022-09-23 09:30] DanielNoord commented on #7516
We do! You can check our `pyproject.toml`.

[2022-09-23 09:31] DanielNoord commented on #7516
Although we don't do so on Linux. I didn't know `colorama` was used on Linux... Isn't it a Windows tool?

[2022-09-23 09:31] tulinski commented on #7516
Why for sys_platform=='win32' then? :)

[2022-09-23 09:36] tulinski commented on #7516
I'm not sure. It is somehow in my stack trace, though. ;)

[2022-09-23 09:39] DanielNoord commented on #7516
The problem is that I don't think we can set dependencies based on the environment.
We don't want users to have to install `colorama` on Linux or Mac as it is unnecessary. But we can't say: if you're on Linux don't install `colorama` but if you do, install this and that version.

I'll have a look at our code to see if I can put the `colorama` behind a platform check but I think it already is.

[2022-09-23 09:49] tulinski commented on #7516
@DanielNoord, thanks for clarifying.
FYI, I checked and in our case depencencies are: optuna -> cliff -> cmd2 -> colorama.

[2022-09-23 09:51] DanielNoord commented on #7516
I'm on mobile right now so I can't check, but it might be worth checking if `cmd2` also shouldn't make their dependency platform dependent. Based on the documentation of `colorama` it seems to provide a Windows solution to things that Linux and Mac have out of the box.

[2022-09-23 10:00] rkr87 commented on #2607
I've tried the pylint-pydantic plugin, which didn't help unfortunately. For now I've just disabled the pylint error in the lines affected.

I have tried a couple of different things to replicate the issue without using any pydantic models but haven't been able to, suggesting it probably is an interaction issue between pydantic and pylint.

[2022-09-23 10:01] tulinski commented on #7516
From 2.3.0 `cmd2` does not depend on `colorama`. We will bump up some of our dependencies to get rid of `colorama`. Thank you for your help!

[2022-09-23 10:14] DanielNoord commented on #7516
No worries!

[2022-09-23 12:22] Pierre-Sassoulas commented on #2607
I think opening an issue in pylint-pydantic is the thing to do at this point. We're relying on external plugin to handle libraries specificity now.

[2022-09-23 13:20] orSolocate commented on #7281
I will work on it you can assign me and I will open a PR when implemented

[2022-09-23 14:41] clavedeluna commented on #519
I would argue that this is what should happen in the example code

[code]

because unless something happens in the try block, nothing else will proceed.

[2022-09-23 15:15] Pierre-Sassoulas commented on #519
@clavedeluna pylint don't understand control flow well, so we treat ``return`` like we would treat a random function where we don't know what could happen inside. Not doing so would create an astounding number of false positive at the moment.

[2022-09-23 19:11] #4562 closed

[2022-09-23 20:55] clavedeluna commented on #841
I'm looking at how to approach this. [this](https://github.com/PyCQA/pylint/blob/main/pylint/checkers/variables.py#L1219) is the code near where "redefined-outer-name" is about to be emitted.

In the orig example in this issue

[code]

`globs` is

[code]

Seems like we could use this information, particularly the fact that `DelName.path` exists, and short-circuit so that `Redefining name 'path' fr

[2022-09-23 21:07] Pierre-Sassoulas commented on #841
This seems dependent on https://github.com/PyCQA/pylint/issues/4795, doing it in each possible checker will be very hard to maintain and do right.

[2022-09-23 21:54] DanielNoord commented on #7437
We might need to open one there.

I'm not sure. That seems like a workaround for something that doesn't happen too often. It might incur too much performance loss for the cases where it does happen. In `3.11` this is fixed anyway so I think it might be better to focus on supporting that syntax and then potentially think about such heuristics for lower versions.

[2022-09-24 01:18] jacobtylerwalls opened #7522 "`syntax-error` cannot be emitted, raises `InvalidMessageError` instead"
### Bug description

When `AstroidSyntaxError` is caught and a `syntax-error` is raised, an assertion fails when a line number is lacking.

I suppose we could either raise "fatal" instead or expand `_SCOPE_EXEMPT` to also include `syntax-error`.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

E001
or perhaps a Fatal error

### Pylint v

[2022-09-24 04:08] bje- opened #7523 "False positive for C0103: Constant name doesn't conform to .."
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

'total' is not a constant in this example. Although Python does not formally have constants, I would expect Pylint to only consider 'total' to be a constant if it is never reassigned.

### Pylint version

[code]

### OS / Environment

Ubuntu 22.04

### Addition

[2022-09-24 06:31] mbyrnepr2 commented on #7523
Thanks for reporting.
It's a duplicate of https://github.com/PyCQA/pylint/issues/7232.

I think we should stop emitting this invalid name since we don't know if it will be treated as a constant or not.

[2022-09-24 06:31] #7523 closed

[2022-09-24 06:38] bje- commented on #7523
Don't we have data flow analysis to tell us if it's ever re-assigned? It's otherwise a useful warning.

[2022-09-24 06:52] Pierre-Sassoulas commented on #7523
@bje- could you check the discussion in #7232, please ? It's quite lengthy and exhaustive :)

[2022-09-24 07:23] Pierre-Sassoulas commented on #7522
Should we simply use 0 as the line number ? I'm surprised mypy did not warn us.

[2022-09-24 09:54] mscuthbert opened #7524 "TYPE_CHECKS_GUARDS fooled by import alias"
### Bug description

[code]

### Configuration

Default

### Command used

[code]

### Pylint output

[code]

### Expected behavior

[code]

Whether TYPE_CHECKING is imported from typing or called as typing.TYPE_CHECKING or imported as an alias should not matter to whether TYPE_CHECKING is called.

I looked at the code and realize that this is a difficult bug to fix -- it probably would involve pu

[2022-09-24 10:21] DudeNr33 commented on #7362
Sorry for the delay. I looked into the issue with the duplicated labels in the release notes.

The problem comes from the `sphinx.ext.autosectionlabel` extension. Comparing our generated releasenotes with other projects like [`pytest`](https://github.com/pytest-dev/pytest/blob/main/doc/en/changelog.rst) and [`twisted`](https://github.com/twisted/twisted/blob/trunk/NEWS.rst) that use `towncrier`, i

[2022-09-24 11:14] Pierre-Sassoulas commented on #7524
@cdce8p I think this was intentional for better performance, right ?

[2022-09-24 11:48] mscuthbert commented on #7524
I didn't see anything in the #2834 close discussion about it being intentional, but that might have come up in TYPE_CHECKS_GUARDS original intention.

(apologies: it's PyCharm's type system that can't do `@t.overload` not mypy).

[2022-09-24 11:52] mscuthbert commented on #7524
Aha in #6787 a code fix for `unused-import` that referenced `typing as t` was introduced -- it doesn't look too slow to use here as well.  (it makes sense, @jacobtylerwalls has contributed mightily to the music21 project, so of course he would have already found this in a different context).

[2022-09-24 12:24] jacobtylerwalls commented on #7524
You're quite right; this diff fixes it:
[code]

@mscuthbert would you like to do the PR?

[2022-09-24 14:13] elbakramer commented on #5922
This might work?

[code]

[2022-09-24 17:11] elbakramer commented on #2712
This is my first approach on this issue by implementing a plugin:

https://gist.github.com/elbakramer/231e565dc65aecca311fba7b3f71479a

Acts as if the disable pragma comments were added on every line of matched files.
(Tried to disable not in line level but in module level, however it seemed that I have to explicitly find and specifiy an empty line that is placed before the blocks that need to be

[2022-09-24 17:29] Pierre-Sassoulas commented on #2712
@matkoniecz would the ignore options work for you ?

[Standard Checkers](https://pylint.pycqa.org/en/latest/user_guide/configuration/all-options.html?highlight=ignore)
[--ignore-paths](https://pylint.pycqa.org/en/latest/user_guide/configuration/all-options.html?highlight=ignore#ignore-paths)
... Add files or directories matching the regular expressions patterns to the ignore-list. ...
[--ignore](h

[2022-09-24 17:44] matkoniecz commented on #2712
Is it possible to combine them to disable specific report in a single file? Not all reports in a single file, not to disable rule across all files.

[2022-09-24 17:51] Pierre-Sassoulas commented on #2712
Right, no. We need per directory configuration, even per file configuration for that. The easy way to do that is to add pragmas at the top of the file but you already know that seeing the stackoverflow answers :)

[2022-09-24 20:34] DanielNoord commented on #5922
Yeah, although I don't think we have any need for that function ourselves. I think it's better to just fix the documentation and remove the reference to a removed function.

[2022-09-25 19:04] orSolocate commented on #5627
@DanielNoord  - I seem to have the same message again, and I see my fix in `setup.cfg` file was removed. do you have any idea where can I add the `ignore_missing_imports` attribute now?

[2022-09-25 19:24] orSolocate commented on #7281
@DanielNoord  -  I extended `comparison-of-constants` to add this feature. I tried to keep functionality of `comparison-of-constants` as it was. But maybe we want to disallow singletons there too like I did in `magic_number`..

added some false-positive fixes, now ignores also empty strings and \__main__ cases.

I disabled it in many functional tests, and found it deals well with complicated compa

[2022-09-25 20:07] emcd opened #7527 "PyPy-specific: `ctypes.Structure` fields not ignored; `no-member` false positive"
### Bug description

Note: This bug is specific to running on Pylint on PyPy; it is not reproducible on CPython.

Pylint's handling of `ctypes.Structure` is not implementation-agnostic. It apparently references the `ctypes` implementation of the platform on which it is running when analyzing `ctypes`-using code that may not even be intended for that platform.

For the following reproducer, the Pyl

[2022-09-26 09:44] belm0 commented on #7381
Here is my repro.  Having the expression in the tuple seems to be necessary.

[code]

[2022-09-26 09:58] belm0 opened #7528 "regression: modified_iterating_checker exception"
### Bug description

modified_iterating_checker exception on code that passes fine with earlier pylint versions

[code]
### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no error

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-09-26 10:12] belm0 opened #7529 "fales positive: unnecessary-dunder-call (__aiter__, __anext__)"
### Bug description

As of recent pylint versions, I'm seeing the errors below, even though it's suggesting the wrong builtin (`iter()` rather than `aiter()`), and even though I'm on Python 3.8 (which doesn't have `aiter()` and `anext()` builtins).

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no errors

### Pylint version

[code]

#

[2022-09-26 10:48] orSolocate opened #7530 "pre-commit mypy crashes on Windows for missing imports and typing objects"
### Bug description

When running `pre-commit` mypy complains about unrelated changes:

[code]

might be related to a previous bug #5627, I saw that the solution fetched there does not exist anymore in `setup.cfg`

any idea how to fix it?

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Should pass.

### Pylint version

[code]

### OS /

[2022-09-26 10:53] Pierre-Sassoulas commented on #7530
Thank you for opening the issue. Could you try adding colorama here https://github.com/PyCQA/pylint/blob/main/pyproject.toml#L119 ? I don't think they have stubs (we only need this on windows and only tests this on linux).

[2022-09-26 11:07] belm0 commented on #7528
@Pierre-Sassoulas I'd updated the original report with a reproduction, please take another look.

[2022-09-26 11:07] DanielNoord commented on #7530
`colorama` is my bad. I recently used a flag `mypy` has to remove unnecessary config flags. It showed up as unnecessary as I was on Mac. We should re-add it and add a comment about it's necessity on windows.

The crash is unexpected. Are you sure you are on `main`? Is there a `import __future__` statement?

[2022-09-26 11:58] Pierre-Sassoulas commented on #7528
Thank you for opening the issue and the reproducer, this fail on main.

[2022-09-26 12:11] orSolocate commented on #7530
@DanielNoord @Pierre-Sassoulas  - I managed to fix all errors now thanks to your help. it happened on `main` too btw.
the `import __future__` statement did fix the second error for `mypy`.
Could you please verify and approve the PR?

[2022-09-26 19:38] orSolocate commented on #5533
@Pierre-Sassoulas  I see no one took care of this issue, could I just make pylint ignore this false positive case with my suggestion above?

before:
`if arg_type == "builtins.int": return True`

after:
`if arg_type in {"builtins.int", ".ndarray"}: return True`

[2022-09-26 20:32] Pierre-Sassoulas commented on #5533
I think this is something we should not fix in pylint but we should either make astroid understand the numpy's underlying code correctly, use a numpy brain (but we have a lot of those and they are buggy). We have a lot of numpy brain, but this is a poor substitution to astroid understanding the code or a dedicated plugin that will be able to handle multiple numpy version. The best solution is prob

[2022-09-26 22:13] #7530 closed

[2022-09-27 06:35] jamesbraza opened #7534 "Warn for nonstandard __exit__ argument names"
### Current problem

I have seen many variations of argument names in `__exit__` signatures:

[code]

IMO there should be standardization here, as `__exit__` overrides a method from `object`.  I think pylint can help enforce this.

### Desired solution

I think pylint should emit a refactor or warning message for any argument names in `__exit__` signatures that don't match the [Python data model `

[2022-09-27 19:13] itttgg opened #7536 "Why my pylint checks are not successful?"
### Question

I have a project that is using pylint workflow, but my checks are not successful. Why? Please fix it.

### Documentation for future user

Please fix bug with failing checks in workflows

### Additional context

Python version: 3.8.14
PyLint version: 2.15.3
Astroid verrsion: 2.12.10

Additional info: https://github.com/itttgg/dispy/actions/runs/3138242747/jobs/5097358205

[2022-09-27 19:32] Pierre-Sassoulas commented on #7536
Duplicate of https://github.com/PyCQA/pylint/issues/7438 :)

[2022-09-27 19:32] #7536 closed

[2022-09-27 19:38] itttgg commented on #7536
No. I'm talking about github workflows failing. Your issue is not about it. Sorry, i don't understand you

[2022-09-27 19:42] Pierre-Sassoulas commented on #7536
We're not going to fix your code for you. There's an issue so pylint can fix code automatically which is the closest thing to what you're asking for.

[2022-09-27 20:02] itttgg commented on #7536
Ok, i

Ok, i have fixed my error

[2022-09-27 21:40] clavedeluna commented on #6935
I'd like to help improve code coverage but as mentioned above, I can't see annotated code right now.

[2022-09-27 21:56] clavedeluna commented on #5363
Am I correct in concluding that this is an astroid fix? [in here](https://github.com/PyCQA/pylint/blob/main/pylint/checkers/stdlib.py#L479)

For a test example `subprocess.run(command, check=True)`  `node.keywords`  is `node.keywords[0].arg` is check` as expected, while for call like
[code]
`node.keywords[0].arg` is None so we never enter the if statement to emit the message.

[2022-09-28 07:11] DanielNoord commented on #7529
@jpy-git Do you happen to know anything about this? Or would you want to take a look at this?

[2022-09-28 07:12] DanielNoord commented on #7528
@orSolocate Do you want to take a look at this?

[2022-09-28 07:14] Pierre-Sassoulas commented on #6935
You need to login with your GitHub account @clavedeluna coverall need to use your api key to make the call to get the code or they would be rate limited by GitHub

[2022-09-28 08:08] Pierre-Sassoulas commented on #5363
Sounds about right. I added the control-flow label originally, I don't remember why as there is no control flow involved here. Probably that the content of the dict is hard to predict as soon as you add conditional in its creation, for example:
[code]
I'm not sure if we can fix the simple case without false positive on the control flow case (?)

[2022-09-28 11:52] clavedeluna commented on #5234
Given the back and forth discussion above, what's the current solution to this issue? Updating the message how?

[2022-09-28 11:59] clavedeluna commented on #6420
I'm not able to reproduce the issue with main today

[code]

[2022-09-28 12:51] DerBiasto commented on #5735
I experienced similar behaviour in different contexts:

### Reproducible Example
[code]

### Pylint output
[code]
### Pylint version
[code]

[2022-09-28 13:23] Pierre-Sassoulas commented on #5234
I think this might be blocked/related to https://github.com/PyCQA/pylint/pull/6870. There's some rationalization to do regarding those messages before making them better.

[2022-09-28 13:32] Pierre-Sassoulas commented on #6420
You need to install pylint with enchant (``pip install pylint[spelling]``) and specify a dictionary to use see https://pylint.pycqa.org/en/latest/user_guide/configuration/all-options.html#spelling-dict

[2022-09-28 18:21] Questionsdenombres opened #7538 "False positive `used-before-assignment` with walrus operator inside binary operation"
### Bug description
- In the three examples hereafter, the variable is assigned in a one line if-condition-assignment, and it is used when condition is true, i.e. visually before the assignment, but after the condition is evaluated at run time.
- Only the two first examples generates a report. They both uses a text concatenation with '+' operator .

[code]

### Configuration
_No response_

### Com

[2022-09-28 20:34] jacobtylerwalls opened #7539 "Audit remaining uses of `TYPING_TYPE_CHECKS_GUARDS`"
Along the lines of #7524 and #6787, there is probably a false positive for `used-before-assignment`/`unused-variable` lurking in the use of `defstmt_parent.test.as_string() in TYPING_TYPE_CHECKS_GUARDS`, which is not robust against importing `typing` under an alias.

I advised us against doing a drop-in replacement by `in_type_checking_block` without writing more tests. For discussion on that see

[2022-09-28 20:38] #3044 closed

[2022-09-28 20:41] #7524 closed

[2022-09-29 11:59] DanielNoord commented on #7534
If we want to get really fancy we could dop something with https://github.com/PyCQA/astroid/pull/1810 and create a `conforms_to_model` helper function, but I don't think we should.

Agree that this would be a good warning and I think `arguments-renamed` makes sense. We would need to update the documentation about that message slightly though.

[2022-09-29 12:05] DanielNoord commented on #5608
That should probably be discussed in a new issue in order not to lose this. Would you be able to open one @superbobry?

[2022-09-29 12:46] clavedeluna commented on #7528
Tested in the following versions of pylint

2.13.0 (can repro same error as issue)
2.14.0 (can't repro)
2.15.0 (can't repro)
2.15.2, 2.15.3 (can repro same error as issue)

So issue was there in the original implementation of the modified iterating checker, fixed in a couple minor versions, then came back up again. If I have more time today I can continue to look into this.

[2022-09-29 13:08] clavedeluna commented on #7528
Git bisect suggests [this commit](https://github.com/PyCQA/pylint/commit/bcd4ca3052411e8c0823712d38cb970e354713f6) brought the issue back in pylint v2.15.2

I can continue with the fix later today.

[2022-09-29 13:33] DanielNoord commented on #7516
For future me, I did check how we use `colorama` but it is behind a `sys.platform == "win32"` check so I don't really know how it is being imported on Linux. But since the fix for this is relatively simple (`colorama` doesn't break backwards compatible support in most of its releases) I don't think this requires any further action from us.

[2022-09-29 14:48] vgren opened #7540 "pylint instructions error"
### Question

upon running pylint we got following error:

[ERROR] program.py contained more than one line of pylint instructions. Please reduce it to one.

however pylint exited with code 0:

[INFO] Exiting with code: 0

can not find anywhere how we can configure pylint in such way that it will exit with exit code 1  for this error

### Documentation for future user

can you please provide way to

[2022-09-29 15:45] jamesbraza commented on #7534
Thanks for the response, I like all the points you make!  Here's the current message for `arguments-renamed`:

It seems to be pretty good to me, I am just curious, what makes you think it needs updating?  I see `object.__exit__` as just another instance of mismatching name(s) being used in an overridden method.

[2022-09-29 16:02] Pierre-Sassoulas commented on #7540
It look like you're reporting a bug, but without following the template for a bug so we can't reproduce easily your problem. Would you mind adding the missing information (command used, output, expected behavior, pylint version), please ?

[2022-09-29 16:34] #7540 closed

[2022-09-29 20:25] kriek commented on #7464
I was not able to investigate much yet but at least, I created the functional test demonstrating the observed issue: https://github.com/PyCQA/pylint/commit/ce2a9f93cd96b94c44a7558eedf0244a95fdcf9d
Should we somehow mark that functional test as xfail? I don't know if this is possible. For now, I set the buggy no-member outcome as the expected one.

My next step is to look at astroid internals.

[2022-09-29 20:38] Pierre-Sassoulas commented on #7464
It's possible to add the functional test with the problem and add a comment like "# TODO false negative / false positive see link to issue 1234" as creating the test is at least half the work 😄

[2022-09-30 05:53] kriek commented on #7464
Thanks for the hint, I amended the commit to insert such a TODO comment: https://github.com/PyCQA/pylint/commit/811d2c1591fdd35c2634b6c01ba1ddf24cee6c79

[2022-09-30 06:04] Pierre-Sassoulas commented on #5234
Ok, so something generic could be:
[code]

[2022-09-30 11:11] #7528 closed

[2022-09-30 11:14] DanielNoord commented on #7534
Yeah, the issue is that `object.__exit__` doesn't exist 😅
[code]

It comes from something else and is added when creating a context manager. So, technically, `ContextManaged.__exit__` is not overwriting any interface, which is also why it isn't currently flagged. There is nothing in the `mro` being overwritten.

I do still think we should consider it as such, but we just need to special case it in

[2022-09-30 11:41] belm0 commented on #7529
1. fix entries in `DUNDER_METHODS`.  "Use {iter,next}" --> "Use {aiter,anext}"

https://github.com/PyCQA/pylint/blob/ec85e2988679a28dbe11f46d60056b4dd569c44b/pylint/checkers/dunder_methods.py#L108-L109

2. this checker needs to have awareness of the Python version.  The brute force for this case would be to declare the set of builtins requiring >= 3.10, and add it to the checker condition.

[code]

[2022-09-30 12:56] clavedeluna opened #7542 "Update Contributor guide to include pre-commit"
### Current problem

As I start contributing more and more to pylint, I'd like to get my development process to be faster and more streamlined. It took me a while to realize that pre-commit is running in CI and that takes time and resources.

### Desired solution

I suggest updating [this section](https://pylint.pycqa.org/en/latest/development_guide/contributor_guide/contribute.html#tips-for-getti

[2022-09-30 14:42] Pierre-Sassoulas commented on #7542
The second links you gave mention pre-commit (https://pylint.pycqa.org/en/latest/development_guide/contributor_guide/tests/install.html#basic-installation). But feel free to make the change you feel are necessary so it's easier to notice :)

[2022-09-30 14:47] DanielNoord commented on #7529
This is an easy fix. Would you want to open a PR for this? You've done all the work already!

I'm not sure I understand this. If you're using `__aiter__` then `aiter()` is available as well right?

[2022-09-30 16:56] ramonsaraiva commented on #6917
Hey @jacobtylerwalls - landing here from the `hacktoberfest` label and not familiar with pylint's codebase. Is this a similar implementation as `_check_lru_cache_decorators` in `StdlibChecker`?

[2022-09-30 18:18] hongha912 opened #7543 "Pylint crashing: AstroidError -- RecursionError in node_classes because of scipy"
### Bug description

pylint crashes while running on a file with a recursion error thrown by astroid in `node_classes.py`.

### Configuration

[code]
### Command used

[code]

### Content

[code]

### Pylint output

[code]
This continues -- tail end of the stack trace:
[code]

### Expected behavior

Pylint should not crash.

### Pylint version

[code]

### OS / Environment

Debian 5

### Additiona

[2022-09-30 18:23] DanielNoord commented on #6917
@ramonsaraiva That should indeed be relatively similar. In fact, I think we can build upon some of the code that is already there. You can probably also look at https://github.com/PyCQA/pylint/blob/main/tests/functional/m/method_cache_max_size_none.py for some inspiration for functional tests.

[2022-09-30 18:24] DanielNoord commented on #7543
Without any code example it will be very hard to reproduce and fix this. Are you able to share the code that reproduces this?

[2022-09-30 18:36] hongha912 commented on #7543
@DanielNoord I was able to isolate the problem down actually -- seems like the issue is with [`scipy` 1.4.1](https://pypi.org/project/scipy/)! Just a one-liner file `from scipy import spatial` can cause this crash.

Hope this helps.

[2022-09-30 18:46] hongha912 commented on #7543
Also updated the ticket with a sanitized version of our configuration -- was able to repro with the given one-liner file and the configuration.

[2022-09-30 19:08] ramonsaraiva commented on #6917
Awesome, I'll be reading more about how everything works and attempt to come up with a draft patch for this. A few review interactions will most likely be needed. Thanks!

[2022-09-30 19:56] #5920 closed

[2022-09-30 21:09] jamesbraza commented on #7534
Ha that's funny, considering the [Python data model page for `__exit__`](https://docs.python.org/3/reference/datamodel.html#object.__exit__) literally says:

I agree with what all you're saying, and it sounds good to me.  Sorry that I am not helping, consider myself just a reporter here.  Thanks again for all your work @DanielNoord !

[2022-09-30 21:12] DanielNoord commented on #7534
No worries! In the spirit of reporting you might also want to check if there is an issue about this in the cpython repository. They might want to update their documentation to make this a bit more explicit. If you do please tag me or link it here as their response might help us with our own object model implementation.

[2022-09-30 22:36] belm0 commented on #7529
No-- this is the misunderstanding of this checker.    `__aiter__` / `__anext__` came with async iterators in Python 3.5.  `aiter()` / `anext()` convenience builtins were added in Python 3.10.

[2022-09-30 22:50] belm0 commented on #7529
some reasons to consider dropping `__aiter__` / `__anext__` from the table for now:
  1. the current pylint guidance is possible harmful (suggesting the wrong, non-async builtins)
  2. even if (1) is corrected, since the builtins were only introduced in a recent Python version, often following the pylint guidance will not be the right thing to do.  For example, if the `__aiter__` reference is in a

[2022-09-30 23:52] ytoku opened #7545 "False positive `used-before-assignment` with multi-item `with` statement and tuple target"
### Bug description

The `used-before-assignment` check reports false positive for the combination of multi-item `with` statement and tuple target.

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error.

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-10-01 02:36] bje- opened #7546 "Suggest >2 arguments for min/max functions"
### Current problem

Some Python users may be unaware that the `min` and `max` functions allow for more than two arguments.

### Desired solution

Expressions of the form: `min(a, min(b, min(c, d))` can be replaced with the simpler `x = min(a, b, c, d)`.

### Additional context

_No response_

[2022-10-01 05:55] jamesbraza commented on #7534
Yes I surfed through their issues for a while, and couldn't find one talking about this, so I went ahead and made https://github.com/python/cpython/issues/97699

A fun little rabbit hole!

[2022-10-01 07:13] DanielNoord commented on #7529
I'll work on a fix today which uses `py-version`, that option allows you to specify which Python version you support.

[2022-10-01 11:39] lggruspe opened #7547 "unused-import false negative when typing.Annotated has str parameters"
### Bug description

example.py:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

It should report `unused-import`, since the parameter to `Annotated` does not refer to `pathlib.Path`.

### Pylint version

[code]

### OS / Environment

fedora 36

### Additional dependencies

_No response_

[2022-10-01 11:44] lggruspe opened #7548 "unused-import false positive for names in string argument to typing.cast"
### Bug description

example.py:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

There shouldn't be any messages.

### Pylint version

[code]

### OS / Environment

fedora 36

### Additional dependencies

_No response_

[2022-10-01 12:59] osherdp commented on #7546
Should be simple enough. I'll take a look

[2022-10-01 13:01] DanielNoord commented on #7546
@Pierre-Sassoulas You gave this an `Optional Checker`, but shouldn't this be part of `RefactoringChecker`?

[2022-10-01 16:46] orSolocate commented on #7528
@clavedeluna  thanks for the fix man!

[2022-10-01 17:43] Pierre-Sassoulas commented on #7546
I thought about an extension at first but yeah why not.

I think this is a discussion we already had at some point, ideally I would want to have checker handling less messages and be more decoupled. If this is in an independent file it means less work if we change our mind (i.e. we don't have to copy paste code from the RefactoringChecker we can switch a boolean somewhere).

[2022-10-01 17:54] Pierre-Sassoulas commented on #7547
I don't understand the example, what does the parameter of annotated refer to according to you ? I think ``"Path"`` does refer to ``pathlib.Path`` ?

[2022-10-01 18:55] ssbarnea commented on #2296
Is there any workaround for this 4 years old issue? I kinda need to use a NewType for aliasing `Dict[str, Any]` and I don't know how to make pylint happy.

[2022-10-01 19:14] DanielNoord commented on #7003
@phst https://github.com/PyCQA/pylint/pull/7551 should fix this correctly now. If you want you can check that branch out and see if it works locally for you!

[2022-10-01 20:06] #7529 closed

[2022-10-02 07:55] DanielNoord commented on #6778
Closing this as we now have basic support for `3.11`.

[2022-10-02 07:55] #6778 closed

[2022-10-02 08:02] phst commented on #7003
Thanks but this still doesn't work. The purpose of the `--` separator is to pass positional arguments that start with dashes and not have them confused with options. This doesn't work any more:

[code]

[2022-10-02 08:11] DanielNoord commented on #7003
Can you give an example of how you would actually use this? The issue is that `pylint` currently accepts "files" to be scattered around the command line invocation.
So ``pylint file1.py --an-option file2.py --another-option=yes file3.py`` works. We do so be some special code that comes after the `argparse` parsing of arguments. This breaks your requested behaviour, but I'm not sure we can support

[2022-10-02 09:09] phst commented on #7003
The concrete case is https://github.com/phst/rules_elisp/blob/b79e86bc6adfdbba2576129f0a48e120afccd1c3/check_python.py#L83, but the general thinking is that wrapper scripts in general can't and shouldn't know whether filenames start with a dash or not. For example, a wrapper script like

[code]

shouldn't have to parse the argument list passed by the user or fail with weird errors (or worse, silen

[2022-10-02 19:55] DanielNoord commented on #7003
The issue is that we don't have the `files` argument. So we can't collect `nargs='+'` into it. That is also why `argparse` doesn't solve this automatically for us: we parse with `parse_known_args` but it doesn't know to collect `-test.py` into a `files` argument.

I'm not sure we can add the `files` argument with `nargs` without it breaking other workflows. https://github.com/PyCQA/pylint/pull/749

[2022-10-02 20:23] #7522 closed

[2022-10-03 10:15] lggruspe commented on #7547
What comes after the first parameter to `Annotated` is just ["an arbitrary list of Python values"](https://peps.python.org/pep-0593/#syntax).
Its interpretation is left to the library or tool that encounters the `Annotated` type: https://peps.python.org/pep-0593/#consuming-annotations.

So if I understand correctly, the `"Path"` in the example is just a string literal rather than a reference to a

[2022-10-03 12:00] kayhayen opened #7555 "ImportError: No module named __future__.absolute_import"
### Bug description

When parsing the following file:
[code]
pylint crashed with a ``AstroidError`` and with the following stacktrace:
[code]
.
************* Module nuitka.utils.AppDirs
nuitka/utils/AppDirs.py:1 F0002 astroid-error  nuitka/utils/AppDirs.py: Fatal error while checking 'nuitka/utils/AppDirs.py'. Please open an issue in our bug tracker so we address this.

### Configuration

[code]

[2022-10-03 12:40] kayhayen opened #7556 "staticmethod causes wrong arguments-differ"
### Bug description

The argument parsing mishandles uses of staticmethod in base classes for methods and miscounts the arguments, considering self extra.

Code is

[code]

Since staticmethods are faster to call, I have this frequently mixed and only use non-staticmethods where absolutely necessary. Base class implementations are often pessimistic and return None, False, do nothing etc.

### Confi

[2022-10-03 12:45] #7542 closed

[2022-10-03 13:24] kayhayen opened #7563 "False positive `used-before-assignment` when `else` of `try/else` calls `sys.exit()`"
### Bug description

Given this code snippet:

[code]

Since `sys.exit()` in the else branch is aborting, there is no doubt that `lint_result` must be assigned.

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Warning should not be given.

### Pylint version

[code]

### OS / Environment

Debian Buster with PyPI packages

### Additional depend

[2022-10-03 13:26] ytoku commented on #7545
Needs reproduction label?
Do I have to report any additional information?

[2022-10-03 14:03] jmrouet opened #7564 "false positive E1137 on pandas dataframe column assignment when set_index() is used"
### Bug description

# pylint: disable=missing-module-docstring,invalid-name
import pandas as pd

df = pd.DataFrame([{'id': 0, 'name': 'test'}]).set_index('id')
df['newcolumn'] = 'foo'
print(df)

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

--------------------------------------------------------------------
Your code has been rated

[2022-10-03 14:04] Pierre-Sassoulas commented on #7545
No the problem seems legit but we did not check if it reproduce on main (yet).

[2022-10-03 14:31] hongha912 commented on #7543
@DanielNoord is there a way for me to work around this? Can I ignore scipy somehow? We only care about linting our own code, not external libraries' code.

[2022-10-03 19:05] Pierre-Sassoulas commented on #7563
The issue look similar to #7520.

[2022-10-03 20:20] henryiii opened #7565 "typing_extensions assert_never's Never not supported"
### Bug description

Python 3.11 added `Never` as an alias of `NoReturn`. The signature of `assert_never` is `assert_never(__x: Never) -> Never` (personally, I wish had been `assert_never(__x: Never) -> NoReturn`, but that's what it is). This was backported to `typing_extensions` 4.1.0, as well.

I tried the following, but it seems `typing_extensions.assert_never` is uninferable.

[code]

If it's

[2022-10-04 00:59] jacobtylerwalls commented on #7556
`arguments-differ` is very picky about `self`, which is part of the reason for using it. I hear that you wish it wouldn't count `self`, but at this point that's part of the identity of the message.

IIUC the example you present here violates LSP, as D can't be substituted for C's contract:
[code]

More discussion at #6865 (for the reverse scenario that does not violate LSP). It sounds like you wis

[2022-10-04 00:59] #7556 closed

[2022-10-04 01:22] jacobtylerwalls commented on #7563
Similar issue as #6790, because the patch (#6791) only handled `return`, not `sys.exit`.

Should be an easy patch for a contributor to extend #6791. Could consider moving `BUILTIN_EXIT_FUNCS` to a common constant file and then use that.

[2022-10-04 01:27] jacobtylerwalls commented on #7564
This bug is one of the several reported in the bug cluster #4577. May be worth keeping this issue in order to break them out.

[2022-10-04 01:36] jacobtylerwalls commented on #7226
The check for dataclasses is profoundly dumb (and I mean that neutrally and literally :D): it checks for the literal name of the decorator, see:
https://github.com/PyCQA/astroid/blob/b5812cc97bc7d63b72e2a99b7060a253d5ca3ac7/astroid/brain/brain_dataclasses.py#L42-L46

[2022-10-04 01:46] jacobtylerwalls commented on #7470
Thanks for the report. `pylint` does not yet understand `match` branches. It's possible we may close these issues under a top-level duplicate later.

[2022-10-04 09:52] afeser opened #7567 "Pylint reports false errors with RPi.GPIO"
### Bug description

Existing attributes in `RPi.GPIO` are not recognized in Pylint and I always get "no-member" error.

The script is(pylint_test.py):
[code]

[code]

I tried with 2 pylint versions, the output is identical.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No errors, the code works without any problems and `LOW` attribu

[2022-10-04 09:58] #7434 closed

[2022-10-04 11:22] bje- opened #7568 "Warn about unreachable code"
### Current problem

It would be good if Pylint could warn about unreachable code like the `raise` below:

[code]

### Desired solution

I would like a warning that the `else` is unreachable.

### Additional context

_No response_

[2022-10-04 11:51] DanielNoord commented on #7568
This is likely never possible for `pylint` as there are too many moving parts.
I would suggest using something like `coverage` to track unused branches.

[2022-10-04 11:51] #7568 closed

[2022-10-04 11:52] Pierre-Sassoulas commented on #7568
Blocked by #4795

[2022-10-04 11:53] bje- commented on #7568
Thanks -- I suspected as much. The issue is that I have an `else raise ValueError` branch to catch myself if I add a new list entry but no `if` case to match it. I don't really want to remove the `else`, so have no option but to mark it as 'no cover'.

[2022-10-04 11:55] DanielNoord commented on #7568
In personal projects I use `raise AssertionError()` and have that pattern be auto `no cover` in my `coverage` settings. That works quite well for such patterns.

[2022-10-04 11:57] #7226 closed

[2022-10-04 12:30] clavedeluna opened #7569 "py-version should use maxversion and minversion"
### Current problem

According to pylint

[code]

Since only py3.7+ versions are supported, I think we can safely delete this checker.

### Desired solution

Removal of all `boolean-datetime`  checker code.

### Additional context

_No response_

[2022-10-04 12:54] clavedeluna opened #7570 "False negative for `bad-thread-instantiation`"
### Bug description

[code]

I actually saw this example in [pylint-errors](https://github.com/vald-phoenix/pylint-errors/blob/c5a1b2c994f63eba19d4eccf2741827b281dd6ee/plerr/errors/stdlib/W1506.md) and expected it to work.

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

[code]

### Pylint version

[code]

### OS / Environment

Mac

### Additi

[2022-10-04 13:23] dgutson opened #7572 "Add dark mode to pyreverse"
### Current problem

pyreverse output does not fit with dark mode pages

### Desired solution

Add an option to set dark mode in pyreverse

### Additional context

_No response_

[2022-10-04 13:24] dgutson commented on #7572
CC @qequ

[2022-10-04 18:17] clavedeluna commented on #7569
Makes sense. I was thinking:

[code]

Is there a reason to use py-version over sys.version?

[2022-10-04 18:35] Pierre-Sassoulas commented on #7569
Yes, if ``py-version < 3.5`` then we need to raise the message still even if the interpreter is 3.10, so ``py-version`` is the right tool for that. (By default py-version == sys.version). Do you want to contribute the fix, you already did all the work ? :)

[2022-10-04 20:11] yilei opened #7574 "False positive `used-before-assignment` when TYPE_CHECKING is used with if/elif/else blocks"
### Bug description

Example

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No `used-before-assignment` should be raised.

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-10-05 06:20] ramonsaraiva commented on #6917
Created that draft PR and added in its description a bit of my thought process and things that I believe can be improved and simplified. I just want to have a better sense if I'm going in the right direction.

I'll be digging more on utilities and built-in functionality that I can use to simplify all of that but I thought it'd be helpful to have a draft available for you to take a look.

[2022-10-05 11:14] clavedeluna commented on #7569
Certainly, I will make a PR!

[2022-10-05 11:47] clavedeluna commented on #7569
@Pierre-Sassoulas I'm wondering if this is expected behavior?

for a file named test.py

[code]

`pylint test.py --py-version 3.2` gives no output.
For debugging purposes (and to see I wasn't making a mistake) I updated the maxversion for boolean-datetime to `{"maxversion": (3, 10)},` instead of 3, 5 and I actually do get an output!
[code]

So I'm wondering what's going on? Is the code that handle

[2022-10-05 12:31] clavedeluna commented on #6795
Brainstorming fix ideas. Would one fix potentially be that when a call to `__index__()`, to determine that the class is inheriting from `str` and not output the unncessary dunder call? Or would that potentially lead to a bunch of false negatives?

[2022-10-05 13:08] avylove commented on #6795
@clavedeluna, `str` only comes into play here because some `str` methods require arguments that include the `__index__()` method.

This issue with the current message is the `__index__()` and `index()` methods are not related to each other.
`index()` is used to find the index of the first occurrence of a value in a sequence. This is limited to sequences.
`__index__()` is used to convert a number t

[2022-10-05 13:11] ramonsaraiva commented on #6917
I think https://github.com/PyCQA/pylint/commit/4d95d21ad41e1a219cc5917181b102e5de5832bd and https://github.com/PyCQA/pylint/commit/cc64ded7c6c5e5fd053e5a58fbbeebce0cff93c8 bring a much cleaner version that https://github.com/PyCQA/pylint/commit/3dc361624cd805e32972372257e3ee48ef1ac84a had - still open to suggestions.

I added a new util function for `singledispatchmethod` (similar to the `singledi

[2022-10-05 17:41] clavedeluna commented on #841
Sounds good. Then the minor label isn't applicable, correct?

[2022-10-05 18:17] Pierre-Sassoulas commented on #841
minor means "polishing" i.e. low priority, not "easy to do " :)

[2022-10-05 18:39] Pierre-Sassoulas commented on #6795
I investigated a little and I'm wondering if it's not working as intended. @avylove I guess my question is, why would you use ``__index__`` directly instead of one of bin, oct, hex, complex, int or float depending on what you need ?

[2022-10-05 18:53] Pierre-Sassoulas commented on #5083
(The renaming done by Daniel is accurate). We fixed https://github.com/PyCQA/pylint/issues/6953, so now there need to be a message for the following functional test

[code]

[2022-10-05 18:57] Pierre-Sassoulas commented on #7569
Are we talking about a functional test configuration, the property of the checker, or something else ?

[2022-10-05 18:59] avylove commented on #6795
It's definitely not correct as it is, because the message instructs the user to use `index()` which is unrelated.

`int()` is probably the closest, but the usecase is slightly different. `__index__()` and `__int__()` are not guaranteed to return the same value.

[code]

[2022-10-05 19:02] clavedeluna commented on #7569
In this statement what I mean is I literally went to this [line](https://github.com/PyCQA/pylint/blob/main/pylint/checkers/stdlib.py#L362) and locally updated it from 3,5 to 3, 10. This was the only was able to see boolean-datetime in the output, despite having tried passing `--py-version 3.2` before changing the code. I thought py-version is meant for requesting pylint to check for that passed py

[2022-10-05 19:09] Pierre-Sassoulas commented on #6795
All right, then the suggested function should be ``operator.index`` instead of ``index``, if we want to keep the spirit of the check right ?

[2022-10-05 19:19] avylove commented on #6795
It makes sense to me. I just wasn't sure where you were on suggestions that required an import. But I think that's the best option. It gives the user an alternative to using the dunder method directly and they can always disable the check for that line if they don't want to use the suggestion.

[2022-10-05 19:19] DanielNoord commented on #7569
That `maxversion` should be removed and a check for `py-version` should be used. Nice catch!

[2022-10-05 19:21] Muzammillcoste commented on #5083
please assign this issue to me.

[2022-10-05 19:21] DanielNoord commented on #7569
I don't think a separate issue is needed. The `maxversion` is a good way to stop emitting messages for versions that shouldn't emit. However, with `py-version` we can control this much more fine-grained and across interpreters. That's a good thing! Let's move towards it!

[2022-10-05 19:26] Pierre-Sassoulas commented on #7569
Sure, but it's included in the API of the checkers, some plugins are probably using this value. I agree that py-version is better.

[2022-10-05 19:27] DanielNoord commented on #7569
Oh yeah I didn't mean removing it as a functionality!

[2022-10-05 19:29] Pierre-Sassoulas commented on #7569
What I have in mind right now is taking ``max-version`` correctly into account for py-version and linking the two (in the way @clavedeluna expected them to be linked).  What do you think ?

[2022-10-05 19:30] DanielNoord commented on #7569
I'm not sure I understand what you mean with linking.

[2022-10-05 19:37] Pierre-Sassoulas commented on #7569
If ``max-version == 3.5`` then the message would not be raised unless ``py-version`` is <= 3.5 (right now it seems it's 'unless sys.version <= 3.5' or worse the opposite of that if I understand what @clavedeluna  said).

[2022-10-05 19:57] DanielNoord commented on #7569
Ah yeah, that should work. Although it might be better to just refactor the few messages that actually use this? I'm not sure how extensible the max version code is.

[2022-10-05 20:23] Pierre-Sassoulas commented on #7569
What would we add in message definition to specify their maximum and minimum ``py-version`` directly (https://github.com/PyCQA/pylint/blob/main/pylint/checkers/stdlib.py#L362) ? This setting seem like a clean way to specify the ``py-version`` without hard coding it in the check with a ``if config.py_version ...``. What I meant by linking the two was taking into account the max-version / min-versio

[2022-10-05 20:26] kriek commented on #7464
@DanielNoord It seems the type() support is not that minimal: in your code snipped, Uninferable is returned because there is an other.Base vs Base typo. After fixing it, .A instances are inferred.

The bug seems located in inference_tip.py cache. If we disable it in _inference_tip_cached() implementation, the false negatives are fixed and the types are correctly inferred for all provided code samp

[2022-10-05 20:26] Pierre-Sassoulas commented on #6795
Yeah recommending to add an import is not ideal. I'm hesitating between that and allowing ``__index__`` call in order to favor false negative vs false positive. What's your opinion @jacobtylerwalls ?

[2022-10-05 20:31] clavedeluna commented on #7569
Seems to me you're all saying we should move toward maxversion being a subset of py-version, with minversion being another subset. Max/min version would create an upper/lower bound on py-version.

Some test cases to set us stragit:
maxversion=3.5 for boolean-datetime, --py-version 3.5 passed: message in output
maxversion=3.5 for boolean-datetime, --py-version 3.6 passed: message in NOT output
maxv

[2022-10-05 20:38] Pierre-Sassoulas commented on #7569
The use cases are ✔️

[2022-10-06 03:09] ramonsaraiva commented on #6882
I think I can take this one.

[2022-10-06 08:25] mbyrnepr2 commented on #6882
Great thank you@ @ramonsaraiva!
Feel free to ask questions!

[2022-10-06 10:01] danmou opened #7578 "no-name-in-module does not respect patterns in ignored-modules"
### Bug description

`ignored-modules` is supposed to support Unix-style pattern matching, but this is only the case for the `no-member` check whereas the `no-name-in-module` check only checks for exact matches. I've already fixed the issue and I'll submit a PR in a moment.

### Minimal example
[code]
a.py:
[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No erro

[2022-10-06 11:54] bchardin commented on #7567
Does the problem still exist with the `--extension-pkg-allow-list=RPi` option?
The linting has to be performed on a Raspberry Pi for the RPi module to be loaded correctly.

[2022-10-06 12:03] Pierre-Sassoulas commented on #7567
pylint is working as intended if ``RPi`` is not available in the environment you're launching pylint in. You should probably disable the no-member if launching pylint on the Raspberry Pi is not feasible.

[2022-10-06 13:59] bchardin commented on #7208
I tried to fix this issue in a new PR #7581.

There is still a breaking change, because one test was assuming that the default value for `accept-no-raise-doc` was False, despite it being True.
I suspect other projects might be affected by this change in the same way.

[2022-10-06 14:05] CarliJoy commented on #5644
FYI @DanielNoord the `git blame` issue can be easily solved with https://akrabat.com/ignoring-revisions-with-git-blame/

Also git improved quite a bit with the latest version, so renames are detected much better.

Just to document this.

[2022-10-06 14:16] sam-s opened #7582 "False positive: E1136(unsubscriptable-object) in pandas"
### Bug description

calling [`dropna`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html) causes an `unsubscriptable-object` error:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no diagnostics

### Pylint version

[code]

### OS / Environment

Linux PopOS

### Additional dependencies

_No response_

[2022-10-06 18:44] afeser commented on #7567
Thanks for the replies

@Pierre-Sassoulas
I was running in the Pi

@bchardin

Yes it works with the flag.
So, it seems this is not a bug, and I am closing the issue, sorry for the confusion..

[2022-10-06 18:44] #7567 closed

[2022-10-06 19:26] kriek commented on #7464
Do we need that inference_tip.py cache at all? I see the InferenceContext class in context.py has its own cache which seem more context aware.

What kind of benchmark should I run to evaluate inference_tip.py cache usefulness?

[2022-10-06 20:49] wshanks commented on #7564
I am not sure if it makes sense to treat this case separately from #4577, but I just wanted to note that this particular case only started showing up for me with pandas 1.5.0 while the other cases in #4577 were present for earlier versions of pandas.

[2022-10-07 07:06] finswimmer opened #7583 "Check for imports only needed for type annotations"
### Current problem

Imports, that are only needed for type annotations, should be placed into a `if TYPE_CHECKING` block. This avoids circular imports during runtime and unnecessary loading of modules.

### Desired solution

It would be great if `pylint` would detect imports, which should be placed in the `if TYPE_CHECKING` block. Unless [PEP 563](https://peps.python.org/pep-0563/) is used, it mu

[2022-10-07 07:13] finswimmer opened #7584 "Check class attribute order"
### Current problem

Enforcing the order of class attributes like private/static/class/normal methods, properties, magic method ... makes reading code more smoothly, as the (re)viewer knows where they can expect to find desired information

### Desired solution

It would be great if `pylint` would have a check for enforcing such an order. Beside a default order, it should be possible to configure

[2022-10-07 07:34] Pierre-Sassoulas commented on #7547
Ok, I think you're right and it's a false negative. ``autoflake`` is not removing the import either, you could open the same issue in their repository if you want.

[2022-10-07 07:35] DanielNoord commented on #7547
Just to be sure, we should just ignore any second parameter to `Annotated` right? Or is there any case where it should be counted towards "usage".

[2022-10-07 11:55] wieczorek1990 opened #7585 "Infinite loop when ``c-extension-no-member`` is activated"
### Bug description

pylint does not complete linitng.
Warnings are printed when available but the program does not complete.

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Does not loop forever.

### Pylint version

[code]

### OS / Environment

macOS 12.6 (21G115)
Alpine Linux v3.16

[2022-10-07 13:48] wieczorek1990 commented on #7585
The problem is with the following code:

I have a test like this:

[code]

 I have Django model like this:

[code]

The typing code is here:

[code]

The test is invalid because it assigns a string to an annotated enum.

pylint is stuck on branch `v3.0.0-a5` in `pylint.checkers.typecheck._similar_names:187`.
I've checked that it does not enter `_node_names` and is somewhere it `functools.singledis

[2022-10-07 14:01] mbyrnepr2 commented on #4414
python-ldap uses [C extensions](https://github.com/python-ldap/python-ldap/blob/master/setup.py#L104) & the false positive goes away with:
[code]

@Pierre-Sassoulas what do you think we can do to make this clear to users - do we document commands such as this?

Alternatively do you think there would still be value in creating a plugin for this?

[2022-10-07 14:14] mbyrnepr2 commented on #4148
I can't reproduce this on Python 3.7, 3.8, 3.9 or 3.10.

There could potentially be other issues we don't know about since I believe astroid does not currently give special treatment to ldap3 in the form of an astroid brain; but that is probably best served in the form of a plugin.

I think we can close but tagging @DanielNoord in case I've missed something!

[2022-10-07 15:09] kayhayen commented on #7556
There are valid uses for `arguments-differ` in my mind, so disabling it globally is likely to miss out on useful reports, which would be a pity. The LSP violation topic, I must admit, I get it, but I feel like it deserves its own warning. I did not figure out, what LSP stands for. I would appreciate a link if you have any.

In my mind it's PyLint that warns about methods that do not use `self`, an

[2022-10-07 15:16] jacobtylerwalls commented on #7556
[Liskov Substitution Principle](https://en.wikipedia.org/wiki/Liskov_substitution_principle)

[2022-10-07 16:44] jacobtylerwalls commented on #7585
Interesting. Can you reproduce against a stable version like 2.15.3?

[2022-10-07 16:45] wieczorek1990 commented on #7585
Same on that version.

W dniu pt., 7.10.2022 o 18:45 Jacob Walls ***@***.***>
napisał(a):

[2022-10-07 17:33] Pierre-Sassoulas commented on #4148
Did you install ldap3 @mbyrnepr2 ?

[2022-10-07 17:34] #4414 closed

[2022-10-07 17:35] Pierre-Sassoulas commented on #4414
There is a message that suggest to use ``extension-pkg-whitelist`` (``c-extension-no-member``) but it's never raised instead of no-member like it should it seems. We have a documentation

[2022-10-07 17:43] mbyrnepr2 commented on #4148
Yes indeed I did! Without it I get an import error.

[2022-10-07 17:47] wieczorek1990 commented on #7585
I've tried to reproduce here:
https://github.com/wieczorek1990/pylintloop
But without any luck.

[2022-10-08 00:08] olivierlefloch commented on #2525
On M1 Macs, on large codebases, `-j=0` is equivalent to `-j=10`, and seems (unsurprisingly, given high performance vs efficiency cores) to perform worse than `-j=6` ; this makes it difficult to specify a single value in the shared `pylintrc` config file for a repository shared between developers using a broad variety of machines, and likely makes `-j=0` undesirable on recent Apple machines.

[2022-10-08 00:55] christopherdwelton commented on #981
I ran into the same problem, and found this while checking to see if I should file a bug of my own.
`class A():
    def __init__(self, init_str):
        self.init_str = init_str

    @classmethod
    def from_str(cls, init_str):
        return cls(init_str)

    def basic_method(self):
        print(f'Basic method for class {self.__class__}, with init_str {self.init_str}')

class B(A):
    @class

[2022-10-08 00:57] christopherdwelton commented on #981
I had the same problem and found this while searching to see if I should file a bug.
[code]

[2022-10-08 09:44] DanielNoord commented on #7464
Hm, that is a good question. We should probably move that discussion to the `astroid` repository. A basic test would just be running `pylint` over a fairly large repository and seeing whether the timings are different. That's very crude but might be a good start.

[2022-10-08 15:20] cdce8p commented on #7428
Cross posting here for visibility from https://github.com/PyCQA/pylint/pull/7322#issuecomment-1272340928

It's not as common as you may think. I would even argue that it's an antipattern which should be avoided except for very specific cases. It's much better to use different / more verbose names to avoid confusion and improve readability. Some common once include `S`, `T`, `U`, `V`, `KT`, `VT`. J

[2022-10-08 15:30] cdce8p commented on #7584
It would certainly be possible to write an optional checker for it. However, I'm not sure we should do that. What value could `pylint` provide here that isn't already covered by the `flake8` plugin? It would just add additional maintenance load.

[2022-10-08 15:32] cdce8p commented on #7583
It could be possible to write a check for it. However, I'm not sure we should do that. What value could `pylint` provide here that isn't already covered by the `flake8` plugin? It would just add additional maintenance load.

[2022-10-08 15:39] cdce8p commented on #7394
Quoted annotations are just strings at runtime and won't break anything. This will run just fine.
[code]

In contrast here `undefined` is an unresolved reference and Python would raise a `NameError`.
[code]

As @Pierre-Sassoulas already suggested, to validate annotations, type checkers (like mypy or pyright) are much better and both will issue warnings for it.

I suggest we close this issue.

[2022-10-08 15:50] cdce8p commented on #7524
Yeah. I didn't want to do inference for each name. The question quickly becomes where do you stop? What about this for example?
[code]
You also don't have to use `if TYPE_CHECKING`. Any condition which evaluates to `false` at runtime would work. Mypy has a config value which can be used for it: [`always_true`](https://mypy.readthedocs.io/en/stable/config_file.html?highlight=always-true#confval-alw

[2022-10-08 17:35] #7394 closed

[2022-10-08 17:37] Pierre-Sassoulas commented on #7394
This this could be fixed if #4795. Closing for the reason Marc listed.

[2022-10-09 03:56] jacobtylerwalls commented on #7545
Reproduced at 0d62f67d86c482bd3703e0a75b0f4eb1c8b0e0ee.

@Pierre-Sassoulas probably a good sign that we should leave Needs Triage on until we do meaningful triage and then leave Needs reproduction for more of a "needs info" type deal. Thoughts?

[2022-10-09 04:00] jacobtylerwalls commented on #7584
I have that question also. I'm also concerned this would need to be an extension as it's as or more opinionated than `black`, and then I wonder about Marc's question even more.

[2022-10-09 04:04] #7405 closed

[2022-10-09 04:11] jacobtylerwalls commented on #7556
No, but I believe you could disable the message for part of the module, right before the base class, and then enable it again after all of your subclasses. (If the idea is to not have disables on each subclass.) See: https://pylint.pycqa.org/en/latest/user_guide/messages/message_control.html

[2022-10-09 04:27] jacobtylerwalls commented on #6795
Let's just relax the check to allow `__index__` calls. The spirit of the check as I took it was to replace obvious things like `__len__` with `len`, not deal with this can of worms. :D

[2022-10-09 04:38] jacobtylerwalls commented on #981
A test case using metaclasses: #7219.

[2022-10-09 04:38] jacobtylerwalls commented on #7219
Thanks for the report. I've mentioned your test case on the master duplicate for `no-member ` and super classes implementing `__new__`.

[2022-10-09 04:38] #7219 closed

[2022-10-09 04:47] jacobtylerwalls commented on #7348
Reproduced at 0d62f67d86c482bd3703e0a75b0f4eb1c8b0e0ee.

[2022-10-09 06:02] tyralla commented on #7428
Thanks for keeping me informed!

Verbosity does not seem to be your main concern when favouring `S` and `T` over `T1` and `T2`.  Maybe it's only my impression that the last of the following definitions is the clearest, but at least it does not read that worse to call it an antipattern:

[code]

So, my feeling is that pylint sets constraints here without strong (or at least transperant) reasons.

O

[2022-10-09 07:25] Pierre-Sassoulas commented on #7428
There wasn't a great deal of standard when we added this check so we took some decisions, but I don't see them as irreversible personally. In particular if this is formalized in a PEP we're going to change them.

[2022-10-09 07:34] Pierre-Sassoulas commented on #7584
OP (@finswimmer) commented on discord that he want to use pylint instead of flake8 and that satisfying a single linter is already hard enough. My response was that pylint and flake8 are not incompatible, and that most of the time there's a lot of check that are similar and that fixing pylint also fix flake8 and vice versa. So my advice would be to use both linters. Also it's possible to create a p

[2022-10-09 07:34] #7584 closed

[2022-10-09 07:36] Pierre-Sassoulas commented on #7583
Closing for the same reason than https://github.com/PyCQA/pylint/issues/7584

[2022-10-09 07:36] #7583 closed

[2022-10-09 07:38] Pierre-Sassoulas commented on #7545
You're right I'm going to stop doing that.

[2022-10-09 14:50] cdce8p commented on #7428
Antipattern might have been a bit too strong of a word. Let's just say, I wouldn't recommend it personally. Looking at your example, IMO, with just number suffixes it's more likely they get confused than using different letters or even more descriptive names. In the end, I think readability is much more important than brevity.

The only good use of a number suffix I can think of is annotating some