[2018-03-26 09:54] sloev opened #1960 "cant install pylint on 3.3 due to isort"
please exlude isort from your requirements or pin it to a version that is not destructive and please add tests in pylint for python 3.3, then you would have caught it like `https://travis-ci.org/trustpilot/python-cireqs/jobs/358315547` did.

### Steps to reproduce
1. on python 3.3
2. pip install pylint
3. install breaks due to isort: `isort requires Python '>=2.7, !=3.0.*, !=3.1.*, !=3.2.*, !=3.3.

[2018-03-26 10:07] PCManticore commented on #1960
We no longer support Python 3.3, the only versions we support right now are 2.7 and 3.4+.

[2018-03-26 10:07] #1960 closed

[2018-03-26 13:54] soundlake commented on #1138
I couldn't find the reason why `extension-pkg-whitelist` doesn't work for me, but I found another solution.
`unsafe-load-any-extension=yes` is the thing.

[2018-03-26 13:55] soundlake commented on #1524
@neocogent `--unsafe-load-any-extension=y` worked for me.

[2018-03-26 14:55] PCManticore commented on #1952
While this pattern of joining strings is indeed not idiomatic, I don't actually think it is actually used that much in the wild. Unless this is a gotcha that trips beginners or folks in general, I wouldn't see a lot of benefit for adding it straight into pylint. If you have some examples though where this pattern is prevalent, I would be happy to reconsider this issue.

[2018-03-26 14:55] #1952 closed

[2018-03-26 14:58] PCManticore commented on #1138
The thing is that `unsafe-load-any-extension` and `extension-pkg-whitelist` is basically the same feature, with the caveat that the former will exempt all C extensions, while the latter will exempt only those mentioned that list. It could be that with `unsafe-load-any-extension` we also load some module that we miss with `extension-pkg-whitelist` which could explain why one works for you but the o

[2018-03-26 15:11] PCManticore commented on #1955
This seems to be a C extension module, you could try running pylint with `--extension-pkg-whitelist=iothub_client` to see if that gets rid of this problem for you. Unfortunately we have some limitations with regard to C extensions, so the only way we could analyze those is to import the modules and build ASTs from the actual module object.
Unfortunately I can't actually test that this works since

[2018-03-26 15:11] #1955 closed

[2018-03-26 15:13] PCManticore opened #1962 "Add better documentation about `extension-pkg-whitelist`"
We're getting lots of issues with C extensions that can't be actually analyzed by pylint, with the recommended solution being `extension-pkg-whitelist` for almost every issue. It doesn't seem though that this functionality is well exposed in the documention, so it would be great if we'd have a section dedicated to extension modules and how to approach analyzing those.

[2018-03-26 15:15] PCManticore commented on #1954
Thanks for tackling this, Bryce! Would it be possible to have a script that reproduces the benchmark  dataset? This way us and contributors would have a de-facto way for retrieving the dataset, running the integration tests and getting the performance results out of the dataset.

[2018-03-26 15:17] PCManticore commented on #1891
Thanks for tackling this @fffergal !

[2018-03-26 15:17] #1891 closed

[2018-03-26 15:35] fffergal commented on #1891
Thank you.

[2018-03-26 15:38] PCManticore commented on #73
Yes, @florent-vial this issue is still (!) here! No one worked on it and no one volunteered to do it, as far as I know. Have you seen how `distutils` looks in a virtualenv? Something like this if you never saw it https://github.com/pypa/virtualenv/blob/master/virtualenv_embedded/distutils-init.py. From the point of view of pylint, this `version` module is simply not there. The only way we could po

[2018-03-26 15:42] pheanex commented on #1952
Thank you for the feedback.

Of course I do not have any numbers or estimates on how often this actually occurs in the whole python eco-system.
I personally have seen it often enough to suggest and implement this checker, as I think it's a help to beginners and people who want to improve their code (and rely on linters to get better).

Another indicator that this might be of value is the fact that

[2018-03-26 15:55] soundlake commented on #1138
@PCManticore Thx. Apparently, the module name that's recognized by `astroid` is not `MySQLdb`, but `_mysql`. But it doesn't look right. Isn't it supposed to recognize `MySQLdb`, especially, the target python code imports `MySQLdb` rather than `_mysql` directly?

[2018-03-26 16:02] PCManticore commented on #1952
Alright @pheanex this sounds reasonable after all, thanks for the arguments. Regarding the check itself, I'd implement it from the augmented assignment upwards, rather than the other way around, since this will be easier to implement.

[2018-03-26 16:11] pheanex commented on #1952
Ok, would you rather have me put this (and other idiomatic-checkers) into a sperate extension or pylint (refactoring) directly?
Thank you for the implementation tip.

[2018-03-26 16:18] PCManticore commented on #1952
Let's start with core first and see where that takes us. Unfortunately the extensions seems right now like a place where checkers go to die, since it doesn't seem that a lot of folks are familiar with them (that is a point to be made wrt documentation).

[2018-03-26 18:05] PCManticore commented on #1953
Thanks, I can reproduce this issue!

[2018-03-27 02:52] brycepg opened #1964 "Pylint silently ignores errors for enabling and disabling messages"
### Steps to reproduce
pylint --disable=ALL somefile.py

### Current behavior
The above code will not disable all messages, because `ALL` doesn't do anything. The correct parameter would be `--disable=all`. There is no error and pylint continues to run.

### Expected behavior
Pylint should throw an error when given an unknown message to disable or enable.

Another more insidious example is somethi

[2018-03-27 03:11] brycepg commented on #1954
Yeah, I'll on adding some docs to https://github.com/brycepg/pylint-corpus

I've decided to just download source of each python repository into the corpus repository, so I don't have to worry about performance changing over new versions of the same repository.

[2018-03-27 03:13] brycepg commented on #1954
Some other notes: I tried to make pylint work on some really big repositories like pandas and numpy but pylint never completed, even over night

[2018-03-27 05:06] AWhetter commented on #1892
Closing via #1918. Thanks for the contribution!

[2018-03-27 05:06] #1892 closed

[2018-03-27 05:40] PCManticore commented on #1138
@soundlake That happens because MySQLDb has a C extension that it wraps (https://github.com/farcepest/MySQLdb1/blob/master/_mysql.c). `extension-pkg-whitelist` unfortunately needs the actual C modules to build the AST.

[2018-03-27 05:42] PCManticore commented on #1957
This seems a bit too specialized, but ColonelF suggested a potential solution that could work without any additions to pylint: https://stackoverflow.com/a/49462966/211050

[2018-03-27 05:42] #1957 closed

[2018-03-27 05:42] PCManticore commented on #1956
Sounds good to me.

[2018-03-27 05:43] PCManticore commented on #1950
CC @hippo91 I think we added a fix for this a while back. Maybe @hippo91 could confirm when he gets a chance.

[2018-03-27 05:47] PCManticore commented on #1964
Sounds good!

[2018-03-27 06:11] fffergal commented on #1892
Thank you.

[2018-03-27 06:58] PCManticore commented on #1954
Wow that is crazy! I wonder what graphs we could extract from pandas and numpy, maybe there are other pathological cases that we might need to look into.

[2018-03-27 08:07] #1669 closed

[2018-03-27 08:11] #1922 closed

[2018-03-27 08:18] PCManticore commented on #1600
This should be fixed now. `docs.pylint.org` was marked as the canonical domain for serving the documentation, which is why the redirect & search didn't quite work. Now I marked `pylint.pycqa.org` as the canonical domain, and this should fix the problem. If you go to `docs.pylint.org` you'll be redirected to `pylint.readthedocs.io` (as this was the redirect that the owners of pylint.org added). The

[2018-03-27 08:18] #1600 closed

[2018-03-27 08:21] PCManticore commented on #1514
Sounds reasonable Ashley!

[2018-03-27 08:21] #1514 closed

[2018-03-27 09:17] formulahendry commented on #1955
Hi @PCManticore , yes, it wrap the c code. And the package 1.3.0.0b0 version of the package (https://pypi.python.org/pypi/azure-iothub-device-client/1.3.0.0b0) supports on Linux.

Is this need to be improved in the future? So for now, I need to use `--extension-pkg-whitelist=iothub_client`, right?

[2018-03-27 11:02] mpeterson opened #1965 "too-many-function-args with functions inside six.moves.urllib_parse"
### Description

There seems to be a problem with the usage of urllib.parse through six and how pylint handles it, leading to a `too-many-function-args` error.

### Steps to reproduce

1. Create file foo.py
2. Run pylint on it

**foo.py**
[code]

### Current behavior

[code]
That would result in a `too-many-function-args` error from PyLint on urlunparse, as you can see.

### Expected behavior

The

[2018-03-27 15:25] PhilippSelenium opened #1966 "Redefining built-in 'range' when importing from builtins"
### Steps to reproduce
[code]

### Current behavior
Redefining built-in 'range' (redefined-builtin)

### Expected behavior
No warning is shown

### pylint --version output
pylint 1.8.3,
astroid 1.6.2
Python 2.7.12 (default, Nov 19 2016, 06:48:10)
[GCC 5.4.0 20160609]

[2018-03-27 15:45] PCManticore commented on #1966
Thanks, should be easy to fix.

[2018-03-27 16:05] transreductionist opened #1967 "Cannot disable custom checker error (code)"
### Steps to reproduce
The only discussion I found online concerning this issue was that certain inline checks are not supported by Pylint. No reference to the documentation was made.

1. Build a simple plugin called `nusa_whitespace_plugin.py` enforcing spaces immediately after and before the grouping characters [({\[\]})] where:

[code]

2. Verify custom error occurs on a given line, and that it

[2018-03-27 16:10] PCManticore commented on #1967
Are you wrapping your visit methods with `check_messages(nusa-whitespace-checker)`?

[2018-03-27 16:15] transreductionist commented on #1967
No I am not. I am using `__implements__ = IRawChecker` and not AST.

[2018-03-27 17:33] soundlake commented on #1138
@PCManticore Thank you for the explanation. I'm not pond of the situation, but I get the point.

[2018-03-27 18:35] florent-vial commented on #73
Hey thanks for the feedback. I have little insight into the virtualenv internals to say the least, so i am not ready either to dig into this one.
I used the inline # pylint: disable=no-name-in-module,import-error wherever i am using distutils.version, which is an ok workaround after all since i execute code anyway somewhere else.

[2018-03-27 21:27] zspitz commented on #1138
@PCManticore Does the same thing (the name of the C extension must be used with `extension-pkg-whitelist` instead of the Python package`) happen every time a package wraps a C extension? If not, under what circumstances does this happen?

[2018-03-28 03:22] CodeAlkemist opened #1968 "hsahlib blake2b and blake2s errors"
### Steps to reproduce
1. Use python 3.6
2. add
[code]
to any file and try pylint
3. It will give the error that the module don't exists

### Current behavior
Despite being a python standard library function blake2 hashing classes are being reported as non existing by pylint.

### Expected behavior

### pylint --version output
[code]

[2018-03-28 07:37] #1968 closed

[2018-03-28 07:39] PCManticore commented on #1138
@zspitz yes, the name of the C extension has to be passed to `extension-pkg-whitelist` whenever a  python library wraps it. This is a caveat that I'll hope to address with #1962.

[2018-03-28 08:01] PCManticore commented on #1965
This is fixed now in astroid 1.6, we'll just have to release it.

[2018-03-28 08:01] #1965 closed

[2018-03-28 15:38] cosven opened #1969 "py3k option not working under Python 3 interpreter?"
### Steps to reproduce
1. create a file named **t.py**
[code]
2. run pylint: `pylint --py3k t.py`

### Current behavior
pylint will not show any messages.
[code]
### Expected behavior
show messages like: bad-python3-import, print-statement

### pylint --version output

[code]

[2018-03-28 20:48] garyking opened #1970 "Require two blank lines surrounding functions"
How can I get pylint to require that there are exactly two blank lines surrounding functions? Or does this rule not exist in pylint yet?

[2018-03-28 22:44] jwkvam commented on #1970
I think you want [pycodestyle](https://github.com/PyCQA/pycodestyle)

[2018-03-28 22:50] bersbersbers opened #1971 "numpy.uint16(...) incorrectly detected as str"
### Steps to reproduce
1. pylint bug.py
[bug.py.txt](https://github.com/PyCQA/pylint/files/1858058/bug.py.txt)

[code]

### Current behavior
[code]
### Expected behavior

No pylint error - bug.py runs fine.

### pylint --version output

[code]

[2018-03-29 00:32] garyking opened #1972 "Change colorized colors"
When I set the output format to be colorized in pylint, some of the errors use dark blue text, but it is hard to read against a black background.

Please allow us to change the text's color.

![pylint-colorized](https://user-images.githubusercontent.com/343940/38063430-2776a33a-32c7-11e8-95e3-c7c51f5f5a0b.png)

[2018-03-29 00:54] garyking commented on #1970
Is there any reason why pylint doesn't also enforce this one rule, among the many others that it does support?

[2018-03-29 05:38] PCManticore commented on #1969
This happens because we only enable the porting checker on Python 2, while on Python 3 is a no-op. I think we could just do it on Python 3 as well, although some syntax checks will never be triggered, since it depends on the ast parser from Python 2.

[2018-03-29 05:42] PCManticore commented on #1970
No one got to implement it, we don't have rules for the entire PEP 8. You definitely want pycodestyle here as I don't see pylint implementing PEP 8 anytime too soon.

[2018-03-29 05:42] #1970 closed

[2018-03-29 05:46] PCManticore commented on #1971
This happens because we use strings in the astroid brain tip that we have for numpy: https://github.com/PyCQA/astroid/blob/master/astroid/brain/brain_numpy.py#L153. We should change those to return an object that has the `view()` method and that returns the corresponding type.
CC @hippo91

[2018-03-29 05:48] cosven commented on #1969
I think we can firstly put an note or warning in document.

[2018-03-29 05:53] #1972 closed

[2018-03-29 05:57] PCManticore commented on #1967
Alright, if you use the raw checker you should check yourself that the message is enabled, so before emitting or before processing your new error, add a verification like this:
[code]

[2018-03-29 05:57] #1967 closed

[2018-03-29 06:05] PCManticore commented on #1969
Sounds good as well! If you're up to send a patch, that would be great! If not, we'll get to it.

[2018-03-29 06:18] cosven commented on #1969
Ok, I will have a try.

[2018-03-29 08:29] r4jk3 opened #1973 "Problem with Flask-SQLAlchemy, cannot find valid and existing property in SQLAlchemy object."
### Steps to reproduce
1. Install Visual Studio Code
2. Install python support and install pylint
3. Setup basic flask app
4. Create Blueprint and import db from main __init__.py

### Current behavior
severity: 'Error'
message: 'E1101:Instance of 'SQLAlchemy' has no 'Column' member'
at: '14,10'
source: 'pylint'
code: 'E1101'

### Expected behavior
No errors (since code / application works as expec

[2018-03-29 10:56] MarKett opened #1974 ""#pylint: disable=" in docstring causes exception in format checker"
### Steps to reproduce
1. Create a test.py with the following content:
[code]
2. Run pylint over this file.

### Current behavior
**Exception:**

### Expected behavior
The pylint disable command may or may not be executed. But there should be no exception while checking files with such docstrings.

### pylint --version output
Python: 3.6.1 (64bit)
PyLint: 1.8.3
Astroid: 1.6.2

[2018-03-29 13:34] transreductionist commented on #1967
I know the message is enabled because it correctly identifies, and emits
the error message for the appropriate line. Is this what you were asking me
to verify?

The problem is that I cannot turn it off for the offending line.

Best regards,

Aaron Peters

On Thu, Mar 29, 2018 at 1:57 AM, Claudiu Popa <notifications@github.com>
wrote:

[2018-03-29 13:53] amyspark opened #1975 ""Module 'numpy' has no ... member" error with PyLint 1.8.3"
### Steps to reproduce

1. Use `pylint`  from within Visual Studio Code (I'm using the Insiders build, 1.22.0-insider).

### Current behavior

This example triggers `E1101:Module 'numpy.random' has no 'RandomState' member`, even though the IntelliSense help can perfectly find the class:

[code]

### Expected behavior

No errors with the given example.

### pylint --version output

No config file f

[2018-03-29 15:23] nicktimko opened #1976 "Incorrect "undefined variable" error for class variables as return type annotations"
pylint seems to incorrectly identify an undefined variable error when using a class variable as a *return* type annotation. Argument type annotations appear to be OK.

### Steps to reproduce
[code]

### Current behavior
[code]

### Expected behavior

No error.

Curiously, the below doesn't emit any errors, where `MyType` should have identical scope:

[code]

### pylint --version output

[code]

[2018-03-29 15:41] pheanex opened #1977 "Enhancement: Add a [consider-using-in]-checker"
**I suggest adding a checker that detects boolOps where manual comparisons of a variable are made against multiple elements with "or"s instead of using "in" against a set of the elements combined**

Example:
[code]

It's in the same spirit of the existing RefactoringChecker ["consider-merging-isinstance"](https://github.com/PyCQA/pylint/blob/master/pylint/checkers/refactoring.py#L473).

If there a

[2018-03-29 20:35] MrMallIronmaker opened #1978 "def within function fools too-many-statements checker"
### Steps to reproduce
1. Write a method with 50+ statments
2. Write another method with 50+ statements, then a short function definition in the middle, then another 10 statements or so.
3. Run pylint. Observe which functions have the too-many-statements annotation.

### Current behavior
No error related to too-many-statements in the function with another function definition in the middle.

### Ex

[2018-03-29 23:15] sandrotosi opened #1981 "tests failure with pylint/1.8.3 on debian unstable"
Hello,
while building pylint for debian unstable, we run the unittests and these are the failures we got with 1.8.3:

[code]

hth, Sandro

[2018-03-30 01:47] LucasMeier opened #1982 "pylint E0602: Undefined variable '' for all PyQt5 classes in VS Code"
### Steps to reproduce
[code]

### Current behavior
[code]
E0602 Error for all the PyQt5 classes. But the .py file is runnable without errors.

### Expected behavior
How to set pylint to 'let' PyQt5 classes no longer 'undefined'

### pylint --version output
latest version of pylint, VS Code, Anaconda and PyQt5.6

[2018-03-30 06:42] PCManticore commented on #1982
Is this the whole script? Where do you actually import these values from PyQt5?

[2018-03-30 06:42] PCManticore commented on #1977
Sounds good! I suggest recommending using a set literal instead of a tuple, `name in {a, b, c}`.

[2018-03-30 06:44] PCManticore commented on #1975
Thanks for the report!

[2018-03-30 07:05] #1974 closed

[2018-03-30 07:26] #1852 closed

[2018-03-30 07:46] PCManticore commented on #1973
Thanks, I think we don't understand any of Sqlalchemy's library. This might require some updates in astroid's brain tips to support sqlalchemy by providing hints on how the library looks.

[2018-03-30 07:47] PCManticore commented on #1976
Thanks, I can reproduce the issue!

[2018-03-30 07:54] #1909 closed

[2018-03-30 08:55] PCManticore opened #1983 "Investigate on what else does mypy a good job other than type checking"
There might be useful things to borrow from mypy apart of the type checker: https://github.com/python/mypy/issues

[2018-03-30 11:15] PCManticore opened #1984 "False positive for simplifiable-if-statement when the boolean values are not the same"
### Steps to reproduce
1. Save the following in a file and run pylint over it
[code]

### Current behavior
pylint emits a `simplifiable-if-statement`.

### Expected behavior
pylint shouldn't emit `simplifiable-if-statement` since we assign to two different values in the `if` statement.

### pylint --version output
master & 1.8.3

[2018-03-30 15:52] LucasMeier commented on #1982
@PCManticore Thanks for the hint. I updated the issue description by adding the import methods. All classes from PyQt5 are shown as E0602 error, thus I didnot listed them all. The PyQt5 was imported from latest version of Anaconda. Python version is 3.6. Thanks.

[2018-03-30 21:14] pheanex commented on #1977
The problem with using a set literal as container is that it can not take unhashable types.
[code]

For a first set of testcases I came up with the following:
[code]

Should we also suggest the fix in the message?

[2018-03-31 04:45] #224 closed

[2018-03-31 04:45] #1660 closed

[2018-03-31 08:17] hippo91 commented on #1950
@PCManticore the bugs #1741 and #1742 are related but not exactly the same.
@madeddy thanks a lot. I can reproduce the bug and will work on it ASAP but i'm really busy this moment.

[2018-03-31 08:20] hippo91 commented on #1971
@PCManticore you are absolutely right. I'll work on it ASAP.
@bersbersbers thanks for the issue.

[2018-03-31 10:48] PCManticore opened #1986 "Raise an exception is maxversion is not a tuple"
### Steps to reproduce
1. Create a new pylint checker and set `maxversion` for a message to something else than a tuple, say a string.
2. Enable the checker and see that the message is never emitted.

### Current behavior
The message is never emitted.

### Expected behavior
We should raise an exception here. What is happening is that on Python 2 we can compare objects of different types, while on

[2018-03-31 14:43] transreductionist commented on #1967
This is a defect and you closed it. Why?

Best regards,

Aaron Peters

On Thu, Mar 29, 2018 at 9:34 AM, transreductionist <
transreductionist@gmail.com> wrote:

[2018-03-31 14:44] transreductionist commented on #1967
I guess I will fix it myself and not share it with you.

Best regards,

Aaron Peters

On Sat, Mar 31, 2018 at 10:43 AM, transreductionist <
transreductionist@gmail.com> wrote:

[2018-03-31 18:41] glmdgrielson commented on #1956
You mean this only _just now_ came up? I'll find a solution if need be because that seems **really** arbitrary!
There's no way to get to them from the outside so why are they necessary?

[2018-03-31 20:38] PCManticore commented on #1956
What's with the passive aggressiveness?

[2018-04-01 02:32] glmdgrielson commented on #1956
Sorry, I just overreacted. It seemed unbelievable to imagine a problem like only coming up `9 days ago`. I have provided a fix though.

[2018-04-01 19:59] kczapla commented on #1822
I looked into that. It seems that issue is astroid related. Value of col_offset of node, that represents triple quote expression is -1. PyLint checkers only read from this field.

[2018-04-01 21:50] kczapla commented on #1937
Hey,
I tired to reproduce but I am getting:

Is it fixed already?

# pylint --version output:

__main__.py 2.0.0
astroid 1.5.3

[2018-04-01 21:54] kczapla commented on #1935
It looks like it is already fixed:

[2018-04-02 00:34] danijar commented on #1909
@PCManticore Thanks a lot for working on this!

[2018-04-02 07:06] PCManticore commented on #1935
Thanks for taking a look @kczapla ! This issue refers to the `--py3k` flag which activates a special checker that looks for Python 2/3 compatibility issues. Unfortunately `no-member`, the error you linked above, is usually not included in this check, so we can't rely on it. We need custom support for `string.letters` in the porting checker since usually folks use just that flag when they want to g

[2018-04-02 07:08] PCManticore commented on #1937
Thanks for looking into this @kczapla ! Not quite, I assume you ran pylint with Python 3. We should warn about this syntax when we run pylint on Python 2 with the `--py3k` flag activated, for which this syntax is still valid.

[2018-04-02 07:45] PCManticore commented on #1822
Thanks for taking a look @kczapla ! This is just a problem of the underlying Python parser that we use, which could only be solved by using a different parser altogether.  Here's an example on how the col_offset is wrong:
[code]

[2018-04-02 07:45] #1822 closed

[2018-04-02 07:54] PCManticore commented on #1977
That's a good observation @pheanex ! The test cases look good to me and I appreciate that we keep it just for simple cases, otherwise it might turn into a painful check to implement correctly. Suggesting the fix sounds good as well if it doesn't complicate the check too much,.

[2018-04-02 08:05] PCManticore commented on #1981
Thanks for the report @sandrotosi ! Is `enum` somehow different on debian than the enum from pypi that we use in pylint? it seems that most of these test failures involves enums somehow and I wonder why we don't get these in Travis. The other output that I see is the linting errors, I'm not sure how this got in pylint? It seems as if it runs against `enum` and `bsddb`, is this somehow custom for d

[2018-04-02 08:50] PCManticore commented on #1686
This is fixed in astroid 1.6 (not yet released but I'll release it this week most likely) by @macbeth322 's PR.

[2018-04-02 08:50] #1686 closed

[2018-04-02 08:54] #1956 closed

[2018-04-03 01:12] andresgarcia0313 commented on #1663
chcp 65001 && pip install pylint && chcp 866 && pip install pylint

https://ss64.com/nt/chcp.html

[2018-04-03 06:23] a4abhishek opened #1990 "Add `isinstance` in `if` condition check as a special case"
### Steps to reproduce
1. Write this simple code and save it:
[code]
2. Run `pylint` on this file.
3. Output of Pylint:
[code]

### Current behavior
I is showing Error in line: 7 which should not be an error.

### Expected behavior
It should not show Error in line-7 as I am already checking if `err` is an instance of `subprocess.CalledProcessError` which has member `returncode`.

### pylint --vers

[2018-04-03 13:39] PhilippSelenium opened #1991 "No useless-else-on-loop warning when using return instead of break"
### Steps to reproduce
[code]

### Current behavior
Else clause on loop without a break statement (useless-else-on-loop)

### Expected behavior
No warning

### pylint --version output
pylint 1.8.3,
astroid 1.6.2
Python 2.7.12 (default, Nov 19 2016, 06:48:10)
[GCC 5.4.0 20160609]

[2018-04-04 07:02] tuukkamustonen opened #1992 "Variable length tuple (Tuple[T, ...]) type hint as keyword argument gives false positive as "bad-whitespace""
### Steps to reproduce

[code]
`pylint test.py`.

### Current behavior

[code]

### Expected behavior

There shouldn't be violation.

http://mypy.readthedocs.io/en/latest/kinds_of_types.html#tuple-types recommends against variable length tuples:

However, `Tuple[T, ...]` is _supported_, so pylint should support it, too.

### pylint --version output

Latest from master:

[code]

[2018-04-04 10:12] tuukkamustonen commented on #1782
@hippo91 Indeed, @mthuurne's https://github.com/PyCQA/pylint/issues/1782#issuecomment-359230013 does not reproduce on 2.0 anymore. But this does:

[code]

(Sure, doesn't make much sense as is.)

[2018-04-04 14:48] smontanaro opened #1993 "The string module isn't really deprecated, just parts of it."
​Pylint has been complaining about the string module being deprecated for about as long as I can remember. I've seen no indication that it will ever go away completely. It's certainly still the only place to get a number of useful string constants (ascii_letters, digits, punctuation, ...). A bunch of string functions were dumped in the 2-to-3 change. If pylint is going to complain about the string

[2018-04-04 17:08] PCManticore commented on #1993
Thanks for the issue @smontanaro ! If I'm not mistaken, we don't warn about string being deprecated for a couple of releases now. Are you using the latest 1.8 release and still have this issue?
Regarding complaining about those names in the porting checker, that's a great idea and we already do that: https://github.com/PyCQA/pylint/blob/e0aafa646a6aaf90603e7d595e9df922c27e3228/pylint/checkers/pyth

[2018-04-04 17:13] PCManticore commented on #1992
Thanks for the issue! It's not a matter of pylint not supporting `Tuple[T, ...]`, in fact we don't :) We don't support type annotations in the same sense that mypy does. The error you're seeing is most likely a bug in our formatting checks, which are more akin to pycodestyle & flake8 checks rather than mypy. Nevertheless, this is a bug!

[2018-04-04 17:16] PCManticore commented on #1990
Thanks for creating this issue @a4abhishek ! This is a well known problem to us, we simply don't support any control flow understanding whatsoever right now, basically we disregard any `if` guard and infer the potential values of a variable from all the branches, which is the reason why you're also seeing this error. There is no progress yet, but we have dozens of issues that will be solved once w

[2018-04-04 18:49] PCManticore commented on #1991
I'm closing this issue with the same rationale from https://github.com/PyCQA/pylint/issues/1592. The `else` branch can simply be removed when you're using `return` instead of `break` as the clause will always be triggered.

[2018-04-04 18:49] #1991 closed

[2018-04-04 18:57] #1966 closed

[2018-04-04 19:03] PCManticore commented on #1847
Closing this one in favour of #1981 Thanks for creating these issues @sandrotosi !

[2018-04-04 19:03] #1847 closed

[2018-04-05 02:31] smontanaro commented on #1993
Claudiu,

You were correct that I wasn't using the latest version of pylint. I updated from 1.7.4 to 1.8.3, but I still received the same complaint. I didn't get the warning message on my home computer, and was scratching my head for a long while about why I kept getting that message on my work computer. Then I found a list of deprecated modules in my ~/.pylintrc dating from 2016. I imagine that i

[2018-04-05 02:31] #1993 closed

[2018-04-05 05:24] #1558 closed

[2018-04-05 05:44] PCManticore commented on #1769
Closed as duplicate of https://github.com/PyCQA/pylint/issues/1388.

[2018-04-05 05:44] #1769 closed

[2018-04-05 05:46] #1788 closed

[2018-04-05 05:53] #1935 closed

[2018-04-05 06:37] #1924 closed

[2018-04-05 09:03] a4abhishek commented on #1990
Thanks @PCManticore for considering this.

[2018-04-05 18:56] PowerSnail opened #1994 "False positive on scipy.io.loadmat"
### Steps to reproduce
1. import `scipy.io`
2. use `scipy.io.loadmat`
3. run pylint on the file

Minimal python file to reproduce this:

[code]

[code]

### Current behavior

Report a "no-member" error

### Expected behavior

No report

### pylint --version output

[code]

[2018-04-06 06:08] PCManticore opened #1995 "Catch invalid lambda syntax with the Python 3 porting checker"
### Steps to reproduce
1. Save the following in a file and run pylint with `--py3k` against it
2. `mock_redis.zcard.side_effect = lambda (key): mock_redis.zadd.call_count`

### Current behavior
Does not say that this is invalid syntax on Python 3.

### Expected behavior
Should probably emit a warning

### pylint --version output
1.8

[2018-04-06 06:46] PCManticore commented on #377
I think at least `Exceptions escape except statement` would be useful. I'm going through a big Python codebase and stumble upon this one from time to time.

[2018-04-06 07:25] PCManticore opened #1997 "Emit a warning when removed urllib functions are used"
### Steps to reproduce
1. Save `from urllib import urlencode` in a file and lint with `--py3k`

### Current behavior
Does not emit a warning.

### Expected behavior
We should emit a warning that `urllib.urlencode` is moved in Python 3.

### pylint --version output
1.8 and master.

[2018-04-06 07:35] hippo91 commented on #1950
@madeddy in fact disabling ```C0301``` does disable ```line-too-long``` message emission but not in all cases.

I'm linting the following piece of code:

[code]
On my laptop, pylint result is:
[code]

Of course if i remove ```C0301``` i get:
[code]

However if i add a long commented line at the end of the module, then i got message emission even if i disabled ```C0301```. I'm working on it.

[2018-04-06 07:45] sscherfke commented on #1788
Please not!  f-Strings are [more readable and fast](https://twitter.com/hynek/status/939077060475211778). We don't want to mix old-style and new-style formatting in our code (this is IMHO worse than not using `logger.info('hello %s', name)`.

[2018-04-06 07:52] sscherfke commented on #1788
@PCManticore Or give it at least a different error message (e.g., `logging-fstring-interpolation`) so that users can keep using f-Strings.

[2018-04-06 07:57] hippo91 commented on #1950
@madeddy the bug seems to be present only if the module ends with a commented line.
The ```line-too-long``` message is emitted only for this line.
Can you confirm please?

[2018-04-06 08:06] PCManticore commented on #1788
A different message sounds good to me, if you can please create an issue with it, that would be great! Nevertheless, f-strings might be fast, but there's no need to compute them if there is no need to emit the logging message if its under the expected logging level.

[2018-04-06 09:08] sscherfke opened #1998 "Emit a unique message for logging-fstring-interpolation"
### Steps to reproduce
[code]

### Current behavior
Pylint issues two `logging-format-interpolation` warnings.

### Expected behavior
Pylint issues different warnings for `.format()` and f-strings, e.g. (`logging-fstring-interpolation`). This would enable users to allow f-String usage but warn about `.format()` usage.

### pylint --version output

[code]

Also see: #1788

[2018-04-06 11:04] qb-cea opened #1999 "stop-iteration-return false positive for next() with non-empty cycle"
### Steps to reproduce
[code]

### Current behavior
`Do not raise StopIteration in generator, use return statement instead (stop-iteration-return)`

### Expected behavior
This case should not trigger a refactor message as a [`cycle`](https://docs.python.org/3/library/itertools.html#itertools.cycle) iterator with a non-empty iterable will never raise `StopIteration`.

I am not sure if pylint can de

[2018-04-06 13:07] eddie-dunn commented on #1788
@sscherfke as @PCManticore hinted at, the reason that pylint emits the logging-format-interpolation warning is because it is inefficient to compute the string for a log message that won't be logged. This also applies to f-strings, since even if they are faster than `.format` it is still slower to interpolate than not interpolate at all.

I share your opinion on the greatness of f-strings, but if y

[2018-04-06 14:35] haxwithaxe commented on #1694
I'd like to write this but I'm not finding any unit/functional tests. Am I missing something?

[2018-04-06 18:51] li-boxuan opened #2000 "trailing-whitespace reports wrong column number"
Currently, trailing-whitespace always reports column number 0. IMO it should be the position of the first trailing whitespace.

### Steps to reproduce
1. Add a file with trailing spaces, e.g. (note the trailing spaces)
[code]
2. Run pylint on it

### Current behavior
C:  1, 0: Trailing whitespace (trailing-whitespace)

### Expected behavior
C:  1, 5: Trailing whitespace (trailing-whitespace)

###

[2018-04-07 00:16] pckroon commented on #1999
Hi all,

I would like to add the following to this issue, related to #1830.
[code]

This should not issue the `stop-iteration-return` message since the `next` statement provides a default value.
I observe this behaviour in both pylint 1.8.3 and 1.8.4.

If you prefer, I can also open a separate issue for this.

[2018-04-07 05:46] garyking opened #2002 "Getting "import-error" for package that exists in pipenv"
I've got a project, where pipenv is setup. In pipenv, the `timeago` package is installed, but it's not installed in my global pip.

So when I run `pylint file.py`, it tells me `E:  3, 0: Unable to import 'timeago' (E0401: import-error)` even though it does actually exist, in the pipenv.

It should be possible to point pylint to the pipenv copy of all packages, so that this error does not occur.

[2018-04-07 07:07] anuragagarwal561994 commented on #1502
The problem still exists
[code]

`pip install marshmallow`

script.py
[code]

[code]
.pylintrc
[code]

result
[code]

[2018-04-07 18:38] hippo91 commented on #1782
@tuukkamustonen thanks for your remark. I'll work on your issue ASAP.

[2018-04-07 21:35] #2002 closed

[2018-04-08 03:04] brycepg commented on #1660
The fix for this issue is currently only available on the master branch of astroid. I'll try to backport it for earlier release

[2018-04-08 03:09] brycepg commented on #1999
@pckroon

I'm pretty sure that has been fixed on master branch of pylint, not in any release however. I'll try to backport it for earlier release.

@qb-cea

I think we could at least ignore this message for the infinite generators in itertools (whitelist them). Custom ones would be tricky however.

[2018-04-08 13:07] edmorley opened #2005 "dict-iter-method misses .iter*() of a defaultdict()"
### Steps to reproduce
1. `git clone https://github.com/mozilla/treeherder.git`
2. `cd treeherder && git checkout addd73c8631ee2c005a0139bf0a88fabe3c6a24b`
3. `rm pylintrc`
4. `pylint -d all -e dict-iter-method -s n treeherder/autoclassify/management/co mmands/es_benchmark.py`

### Current behavior
[code]

### Expected behavior
In addition to the instance found on line 100, `dict-iter-method` woul

[2018-04-08 13:13] edmorley commented on #2005
Another variation that would presumably be fixed by the same fix as above: custom subclasses of `dict()`.

### Steps to reproduce
1. `git clone https://github.com/mozilla/treeherder.git`
2. `cd treeherder && git checkout addd73c8631ee2c005a0139bf0a88fabe3c6a24b`
3. `rm pylintrc`
4. `pylint -d all -e dict-iter-method -s n treeherder/client/thclient/perfherder.py`

### Current behavior
No warnings r

[2018-04-08 17:40] sscherfke commented on #1788
Sometimes I just don care.  Practicality beats purity. 😉

[2018-04-08 21:37] chaNcharge opened #2006 "False positive with useless-super-delegation"
As far as I know, this is a return of issue #1085 and it still seems to be present in the current version of pylint. Here's the code I use:

    class Customer(object):
        """
        Attributes:
            name: A string representing the customer's name.
            balance: A float tracking the current balance of the customer's account.
        """

        def __init__(self, name, balance

[2018-04-09 02:46] nivekuil opened #2007 "Trailing comma tuple check misses multi-line tuples"
### Steps to reproduce

[code]

No config file found, using default configuration
--------------------------------------------------------------------
Your code has been rated at 10.00/10 (previous run: 10.00/10, +0.00)

(['f'],)

### Current behavior
No error

### Expected behavior
Pylint should complain

### pylint --version output
No config file found, using default configuration
pylint 1.8.3,

[2018-04-09 02:53] jreese commented on #1992
This looks like an issue when using any type annotation with an ellipsis, including Tuple and Callable:

    C:150, 0: No space allowed around keyword argument assignment
            initializer: Callable[...] = None,
                                       ^ (bad-whitespace)
    C:151, 0: No space allowed around keyword argument assignment
            initargs: Tuple[Any, ...] = None,

[2018-04-09 12:31] vmalloc opened #2008 "Pylint considers `__getattr__` when warning on no-member, but not `__getattribute__`"
### Steps to reproduce

The following code issues no "no-member" warning:

[code]

While the following does:

[code]

### Current behavior

A "no-member" error is emitted for `some_attr` above

### Expected behavior

No warning should be emitted

### pylint --version output

[code]

[2018-04-09 12:41] vmalloc opened #2009 "pylint gets class name wrong when constructing objects with a list of strings"
### Steps to reproduce

Run pylint on the following code:

[code]

### Current behavior

Pylint emits the following message:

[code]

### Expected behavior

This is actually related to #2008, but even if the no-member error *does* get thrown, one would expect it to say "Instance of 'Enum' has no 'red' member".

At the current state of things, it makes it really hard to add an exception to this che

[2018-04-09 14:25] Jitsusama commented on #1853
@PCManticore; I was curious if any work was planned around this? When integrating pylint into my CD life-cycle, I'm getting a tonne of spurious logs while it validates code style.

[2018-04-09 14:31] dstromberg commented on #1853
On Mon, Apr 9, 2018 at 7:25 AM, Joel Gerber <notifications@github.com>
wrote:

I like the stylistic warnings, but perhaps try --errors-only ?

--
Dan Stromberg

[2018-04-09 14:35] PCManticore commented on #1853
No work has been planned, feel free to submit a PR if you have some time!

[2018-04-09 14:46] Jitsusama commented on #1853
@PCManticore; I haven't dug into `pylint`'s code-base yet. Do you have any recommended area of this code-base to start looking at if I were to introduce this feature/change myself?

[2018-04-09 14:53] PCManticore commented on #1853
@Jitsusama You might look into `config.py`, where this log actually happens. The flag can be added to `lint.py`, more exactly in the `Run` class, after which it can be propagated into the config. We already have a parameter for `quiet` here (https://github.com/PyCQA/pylint/blob/975e08148c0faa79958b459303c47be1a2e1500a/pylint/config.py#L463), but needs to be passed down as an option from the CLI. L

[2018-04-09 14:58] Jitsusama commented on #1853
Thanks @PCManticore, I'll take a look at that!

[2018-04-09 15:05] Jitsusama commented on #1853
@PCManticore; just to verify, is your preference still to silence by default and only present when pylint is in verbose mode as per https://github.com/PyCQA/pylint/issues/1853#issuecomment-361071650?

[2018-04-09 18:05] pckroon commented on #1999
@brycepg I can indeed confirm that it has been fixed in master. That said, I'm not running into any mission critical issues due to this, so don't worry about it if backporting it is too much effort.

[2018-04-10 01:00] cjkrolak opened #2011 "pylint “unresolved variable from import” module level variables referenced to function"
### Steps to reproduce
in module1:
    def foo():
       foo.x = 1

    foo.x = 0
    y = 0

in module2:
   import module1
   p = module1.foo.x  # generates a "unresolved variable from import" for x
   p = module1.y      # no pylint errors generated for y

### Current behavior
see above

### Expected behavior
would like pylint to be able to resolve module1.foo.x and not post an error for unresolve

[2018-04-10 06:18] li-boxuan opened #2012 "Incorrect one-based column number for whitespace conventions"
This PR https://github.com/PyCQA/pylint/pull/1748 fixes a previous problem that col number is always 0 for whitespace issues. However, I suspect it still reports wrong column number.
### Steps to reproduce
1.  Write a python script with white-space issues.
2.  Run `pylint` on it.

### Current behavior
[code]

### Expected behavior
[code]
### pylint --version output
[code]
Note that the column numb

[2018-04-10 12:23] ypsah opened #2013 "E1120 false-positive on deque.rotate() (no-value-for-parameter)"
### Steps to reproduce
[code]

### Current behavior
`No value for argument 'n' in method call (no-value-for-parameter)`

### Expected behavior
No error: as [`deque.rotate`](https://docs.python.org/3/library/collections.html#collections.deque.rotate)'s documentation states, n defaults to 1.

### pylint --version output
No config file found, using default configuration
pylint 1.8.4,
astroid 1.6.3
Py

[2018-04-10 12:55] PhilippSelenium opened #2014 "Redefining built-in 'open' when importing from io"
### Steps to reproduce
[code]

### Current behavior
[code]

### Expected behavior
No Warning

### pylint --version output
pylint 1.8.4,
astroid 1.6.3
Python 2.7.12 (default, Nov 19 2016, 06:48:10)
[GCC 5.4.0 20160609]

[2018-04-11 02:25] li-boxuan commented on #2012
Note that the place to put ```^``` symbol is defined [here](https://github.com/PyCQA/pylint/blob/master/pylint/checkers/format.py#L147):
```(' ' * offset) + ('^' * length)```
where ```offset = token[2][1]```

That is, when ```token[2][1] ``` equals 0, ```^``` symbol would be put on the first column.

However, when reporting column offset, the contributor adds one to it:
```col_offset=token[2][1]+1

[2018-04-11 14:09] PCManticore commented on #2014
Thanks! Should be easy to fix.

[2018-04-11 14:10] PCManticore commented on #2013
Thanks! Should be easy to fix by adding `n=1` to `brain_collections` in astroid.

[2018-04-11 14:30] limdor commented on #1802
I'm having the same problem with the equal operator.
object.__eq__(self, other)
Is this the same case?
In case of Python 3 if I try object.__eq__(self, other: 'TypeHint') still complains.

[2018-04-12 10:04] nicogis commented on #1318
Last version without this problem is pylint == 1.6.5. I use it in VS 2017 with Python 2.7

[2018-04-12 10:39] luyiming opened #2015 "numpy: np.sum() return type incorrectly recognized as NoneType"
### Steps to reproduce
1. cat bug.py

[code]

2. pylint bug.py

### Current behavior
[code]

### Expected behavior
No error at all.

### pylint --version output
[code]

[2018-04-12 13:16] #2014 closed

[2018-04-12 13:18] #2013 closed, assigned to nobody

[2018-04-12 13:34] #1936 closed

[2018-04-12 13:47] #1997 closed

[2018-04-12 18:49] TehBigA commented on #1318
Same issue here, switched to 1.6.5 because I can't be bother to sift through 100 packages to figure out what is happening.

[2018-04-13 21:52] ohemorange commented on #1063
Certbot would love to see this!

[2018-04-14 03:38] jamesqo commented on #352
Even better-- just `pylint` should have the same behavior as `pylint .`.

[2018-04-14 20:38] nickdrozd opened #2016 "Bad unsubscriptable-object error"
### Steps to reproduce
[code]

### Current behavior
`E:  7,13: Value 'state' is unsubscriptable (unsubscriptable-object)`

### Expected behavior
`state` is subscriptable by the time it gets subscripted, so that
error is wrong. After all, the code runs:

[code]

That said, it does look like it could be an error, or maybe it would
be an error in a more complicated case, so maybe a warning could be
e

[2018-04-15 05:08] rmullin7286 opened #2017 "Pylint giving sequence index error where there should be none"
### Steps to reproduce
    def format_user_info(info):
        """format a user info dict for printing."""
        yes = red('Yes')
        no = 'No'
        info = 'USER INFO:\n'
        info += '\tName: {}\n'.format(info['name'])
        info += '\tUser: {}\n'.format(info['username'])
        info += '\tWSU ID#: {}\n'.format(info['sid'])
        info += '\tAccount Expired: {}\n'.format(yes if in

[2018-04-15 05:14] rmullin7286 opened #2018 "Show why snake_case errors is emitted on single word variables (might be too small)"
### Steps to reproduce
    no = 'No'

### Current behavior
I'm getting an error saying that 'no' doesn't conform the camel_case style, even though it's only one word.

### Expected behavior
There should be no error.

### pylint --version output
pylint 1.8.4,
astroid 1.6.3
Python 3.6.3 (v3.6.3:2c5fed8, Oct  3 2017, 18:11:49) [MSC v.1900 64 bit (AMD64)]

[2018-04-15 09:50] #1950 closed

[2018-04-16 08:38] PCManticore commented on #2016
From the point of view of pylint, state can also be `None` as it doesn't consider control flow when inferring the potential values.

[2018-04-16 08:39] PCManticore commented on #2017
Even if `info` the parameter can be a dict, later on you're reassigning it to a string, which cannot be indexed with strings, so the error you're receiving is correct.

[2018-04-16 08:39] #2017 closed

[2018-04-16 08:43] PCManticore commented on #2009
I believe this might actually come from the enum inference tips we have in astroid: https://github.com/PyCQA/astroid/blob/master/astroid/brain/brain_namedtuple_enum.py#L235. Not sure how though, as we look explicitly for Enum related classes in the base classes of a class. Anyway, I might be wrong, regardless of where its coming from, it's definitely a bug.

[2018-04-16 08:48] PCManticore commented on #2018
Hi, thanks for creating this issue! Can you also post your `pylintrc` file? You could also run pylint with `--include-naming-hint=y`, which will offer more indication on why it considers it a bad name. I think it might be because the name it's too short, by default we expect words of length 3+.

[2018-04-16 08:55] PCManticore commented on #2008
Thanks for the issue! This is weird as I cannot reproduce this issue and we already consider `__getattribute__` when we look for `no-member`, as you can see from the method that we use to verify that: https://github.com/PyCQA/astroid/blob/master/astroid/scoped_nodes.py#L2350. Does your initial example look different than the one you posted here?

[2018-04-16 08:55] #2008 closed

[2018-04-16 09:01] PCManticore commented on #2015
Closed as duplicate of https://github.com/PyCQA/pylint/issues/1558. This will be fixed in the next bug fix release of astroid.

[2018-04-16 09:01] #2015 closed

[2018-04-16 09:14] PCManticore commented on #2005
Thanks for the report! We could definitely look at subclasses of dicts & friends.

[2018-04-16 09:38] vmalloc commented on #2008
Nope, that was the example I used... It's weird since I can't reproduce it either now.. Perhaps was running an older version by mistake.

Thanks!

[2018-04-16 10:44] PCManticore commented on #2006
This is actually working as intended, as your default value is the same as the one from the parent class. If you change the value to something else, say 0.1, this check doesn't get emitted any longer.

[2018-04-16 10:44] #2006 closed

[2018-04-16 12:05] bw-matthew opened #2019 "Duplicate Code warning occurs for multiline imports even with ignore-imports=yes"
### Steps to reproduce

1. Define the following three files:

a.py
[code]

b.py
[code]

c.py
[code]

Place them in a folder called `src` that contains an `__init__.py` file.

2. Run pylint over them: `pylint src/*.py`

3. Run pylint over them, using the ignore-imports option: `pylint --ignore-imports=yes src/*.py`

### Current behavior

[code]

[code]

### Expected behavior

The duplicate lines ar

[2018-04-16 18:41] aviv-ebates commented on #374
Also having issues with `duplicate-code` message (on closed-source code):
[code]

When running with `-j 2`, duplication is not detected; When running with `-j 1`, issues found.

I'm guessing this checker specifically has a different issue with multi-jobs, because it needs to see "all" the code, vs just one file at a time like most simpler checkers.

[2018-04-17 01:55] jab commented on #1843
I just hit this with latest pylint.

Here is the code:
[code]
Here is the spurious error it causes:
[code]

Isn't this expected to be fixed in the latest pylint?

[2018-04-17 03:56] brycepg commented on #1843
It should be fixed on astroid master. There's been a few standing issues preventing a release of 2.0 astroid

[2018-04-17 04:39] jab commented on #1843
Ah, I saw that https://github.com/PyCQA/astroid/pull/481 had been merged 6 weeks ago but a new astroid release came out 12 days ago and just assumed that had the fix. Thanks for letting me know that has to wait till 2.0. Just subscribed to https://libraries.io/pypi/astroid so I'll get a notification when 2.0 comes out.

[2018-04-17 06:46] PCManticore commented on #2019
Thanks for the report! I can reproduce the issue. From a short glance, it seems we don't quite handle correctly `ignore_imports`, we only replace the line that has the import with blank, but that still will trigger on the following lines, while we should in fact skip the entire block.

[2018-04-17 07:11] #2012 closed

[2018-04-17 07:13] PCManticore commented on #2012
Hi @li-boxuan Thanks for reporting this bug and for the detailed description!

[2018-04-17 07:46] PCManticore commented on #1995
Fixed in 1.9.

[2018-04-17 07:46] #1995 closed

[2018-04-17 08:10] PCManticore commented on #1937
Fixed in 1.9

[2018-04-17 08:10] #1937 closed

[2018-04-17 14:02] bersbersbers opened #2021 "numpy.empty is inferred as list, results in no-member"
### Steps to reproduce
1. pylint pylint_bug.py

[pylint_bug.py.txt](https://github.com/PyCQA/pylint/files/1920070/pylint_bug.py.txt)

### Current behavior
[code]

### Expected behavior
No error (and probably, no warning).

### pylint --version output
[code]

I suspect  that pylint incorrectly thinks that MyArray is a constant; then assumes from the second assignment that it is a tuple; thus conclu

[2018-04-17 21:57] nicktimko opened #2022 "False positive with useless-super-delegation for required keyword args"
False positive for useless-super-delegation for *required keyword arguments*. Subtle difference from #2006, a corner-case where #1618 fixing #1085 wasn't quite complete.

### Steps to reproduce
[code]

### Current behavior
[code]

### Expected behavior

No issue.

[2018-04-18 05:34] PCManticore commented on #2022
Thanks, makes sense!

[2018-04-18 06:36] PCManticore commented on #2005
Thanks, this is now fixed in the 1.9 branch.

[2018-04-18 07:04] #2005 closed

[2018-04-18 07:48] #1977 closed

[2018-04-19 09:51] Niedzwiedzw commented on #259
Is this still broken?

[2018-04-19 19:49] Jitsusama commented on #1853
@PCManticore; just bumping this thread as I didn't get a reply to my last question.

[2018-04-19 21:36] bersbersbers opened #2024 "False-positive E1101 with tensorflow.Summary().value"
This is slightly different than #2021: it raises the same error, but this time, the type of the variable appears to be correct. I myself wonder how this code runs without error, but it does. (This is where I got it from: https://github.com/keras-team/keras/issues/6692#issuecomment-372458636)

### Steps to reproduce
[code]
### Current behavior
Error E1101

### Expected behavior
No error

### pylint

[2018-04-20 05:38] PCManticore commented on #1853
@Jitsusama yes.

[2018-04-20 10:57] NeilGirdhar opened #2025 "pylint rejects sip.wrappertype as a valid metaclass"
### Steps to reproduce
[code]

### Current behavior

### Expected behavior
No error.

### pylint --version output

[2018-04-20 11:10] NeilGirdhar commented on #1111
@PCManticore Hi, would you mind reopening this issue?  This is still broken:
[code]

[2018-04-20 11:37] NeilGirdhar opened #2026 "allow-wildcard-with-all should have an option to restrict its use to within __init__.py"
Importing `*` is the standard way to populate packages in `__init__.py`.  Importing `*` is ugly within modules.  Could we have a third option to allow-wildcard-with-all besides yes and no that restricts it to `__init__.py`?

[2018-04-20 13:56] funous commented on #689
The issue is still present. I am able to reproduce it using the files in the attached archive ([mymodule.zip](https://github.com/PyCQA/pylint/files/1932291/mymodule.zip)).

Steps to reproduce:

1. download the archive
2. `unzip mymodule.zip`
3. `cd mymodule`
4. `pylint mybase.py override.py`
Output:
[code]
5. `pylint override.py mybase.py`
Output:
[code]

Expected behaviour:
Identical output in st

[2018-04-20 14:39] NeilGirdhar opened #2027 "Consider removing keyword-arg-before-vararg"
The linter error “keyword-arg-before-vararg” suggests that keyword arguments can always be safely moved after the argument unpacking.  This is not true:

[code]

Moving the keyword argument after the unpacking makes it into a keyword-only argument so that it can never be passed in as a positional argument.

At the very least the linter error should clarify to readers that the linter error should b

[2018-04-20 14:51] NeilGirdhar opened #2028 "bad-mcs-classmethod-argument conflicts with PEP 8"
Pylint states:

However, this disagrees with [PEP 8](https://www.python.org/dev/peps/pep-0008/#function-and-method-arguments):

Please consider updating pylint since the Python developers are unlikely to change PEP 8.

[2018-04-20 20:49] Stevoisiak opened #2029 "Raise fixme warnings for lowercase 'todo' comments"
Pylint will not raise `fixme` warnings if a `todo` comment is written with lowercase letters.

### Steps to reproduce
1. Open any Python script
2. Add a lowercase todo comment.

        # todo: add more features

3. Run Pylint

### Current behavior

No warnings are raised.

### Expected behavior

A `fixme` error should be raised. (Same behavior as `TODO` comments)

    W:  1, 0: todo: add more fea

[2018-04-20 21:44] youngmit opened #2030 "docparams does not recognize the optional return value name numpydoc secification"
### Steps to reproduce
1. Run pylint over
[code]
with docparams enabled.

### Current behavior
Get warning: `W:  2, 0: Missing return type documentation (missing-return-type-doc)`

### Expected behavior
No warning

### pylint --version output
[code]

It looks like pylint isn't honoring the optional return value names described in the numpydoc spec (https://numpydoc.readthedocs.io/en/latest/format.

[2018-04-22 05:14] lleeoo commented on #956
Here is a usecase:

[code]

Sure, you could add a different condition. Can you suggest one that would be less obtuse?

[2018-04-22 05:58] sushobhit27 opened #2032 "Checker for simplifying chained comparison."
I was searching for checker to highlight code where the chained comparison can be simplified as IMO, it seems more elegant and verbose, however could find any existing checker in pylint for the same.
Therefore I have tried to implement it on my own. Below are the output using it.
here is the code for the same: https://github.com/sushobhit27/pylintCheckers/blob/master/pylintcheckers/chained_compari

[2018-04-22 15:36] sushobhit27 commented on #1938
@PCManticore Can I pick this issue, IMO a check need to be inserted in visit_assign like below:

def visit_assign(self, node):
        if isinstance(node.value, astroid.node_classes.Const) and \
            isinstance(node.value.value, unicode):
                self.add_message('explicit-unicode-assignment-not-allowed', node=node)

However I cant figure out, how to check for --py3k option in this

[2018-04-23 08:12] unitto1 commented on #1164
I'm sorry for question but has any movement around this issue?

[2018-04-23 16:37] PCManticore commented on #1164
Hey @Pierre-Sassoulas and the rest of the folks. I'm sorry that this flew totally under my radar. Regarding assigning someone to review, it all depends on the interests of the contributors, we're not an agile team to assign an issue or PR to some contribuor, unless it's already their field of expertise in the project.

Now for your questions, Pierre, I would say the second one would the approach w

[2018-04-23 17:35] apnewberry opened #2033 "Disable specific issues using filename pattern"
I often name my functions with an underscore prefix, and then I test them from an accompanying `test_thing.py` file. Pylint warns me about `protected-access` in the test file.

I think I want to prevent pylint from complaining about "protected-access" in `test_*.py` files. Pylint has `ignore-patterns=test_.*.py`, but I want to ignore `test_*.py` only for a particular warning, "protected-access". C

[2018-04-23 17:58] danizen opened #2034 "Confused about undefined-variable"
### Steps to reproduce
1.  Remove your ~/.pylintrc file to assure report is not suppressed
2. Create a file testlinter.py following this public gist - https://gist.github.com/danizen/50a9ca21b462581ca8e23e17f999ee63
3. Run pylint

### Current behavior

`y` is reported as undefined only in the function `real_unitialized_problem`.

### Expected behavior

`y` should be undefined in the functions 'rea

[2018-04-23 21:54] anderson-dan-w commented on #1064
Not sure I understand the reasoning to close this - there are some programmers, who come from languages where you CAN assign in boolean constructs, and maybe they shouldn't be doing that in those languages, so pylint should raise an error so they don't develop bad habits in another language?

Surely, turning this off by default wouldn't make it an error/warning to have `a > 5`; if they want to cod

[2018-04-23 22:47] nickdrozd opened #2035 "consider-using-in is too broad"
### Steps to reproduce
[code]

[code]

### Current behavior
`R:  8, 7: Consider merging these comparisons with "in" to 'x in (4, 5, oops())' (consider-using-in)`

### Expected behavior
Implementing this suggestion is catastrophic:

[code]

[code]

The issue is that an `or` chain short-circuits, but an `in` check does
not. The function doesn't have to be as dangerous as `oops`; what if
the function

[2018-04-24 10:07] PCManticore commented on #1164
@Pierre-Sassoulas if you the branch, feel free to send a PR, it will be lot easier to see what needs to be changed.

[2018-04-24 10:16] Pierre-Sassoulas commented on #1164
OK, I don't remember the detail very well. The branch is far from passing tests and I'll need to rebase first but let's start somewhere. :)

[2018-04-24 11:01] Pierre-Sassoulas commented on #1164
@PCManticore, I've done the rebase and created PR #2036. Re-reading the PR it seem that I added and refactored some tests, so if they pass the change to C0111 should work. Do not hesitate to comment and ask question on the PR if something is'nt clear.

[2018-04-24 11:07] peter50216 opened #2037 "singleton-comparison doesn't cover `expr != [None|True|False]`"
### Steps to reproduce
[code]

### Current behavior
[code]

### Expected behavior
[code]

### pylint --version output
[code]

[2018-04-24 11:44] #1844 closed

[2018-04-24 14:05] #2037 closed

[2018-04-24 14:14] #2035 closed

[2018-04-24 14:17] PCManticore commented on #2034
Was there supposed to be an `y` in `real_unitialized_problem`? I can't reproduce the problem you're having unless there is something else I'm missing. Do note though that we don't quite support full control flow analysis, we ignore branches when inferring the potential values, but this behaviour might change in the future.

[2018-04-24 14:28] #2029 closed

[2018-04-24 14:31] PCManticore commented on #2025
`sip` seems to be an extension package, which pylint cannot understand out of the box. If you still want to analyze such files, feel free to pass `--extension-pkg-whitelist=sip` when running pylint.

[2018-04-24 14:31] #2025 closed

[2018-04-24 14:35] NeilGirdhar commented on #2025
Okay, fair enough.  I wasn't sure what pylint was doing behind the scenes.  It might be worth registering a few of the most common libraries at some point.

[2018-04-24 14:36] PCManticore commented on #1938
Hey @sushobhit27 ! Yes definitely! This check should actually be done in the python 3 porting checker, which you can find in `pylint/checkers/python3.py`.

Right now all those checks are called only on Python 2 whenever the `--py3k` option is passed to `pylint` at CLI. In the future though, we might run those checks with Python 3 as well, which means that some of them will never be triggered while

[2018-04-24 14:37] PCManticore commented on #1164
Hey @Pierre-Sassoulas Thanks for sending that PR! I'll take a look! I hope that we'll get this in 2.0 after such a long time.

[2018-04-24 14:39] PCManticore commented on #2024
Thanks for the report! I presume tensorflow does some metaprogramming that pylint doesn't yet comprehend. This would be a perfect candidate for an astroid brain tip, which is the usual solution whenever we encounter a library that uses metaprogramming concepts that pylint is not capable of understanding.

[2018-04-24 14:43] PCManticore commented on #2028
Truth be told, initially I was reticent about this issue, but after some consideration I think it might be best to get rid of the checks that verify the type of metaclasses and whatnot, and always look for `cls` instead.

[2018-04-24 15:39] PCManticore commented on #2027
I'm not sure from where you get the impression that this check suggest that keyword arguments can always be safely moved after the argument unpacking. The full description of the check is `  When defining a keyword argument before variable positional arguments, one can end up in having multiple values passed for the aforementioned parameter in case the method is called with keyword arguments. This

[2018-04-24 15:39] #2027 closed

[2018-04-24 15:50] PCManticore commented on #2021
Thanks for the report!
The problem with constants is that pylint expects all the variables found at the global scope to respect a certain regular expression that conforms to a "constant", it expects all the variables to be upper case. That doesn't mean that the said variable needs to be a constant, it's just a matter of a convention that pylint uses.
The actual problem is the fact that we emit `no

[2018-04-24 16:41] PCManticore opened #2038 "Improve the performance of pylint"

[2018-04-25 00:16] bje- opened #2039 "False positive: possibly undefined loop variable"
### Steps to reproduce
1. Run `pylint` over this minimal test case:

[code]

### Current behavior

[code]
### Expected behavior

No warning should be emitted. `p` is guaranteed to be initialised to at least the first item in the list.

### pylint --version output

[code]

[2018-04-25 05:34] peter50216 commented on #2037
It seems that the patch doesn't cover the case `None != x`?

[2018-04-25 06:09] PCManticore opened #2040 "Python 3.7 support"

[2018-04-25 09:32] bje- commented on #2039
Thanks for the fast fix!

[2018-04-25 12:00] markmcdowall opened #2041 "C0326 not picking up whitespace before open bracket with print"
### Steps to reproduce
[code]

### Current behavior
This raises no warning in python 2 even though the print_function has been imported

### Expected behavior
If the futures print function has been imported in python 2 I would have expected this to have raised a warning:

[code]

### pylint --version output
No config file found, using default configuration
pylint 1.8.4,
astroid 1.6.3
Python 2.7.10

[2018-04-25 13:13] nvllsvm opened #2042 "Provide ability to disable exit code for lint errors"
I use pylint in a CI script to report lints, but not fail if any are found. For example, the `set -e` in the below script will result in the script terminating if any of the commands exits with a non-zero status code. With flake8, the `--exit-zero` flag can be used. For pylint, shell workarounds are required. The example below is one such workaround - the leading `!` will disregard the exit code o

[2018-04-25 14:59] AraHaan commented on #2034
![28d8ef94-b47e-4307-82f7-dff84a2c2e44](https://user-images.githubusercontent.com/15173749/39254047-37f49f26-4877-11e8-824b-8dfaf445a0c2.png)
I always seem to be running into this issue with this ci on my git for some reason which is a false positive. And I hate suppressing this stuff that should be no problem anyway. It is like pylint is dumb thinking it is not defined when clearly it is a functi

[2018-04-25 15:16] AraHaan commented on #2019
Perhaps what should really happen is well right before the actual code that reports it as a issue have a

    if not ignore_imports:
        # report issue(s) to user.

So that way it does not clutter code with a ton of hacks. I know from experience (look at my failure repos at https://github.com/DecoraterBot-devs/).

[2018-04-25 15:45] sugatmahanti opened #2043 "Unneeded Useless Supression"
### Steps to Reproduce
1. Import an already imported package under a condition in the code.
2. Disable the expected warning about ungrouped-imports
3. Gets the message about useless-suppression.

### Current behavior

Hi,

I am using a specific property for type checking [here](https://docs.python.org/3/library/typing.html#typing.TYPE_CHECKING) where the code is like this:

[code]

When running py

[2018-04-25 16:30] bw-matthew commented on #2019
So the duplicate code checks cover more than imports, so suppressing all duplicate code warnings if the flag is set would be incorrect. I believe that the problem as described is that `ignore_imports` causes pylint to skip the line starting `import` but not subsequent lines even if those subsequent lines are part of the import statement.

I have not looked at the code yet however it seems like it

[2018-04-25 22:35] AWhetter opened #2044 "Treat abstract methods as special cases in docparams"
### Steps to reproduce
With the docparams extension turned on, the following code raises the messages:

* "NotImplementedError" not documented as being raised [W9006]
* Redundant returns documentation [W9008]

[code]

### Expected behavior
I think it's valid for this docstring to have returns documentation. You want to document what an implementation of the method should return. So W9008 should no

[2018-04-26 03:00] bje- opened #2045 "Recommend use of repeat (*) operator"
### Steps to reproduce

This idiom seems to occur often in a code base I am working with. It would be good if Pylint could recognise and suggest the simplification of using the `*` operator. Here is a minimal test case:

[code]

### Current behavior

No warning.

### Expected behavior

It would be useful if Pylint recommended the much simpler `[item] * n` (for example). The sequence being repeated

[2018-04-26 05:08] sushobhit27 commented on #2032
@PCManticore I will raise the pull request soon.

[2018-04-26 14:01] stevoisiak opened #2047 "Long function names detected as "snake_case" warning"
If a function name is 32 characters or longer, Pylint will display a `snake_case` warning.

### Steps to reproduce
1. Define a function with a name that is 32 characters or longer.

       def this_is_a_very_lengthy_function_name():
           pass

2. Run Pylint.

### Current behavior

Pylint reports a `snake_case` warning:

### Expected behavior

Pylint should not report a `snake_case` warning f

[2018-04-27 01:51] ultraN commented on #1465
@rogalski do you any fix plan in the future? rather than add it into whitelist?

[2018-04-27 04:28] sushobhit27 commented on #1938
@PCManticore  If I understood correctly, this new check will go here https://github.com/PyCQA/pylint/blob/b93cdf863896556c95b064f8405d648c69953ffa/pylint/checkers/python3.py#L990
however existing checks under this checker like "old-ne-operator" is not working with --py3k.

(pylint) C:\Users\ssolan>
(pylint) C:\Users\ssolan>cat abc.py
def func():
    return 1 <> 2

(pylint) C:\Users\ssolan>pylint -

[2018-04-27 05:44] bersbersbers opened #2048 "Another one for the brain: MatPlotLib's color maps"
from matplotlib import cm
print(cm.Greys(0))

(1.0, 1.0, 1.0, 1.0)

No config file found, using default configuration
************* Module Bug
C:  1, 0: Module name "Bug" doesn't conform to snake_case naming style (invalid-name)
C:  1, 0: Missing module docstring (missing-docstring)
E:  2, 6: Module 'matplotlib.cm' has no 'Greys' member (no-member)

------------------------------------------------

[2018-04-27 08:46] se-m commented on #1815
@PCManticore
Hi. When it become avalable in release?

I just tried versions 1.8.1, 1.8.2, 1.8.3, 1.8.4 (even 1.7.5 and 1.7.6) - still got this issue.

OS: Windows 7 x64
Python:  3.6.5 (in both: x86 and x64)

[2018-04-27 13:03] pbasista commented on #1815
The commit fixing this issue (at least in case of whitespace errors) is 99ecc73f64fff9ef32345223148b8d5e50940411. It is only present in [master](/PyCQA/pylint/tree/master) and [per_dir_config](/PyCQA/pylint/tree/per_dir_config) branches and it is not reachable from any tagged commit yet.

If I understand correctly, this means it is also _not_ part of any released pylint version. The versions relea

[2018-04-27 13:06] bersbersbers opened #2049 "False-positive E0602 with nonlocal"
### Steps to reproduce
[code]
### Current behavior
E0602:Undefined variable 'i'

### Expected behavior
No error. Code runs fine, each click in the figure prints an increased counter.

### pylint --version output

No config file found, using default configuration
pylint 1.8.4,
astroid 1.6.3
Python 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 17:00:18) [MSC v.1900 64 bit (AMD64)]

[2018-04-27 23:54] bje- opened #2051 "Pylint doesn't report logical tautologies or contradictions"
### Steps to reproduce

[code]

### Current behavior

No warning.

### Expected behavior

I would expect Pylint to report that `arg == arg` is a logical tautology. Likewise if the code read `arg != arg`.

### pylint --version output

[code]

[2018-04-28 16:05] jackieh commented on #1900
In case it helps, I had a similar problem on Arch Linux and have resolved it. TL;DR: You may need to install older or multiple versions of the enchant C library.

### Steps to reproduce

1. run `git clone https://github.com/PyCQA/pylint.git`
2. run `cd pylint/`
3. run `python -m tox -epy36`

### Expected behavior

The `/home/me/git/reproduce/pylint/.tox/py36/bin/pip install pyenchant` portion of t

[2018-04-28 19:26] hiranya911 commented on #1085
I'm seeing this with 1.8.4 for the following code:

[code]

`self._data` is defined in the parent class, so I have to call the parent constructor.

[2018-04-28 20:44] bmintz opened #2052 "no complaints about "from collections import OrderedDict as OrderedDict""
pylint does not complain if you use `import as` but don't change the name.

### Steps to reproduce
Run pylint on this file:
[code]

### Current behavior

10/10 rating

### Expected behavior

Less than 10/10 rating

### pylint --version output

[code]

[2018-04-30 14:48] MatchesMalonee opened #2053 "Pylint giving a false positive for E1101"
### Steps to reproduce
1.  Tested it out on the following code:
[code]

Output in terminal -
[code]
### Current behaviour
[code]

### Expected behavior
Pylint displaying a false positive for the above code

### pylint --version output
`$ pylint --version
No config file found, using default configuration
pylint 1.8.4,
astroid 1.6.2
Python 3.6.4 (v3.6.4:d48ecebad5, Dec 18 2017, 21:07:28)
[GCC 4.2.1

[2018-05-01 01:43] gvoysey opened #2055 "unhandled AttributeError: 'AssignAttr' object has no attribute 'name'"
### Steps to reproduce
1. touch the following file, `foo.py`:   `attr == 17.4.0`
[code]
2.  run `pylint foo.py`

### Current behavior
Pylint crashes with an unhandled `AttributeError`
[code]

### Expected behavior
Pylint shames my poor development practices and praises my good development practices where needed.

### pylint --version output
[code]

[2018-05-01 07:12] scontini76 commented on #1872
Same problem here using the code from @pwamej

## pylint --version output

[code]

[2018-05-01 07:29] vmalloc opened #2056 "Pylint ignores child members when using contextlib.ExitStack with inheritence"
### Steps to reproduce
Run pylint on the following code:

[code]

### Current behavior
Pylint complains on the last line:
[code]

### Expected behavior
There should be no errors

### pylint --version output
[code]

[2018-05-01 07:57] PCManticore commented on #2056
I might miss something, but where is `Child` used? This code triggers an AttributeError when called.

[2018-05-01 07:58] vmalloc commented on #2056
I updated it shortly after posting... `Child` is used in the line before the last. Still issues the pylint error, but runs fine.

[2018-05-01 17:49] nicktimko commented on #2045
Note the two are only equivalent for immutable objects:
[code]

[2018-05-02 17:35] AraHaan commented on #2019
Or maybe check to see if the import line has a "(" and ignore every line within that until it finds the other ")"?

[2018-05-02 17:41] AraHaan commented on #2034
@PCManticore I get this issue that is similar on Codacy which is a code checking ci I use on my python gits.

[2018-05-02 20:31] BrandonHoffman opened #2057 "Major performance slowdown after updating"
Recently we upgraded from pylint 1.6.5 to the latest 1.8.4 and noticed a pretty significant slowdown when executing ```pylint -E``` over doubled out execution time from ~4 minutes to ~8.5 minutes

I did a little bit of benchmarking for all of the checks E**** by running ```pylint --disable =all --enable={code}```

Below are the results for the checks which seemed to add a significant amount of tim

[2018-05-02 20:56] MatthijsBlom opened #2058 "Wrong suggestion R1706: Consider using ternary"
Consider the line
[code]
For this line, Pylint will suggest `R1706 Consider using ternary (Q if P else R)`. This is a mistake, since
[code]
As such, the suggested expression is not equivalent to the original.

The above particular assignment of P, Q, R is the only problematic one: for all other (boolean) assignments of P, Q, and R, the original and suggestion are the same.

### pylint --version ou

[2018-05-03 10:30] bw-matthew commented on #2019
That's basically implementing a parser. Pylint uses [ast](https://docs.python.org/3.6/library/ast.html) which is a full python parser.

[2018-05-03 10:59] nschloe opened #2059 "TypeError: 'Uninferable' object is not iterable"
When running
[code]
on [this project](https://github.com/nschloe/quadpy) I'm getting
[code]

[2018-05-03 12:08] gsemet commented on #1063
that would be very handy indeed!

[2018-05-04 02:52] CCampJr commented on #2047
# Confirmation of above, and with a method.

## To reproduce
1.  \>\= 32 character method name
[code]
2. Run pylint

## Current Behavior

**Output**

## And confirmation with a function:
[code]

Output:

## pylint --version output:

[code]

[2018-05-04 11:56] Yanpas opened #2061 "unbalanced tuple unpacking for unknown variable"
### Steps to reproduce
1. insert this `a,b = sys.argv[0:2]`

### Current behavior
[pylint] E0632:Possible unbalanced tuple unpacking with sequence: left side has 2 label(s), right side has 0 value(s)

### Expected behavior
no warnings

### pylint --version output
No config file found, using default configuration
pylint 1.8.4,
astroid 1.6.3
Python 3.5.2 (default, Nov 23 2017, 16:37:01)

[2018-05-04 16:09] geckon opened #2062 "Enum: Method 'name' has no 'lower' member (no-member)"
### Steps to reproduce
[code]

Run `pylint` on the file above.

### Current behavior
`E: 10,15: Method 'name' has no 'lower' member (no-member)`

### Expected behavior
No error. Enums have `name` propery which contains a string.

### pylint --version output
[code]

[2018-05-04 16:13] geckon commented on #1932
Reproducible for a _plain_ `Enum` as well: #2062

[2018-05-04 16:16] geckon opened #2063 "Enum: Value 'self.value' is unsubscriptable (unsubscriptable-object) where value is a tuple"
### Steps to reproduce
[code]

Run `pylint` on the file above.

### Current behavior
`E: 10,15: Value 'self.value' is unsubscriptable (unsubscriptable-object)`

### Expected behavior
No error - `value` here is a tuple (and can't be reassigned).

### pylint --version output
[code]

[2018-05-05 06:37] sushobhit27 commented on #2052
@bmintz I found your issue to be relevant enough to fix and therefore raised a pull request (https://github.com/PyCQA/pylint/pull/2060) for this issue but it failing due to some non related failing test case.
If you want, I can provide it as a plugin also, if the pull request does not get accepted.

[2018-05-05 20:43] markedwards commented on #1628
Also hitting this.  Is there any plan to fix this issue?

[2018-05-06 06:37] sushobhit27 commented on #1896
@PCManticore I would like to work on this issue.

[2018-05-06 06:39] sushobhit27 commented on #1895
@PCManticore I would like to work on this issue.

[2018-05-06 18:07] PCManticore commented on #1895
Hey @sushobhit27 Feel free to tackle these issues! I'm a bit busy these days with some travelling so I won't be around for reviews and whatnot, but as soon as I'm back, I'll take a look over your PRs!

[2018-05-06 18:08] #1535 closed

[2018-05-07 07:13] PCManticore commented on #259
Hey folks, this issue is not fixed yet, as it is still opened. I can't promise when it's going to be fixed though.

[2018-05-07 07:17] PCManticore commented on #2041
Thanks for the issue, I can reproduce it.

[2018-05-07 07:25] PCManticore commented on #2049
Thanks, I can reproduce this bug!

[2018-05-07 07:26] PCManticore commented on #2051
Thanks for the issue! Yes, pylint doesn't currently emit this error, but this check should be simple enough to implement.

[2018-05-07 07:28] PCManticore commented on #1631
Hey folks! Just wanted to say that I'm aware that this bug hasn't been fixed yet.

[2018-05-07 07:31] PCManticore commented on #2053
Thanks for the issue, I can reproduce it. I'm not sure why pylint considers the return of `load_iris` to be a `tuple` instead of a `Bunch` object, but we could probably fix it with an astroid brain tip.

[2018-05-07 07:35] PCManticore commented on #2062
Thanks, I can reproduce this issue.

[2018-05-07 07:39] PCManticore commented on #2059
Hey @nschloe Thanks for creating an issue! I tried reproducing this one by cloning your repo and running pylint over it, but it didn't crash. So I was wondering what Python version you used, what pylint and astroid version you used and if you had additional pylint plugins that you used for linting.

[2018-05-07 07:42] PCManticore commented on #1938
Hey @sushobhit27

Yes, you got it right, the new check should go in that class.
Regarding why the `old-ne-operator` doesn't work for you, that's odd! It works for me for Python 2.7. What `pylint` version do you have?

[2018-05-07 07:45] nschloe commented on #2059
Thanks for trying to reproduce! Perhaps an issue on my side then. I'm running Python 3.6. I have a nonempty `.pylintrc`, but the issue appears regardless of what's in there. (Just tested that.) No additional plugins used. Version:
[code]

[2018-05-07 08:08] PCManticore commented on #2058
Thanks for creating this issue! I agree that the suggestion is wrong. Curious though why the linked fix didn't actually solve this problem.

[2018-05-07 08:12] PCManticore commented on #2047
Thanks for creating this issue! The problem here is two-fold:

- first is that we show a confusing message saying that a name doesn't conform to a style case, while in fact it does. We should say that it doesn't respect an implicit regular expression, which in this case is actually the length of the function
- second is the arbitrary function length of 32 characters.

As a solution, I think we can

[2018-05-07 08:13] PCManticore commented on #2059
This is weird! With the same versions as you and with Python 3.6.5 all I'm getting is:
[code]
Did you run pylint on a different branch or disabled some message in the master branch after `pylint` failed for you?

[2018-05-07 08:15] PCManticore commented on #2061
pylint is actually correct here as the script in question might not have been provided some arguments on the command line. I would suggest disabling the error message in place with `# pylint: disable=unbalanced-tuple-unpacking`.

[2018-05-07 08:15] #2061 closed

[2018-05-07 08:17] PCManticore commented on #2063
Thank you, I can reproduce the issue!
The source of problems for `enum` comes from our astroid brain tip for the enum library (https://github.com/PyCQA/astroid/blob/master/astroid/brain/brain_namedtuple_enum.py#L199), which is somewhat lossy in some areas as this one (if I recall correctly we don't fully reuse the values provided in the enum).

[2018-05-07 08:33] #2055 closed

[2018-05-07 08:34] PCManticore commented on #2055
Thanks @gvoysey ! This one is fixed in astroid's master as well as in astroid's 1.6 branch. It will be available on the next bug fix release of astroid.

[2018-05-07 08:34] PCManticore commented on #2045
To be honest, I find the for-loop more obvious on what it does. Given there is a gotcha for the immutable objects, I don't find the suggestion compelling enough to have it in pylint.

[2018-05-07 08:34] #2045 closed

[2018-05-07 08:37] PCManticore commented on #352
Hey folks, just wanted to say that I left a couple of suggestions before on how this feature could be implemented in pylint. As previously mentioned, we'll get to it someday, but as far as it concerns me, I don't have enough time on my plate for implementing this feature. A PR from someone else could definitely speed this up!

[2018-05-07 08:40] PCManticore commented on #2052
Why would it warn about this? Yes, the aliasing is redundant, but at the same time this code is innocent enough to not cause any errors. I don't think it warrants a core pylint check, but as @sushobhit27 mentioned, this can be a third party plugin as well.

[2018-05-07 08:40] #2052 closed

[2018-05-07 08:46] PCManticore commented on #1628
There is no plan to fix this per se. As with every issue, we'll get to it once we have time on our plate, there are hundreds of issues that needs a limited attention in one way or another.
Regarding the issue itself, it stems from the lossy implementation of `typing.NamedTuple` in astroid: https://github.com/PyCQA/astroid/blob/18583c261acf67a5d301dd29a58a852706a724e6/astroid/brain/brain_typing.py#

[2018-05-07 08:49] PCManticore commented on #2042
@nvllsvm This sounds like a good suggestion, thanks!

[2018-05-07 08:53] PCManticore commented on #2057
Hey @BrandonHoffman Thanks for creating this issue!
This performance slowdown probably stems from the fact that between 1.6 and 1.8, we had better support for understanding Python in astroid, pylint's inference engine, which is used by these checks in one way or another. Admittedly, while understanding more Python leads to be more on spot error checking, it also leads to performance issues like th

[2018-05-07 08:54] PCManticore commented on #2043
Hi @sugatmahanti Do you have a small snippet of code that could reproduce this issue?

[2018-05-07 09:32] Yanpas commented on #2061
Maybe it should treated as warning? If argv will have size less than 2 - it will be still an error in my case : the script can't be started with insufficient number of arguments

[2018-05-07 11:54] Razzeee commented on #352
As we do depend on this a little bit it would be awesome to get it tackled and I would even enable our gsoc student to have a look at it. What would be helpful would be any insight or mentorship he could get, as he obviously doesn't know the codebase and it seems to be quiet a deep change?

[2018-05-07 14:38] #605 closed

[2018-05-07 14:43] #2044 closed

[2018-05-07 15:17] NeilGirdhar commented on #2026
Yes, that makes perfect sense.

[2018-05-07 16:16] PCManticore commented on #352
Hey @Razzeee That sounds like a great first step. I can offer mentorship on this issue if someone wants to write the code for it. I suggested an initial step in this comment https://github.com/PyCQA/pylint/issues/352#issuecomment-229818309 but I would be happy to write a more in-depth comment on what exactly needs to be changed.

[2018-05-07 17:33] gpshead opened #2065 "Provide Github checks API integration for automated pylint PR review"
Github now has an API to accept code review annotations in https://developer.github.com/v3/checks/.
It'd be great for pylint, presumably being run on a CI system, to integrate with this by outputting annotations in the code annotation format Github expects to be easily fed into the API.

[2018-05-07 18:22] terrisgit opened #2066 "When using PEP-526 to specify the type of a class variable and then attempting to docstring it, I get "String statement has no effect (pointless-string-statement)""
This issue was first discussed at https://stackoverflow.com/questions/49737835/pep-526-is-not-compatible-with-docstrings-for-class-variables . I realize this is a gray area in Python docstrings but this warning is a barrier (for my project at least) to fully embracing PEP-526. As with #193 I would like pylint to ignore this use of docstrings.

### joe.py
[code]

### pylint x.py
[code]

### pylint

[2018-05-08 05:54] anselal commented on #1973
I added a solution at Microsoft/vscode-python#292

Let me know if that helped !!!

[2018-05-08 09:08] zchrissirhcz opened #2067 "cannot recognize some member in pytorch"
### Steps to reproduce
1. I use Ubuntu16.04, 64bit system, python2.7.12.   I also use VSCode1.23 as my text editor.
2. I use pytorch in gpu mode. it needs `sudo pip install torch torchvision`. I have a GPU and CUDA and CuDNN installed. I'm not sure if they are necessary.
3. I already put these content in `~/.pylintrc`:
[code]

4. I use these code:
[code]

### Current behavior
pylint complains E110

[2018-05-09 09:06] PCManticore commented on #2066
Thanks for the issue! pylint is not yet aware of PEP 526.

[2018-05-09 09:10] #1914 closed

[2018-05-09 09:12] PCManticore commented on #1938
Forgot to reply @sushobhit27 The thing is that the Python 3 porting checker is activated only on Python 2, it does nothing on Python 3. That might change though since for Pylint 2.0 we'll only support Python 3 as a running environment, but we'd still want to analyze Python 2 files.
Thanks for the PR btw!

[2018-05-09 09:12] #1938 closed

[2018-05-09 09:13] PCManticore commented on #1933
Fixed in master branch by @AWhetter !

[2018-05-09 09:13] #1933 closed

[2018-05-09 09:15] PCManticore commented on #1920
This is currently being handled by https://github.com/PyCQA/pylint/pull/2036 with the old ticket being #1164. Feel free to comment on the PR for suggestions or reviews!

[2018-05-09 09:15] #1920 closed

[2018-05-09 09:19] PCManticore commented on #655
This is fixed in master branch.

[2018-05-09 09:19] #655 closed

[2018-05-09 10:18] PCManticore opened #2069 "Support Python 3.7's postponed evaluation of annotations"
### Steps to reproduce
1. Given the following code, run pylint over it:
[code]

### Current behavior
`pylint` is going to emit an `undefined-variable` on Python 3.7 for the annotation of `from_string`.

### Expected behavior
It shouldn't emit that warning as long as we have the `annotations` `__future__` import.

### pylint --version output

master

[2018-05-09 10:29] PCManticore opened #2070 "Replace sys.version_info checks for Python 2 compatibility with another way of detecting the file environment"
Pylint 2.0 drops support for running with Python 2 but we will still allow analysing Python 2 files. Unfortunately we sometimes use `sys.version_info` checks for doing different things on Python 2, such as looking for `next` instead of `__next__`. Instead of doing a check against the running environment, we should do a check against the given environment to pylint. Say for example that we'll allow

[2018-05-09 11:26] PCManticore commented on #1722
This is fixed in the master branch.

[2018-05-09 11:26] #1722 closed

[2018-05-09 11:35] PCManticore commented on #1926
Seems to work again.

[2018-05-09 11:35] #1926 closed

[2018-05-09 11:42] PCManticore commented on #1999
Apart of keeping a hardcoded list of potential iterators that will never raise StopIteration, I don't see how else we could fix this. I'd say you can disable the message in that particular spot and keep it enabled for the rest of the codebase. It's a bit cumbersome, but can't see a better solution right now.

[2018-05-09 11:42] #1999 closed

[2018-05-09 11:52] #1265 closed

[2018-05-09 15:55] PCManticore commented on #352
Hey @mzfr That sounds about right! Thanks for looking into this! Regarding the reference from utils.py:800, I have no idea! The code has changed since I last linked it. Regarding the file to change, you can take a look into `lint.py`, if you look for `options` you should find the place where it could go, Out of the top of my head, I'd say that in either Runner or PyLinter. Let me know if this help

[2018-05-09 16:16] mzfr commented on #352
@PCManticore  ok so I am going to ignore utils:800 now.
For options I think [this](https://github.com/PyCQA/pylint/blob/master/pylint/lint.py#L294) is where I have to add the options.
So following the format the flag would look like:

[code]
This is what I think let me know whether should I add any `short` or `group` in the option.

[2018-05-09 16:47] sushobhit27 commented on #2051
@PCManticore I was looking to fix this issue and was almost done with it but found things:
The checker which I implemented also reports message for existing test cases also, e.g
https://github.com/PyCQA/pylint/blob/1c0356f0683901e6e3561f4caeb176ff3e20be1e/pylint/test/functional/singleton_comparison.py#L7

https://github.com/PyCQA/pylint/blob/1c0356f0683901e6e3561f4caeb176ff3e20be1e/pylint/test/fun

[2018-05-09 19:15] Pierre-Sassoulas opened #2071 "Refactor of MessagesStore.check_message_id(msgid)"
This is a dicussion concerning the refactor of a function for in order to make #2036 easier to understand and implement.

So, this function in utils.py is called check_message_id and take an argument called "msgid", but the argument can be a msgid (C0111) or a symbol ("missing-docstring") and it return a MessageDefinition or raise an UnknownMessageError if the msgid or symbol does not permit to re

[2018-05-09 20:29] Razzeee commented on #352
This is what @PCManticore linked to back when he referenced to that line https://github.com/PyCQA/pylint/blob/5d40a07684be7ed6dbaa54e49c3d436005a533bf/pylint/utils.py#L800

[2018-05-09 21:52] bje- commented on #2051
My opinion is that literal coparisons should also be included in the check. Things that look fishy like this can sometimes point to real bugs (ie. the user meant to test a variable with `True`, but absent mindedly typed `True == True`).

[2018-05-10 00:26] eight04 commented on #2018
Is there a way to configure the minimum length of the variable name?

[2018-05-10 01:37] eight04 opened #2072 "Unstable result of unsubscriptable-object error within if/elif/else block"
### Steps to reproduce
Create following files (or unzip [sample.zip](https://github.com/PyCQA/pylint/files/1989998/sample.zip)):
*test.py*
[code]
*test2.py*
[code]
*test3.py*
[code]

Then run:

[code]

### Current behavior
[code]

### Expected behavior
I think all of them should report the error, otherwise all of them should not. I'm not sure what is the difference between `if`/`elif`/`else` in py

[2018-05-10 01:42] PCManticore commented on #1975
THis is fixed on master with the `--extension-pkg-whitelist=numpy` option.

[2018-05-10 01:42] #1975 closed

[2018-05-10 01:43] PCManticore commented on #1975
That is with pylint==2.0 and astroid==2.0

[2018-05-10 02:52] knappador opened #2073 "Need Guidance on Custom Pylint Checker for Library Module"
Hello there,  I'm developing a library for doing double-entry accounting:
https://github.com/knappador/enron-py

I'm building a `ContextManager` for proper transaction treatment.  While I can find transactions that don't end up in a proper state before leaving scope, this occurs at runtime.  I'd like to get a linter in place for static analysis.

Because the warnings will always be tied to a `with

[2018-05-10 04:56] AWhetter commented on #2026
To any new contributors who want to look at this issue; [The imports checker](https://github.com/PyCQA/pylint/blob/1c0356f0683901e6e3561f4caeb176ff3e20be1e/pylint/checkers/imports.py#L789) is responsible for raising `wildcard-import`. It will need to check that the scope of the import node is a [module](http://astroid.readthedocs.io/en/latest/api/astroid.nodes.html#astroid.nodes.Module) and that t

[2018-05-10 04:58] sushobhit27 commented on #2051
@PCManticore I have raised PR for this issue which checks literals also. Please review it.

[2018-05-10 05:18] AWhetter commented on #1502
To any new contributors looking to solve this issue; docparams currently does a simple set difference between the name of the exceptions in the code and the names of the exceptions in the docstring (https://github.com/PyCQA/pylint/blob/1c0356f0683901e6e3561f4caeb176ff3e20be1e/pylint/extensions/docparams.py#L216). It does not attempt to do any kind of name resolution. This process will need to be m

[2018-05-10 05:27] AWhetter commented on #1923
To any new contributors looking to tackle this issue; [the classes checker](https://github.com/PyCQA/pylint/blob/1c0356f0683901e6e3561f4caeb176ff3e20be1e/pylint/checkers/classes.py#L865) raises the `useless-super-delegation` message. `_definition_equivalent_to_call` will need to start considering the annotations of the [arguments node](http://astroid.readthedocs.io/en/latest/api/astroid.nodes.html

[2018-05-10 05:35] AWhetter commented on #1631
Why do you consider this a false positive? Renaming arguments means that as a user I could no longer do something like

[code]

In my opinion, the message is correct and arguments should not be renamed.

[2018-05-10 08:56] pheanex opened #2076 "Enhancement: Add a [consider-using-get]-checker"
**I suggest adding a checker for unidiomatic "getting" of default values from a missing dictionary-key**

Example:
[code]
The idiomatic way would be to use the dict.get method with a default "if missing" value.
See i.e. [docs.python-guide.org](http://docs.python-guide.org/en/latest/writing/style/#access-a-dictionary-element) and [docs.python.org](https://docs.python.org/3/library/stdtypes.html#dic

[2018-05-10 09:25] PCManticore commented on #352
@mzfr Sounds about right! One thing though, `init` as a name doesn't suggest the intention but rather the semantics. Maybe `lint-all` or something along these lines?

[2018-05-10 09:28] PCManticore commented on #2018
@eight04 Not quite, the only thing you could do is to change the `variable-rgx` to conform to the format and length you require. It might be a good idea to just separate the length of a variable/name in pylint from the format of a variable/name.

[2018-05-10 10:04] PCManticore commented on #2071
1. `get_message_definition` sounds great!
2. Yes, message ids and symbols are interchangeable everywhere. I think the function is fine as is from the point of view of getting the message definition for an message id or symbol. Otherwise we'll have to check before calling it that we want either the definition for a symbol or one for a message, I prefer that check to be in `get_message_definition` i

[2018-05-10 10:39] knappador commented on #2073
The situation where a lint warning needs to be generated will be of the following form:

[code]

I can start analysis whenever context is opened.   I'll be looking for certain API calls in all branches that indicate that each `DoubleEntry` instance is used once and only once inside a context.  Otherwise I want to warn that a subtle bug surface has been introduced.

I also need to be aware if a `Do

[2018-05-10 11:09] PCManticore commented on #1869
Actually I was wrong. You enabled all the error checks by using `--enable=E`. The error mode is enable with `-E`, which doesn't take in account the python 3 porting checks.

[2018-05-10 11:09] #1869 closed

[2018-05-10 11:38] PCManticore commented on #1969
the `--py3k` mode will work with Python 3 in Pylint 1.9 as well as in Pylint 2.0 once these gets launched (the code is in master respectively in the 1.9 branch)

[2018-05-10 11:38] #1969 closed

[2018-05-10 12:06] #2071 closed

[2018-05-11 06:06] GalaxyLJGD opened #2078 "Delete pylint-gui references in man pages"
The pylint-gui references made in [line 29](https://github.com/PyCQA/pylint/blob/5ccbf9eaa54c0c302c9180bdfb745566c16e416d/man/epylint.1#L14) and [14](https://github.com/PyCQA/pylint/blob/5ccbf9eaa54c0c302c9180bdfb745566c16e416d/man/pylint.1#L29) of pylint and epylint man pages, respectively, should be deleted, because it was removed from the program.

[2018-05-11 16:29] sushobhit27 commented on #1895
@PCManticore Since six has to be removed for python3, all @python2_only test cases can be removed from /test/unittest_checker_python3.py, right?

[2018-05-12 01:31] PCManticore commented on #2078
Removed in master

[2018-05-12 01:31] #2078 closed

[2018-05-12 02:15] PCManticore commented on #1881
Implemented some of them, skipped others as they are a bit heavier than what we'd need.

[2018-05-12 02:15] #1881 closed

[2018-05-12 11:13] PCManticore opened #2079 "Annotate pylint code with type annotations"
Since we're on Python 3, we can use annotations for pylint.

[2018-05-13 11:38] #377 closed

[2018-05-13 12:51] altaurog commented on #1682
IMO stripping the pragma before checking line length defeats the purpose of `line-too-long`.  I for one arrange my editor window(s) on the premise of a certain code width.  I want to see those pragmas too.  Here pylint not only fails to enforce a useful maximum width, but requires an overflowing line!  That is not too helpful.

[2018-05-14 00:32] sandrotosi opened #2080 "1.8.4: pylint/test/acceptance/test_stdlib.py failures"
Hello,
with the recent release of pylint 1.8.4, pylint/test/acceptance/test_stdlib.py fails every single test under python 2.7, with lines like:

[code]

while the only failure when running the test suite on python3.6 is:

[code]

[2018-05-14 08:28] shayts7 opened #2081 "Expected assignment-from-no-return is not reported"
### Steps to reproduce
1. Save this code:
[code]
2. run `pylint -E <file>.py`

### Current behavior
No errors found

### Expected behavior
Expecting to get `assignment-from-no-return`

### pylint --version output
[code]

[2018-05-14 09:06] furkanmustafa commented on #214
@PCManticore as you mentioned, there is probably no good way to fix this issue for this version; What about fixing this in a "[bad way](https://github.com/PyCQA/pylint/pull/1055)" for this version, and later on in the planned version 3 you can [utilize a better engineered two-phase design](https://github.com/PyCQA/pylint/pull/1014#issuecomment-233185403) ?

While sailing, sometimes the only way to

[2018-05-14 11:41] sushobhit27 opened #2082 "function/method called without parentheses."
### Steps to reproduce
1. create file with below content
$ cat sample.py
from datetime import date

class FakeClass(object):
    def __init__(self, effective_date=date.today()):
        self._effective_date = effective_date

    def effective_date(self):
        return self._effective_date

obj = FakeClass()

if obj.effective_date != date.today():
    print('Wrong')

2. $ pylint sample.py --disabl

[2018-05-14 14:15] PCManticore commented on #366
This is fixed in master.

[2018-05-14 14:15] #366 closed

[2018-05-14 14:15] AWhetter opened #2083 "docparams should consider type annotations"
Currently docparams always checks that a type exists for each parameter and for the return type. If type annotations exist on the function signature for a parameter and/or return type then `missing-type-doc` and/or `missing-return-type-doc` should not get raised.

To any new contributors looking to fix this issue; this should only need changes in https://github.com/PyCQA/pylint/blob/master/pylint/

[2018-05-14 14:50] befreeman commented on #1195
I'm taking a look at this for PyCon 2018 sprints!

[2018-05-14 15:16] ibolmo commented on #2079
I'll be giving this a try !

[2018-05-14 15:56] sushobhit27 commented on #2083
@AWhetter Can I work on this issue, seems
if func_node.returns:
            return
for annotations check in visit_return will be enough for "missing-return-type-doc". If it looks ok, will try to figure out for other check also.

[2018-05-14 15:58] PCManticore commented on #2026
Fixed by https://github.com/PyCQA/pylint/pull/2084

[2018-05-14 15:58] #2026 closed

[2018-05-14 16:00] AWhetter commented on #2083
Sounds good to me!

[2018-05-14 16:27] PCManticore commented on #2082
Sounds like an amazing check to have!

[2018-05-14 16:27] PCManticore commented on #2081
Sounds like a bug!

[2018-05-14 17:25] PCManticore commented on #2067
This is probably a bug that would need an astroid brain tip to understand what pytorch is doing here.

[2018-05-14 17:26] PCManticore commented on #2076
This could be a good enhancement, thanks for the suggestion!

[2018-05-14 17:47] mar-chi-pan commented on #1453
I'll have a look

[2018-05-14 17:50] PCManticore commented on #2073
Sounds good. I don't have specific suggestions but feel free to look at the checkers that we currently have for some inspiration.

[2018-05-14 17:50] #2073 closed

[2018-05-14 17:54] PCManticore commented on #2033
We don't support it, but we probably won't support this feature too soon. There's some work under way though to support multiple configuration files per directory, which means that you can at least control some of the error messages per each directory. See #1988  for more details.

[2018-05-14 17:54] #2033 closed

[2018-05-14 20:20] fureigh commented on #1986
Taking a look as part of the PyCon sprint. 🐍🎉

[2018-05-14 20:25] VictoryChang commented on #2047
I will be taking a look at this as part of Pycon2018

[2018-05-14 20:46] #1195 closed

[2018-05-14 21:11] rcronk commented on #409
I'm also hitting this.  Please fix.  I bet it's a difficult check though since you can call anything from anywhere and you'd have to check it all to make sure things are called from within __init__, etc.

[2018-05-14 21:40] befreeman commented on #2062
Will take a look into this tonight!

[2018-05-15 05:34] bpedersen2 opened #2095 "Add way to disable module caching for specific files"
1.  Consider a project with:
 a script bin/packagename
 a package packagename with some modules
2a. run ` pylint bin/packagename packagename/somemodule`
2b. run ` pylint packagename/somemodule bin/packagename ` or pylint individually

### Current behavior
2a results in complaints about non-name-in-package
2b runs without warnings

### Expected behavior
Both runs can run without warning. The proble

[2018-05-15 12:44] #1453 closed

[2018-05-15 13:47] mar-chi-pan commented on #977
I'll take a look!

[2018-05-15 13:53] mar-chi-pan commented on #977
What text would you like in the warning?

[2018-05-15 14:55] #586 closed

[2018-05-15 17:11] #1923 closed

[2018-05-15 17:33] #2051 closed

[2018-05-15 17:57] #1998 closed

[2018-05-15 18:55] #977 closed

[2018-05-15 19:52] skirpichev commented on #977
@PCManticore, I'm not sure if that's a right fix.

This will work for simple cases:
[code]

But not in general:
[code]

Should I open a new issue?

[2018-05-15 19:57] PCManticore commented on #977
Yes please open a new issue

[2018-05-15 20:39] skirpichev opened #2100 "New check for self/cls assignments doesn't catch all possible cases"
### Steps to reproduce
1.
[code]
2.
[code]
3.
[code]
### Current behavior

No warning on step 2.  But clearly, self was assigned.

### Expected behavior

W0642 warning

### pylint --version output

[2018-05-16 00:14] adamtheturtle opened #2102 "`KeyError` when using docparams and NotImplementedError is documented"
Hello and thank you for the software.
In the most recent update (1.9.0) of `pylint`, a bug was introduced that means that legitimate documentation of `NotImplementedError` can cause a `KeyError` to be raised when using the `docparams` plugin.

### Steps to reproduce
1. Set `load-plugins=pylint.extensions.docparams` in `.pylintrc`:

[code]

2. Document that a `NotImplementedError` is raised:

[code

[2018-05-16 09:07] aoxiangwu opened #2105 "wrong behavior cv2(python-opencv) module"
### Steps to reproduce
from cv2 import VideoCapture

### Current behavior
E0611:No name 'VideoCapture' in module 'cv2'

### Expected behavior
no error, VideoCapture is a class in cv2

### pylint --version output
C:\Users\w\Downloads\angular>pylint --version
No config file found, using default configuration
pylint 1.9.0,
astroid 1.6.4
Python 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 17:00:18) [MSC v.1

[2018-05-16 12:01] PhilippSelenium commented on #1966
problem reoccured in pylint 1.9.0
The fix you added is not in the 1.9 branch:
https://github.com/PyCQA/pylint/blob/1.9/pylint/checkers/variables.py#L436

[2018-05-16 12:12] PCManticore commented on #1966
I don't think this was ever backported to another branch.

[2018-05-16 13:35] hvelarde opened #2106 "False positive on --py3k comprehension-escape (W1662)"
### Steps to reproduce
[CI build ran automatically](https://travis-ci.org/collective/collective.fingerpointing/jobs/379396504#L1995) and started failing because of this; previously no warning was shown.

### Current behavior
A warning is shown:

[code]
this is the offending code: https://github.com/collective/collective.fingerpointing/blob/1.7/src/collective/fingerpointing/tests/test_upgrades.py#L

[2018-05-16 13:44] PCManticore commented on #2106
Thanks! This is a false positive, we'll fix it.

[2018-05-16 13:54] redbass opened #2107 "AttributeError: 'Raise' object has no attribute 'inst'"
### Steps to reproduce
1. Create a python file called `test.py` with content:
[code]
2. run
[code]

### Current behavior
[code]

### Expected behavior
No error raised

### pylint --version output
[code]

[2018-05-16 14:11] #2107 closed

[2018-05-16 14:11] PCManticore commented on #2107
Thanks! It's fixed in the 1.9 branch, we'll release shortly a new patch release.

[2018-05-16 14:25] Stevoisiak opened #2108 "Folder analysis fails if '__init__.py' is not present"
When analyzing a folder, Pylint will fail with "*No such file or directory*" (`parse-error`) if the folder does not contain an `__init__.py` file.

Ironically, this means Pylint will fail if you try to analyze the Pylint repository.

[code]

### Steps to reproduce
1. Create a project with the following folder structure

       project
           hello.py
           goodbye.py

2. Analyze the folde

[2018-05-16 16:17] eccles opened #2109 "1.9.0 is seriously broken"
### Steps to reproduce
1. Upgrade pylint from 1.8.4 to 1.9.0
2. Rerun pylint which previously passed with no error in v1.8.4
3. python3 -m pylint --rcfile=pylintrc ./setup.py lnxproc functests unittests

(from my repo eccles/lnxproc.git

### Current behavior
1. Using config file /usr/src/app/pylintrc
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/runpy.py", line 193, in _run_m

[2018-05-16 17:02] sk- commented on #1290
Would it be possible to also add support for [mypy's `TypedDict`](http://mypy.readthedocs.io/en/latest/kinds_of_types.html#typeddict)?

[2018-05-16 20:39] PCManticore commented on #2108
Duplicate of #352 We currently don't support analyzing directories with no `__init__` files in them, as we consider all the directories passed to CLI as packages. This will change in the future once #352 is fixed

[2018-05-16 20:39] #2108 closed

[2018-05-16 20:42] #2102 closed

[2018-05-16 20:49] PCManticore commented on #2105
Hi, can you try with `pylint --extension-pkg-whitelist=cv2`? The problem is that cv2 is an extension package and we can't quite understand it properly.

[2018-05-16 20:49] #2105 closed

[2018-05-17 05:08] dimaqq opened #2112 "Crash on badly formatted pylint comment"
MRE:

[code]

Pylint crash:

[code]

Environment:

[code]

[2018-05-17 08:09] PhilippSelenium commented on #1966
I don't understand:
It was fixed in the master branch but for the current pylint version 1.9.0 (2018-05-17) it is still an issue.
Is 1.9 not the corresponding branch for release 1.9.0?

[2018-05-17 08:26] eccles opened #2113 "pylint 1.19.`1emits no-absolute-imprt in python3 code"
### Steps to reproduce
1.
2.
3.

### Current behavior

### Expected behavior

### pylint --version output

[2018-05-17 08:26] eccles opened #2114 "pylint 1.19.`emits no-absolute-imprt in python3 code"
### Steps to reproduce
1.
2.
3.

### Current behavior

### Expected behavior

### pylint --version output

[2018-05-17 08:26] eccles opened #2115 "pylint 1.19.emits no-absolute-imprt in python3 code"
### Steps to reproduce
1. python3 -m pylint --rcfile=pylintrc ./setup.py lnxproc functests unittests
2. Lots of no-absolute-import errors

### Current behavior
python3 -m pylint --rcfile=pylintrc ./setup.py lnxproc functests unittests
************* Module setup
W:  6, 0: import missing `from __future__ import absolute_import` (no-absolute-import)
************* Module lnxproc
W:  4, 0: import missi

[2018-05-17 08:54] eccles commented on #2109
The exception is fixed but the spurious python3 warnings are not - I have logged another issue

[2018-05-17 09:47] PCManticore commented on #2115
Thanks for the issue. There are a couple of things here:

- `no-absolute-import` is emitted by the Python 3 porting checker. It shouldn't run by default unless you activated these messages explicitly in your configuration file. Did you do that? Another way to run these checks if by passing `--py3k` at the command line but it doesn't seem that you're doing this from the example you gave
- This port

[2018-05-17 09:47] #2115 closed

[2018-05-17 09:47] #2114 closed

[2018-05-17 09:47] #2113 closed

[2018-05-17 09:53] #2112 closed

[2018-05-17 09:53] PCManticore commented on #2112
Thanks! Fixed in master and 1.9, we'll release a new patch release for 1.9 shortly.

[2018-05-17 09:58] #1863 closed

[2018-05-17 10:11] PCManticore commented on #1966
Just pushed the commit in the 1.9 branch, should part of 1.9.2 when we'll release it.
This commit was only part of the master branch, but we used a different branch for releasing 1.9, which didn't have a lot of other fixes backported.

[2018-05-17 10:27] eccles commented on #2115
I think you may be wrong.

1. The codebase is pure python3
2. pylint 1.8.4 emitted no warnings/errors - the pylintrc file enables all checks
3. I have never enabled python2-3 porting checks for this code and don't know how.
4. AFAICS enabling porting check requires --py3k which I am not doing

[2018-05-17 10:29] PCManticore commented on #2115
Can you show me the section of your pylintrc that enables all the checks?

[2018-05-17 12:30] PCManticore commented on #2115
`no-absolute-import` *is* enabled in your configuration file. From what I can see, your `enable` list contains all the Python 3 porting checks.

As I mentioned, it doesn't matter if the codebase is in Python 3 as long as the Python 3 porting checks  are enabled, either via configuration or via the `--py3k` flag. I suggest removing those if you don't need them. This was done in order to support mig

[2018-05-17 13:31] eccles commented on #2115
Thanks for this - sorry for the misunderstanding.

[2018-05-17 13:42] sam-s commented on #1497
Same problem with
[code]

[2018-05-17 13:53] AWhetter opened #2116 "Stop installing tests with package"
Finish #2096 and move the tests directory to the project root so that we don't install the tests with the package anymore. The tests should still be included and runnable in the sdist.

[2018-05-17 14:16] AWhetter opened #2117 "Fix `--list-msgs` command line flag"
Currently (in the per_dir_config branch) it is expecting a positional argument, but it should not need one.

[2018-05-17 14:53] AWhetter commented on #374
We are likely going to have to deal with this as part of the per directory config project. Checkers used to be created more than once only when `jobs` was anything higher than one. Now that checkers are going to be created per directory, they will need to share state between instances of themselves. Accesses to the shared state are going to need to be thread safe for this model to work in a parall

[2018-05-17 16:58] #2042 closed

[2018-05-17 18:42] tojo13 opened #2118 "Doc tutorial is out of date"
The tutorial at https://pylint.readthedocs.io/en/latest/tutorial.html or https://github.com/PyCQA/pylint/blob/master/doc/tutorial.rst uses the python 2 `print` statement and the pylint report feature (`-r`) is enabled by default.

I would be happy to update the content of this page as I found it useful for learning pylint!

[2018-05-17 18:43] PCManticore commented on #2118
Thanks, please do! That would be great.

[2018-05-17 20:40] bukzor commented on #214
It's better because it exists, unlike perfect engineering :D

[2018-05-18 00:58] wulfgarpro commented on #1946
+1

[2018-05-18 10:01] exhuma commented on #1802
@limdor your case is a bit different as `__eq__` is an instance method. And there is something a bit more sinister at play: [Name Mangling](https://en.wikipedia.org/wiki/Name_mangling#Python)

In essence, the double-underscore-as-private is nothing more than syntactic sugar. The variable _is still accessible_ but it gets renamed. In the case of `__eq__` you don't know the class of `other` so blind

[2018-05-18 14:07] MrMino commented on #1835
@PCManticore what if I want the `b` and `c` parameters to have default values, but I also want the function to take arbitrary number of arguments? E.g. whenever I need these arguments, because a decorator that uses that definition requires it?

[2018-05-18 19:33] belugame commented on #839
I have a similar request, but compared to this it can do a whole lot of damage: Overriding a method while not being aware or forgetting that their super() does return something.

In my case it was the test runner which ran the tests fine but did not produce an error exit code when tests failed.

Would you be open to have this as a feature?

[2018-05-18 20:34] AWhetter commented on #1835
It's not a great solution because the defaults aren't included in the function signature but I would do the following in this case:

[code]

It's not ideal, but mixing keyword arguments and variable arguments can get messy really quickly. So I think that using setdefault is a better solution, especially if you document the new default value in the docstring.

This is a matter of opinion though so

[2018-05-18 20:37] AWhetter commented on #839
I don't think that I understand your example. Please could you explain further with some example code, what happens now, and what you expect. It might be better to open a new issue considering that this one is so old.

[2018-05-18 20:53] belugame opened #2120 "Warn when overriden method has no return statement while original method has"
Continued from https://github.com/PyCQA/pylint/issues/839#issuecomment-390325372

We have a django project and a big test suite. Recently I was working on a custom test runner that adds some features for us (irrelevant here). The test suite worked nicely and reported failing errors on the shell as usual. The tests are also run on CI systems. But what went unnoticed is that the failing tests no lon

[2018-05-19 08:49] #2083 closed

[2018-05-19 09:08] PCManticore commented on #2120
Yes, this sounds like a good enhancement!

[2018-05-19 09:49] sk- opened #2121 "undefined-loop-variable in presence of cell-var-from-loop"
Similar to bug #1921 and related, I found that an extra `undefined-loop-variable` error is shown  in presence of `cell-var-from-loop` when the same variable is used later in another loop.

### Steps to reproduce
The following code:
[code]

outputs

[code]

However, when changing the name of the second `x` or commenting out those two lines, then the output is just

[code]

### pylint --version outp

[2018-05-19 12:28] sushobhit27 commented on #2079
@PCManticore since the person opted to work on this issue has backed off, I would like to work on this issue.

[2018-05-19 12:37] PCManticore commented on #2079
Hey @sushobhit27 I'm not sure who opted to work on this issue, but feel free to take it! The rough idea of this change would be:

   - first add mypy in `tox` but not on Travis
   - try to annotate as much pylint code as possible with type annotations
   - if there are any bugs with the types that we pass from one place to another, fix them
   - Once we can safely run `mypy` on pylint without any

[2018-05-19 16:31] cs-cordero opened #2122 "f-strings with indexed value breaks a disabled warning on Python 3.6.1"
### Steps to reproduce
1.   Use this file:
[code]
2. In terminal, run pylint against this file

### Current behavior
[code]

### Expected behavior
I would expect pylint to ignore this error because of the `# pylint: disable=redefined-outer-name` statement at the top.

### pylint --version output
[code]

[2018-05-19 17:59] PCManticore commented on #2122
Thanks for the report! This doesn't seem to reproduce on 3.6.2+ and doesn't reproduce when f-strings are involved. Wonder if our f-string AST transform is doing something that prohibits the disabling of messages to work correctly.

[2018-05-19 18:00] PCManticore commented on #2121
Thanks for the bug report!

[2018-05-19 18:46] sushobhit27 commented on #2079
@PCManticore Agree that multiple smaller PRs will be required for this and starting just with the public APIs for now will be good starting point.
Will analyze more and start working on this.

[2018-05-19 19:13] PCManticore commented on #1853
A verbose mode was added recently in the master branch. You can now enable various verbose messages with `pylint -v`.

[2018-05-19 19:13] #1853 closed

[2018-05-20 08:29] PCManticore commented on #1628
This is fixed in astroid's master. Please give it a go and let me know how it works!

[2018-05-20 08:32] PCManticore commented on #1789
Tried again with the Python versions mentioned so far and I still can't reproduce this bug using the master branch for both pylint and astroid. If you can, please test with these two versions and if it's not working for you, let me know. Closing the issue in the meantime.

[2018-05-20 11:41] OJFord commented on #1789
Not working in pylint v1.8.4; fixed in v1.9.0.

[2018-05-20 18:22] PCManticore opened #2124 "Investigate if there is anything to learn from RuboCop/ESLint"
Let's check if we can learn something from these two tools that we can leverage in pylint. I'm thinking either:

  - architectural decisions
  - interesting checks that might work in Python
  - community building around the projects

[2018-05-21 06:58] PCManticore opened #2125 "Update the issue and pull request template"
Check if we can use the new multiple templates for issues and pull requests: https://blog.github.com/2018-01-25-multiple-issue-and-pull-request-templates/

[2018-05-21 07:36] PCManticore opened #2126 "Release 2.0 as a dev-release"
This should help folks spot bugs in it before actually releasing 2.0 completely.

[2018-05-21 10:01] #2126 closed

[2018-05-21 10:14] PCManticore opened #2127 "Investigate if there's anything to learn from jedi"
jedi seems pretty powerful in terms of Python understanding. I'm curious if there is anything from the list below that we can use in pylint/astroid:

- any architectural decision
- support for features that we don't support yet (decorators, descriptors, control flow etc)
- support for features that we don't necessarily know about
- speed improvements that could be used in pylint/astroid as well

[2018-05-21 14:47] VictoryChang commented on #2047
This issue is up for grabs.

[2018-05-21 15:23] JulienPalard opened #2128 "RuntimeError with Python 3.7"
### Steps to reproduce
[code]

### pylint --version output

[code]

[2018-05-21 15:28] PCManticore commented on #2128
Please give it a go with pip install pylint --pre.

[2018-05-21 15:28] #2128 closed

[2018-05-21 15:41] JulienPalard commented on #2128
Thanks. For the record I had to use:

```pip install pylint --pre --upgrade --upgrade-strategy eager```

[2018-05-21 17:39] hroncok opened #2129 "2.0.0: tests fail without tox"
### Steps to reproduce
1. `tox -e py36`
2.  `. .tox/py36/bin/activate`
3.  `python -m pytest pylint/test`

### Current behavior
1. all tests pass
2. activated
3. 2 tests fail

### Expected behavior
1. all tests pass
2. actiavted
3. all tests pass

### pylint --version output
[code]

### Why is this important

In Fedora, we need to check pylint works when installed into system, not in an isolated e

[2018-05-21 17:44] PCManticore commented on #2129
Thanks for the report! We can fix this before 2.0 release

[2018-05-21 20:57] Stevoisiak commented on #2047
If the expression is updated, this reference may need to be changed as well.

https://github.com/PyCQA/pylint/blob/9acb65af4c1072f16bbd8f60bd92c0b05c93be6e/man/pylint.1#L159-L160

[2018-05-21 22:23] asottile opened #2130 "False positive `--py3k` `comprehension-escape`"
### Steps to reproduce

[code]

### Current behavior

[code]

### Expected behavior

No errors

A heuristic (that I think is valid?) is that a name `x` is rebound after the comprehension.

### pylint --version output

[code]

[2018-05-21 22:48] asottile commented on #2106
This is likely related / same root cause to #2130

[2018-05-22 07:36] PCManticore commented on #2106
Most likely fixed by #2131, thanks to @asottile . @hvelarde can you give it a go using the master/1.9 branch? We'll do a release with the fix shortly.

[2018-05-22 07:47] #2129 closed

[2018-05-22 07:48] PCManticore commented on #2129
These should work now! Thanks for catching these, they were not working correctly with `tox`. Let me know if you'll encounter any more errors for Fedora.

[2018-05-22 09:07] sushobhit27 commented on #2124
Found one interesting check "no-self-assign" available in ESLint but not in pylint.
$ cat sample2.py
a = 786
a = a

$ pylint sample2.py

--------------------------------------------------------------------
Your code has been rated at 10.00/10 (previous run: 10.00/10, +0.00)

At line 2, there can be warning for self assignment.

[2018-05-22 09:47] hroncok commented on #2129
Works like a charm, thanks for a quick fix.

[2018-05-22 16:04] jacebrowning opened #2132 "pyreverse is broken in pylint==2.0.0.dev0"
### Steps to reproduce
1. `$ pip install pylint==2.0.0.dev0`
2. `$ pyreverse --help`

### Current behavior

[code]

### Expected behavior

Help message is shown.

### pylint --version output

[code]

[2018-05-22 16:05] jacebrowning commented on #2132
I think this broke with https://github.com/PyCQA/pylint/commit/49eae8a9d6e713323cf1a6d6a469ff340255fd6b

[2018-05-22 16:49] hvelarde commented on #2106
@PCManticore I can't test from master/1.9 right now; are you going to release 1.9.2 or this is something that will be included in 2.0? I can't find the information on the changelog.

[2018-05-22 16:52] PCManticore commented on #2106
It's going to be released in 1.9.2 at some point.

[2018-05-22 17:01] laimagine opened #2133 "Error with pylint and Python 2.7.12"
### Steps to reproduce
1. Running with the latest version of pylint in `Python 2.7.12` with the latest version results in an error.

### Current behavior
[code]

### Expected behavior
Should not error.

### pylint --version output
[code]

[2018-05-22 17:01] laimagine opened #2134 "Error with pylint and Python 2.7.12"
### Steps to reproduce
1. Running with the latest version of pylint in `Python 2.7.12` with the latest version results in an error.

Switching pylint 1.84 works correctly. This _could_ be an issue with `astroid`

### Current behavior
[code]

### Expected behavior
Should not error.

### pylint --version output
[code]

[2018-05-22 17:03] asottile opened #2135 "Interest in burning the python2 / python2.6 bridges?"
A bit of a shameless plug but figured since pylint is kind of leading the charge in the "drop python2" department I'd throw it out there.

I've written a tool which does some syntax upgrades. [pyupgrade](https://github.com/asottile/pyupgrade)

Here's the diff (with a few files filtered out) that it applies to pylint (when run with `--py3-plus`):

https://i.fluffy.cc/m7J1LMTcCx8Zx827LfsG0mz7jnrPx19

[2018-05-22 17:03] PCManticore commented on #2133
I'm not exactly sure how did you install 2.0, it is working only with Python 3. If you do `pip install` with Python 2, it shouldn't find 2.0.

[2018-05-22 17:04] PCManticore commented on #2134
Closing as duplicate of #2133

[2018-05-22 17:04] #2134 closed, assigned to nobody

[2018-05-22 17:06] asottile commented on #2133
`pip<9` + `pip install --pre pylint` will bring in `2.0.0-dev` (a bit of an edge case I guess).

[2018-05-22 17:31] PCManticore commented on #2106
Thanks for testing it out @idgserpro ! Your two examples seem to also be false positives.

[2018-05-22 17:33] PCManticore commented on #2106
I added this issue to the next bug fix release (that is 1.9.2). This check needs some more improvements  as right now it emits quite a lot of false positives.

[2018-05-22 17:36] PCManticore commented on #2135
This looks like a great cleanup! :) If you want, please send a PR here and to astroid as well, it would be great to have some more Python 3 cleanup.

Regarding Python 2 support, that's just for the master branch/2.0! We're still going to support Python 2 for a little while, at least till January 2020, but the major development will happen in 2.0, while 1.9 will only get backports.

[2018-05-22 17:45] asottile commented on #2135
Cool, I made #2136 and pycqa/astroid#549 :)

[2018-05-22 18:39] laimagine commented on #2133
There could be something missing on my machine. Here is the current state. Let me add more details.

Installing using `setuptools`
[code]

[code]

[2018-05-22 18:44] asottile commented on #2133
ah yeah, you're going through the `easy_install` / `setuptools` pathway and not the `pip` pathway -- I'd suggest `pip install .` w/ a `setup.py` instead :)

[2018-05-22 18:53] laimagine commented on #2133
Thanks @asottile; I'll see whether that is possible for us.

[2018-05-22 19:28] asottile opened #2137 "False positive for `dict-keys-not-iterating` w/ `--py3k`"
### Steps to reproduce

[code]

### Current behavior

[code]

### Expected behavior

No error

### pylint --version output

[code]

[2018-05-22 20:16] ChrisMayfield opened #2139 "pyreverse methods do not show parameters"
Pyreverse does not seem to include any parameters in UML class diagrams. All methods are listed with empty parameter lists.

### Steps to reproduce
1. Write a Python class with methods that take parameters (see code below)
2. `pyreverse -o png -f ALL cow.py` (see png below)

### Current behavior
All methods are shown having no parameters (empty parentheses).

### Expected behavior
The `eat` and `m

[2018-05-23 00:55] rawrgulmuffins commented on #1524
I'm running into a similar issue at my work with a pure python sub-package.

[2018-05-23 00:58] rawrgulmuffins commented on #1606
Link to astroid brain plugin docs?

[2018-05-23 05:13] PCManticore commented on #1606
We don't have great docs for it, it's best to just poke the code in the `brain` directory to see how to write the plugins: https://github.com/PyCQA/astroid/tree/master/astroid/brain

[2018-05-23 06:50] limdor commented on #1802
But what about with the attributes that have a single underscore? If we have this example with _foo instead of __foo, it would work but we would get the pylint warning.
Wouldn't be this the way to implement the `__eq__` operator of a custom class?

[code]

[2018-05-23 16:03] asottile commented on #2106
wfm given the examples I can find! thanks for the fix :)

[2018-05-23 16:03] idgserpro commented on #2106
Well, it's me that should be thanking after this fast response :laughing:.

How exactly should I test this?

I installed pylint 1.9.1. Then, I added `.diff` to your commit url https://github.com/PyCQA/pylint/commit/901f652fcf35a5a7b7746e9780770b36518c977c.diff, downloaded to `../lib/python2.7/site-packages/`, and ran `patch -p1 -i 901f652fcf35a5a7b7746e9780770b36518c977c.diff`. I get:

[code]

Is

[2018-05-23 16:06] asottile commented on #2106
@idgserpro I tried your file for ya:

[code]

[2018-05-23 16:30] idgserpro commented on #2106
I couldn't test that way (directly from master), stuck into 2.x.

[code]

I decided to install in a Python3 like you did, but when running  it against the whole package`/home/user/.pythonz/pythons/CPython-3.6.4/bin/pylint --py3k --disable=no-absolute-import src/brasil/gov/tiles`:

[code]
(This file here https://github.com/plonegovbr/brasil.gov.tiles/blob/2fd15243b4134b2daf97984d2bcfbfe7863490ff/sr

[2018-05-23 16:33] sam-s commented on #779
I still see `E1101, no-member: Module 'numpy' has no 'floating' member` with
[code]
and
[code]
should I open a new issue?

[2018-05-23 16:43] PCManticore commented on #2106
Hey @idgserpro Thanks for trying it out! It should also be available now in the 1.9 branch, which works on Python 2. I already pushed a fix for the bug you found in https://github.com/PyCQA/pylint/commit/ea4b5d4d7687f5308cb42a1928188abb6a17e489, let me know if that works for you!

[2018-05-23 16:44] PCManticore commented on #779
@sam-s yes, please.

[2018-05-23 16:59] idgserpro commented on #2106
@PCManticore what's available right now in 1.9 branch (https://github.com/PyCQA/pylint/commit/37e6384b5f451a737794e41e11a11d561dfc83aa) fixes what I post in https://github.com/PyCQA/pylint/issues/2106#issuecomment-391073071, but not what's in https://github.com/PyCQA/pylint/issues/2106#issuecomment-391412936, isn't what's in https://github.com/plonegovbr/brasil.gov.tiles/blob/2fd15243b4134b2daf979

[2018-05-23 17:09] PCManticore commented on #2106
Hey @idgserpro Sorry I missed that, this issue has so many different links that it's hard to keep track of them all.

[2018-05-23 17:10] PCManticore commented on #2106
For reference this is the code that triggers the false positive:
[code]

[2018-05-23 17:15] idgserpro commented on #2106
Sorry about that. Next time we'll try to summarize at the first post.

[2018-05-23 17:18] sam-s opened #2140 "Module 'numpy' has no 'floating' member"
### Steps to reproduce
1. create file `y.py`:
[code]
2. run `pylint y.py`:
[code]

3. run `python y.py`:
[code]

### Current behavior

Error.

### Expected behavior

No diagnostics.

### pylint --version output

[code]

Related: https://github.com/PyCQA/pylint/issues/779

[2018-05-23 17:35] PCManticore commented on #1063
We recently switched to typed_ast from Dropbox, which has support for extracting type comments. This is fixed in the master branch, please give it a go when you get a chance!

[2018-05-23 17:35] #1063 closed

[2018-05-24 07:02] PCManticore commented on #2106
Thanks @idgserpro Let me know if this change stops the false positives for you. You can test them with the 1.9 branch.

[2018-05-24 07:20] #2066 closed

[2018-05-24 07:53] #1534 closed

[2018-05-24 07:55] PCManticore commented on #1631
Ashley is right here. I'm not sure why we argue that pylint is emitting incorrectly this message when technically it is correct, the parameter has a different name.

[2018-05-24 07:55] #1631 closed

[2018-05-24 07:56] PCManticore commented on #1868
I'm closing this issue. This seems like a problem with Travis rather than pylint itself.

[2018-05-24 07:56] #1868 closed

[2018-05-24 07:59] PCManticore commented on #1567
Agree with @hippo91 This check targets the `super()` delegation while an `useless-constructor` would be a separate concern.

[2018-05-24 07:59] #1567 closed

[2018-05-24 08:01] PCManticore commented on #1982
Try adding `--extension-pkg-whitelist=PyQt5` to pylint when calling it. This will build an AST object from a live import of `PyQT5` and will fix this problem for you. The problem is that PyQt5 is an extension package and pylint cannot understand these out of the box.

[2018-05-24 08:01] #1982 closed

[2018-05-24 08:12] marmistrz commented on #1631
And `encoder.default(o=to_encode)` would cease to work too. Thanks :)

[2018-05-24 08:32] sushobhit27 opened #2142 "pytest | pylint --version is failing on master"
### Steps to reproduce
1. python -m pytest test -x -vv

### Current behavior
=========================================================================================== FAILURES ===========================================================================================
______________________________________________________________________ test_functionality[func_bad_cont_dictcomp_py27.py] ________

[2018-05-24 08:36] PCManticore commented on #2142
You need to install the latest astroid from astroid's master branch in order for the tests to work. Also make sure to use `tox` instead of just `pytest` as it prepares all the dependencies beforehand.

[2018-05-24 08:36] #2142 closed

[2018-05-24 09:17] gaborbernat commented on #1063
@PCManticore thanks, any non-dev release plans for it? :smile:

[2018-05-24 09:30] PCManticore commented on #1063
Probably right after Python 3.7 comes out. We still have some issues to flesh out until then (check the 2.0 milestone from both pylint and astroid).

[2018-05-24 09:41] exhuma opened #2143 "Allow per-file configuration via a comment-line"
`vim` has a very powerful feature called [modelines](http://vimdoc.sourceforge.net/htmldoc/options.html#modeline) [[2](http://vim.wikia.com/wiki/Modeline_magic)]. While the full feature-set of something like vim-modelines does not make sense for a linter I think there is one interesting feature: *being able to override any setting for that one file only*.

pylint already allows disabling messages

[2018-05-24 10:10] idgserpro commented on #2106
There's still an error in the file https://github.com/plonegovbr/brasil.gov.tiles/blob/2fd15243b4134b2daf97984d2bcfbfe7863490ff/src/brasil/gov/tiles/tests/test_robot.py#L16:

[code]
Output:
[code]

[2018-05-24 10:14] vinay-deshmukh opened #2144 "False positive for pygame.PixelArray(surface) "E1121:Too many positional arguments for lambda call""
### Steps to reproduce
1. I'm using vscode, and here are my workspace settings

[code]
2.  My code, (I was attempting to run the code given on https://inventwithpython.com/pygame/chapter2.html)

[code]
3.

### Current behavior
As mentioned I get an error at the line

[code]

As,

`E1121:Too many positional arguments for lambda call`

### Expected behavior

There shouldn't be an error in the linter

[2018-05-24 10:47] sambrightman commented on #2133
Also seeing this via `python setup.py test` when it is a `tests_require`? Is your expectation that 2.0.0 would not be installed in this case for Python 2 or is a specific restriction required? I thought that modern versions of `setuptools` were supposed to behave the same as `pip` here.

[2018-05-24 11:01] hardmooth opened #2145 "duplicate-code: referenced code locations are ambigous if same name is reused"
1. Unzip the source setting (almost similar files `the_file.py` in different folders with a clean file in a third folder)
[pylint_similarities.zip](https://github.com/PyCQA/pylint/files/2034945/pylint_similarities.zip)
2.  run pylint on the sources only for message `R0801` or (`duplicate-code`)
  `python36 -m pylint dir_a dir_b dir_c --disable=R,C,W,E --enable=R0801 --msg-template='{path}::{line}:

[2018-05-24 11:03] sushobhit27 commented on #2142
@PCManticore now executed using tox by following command, but still getting errors, albeit different ones
$ python -m tox -e py36

py36/lib/python3.6/site-packages/pylint/test/functional/redundant_unittest_asser                                                                                                                t.py s [ 99%]
s

[2018-05-24 11:07] PCManticore commented on #2142
Might be related to cygwin somehow? The tests pass on Travis and AppVeyor.

[2018-05-24 13:37] sushobhit27 commented on #2142
@PCManticore cygwin is the best setup right now I have, will try to manage with it somehow. Thanks for the info btw.

[2018-05-25 08:43] sushobhit27 opened #2146 "Use case missing for unused-argument check"
### Steps to reproduce
1. $ cat sample1.py
[code]
2. $ pylint sample1.py --disable=blacklisted-name --enable=unused-argument

### Current behavior
-------------------------------------------------------------------
Your code has been rated at 10.00/10 (previous run: 6.67/10, +3.33)

### Expected behavior
There should be a warning that original value from parameter 'a' is not used or overridden.

#

[2018-05-25 13:59] BurakcanK commented on #779
The problem still persists with the 'cv2' module in vscode, even if I added `extension-pkg-whitelist=cv2` to the `.pylintrc`.

[2018-05-25 15:35] mmmm1998 opened #2147 "try/except, if-else and no-else-return"
[code]
I think, this code shouldn't get flagged with `no-else-return`, but it does. I'am wrong?

### pylint --version output
No config file found, using default configuration
pylint 1.9.1,
astroid 1.6.2
Python 3.6.5 (default, Apr  1 2018, 05:46:30)
[GCC 7.3.0]

[2018-05-25 15:36] mmmm1998 commented on #2147
I think, it possible related with #1852

[2018-05-25 15:40] PCManticore opened #2148 "Check if there is anything to learn from python-taing"
https://github.com/python-security/pyt seems to have some complex architecture for doing taint analysis in Python. There might be something interesting there for our control flow inference effort.

[2018-05-25 15:41] PCManticore commented on #2147
The check is right. You can remove the `else` clause and deindent the `return 0` one level to the left.

[2018-05-25 15:41] #2147 closed

[2018-05-25 22:53] albertzang commented on #1497
Same problem here
[code]

[2018-05-25 23:29] sam-s commented on #2140
Probably the same bug:
[code]

[2018-05-26 05:12] PCManticore opened #2150 "Integrate rstlint for our documentation"
https://github.com/twolfson/restructuredtext-lint

[2018-05-26 05:46] PCManticore commented on #2142
Makes sense. If you notice some failures that are particular to cygwin, feel free to fix it and send a PR with that! Since we don't test on cygwin by default, there might be checks that don't work on that platform right now.

[2018-05-26 05:46] PCManticore commented on #1131
Is this still not working? On windows or cygwin? We can probably test it on Windows using AppVeyor but I'm not sure how to do that for cygwin.

[2018-05-26 05:48] PCManticore commented on #779
The numpy support has nothing to do with cv2. Please open a separate issue.

[2018-05-26 06:00] #2132 closed

[2018-05-26 06:44] PCManticore commented on #2080
Thanks @sandrotosi ! I think this is fixed now:

- for the Python 3.6 failure, the linked commit should fix the problem for both master & 1.9 version
- the astroid `TypeError` should be fixed by https://github.com/PyCQA/astroid/commit/253903864cf80ba25476b1b6e3cbccba1016147b, for both astroid's master and astroid 1.6 (when we'll release it)
- the AttributeInferenceError should also be fixed by tha

[2018-05-26 06:44] #2080 closed

[2018-05-26 07:29] #2076 closed

[2018-05-26 15:00] y2kbugger commented on #1131
Try this;

    echo $TERM

Do you have it set up for the color terminal or just `xterm`?

Think about setting up in your .bashrc:

    export TERM=xterm-16color

Other than that maybe we should additionally plain `xterm-color` as well.

I've tested this on Windows both on CMD.EXE and on mintty with Git bash and pylint=1.8.2, python=3.6 and everything works and no errors.

[2018-05-26 19:04] BurakcanK commented on #779
@PCManticore Sorry, it was mentioned here once by @akorp, that's why I brought it up again.

[2018-05-26 21:16] jacebrowning commented on #2132
Thanks for the fix! Could we get a `2.0.0.dev1` release?

[2018-05-26 23:00] PCManticore commented on #2132
Yup! But not too soon, I'm in vacation this week. Maybe @AWhetter could help if he has some time!

[2018-05-27 08:37] exhuma commented on #2143
I've come across another, similar use-case:

The `# pylint ...` comments can not only be used to disable messages in a local block. This could then also be used to change the regex for valid names (which by default contain `i`, `j` & co).

It may sometimes be useful to change that list in a more local scope without adding a new name to the `pylintrc` for the project.

[2018-05-28 00:56] PCManticore commented on #2143
While this sounds pretty powerful, it feels like a feature that's going to be used mostly by power users. It's also a fairly big change to implement, as we'd need to rework quite a lot of the configuration management.
I'm not opposed to the idea, I just don't find the right incentive to dedicate a couple of weeks to implementing it.

[2018-05-28 10:33] sztomi commented on #2108
@PCManticore Isn't that different though? In Python3.3+ directories don't need __init__.py to be considered packages. Can't pylint do the same (i.e. not fail when there is no __init__.py but consider the directory a package)?

[2018-05-28 15:08] AWhetter commented on #2132
Both astroid 2.0.0.dev1 and pylint 2.0.0.dev1 have been released.

[2018-05-29 09:07] Vict0rSch commented on #1660
Still observing the error for `open`, `iterdir` etc. Which fix is supposed to be implemented? (asking as astroid went up a version)

[code]

[2018-05-29 11:16] thpica commented on #1318
Solved by @rogalski comment: https://github.com/PyCQA/pylint/issues/1318#issuecomment-301300281

Make sure you uninstall any previous version of `future` before the new version as mentioned here: http://python-future.org/whatsnew.html#what-s-new-in-version-0-16-0-2016-10-27

[2018-05-29 13:39] Stevoisiak commented on #2108
@sztomi The specific example I used for this issue was a root project folder, not a package folder.

I have not tested what happens if pylint analyzes a package directory that doesn't have an `__init__.py` file.

[2018-05-29 15:52] idgserpro commented on #2106
@PCManticore did you check https://github.com/PyCQA/pylint/issues/2106#issuecomment-391662017?

[2018-05-30 00:42] PCManticore commented on #2106
No, I didn't check that comment as I am currently in vacation. Will take a look next week.

[2018-05-30 00:44] PCManticore opened #2154 "Adopt black as the formatting tool that pylint uses?"

[2018-05-30 00:51] #1895 closed

[2018-05-30 19:40] nicktimko opened #2155 "Non-returning default singledispatch function flagged as an error"
### Steps to reproduce

When using `functools.singledispatch` to delegate by type and where the default behavior (the function decorated with `@singledispatch`) for unsupported types is to raise an error, Pylint thinks it's guaranteed to fail.

[code]

### Current behavior

[code]

### Expected behavior

No error raised.

### pylint --version output

* pylint 1.9.1,
* astroid 1.6.4
* Python 3.6.5

[2018-05-30 20:49] laimagine commented on #2133
@sambrightman, are you asking me whether 2.0.0 shouldn't be installed for python 2.0?

If so, I am guessing not, as pylint 2.0.0 requires python 3. So, either `setuptools` should not fetch pylint 2.0.0 when running in python 2.7 that pylint 2.0.0 should be able to run on python 2.0. Ideally, it is the former.

[2018-05-31 03:55] PCManticore commented on #2155
This makes sense, thank you!

[2018-05-31 04:00] PCManticore commented on #1660
The fix that is supposed to be implemented is the fix for the original problem of this issue. As Bryce mentioned, the fix landed in master, but I assumed it landed in what is going to be pylint and astroid 2.0, while what we released recently (1.9 and 1.6) are separate branches that don't have all the fixes backported from master. You can try to see if pylint 2.0 solves your problem with `pip inst

[2018-05-31 04:05] PCManticore commented on #2133
I don't have time right now to check, but I thought that `setuptools` was smart enough to not install `pylint` if it detects that the Python version is incompatible to what `pylint` expects. At least I would have expected a more friendly error message rather than trying to install `pylint` and seeing the installation fail.

[2018-05-31 04:07] PCManticore commented on #2146
Makes sense to have this as a check or as an addition to `unused-argument` as it might result in a surprising bug if the function is complicated enough.

[2018-05-31 04:09] PCManticore commented on #2144
flake8 doesn't have the checks that pylint has, so not sure why it was worth bringing it in discussion.

But this looks like a bug in pylint, there might be something going on with PixelArray that we don't understand.

[2018-05-31 04:17] asottile commented on #2133
seems the python version stuff is a pip feature and not a setuptools feature -- `setup.py install` goes down the ~easy_install pathway which doesn't respect/handle python_requires

Easiest reproduction:
[code]

[code]

imo there's zero reason to use `setup.py install` / `easy_install` / etc. in "modern" python development (use `pip install ...` instead!) so this is probably not worth worrying abou

[2018-05-31 04:40] PCManticore commented on #2133
@asottile is right on this one.

[2018-05-31 04:40] #2133 closed

[2018-05-31 04:42] PCManticore commented on #2154
Sounds good, thanks for the links! I imagine that first we have to run `black` over all the source files to convert them?

[2018-05-31 04:48] asottile commented on #2154
yep! pre-commit can help you do that as well `pre-commit run black --all-files` (once you've hooked up the configuration)

[2018-05-31 04:53] sushobhit27 commented on #2146
@PCManticore ok I will pick up this issue then.

[2018-05-31 09:39] PCManticore opened #2156 "Investigate if there is anything to learn from pytype"
https://github.com/google/pytype/blob/master/docs/errors.md Seems to have a bunch of errors similar to those from pylint. Let's see if we can learn anything from this tool (architectural decisions, new checks, etc.)

[2018-05-31 11:30] Vict0rSch commented on #1660
I did so but it does not do much:

[code]

[2018-05-31 14:32] jab opened #2157 "www.pylint.org is down ([*.]pylint.org no longer resolves)"
From whois it looks like the domain name registration expired yesterday.

(Discovered when this caused my build which uses sphinx's link check to fail.)

[2018-05-31 17:38] mthuurne opened #2158 "False positive on next() within generator"
### Steps to reproduce

Run pylint on the following code:

[code]

### Current behavior

The following issue is reported:

[code]

### Expected behavior

I don't think anything has to be reported here.

In general, `next()` might raise `StopIteration`, but not in every case, since there are infinite generators like `count()` that I used in the example. So stating that `StopIteration` is raised is

[2018-05-31 18:51] mthuurne opened #2159 "Metaclass __call__ should take precedence when calling a class"
### Steps to reproduce

Run pylint on the following code:

[code]

### Current behavior

The following issue is reported:

[code]

### Expected behavior

When you run the code fragment, only "meta call" is printed. This shows that the metaclass `__call__` override causes the constructor to not be called. Therefore, PyLint should look at the number of arguments the metaclass `__call__` expects rath

[2018-05-31 20:26] purplesun84 opened #2160 "Wrong Error for item assignment to a list element"
### Steps to reproduce
Applied pylint on the following code:
[code]

### Current behavior
...
E: 12, 8: "self.param['A']" does not support item assignment (unsupported-assignment-operation)
...

### Expected behavior
No Error

### pylint --version output
pylint 1.8.2,
astroid 1.6.1
Python 2.7.14 |Anaconda, Inc.| (default, Dec  7 2017, 17:05:42)
[GCC 7.2.0]

[2018-06-01 06:54] PCManticore commented on #2157
This is fixed now. Also please check https://mail.python.org/pipermail/code-quality/2018-May/001020.html (TLDR; we can't do anything about pylint.org)

[2018-06-01 06:54] #2157 closed

[2018-06-01 07:13] PCManticore commented on #2159
Makes sense, thanks for the bug report!

[2018-06-01 07:16] PCManticore commented on #2160
You get this error because pylint is not smart enough to figure out the data flow from your program. From its perspective, the value that you're trying to assign to at line 12 is a string, not a dictionary. One way to get rid of the error is to initialize the param list with empty lists instead of empty strings.

[2018-06-01 07:16] #2160 closed

[2018-06-01 07:17] #2158 closed

[2018-06-01 08:11] marusak opened #2161 "Enum from sqlalchemy is not correctly understood"
### Steps to reproduce
Create this file as `tst.py`
[code]

### Current behavior
`pylint-3 tst.py` returns
` E1101: Instance of 'A' has no 'enums' member (no-member)`
even though, it does have enums member.

### Expected behavior
No lint is reported.

### pylint --version output
[code]

[2018-06-01 08:43] PCManticore commented on #2161
I tried following the code in sqlalchemy to see where `enums` is defined, but this was somewhat of a wild goose chase as there was no obvious place where this happens: https://bitbucket.org/zzzeek/sqlalchemy/src/master/lib/sqlalchemy/sql/sqltypes.py.
Feel free to ignore this error or use `generated-members` in order to provide the `enums` member or `ignored-classes` instead to ignore the `sqlalche

[2018-06-01 08:43] #2161 closed

[2018-06-01 08:44] PCManticore commented on #2161
Alternatively, a third solution would be to add an astroid brain tip here https://github.com/PyCQA/astroid/tree/master/astroid/brain.

[2018-06-01 08:46] PCManticore commented on #2106
Hey folks, let me know if the latest commit from 1.9 fixes this problem for you. If so, I'll do another patch release these days.

[2018-06-01 08:46] #2106 closed

[2018-06-01 08:53] PCManticore opened #2162 "Fix the errors on the master branch"
The master branch is red now with the latest changes from astroid: https://travis-ci.org/PyCQA/pylint/builds/386531319

[2018-06-01 09:05] PCManticore commented on #2162
All is green.

[2018-06-01 09:05] #2162 closed

[2018-06-01 11:45] craiga commented on #1127
Is this a duplicate of #1061 ?

[2018-06-01 11:54] craiga commented on #1061
Flask has introduced [`flask.helpers.locked_cached_property`](https://github.com/pallets/flask/blob/master/flask/helpers.py#L840) which similarly decorates methods so they behave as properties:

[code]

As I read the documentation, you _should_ be able to set `property-classes` to tell pylint about these decorators, but I can't get it to work.

[code]

[code]

[2018-06-01 14:26] hvelarde commented on #2106
thanks! it's seems to be working now.

[2018-06-01 14:50] laimagine commented on #2133
OK ... in that case, we will include moving to `pip` in our plans.

[2018-06-01 15:00] sambrightman commented on #2133
I already use `pip install` but `python setup.py test` for testing. This invokes setuptools with the problem already mentioned by @asottile. Workaround to keep using this method is explicit version specifier in `setup.py`.

[2018-06-02 06:33] #1061 closed

[2018-06-02 06:37] AWhetter commented on #1061
Providing the module that contains the property decorator is discoverable and inferable by pylint, this issue should now be resolved.
For all other cases, unfortunately configuration options are not shareable between checkers. The checker that defines `property-classes` is different to the one that raises E0202, so E0202 cannot use the whitelist of property names. This issue is being resolved as p

[2018-06-02 12:06] mthuurne commented on #2158
Thanks for the very quick fix!

However, the original code that triggered the false positive doesn't actually use `itertools.count`, it uses a custom iterator containing a `while True:` loop. So it would be good to have infinite iterator detection that works for custom (defined outside the standard library) iterators as well. Should I open a separate issue for that feature request or is it better

[2018-06-03 05:48] #2022 closed

[2018-06-03 06:52] AWhetter commented on #1633
Fixed in https://github.com/PyCQA/astroid/commit/4ad940ddf6afc044af21a17a01fb9acb0f8f2a6a
I hope to be able to test with PySide2 soon so that I can fix the issue for that as well if needed.

[2018-06-03 06:52] #1633 closed

[2018-06-03 10:03] selpoG commented on #2059
The same issue occurs in following case.
Let `a.py` be
[code]
and `b.py`
[code]
, then `pylint b.py` fails as follows:
[code]
My ennvironment:
[code]

[2018-06-04 17:19] PCManticore commented on #2125
I couldn't figure out how this works! We might revisit this later on in the future.

[2018-06-04 17:19] #2125 closed

[2018-06-04 17:28] #1962 closed

[2018-06-04 18:57] Stevoisiak opened #2166 "False Positive: Constant name "logger" doesn't conform to UPPER_CASE naming style"
### Steps to reproduce
1. Import `logging` in a module.
2. Define a module-specific logger as `logger`.
3. Analyze the file with pylint.

[code]

### Current behavior

Pylint interprets `logger` as a constant and warns that it should be capitalized.

    C:  3, 0: Constant name "logger" doesn't conform to UPPER_CASE naming style (invalid-name)

### Expected behavior

A `logger` object should not b

[2018-06-04 19:06] PCManticore commented on #2166
This is not a false positive. Pylint expects all variables at the module level to be upper case. This behaviour can be configured by passing an updated const-rgx setting in the configuration file.

[2018-06-04 19:06] #2166 closed

[2018-06-05 01:07] Mariatta opened #2167 "Use python-docs-theme"
[python-docs-theme](https://github.com/python/python-docs-theme/) is the sphinx theme used by [docs.python.org](https://docs.python.org), [devguide.python.org](https://devguide.python.org), and [packaging.python.org](https://packaging.python.org).
When using this theme, you'll be borrowing an element of the trust and credibility established by Python core developers.
I think it is appropriate to b

[2018-06-05 01:27] PCManticore commented on #2167
Sounds good, please do! Would be great to have an overhaul of the docs.

[2018-06-05 14:29] #2167 closed

[2018-06-05 15:19] PCManticore commented on #380
I'm closing this issue. I don't think this is such a big problem nowadays, especially since `pylint` should most likely be installed as a `dev` dependency using `pip`, and not installed via setuptools.

[2018-06-05 15:19] #380 closed

[2018-06-05 15:42] #2100 closed

[2018-06-05 15:54] #2059 closed

[2018-06-05 15:59] PCManticore commented on #754
Closing this issue as I'm not sure if these false positives are still happening. Also it would be great to see if `pylint-django` can do something about it. Please reopen if you notice new false positives with Django.

[2018-06-05 15:59] #754 closed

[2018-06-05 16:08] #1984 closed

[2018-06-05 16:20] #1601 closed

[2018-06-05 16:20] PCManticore commented on #1601
Fixed in astroid's master. Thanks for the report!

[2018-06-05 17:04] #1274 closed

[2018-06-05 17:30] #2069 closed

[2018-06-06 13:32] hvelarde commented on #2106
@PCManticore do you have a expected date for release 1.9.2?

[2018-06-06 14:05] #1971 closed

[2018-06-06 14:22] PCManticore commented on #2043
Closing as I cannot reproduce this issue. Please reopen if you still experience this bug.

[2018-06-06 14:22] #2043 closed

[2018-06-06 14:50] #1111 closed

[2018-06-06 15:27] AWhetter commented on #2079
Before we add too many annotations to pylint, will we get more value out of adding annotations to astroid first? From what I understand of transitioning to a typed codebase, typing modules that are lower in the dependency tree first is a good idea because it makes it easier to correct mistakes later and you have more types available to you in the modules that have the dependency when it comes to t

[2018-06-06 15:40] PCManticore commented on #2106
@hvelarde Just released. Let me know if it works for you!

[2018-06-06 17:30] PCManticore commented on #2079
Sounds like a good plan to me, @AWhetter !

[2018-06-06 17:42] #1049 closed

[2018-06-06 17:52] PCManticore commented on #562
It all depends when `test()` is called. I don't think this is such a big of a problem.

[2018-06-06 17:52] #562 closed

[2018-06-06 17:54] PCManticore commented on #787
Closing as not sure if this is a big of a problem right now. It could be okay to have it, but unless someone volunteers a patch, I doubt it's going to happen.

[2018-06-06 17:54] #787 closed

[2018-06-06 17:56] PCManticore commented on #1467
Not sure why we'd say that `FSEvent` is not defined, but this can be solved nowadays by providing `--generated-members=FSEvent` to pylint.

[2018-06-06 17:56] #1467 closed

[2018-06-06 18:05] #1948 closed

[2018-06-06 18:13] PCManticore commented on #1460
There's no way for pylint to figure out what's happening with `robobrowser.RoboBrowser.find`. If you take a look at the code, `find` is equivalent to `self.parsed.find`, where `parsed` is `self.state.parsed -> self._states[self._cursor]` etc. It's super convoluted and `self._states` is somewhat of an empty list. Feel free to disable this error in place using a disable pragma. Another potential sol

[2018-06-06 18:13] #1460 closed

[2018-06-06 18:22] #2081 closed

[2018-06-06 18:29] PCManticore commented on #1526
I'm closing this issue as I don't find a fix feasible. The mixin flag is checked when we try to infer the access in the mixin class, which means we don't know where this class is going to be used by the time we verify if it has this member or not. A *solution* would be to gather all classes and look at their base classes to see where `Mixin` is used, but I'm not convinced that it's worth having su

[2018-06-06 18:29] #1526 closed

[2018-06-06 18:31] hvelarde commented on #2106
it's working, thanks!

https://github.com/collective/sc.social.like/pull/163

[2018-06-06 18:44] #2028 closed

[2018-06-06 18:52] PCManticore commented on #378
Closing as will most likely not support `setattr` in the foreseeable future.

[2018-06-06 18:52] #378 closed

[2018-06-06 18:54] PCManticore commented on #1131
@y2kbugger so does this bug reproduces for you or not? Should we close it?

[2018-06-06 18:58] PCManticore commented on #1355
Yes, no matter the order `pylint` is still going to emit `no-member` as it cannot infer the flow of your program, as such, it infers all the potential paths and all the potential values that that particular value can take. Unfortunately fixing this behaviour will require changing how pylint works conceptually, which is to be said, is not going to happen too soon.

[2018-06-06 18:58] #1355 closed

[2018-06-06 19:12] y2kbugger commented on #1131
No, as I said, user error, but they never responded.

[2018-06-06 19:28] PCManticore commented on #1131
Alright, thanks, closing this as it seems to be working now.

[2018-06-06 19:28] #1131 closed

[2018-06-07 06:05] reverendhomer opened #2171 "False-positive C0330?"
### Steps to reproduce
1. Create file `multiline.py` with the same contents that I put under those steps
2. `pylint multiline.py --disable=C0111 # to suppress "Missing module docstring"`

**multiline.py**

[code]

### Current behavior

[code]

### Expected behavior

No error. If i remove those 4 spaces, I'll get this:

[code]
kwargs for `format` have the same indent as `print` do, whis is confusin

[2018-06-07 07:51] reverendhomer commented on #2171
reproduced also with pylint 1.9.2

[2018-06-07 08:56] Malizor commented on #2171
I'm hit by this problem too: the Black formater as a tendency of producing this code on my projects, which makes pylint scream.

For information, the relevant Black issue was closed as being a Pylint bug: https://github.com/ambv/black/issues/48

[2018-06-07 09:09] reverendhomer commented on #2171
Oh, I think this is probably a duplicate for #741

[2018-06-07 14:47] nieltg opened #2172 "False-positive E1121:Too many positional arguments for method call error"
### Steps to reproduce

I found this evidence for the first time in **Visual Studio Code**. Then, I tried this on the CLI and it also happens.

1. Put this code to `myfile.py`.

[code]

2. Run `pylint myfile.py` to lint it.

### Current behavior

Pylint wrongly reports `E1121: Too many positional arguments for method call` error.

[code]

### Expected behavior

Pylint shouldn't report `E1121: Too

[2018-06-07 17:31] #2172 closed

[2018-06-07 17:32] PCManticore commented on #2172
Fixed in astroid and pylint's master. Thanks for the report!

[2018-06-07 17:33] PCManticore commented on #2171
Yes, this looks like a duplicate of #741. Thanks for the report though!

[2018-06-07 17:33] #2171 closed

[2018-06-07 18:16] ibakirov commented on #1973
@anselal changing linter seems to be workaround but not a solution

[2018-06-07 23:26] nieltg commented on #2172
Woah, that's quick. You're welcome and thank you very much for solving this issue.

[2018-06-08 05:28] anselal commented on #1973
I guess you are right @ibakirov

[2018-06-08 06:31] reverendhomer commented on #2171
Hmm, this bug is from 2015. Are you planning to fix it?

[2018-06-08 07:34] p00j4 opened #2173 "Pylint and astroid: build from source fails"
### Steps to reproduce
Try installing pylint from source(master), it breaks and astroid too
1. git clone https://github.com/PyCQA/pylint.git; cd pylint; python setup.py install;
2. observe the failures
3. git clone https://github.com/PyCQA/astroid.git; cd astroid; python setup.py install
4. observe the failures while now run pylint
5. run pylint, observe the error
[code]

### Current behavior
Full

[2018-06-08 13:47] PCManticore commented on #2171
No.

[2018-06-08 14:48] PCManticore commented on #2171
Because I don't have time to fix 300 gazillions of issues. This is a volunteer run project, if you want an issue fixed, the best way to move it forward is to submit a PR rather than asking the maintainer if they'll fix this issue. It's irrelevant how old the issue is as long as nobody got time to fix it yet.

[2018-06-08 14:52] shompol commented on #1131
Sorry, I missed the emails earlier. I can assist testing with Cygwin. It is also pretty easy to install it on any Windows distribution.

1. I still observe the issue.
2. I never had it set up on Windows cmd and do not know how to set it up.
3. After export TERM=xterm-16color the output is colorized, but it used to work with TERM=xterm.

Also, on Debian it works with TERM=xterm, so I don't see why

[2018-06-08 15:09] y2kbugger commented on #1131
The problem is if you don't have a color supporting terminal. Then garbage
gets printed. Also Windows CMD and external use different kinds of color
Markup.

On Fri, Jun 8, 2018, 10:52 Shompol <notifications@github.com> wrote:

[2018-06-08 16:17] s-hertel opened #2174 "duplicate-except warning for dynamic exception handling"
### Steps to reproduce
[code]

### Current behavior
[code]
pylint gives a duplicate-except warning for dynamic exceptions that may not be duplicates

### Expected behavior
I would expect differentiation between dynamically handled exceptions and static duplicates like below so warnings for dynamic exceptions can be turned off without masking static duplicates.
[code]

### pylint --version output
[

[2018-06-08 20:21] PCManticore commented on #2173
It seems you're trying to install `astroid` and `pylint` with Python 2.7.  astroid and pylint 2.0 only work with Python 3. If you use `pip` instead of `setup.py install` you can actually get a nice error back:
[code]

[2018-06-08 20:21] #2173 closed

[2018-06-10 23:54] nickdrozd opened #2175 "Bug: wrong-import-order"
When I run Pylint against itself locally, I always see this message:

[code]

Why doesn't this trigger in CI? Maybe there's some ambiguity as to what qualifies as "third party". Running it locally I use `export PYTHONPATH=$PYTHONPATH:~/pylint:~/astroid`, and I guess other dependencies come through `pip`.

[2018-06-11 00:21] nickdrozd opened #2176 "Bug / new check: useless-return"
Here is a function from `pylint/utils.py`:

[code]

Should this function trigger `useless-return`? There are two `return`s, and they both return `None`, which does seem useless. Deleting just the last line triggers `inconsistent-return-statements`. Deleting the last line as well as the `None` from the early `return` doesn't trigger any warning. That seems like the best form of this code, so maybe

[2018-06-11 00:37] nickdrozd opened #2177 "New check: useless-object-inheritance"
In Python 2, "new-style" objects must inherit from `object`, or else
they will be "old-style". In Python 3, this distinction does not
exist; all objects inherit from `object`, and so explicitly inheriting
from it is useless.

Add a check for this, maybe called `useless-object-inheritance`.

In the following, classes `A` and `C` would both violate the check.

[code]

[2018-06-11 12:38] demurgos opened #2178 "Ignore line-too-long for long URLs"
This is a feature request.
I have doc comments with URLs in them. Some of these URLs are long (for example canonical Github URLs, with the full commit hash). I want to ignore the `line-too-long` warning for these lines.

### Steps to reproduce
1. Write some code with a doc comment containing a long URL
[code]
2. Run pylint on the script, with the default config

### Current behavior

I get a `line

[2018-06-11 12:50] PCManticore commented on #2178
Have you tried `--ignore-long-lines`? It's an option that receives a regex that lets you whitelist particular long lines that match that regex.

`disable-next` sounds like a good suggestion, but I'm not sure we'll get to have it too soon.

[2018-06-11 12:50] #2178 closed

[2018-06-11 14:11] demurgos commented on #2178
Thank you for your help: I haven't found `--ignore-long-lines` while searching for a solution.

[2018-06-12 10:00] PCManticore commented on #2176
`useless-return` is emitted when you have only one return in your function, something along the lines of ```
def first():
   ...
  return None

def second():
    ...
     return
[code]

[2018-06-12 10:00] #2176 closed

[2018-06-12 12:07] mgedmin opened #2180 "Relative import 'six.moves.urllib.parse', should be 'six.moves' (relative-import)"
### Steps to reproduce
1. create a virtualenv
2. install `six` and `pylint`
3. create a `wtf.py` with one line of code:

[code]
4. run `pylint wtf.py`

### Current behavior

[code]

### Expected behavior

No relative-import error

### pylint --version output

[code]

[2018-06-12 12:50] mgedmin opened #2181 "standard import "from six.moves.urllib.parse import quote" should be placed before "import bottle" (wrong-import-order)"
### Steps to reproduce
1. Create a virtualenv using Python 3
2. Install `pylint`, `six` and `bottle` into the virtualenv
3. Create a `wtf.py` with the following two lines

[code]

4. Run `pylint wtf.py`

### Current behavior

[code]

### Expected behavior

pylint ought to realize `six` is a 3rd-party library and not a standard library module.

### pylint --version output

[code]

(Note that this h

[2018-06-12 13:01] mgedmin commented on #2181
Note that adding `six` to `known-third-party` in .pylintrc appears to be insufficient to shut this warning up.

[2018-06-12 14:40] TitaneBoy opened #2182 "Pylint 1.9.2 reports errors when the working directory has a dot "." in its name"
### Steps to reproduce
1. Create the following project tree:
![image](https://user-images.githubusercontent.com/15614466/41296398-e486bee4-6e2a-11e8-9b7c-a1fb3c137601.png)

PS: The working directory here is MyProject-V1.1  (<=  With a dot "." in the name)

2. Content of the files.

**File __init__.py in the main directory:**
[code]

**File __init__.py in the "myproject" directory:**
[code]

**my_m

[2018-06-12 17:31] zenogantner opened #2183 "False positives for C0414"
`import os.path as path`
is not a useless import alias: You can now refer to `os.path` as `path`.

It should not be caught as C0414.

This issue was introduced with this commit:
https://github.com/PyCQA/pylint/commit/b0f6184e03182736f8423441dfb87985da28e209

[2018-06-12 22:07] hvelarde commented on #2130
@PCManticore I found another false positive: https://travis-ci.org/plonegovbr/brasil.gov.agenda/builds/391477517#L2004

this is the code: https://github.com/plonegovbr/brasil.gov.agenda/blob/2.0a1/src/brasil/gov/agenda/tests/test_setup.py#L184-L219

and a snippet:

[code]

[2018-06-13 07:11] PCManticore commented on #2183
The warning is emitted here because you can do `from os import path`, there's no need to have `import os.path as path`.

[2018-06-13 07:11] #2183 closed

[2018-06-13 07:15] PCManticore commented on #2130
Hi @hvelarde With what pylint version do you get this false positive? It doesn't reproduces for me using Python 2.7 and pylint 1.9.2.

[2018-06-13 09:09] zenogantner commented on #2183
Got it! Thank you, and sorry for the noise.

[2018-06-13 09:34] PCManticore commented on #2183
No worries!

[2018-06-13 11:59] nebulans opened #2185 "six.moves.cPickle reported as import error"
### Steps to reproduce
1. Create virtualenv with pylint and six
2. Create `example.py` with the following content

[code]

3. Run `pylint example.py`

### Current behavior

Output is

[code]

### Expected behavior

Output should not contain `import-error` or `no-name-in-module` as this import does in fact resolve

### pylint --version output

[code]

[2018-06-13 12:16] hvelarde commented on #2130
yes, it's 1.9.2 and I can reproduce the issue locally:

[code]

[2018-06-13 16:08] PCManticore opened #2186 "dict-keys-not-iterating false positive when used with `in`"
### Steps to reproduce
Run pylint over the following example:
[code]

### Current behavior
We're currently emitting `dict-keys-not-iterating`

### Expected behavior

We shouldn't emit it as the containment is an iteration context.

### pylint --version output
1.9.2, didn't try with `master`.

[2018-06-13 16:14] PCManticore opened #2187 "dict-items-not-iterating false positive when passed to [].extend"
### Steps to reproduce
Run pylint over the following file:
[code]

### Current behavior

We're emitting `dict-items-not-iterating`,

### Expected behavior

We shouldn't emit that as the `extend()` function call is an iterating context, we probably need to update the `ACCEPTS_ITERATOR` list to have `extend` as well.

### pylint --version output
1.9.2, didn't try with `master`.

[2018-06-13 20:08] idgserpro opened #2188 "InconsistentMroError: Cannot create a consistent method resolution order for MROs"
### Steps to reproduce
[code]
Where:
buildout.cfg
[code]

test.py
[code]
### Current behavior
InconsistentMroError: Cannot create a consistent method resolution order for MROs:
[code]

### Expected behavior
That the pylint worked and indicated some errors in the file.

### pylint --version output
[code]

[2018-06-13 21:42] villasv commented on #1660
@Vict0rSch you might need the `-U` (update) install flag.

I confirm that upgrading to prerelease will fix the issue.

[2018-06-14 00:35] brycepg commented on #2187
I can't reproduce this with

    pylint 1.9.2,
    astroid 1.6.5
    Python 3.6.5rc1 (v3.6.5rc1:f03c5148cf, Mar 14 2018, 03:12:11) [MSC v.1913 64 bit (AMD64)]

[2018-06-14 04:17] brycepg commented on #2185
Thanks for the report!

[2018-06-14 05:38] Lucas-C opened #2189 "AttributeError: 'FunctionDef' object has no attribute 'type_comment_returns'"
### Steps to reproduce
1. `https://github.com/PyCQA/pylint`
2. `pip install -e pylint`
3. `pylint pylint`

### Current behavior
[code]

### Expected behavior
No exception raised

### pylint --version output
[code]
I think this bug was introduced in https://github.com/PyCQA/pylint/commit/e62065116

[2018-06-14 05:41] PCManticore commented on #2189
You need to use the latest astroid installed from the master branch, it doesn't work with  astroid 1.6.5.

[2018-06-14 05:41] #2189 closed

[2018-06-14 06:01] PCManticore commented on #2185
This should be available once we release 1.6!

[2018-06-14 06:01] #2185 closed

[2018-06-14 06:15] #2186 closed

[2018-06-14 06:16] PCManticore commented on #2187
It reproduces for me:
[code]
Forgot to mention that this is with the Python 3 porting checker, with `--py3k`.

[2018-06-14 07:19] mzfr commented on #352
@PCManticore  I think your reference to /pylint/utils.py wasn't supposed to be ignored.
On line 946 we have:

[code]

which assign boolean value to `has_init`

then from line number 949 - 951 we have a condition to call `get_module_files`from `astroid/modutild.py`.
The condition is:

[code]

Now what I can think of is that we have to link our option i.e `--lint-all y/n` to this function and then s

[2018-06-14 07:22] Lucas-C commented on #2189
OK, thanks

[2018-06-14 07:27] PCManticore commented on #352
@mzfr If I'm understanding right, you need to pass the result of `lint-all` option to `expand_files`, which you can do like we're already doing here (https://github.com/PyCQA/pylint/blob/740906eeacc75049f1f85a955f5f23173db8b36f/pylint/lint.py#L930) for other options (`self.config.black_list` for instance is `--ignore` from here https://github.com/PyCQA/pylint/blob/740906eeacc75049f1f85a955f5f23173

[2018-06-14 07:29] PCManticore commented on #2188
Thanks for the report!

[2018-06-14 07:30] PCManticore commented on #2177
Sounds good!

[2018-06-14 07:45] mzfr commented on #352
I think I'll make a PR for the work I have right now and then it will be
easier for everyone. Now just one thing the changes I have made in pylint
will go in pyint repo and changes in astroid will go in astroid repo that
means in total I'll have to make 2 PR right ?

On Thu, Jun 14, 2018 at 12:57 PM, Claudiu Popa <notifications@github.com>
wrote:

[2018-06-14 08:21] PCManticore commented on #352
Yes, that will be two PRs! Thank you for working on this!

[2018-06-14 12:58] talkaminker opened #2191 "incorrect type for elements in a list"
### Steps to reproduce
pylint the following
[code]

### Current behavior
E:  4,12: Value 'a' doesn't support membership test (unsupported-membership-test)

### Expected behavior
No error
pylint should undestand that the type has changed to dict (or at least understand that it no longer can guess the type)

### Note:
adding type annotation to the first line like this:
`l: List[Optional[dict]] = [No

[2018-06-14 13:11] PCManticore commented on #2191
Thanks for the issue! Pylint doesn't yet understand typing annotations, so providing them will not fix this false positive. What I imagine is happening here is that pylint can't see that the value was reassigned later on, since it inference all the potential values that a variable can take during the program execution.

[2018-06-14 13:24] bersbersbers opened #2192 "False-positive E1102:spatial.cKDTree is not callable"
### Steps to reproduce
[code]
### Current behavior
E1102

### Expected behavior
No error

### pylint --version output
No config file found, using default configuration
pylint 1.9.2,
astroid 1.6.5
Python 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 17:00:18) [MSC v.1900 64 bit (AMD64)]

[2018-06-14 13:34] frayedknot commented on #1388
Installing an older version of pylint remove the Inconsistent hierarchy error. I believe 1.9.2 was what I had installed before going to 1.7.1. I picked 1.7.1 just because we have a similar machine with that version that did not have this issue.

[code]

[2018-06-14 15:08] nebulans commented on #2185
:+1:

@PCManticore version 1.6 of what?

[2018-06-14 15:09] PCManticore commented on #2185
Sorry, of astroid!

[2018-06-14 15:33] idgserpro commented on #2188
@PCManticore update description to use last version of pylint.

[2018-06-14 20:22] hvelarde commented on #2130
@PCManticore in fact the error is in the line _after_ the list comprehension as you can see in the commits referenced.

[2018-06-14 20:43] PCManticore commented on #2130
@hvelarde I see where the issue is, the fact that you're using the same variable name for the result of the comprehension and for the iteration step, which is tripping pylint.

[2018-06-15 01:11] FlappyHeart commented on #779
Same issues here with cv2

pylint 1.9.2,
astroid 1.6.5
Python 3.6.5

[2018-06-15 09:08] PCManticore commented on #2192
Try passing `--extension-pkg-whitelist=scipy` to pylint, this should fix your problem.

[2018-06-15 09:08] #2192 closed

[2018-06-15 11:56] #2082 closed

[2018-06-16 00:57] smoser opened #2193 "inconsistent logging-not-lazy error."
### Steps to reproduce
1. python3 -m pylint flipflop.py
[flipflop.py.txt](https://github.com/PyCQA/pylint/files/2107770/flipflop.py.txt)

### Current behavior
pylint complains about 'flip's logging but is fine with 'flops' logging.

     flipflop.py:32: [W1201(logging-not-lazy), flip] Specify string format arguments as logging function parameters
     flipflop.py:34: [W1201(logging-not-lazy), flip

[2018-06-16 09:32] hippo91 commented on #2140
@sam-s the bug concerning ```numpy``` should be fixed thanks to PR PyCQA/astroid#561.
Once this PR will be merge,  can you confirm the bug goes away so that i can close this issue.
The bug dealing with ```cv2``` has nothing in common with this one so please open another issue.
Thanks!

[2018-06-16 10:01] pheanex opened #2194 "Adding new Checkers Discussion/Enhancement"
What do you think about adding checkers for some/all of the following anti-patterns:
* [Not using dict comprehension](https://docs.quantifiedcode.com/python-anti-patterns/readability/not_using_a_dict_comprehension.html#)
* [Assigning lambda to a variable](https://docs.quantifiedcode.com/python-anti-patterns/correctness/assigning_a_lambda_to_a_variable.html)
* [Putting type information in a variabl

[2018-06-16 10:11] evandrocoan opened #2195 "pylint: error: no such option: --quiet"
### Steps to reproduce

[code]

### Current behavior

pylint: error: no such option: --quiet

### Expected behavior

Since https://github.com/PyCQA/pylint/pull/2110 is merged into master this should be working.

### pylint --version output

[2018-06-16 12:15] sushobhit27 opened #2196 "Conditional build in travis CI"
While contributing to the pylint, I have faced this particular issue many times (esp since my local environment setup does not always act in a similar way to CI).
I push to remote branch, CI builds start running.
pylint-check fails with other test passing or few of them failing.

If anything being merged in master, has to pass all travis checks, then why not have less time taking travis jobs as a

[2018-06-17 19:16] parantapa opened #2198 "Pylint slow when run on script with pandas"
### Sample script
[code]

### Running pylint
[code]
### pylint --version output

pylint 1.9.1,
astroid 1.6.4
Python 3.6.5 |Anaconda, Inc.| (default, Apr 29 2018, 16:14:56)
[GCC 7.2.0]

Q1. Is this expected behaviour?
Q1a. If so is there a way to make pylint ignore pandas?

[2018-06-18 01:48] mthuurne opened #2199 "Incorrect inferred return type for __call__"
### Steps to reproduce

Run pylint on the following code:
[code]

### Current behavior

The following issue is reported:
[code]

### Expected behavior

No issue should be reported, as `obj` is an instance of `Sub`.

### pylint --version output

[code]

### More info

Incorrect type inference seems to be the problem here: the `Base` class indeed doesn't have a `submethod` method, but the call is ma

[2018-06-18 05:31] PCManticore commented on #2198
No, this is not the expected behaviour, there is probably a check that triggers a deep pandas inference leading to this result. You can try to ignore it with `--ignored-modules=pandas` but it seems it's not working, since it might be a check that doesn't consider this option.

[2018-06-18 05:33] PCManticore commented on #2195
This was renamed to `--verbose` instead (https://github.com/PyCQA/pylint/search?q=verbose&type=Commits), and it does the opposite thing (`pylint` is now quiet by default and with `--verbose` additional logging is enabled).

[2018-06-18 05:33] #2195 closed

[2018-06-18 05:34] PCManticore commented on #2194
Not using dict comprehension sounds like an useful refactoring check, but I found the other ones too nitpicky. I always disable the assigning lambda to variable check whenever I'm working on a project that uses pyflakes/flake8, while the one with the variable name sounds odd, as I saw exactly no one doing that.

[2018-06-18 05:34] #2194 closed

[2018-06-18 05:36] PCManticore commented on #2174
Thanks for reporting this issue.

The problem comes from the `if` check you're doing in that dynamic function, which pylint has no way of understanding, especially since the information comes from `sys.exc_info`. I suggest just refactoring the way you're using these dynamic exceptions as it is a bit confusing on what is going to catch anyway, or just disable the error in place.

[2018-06-18 05:36] #2174 closed

[2018-06-18 05:39] pheanex commented on #2194
:+1: Thank you for the feedback.
I am going to create the dict comprehension check then.

[2018-06-18 05:42] PCManticore commented on #2175
How is `astroid` installed, is it an editable installation or actually installed in `sys-packages`? This might all come from `isort`, since we use that to tell `pylint` what kind of import a particular package is (third party, local, first party etc).

[2018-06-18 05:50] tuukkamustonen commented on #1782
True, if you remove `else` then the warning goes away.

But the warning still shouldn't be there with `else`, or it should say something like "remove unnecessary else block" instead. Now it's just a false positive and confusing to the user.

Besides, behind that unnecessary `else` there, can be stylistic reasons. So I think there's still something to fix here. What do you think?

[2018-06-18 06:03] PCManticore commented on #2196
Thanks for creating this issue @sushobhit27
I'm curiously more on why your local environment setup doesn't always act in a similar way to the CI. Are you using `tox`? If so, it should work out of the box with how the CI is setup. Can you share what exactly is different for you locally vs CI?

I'm not exactly sure if I understood your proposition, you mean to make the `pylint` job dependent on the

[2018-06-18 06:21] mthuurne commented on #1782
It's possible in pylint to disable individual messages, so a user might have the message about unnecessary `else` blocks disabled and the `inconsistent-return-statements` message enabled. The latter message is likely to find bugs while the former is about readability (and it's debatable whether removing unnecessary `else` blocks always improves readability), so enabling one and disabling the other

[2018-06-18 06:33] #2193 closed

[2018-06-18 06:40] PCManticore commented on #1782
I'm not exactly sure how is that message a false positive for the following:
[code]
This is exactly what this check is supposed to catch, so not sure where the stylistic reason comes into.  Or is the complaint that the message should be improved?

@mthuurne Yes, it's possible in pylint to disable individual messages, both in the configuration file and at the CLI.

[2018-06-18 06:49] rowlap opened #2200 "No error when calling print().format()"
This code triggers no pylint errors, although the closing bracket is in the wrong place.
[code]
However when run, the `print().format()` bug is hit:
[code]
Is this something which could be flagged up by pylint? (string-missing-format? print-returns-None?). It's possible the code really does want to print unmodified `{}` output, but the presence of ".format()" on the same line makes it suspicious.

[2018-06-18 06:53] PCManticore commented on #2200
Yes, this is something that pylint should flag, thanks for raising the issue!

[2018-06-18 07:04] rowlap opened #2201 "Catch =+ / += typo"
This code generates only bad-whitespace "convention" output from pylint
[code]
After autopep8 changes `=+` to `= +`, nothing is printed.

Could pylint catch `=+` as a typo for `+=` at a stronger warning level?

Mistyping the other compound assignment operators (`&=` etc.) results in a syntax error.

### pylint --version output
[code]

[2018-06-18 07:09] mthuurne commented on #1782
What I meant is that since individual messages can be disabled, every message should be considered in isolation. The motivation given for closing the `inconsistent-return-statements` issue was that it could only be reproduced while pylint reported the "unnecessary else" message. But those are two separate messages, so in my opinion the original issue with inconsistent returns is not fully fixed ye

[2018-06-18 07:37] tuukkamustonen commented on #1782
Yes, this.

(I wasn't even aware there's `no-else-return` - just threw an idea back there that there could be 😄.)

[2018-06-18 09:53] sushobhit27 commented on #2196
After doing any changes in codebase, I use pytest to run only specific test case and then after completing all the changes, I verify it using tox.
However in both stages I get error, just to give you example,  I executed tox -e py36 on master branch in my local setup and got 57 errors:

$ tox -e py36
GLOB sdist-make: /home/sussolan/git_repos/pylint/setup.py
py36 inst-nodeps: /home/sussolan/git_rep

[2018-06-18 10:09] PCManticore commented on #2196
Can you try with `tox -e py36 --recreate`? Does it still reproduces if you do that?

[2018-06-18 10:10] eight04 commented on #2175
It seems that `isort` thinks locally installed packages (`pip install -e .`) are not 3rd-party packages. This is inconvenient for library developers. We often test different libraries together by cloning them from Github and installing them locally (and maybe send a patch after some modifications).

[2018-06-18 10:39] sushobhit27 commented on #2196
With above command it still gave error and I always get this particular error in tox.

$ tox -e py36 --recreate
GLOB sdist-make: /home/sussolan/git_repos/pylint/setup.py
py36 recreate: /home/sussolan/git_repos/pylint/.tox/py36
py36 installdeps: https://github.com/PyCQA/astroid/tarball/master#egg=astroid-master-2.0, coverage, isort, mccabe, pytest, pytest-xdist, pyenchant
WARNING:Discarding $PYTHON

[2018-06-18 11:21] hippo91 commented on #1782
@tuukkamustonen @mthuurne you are effectively right.
I will work on it ASAP.

[2018-06-18 12:50] evandrocoan opened #2202 "Still not quiet enough"
I was looking for a `quiet` mode on https://github.com/PyCQA/pylint/issues/2195 (pylint: error: no such option: --quiet), but I just found out pylint is "quiet" by default. But still doing a too much output.

1. When *not everything* went fine, this new `--quiet` mode should do:
    1. **Steps to reproduce**
       Create the file `test.py`
[code]

    1. **Current behavior**
       Run pylint wit

[2018-06-19 00:41] chingc commented on #1714
Most continuous integration platforms support the xUnit/JUnit XML or Cucumber JSON reporting formats for test results.  Having this support would make it easy to integrate linting into the CI pipeline.  Please reconsider.

[2018-06-19 06:41] PCManticore commented on #2201
This is interesting, technically the code is correct but the intention of the author was most likely to use `+=` rather than `=+` which completely changes the meaning. `pylint` could catch this, but there are some questions to be answered before. This new check will basically prohibit using an UnaryOp in the form of `- some_name` and `+ some_name`. There are cases where we'd want that UnaryOp, say

[2018-06-19 06:47] PCManticore commented on #2202
Yes, those were explicitly omitted from being under `--quiet/--verbose`. You can control the score with `-sn` and the whole report with `-rn`. The reason for this is that we can't be fully quiet by default, since it would mean hiding the score and the reports, and at least the score is pretty useful for newcomers to the tool. Still this means there are three options that controls how verbose pylin

[2018-06-19 06:47] #2202 closed

[2018-06-19 06:50] PCManticore commented on #2196
Thanks for posting that one @sushobhit27 So right now if you rebuild your `tox` environment you only get one error, right? If you run `pylint` over that file (you can find it under `pylint/test/input`) do you get the following output?
[code]

I think if we fix this issue, your environment should be pretty good again for local development so you won't need to rely on Travis for running the tests.

[2018-06-19 06:52] #1462 closed

[2018-06-19 10:04] sushobhit27 commented on #2196
yes, I do get the same output:
$ pylint test/input/func_bad_cont_dictcomp_py27.py
Using config file /home/sussolan/git_repos/pylint/pylintrc
************* Module input.func_bad_cont_dictcomp_py27
C: 35, 0: Wrong continued indentation (add 2 spaces).
    for x in range(3)}  # [bad-continuation]
    ^ | (bad-continuation)
C: 38, 0: Wrong continued indentation (remove 4 spaces).
          for x in ra

[2018-06-19 10:16] sushobhit27 commented on #2196
@PCManticore forgot to give example, here is the one from the link mentioned.
[code]
In above scenario script: ./test 1 and script: ./test 2 will run concurrently but script: ./deploy will only execute after both script: ./test 1 and script: ./test 2 have been successfully executed.
In short all jobs defined in a single stage run concurrently, while stages itself run sequentially and conditionally

[2018-06-19 13:43] sushobhit27 commented on #2177
@PCManticore May I pick this up, if @nickdrozd is not working on this?

[2018-06-19 14:58] PCManticore commented on #2177
@sushobhit27 Feel free to pick it if @nickdrozd didn't get to it just yet

[2018-06-19 16:33] sushobhit27 commented on #2177
@PCManticore I implemented this check but after running tox -e pylint, found out that too many changes will be required after this check as pylint's code itself violate this new check. e.g
https://github.com/PyCQA/pylint/blob/aa54123f12a9e245f5914fd56c0cafd4cdf9802a/pylint/checkers/base.py#L51
https://github.com/PyCQA/pylint/blob/aa54123f12a9e245f5914fd56c0cafd4cdf9802a/pylint/checkers/exceptions.

[2018-06-19 17:05] sushobhit27 commented on #2200
case 1:

Call(func=<Attribute.format l.1 at 0x6fffd71d9e8>,
     args=[<Const.int l.1 at 0x6fffd71da20>],
     keywords=None)

Const.str(value='abc:{}')

case 2:

AnnAssign(simple=1,
          target=<AssignName.abc l.1 at 0x6fffd72f0b8>,
          annotation=<Const.int l.1 at 0x6fffd72f080>,
          value=None)

@PCManticore shouldn't both cases be inferred in same way?

[2018-06-19 18:38] rowlap commented on #2201
It's the whitespace that stands out to me, more than the unary operator. Consider the valid alternatives
[code]
The first is the typo I made and the third is how I'd write it if intentionally using compound assignment/subtraction. Suggest Refactor (code smell) with the hint "did you mean -=?", which the author can rewrite to the third example style if =- is really intended.

A check purely for una

[2018-06-19 18:52] jtmiclat commented on #2166
Just want to add that another solution is to add `logger` to `good-names` setting in the configuration file.

[2018-06-19 20:15] Stevoisiak commented on #1567
I agree that `useless-super-delegation` is a bit misleading in this case. If the entire constructor is useless, a `useless-constructor` warning should take priority.

[2018-06-19 20:49] jwkvam opened #2206 "bad-whitespace false positive with variable-length type hint keyword argument"
### Steps to reproduce
1. Create failing file:
Failing file:
[code]

Example passing file:
[code]
2. Run: `pylint file.py`

### Current behavior
Pylint outputs:
[code]

### Expected behavior
No error

### pylint --version output
[code]

[2018-06-19 23:00] nickdrozd commented on #2177
@sushobhit27 You could fix the violations and get rid of those ugly old Python-2-isms :smiley:

Personally, my interests are in finding bugs and improving performance more than in adding new features, so with any new checks or whatever that I suggest, feel free to implement them.

[2018-06-19 23:30] nickdrozd opened #2208 "New check: useless-pass"
[code]

[2018-06-20 05:46] sushobhit27 commented on #2177
@nickdrozd I appreciate your spirit of open source. :)
However this new check also need to be disabled in many test files, after doing grep, found out that count is over 100 files. I would like to cross check again before going ahead and pushing any changes. Shall I change test files also?

[2018-06-20 06:08] PCManticore commented on #2177
@sushobhit27 Yep, we'd need the test files modified as well. You can do it in a separate commit so it could be clear where the new change was added and where modifications of the project had to be made.

[2018-06-20 06:40] tgandor commented on #1907
Same version (1.8.2) - I tried circumventing it, by type hinting the generator function, namely `-> typing.AsyncGenerator[None, MySendType, None]`, but it doesn't help.

[2018-06-20 06:40] PCManticore commented on #1907
We don't support type hints yet.

[2018-06-20 07:09] #2187 closed

[2018-06-20 07:30] PCManticore commented on #2200
@sushobhit27 Nope, because you actually have different nodes there:

1. `'"abc:{}".format(123)'` -> this is a string that looks like `"abc:12"`
2. `'abc:{}'.format(123)` -> this is no longer a string, if this would be a file, it will basically contain `abc:123` which is an annotation assign.

[2018-06-20 14:17] cschramm opened #2210 "Annotation checks for useless-super-delegation crash in many cases"
From https://github.com/PyCQA/pylint/pull/2098#issuecomment-396972097

To reproduce run pylint with  #2098 in place on this sample code:

[code]

pylint crashes as the annotation is a `Subscript` and does not have a `name` attribute.

[2018-06-20 14:33] PCManticore commented on #2210
Thanks for the heads up @cschramm

[2018-06-20 16:40] Stevoisiak commented on #1567
It looks like the `super` issue is more complex than it seems. Removing the `super` delegation affects multi-class inheritance.

[code]

Output

[code]

[2018-06-21 00:51] rhelmot opened #2211 "Recursive pylintrc includes?"
I've been trying to set up a pylintrc which includes another pylintrc from outside the current python project. It doesn't seem to be actually using the `rcfile` directive that `--generate-rcfile` conveniently informed me of.

To reproduce this bug (...I am assuming this is a bug), use [this tarball](https://github.com/PyCQA/pylint/files/2121626/reproduce.tar.gz) and run `pylint c.py` inside the `b

[2018-06-21 05:56] PCManticore commented on #2211
This is currently not supported. The work that Ashley's been doing for per directory configuration will have a solution for this kind of problem, but as of right now we don't support the concept of recursive configurations.

https://github.com/PyCQA/pylint/projects/1

[2018-06-21 05:56] #2211 closed

[2018-06-21 06:31] #2210 closed

[2018-06-21 06:34] PCManticore commented on #2196
@sushobhit27 I tried reproducing your test failure locally but it's working for me. We can try to add the stages thing to `.travis.yml`, where the first stage could be the linting jobs (`pylint` now and `mypy` also in the future)

[2018-06-21 08:11] PCManticore commented on #2188
I've spent some time trying to figure out what's the problem here. The culprit is `Folder` from `OFS.Folder`. Unfortunately the only `tool` capable of getting the MRO of this class is Python itself. I've tried with the standard MRO implementation, I've tried with MRO implementation from astroid and the one from `functools`, which is used for `singledispatch`, every single one of them is failing to

[2018-06-21 09:34] sushobhit27 commented on #2200
@PCManticore  got it, but many times I do following thing:
[code]
both __str__ and to_string indeed replace value into placeholders in the string, IMO both should be interpreted as string only.
Annotation assignment should be inferred only when the statement is like:
def foo(a: int, b: bool, c: 123, d: 'whatever'): pass

Anyways using current inferrence logic also this can be fixed.

[2018-06-21 10:02] PCManticore commented on #2200
But that's not a string, if you open a shell in Python 3.6 you can actually do the following:
[code]
This is exactly what `AnnAssign` is,  an annotation form for assignment targets, we can't interpret it as string when it's not supposed to represent that.

[2018-06-21 12:18] idgserpro commented on #2188
Uhm, maybe we can get some help from Zope guys? They may not be familiar with pylint but they may be with some Zope internals. @icemac @tseaver @hannosch

[2018-06-21 16:28] sushobhit27 commented on #2196
Yup exactly, if mypy is integrated in near future and prechecks like whenever there is commit, there should be a change RELEASE.rst or Changelog, or rstlint check (IIRC you had raised an issue for it) etc.

[2018-06-21 17:47] sushobhit27 opened #2213 "test case missing for pointless-statement"
### Steps to reproduce
1. $ cat sample.py
[code]
2. $ pylint sample.py

### Current behavior
-------------------------------------------------------------------
Your code has been rated at 10.00/10 (previous run: 3.33/10, +6.67)

### Expected behavior
line 2 is assigning empty list to b, therefore it should give:
sample.py:2:0: W0104: Statement seems to have no effect (pointless-statement)

or it

[2018-06-21 18:01] tseaver commented on #2188
I don't know anything about astroid, but I can suggest at least one case to consider:  a bunch of the classes in the `OFS.Folder.Folder` inheritance hierarchy derive from `ExtensionClass.Base`, which is a type defined in C:  it is possible that the `Base` type is missing some introspection feature which astroid relies on for builtin / extension types.