[2022-10-09 21:12] Pierre-Sassoulas commented on #7362
The first option work, I tested that on the release branch for 2.15.4 (on one cherry picked commit only, but I don't thik more test is required). Merge request is #7589

[2022-10-10 05:58] xmo-odoo commented on #2525
@olivierlefloch I don't think that can be solved by pylint (or any other auto-worker program): a while back I tried to see if the stdlib had a way to know real cores (as opposed to vcores / hyper threads) due to the comment preceding yours and didn't find one. I don't remember seeing anything for efficiency/performance either.

I think the best solution would be to run under a bespoke hardware lay

[2022-10-10 07:37] oconnor127 commented on #2293
I am want pylint to ONLY fail on errors/fatals, but STILL print/output the warnings. No command (such as --exit-zero & --fail-on=F,E) worked so far (see [SO](https://stackoverflow.com/questions/73988227/pylint-precommit-only-fail-on-specific-categories-errors-fatals-while-still) According to @Pierre-Sassoulas I should comment here.

[2022-10-10 09:30] hnhegde opened #7592 "AttributeError: module <module> has no attribute '__path__'"
### Bug description

The crash gets triggered by any file that contains:
[code]
I am using `python-decouple` version 3.6.
[code]

pylint crashed with a ``AstroidError`` and with the following stacktrace:
[code]
.
************* Module square-deal-services.square_deal_app.api.views.leads_api
square_deal_app/api/views/leads_api.py:1:0: F0002: square_deal_app/api/views/leads_api.py: Fatal error while

[2022-10-10 09:46] orSolocate opened #7593 "`check-newsfragments` - pre-commit - unclear error message when fragment doesn't end with `.`"
### Bug description

When `check-newsfragments` checker fails in `pre-commit` because of no `.` in the end of description the error message is not clear. should be fixed.``

Steps to reproduce:

1. Checkout to main branch.
2. run in terminal `towncreier create 7777.new_check`
3. open `7777.new_check` file and write the following:

[code]

4. Stage `7777.new_check`
5. run `pre-commit` in terminal

[2022-10-10 09:56] Pierre-Sassoulas commented on #7593
Is your branch up to date with the current main branch ? I think I did something for the ``.`` some time ago (very annoying to troubleshoot btw, sorry about that). Maybe it's only for the ``newsfragments``job ?

[2022-10-10 14:11] orSolocate commented on #7593
I just reproduced the error with a simpler case. Steps to reproduce updated in bug description above.
Hope you could reproduce it too on non-Windows machine..

[2022-10-10 15:32] jooola commented on #2293
As a workaround you can use https://github.com/reviewdog/reviewdog#readme which helps you fine tune those details and add some extra nice features.

[2022-10-10 16:27] CarliJoy opened #7601 "Disable next should consider the next occurance of an error not only of the next line [Regression]"
### Bug description

With #7411 by  @DanielNoord `# pylint: disable-next=` only considers lint errors of next line as ignored (in order to fix #7401)
So this is the Regression Issue that @Pierre-Sassoulas already saw comming ;-)

The problem a bit more in detail:
Before this PR it was easy to ignore errors of bigger functions definition, i.e.

[code]
and the usage was quite clear to me.
Now it beh

[2022-10-10 17:51] sscherfke commented on #7601
🤔  If `disable-next={issue}` would  disable the "next occurance of {issue}" and the next line would be okay – than we might ignore an issue a lot further down the code where we would not expect it to be ignored.

Imho, `disable-next` only disabling an issue in the next makes it's behavior a lot more predictable.

I don't know if `disable-next{-statement}` that considered the next multiline stateme

[2022-10-10 18:02] DanielNoord commented on #7601
I think this would be best. I agree that this is an annoying regression and I'm not sure if it is actually fixable without regressing on the earlier issue but we should definitely at least try.

I'm not really in favour of doing stuff like "until next occurrence" or allowing additional statements within that comment. We would just need to check if the next line is a scope creating `node` (ie., a `

[2022-10-10 20:26] tyralla commented on #7428
Okay, thank you very much for elaborating.  Not my favourite decision, but also no problem.  Good to know, one can change the relevant regex pattern (I wasn't aware of this option).  Closing this issue as reporting not a bug but a new feature.

[2022-10-10 20:26] #7428 closed

[2022-10-10 21:28] mbyrnepr2 commented on #3941
Closing!

[2022-10-10 22:45] kriek commented on #7464
Discussion moved to https://github.com/PyCQA/astroid/issues/1828.

[2022-10-11 04:33] lggruspe commented on #7547
I think so. mypy ignores the second parameter as well.

[2022-10-11 06:16] oconnor127 commented on #2293
Thanks, but I would like to use as little packages as necessary. Will pylint fix this issue?

[2022-10-11 09:31] CarliJoy commented on #7601
Okay sounds good to me.
As a try for a specification I would suggest the following `disable-next` disables the given codes:

- for the following line
- if the following line starts a multi line statement (function definition, long if, some statement wrapped in brackets, a dict definition), then the codes are disabled until this statement ends

[2022-10-11 11:21] DanielNoord opened #7605 "Make ``consider-using-augmented-assign`` an extension"
_I haven't followed the discussion around this check so it might have come up already._

Why was this not implemented as an optional extension?

From what I can tell there is no obvious benefit to using the augmented assignment over the regular one. IMO it just creates a lot of unnecessary noise. Similar checks like the one for assignment expressions are also optional.

_Originally posted by @cdce

[2022-10-11 11:27] cdce8p commented on #7605
`consider-using-tuple` and `consider-using-assignment-expr` are part of the `CodeStyle` extension, too. So I think there is an argument for it here.

_A bit off-topic, I think it would be awesome if we could disable all `CodeStyle` checks by default so that users can / must choose which ones they want to enable. Haven't checked if that's already possible._

[2022-10-11 12:29] clavedeluna commented on #5953
`git grep "You can help us make the doc"`
The following messages remain to be added

[code]

[2022-10-11 15:30] Infernio commented on #7290
Finally got around to testing this, but I still get errors when using `kw_only`:

[code]

Runs fine on Python 3.10.7:
[code]

But produces these errors when run through pylint:
[code]

Should I open a new issue for that?

[2022-10-11 18:23] DanielNoord commented on #7290
Can you open a new issue for this. Perhaps even in the `astroid` repo? That's where this ultimately should be fixed.

The issue is that we don't support `kw_only` in `field` (yet).

[2022-10-11 19:02] Pierre-Sassoulas commented on #7593
It seems it's working well on pre-commit ci (https://results.pre-commit.ci/run/github/47671127/1665483920.oblgTTWySP--Hwi06zGMcw) but there is a crash on Windows if I understand right ? Sorry for that, we do not have a lot of active maintainers on Windows so it's almost never tested well.

[2022-10-11 19:21] Pierre-Sassoulas commented on #7605
Agreed.

Agree with you @cdce8p, we're delaying #3512 but it's one of the most important issue to fix at this point.

[2022-10-11 19:32] DanielNoord opened #7607 "What's left for 3.0?"
Just because I want to gather some thoughts before we can decide when to release `3.0`.

For me the main blocker was always turning on `--strict` in `mypy` as that would lead to many deprecations. If we (ever) fix the typing in `astroid` we will likely see many more things we need to fix in `pylint` as well but at least it somewhat works now. That means I personally have only four main "stretch go

[2022-10-11 20:06] Pierre-Sassoulas commented on #7607
In the same vein there's:

- #5701 This one is a blocker but also trivial to implements.
- https://github.com/PyCQA/pylint/pull/7163 It needs to be discussed / reviewed merged asap, because the only reason blocking it is that we do not have a 3.0 branch yet.
- #3512 it make more sense to apply it in 3.0 even if we do change this kind of thing in minors and it can be done when we decide to.
- https

[2022-10-11 20:38] hnhegde commented on #7592
Checked against `astroid==2.12.11`. Same issue.

Reg. `decouple`, I couldn't identify the root cause. There was [this SO thread](https://stackoverflow.com/a/63006097/3666262) that said:

But, I confirmed that's not the case with me.

[2022-10-11 21:22] mew1033 opened #7609 "False positive used-before-assignment for variable annotations when using TYPE_CHECKING"
### Bug description

I know this has been looked at before, but I just ran into it again with pylint 2.15.4. If an import is guarded behind TYPE_CHECKING, I'm getting an `used-before-assignment` error when using that import in a type definition.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

It shouldn't error

### Pylint version

[co

[2022-10-11 21:23] DanielNoord commented on #7607
We probably need to maintain `2.x` for some time as I don't think many companies like bumping to majors. Especially around the end of year holidays. Ideally we would get `main` relatively stable with 2.16 or one more (2.17) release without any major new features.
I don't think we should rush this and also think we shouldn't underestimate how long people will ask for 2.x support. By releasing 2.17

[2022-10-12 01:27] marksmayo opened #7610 "Crash when running pylint against the webpy repo"
### Bug description

When parsing the following file:

[code]

pylint crashed with a ``AstroidError`` and with the following stacktrace:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

to parse currently and show pylint issues

### Pylint version

[code]

### OS / Environment

Windows 11

### Additional dependencies

WARNING: Ig

[2022-10-12 05:02] DudeNr33 commented on #7593
I have a windows machine, but I am running into my own problems with `pre-commit` right now (Can't find the Python interpreter when running through `pre-commit`).

@orSolocate can you please verify if you also experience this problem when directly running `python -m script.check_newsfragments doc\whatsnew\fragments\7777.new_check`?

The `UnicodeEncodeError` and the traceback looks like it is the e

[2022-10-12 06:06] Pierre-Sassoulas commented on #7593
Let's remove the emojis then. I'm pretty sure I already had this problem before but sadly I don't remember in which project. black handle multi-platform emojis correctly and they seem to use ``echo`` from ``click``, but we don't have ``click`` (https://github.com/psf/black/blob/f16333e78ba77ab29ab0b75e10891e6c65c6da7e/src/black/output.py#L20). Those emojis are not nice enough to warrant more resea

[2022-10-12 06:07] DanielNoord commented on #7593
That was `pydocstringformatter`! You could check how we write to stdout there to see if that would help.

[2022-10-12 06:33] DudeNr33 commented on #7593
Thanks for the hint, @DanielNoord!
https://github.com/DanielNoord/pydocstringformatter/blob/main/pydocstringformatter/_utils/output.py

@orSolocate as I can't reproduce it on my Windows machine, could you try replacing the `print` calls with the following?

[code]

... where `string` is the string which is currently passed into `print()`.

[2022-10-12 06:42] Pierre-Sassoulas commented on #7607
I think that when we release ``3.1.0`` we should have no backport (my prefered solution 😄) or at least only limited backport in 2.X. This is the moment we would have 2 maintenance branches. I don't see myself backporting every false positives and bug fixes twice.

Users know that each pylint release means new messages so I don't think 3.0 will be that different. I think apart from the json reporte

[2022-10-12 07:04] Pierre-Sassoulas commented on #7593
I missed the pull request in the list when I searched ! Thank you @DanielNoord for saving the emojis 😄

[2022-10-12 09:54] mbyrnepr2 commented on #7609
Thanks for reporting this @mew1033. Can you please provide a minimal reproducible example to help us dig into this one?

[2022-10-12 10:02] orSolocate commented on #7593
@DudeNr33 I'd try and update

[2022-10-12 13:44] praiskup opened #7613 "Crash while linting Copr code on Fedora 37"
### Bug description

pylint crashed with a ``AstroidError`` and with the following stacktrace:
[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Should not traceback.

### Pylint version

[code]

### OS / Environment

Fedora 37

[2022-10-12 13:46] praiskup commented on #7613
Steps:
- git clone https://pagure.io/copr/copr.git
- cd copr/frontend
- pylint coprs_frontend/coprs/__init__.py coprs_frontend/coprs/logic/builds_logic.py coprs_frontend/coprs/views/apiv3_ns/apiv3_builds.py coprs_frontend/coprs/views/coprs_ns/coprs_builds.py

[2022-10-12 17:01] amrishparmar opened #7614 "False positive for repeated-keywords when dict item is popped off"
### Bug description

We found that if a dictionary is unpacked as arguments to a function, pylint still flags the `repeated-keywords` even if a pop happens on the dictionary in between (meaning that no kwargs are actually repeated)

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error is flagged for the line

### Pylint vers

[2022-10-12 17:39] Pierre-Sassoulas commented on #7614
Thank you for opening the issue. It's probably blocked by #4795

[2022-10-12 18:56] DanielNoord commented on #7613
This could also be caused with by the `copr` pylint plugin. I know we have had issues with that before.

Could you try disabling that plugin in the `pylintrc` and see if the crash still occurs?

[2022-10-13 11:45] clavedeluna commented on #7570
A quick investigation shows that this is the relevant code
[code]

The message is not emitted if there are at least 2 args passed in. However, I would argue in these test cases:
`thread = threading.Thread(thread_target, args=(10,))`
`threading.Thread(None, lambda: None)`

which have 2 args and would currently not emit the message, we _should_ in fact warn the user because they have mistakenly beli

[2022-10-13 11:58] clavedeluna commented on #584
I'll work on this issue.

[2022-10-13 12:40] Smixi commented on #7214
I have the exact same issue running `pylint --ignore=.cache --output-format=colorized,pylint_gitlab.GitlabCodeClimateReporter:reports/py-lint.codeclimate.json,parseable:reports/py-lint.parseable.txt **/**.py`

 gives me :

[code]
@tom65536 did you find any workaround ?

[2022-10-13 14:30] Pierre-Sassoulas commented on #7214
I did not have time to look into this yet, but a reproducer not using ``GitlabCodeClimateReporter`` would be helpful imo.

[2022-10-13 14:35] Smixi commented on #7214
I can try to create a reproductible example with a custom reporter and custom colorizer.

[2022-10-13 14:42] Pierre-Sassoulas commented on #7570
Thank you for the investigation @clavedeluna, I think the check is naive right now and making it more clever make sense.

[2022-10-13 16:12] DanielNoord commented on #7607
Ideally we would create some workflow for this. But agreed. We should do limited support for the maintenance branch.

I know that some companies also use other package managers which might be more hesitant with suggesting a major version. In my current job I know we're still on `2.14.x` because `nixOS` doesn't have the more recent version for example.

Agreed!

:smile:

[2022-10-13 16:16] #7569 closed

[2022-10-13 16:48] CarliJoy opened #7616 "Pylint crashes if PySide is loaded with init hook [Regression]"
### Bug description

We are using the `init-hook` to load a venv, so we don't have to install pylint in all project venv and can use pre-commit hooks easier.

Our last pylint version was
[code]

With the update to
[code]
pylint crahses when trying to lint a file that contains a PySide6 import, when adding PySide to `extension-pkg-allow-list`.

To reproduce:

1. Create a venv for your script that c

[2022-10-13 17:02] CarliJoy commented on #7616
Installing pylint in the same env as PySide works as expected but this is unfortunately not an option for us.

[2022-10-13 19:43] clavedeluna commented on #7610
I was able to reproduce by copying webpy [utils.py](https://github.com/webpy/webpy/blob/8afc84b3f25b8cfad4a4294061e6482d7e4309b8/web/utils.py) and running latest `pytest` on it.

[2022-10-13 20:16] Pierre-Sassoulas commented on #7610
Thank you for the investigation @clavedeluna

[2022-10-13 21:41] Smixi commented on #7214
Actually, it @tom65536 already describe fully the problem.

A simple way to reproduce this is adding "colorized" in the list of formatter for the test "test_multi_format_output" [here](https://github.com/PyCQA/pylint/blob/main/tests/reporters/unittest_reporting.py#L178) :

[code]

The rendered json will contain the ansi encoded values :

[code]

I never contributed to this project, and the questio

[2022-10-13 21:54] ramarivera opened #7619 "Linting errors for `_typeshed` on stub generated files"
### Question

I'm creating a type-hinting stub for some library I installed, using `stubgen -p <some_lib>`.

The stub tool generated a bunch of classes, etc, and a single import at the top of the file:

[code]

However, pylint is screaming about that import statement with `Unable to import '_typeshed'pylint(import-error)` (I'm using it on VS Code).

When running it on the command line, I get the f

[2022-10-13 22:58] mew1033 commented on #7609
@mbyrnepr2 So sorry, I got the example ready and then completely forgot to add it to the issue. Here's a snippet that shows the issue. If you remove the `if TYPE_CHECKING:` line, the issues goes away.

[code]

[2022-10-13 23:07] mbyrnepr2 commented on #7609
No worries - thank you!

[2022-10-14 00:27] jacobtylerwalls commented on #7609
Thanks! Per [PEP 526](https://peps.python.org/pep-0526/#runtime-effects-of-type-annotations), there is a difference in the runtime effect of variable annotations versus function annotations. Given that, the requirement in 3159b1744caee14068b4d875bb5adaa5ffbebd44 that both branches of an `if TYPE_CHECKING:` case define the name is too strict for variable annotations.

[2022-10-14 00:33] jacobtylerwalls commented on #7616
Thanks for the report. I'm going to mark this as a duplicate of #7592 because in the next patch release of astroid we're going to include `AttributeError` among the exception types we catch in the relevant portion of `is_namespace`.

[2022-10-14 00:33] #7616 closed

[2022-10-14 11:30] dgutson commented on #7346
@Pierre-Sassoulas @mbyrnepr2 did this make it into 2.16?

[2022-10-14 11:33] mbyrnepr2 commented on #7346
It did indeed @dgutson! 2.16 isn't released yet but you can keep an eye on the progress here: https://github.com/PyCQA/pylint/milestone/71

[2022-10-14 13:18] clavedeluna commented on #7610
The issue is happening because this code:

[code]

is defining a function called `next`, which shadows the builtin `next`.  If we rename it to `custom_next` the issue goes away. Of course this is only a hack-solution; pylint should be able to handle this unfortunate naming.

I'll take a closer look at `_check_raising_stopiteration_in_generator_next_call` which handles `next` via inference, but per

[2022-10-14 13:32] wieczorek1990 commented on #7585
If I add `I1101` to disabled my next problem with infinite loop is solved.

[2022-10-14 17:42] giodall opened #7623 "[Bug] Issue with inherited keyword dataclass fields"
### Bug description

this issue seems to be close to #5767, but for inherited dataclasses:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no errors

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-10-15 08:34] mbyrnepr2 commented on #4039
Can be closed when https://github.com/PyCQA/astroid/milestone/60 is available.

[2022-10-15 08:36] DanJBower commented on #2293
Being able to change severity of specific rules would be extremely useful for us

[2022-10-15 09:10] MarcoGorelli opened #7624 "False positive ``invalid-repr-returned`` with ``@overload``"
### Bug description
[code]

### Configuration

_No response_

### Command used
I just put the above in a file `f.py` and ran
[code]

### Pylint output

[code]

### Expected behavior

I don't think this should raise

### Pylint version

[code]

### OS / Environment

Ubuntu (via WSL2)

### Additional dependencies

_No response_

[2022-10-15 12:30] jacobtylerwalls commented on #7624
Thanks for the report.

@Pierre-Sassoulas I suggest closing as a likely duplicate of PyCQA/astroid#1015 as long as we note this test case for pylint.

[2022-10-15 12:59] DanJBower opened #7625 "Pylint disable working incorrectly"
### Bug description

When using `pylint: disable-next` or `pylint: disable` for a comment that violates the rule, it disables the rule for the whole file instead of just the line

*Not working*

    # pylint: disable-next=C0301
    # This line is too long. A line should be less than 100 characters but this is 109 characters and that is bad

    def testMethod():
        print('This line is too lon

[2022-10-15 14:03] mbyrnepr2 commented on #7625
Thanks for this @DanJBower.

I've tested the first example on 2.15.2 & that one works as expected (message emitted for line 5.). Looks like https://github.com/PyCQA/pylint/issues/7401 could have fixed it.

The second example looks like a bug, however. Modifying the first line to be an assignment with an inlined disable at the end works as expected; so indeed something to do with the comment like y

[2022-10-15 15:40] jacobtylerwalls commented on #7555
Duplicate is now tracked at #7592

[2022-10-15 15:40] #7555 closed

[2022-10-15 18:14] #7592 closed

[2022-10-15 19:16] DanJBower commented on #7625
Thanks for the quick reply @mbyrnepr2

I've just updated to the latest package and the first example is now working for me too. Thanks for pointing that out :)

[2022-10-16 07:38] #7624 closed

[2022-10-16 11:52] finite-state-machine opened #7626 "False positive ``simplify-boolean-expression`` when boolean variables are modified after their intialization in a for loop"
### Bug description

For the following code:

[code]

...pylint emits:
[code]

This statement is incorrect: `some_function()` always returns `True`.

Note: removing ...`or returns_false()` causes the error to disappear.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Pylint should not emit R1709/simplify-boolean-expression, since it is

[2022-10-16 12:30] jacobtylerwalls commented on #5189
In fact, we are now closing `@overload` problems as duplicates of PyCQA/astroid#1015, as they share a root cause.

[2022-10-16 12:30] #5189 closed

[2022-10-16 17:36] #7626 closed

[2022-10-16 19:06] #7605 closed

[2022-10-16 21:00] cdce8p opened #7631 "Regression `no-member` with inherited AnnAssign nodes"
Regression from #7509
The false-positive is actually caused by an issue in astroid. In particular with https://github.com/PyCQA/astroid/blob/v2.12.11/astroid/nodes/scoped_nodes/scoped_nodes.py#L2570-L2577

Opened this so I don't forget to add the example as regression test once the issue is fixed.

[code]
[code]

[2022-10-17 06:57] DanielNoord commented on #7625
Isn't this a duplicate of https://github.com/PyCQA/pylint/issues/3368?

[2022-10-17 08:16] mbyrnepr2 commented on #7631
Thanks for your work. I thought I would share [this discussion](https://github.com/PyCQA/pylint/pull/7586#issuecomment-1272265234) because it sounds like we are moving away from adding these tests to Pylint which relate to astroid fixes; I could have misunderstood of course!

[2022-10-17 08:17] DanJBower commented on #7625
@DanielNoord I used C0301 in the example at the start as it was the easy to reproduce. However it seems to apply to any rule when inline disable is used on line that is also a comment

I actually noticed it when I was developing a custom checker and it stopped detecting errors after a specific line. I didn't realise till deleting the disables that that was the issue

I haven't tried the case menti

[2022-10-17 09:03] bersbersbers opened #7633 "`no-name-in-module` issued depending on type of exception caught"
### Bug description

[code]

Interestingly, the issue is not seen here:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No E0611 message.

### Pylint version

[code]

### OS / Environment

Windows 10

### Additional dependencies

matplotlib==3.6.1

[2022-10-17 10:56] WilliamMiteff opened #7634 "pyreverse duplication issue"
### Bug description

When using pyreverse on the below syntax I get the follow output.

[code]

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

class baseclass {
    _log
    _msg
    _retryable
    _verbose
    __getcallerfunction(back: int) str
    __init__(friendly_name: str, verbose: bool) None
    _writer(message: str, mode: Literal['info', 'debug', 'warnin

[2022-10-17 12:11] cdce8p opened #7635 "Crash with `-j 2` when linting empty file"
### Bug description

Noticed this crash while linting an empty file with `-j 2`. It might be OS dependent as so far I can only reproduce it on MacOS. Linux seems fine.

Bisected the issue to https://github.com/PyCQA/pylint/pull/7284.
In particular this line:
https://github.com/PyCQA/pylint/blob/77e8ae4f3902697babb186482f577a2c8b1a3725/pylint/lint/pylinter.py#L379

/CC: @daogilvie, @DanielNoord

##

[2022-10-17 12:11] Pierre-Sassoulas commented on #7631
As I said in the discussion you linked, we need to think about it each time imo. If the pipeline time is such a problem we can separate a lot of things and test them in another repository (``pylint.testutil``, for example is useless for pylint direct users and the first one I would do.) Splitting primers in 3 instead of 2 would also work as it's the bottleneck right now.

[2022-10-17 12:18] cdce8p commented on #7631
I don't think it's an issue. ~5min is completely fine. We could also use something like https://pypi.org/project/pytest-xdist/ to speed them up if it ever becomes a problem.

[2022-10-17 12:20] DanielNoord commented on #7631
I was mainly referring to local environments. It is not so much about speeding up CI, but speeding up fixing small regressions locally which you want to test before pushing to Github.
Imo, it is annoying to wait on tests locally that are already tested in the library that actually causes them.

[2022-10-17 12:22] Pierre-Sassoulas commented on #7631
Sure, we just need to consider the amount of code that uses the astroid fix in pylint. Sometime there is nothing so a test in astroid is enough, but other time there's a quite a lot of checker code and plumbing that also need to be tested.

[2022-10-17 12:40] daogilvie commented on #7635
Ah, that's a shame — I did not explicitly think to check if the module object could be pickled to synch across processes/threads. I think I know what might be worth trying though — I'll look into this shortly.

[2022-10-17 12:43] mbyrnepr2 opened #7636 "Check for duplication in union type annotations"
### Current problem

Currently we emit nothing about the following pattern, which can be simplified:

[code]

### Desired solution

Emit a warning when this pattern is detected. A union typehint containing the same type multiple times can be simplified. Potential name: `typehint-duplicate-union-type`.

### Additional context

This is the same issue as reported in https://github.com/python/mypy/iss

[2022-10-17 12:46] Pierre-Sassoulas commented on #7636
+1 for me as the mypy team [explicitly said linter should do it](https://github.com/python/mypy/issues/13448#issuecomment-1219702091).

[2022-10-17 12:50] Pierre-Sassoulas commented on #7633
Seems like it's working as intended, we don't want to raise a message if an import is in a try catch telling us that the user know that the import might fail with ``ModuleNotFoundError`` or ``ImportError``. Those exceptions means that at least in some environment it's expected that the import will fail.

[2022-10-17 12:56] clavedeluna commented on #2120
I could work on this, but just want to iterate over some test cases to make sure we're on the same page here

[code]

any others? Does example C make sense here?

[2022-10-17 13:19] daogilvie commented on #7635
Right, my immediate feeling is the core issue is that the contents of the `_dynamic_plugins` dictionary is not pickleable, hence the `dill.dumps` call in `check_parallel` crashes: https://github.com/PyCQA/pylint/blob/77e8ae4f3902697babb186482f577a2c8b1a3725/pylint/lint/parallel.py#L136-L141
I think it would be appropriate to zero-out the `self._dynamic_plugins` dictionary before the call to `dill.

[2022-10-17 13:43] bchardin opened #7639 "Do not suggest augmented assigns for non-commutative operations with the target as the right operand"
### Bug description

Pylint suggests augmented assigns for non-commutative binary operations, even when the assignment target is the right operand.

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error should be displayed.

### Pylint version

[code]

### OS / Environment

Debian 9.13 (stretch)

### Additional dependencies

[2022-10-17 13:44] bchardin commented on #7639
This is linked to a feature (to be) introduced with the 2.16 version by #7514.

[2022-10-17 13:51] bersbersbers commented on #7633
Seems like `pylint` is smarter than I had expected ;)

I think my main misunderstanding was that `BaseException` is not raising anything incorrectly - by contrast, the import statement itself raises an error (due to `matplotlib` internals, I guess) that (only) `ModuleNotFoundError` (correctly) hides.

I'll close this, thanks!

[2022-10-17 13:51] #7633 closed

[2022-10-17 14:10] clavedeluna commented on #2620
Is the solution here still as suggested above, to create a new checker for `undefined-private-member`?

[2022-10-17 14:32] daogilvie commented on #7635
Ok, linked PR #7640 addresses this issue. The failing tests were failing before the commit, and running `pylint -j 2 test.py` on an empty file no longer crashes.
Happily today was mostly a series of all-hands broadcast meetings at work, so I was able to jump in and fix the mess I made here in the quiet moments 😄
Let me know if this is something that seems suitable as a fix.

[2022-10-17 15:08] andybrewer commented on #7506
Maybe a similar issue with pandas_ta:

[code]

produces:
Unused pandas_ta imported as ta

[2022-10-17 15:11] WilliamMiteff opened #7641 "Initializing DataFrame in __init__ hangs pyreverse"
### Bug description

When creating a custom object that has a variable that is a DataFrame, if that is initialized in the __init__ pyreverse hangs when being ran.

### Configuration

_No response_

### Command used

[code]
[code]

### Expected behavior

I would expect the process to complete running instead of running until i interrupt it

### Pylint version

[code]

### OS / Environment

ubuntu 2

[2022-10-17 15:22] WilliamMiteff commented on #7641
did some additional testing on this and it appears to have the same issue anytime I am setting a class variable to DataFrame().

[2022-10-17 16:34] WilliamMiteff commented on #7634
Found that this is a coding issue with how I did my class.  I have both a global and instance level variable of the same name.  it is a shame that pyreverse doesn't visualize this as well.

[2022-10-17 20:45] Pierre-Sassoulas commented on #2620
Not sure about the actual name. This is a runtime error so it should be a default check. Considering we already have ``no-member`` message it could probably be considered a false negative of ``no-member`` instead.

[2022-10-17 20:47] Pierre-Sassoulas commented on #7639
Awesome bug report, thank you for beta-testing pylint 👌  @clavedeluna @DanielNoord do you want to handle this considering you implemented #7514 together ?

[2022-10-17 20:51] DanielNoord commented on #7639
I think we should just disable the checker for anything where the assignee is not in the left hand side of the equation. I thought I found all cases where it can be on the right, but clearly I didn't have my maths correctly :sweat:

I don't know if I have much time to prepare a PR but I can definitely help with review!

[2022-10-17 20:54] Pierre-Sassoulas commented on #2120
There was two B examples so I updated your example for use as future functional test but yeah it make sense imo.

[2022-10-17 21:00] WilliamMiteff opened #7643 "Support for Overload Decorators"
### Current problem

When using `@overload` only the first version in the code is pulled into the classDiagram.

### Desired solution

I would like to see all overload options in the class diagram.

### Additional context

_No response_

[2022-10-17 21:03] WilliamMiteff opened #7644 "Enhanced support for `@property` decorator"
### Current problem

When using the `@property` decorator the return datatype is not being shown in the classDiagram that is generated.

### Desired solution

I would like to see the return type as the datatype for methods that are defined as properties.

### Additional context

_No response_

[2022-10-18 00:19] CobaltCause opened #7645 "`invalid-repr-returned` false positive with match statement"
### Bug description

It looks like pylint isn't checking exhaustiveness before triggering this lint.

`pylint_e0306_false_positive.py`:
[code]

Likely related: https://github.com/PyCQA/pylint/issues/7470#issuecomment-1266292154

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error

### Pylint version

[code]

### OS / Environment

N

[2022-10-18 04:31] DudeNr33 commented on #7644
Thank you for opening this issue. I agree that the type annotations for properties should be shown in the same way as for normal instance attributes.

[2022-10-18 04:34] DudeNr33 commented on #7634
Could you update the original post with this global/instance level variable? Is "global" a module level variable or a class attribute?

Do you have a proposal how this visualization could look like in a class diagram?

[2022-10-18 04:36] DudeNr33 commented on #7641
Thanks for the report and additional information.

[2022-10-18 05:15] MarcSkovMadsen commented on #3199
Hi @maxwrlr . Could you share a link to some minimum working example of this?

[2022-10-18 07:05] Pierre-Sassoulas commented on #7645
If nothing is matched this function would return None. This is hard to understand for pylint but also for human. Even for human you can make a mistake and not realize something can end up unmatched and get an error. I would suggest using a default.

[2022-10-18 07:27] Pierre-Sassoulas commented on #7645
The reason would be that you know within 10ms when reading the code that it can't return ``None`` instead of having to think about each possible case or blindly trust the tooling. I don't think a codebase should rely too much on trust in their tooling (trust but verify instead ?).

That being said, this is a false positive that should be fixed, but this rely on control flow (#4795 ?). Control flow

[2022-10-18 07:47] CobaltCause commented on #7645
I "know within 10ms when reading the code that it can't return `None`" because I don't see any errors in my editor informing me that my `match` was nonexhaustive. I trust this result, but can easily verify it by scanning the `case`s and comparing to the type in the `match`. Generally, the failure mode for tools around exhaustiveness checking is false negatives rather than false positives, so I thi

[2022-10-18 08:30] robertschweizer opened #7647 "False positive `unnecessary-lambda` (wrong type inference in if-else-expression)"
### Bug description

This triggers an `unnecessary-lambda` warning:

[code]

If I replace `kwargs = {} if omit_arg else {"arg": 2}` with `kwargs = {"arg": 2} if not omit_arg else {}`, no warning is shown.

I assume that the type inference is not working correctly for the if-else conditional expression.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expe

[2022-10-18 14:51] lukaszla opened #7648 "AstroidError: module has no attribute '__path__'"
### Bug description

Updating to latest pylint 2.15.3 updates astroid to 2.12.10 and error below happens

If I revert to use astroid to 2.12.9 (and pylint 2.15.2) error is gone

When parsing the following file:

[code]

pylint crashed with a ``AstroidError`` and with the following stacktrace

[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behav

[2022-10-18 16:09] #7648 closed

[2022-10-18 16:31] jacobtylerwalls commented on #7643
Likely duplicate of PyCQA/astroid#1015

[2022-10-19 07:59] Pierre-Sassoulas commented on #7645
We have a lot of legacy checkers that half-ass checks that should be done by a type-checker in a very particular scenario. On the top of my head this is one of the worst offender : https://pylint.pycqa.org/en/latest/user_guide/messages/error/invalid-envvar-value.html. This is a lot of cleanup and/or documentation to do if it come to it.

[2022-10-19 10:10] Pierre-Sassoulas commented on #7631
Look like this test was indeed required because it's failing on Windows in pylint and this wasn't caught in astroid :)

[2022-10-19 10:14] lukasbindreiter commented on #7543
I ran into a similar issue today after a version upgrade of `xarray` from `2022.9.0` to `2022.10.0`.
With the old xarray version installed pylint ran through fine as expected, but then with the only change of installing the new xarray version in the environment suddenly pylint crashes:

<details>
Stacktrace:

[code]
</details>

Unfortunately it was not easily possible to isolate the test enough to

[2022-10-19 10:20] Pierre-Sassoulas commented on #7543
If it's a c-binding causing the problem it's possible to remove a lib from the "extension pkg allowlist", otherwise no afaik. (We're not supposed to crash, but adding this option could also be useful for code that are slow to parse.

[2022-10-19 10:26] lukasbindreiter commented on #7543
Ah sorry I forgot to mention, this is my `.pylintrc`:

[code]

So I explicitly don't have an `extension-pkg-whitelist=xarray` in there.
Do you know why pylint still tries to look at xarray source code? Is there some default `extension-pkg-whitelist` if none is specified?

[2022-10-19 11:49] clavedeluna commented on #7647
I indeed tracked this down to astroid's inference system, the checker should've short circuited [here](https://github.com/PyCQA/pylint/blob/main/pylint/checkers/base/basic_checker.py#L529) but it did not because `call_site.keyword_arguments` is not pupulated.

[2022-10-19 19:58] Pierre-Sassoulas commented on #5471
Disclaimer : I'm probably not going to use this check unless isort fix it automatically.

But I think it would make sense to raise both message:
[code]
isort is doing the wrong import order check right now. Maybe the thing to do is to propose or implement this in isort first ?

[2022-10-20 09:16] #7635 closed

[2022-10-20 11:52] clavedeluna commented on #5471
Yeah, I can see isort moving the imports but it won't move the dunders around. Proposing in isort makes sense. But I don't see a time dependency on that, pylint can implement that and so can isort, independently. Unless there's some PyCQA process I don't know about?

[2022-10-20 11:58] clavedeluna commented on #5471
Opened https://github.com/PyCQA/isort/issues/1980

[2022-10-20 12:08] Pierre-Sassoulas commented on #5471
No, it's just that if we raise a message actual people are going to spend time fixing it manually. If we know that this could be fixed by isort if we wait a little then we're going to save days to months of time modifying code that really for something that ultimately does not matter that much, and it's bad etiquette. (So cats will be petted longer in our name; which is nice)

[2022-10-20 12:16] clavedeluna commented on #7619
I haven't personally used typeshed so MMMV but from spending time on other pylint issues, pylint (but specifically astroid) needs to "know" about types and classes. See issues with label `Needs Astroid Brain`.

Given these are runtime-only, adding `_typeshed`  to ignore configuration, something like:
[code]

[2022-10-20 13:39] WilliamMiteff opened #7653 "Custom objects as datatypes"
### Current problem

No UML object is shown for relationships that are in generics like `list` or `dictionary`.

### Desired solution

When the UML is built, it should show the class that is referenced in the generic.

### Additional context

This code shows that the class diagram that gets built shows the relationship between classes `a` and `b` but it doesn't show that there is any relationship

[2022-10-20 14:35] #6795 closed

[2022-10-20 15:03] mrechte opened #7654 "Config file generated by --generate-toml-config option produces errors when later used"
### Bug description

pylint --generate-toml-config >~/.config/pylintrc

The generated file seems to be unusable by pylint.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

no error

### Pylint version

[code]

### OS / Environment

Archlinux

### Additional dependencies

_No response_

[2022-10-20 15:14] DanielNoord commented on #7437
Could you show your changes? Something like that should work..

[2022-10-21 06:55] nelfin commented on #7654
It's interpreting the TOML file as an rcfile, probably because it's called `pylintrc` no? See this behaviour:

[code]

I don't know what the expected behaviour _should_ be here, but I kind of think it's sensible to expect that `pylintrc` should be rc-formatted and `pyproject.toml` (`pylint.toml`?) should be TOML formatted.

[2022-10-21 07:09] Pierre-Sassoulas commented on #7654
Let's not create yet another place where the conf can be, there's already ``setup.cfg``, ``pylintrc``, ``.pylintrc``, ``/etc/conf/.pylintrc`` (?), ``/etc/conf/pylintrc`` (?), ``pyproject.toml`` and wherever you want with ``rcfile`` 😄

We could handle mixup between ini/toml more gracefully, but is it worth the additional bug it's going to create when we have a edge case in our edge case (say the fi

[2022-10-21 07:16] nelfin commented on #7654
What about instead of guessing the format (especially since TOML and INI are deliberately similar), updating the examples in the documentation to nudge the behaviour that rcfile = `pylintrc` and toml-config = `pyproject.toml`? Something like:

[code]

[2022-10-21 07:17] DanielNoord commented on #7654
Is there any argument against using `pyproject.toml`? Even if just for `pylintrc`?

[2022-10-21 07:21] mjhaye commented on #7437
The plugin code looks like this:
[code]

Some debugging shows that the transforms in brain_dataclasses are a being applied before the plugin is imported and thus the patch is applied too late.

Currently my work-around (just in the code, not a plugin) is a bit too hacky for my liking:
[code]

[2022-10-21 07:23] Pierre-Sassoulas commented on #7654
I separate the two config file because pylint is pretty verbose and configurable and often default values are not the one I would use so it's flooding the ``pyproject.toml`` with a wall of options. (better default values will probably have to wait for 4.0 too or we'll never release 3.0)

[2022-10-21 07:33] mrechte commented on #7654
Being new to pylint, I did not pay attention there was 2 config file formats. Yes, man page could just be updated to make it clearer.
Thanks

[2022-10-21 11:41] marrak opened #7657 "Conditional MESSAGES CONTROL"
### Question

I have two Pylint (2.13.9 on Py 3.6.8 and 2.15.4 on Py 3.10) and one .pylintrc rcfile.
Py 3.6.8 is system RedHat 8 Python, which prevents update of Pylint to latest version.

If I have disable=no-self-use, there is issue R0022: Useless option value for '--disable', 'no-self-use' was moved to an optional extension (useless-option-value) on 2.15.4
If I add load-plugins=pylint.extension

[2022-10-21 11:51] ppiasek opened #7658 "consider-using-with assigning TemporaryDirectory() to class attribute"
### Bug description

`class Foo:
    def __init__():
        self.tmp_dir = TemporaryDirectory()
`
Above implementation causes Pylint to raise "Consider using 'with' for resource-allocating operations" warning. It's true that TemporaryDirectory can be used with context manager, but when user needs random tmp path, that is exists for the whole life of class object then it needs to be assigned to at

[2022-10-21 12:01] Pierre-Sassoulas commented on #7657
You could reasonably lint only on python 3.10 / pylint 2.15.4 with the ``py-version`` option set to ``3.6``. Imo the easier fix for you is to disable both ``no-self-use`` and ``useless-option-value``. (``useless-option-value`` will probably not warn you of anything else than no-self-use as long as you don't add new bad config in your pylintrc).

[2022-10-21 13:20] clavedeluna commented on #7658
I can see the same argument made for other [tempfile](https://docs.python.org/3/library/tempfile.html) objects. I think this makes sense.

[2022-10-21 17:29] raininboat opened #7661 "Crash when illegal file encoding `utf` in the first line"
### Bug description

When parsing the following file:

[code]

pylint crashed with a ``AstroidError`` and with the following stacktrace:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

pylint should show the error about the illegal file encoding `utf` and do not crash

### Pylint version

[code]

### OS / Environment

Linux 5.10

[2022-10-21 18:06] Pierre-Sassoulas commented on #7661
Thank you for opening the issue. It's very similar to https://github.com/PyCQA/pylint/issues/3860, seems like the fix was fragile.

[2022-10-21 19:55] clavedeluna commented on #7661
I can work on this over the next couple days. I can also see #7097 didn't add a test, so I can add that. @Pierre-Sassoulas is testing on modules best done via functional tests, or follow the examples in test_self.py which seem to dynamically create a module or load an existing module?

[2022-10-21 20:01] Pierre-Sassoulas commented on #7661
I think I tried to add a test at first in https://github.com/PyCQA/pylint/commit/865b1b841c9aa6f274d4e6e42020d5ee56ae4e68 but [it seems I did not manage to reproduce later on (as something was fixed in astroid)](https://github.com/PyCQA/pylint/pull/7097#issuecomment-1186591437)

[2022-10-22 08:03] Pierre-Sassoulas commented on #7437
Reopening so the latest discussion is not lost.

[2022-10-22 15:02] #7657 closed

[2022-10-22 16:58] #7281 closed

[2022-10-23 09:16] Rogdham commented on #7487
I believe this issue also applies to the following:

[code]

Using `--signature-mutators=deco` when calling `pylint` since `deco` is changing the type of the decorated function:

[code]

The issue goes away if the two lines mentioning `classmethod` are removed.

[2022-10-23 17:16] #7661 closed

[2022-10-23 19:25] Pierre-Sassoulas commented on #7619
Imo it's due to .pyi file not being taken into account in pylint see (the currently pinned) https://github.com/PyCQA/pylint/issues/4987.

[2022-10-23 19:26] #7619 closed

[2022-10-24 12:13] clavedeluna commented on #7658
I propose we remove [these lines](https://github.com/PyCQA/pylint/blob/main/pylint/checkers/refactoring/refactoring_checker.py#L54:L57) and any relevant testing from the checker.

You could argue some of the others in that list are also fine not as context managers, but if we remove them all this check would be moot 😛

[2022-10-24 12:36] clavedeluna commented on #5953
@Pierre-Sassoulas I was hoping to add examples for `"method-check-failed"`, but I'm really not sure it's ever reachable. If you look at where in the code the message would be emitted
[code]

but this is already within what I believe is the scope of `def visit_functiondef(self, node: nodes.FunctionDef)`. So I don't think this check is ever ever used?
- it's not tested
- can't find any examples of h

[2022-10-24 14:08] DudeNr33 commented on #7658
@clavedeluna the original enhancement request was focussing on the standard `open` request. I added other context managers from the standard library that release resources in their `__exit__` as well, but if we have examples like `tempfile` here where release of the resource is ensured in some other (automated) way, then I am totally fine with removing them.

What other instances would you propose

[2022-10-24 16:28] clavedeluna commented on #7658
I don't think we should over-do it unless more use cases appear, so removing just the tempfile ones would be fine right now. My comment was a general one, to indicate that if we were to believe authors would always remember to do the cleanup work, then we wouldn't have this check in the first place.

[2022-10-24 19:28] Pierre-Sassoulas commented on #5953
@clavedeluna Let's not document the fatal type message for now. Hopefully we don't have fatal error in the codebase and mocking them would not make sense. (See: https://github.com/PyCQA/pylint/issues/5953#issuecomment-1079928400 ) We still need a decision on what to do for them but there's more value in documenting other messages for now.

[2022-10-25 15:27] orSolocate commented on #7636
Should it raise a message for any redundant type? Are there types where redundant union type is a fine to do?

Should this be implemented only for assignments for starters?

Does `astroid` recognizes a union pattern in its `annotation` node attribute?

[2022-10-25 16:16] mbyrnepr2 commented on #7636
I think emitting a message any place where there is a redundant type in a union is the aim. I don't think there is ever a situation where redundant types are considered best practice.

I don't think we should limit ourselves; but open to thoughts on splitting it into separate merge requests, for example.

Yes, If I have understand your question. For the simple example in the description:
[code]

T

[2022-10-25 20:30] #4039 closed

[2022-10-26 08:31] ckclark commented on #3857
@DanielNoord You did reproduce it.  The issue is about false-negative of `f-string-without-interpolation` check, and it is still reproducible at main branch @[bfa98ac](https://github.com/PyCQA/pylint/commit/bfa98ac131e5b7a1d91e66bd0ab7d7b3723a0da0) and 2.15.5 release.

[2022-10-26 10:46] mbyrnepr2 commented on #5359
Sorry if this is not the right place but wanted to ask - could we add [coverage](https://github.com/nedbat/coveragepy) to the primer suite? The author opened an issue in our tracker recently so I thought it would be a good one to include since its a popular tool & it is using Pylint.

[2022-10-26 20:00] hofrob opened #7679 "Pylint does not report "unused-import" if there are quotes around type hint"
### Bug description

I used [`hatch`](https://hatch.pypa.io) to create this example repo (`pipx install hatch`).

* clone the example repo: https://github.com/hofrob/pylint-unused-import-quotes
* execute `hatch run pylint -d all -e W0611 test_pylint/ tests/`
* pylint should report an unused import in `test_pylint/baz.py`
* remove quotes from type hint in `test_pylint.foo.foo_baz` function (around

[2022-10-26 20:13] sharky98 opened #7680 "pylint crashed with a ``AstroidError`` (astroid.exceptions.ParentMissingError)"
### Bug description

When trying to lint a file that contain the DeclarativeBase of the recent SQLAlchemy 2.0 (beta), it fails with an `astroid.exceptions.ParentMissingError: Parent not found on <Const.str l.None at 0x189844d3730>.` error. I was able to pin point the issue with the new `sqlalchemy.orm.DeclarativeBase`.

I understand this is most probably due to the new SQLAlchemy 2.0, but since th

[2022-10-26 20:34] DanielNoord commented on #5359
Makes sense! Do you want to open the PR?

[2022-10-26 20:40] mbyrnepr2 commented on #5359
Sure @DanielNoord. It'll force me to take a closer look at the logic. I'll aim for next couple of days

[2022-10-27 01:14] udifuchs commented on #7645
Another example of this issue is with enum:
[code]
The point is that I do not want to have a default `case _:` pattern because I want my linter (pylint or mypy) to warn me if there is an enum value that is missing a case pattern.

[2022-10-27 07:08] AviSarmani opened #7682 "unnecessary-list-index-lookup is falsely being reported when there is a start index"
### Bug description

The code is:
[code]
Which produces the output:
`[(1, 2), (2, 3), (3, 4), (4, 5)]`

When there is a start parameter on the enumeration, "item" and "series[index]" are not the same object
but pylint suggests:
`R1736: Unnecessary list index lookup, use 'item' instead (unnecessary-list-index-lookup)`
If we follow the advice we would get a different result set
`[(1, 1), (2, 2), (3,

[2022-10-27 07:38] Pierre-Sassoulas commented on #7682
Thank you for opening the issue, I can reproduce that on the latest main.

[2022-10-27 07:42] Pierre-Sassoulas commented on #5359
<details>
  <summary>Spoiler, but:</summary>

[You need to modify this file](https://github.com/PyCQA/pylint/blob/main/tests/primer/packages_to_prime.json), [or this file](https://github.com/PyCQA/pylint/blob/main/tests/primer/packages_to_lint_batch_one.json).

</details>

[2022-10-27 12:38] clavedeluna commented on #7682
Also really similar to https://github.com/PyCQA/pylint/pull/7334/files so looks like this check is often getting false positives

[2022-10-27 19:08] dgutson commented on #6543
CC @qequ

[2022-10-27 19:10] dgutson commented on #6737
CC @qequ to solve this

[2022-10-27 22:55] mbyrnepr2 commented on #7679
Thanks for the report @hofrob. Unfortunately I can't reproduce it the way you've described (`pylint test_pylint/ tests/`).

However I do see the behaviour when linting individual modules:
```pylint tmp/baz.py tmp/foo.py``` (`import-error` in tmp/baz.py)
```pylint tmp/foo.py tmp/baz.py``` (no `import-error` in tmp/baz.py)
This behaviour is fixed by [this MR](https://github.com/PyCQA/pylint/pull/762

[2022-10-28 04:33] Pierre-Sassoulas commented on #6543
Do you want me to assign this to you @qequ ? 😅

[2022-10-28 06:49] #7208 closed

[2022-10-28 14:55] qequ commented on #6543
@Pierre-Sassoulas please assign this to me :+1:

[2022-10-28 17:01] hofrob commented on #7679
Thanks! I will take a look later if it fixes what I'm seeing.

This kind of situation is happening a lot recently. I had a docker container where pylint did not show any messages in our CI, but running the exact same container locally showed the correct messages. I'm running into this a lot at work with co-workers executing pylint with different results. Often times the order of paths in the comma

[2022-10-28 17:15] Pierre-Sassoulas commented on #7679
Yes, there's an issue with multiprocessing and parallelization the hashmap is not implemented on all checkers (https://github.com/PyCQA/pylint/issues/374). Do not use multiprocessing, the increase in performance is negligible anyway (#2525 : the work in astroid to fix this is humongous).

There's also a problem with the order of file given (#689 and #4053)

[2022-10-28 17:49] mbyrnepr2 commented on #689
What I am seeing is based on [this example from the comments](https://github.com/PyCQA/pylint/issues/689#issuecomment-383104223) & it looks like the original reported issue is no longer an issue but something else is now occurring in the output formatting.

The emitted messages are the same but they end up outputted in a different section in the report:

[code]

[2022-10-28 19:30] DudeNr33 opened #7686 "`pyreverse` does not show inheritance relation when using a flat folder"
### Bug description

See [this SO question](https://stackoverflow.com/questions/74123298/pyreverse-not-connecting-classes-in-uml-class-diagram).

`Foo.py`, `Bar.py` and `__init__.py` are all located in the same folder.

`Foo.py`:
[code]

`Bar.py`:
[code]

`pyreverse` is executed from within the same folder.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

###

[2022-10-29 01:32] Moisan opened #7688 "False-negative `unneeded-not` when using `hash` function"
### Bug description

Line of the type `not hash(x) == hash(y)` does not trigger unneeded-not.

More complete example:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

To trigger `not-unneeded` on the `assert not hash(first_string) == hash(second_string)` line.

### Pylint version

[code]

### OS / Environment

_No response_

###

[2022-10-29 09:30] exhuma commented on #3556
I've tested this against newer versions of Python (3.10.4) and Pylint (2.15.5) and it is still reproducible.

Here's the new requirements.txt file:
[code]

And the diff against the previous file:

[code]

Interestingly, `mypy` caused a syntax error as well on the same lines. This could be fixed by upgrading `mypy`. The `pylint` issue remains however.

For Python 3 projects it is anyway possible to

[2022-10-29 11:11] finite-state-machine opened #7689 "'disable-next' is tripped up by intervening comments"
### Bug description

### clumsy form for commenting a pylint directive

When adding a `pylint: disable-next` directive, it's often useful to add some explanation or justification.

Presently, we're forced to write in a rather clumsy form, e.g.,:
[code]

It is _much_ more natural to write:
[code]
...but this form doesn't work; pylint applies the 'disable-next' directive to the explanation, not the

[2022-10-29 11:20] Pierre-Sassoulas commented on #7689
Thank you for opening the issue. As you saw in the issue you linked there's a lot of thing to consider. I'm going to close as duplicate so the specification is focussed in a single place. I think I'd rather keep this simple and stupid but let's discuss in #7601.

[2022-10-29 11:20] #7689 closed

[2022-10-29 11:22] Pierre-Sassoulas commented on #7601
As said in https://github.com/PyCQA/pylint/issues/7689 there's also the comment to take into consideration when specifying what ``disable-next`` should do. I think if we don't make it simple and stupid this is going to get very complicated very fast.

[2022-10-29 11:42] MrPointer commented on #5645
Sorry for bumping a closed issue, but I got this error again, and it seems like a false positive 😕

For this piece of code:
[code]

pylint fails for all imported **pydantic** modules, although they're installed properly and are available for the used interpreter.

I'm using poetry to manage the project and its associated venv, so both **pylint** and **pydantic** are installed side by side in the s

[2022-10-29 12:47] Pierre-Sassoulas commented on #5645
Hey @MrPointer, your problem is harder to fix for us as pydantic is doing funky things under the hood (creating attribute of function dynamically, most likely), so pylint don't understand it. This issue was reproducible with a small example. You can search for issue related to pydantic in our issue tracker there's probably already one that is still opened.

[2022-10-29 12:51] MrPointer commented on #5645
@Pierre-Sassoulas Thanks for the quick reply, got ya.
I think I'll just disable any pydantic-specific checks for now, hopefully you could get around it one day! 🙏🏻

[2022-10-29 15:45] #4150 closed

[2022-10-29 17:51] finite-state-machine commented on #7601
As Pierre mentioned, there's some discussion in #7689 that I hope will be helpful. The crux of the issue is that this should work as expected:
[code]
...but in fact the `disable-next` is applied to the first comment immediately below it.

[2022-10-29 18:26] orSolocate commented on #7593
When I run `python -m script.check_newsfragments doc\whatsnew\fragments\7777.new_check` I don't get the error.

But the emojis indeed are not recognized i my machine in the output message:

`does not respect the standard format ��`

[2022-10-29 19:26] orSolocate commented on #7636
1.
I think you are right, found this is [Python docs](https://docs.python.org/3/library/typing.html):

[code]

Which means it is only a readability issue since the compiler omits the redundant type anyway. and makes sense to make it a `[Refactor]` message.

2.
Btw, the `or` sign i.e. `|` for typing was only introduced in Python 3.10, and Pylint supports Python 3.8 and above at the moment. I would

[2022-10-29 21:08] mbyrnepr2 commented on #2258
I can't reproduce this (the example in the description or [this example](https://github.com/PyCQA/pylint/issues/2258#issuecomment-407876838) from the comments).
I haven't checked if it is covered by tests but looks like we can close if it is.

[code]

[2022-10-29 21:14] mbyrnepr2 commented on #7636
Sounds good @orSolocate! For point 3. I think we only need to emit one message for that situation. Perhaps we can obtain a list of the types in the union & check for duplication?

[2022-10-30 05:34] #2258 closed

[2022-10-30 08:14] cdce8p commented on #5645
@MrPointer Found this in a pydantic issue: https://github.com/pydantic/pydantic/issues/1961#issuecomment-759522422. Haven't tested it myself though.
[code]

There is also #1524 which might be helpful.

[2022-10-30 13:10] hofrob commented on #7679
Can confirm! All false negatives are fixed now.

Thanks for the helpful feedback!

[2022-10-30 13:10] #7679 closed

[2022-10-30 14:53] hofrob opened #7690 "Prefer dict literal over `dict` constructor"
### Current problem

Constructing `dict`s using the constructor should be avoided. It has no advantages and may be a bit slower.

## Invalid code

[code]

## Valid code

[code]

### Desired solution

Create a message that finds and highlights invalid code from above. Maybe as an extension of `R1735 use-dict-literal`.

### Additional context

_No response_

[2022-10-30 15:00] #7593 closed

[2022-10-30 15:01] orSolocate commented on #7636
@Pierre-Sassoulas  - you can assign me for this issue.

@mbyrnepr2  - the constructor could add the type of every duplicated (a message was raised for) type, and then skip those type if encounters them again. (for the same AnnAssign node I mean..

[2022-10-30 20:37] DanielNoord commented on #7601
I think the latter issue can't really be fixed due to how `pylint` and `ast` work. The recommendation is to just put the explaining comment above the disable comment instead of the other way around.

[2022-10-31 08:34] #3038 closed

[2022-10-31 13:35] #7214 closed

[2022-10-31 14:33] finite-state-machine commented on #7601
@DanielNoord that's the workaround I've been using, but it's really not ideal. Hopefully solving #7601 will solve the ugly comment problem as well.

[2022-10-31 16:25] duanyutong commented on #214
`# pylint: disable=duplicate-code` or `# pylint: disable=R0801` isn't working for me when running pylint 2.15.5

[2022-10-31 18:32] Pierre-Sassoulas commented on #214
Could you add a reproducer and open a new bug issue @duanyutong, please ?

[2022-10-31 19:32] DanielNoord commented on #7601
Sadly it won't. This is just a limitation of how the standard library parses Python code and comments in its `ast` library.  There is not much we can do here

[2022-10-31 19:38] mbyrnepr2 commented on #6917
Manually closing since MR is merged.

[2022-10-31 19:38] #6917 closed

[2022-10-31 20:49] clavedeluna commented on #7688
This is inference-related. When the node is a call to `hash`, it seems to not be able to infer and [this tuple](https://github.com/PyCQA/pylint/blob/main/pylint/checkers/refactoring/not_checker.py#L67) is `(None, None)`

Wonder if passing `context` could help?

[2022-11-01 09:12] fly50789 opened #7698 "Cant load config from tox/setup.cfg"
### Question

I cant read config from tox or setup.cfg.

version
[code]
command

[code]

result

**No config file found, using default configuration**
[code]
tox.ini file
[code]
setup.cfg file
[code]

### Documentation for future user

Where did you expect this information to be?

I expect I can write config in tox file. And work correctly.

### Additional context

_No response_

[2022-11-01 09:15] Pierre-Sassoulas commented on #7698
Did you try to use the ``--rc-file`` option ?

[code]

[2022-11-01 10:12] Pierre-Sassoulas opened #7699 "False negative 'for-any-all' when there is a break or a pre-initialized boolean"
### Current problem

[code]
Can be simplified to
[code]

### Desired solution

``for-any-all`` raised in this case.

### Additional context

I did not think very hard about potential false positive, but I think it make sense to not raise if ``potential_line_length_warning`` is not initialized directly above the for loop.

[2022-11-01 16:28] DudeNr33 opened #7700 "Use `namedtuple` or `dataclass` for `pyreverse` arrow options"
Should we use namedtuple or dataclass @DudeNr33 ? 😄 It seems like it, but I don't know how hard it would be to do that in pyreverse. Should we create another issue to fix that later ?

_Originally posted by @Pierre-Sassoulas in https://github.com/PyCQA/pylint/pull/7691#discussion_r1010436907_

[2022-11-01 17:37] scottgasch opened #7701 "Pylint doesn't understand imports in "development mode""
If I install a project via pip from PyPi and it is placed under lib/site-packages in my venv, pylint can find/import it just fine:

[code]
But if I install this module from local sources in development mode then pylint can't figure out code that imports it:

[code]

I've tried various workaround involving PYTHONPATH and the system path in pylint's init-hooks and found none that really work well.

[2022-11-01 17:41] Pierre-Sassoulas commented on #7701
pylint generally work well with pip editable installs, there's a problem specific to your installation / environnement, that we'll have a hard time debugging without more details.

[2022-11-01 19:38] DanielNoord commented on #7701
Can you reproduce this outside of `PyPy`? There are many variables here that can potentially cause this (`setuptools`, `pip`, `PyPy`, `venv` etc.) Just trying to see what the common factor is

[2022-11-01 20:43] zifter commented on #6535
I have the same issue.
I'm using to unit test library for multiple python versions - from 3.6 to 3.10.
 pylint 2.13.9 is used to check
And now I'd like to test on 3.11, so I have upgraded unit tests to use python 3.11 (alongside with other versions) and only on py3.11  something when wrong and pylint gives me false positive results:
[code]

I hope this issues will be resolved.

[2022-11-01 20:56] scottgasch commented on #7701
Sorry, I don't understand the request.  My point is that when I install the
pyutils package from PyPi it works and when I install it from a local wheel
in edit mode it doesn't work.  By "reproduce it outside of PyPi" do you
mean: do not install pyutils via PyPi and have it still break?  That's the
status quo.  I don't know how to not install pylint except for via PyPi but
am happy to try that if t

[2022-11-01 21:07] DanielNoord commented on #7701
Oh my bad, I completely misread you question and thought this was happening on `PyPy`.

I think I actually already know what this issue is, namely:
https://github.com/PyCQA/astroid/pull/1752

This is likely a duplicate of https://github.com/PyCQA/pylint/issues/7306. Could you test with a lower version of `setuptools`?

[2022-11-01 21:18] scottgasch commented on #7701
I pinned setuptools at version 63 (was 65.1) and built a new wheel for the
local package then pip installed -e . again.  pylint still doesn't find the
imports.

$ pip list | grep setuptools
setuptools                        63.0.0

$ pip uninstall pyutils
..

$ python -m build
...
Successfully built pyutils-0.0.1b7.tar.gz and
pyutils-0.0.1b7-py3-none-any.whl

$ pip install -e .
...
Successfully in

[2022-11-01 21:20] DanielNoord commented on #7701
Hm, that's weird. Although I must say I have had many issues while working on that PR with getting stuff to reproduce. `pip` doesn't always seem to use the `setuptools` installation you expect it to.
It seems likely that this is a duplicate, but I can't confirm 100% obviously..

[2022-11-01 21:24] scottgasch commented on #7701
Feel free to close as a dupe.  Is the issue understood?  Under my
site-packages I get a json file that seems to act as a link to the actual
code when I install -e.  Is there another methodology for these development
mode installs that works better?

On Tue, Nov 1, 2022 at 2:21 PM Daniël van Noord ***@***.***>
wrote:

[2022-11-01 22:01] DanielNoord commented on #7701
Does that also happen with the lower version of `setuptools`?

[2022-11-01 22:19] scottgasch commented on #7701
Yes.  I just installed setuptools==62.0 and rebuilt the wheel package for
pyutils with python -m build.  Then did a pip install -e . to install it.
The state of ~/venv/lib/python3.9/site-packages/pyutils* is the same as
with higher versions of setuptools.  Namely, it seems to have
a direct_url.json file in there that points at where the code lives.
Pylint doesn't work with this 62.0 based install

[2022-11-02 02:18] fly50789 commented on #7698
![image](https://user-images.githubusercontent.com/17740390/199379738-7c8a75be-237a-4069-984f-80bb81b98b0f.png)

It actually work with tox.ini!!

Thanks your tool to make my program more graceful and stable!!

[2022-11-02 03:06] d0sboots opened #7702 "False positive E1126: invalid-sequence-index from numpy.ufunc.reduce"
### Bug description

[code]

The code runs fine, mypy reports no issues.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No lint issues.

### Pylint version

[code]

### OS / Environment

Debian testing x86_64 GNU/Linux

### Additional dependencies

numpy=Debian version 1:1.21.5-1+b1 (1.21.5)

[2022-11-02 04:40] #7698 closed

[2022-11-02 07:43] Pierre-Sassoulas opened #7703 "Support catching multiple exceptions introduced in pep654 in python 3.11"
### Current problem

This new syntax is wrongly detected as a syntax error right now

### Desired solution

Handle the new syntax.

### Additional context

https://docs.python.org/3.11/whatsnew/3.11.html#whatsnew311-pep654

[2022-11-02 08:01] DanielNoord commented on #7701
Hm, I would need to look into that. I'm almost certain we don't support that `json` file, and I wonder how it ends up there. I feel like I saw recent discussion about using `json` files, but maybe `setuptools` also did so on older versions.

[2022-11-02 13:12] Migoyan opened #7704 "Wrong type detection"
### Bug description

[code]

pylint detect `my_masked_array` type as an `ndarray` although `np.ma.masked_invalid` return a `MaskedArray`.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

pylint should properly detect the type `MaskedArray` and not report an error.

### Pylint version

[code]

### OS / Environment

Debian 10

### Additio

[2022-11-02 13:34] CarliJoy commented on #7601
I also would see this as minor Issue. You are very flexible in how you write your comments, whereas how Black formats stuff is not at all adjustable.

[2022-11-02 14:20] mbyrnepr2 commented on #7704
Thanks for reporting this @Migoyan. This is so similar to https://github.com/PyCQA/pylint/issues/5715 that I think we should close this one as a duplicate.

[2022-11-02 14:20] #7704 closed

[2022-11-02 22:48] jab commented on #6006
Just noticed https://github.com/microsoft/pyright/releases/tag/1.1.278

One more tool (pyright) flipping in this direction, fwiw.

[2022-11-03 04:34] bje- commented on #6992
I have a related issue. I have a pair of classes that both define a method called `reset()`. They both make sense in the context of their own classes. I am using multiple inheritence to bring these two together and recently encountered a bug because the derived class `reset()` forgot to call both parent `reset()` methods. Simplified example appears below:

[code]

I wish Pylint had caught this one

[2022-11-03 09:56] mcapuccini opened #7705 "Warn for static method called on an object"
### Current problem

Hi, I would like to be warned when a static method is called on an object.

Problematic code:
[code]

### Desired solution

I would like to get a warning for `a.my_static_method()`.

### Additional context

_No response_

[2022-11-03 11:05] mbyrnepr2 commented on #7705
Thanks @mcapuccini. Perhaps you could explain your request? I think calling the staticmethod on a class or an instance is ok as per the [Python docs on staticmethods](https://docs.python.org/3/library/functions.html?highlight=staticmethod#staticmethod).

[2022-11-03 12:45] clavedeluna commented on #584
I've closed the related PR. Agreement on that PR is that it isn't worth adding this check since mypy is doing the same thing. Discussion between naive v. non-naive approach in PR.

I think it would be fine to close this issue.

[2022-11-03 14:44] bersbersbers opened #7706 "False-positive (E1130) on the return value of `random.sample`"
### Bug description
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error. Related: #811, of which the `invalid-sequence-index` part seems to be unresolved/have regressed.

### Pylint version

[code]

### OS / Environment

Windows 10

### Additional dependencies

_No response_

[2022-11-03 15:48] clavedeluna commented on #7699
I can take a look at this and see if I can come up with any false positives while changing the code.

[2022-11-03 16:32] clavedeluna commented on #7699
I would assume this test case should not raise the message, given that it doesn't mimic the behavior of any if `break` is removed
[code]

[2022-11-03 17:34] #7610 closed

[2022-11-03 18:01] Pierre-Sassoulas commented on #7699
I think it should raise, the break version is just a verbose way to do any/all but the code without the break benefit from this check even more ! (There should not be anything else in the for loop though) What do you think @areveny ?

[2022-11-03 18:05] KennyChenBasis commented on #4048
What about the related
[code]
? This also has no `no-member` emitted (let me know if I should create a new issue for this).

[code]

[2022-11-03 19:53] clavedeluna commented on #7699
started a draft PR to help iterate over any new test cases.

[2022-11-03 20:11] clavedeluna commented on #7508
I _think_ this issue may have been resolved by https://github.com/PyCQA/pylint/pull/7580 ?

[2022-11-04 08:44] Pierre-Sassoulas commented on #7508
Great catch @clavedeluna, we choose to use py-version in ``may_be_emitted`` in #7580 so the error is now reachable with the right py-version and I'm going to close.

[2022-11-04 08:44] #7508 closed

[2022-11-04 09:00] Pierre-Sassoulas commented on #4048
We *could* raise a no-member for the function that has True as a default param (original example), but we're probably never going to do anything with type information alone (@KennyChenBasis example). mypy does that and it does it well and faster than us. Even #4813 which is our official "become a discount mypy" issue is about taking the type information into account "when inference fail" not all t

[2022-11-04 09:53] #7705 closed

[2022-11-04 10:08] Pierre-Sassoulas commented on #6006
We'll need an option to exclude ``__init__`` for the check if this become widespread. Reopening in order to not duplicate info.

[2022-11-04 10:15] mcapuccini commented on #7705
@mbyrnepr2 Apologies for responding late and for not explaining further. I have updated the description so that it is more clear what clean code should look like... according to my books at least :)

I don't like to see this in my code:
[code]

I prefer this:
[code]

There is no need to instantiate a class in order to call a static method. In Java/Scala I get a warning for doing this kind of stuff

[2022-11-04 10:25] cdce8p commented on #7705
I agree with @mbyrnepr2 on this one. Calling a static method on a instance isn't false per-se.

It's quite difficult to tell if a class is `just` instantiated for the static method call. More often then not you already have an instance and just call the method on it. One can even argue that it will make renaming the class a bit easier as you don't have to update all reference to it.

At best such

[2022-11-04 10:28] cdce8p commented on #3941
Unfortunately, this wasn't actually included in astroid `2.12.11`. I've pinned it for `2.12.13` now.

[2022-11-04 13:12] mcapuccini commented on #7705
There is no need to check that the class is instantiated for the static method, the linter just needs to check that a static method is only accessed statically. This is widely accepted by the Java community, so I don't see why it should be opinionated for Python.

For example the Java compiler outputs this warning:
[code]

I know that the Google Python styling guidelines even discourages using sta

[2022-11-04 13:52] Pierre-Sassoulas commented on #7705
Such a check does not exists in pylint, but it would be possible (relatively easily) to create an external plugin for this.

[2022-11-04 14:12] MarcoGorelli opened #7710 "``sys.argv`` is inferred wrongly as pylint's own values for ``sys.argv`` instead of ``Uninferrable``"
### Bug description

Make file `t.py`
[code]
and run `python t.py 1 2`

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

The W0632 on line 3 looks like a bug, as in this case `sys.argv` is `['t.py', '1', '2']`

### Pylint version

[code]

### OS / Environment

[code]

### Additional dependencies

_No response_

[2022-11-04 14:32] Pierre-Sassoulas commented on #7710
``pylint a.py --enable=all --enable-all-extensions`` on the same code gives: ``left side has 3 label(s), right side has 4 value(s)``, so we infer the right value of ``sys.argv`` with the value given to pylint but it make no sense as we can't know what will be inside sys.argv when the code will be launched.

[2022-11-04 16:15] clavedeluna commented on #7494
Just curious since I've used this msg as an example. Should code using `module-docstrong` such as `@utils.only_required_for_messages("missing-docstring", "empty-docstring")` be updated at some point to use the new name(s)? That way the old name only ever appears in `old_name`. As it stands right now the code / tests are confusing.

[2022-11-04 16:23] Pierre-Sassoulas commented on #7494
We could replace it by the three new names yes (not in tests because sometime we're testing that the old_names work for multiple new name with this message).

[2022-11-04 16:27] clavedeluna commented on #7710
This can still be a `unbalanced-tuple-unpacking` msg but we can somehow pass the extra msg "we can't know what will be in `sys.argv` in advance" as an arg, right?

[2022-11-04 16:30] clavedeluna commented on #7703
Spitballing here, but likely want to look into the exception grouping to be handled for the `broad-exception-raised` / `broad-exception-caught` messages.

[2022-11-04 16:32] Pierre-Sassoulas commented on #7710
Maybe astroid needs to raise an inference error on sys.argv. That would be more accurate and also probably fix pylint in this particular case because if we can't infer we don't raise to avoid false positives.

[2022-11-05 05:19] fmigneault commented on #5286
A situation where performance could matter a lot is when the passed argument is a class that implements `__str__` or `__repr__` to delegate a resource intensive or long computation to be displayed only as needed. Usual string formatting that are proposed would always perform the computation, while the logging argument approach would not if the level is too low.

In that situation, I would argue th

[2022-11-05 07:14] Pierre-Sassoulas commented on #5286
We're allowing both options you just have to change the configuration if you want lazy logging. fstring are better in most project and most situation (and more popular than lazy logging by far). So It's going to stay the default.

[2022-11-05 12:27] clavedeluna opened #7714 "Update Testing Docs regarding Primer"
### Bug description

[Primer testing docs](https://pylint.pycqa.org/en/v2.12.2/development_guide/testing.html#primer-tests) mention `batch_one` and `batch_two`:

![Screen Shot 2022-11-05 at 9 27 00 AM](https://user-images.githubusercontent.com/112832187/200119831-46cd1f0e-15a3-4d4e-91e1-8ac0f43863c7.png)

at the very least, the suggested command with batch_two doesn't run any tests.

but I don't f

[2022-11-05 12:35] jacobtylerwalls commented on #7714
Yes, this is very out of date. Not only is there no longer a batch two, we aren't even running batch one anymore on CI. The new primer is in tests/primer/__main__.py

[2022-11-05 12:38] mbyrnepr2 commented on #7714
https://pylint.pycqa.org/en/latest/development_guide/contributor_guide/tests/launching_test.html#primer-tests

[2022-11-05 12:46] clavedeluna commented on #7714
Ah! No I think I actually made a mistake. The link I provided
https://pylint.pycqa.org/en/v2.12.2/development_guide/testing.html#primer-tests
is clearly for an old version. Google just took me to that and I didn't notice.

Given https://pylint.pycqa.org/en/v2.15.5/development_guide/contributor_guide/tests/launching_test.html exists and has the correct docs, I'll close this issue.

Thanks for clari

[2022-11-05 12:53] clavedeluna opened #7715 "Add confidence levels to exceptions checkers"
### Current problem

Messages in [exceptions.py](https://github.com/PyCQA/pylint/blob/main/pylint/checkers/exceptions.py) can use confidence level.

Of course so many other locations need it too, but doing so iteratively makes the most sense.

### Desired solution

Update code. I have a commit for this so just creating a ticket to link to.

### Additional context

_No response_

[2022-11-05 12:54] #7494 closed

[2022-11-05 12:56] jacobtylerwalls commented on #7714
That documentation is still out of date. It only refers to the old primer.

[2022-11-05 13:19] clavedeluna commented on #5
Re-visiting old issues. Reproduced this with

[code]

[code]

while Python output is

[code]

[2022-11-05 13:24] clavedeluna commented on #458
Re-visiting old issues. Can't reproduce original issue.

[code]

now reports

[code]

which suggests to me this issue can be closed.

[2022-11-05 13:26] DanielNoord commented on #458
This is because we allowed `_exit` I think. This is still an issue I believe.

[2022-11-05 13:53] clavedeluna commented on #458
I don't see that happening? Running on original code but with this command
[code]

Tells me `os._exit` is still considered for protected-access.

Just for the heck of it I updated the code to
[code]
and same result

`test.py:5:0: I0021: Useless suppression of 'protected-access' (useless-suppression)` so it does feel like this original issue is gone.

[2022-11-05 14:18] clavedeluna commented on #1077
Revisiting this issue. Trying to produce an error in python that would correspond to the ask for a warning. Is the ask because both module and function are named the same thing? Is it due to the relative import?

`from .send import send`  would result in `ImportError: attempted relative import with no known parent package` but it has nothing to do with the module / func name.
if you instead do `fr

[2022-11-05 14:26] clavedeluna commented on #1144
This is very much related to used-before-assignment
[code]

but since it's related to functions, I guess we need a new checker for `undefined-function` / class, etc? Or can this fit into a currently existing msg?

[2022-11-05 14:38] clavedeluna commented on #2441
Revisiting old issues. Trying to reproduce this with
[code]

using pylint 2.16.0-dev and astropy-5.1.1, with no pylint config, we now get
[code]

which look pretty reasonable.

And to try to minimize the example, I linted
[code]

and no pylint messages. Though maybe this simplifies too much are removes the potential issue.

The original issue as stated isn't reproduced, so maybe this is worth clos

[2022-11-05 14:39] Pierre-Sassoulas commented on #2441
Thank you for investigating and helping triage issue @clavedeluna !

[2022-11-05 14:39] #2441 closed

[2022-11-05 14:43] Pierre-Sassoulas commented on #1077
If did not make the crowd go wild since 2016 but it seems like a reasonable check to prevent strange error with unexpected order of import going unnoticed.

[2022-11-05 14:48] DanielNoord commented on #458
Oh that's weird. I don't really understand how this works now then, but I guess we can close it.

[2022-11-05 15:17] clavedeluna commented on #458
yeah, with this kind of old stuff, worst case it gets reopened.

[2022-11-05 15:19] #7715 closed

[2022-11-05 15:27] clavedeluna commented on #2840
Not to be pedantic but I think this needs to raise `unused-variable`. In case that's not obvious to other readers.

[2022-11-05 15:30] vapier commented on #458
if pylint no longer warns about `os._exit()` usage, i'm fine to close.  that's all i really care about.

[2022-11-05 15:37] clavedeluna commented on #3106
Related to checker `bad-file-encoding`, but in this case we're saying of regex matches for utf-8, pylint should instead output a new message, something like `useless-encoding` or `unnecessary-file-encoding`.

[2022-11-05 15:58] clavedeluna commented on #3102
Started to look at this issue, at least to be able to tackle the very first test case which seemed trivial, but it isn't quite so (at least for me right now). Leaving some more test cases here for the future.

[code]

[2022-11-05 16:06] #458 closed

[2022-11-05 16:45] thisch opened #7720 "undefined-variable regression since 2.6.0"
### Bug description

Since 2.6.0 pylint reports a false positive `undefined-variable` warning when local decorators are used for a  class inside a class.

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No undefined-variable warning

### Pylint version

[code]

### OS / Environment

ubuntu 22.04

### Additional dependencies

_No

[2022-11-05 16:59] mbyrnepr2 commented on #7720
Thank you @thisch for the report. Unfortunately I can't reproduce it easily; could you let us know what `Converter` looks like?

[2022-11-05 17:22] thisch commented on #7720
👍🏿 . Note that the module `myconverter` doesn't really exist on my host, but I can still reproduce it.

Note that I can fix the issue by moving the instantiation of the converter class outside of the class `MyContainer`. This is not a big problem. I just wanted to inform you about the regression

[2022-11-05 20:35] areveny commented on #7699
I think these cases, with and without break, all make a lot of sense for raising the message. The draft PR looks good so far.

[2022-11-06 09:12] MalanB commented on #1554
Hi Folks, I was working on pandas repo for a PR and wanted to run pylint. It's a pretty big repository and Pylint runs for very long time without showing any progress.

I would like to add a progressbar or STDOUT the file being checked in Pylint. Do you have any concerns over it?

[2022-11-06 09:35] Pierre-Sassoulas commented on #1554
This is a high priority issue so any help is appreciated 😄

In order to be able to handle parallel builds a specification still needs to be made. We have some issues with parallelization however, so maybe other maintainers would agree to not handle parallel builds until #2525 is fixed ?

An option also need to be defined so it's possible to remove this output. I don't want to add a dependency to `

[2022-11-06 09:54] MalanB commented on #1554
Thank you. I will wait till a spec has been defined and agreed by all maintainers.

[2022-11-06 18:42] Pierre-Sassoulas commented on #1554
A person pushing for this feature with a design proposal or a proof of concept would accelerate the implementation a lot. Maintainers are all busy running in order to stand still (new interpreters, upgrading dependencies, reviewing merge requests, triaging issues, releasing, fixing crash and bugs, etc.). As you probably saw I only reacted to your comment even if the issue is high priority :)

[2022-11-06 21:30] emcd commented on #6242
I have also run into this bug. It is counting the number of branches for each way that the scanned file is being reached by Pylint. So, reaching the same module two different ways doubles the count of branches in each of its functions.

Here is a simple reproduction.

1. Assume that I have the following file, `bugs/pylint_branches.py`:
[code]
2. Running `pylint --report n --score n --max-branches

[2022-11-06 21:49] emcd commented on #4053
I think that this bug is also related to #6242 .

[2022-11-06 22:10] Pierre-Sassoulas commented on #6242
Thank you for investigating @emcd, do you want to contribute a fix ?

[2022-11-07 01:55] sam-s opened #7724 "False positive `comparison-with-callable` when comparing two callables"
### Bug description

`W0143(comparison-with-callable)` is issued for no good reason, when both parts are callable:
[code]
here the clear intent is to compare callables, so the warning appears to be unnecessary.
While I can disable it, it seems that it should not be issued when _both_ parts of the comparison are callable.

### Configuration

[code]

### Command used

[code]

### Pylint output

[cod

[2022-11-07 07:55] DanielNoord commented on #7724
There is no way for `pylint` to infer that `f` is a callable, even if you were to add type information. So, although I do think we should not raise `comparison-with-callable` for callable comparisons we would need a piece of code that `pylint` would actually be able to understand.

Sorry for not being able to help, but I'm closing this issue until somebody has a reproducer that we would be reasona

[2022-11-07 12:32] clavedeluna opened #7727 "Refactor: update code to use new msg name"
### Current problem

In https://github.com/PyCQA/pylint/issues/7494 I found that "missing-docstring", a msg name that's been replaced by three more specific names, is still used in some places in the code.

### Desired solution

Update source code to use new msg names so it's less confusing

### Additional context

_No response_

[2022-11-07 12:53] #7727 closed

[2022-11-07 15:41] sam-s commented on #7724
But `f` _is_ called in this function!
I thought it was enough to infer that it is callable.

At any rate, what do you suggest I do to avoid the warning? Annotate? or replace `f == f0` with `f.__name__ == f0.__name__` ?

thank you.

[2022-11-07 16:10] Pierre-Sassoulas commented on #7724
We don't have the definition of ``f`` and we'd need #4813 to be able to take the type annotation into account. I think you should disable the message locally, maybe on the whole project if you use this design pattern a lot (I would not recommend changing the code only to appease pylint about a false positive).

[2022-11-07 16:21] sam-s commented on #7724
How about restricting the warning to the case when you *can* infer that one side in the comparison *is* callable while the other is *not*?

[2022-11-07 18:55] Pierre-Sassoulas commented on #7724
Sure we usually favor false negatives when the inference fail, we should also do that here.

[2022-11-07 19:08] clavedeluna commented on #3106
I don't think this is the regex we want, given it would also match `# coding: iso-8859-1`.

[2022-11-07 19:57] Pierre-Sassoulas commented on #3106
If we want to push the use of utf8 for everything then it make sense to prevent any encoding specification at all. I think utf32 is better if you have a lot of non ascii characters but mainly pushing hard for utf8 make sense.

[2022-11-08 00:45] jie-huang opened #7729 "Cannot detect enum method in protocol"
### Bug description

test.py
[code]

pylint always reports
`Method 'weekday' has no 'value' memberpylint(no-member)`

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

It should not report error because it is correct to run

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-11-08 07:25] enaydanov opened #7730 "Irrefutable pattern doesn't count properly for a calculation of a function return type"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

--------------------------------------------------------------------
Your code has been rated at 10.00/10 (previous run: 0.00/10, +10.00)

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-11-08 10:08] clavedeluna commented on #2146
I believe this is a duplicate of #3102

[2022-11-08 10:15] clavedeluna commented on #7548
I'm able to reproduce. Worth noting, though, that even PyCharm registers `Path` as unused

[2022-11-08 10:23] clavedeluna commented on #333
Unless this requires some sort of special config, I'm not able to reproduce the `no-member`  issue.

[2022-11-08 10:29] clavedeluna commented on #2873
Is this issue a duplicate of #4987 , vice versa?

[2022-11-08 11:04] Pierre-Sassoulas commented on #2873
Closing as duplicate of #4987 which is more detailed and pinned, thank you @clavedeluna .

[2022-11-08 11:04] #2873 closed

[2022-11-08 11:08] Pierre-Sassoulas commented on #333
I manged to reproduce this on july the fourth, so it probably need scipy installed if I had to guess.

[2022-11-08 11:09] clavedeluna commented on #2557
So `unused-protected-global` seems like a new good checker here. But what about private globals? Should we check for both `_BOO` and `__BOO`?

[2022-11-08 11:16] clavedeluna commented on #333
I indeed have scipy installed

[code]

[2022-11-08 11:19] Pierre-Sassoulas commented on #333
My bad I misread the label I added. I just triaged it and added the "need reproduction" label. Since this july triage frenzy took place we had 100 issues opened and we're back at 650+, it's a never ending thankless task I'm glad you're helping 👍

[2022-11-08 11:19] #333 closed

[2022-11-08 11:24] Pierre-Sassoulas commented on #2557
I think both are nice. ``_BOO`` can be a protected variable at the package level, I think the check would be costly (we have to check the whole repo for each global ?), Doesn't sound like something you want to launch all the time. The ``unused-private-global-variable`` is probably the most value / computation here and could be launched all the time.

[2022-11-08 11:33] Pierre-Sassoulas commented on #2146
Closing as duplicate because the discussion in the other issue is more detailed, thank you @clavedeluna .

[2022-11-08 11:33] #2146 closed

[2022-11-08 12:16] clavedeluna commented on #333
@Pierre-Sassoulas haha yes this is why I'm going thru the issues, 650 is giving me anxiety!

[2022-11-08 12:40] clavedeluna commented on #3705
Trying to reproduce it but the original issue does not show up. Here's code with `from class_generator import ExternalClassGenerator` removed since idk what that is

[code]

results in

[code]

so original issue of false positive on `test_one` no longer shows up (good!) but the previously reported `no-self-use` on `my_sub_method` no longer shows up. Though that actually seems fine to me. a method

[2022-11-08 12:51] Pierre-Sassoulas commented on #3705
This time I think I reproduced this issue june 30. ``no-self-use`` is now an extension did you load it with ``--load-plugins`` ?

[2022-11-08 14:21] obi1kenobi commented on #3706
Unfortunately neither of us works at the company or with the codebase where we encountered this issue anymore. In fact I think neither of us really writes Python much anymore :(

[2022-11-08 14:55] Pierre-Sassoulas commented on #3706
Thank you for the answer @obi1kenobi. I'm going to close as a lot happened performance wise since pylint 2.5.3.

[2022-11-08 14:55] #3706 closed

[2022-11-08 15:11] Pierre-Sassoulas commented on #3705
I generally copy paste the example in a ``a.py`` file then ``pylint a.py --enable=all --enable-all-extensions`` when trying to reproduce :)

[2022-11-08 15:27] tushar-deepsource commented on #7607
Hey! Do we have an optimistic schedule for 3.0 yet? Something along the lines of "1 month from now" or "6 months from now"?

[2022-11-08 15:44] clavedeluna commented on #3670
I wonder if we can just do a special case for `__new__` here, since it appears that  even Pycharm never marks args to it as unused (in gray) while for `__init__` it does

![Screen Shot 2022-11-08 at 12 43 44 PM](https://user-images.githubusercontent.com/112832187/200610108-b1cccb32-9377-4d84-bc52-be35ef773e70.png)
![Screen Shot 2022-11-08 at 12 44 06 PM](https://user-images.githubusercontent.com/1

[2022-11-08 15:49] e-gebes commented on #6931
It looks like there is no explicit mention of it, but it might be implicitly meant with "_Configuration options of invalid name checker are significantly redesigned._". Above, @jacobtylerwalls is referring to this part with "_It's in the 1.8 release notes._".

[2022-11-08 18:59] Pierre-Sassoulas commented on #7607
There's no planning, but I would say it's more likely 6 months from now or more, depending on the availability of maintainers and the intensity of merge request proposed by contributors that we'll also have to deal with in 2.x while preparing 3.0.

[2022-11-08 19:36] felipe-olmos-orange opened #7733 "Disabling line-too-long does not work with triple-quoted-strings"
### Bug description

When `fail-on` contains `line-too-long` some long triple-quoted-strings are reported by pylint even after a block disable.
[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

--------------------------------------------------------------------
Your code has been rated at 10.00/10 (previous run: 0.00/10, +10.00)

### Py

[2022-11-08 20:08] mbyrnepr2 commented on #7729
Thanks for the report. I think it isn't an issue with Enum or Protocol per-se.
Pylint doesn't know that parent class is referencing a name defined in the child class; here's a simplification:
[code]

[2022-11-08 21:47] clavedeluna commented on #3656
Reading back thru this and I think all test cases are valid to always raise bare-except

not sure I agree with this... I actually don't understand why the [current code](https://github.com/PyCQA/pylint/blob/main/pylint/checkers/exceptions.py#L545) means that this code

[code]

I personally would still want to have that flagged!

[2022-11-08 21:57] clavedeluna commented on #3857
I'm wondering why we would want to flag the test cases mentioned in the issue with `f-string-without-interpolation` given that when evaluated it does evaluate to a form of interpolation:

[code]

so even though both `y` and `z` have two parts, they're concatenated.

[2022-11-08 22:04] clavedeluna commented on #3832
I looked into this and the reason is decidedly because `prev`, assigned as `prev: typing.Optional[typing.List[str]] = None` is initialized as None. While `unsupported-assignment-operation` is a red herring, it's telling the author to not initialize a value intended to be a list to a `None` type, instead initialize to `[]`.

Would be nice if pylint had (does it have??) instead a warning to let us k

[2022-11-08 22:52] DanielNoord commented on #7729
Isn't the issue with the `Protocol` as in: it says that `sweetness` or `weekday` should be defined?
Then again, at runtime the `Protocol` has no effect so in theory this would still crash in the parent class and therefore the message is valid?

[2022-11-08 23:04] DanielNoord commented on #3857
Can `y` be `'foo' f'{x}'`? Or can't you auto add an f-string with a normal string?

[2022-11-09 01:08] niander commented on #7306
Ok, so I was able to confirm that `setuptools<63.0.0` seems to fix the issue. @DanielNoord I think I know why sometimes it is hard to know which "setuptools" pip is using. I found out that doesn't matter which version I have installed in my venv. Because I have `pyproject.toml` (I also have` setup.cfg` and `setup.py`), the newer versions of `pip` seems to always load `pyproject.toml`. And, because

[2022-11-09 03:58] jie-huang commented on #7729
There should be a bug in pylint.

Since weekday is a **method** in Event, pylint reports method has no 'value' member. That makes sense.
But, it **should** report error when `self.weekday = WeekDay.Monday`.

[2022-11-09 05:36] scottgasch commented on #7701
Thanks Niander.  Setting that envvar before doing the pip install -e .
works for me too.  Under the venv's site-packages there's an egg-link file
now instead of that directory with a JSON file.

On Tue, Nov 8, 2022 at 4:44 PM Niander Assis ***@***.***>
wrote:

[2022-11-09 08:20] Pierre-Sassoulas commented on #7701
I'm closing as a duplicate of https://github.com/PyCQA/pylint/issues/7306

[2022-11-09 08:20] #7701 closed

[2022-11-09 11:16] clavedeluna commented on #3857
I don't think I understand your question. Can you give examples?

[2022-11-09 11:19] orSolocate commented on #7733
I would say that the `# pylint: disable=` should be stronger than the the pylintrc config.
Even in the case where you plug in your rc file in the command itself, e.g.:
`pylint  --rcfile=<file>  code.py`
I think the disable module line should be stronger.

@felipe-olmos-orange  - did you try to have the disable on this specific line? e.g.

[code]

Also, did you try to disable it in the rcfile and e

[2022-11-09 11:58] felipe-olmos-orange commented on #7733
@orSolocate The problem is that the string `# pylint: ...`  will make part of the triple-quoted-string because they are multi line.

[2022-11-09 12:02] DanielNoord commented on #3857
I tested this myself. It is indeed a false negative:
`f'foo' f'{x}'` should/could be `'foo' f'{x}'`

[2022-11-09 13:09] clavedeluna opened #7734 "False negative for `unnecessary-dict-index-lookup` when inside function"
### Bug description

I believe this code should emit `unnecessary-dict-index-lookup` message.

[code]

if I instead take the code out of the function AND remove the if statement, it does work

[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

************* Module test
test.py:1:0: C0114: Missing module docstring (missing-module-docstring

[2022-11-09 13:10] clavedeluna commented on #7734
It does look like all the test cases in `tests/functional/u/unnecessary/unnecessary_dict_index_lookup.py` are module-level, so we should add function and class context tests and support for that.

[2022-11-09 14:58] tushar-deepsource opened #7735 "False positive"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No issue raised

### Pylint version

[code]

### OS / Environment

MacOS Monterey

### Additional dependencies

_No response_

[2022-11-09 15:34] BlueMagma2 opened #7736 "False Positive when using function descriptors"
### Bug description

If I want to create a classmethod from a function on an existing class, pylint wrongfully report an error

Take the following code example
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No error should be returned

### Pylint version

[code]

### OS / Environment

Ubuntu 20.04.5 LTS

### Additional dependen

[2022-11-09 17:58] LvffY commented on #2293
Seems like we could look at a [third party plugin](https://github.com/omegacen/pylint-sonarjson) to achive our goal.

If anyone has another to do this, may be share it here ?

[2022-11-09 19:14] tarsius opened #7737 "Please consider maintaining the Emacs-Lisp files in a separate repository"
### Current problem

This repository contains one or more Emacs-Lisp libraries, which are distributed on [Melpa](https://melpa.org) for easy installation using Emacs' official package manager (`package.el`) and are also mirrored on the [Emacsmirror](https://github.com/emacsmirror).

This project/repository is about much more than just the elisp libraries.  These libraries are tucked away in some "

[2022-11-09 19:39] #7690 closed

[2022-11-09 19:40] Pierre-Sassoulas commented on #7737
I agree with everything you said. Among the current active maintainers we don't have ANY idea what to do when an emacs related issue is opened so we don't do anything. Another point to add is that we do not seem to have any emacs user (?), or at least no one read the documentation : https://pylint.pycqa.org/en/latest/user_guide/installation/ide_integration/flymake-emacs.html. We added that warning

[2022-11-09 20:08] #5234 closed

[2022-11-09 20:16] Pierre-Sassoulas opened #7738 "Better primer tests : more reliable, easier to understand, and more stable"
### Current problem

- New false positives can appear when a commit is added on one of the primed repository. we ignore ir when it's unrelated with the current MR then we never think about it again
- When the primer crash there's no message given in the output, https://github.com/PyCQA/pylint/pull/7685#issuecomment-1309303302
- General lack of stability of primer due to caching or other issues
- W

[2022-11-09 20:19] tarsius commented on #7737
We can also add it to the [Emacsorphanage](https://github.com/emacsorphanage), which I created for such situations. I would prefer if we could move this along quickly. Maintaining the Emacsmirror and related projects is a lot of work, and I have limited time for individual packages, especially if they fall into the "probably nobody uses this anymore" category.

So I would move the package from the

[2022-11-09 20:20] DanielNoord commented on #7738
I don't really understand this. The PR run should check that the commit it is running on is the same as on Main, so any new messages (if all works well) should come from the PR.
If this is indeed happening it seems like the check for commits it not good enough.

This probably warrants its own issue as it is easily fixable and self contained.

We would need to do some more investigation as to why t

[2022-11-09 20:27] Pierre-Sassoulas commented on #7737
Sounds good !

No one is qualified 😄 I'm okay with nuking everything regarding emacs (except the doc specifying where the emacs utilities now lives). I'll have to think a little about epylint. Are you making design choice that not everyone agree with in the emacs world ? I.e. Do you know if someone is using epylint and not the solution you maintain ?

[2022-11-09 20:35] Pierre-Sassoulas commented on #7738
See https://github.com/PyCQA/pylint/pull/7725#issuecomment-1309015062

I mean in a PR like this one : #7723 , the primer says:

The following messages are now emitted:

<details>

1) compare-to-zero:
*"open_brackets == 0" can be simplified to "not open_brackets" as 0 is falsey*
https://github.com/PyCQA/astroid/blob/4acf5785c54f4ccb8f41402991f6ddc5d8b28b89/astroid/rebuilder.py#L198
</details>

The

[2022-11-09 20:45] DanielNoord commented on #7738
Ah that last change seems good, although again, probably deserves it's own issue as these "main tracking issues" never seem to go anywhere (there is a very similar issue about the primer just like this open still).

With respect to that PR and comment: we would need to investigate what's going on there. Both the Main and PR run report to be running over the same `sentry` commit. It's probably some

[2022-11-09 20:49] tarsius commented on #7737
Great, point at https://github.com/emacsorphanage/pylint as the new home.

Have you ever read `emacs-devel`? Everyone disagrees with every thing.

I don't know. Does installing `pylint` also install "epylint", at least on some distributions? If so, then yes, we can only continuing to do that, by continuing to do that. On the other hand Melpa, or more generally `package.el`, is very established and

[2022-11-09 20:51] #7547 closed

[2022-11-09 21:04] Pierre-Sassoulas commented on #7737
Actually laughed out loud at that.

Sounds great, you seems more capable than me of dealing with angry emacs-devel dwellers.

epylint is an entrypoint that is installed alongside pylint since forever. We could deprecate and see if someone complain. would  https://github.com/emacsorphanage/pylint be able to package epylint in an epylint package ? (project name is actually free : https://pypi.org/se

[2022-11-09 21:10] Pierre-Sassoulas commented on #7738
I like the checklists around a topic because we have 650+ issues and things get lost or duplicated easily and conversation happens all over the place (when and where a problem happen). So some centralization for subject with a lot of things to do like primer or python interpreters or releases helps imo. There's definitely going to be a separate (even multiple) pull request for each though. We can

[2022-11-09 21:32] tarsius commented on #7737
If I understand correctly it is a wrapper around `pylint` that deals with the peculiarities of `flymake`. I.e., it serves no purpose if one isn't using `flymake`. So I would argue that it should live along-side `pylint-flymake.el`.

On the other hand changes to `pylint` might make it necessary to make changes to `epylint` and I wouldn't be qualified to make those. I propose that you get access to

[2022-11-09 21:39] Pierre-Sassoulas commented on #7737
Removing epylint is a breaking change so we'll deprecate before removing for real that but other than that I don't mind if it's not distributed through python packaging, (I don't know how it's supposed to be used to be honest.)

Sounds good, but yeah I'm not using emacs myself so it's best if someone using emacs push for it. I can try to answer pylint related question though and we're trying to fi

[2022-11-09 21:43] clavedeluna commented on #3857
Wondering what an approach to fixing this would be, given that

[code]

and
[code]

so both `f'foo'` and `'foo'` register as Const.str nodes, so there's no obvious way to distinguish them. Is this something that needs to happen in astroid?

[2022-11-09 21:45] DanielNoord commented on #3857
Well that's interesting. This might be hard to fix then: there is no good way to determine what qualifiers a string has before it (`r`, `f` or any others).
I didn't know the `ast` automatically transformed them into `Const`.

[2022-11-09 21:53] mbyrnepr2 commented on #7729
I think we can agree that it is valid Python but we need to decide if we want to suppress this message for a scenario like this or suggest something else. The `mypy` output is interesting:
[code]

[2022-11-09 22:25] clavedeluna commented on #4739
This is still reproduceable

[code]

[2022-11-09 22:47] clavedeluna commented on #7714
See https://github.com/PyCQA/pylint/pull/7685#issuecomment-1309387417 for how to run primer

[2022-11-10 08:28] Pierre-Sassoulas commented on #7733
Closing as I can't reproduce in latest pylint. pylint 2.9.6 is really old, you should upgrade.

[code]

[2022-11-10 08:28] #7733 closed

[2022-11-10 08:54] Pierre-Sassoulas opened #7741 "Add Python 3.12-dev to Github actions"
### Current problem

We do not test 3.12 in the CI yet.

### Desired solution

Add 3.12-dev when github actions are up to date and the 3.12 first beta is released. [The first beta release](https://peps.python.org/pep-0693/) is expected on `2023-05-08` so we'll need to wait a bit.

### Additional context

https://github.com/PyCQA/pylint/pull/7732

[2022-11-10 09:21] mbyrnepr2 commented on #7714
Would it be an idea to add the primer commands to tox and document how to run the primer using tox?

[2022-11-10 09:32] felipe-olmos-orange commented on #7733
I confirm that with pylint 2.14.5 the issue dissapears. Thanks!

[2022-11-10 09:53] Pierre-Sassoulas commented on #7714
That could work but primer are slow and tox also make things slower.  (We'd have to check that the primed repoes are not downloaded by tox each time). I guess new contributor would appreciate to have a ``tox -e primer`` command and not having to read the full doc, and maintainer will know the faster command.

Regardless of what we do to make it easier to launch primer, we can close this issue once

[2022-11-10 10:33] tushar-deepsource opened #7742 "Crash: `ClassDef` has no attribute `is_abstract`"
### Bug description

Code:
[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No crash

### Pylint version

[code]

[2022-11-10 10:47] clavedeluna commented on #7714
I would be all for documenting the full commands
[code]

while also adding to tox and indicating both can be used.

As a frequent contributor, it took me waaay to long to figure out how to run primer locally...

[2022-11-10 10:55] tushar-deepsource commented on #7742
imo, if it shows up in Pylint, it should stay in Pylint.
It should be closed when pylint makes a release with the new astroid version.

[2022-11-10 11:09] clavedeluna commented on #5361
Investigating this and trying to translate the context into an actionable. Is the new consensus that any test case **except  the one with startswith((** in `tests/functional/s/superfluous_parens.py` which contains `((` and does not report `superfluous-parens` should now do so?

[2022-11-10 11:15] Pierre-Sassoulas commented on #7714
Also it should probably be launchable with a single command and no argument (``python tests/primer/__main__.py``).

[2022-11-10 11:23] DanielNoord commented on #7714
It was a conscious decision to separate the commands to be able to easily reuse currently cloned project.

We could add an `full-run` parser but good documentation would probably be more effective and easier.

[2022-11-10 11:54] Pierre-Sassoulas commented on #7714
Sure and it's a good thing, but we can auto-detect that the repositories were already cloned.

[2022-11-10 16:18] Pierre-Sassoulas commented on #7738
The primer job is failing on all pipeline lately with the same message in the "check cache" step, any idea @DanielNoord @cdce8p ? https://github.com/PyCQA/pylint/actions/runs/3437842348/jobs/5733137039:

[code]

[2022-11-10 18:08] cdce8p commented on #7738
The project cache restore from `main` failed. Looking at the commit and action history, it seems like the failures started after `music21` was moved in https://github.com/PyCQA/pylint/commit/0c2fe7f1ff0f2bcd29feee178d14e0e4c78ae083. Could you try if merging `upstream/main` in the PRs fixes the issue?

[2022-11-10 19:58] clavedeluna commented on #5797
I'll be working on this.

[2022-11-10 20:40] #5478 closed

[2022-11-10 23:04] orSolocate commented on #7636
I added a PR which also takes care of the `Optinal[None]` case, as it seems like a private case of `Union[None, None]`.

@Pierre-Sassoulas  - Is it possible in my functional test to raise 2 same messages on the same line? I want to add this line to the test:
`ANSWER_6: str | int | str | bool | bool = 5`

[2022-11-11 08:17] socketpair commented on #4542
@DGarciaMedina how do you do ?

[2022-11-11 08:35] GideonBear opened #7748 "`while_used` checker shouldn't report `while True`"
### Current problem

Currently, the `while_used` checker reports `while-used` for a `while True` loop:
[code]
[code]
The documentation says:

Which is untrue for `while True` loops.
It is possible with an infinite generator, but `while True` makes much more sense.

### Desired solution

The `while_used` checker should not report an error for a `while True` loop.

### Additional context

`pylint --

[2022-11-11 09:04] Pierre-Sassoulas commented on #7748
This goes to show that even the simplest of checker end up having some maintenance attached to it 😄

[2022-11-11 09:16] GideonBear commented on #7748
@Pierre-Sassoulas Can I try to fix this and submit a PR?

[2022-11-11 09:23] Pierre-Sassoulas commented on #7748
Sure thank you for proposing ! I'm assigning you to the issue :)

[2022-11-11 09:52] Pierre-Sassoulas commented on #7636
ANSWER_6: str | int | str | bool | bool = 5

Yes you can do:
[code]
See : https://pylint.pycqa.org/en/latest/development_guide/contributor_guide/tests/writing_test.html#functional-tests

I had to search for it, I could not find it by navigating, so the doc probably still need a reorg :(

[2022-11-11 09:56] Pierre-Sassoulas opened #7749 "Organisation of the dev/contributor documentation is hard to understand"
### Question

The development guide is for plugin creator and the contributor guide is for pylint contributor but it's unclear what is supposed to be in [How To Guides](https://pylint.pycqa.org/en/latest/development_guide/how_tos/index.html) and [Technical Reference](https://pylint.pycqa.org/en/latest/development_guide/technical_reference/index.html). There's two places where information can be so

[2022-11-11 13:01] pan64 commented on #7523
additionally
[code]

[2022-11-11 15:08] clavedeluna commented on #4792
I'll work on this issue

[2022-11-11 17:44] maxwrlr commented on #3199
@MarcSkovMadsen [Sure](https://github.com/maxwrlr/monaco-python).

[2022-11-11 17:53] jacobtylerwalls commented on #7748
I'd like to invite more discussion on this. I thought of part of the point of `while-used` was to help opinionated code owners reject all uses of `while` no matter what. I'm not sure we should start carving out special cases.

[2022-11-11 18:31] ramiro050 commented on #7737
Thanks for working on this, @tarsius! The plan outlined seems perfectly reasonable to me.

[2022-11-11 18:43] Pierre-Sassoulas commented on #7748
I checked because I had the same afterthought than @jacobtylerwalls. Initial implementation was in #4367 and we did not talk about it BUT the same contributor implemented another opinionated check around the same time where we definitely had this argument. (mandatory ternary. We started to design complicated rules for when a ternary should be used exactly then concluded that we'd better keep it si

[2022-11-11 18:53] jacobtylerwalls commented on #7748
Exactly. My thought is that there are very few users of `while-used` that would want to carve out a huge exception for one of the most common use cases for `while`.

[2022-11-11 21:56] tarsius commented on #7737
I've recreated the repository using `git filter-repo --source /tmp/pylint --target /tmp/pylint-el "--path" "elisp/pylint.el" "--path" "elisp/pylint-flymake.el" "--path" "pylint/epylint.py" "--path-rename" "elisp/pylint.el:pylint.el" "--path-rename" "elisp/pylint-flymake.el:pylint-flymake.el" "--path-rename" "pylint/epylint.py:epylint.py" "--prune-empty=always" "--prune-degenerate=always"` and made

[2022-11-11 22:01] Pierre-Sassoulas commented on #7737
The result look pretty good, I like how you preserved the history selectively, that's neat 👍 This issue can be closed when we merge the pylint side's cleanup now, right ?

[2022-11-11 22:09] tarsius commented on #7737
For simple cases like this `git filter-repo` works pretty well, but don't try it on emacs' repository.

Yes, but please ping me when you are done. Previously `pylint-flymake.el` assumed `epylint` was on `$PATH`. It still defaults to that behavior, but if that does not succeed it used the `epylint.el` from the directory same directory it lives in. Once you have unpublished `epylint`, it should do o

[2022-11-11 22:11] tarsius commented on #7737
I would like to create a tag, what should I use?

[2022-11-11 23:37] orSolocate commented on #7749
+1 to separate user/developer guide from contributor guide.

[2022-11-12 01:05] LefterisJP commented on #4739
yeah we still have this issue, but forgot about it since we just add pylint: ignore for it. If you guys figure it out at some point it would be really appreciated.

[2022-11-12 06:51] GideonBear commented on #7748
I agree that the plugin can be used to ban while loops entirely. The reason I thought of this as a false positive was because of the explanation of the error: "Unbounded while loops can often be rewritten as bounded for loops."
I don't know the internals of pylint, but would it be possible to either separate this into two error codes (so one can be ignored if wanted) or add a configuration option

[2022-11-12 07:12] Pierre-Sassoulas commented on #7748
The configuration option would be a middle-ground yes (default should be "don't allow constant", to not create a breaking change).

[2022-11-12 11:42] orSolocate commented on #7748
I agree with the configuration solution. It is more serious to have this code unintentionally than having this False Negative, when it rises as False Negative you just edit your config file and `pylint` skips it. We can explain in the docs that If you intend to have infinite loops you should add the `allow-const-while` flag in the config file, e.g. in gaming as mentioned or embedded applications.

[2022-11-12 11:45] DanielNoord commented on #7748
Can't you just do `for _ in itertools.count()`? If you're disallowing `while` loops (which imo are perfectly valid) you can expect to need to use some weird other patterns.

[2022-11-12 11:53] orSolocate commented on #7735
Does re-ordering the import line solves the issue? see [this SO issue](https://stackoverflow.com/questions/45987473/pylint-ungrouped-imports-warning).

[code]

[2022-11-12 12:22] GideonBear commented on #7748
That's true, but at least for me the point in banning while loops is to prevent using them where a for loop is more pythonic. IMO, `while True` is still more pythonic than `for _ in itertools.count()`. If you're incrementing a value each iteration, then yes, `itertools.count()` would be better, but that's not for every while loop.
That makes me think about it again, because making an exception for

[2022-11-12 12:35] GideonBear commented on #7748
Then the simplest would be to just ban all while loops, so you can manually ignore the ones you know can't be rewritten as for loops, but then we're right back where we started.

Maybe there could be a configuration flag (something like `while-used-strict`) which is on by default (or `while-used-loose` that's off by default, I don't know), that if on reports every use of `while`, and if it's off,

[2022-11-12 13:06] DanielNoord commented on #7748
Imo, that makes the most sense actually. If you consciously disallow legitimate features of Python I think it is to be expected that you need to add some disables somewhere.

I'm starting to wonder if we should have this extension in the first place. We accepted it as we thought it wouldn't create much maintenance cost as it was relatively simple. This issue shows that that might not actually be t

[2022-11-12 17:06] tushar-deepsource commented on #7735
@orSolocate even if it does, there's always this prblem:

[2022-11-12 19:40] clavedeluna commented on #3327
I'm able to reproduce this exactly as stated. @AWhetter if you have a fix commit, it would be worth PR-ing!

[2022-11-12 20:18] clavedeluna commented on #4836
I'll work on this

[2022-11-12 20:40] Pierre-Sassoulas commented on #7735
As the example where there is an actual false positive is very contrived I'm staring to think this is one case where a disable is warranted. We're going to have a lot of false negative otherwise. Waiting for other maintainers opinion.

[2022-11-12 21:22] Pierre-Sassoulas commented on #4836
@DanielNoord I think ``reimported`` is different than something like ``import-name-clash``or ``reimport-shadowing", "reimported" feel like what should be raised only for:
[code]
Which is a lot less problematic than shadowing another import like in:
[code]
I think we should separate the two use case, with a different message for each, what do you think ?

[2022-11-12 21:23] #7742 closed

[2022-11-12 21:27] Pierre-Sassoulas commented on #7737
What would be the purpose of this tag ? Usually we only create tags for releases.

[2022-11-12 21:29] clavedeluna commented on #385
I can work on this. Should this be an extension?

Also to reiterate, this msg should be raised for when arg is used in case of
None
Bool
empty str
numbers?? all numbers or just 0?
any other cases?

[2022-11-12 21:30] Pierre-Sassoulas commented on #7748
I think the checker won't see much more change anymore if we add that option, and we already invested some time in discussing this. Let's put it to a vote:

- While checker simple and opinionated 🚀
- Add an option to permit to allow while with constants 👀

[2022-11-12 21:34] Pierre-Sassoulas commented on #385
I would say we should raise for all numbers. I'm counting on the primers to help us discover the corner case, there's probably a lot of them especially on builtin function used a lot where specifying the kwargs will be just noise.

[2022-11-13 04:29] tusharsadhwani commented on #7735
@Pierre-Sassoulas I tried thinking of other reasons for wanting to import inside a match-case, and couldn't think of any.

What I mean is, it's very similar to having an import inside a function definition: you only want that block to run if the case matches.

The imports inside each match case will be completely independent of each other, just like a function definition.

Since Pylint doesn't ask

[2022-11-13 11:23] #7714 closed

[2022-11-13 11:28] clavedeluna commented on #385
Sounds good. extension or default checker?

[2022-11-13 11:38] Pierre-Sassoulas commented on #385
Probably an extension, it's safer that way. I think this check is great and will make a lot of code better but as long as we don't have templated configuration it's better to make new checks opt-in.

[2022-11-13 11:41] #7495 closed

[2022-11-13 12:10] DanielNoord commented on #4836
I'm not sure. Why would you ever want to enable one of those but not the other? They both warn of significant code smells that seem very related.

I'm not against it, but just feel like unnecessary work with minimal benefit. We can focus on many other issues.

[2022-11-13 12:39] #7682 closed

[2022-11-13 13:43] jacobtylerwalls commented on #7607
I'd like to see us finish up and merge PyCQA/astroid#1189 in the near future, and then the first set of pylint PRs that do smarter control-flow can be batched for 3.0

Tentatively raising a hand to look at this in 2023.

True, but if G1 requires a rewrite (as some abandoned attempts in the past remarked), then better to look into it before 3.0.

[2022-11-13 14:04] clavedeluna opened #7760 "False positive `pointless-statement` for `:=` operator"
### Bug description

Issue discovered in [this PR](https://github.com/PyCQA/pylint/pull/7752#discussion_r1020904341)

[code]

You can also see this by running

`pylint tests/functional/s/superfluous_parens_walrus_py38.py --enable=all`

[code]
Once this issue is fixed, please go back and remove ` pointless-statement` in pylint-disable in file tests/functional/s/superfluous_parens_walrus_py38.py

##

[2022-11-13 14:28] jacobtylerwalls commented on #7543
Yes, it's a fundamental design aspect of pylint/astroid that it inspects your imports to find out what types variables take.

[code]

[2022-11-13 14:56] #4792 closed

[2022-11-13 15:19] jacobtylerwalls opened #7761 "`get_argument_from_call` doesn't account for **kwargs"
### Bug description

`get_argument_from_call` doesn't account for keyword arguments provided by unpacked kwargs. This is causing both false positives and false negatives

False negative
[code]

False positive
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

first example: nothing

### Expected behavior

first example: Expected a warning for `bad-open-mode`

##

[2022-11-13 15:48] #6639 closed

[2022-11-13 17:06] cdce8p commented on #7760
`(walrus := False)` might technically not be a `pointless-statement`, it's bad code never the less IMO.
If we remove the warning, we should add a new one for it.

[2022-11-13 18:53] altendky commented on #385
Thanks for the interest in working on this.  As a note, I would be interested in just being able to mandate 'all' parameters that can be passed by name are.  In my mind, interesting argument names doesn't mean they are being passed to the proper parameter.  I would think that this might be an easy option to implement relative to the rest of the work?  For example, if the basic logic is implemented

[2022-11-13 19:21] Pierre-Sassoulas commented on #385
It's surprisingly easy, there's a visitor pattern you need to create a function for the node you want to check. Here's for example a check preventing while loop: https://github.com/PyCQA/pylint/blob/main/pylint/extensions/while_used.py#L32 (https://pylint.pycqa.org/en/latest/development_guide/how_tos/custom_checkers.html)

[2022-11-13 19:43] tarsius commented on #7737
A release tag is what I had in mind. :smile:

Currently `pylint.el` contains `;; Version: 1.02`, which likely just means nobody bothered to bump it.

The reason why I am asking what version string I should use is that the elisp repository also includes `epylint.py`, which was already released at https://pypi.org using some version string. The version used in the new repository should be either the

[2022-11-13 20:33] cdce8p commented on #7760
Opened #7763 which would add a new `named-expr-without-context` check.

[2022-11-13 21:12] Pierre-Sassoulas commented on #7737
epylint is included in pylint, it was never released alone as far as I know. The last released version of pylint is 2.15.5. Next one 2.15.6, or 2.16.0, but most likely 2.15.6. We could create a package for epylint so it's independent, but you said it does not need to be python packaged so let's not.

[2022-11-13 21:31] Pierre-Sassoulas commented on #4836
Let's separate the two checks between ``reimported`` and ``shadowed-import`` like @DudeNr33 suggested in its (original message)[https://github.com/PyCQA/pylint/issues/4836#issuecomment-907793766]. Unclear message and checker doing multiple things means user have a hard time understanding and we change the check more and create more doc to accommodate the multiple things it needs to do or explain.

[2022-11-13 22:20] tarsius commented on #7737
Agreed.

`pylint.el` is distributed on Melpa, which does rolling releases, which more or less means that it always publishes the latest release from the upstream repository using a timestamp as the "version" string. There also is a "stable" variant of Melpa, which distributes the latest tagged release.

I think it makes most sense to bump `pylint.el` from `1.02` to `1.3` and will do so tomorrow or

[2022-11-14 00:34] richardfearn opened #7765 "`stop-iteration-return` false positive when using `itertools.cycle`"
### Bug description

Running pylint on this code gives a false positive:

[code]

This is similar to #2158 which was fixed by adding a list of [known infinite iterators](https://github.com/PyCQA/pylint/blob/main/pylint/checkers/refactoring/refactoring_checker.py#L38).

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No warning, because

[2022-11-14 09:23] #7501 closed

[2022-11-14 09:43] tushar-deepsource commented on #7724
Why not use `f is f1`? That should suppress the issue as well.

[2022-11-14 09:49] tushar-deepsource commented on #7506
This should be relevant: https://github.com/PyCQA/astroid/issues/1735

[2022-11-14 10:22] GideonBear commented on #7658
This also happens with `NamedTemporaryFile(delete=False)`.
The python docs state:

So this also applies for `NamedTemporaryFile` if `delete=False`.

In my case, this occurs in a utility function that just returns `tempfile.name`

[2022-11-14 12:42] jphells opened #7768 "Crash to AstroidError when using an imported class in place of a TypeVar for a generic dataclass"
### Bug description

I have the following two files in the same directory:

foo.py

[code]

bar.py
[code]

When linting `foo.py`, pylint crashed with a ``AstroidError`` and with the following stacktrace:
[code]

Playing with the code, I noticed pylint does not crash like this if:
- foo.py:Baz is not a dataclass OR,
- bar.py:Bar is moved to foo.py instead of importing

### Configuration

_No respon

[2022-11-14 13:42] clavedeluna opened #7770 "False negative `unnecessary-list-index-lookup` with `iterable` kwarg"
### Bug description

While there are plenty of tests for unnecessary_list_index_lookup, looks like missing is the case for using `iterable` as a kwarg

[code]

Same code with iterable as an arg correctly reports and is tested.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

`test.py:4:10: R1736: Unnecessary list index lookup, use 'val'

[2022-11-14 13:43] clavedeluna commented on #7770
Once triaged and accepted by maintainers, I can fix this issue.

[2022-11-14 15:29] #7765 closed

[2022-11-14 15:43] Pierre-Sassoulas commented on #7770
Thank you for opening the issue @clavedeluna !

[2022-11-14 21:31] DanielNoord commented on #7607
This is also what I'm afraid of...

[2022-11-14 21:49] Pierre-Sassoulas commented on #7607
I think that working on multiprocessing is above what I / we can do while still dealing the constant flow of issues and merge requests. Also multiprocessing is pretty hard to test correctly so I'm very afraid of touching it. If we go this path we might need to feature freeze and false negatives freeze until 3.0 is released to make it manageable. Know that I say it, it would only be like a minor re

[2022-11-14 22:04] DanielNoord commented on #7607
The issue with multiprocessing being hard is also that we don't know how hard the fix will be 😅

The biggest issue I had so far is that I couldn't figure out the issue and only had hunches but no actual data (other than the issue I already fixed). The only thing I know right now is that there is a significant memory leak in `astroid` and that it feels (emphasis on feels) like we are using many glo

[2022-11-15 12:57] #7570 closed

[2022-11-15 16:27] cdce8p opened #7773 "`used-before-assignment` with local variable annotations"
[code]
[code]

Annotations on `local` variables are never evaluated. Thus `used-before-assignment` shouldn't be emitted.
We already check if an annotation is stringified, but that isn't even important here.

However, these should still be errors
[code]

https://peps.python.org/pep-0526/#runtime-effects-of-type-annotations
https://stackoverflow.com/questions/41291892/variable-type-annotation-nameer

[2022-11-15 20:43] mbyrnepr2 commented on #7397
This one is also fixed by https://github.com/PyCQA/pylint/issues/7501 (including the Pydantic example)!

[code]

`pylint example.py --extension-pkg-whitelist='pydantic'`

[2022-11-16 11:06] clavedeluna commented on #519
should this now be closed? I only referenced it

[2022-11-16 13:02] #519 closed

[2022-11-16 13:08] Pierre-Sassoulas opened #7774 "With `--jobs 2`, the `open()` call is executed for each opened file"
https://github.com/cdce8p/ha-core/actions/runs/3470026809/jobs/5797737991#step:8:25

[code]

_Originally posted by @cdce8p in https://github.com/PyCQA/pylint/pull/7497#discussion_r1023744511_

[2022-11-16 23:42] Zeckie opened #7779 "False positive used-before-assignment with inline if"
### Bug description

[code]

Pylint gives error: `foobar.py:1:4: E0601: Using variable 'foo' before assignment (used-before-assignment)`

When run in python:
[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No errors

### Pylint version

[code]

### OS / Environment

Windows

### Additional dependencies

_No response_

[2022-11-17 00:02] nickdrozd commented on #7748
Hello! I proposed and implemented the extension, so maybe I can weigh in.

I am sympathetic to adding an exception for `while True`. Really it would be best if there was something like a `loop` keyword that just did that. `while True` is just a crummy hack. (It could be worse though; some really old code in the CPython code still uses `while 1`.) If we had a `loop` operator, then we would all be i

[2022-11-17 00:08] nickdrozd commented on #7748
As an alternative, I fully support anyone who wants to change to documentation to list exceptions.

For example: "Unbounded while loops can often be rewritten as bounded for loops. Exceptions include event loops, listeners, ... [etc]."

[2022-11-17 00:18] nickdrozd opened #7780 "New check: Useless setattr / getattr"
### Current problem

`getattr` and `setattr` are normally used when getting and setting fields that are not known until runtime. `setattr(thing, field, value)` sets a field of `thing`, but the exact field set depends on the value of the variable `field` (and similar for `getattr(thing, field)`).

This is a very powerful feature of Python. It's great to have if you find yourself in a jam, but it al

[2022-11-17 00:34] nickdrozd opened #7781 "Option to dump config file with all warnings disabled"
### Current problem

Say I just started working on a "legacy" codebase. It was written by people who aren't around anymore, and those people didn't use Pylint. The code is all over the place, and I would like to run Pylint against it. But then I am inundated with a huge wall of warnings. It's difficult to tell what's important and what's just opinion, and in any case there's so much stuff that I d

[2022-11-17 00:49] nickdrozd commented on #7737
FWIW, I use Emacs, and I don't use the Flymake integration. I just run Pylint in `M-x compile` and it works well enough.

[2022-11-17 01:09] nickdrozd commented on #7779
Variations that don't raise the error:

[code]

[2022-11-17 01:30] nickdrozd commented on #7734
I guess the checker would have to verify that the index variable has the same value as the loop variable. Is there a convenient way to do that? It seems like it could be difficult in general.

[2022-11-17 01:35] LeetaoGoooo commented on #7761
I'd like to work on this if there are nobody else~

[2022-11-17 01:55] jacobtylerwalls commented on #7761
Terrific. Thanks for volunteering.

[2022-11-17 04:59] nickdrozd commented on #7780
Two complications:

1. `getattr` with a default value: `getattr(thing, 'field', None)`
2. Objects that implement custom behavior for these functions.

[2022-11-17 08:22] Pierre-Sassoulas commented on #7737
Ho wow, that's it, we found a contributing emac's user 😍

[2022-11-17 08:25] Pierre-Sassoulas commented on #7781
Duplicate of https://github.com/PyCQA/pylint/issues/5403 but the title is not super clear there.

[2022-11-17 08:25] #7781 closed

[2022-11-17 09:28] Cubicpath opened #7782 "`valid-metaclass-classmethod-first-arg` incorrect default value of `cls`"
### Bug description

From what I'm assuming is a typo in `class_checker.py`, the default value of `valid-metaclass-classmethod-first-arg` is `cls` instead of `mcs`. All documentation (readthedocs, function docstrings) points to the default being `mcs`.

`bad-mcs-classmethod-argument` is raised here with no other configuration:

[code]

The default of `("cls",)` is defined here:
https://github.com/

[2022-11-17 11:04] Pierre-Sassoulas commented on #7782
Thank you for the report, and for proposing to open a PR :) !

[2022-11-17 11:09] Pierre-Sassoulas commented on #7737
@tarsius there's no issues tracker in the new repo, could you give me the right to administer it so I can fix it, please ?

[2022-11-17 12:40] clavedeluna commented on #7283
I'm able to reproduce the false negative. Note that if the `if-statement` is removed, it does flag it, so this must be a control flow issue.

[code]

`__main__.py:11:23: E1101: Module 'i2c' has no 'HardCoded' member (no-member)`

[2022-11-17 12:53] tarsius commented on #7737
I don't know what happened there. I've added that now.

I've send an invitation.

[2022-11-17 13:06] clavedeluna commented on #241
@hippo91 are you interested in continuing to work on this issue?

[2022-11-17 15:57] nickdrozd opened #7786 "Raise `for-any-all` for early returns"
### Current problem

Here is a Pylint internal function:

[code]

The `for` loop can be rewritten with `any`:

[code]

As it stands now, the `for-any-all` only triggers for loops that return during iteration or immediately after. Extending it to trigger on early returns allows for further simplifications.

With the loop rewritten with `any`, it becomes clear that this funcciton can be reduced to o

[2022-11-17 16:13] nickdrozd opened #7787 "New check: Simplify boolean returns"
### Current problem

Here's a Pylint internal function:

[code]

This is a very common pattern, and it is easy to simplify:

[code]

IMO, returning booleans conditionally can be a code smell. For example, here is another Pylint internal function:

[code]

This can be simplifed to:

[code]

Maybe one checker could handle both of these cases. It might be tricky to get the right coordination between

[2022-11-17 16:20] nickdrozd commented on #5403
Clearly this is a common and annoying problem! Everybody has their own way of coping with it I guess.

My approach is the gather a list of all the warnings that are emitted and disable all of them in the config file. Then I can go through and enable (by cutting the disable) the warnings one by one.

So what I would personally like is an option to run Pylint and get back a list of all the warnings

[2022-11-17 16:21] clavedeluna commented on #7787
I thought pylint already had something like this, but it does not. The closest I think would be `simplifiable-if-statement` so this could be `simplifiable-bool-return`.

Potential false positives need to be handled, such as NOT raising on something like
[code]

but yes raising on
[code]

Also consider non-bool return values. I'm sure the primer will help with catching lots of these.

[2022-11-17 16:56] nickdrozd commented on #7787
That's a good point. If it's easier, this functionality could be folded into that checker.

Yes, although `bool | int` not a great return type to begin with :laughing:

[2022-11-17 18:30] nickdrozd opened #7788 "False negative for `no-else-return` after `except`"
### Bug description

This snippet returns in the `except` block, and therefore the `else` is unnecessary:

[code]

It should raise `no-else-return`.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Should raise `no-else-return`

### Pylint version

[code]

[2022-11-17 19:00] nickdrozd commented on #7788
A similar case with `raise`:

[code]

The `except` raises an exception, so the `else` is not needed.

[2022-11-17 19:11] clavedeluna commented on #1931
I've attempted to reproduce this issue exactly as stated and with some modifications, and nothing triggers this issue with latest pylint version. I'm closing. Please re-open if you can reproduce it on your end.

[2022-11-17 19:11] #1931 closed

[2022-11-17 19:17] clavedeluna commented on #7203
You need to have `requests` installed to correctly reproduce this. After running `pip install requests` the following example will reproduce it:

[code]

[code]

since only an unused-import and not an import-error is given for the first line, we know the import-errors for  lines 2-3 are a false positive.

[2022-11-17 20:12] Pierre-Sassoulas commented on #6543
My first instinct would be to tell you to use inference (``NodeNG.infer()``).

[2022-11-17 20:14] e2t opened #7790 "Pylint ignores @dataclass(slots=...)"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Neither pylint, nor mypy, nor flake8 sees an error here. Actually this code doesn't work.
[code]
I'd like to see a warning that field "x" cannot be created.

### Pylint version

[code]

### OS / Environment

Windows 11 Home

### Additional dependencies

It's un

[2022-11-17 20:18] Pierre-Sassoulas commented on #7787
This one need to be an extension it's a little opinionated. We had an argument about this because extending the code is easier with the other design. In pylint in particular we often have a long list of check like this:

[code]
In this context it does not necessarily make a lot more sense to do:
[code]
Even if it's true that it's denser. For this simple example, this can be done:
[code]
But in "re

[2022-11-17 20:24] #7770 closed

[2022-11-17 21:11] nickdrozd commented on #7787
My perspective here is that it's awkward to use procedural logic to describe something that is just a set of conditions.

*Question*: How do I know if X is a red apple with worms?

*Answer 1*: X is a red apple with worms if it's red and it's an apple and it has worms.

*Answer 2*: If X is not red, it isn't. And if X is not an apple, it isn't. And if X doesn't have worms, it isn't. Otherwise, it is

[2022-11-17 21:15] nickdrozd commented on #7787
Also the walrus operator really helps to streamline this kind of logic because you don't need to stop to assign variables. But Pylint still supports 3.7, so we can't use it :crying_cat_face:

[2022-11-17 21:25] #7563 closed

[2022-11-17 21:28] nickdrozd commented on #7736
This kind of extravagantly dynamic behavior is exactly what makes Python so fun to write and so frustrating to statically analyze. It's probably too clever for Pylint, and at any rate it's too clever for me. Unless anyone has any better ideas, I suggest adding a `pylint: disable` comment and charging it to the game.

[2022-11-17 23:06] KotlinIsland commented on #5403
@nickdrozd how about output a generated config file that disables all of the currently existing warnings.

[2022-11-18 02:37] nickdrozd commented on #7585
For reference, `I1101` is `c-extension-no-member`:

[code]

I have nothing else to add, except to say that "introspection of living objects" is quite an evocative expression.

[2022-11-18 04:57] nickdrozd commented on #5403
@KotlinIsland That would work great for my use case at least!

[2022-11-18 07:06] DudeNr33 commented on #6543
Thanks @qequ for taking this on!

I will have to take a closer look at this and hope that I find the time for that on the weekend.
To add to Pierre's comment, my first thoughts are:

* why is the `_student` *attribute* identified as a `ClassDef`? This itself seems like a bug to me.
* I would try to differentiate between the composition and aggregation case by trying to find out if the instance was

[2022-11-18 08:52] stdedos commented on #5403
Building on both suggestions, "looks like to me" that

[code]

the output would look like that?

[2022-11-18 10:00] Pierre-Sassoulas commented on #5403
Let's not forget that pylint-ignore exists. [The creator think that long term it should be a pylint feature](https://github.com/mbarkhau/pylint-ignore/issues/13). It seems an enormous design work was already done about this problem. Imo the solution is simply to integrate it in pylint after fixing the major problem we find in it (or at first document it or add the tool directly in pylint without r

[2022-11-18 10:05] #6242 closed

[2022-11-18 10:05] #4053 closed

[2022-11-18 12:10] clavedeluna commented on #385
Can we make a decision on what the first implementation should be:

1. rase on all numbers, bools, None, empty str
2. raise on all parameters that are not passed as a kwarg

I personally vote for 1️⃣  initially

[2022-11-18 12:10] christopherpickering commented on #3767
@ssbarnea I really wanted per-file-ignores to avoid having to had a `# pylint: disable=` to every file in my codebase.

I copied a bit of code from the `pylint-django` plugin, with a bit of new logic, and added a new section to my `pyproject.toml`.... Now I have `per-file-ignores` that works the same way as flake8.

Here's how I did it:

### Updates to `pyproject.toml`

[code]

### New Plugin `<pr

[2022-11-18 12:10] christopherpickering commented on #618
@AIGeneratedUsername I did it through `per-file-ignores` in a custom plugin. https://github.com/PyCQA/pylint/issues/3767#issuecomment-1319916278

[2022-11-18 12:12] clavedeluna commented on #584
Given I worked on this last, I'm going to close this issue. We discussed that it's not worth doing the naive approach since that's what mypy does, and doing the "hard" approach is pretty hard. I also hope this is a pretty rare pattern.

If anyone disagrees feel free to re-open.

[2022-11-18 12:31] clavedeluna commented on #3624
I've attempted to reproduce this issue and can confirm that with pylint 2.15.4 the `relative-beyond-top-level` is not raised.

[2022-11-18 12:31] #3624 closed

[2022-11-18 12:43] clavedeluna commented on #5886
I'm actually able to reproduce this with pylint 2.15.4, so a fix + regression test is needed.

[2022-11-18 12:49] altendky commented on #385
`1.` sounds like strictly more work.  But, you are the one that volunteered time for this.  I mostly brought it up to encourage a flexible form where it can later be adapted to support various other needs without the core changing.  All unclear values, any positional, more than `n` positional, etc.  But...  even if hard coded to `1.`, it's probably not that hard to adjust the code later anyways so

[2022-11-18 13:51] christopherpickering commented on #3767
Got excited and ended up making a python package with this so I can use it in a few other projects..

https://pypi.org/project/pylint-per-file-ignores/

[2022-11-18 15:57] qequ commented on #6543
@DudeNr33
The `_student` attribute identified as a `Classdef` happens when using type hints.
Having an aggregation with no type hints like this
[code]

`_student` is identified as `Uninferable` and no association is created

![classes](https://user-images.githubusercontent.com/19431622/202743013-f12fc428-0693-4028-9ca9-6255c1e951cc.png)

When using type hints like in the example I showed in the pr

[2022-11-18 16:32] nickdrozd commented on #5403
I tried out `pylint-ignore`. It keeps the disabled messages in a file `pylint-ignore.md` along with a bunch of extra context. I don't love having yet another config file floating around and having to download yet another dependency, but other than that the tool works well.

As a side note, the `pylint-ignore` repo contains some really fantastic [pro-Pylint propaganda](https://github.com/mbarkhau/p

[2022-11-18 17:01] Pierre-Sassoulas commented on #5403
We can fix this if we integrate it in pylint by putting the extra context in the pylintrc / pyproject.toml. pylint-silent could be documented for those who prefer to add disable directly in the code.

[2022-11-18 17:04] clavedeluna commented on #3701
I think I have a fix for this, but can I get 👁️ on these test cases and lmk if they're correct?

assuming config `bad-names=foo,bar,baz,`
these would be for disallowed name

[code]

Since at this point `invalid-name` is also checked within name checker, the code change will likely change invalid name, so verifying these test cases too which would now be raised and weren't previously

[code]

[2022-11-18 17:10] Pierre-Sassoulas commented on #3701
I think these functional tests make sense.

[2022-11-18 17:20] stdedos commented on #5403
:pray: I wouldn't want to have **the** `pylint-ignore.md` inside `pyproject.toml`. It's way too massive 😅

Also, for some reason (valid, I am sure), the creator decided to have full unified diff + "all other managerial info" there.

I'm all for the "one true file" approach, and this file is too massive to be merged.

[2022-11-18 17:20] mattclay commented on #3701
The test cases look good to me as well.

[2022-11-18 21:49] Pierre-Sassoulas commented on #7738
We should use pylint's default values and not pylint's own configuration during the primer to avoid this: https://github.com/PyCQA/pylint/pull/7796#issuecomment-1320481817

[2022-11-18 22:17] mbarkhau commented on #5403
If you look closely, it's not actually a diff, it's just a copy of the file contents, prefixed with line numbers. This is so `pylint-ignore` can continue to match up old lint messages with new ones where only the line number has changed.

[2022-11-18 22:28] mbarkhau commented on #5403
Whatever gets ignored/silenced, either gets marked in the code (as `pylint-silence` does), or goes somewhere else. If it's going to go in `pyproject.toml`, it'll have to be a really compact format. Other than that, it's going to have to be a separate file, such as `pylint-ignore.md`.

Idea for a minimal toml format

[code]

Here the `fe2431` is a hash of the contents of the line. This might make i

[2022-11-19 08:50] Pierre-Sassoulas commented on #5403
Good point.

I'm starting to think that adding disable in the code like pylint-silent does is the easier approach. Making the ``pylint-ignore`` conf file small, will be a lot of work (the hash is a good idea but it's not going to be easy to implement nor cheap to maintain). Same thing with [what I proposed earlier by abusing the way we have expected output for functional tests](https://github.com/

[2022-11-19 11:24] richardfearn commented on #7765
Thanks for the quick fix!

[2022-11-19 12:12] Pierre-Sassoulas commented on #385
Let's do the easiest option first, then reevaluate depending on the primer's result.

[2022-11-19 12:38] jacobtylerwalls commented on #3941
@cdce8p can you help me understand what you're referring to? When I [compare the tags for 2.11 and 2.10](https://github.com/PyCQA/astroid/compare/v2.12.10...v2.12.11), I see this change included. I also downloaded the source for 2.11 from PyPI to be absolutely sure, and I see it there also.

We might need to undo part of https://github.com/PyCQA/astroid/pull/1863.

[2022-11-19 13:49] cdce8p commented on #3941
You're right. Seems like I got confused with the different commits. Usually I open the commit from them merge message (in the PR). I.e. this one: https://github.com/PyCQA/astroid/commit/3d4dc50253a8cb0bf0ee8fda54c2bbea83bf9a92. Looking at  the branches / tags it's included only shows `main`. However that's only because the backport is a different commit.

Only partially, but yes. Would you like to

[2022-11-19 13:52] #7782 closed

[2022-11-19 14:06] jacobtylerwalls commented on #3941
Sure thing! https://github.com/PyCQA/astroid/pull/1874

[2022-11-19 14:09] #3941 closed

[2022-11-19 15:09] Pierre-Sassoulas commented on #6781
Closing as a maintainer deciding on a case by case basis using the skip-news label is good enough and even simpler so better.

[2022-11-19 15:09] #6781 closed

[2022-11-19 20:55] matusvalo opened #7803 "Add warning when comparing `sys.version_info` with old python"
### Current problem

Writing code which supports multiple python versions needs often do conditions based on python version - e.g.:
[code]

Projects with longer history can have a lot of such statements. After dropping support of python 3.5 developer must grep all occurences of such conditions and clean up code that is dead.

### Desired solution

pylint should warn when conditions like `if sys.ve

[2022-11-19 21:09] Pierre-Sassoulas commented on #7803
I like this, it's using an information we have in pylint, the check is going to be dead simple, and it's going to make py-version more useful, which is nice 👍

Understanding a new pattern in comment though, it's something else entirely. This is a lot of work to implement and maintain and probably a performance hit too. Imo the benefit of it would be seen once the code base have actual comment insi

[2022-11-19 21:14] matusvalo commented on #7803
Fair enough. Make sense what you wrote. I am more then fine having checker for `sys.version_info` and related attributes.

[2022-11-19 21:29] DanielNoord commented on #7803
Isn't this something `pyupgrade` fixes for us?

[2022-11-19 21:47] #7737 closed

[2022-11-19 21:49] matusvalo commented on #7803
Not sure maybe just partially. But still even in astroid one can find such lines -e.g.:
https://github.com/PyCQA/astroid/blob/056d8e5fab7a167f73115d524ab92170b3ed5f9f/astroid/decorators.py#L22

[2022-11-19 21:52] DanielNoord commented on #7803
That check seems relevant though? There is support for 3.7 still right?

[2022-11-19 21:55] matusvalo commented on #7803
It is. My point is that the check should warn about all comparisons with python not supported by project anymore. So suppose you want to remove support of python 3.7 in astroid. You need to grep the code base and look for all `sys.version_info` usages and find this comparison and remove the code block because it is dead code after droping python 3.7. My proposal is to implement a warning in pylint

[2022-11-19 21:59] DanielNoord commented on #7803
Yeah, but I think that check is already done by `pyupgrade`. If you change the supported version there, such `if ...` bodies get already removed

[2022-11-19 22:01] matusvalo commented on #7803
Hmm 🤔 I was not aware about that. I have not use pyupgrade... Hence I am leaving decision to you if you want to have this issue open or to close it.

[2022-11-19 22:03] Pierre-Sassoulas commented on #7803
I also think pyupgrade does fix it automatically. But I'm not against implementing checks that already exists in other tools as long as they are simple. Not everyone use all the tools that exists and we do warn about unused-import or variables that autoflake fix automatically. (Counterexample that happen often is that if mypy does it, it's probably going to be more painful to implement in pylint s

[2022-11-19 22:06] DanielNoord commented on #7803
Fully agree, just wanted to point this as out for people looking for this feature!

[2022-11-19 22:12] #5886 closed

[2022-11-20 12:17] Pierre-Sassoulas commented on #6993
The discussion on this issue happened in #6994, if you care about the issue please vote [here](https://github.com/PyCQA/pylint/pull/6994#issuecomment-1321117560)

[2022-11-20 13:53] DudeNr33 commented on #6543
I tried around myself a bit.
To distinguish if the value of the attribute is a class instance created inside the scope of the class itself or not, I would start around here:
https://github.com/PyCQA/pylint/blob/57f38c39ae8df066212df75d684f8608b9f41b9e/pylint/pyreverse/inspector.py#L179-L184

You will need to inspect the `parent` of the `assignattr` and look at the `value` that is assigned:
[code]

[2022-11-20 15:09] jacobtylerwalls commented on #7773
Duplicate of #7609

[2022-11-20 15:09] #7773 closed

[2022-11-20 15:10] jacobtylerwalls commented on #7609
Some helpful test cases given in #7773

[2022-11-20 18:57] e2t opened #7807 "Calling an attribute before the constructor completes"
### Current problem

[code]
This code doesn't work, but linters don't find error (to be expected).
[code]

### Desired solution

It would be nice if pylint understood that member "b" does not exist at the stage of calling myfunc().

### Additional context

_No response_

[2022-11-20 19:06] DanielNoord commented on #7807
Sadly I don't think we will ever be able to infer this, as there is zero information about the possible caller when we lint the function definition.

Pylint does not have a concept of referenced attributes in a function def and I don't think our system lends us to ever easily implement this. So, linting the call site also isn't feasible.

Therefore, I'm going to close this. Although I'm sympatheti

[2022-11-20 19:06] #7807 closed

[2022-11-20 22:26] #5797 closed

[2022-11-21 08:12] #7546 closed

[2022-11-21 09:53] bersbersbers commented on #7706
This seems to be fixed with `astroid==2.12.13` / `pylint==2.15.6`. Thanks :)

[2022-11-21 09:53] #7706 closed

[2022-11-21 10:19] algonell opened #7811 "False positive: walrus operator probably triggers chained-comparison warning"
### Bug description

Comparison followed by walrus operator and comparison (both use a shared variable - j) suggests to chain the comparisons although they are not related.

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No warning on this line.

### Pylint version

[code]

### OS / Environment

Distributor ID:	Ubuntu
Descripti

[2022-11-21 10:36] Pierre-Sassoulas commented on #7811
Hello, thank you for opening the issue. Could you provide the code as text instead of as an image ? Text is crawl-able by search engines, readable by visually impaired persons and copy pastable to test the issue fast, while images are not.

[2022-11-21 10:39] Pierre-Sassoulas commented on #5099
This might be fixed if you upgrade astroid or on a new install, because we released astroid 2.12.13 with https://github.com/PyCQA/astroid/pull/1861 and pylint can use the latest astroid. Keeping in 2.15.7, do you think we need a regression tests @mbyrnepr2 ?

[2022-11-21 10:49] mbyrnepr2 commented on #5099
I'm thinking no @Pierre-Sassoulas because of the test in astroid & based on the conversation around duplicating tests in Pylint which are already in astroid.
But let me know & I'm happy to add a test here if there are some doubts with the testing 🧪

[2022-11-21 11:26] #5099 closed

[2022-11-21 12:26] clavedeluna commented on #7811
@algonell I think pylint is telling you to do this:

[code]

In which case the warning is correct.

[2022-11-21 12:29] clavedeluna commented on #2182
I'm not able to reproduce this issue in MacOS but I'm hesitant to close it given a few people were able to do so.

[2022-11-21 12:51] algonell commented on #7811
@clavedeluna you are absolutely right! I could not understand why the warning was only for one of the two "similar" cases:

[code]

The first one is a proper chain of X < 0 <= Y while the second one is X > 0 <= Y which is not, thank you!

[2022-11-21 12:54] clavedeluna commented on #7811
Awesome! Glad to help! For the record, I took the code and simplified it a bunch, replaced it with lists, etc, just so I could understand it. Then I re-built it.

I think this means this issue can be closed. If you disagree, feel free to reopen.

[2022-11-21 12:54] #7811 closed

[2022-11-21 13:16] clavedeluna commented on #2018
@Pierre-Sassoulas I'd be happy to help here since it's high priority, but given all the back and forth I can't figure out what the decision is here? What's the ask that would close this issue?

[2022-11-21 14:24] Pierre-Sassoulas commented on #2018
The short answer is that we need to create a new message ``name-too-short`` and refactor the way the current regex works. The latest discussion about specification is on this issue : https://github.com/PyCQA/pylint/issues/7305. I think the proposal in #7305 is pretty convincing, but would probably be easier if we wait for a major and do it as a breaking changes. With 3.0 approaching, the perfect t

[2022-11-21 16:56] DanielNoord commented on #7209
We should simply never raise `abstract-method` if it comes from a `Protocol`. That should be the fix here.

[2022-11-21 18:09] juesato opened #7813 "Lint should warn about non-empty `return` in generator functions"
### Current problem

The PEP (https://peps.python.org/pep-0255/#specification-return) says:

It would be nice if gpylint checked for cases of functions containing `yield` and non-empty `return`, and had a warning.

Otherwise, this can lead to surprising errors. For example, consider the following (which is an easy error to make):

[code]

If we run this method with `infinite=True`, it will return

[2022-11-21 18:56] Avasam commented on #2018
In the mean time, if you use Flake8, you can try out https://github.com/PyCQA/pep8-naming . Personally it fit my needs better than pylint for naming convention. Since I tend to follow PEP8 naming conventions anyway.

[2022-11-21 19:38] huwcbjones commented on #7209
@clavedeluna see the section about [Merging and extending protocols](https://peps.python.org/pep-0544/#merging-and-extending-protocols)

I agree with @DanielNoord

[2022-11-21 21:02] clavedeluna commented on #3701
@DanielNoord Not able to access the link you provided, but I think your input comes across just fine. It seems to me this issue is then worth closing as won't fix?

[2022-11-21 21:10] mattclay commented on #3701
@DanielNoord Could you elaborate on how the working definition of a "module constant" relates to this issue?

[2022-11-21 21:23] DanielNoord commented on #7813
I actually use this behaviour at work to access a value that is being counted by the generator and then finally returned. Although it is indeed a bit hacky it seems like there are use cases for a pattern where `return` returns more than `None`.
Also note that `Generator` as a typing hint allows more than `None` as its third value.

[2022-11-21 21:27] clavedeluna commented on #3073
I've run both examples provided and am not able to reproduce any issue related to import-error, even while playing a bit with `PYTHONPATH`.

If anyone can reproduce, please reopen.

[2022-11-21 21:27] #3073 closed

[2022-11-21 21:34] clavedeluna commented on #5061
This is reproducible after running `pip install connexion`

[2022-11-21 21:38] mattclay commented on #3701
@DanielNoord Sorry, I guess I'm missing something here. Why does the definition of a "module constant" affect what the `disallowed-name` check applies to? Is it not intended to apply to things pylint considers constants?

[2022-11-21 21:41] DanielNoord commented on #3701
[code]

The issue is that people have grown used to `MY_VAR` being allowed while `my_other_var` being disallowed.

@clavedeluna has figured out that we can't fix this issue without also disallowing `MY_VAR` using the default configuration. This would create very noticeable churn during upgrades for all users of pylint as they would need to update their configs or fix all their assignments.

[2022-11-21 21:43] clavedeluna commented on #5835
I'm able to reproduce this, though not at 8s

`time pylint --disable=all foo.py`

[code]

5s is still quite shocking so I agree this issue is worth having. Though I wonder how to even tackle an issue like this?

For curiosity, I ran `time pylint test.py` (so not disabling, just enabling whatever checks are enabled via config) and I"m getting something pretty similar

`time pylint test.py`
[code]

[2022-11-21 21:44] clavedeluna commented on #3701
🤣 I'm glad that PR is useful for something because it was annoying to do!

[2022-11-21 21:46] mattclay commented on #3701
@DanielNoord @clavedeluna  I think I understand the issue with `invalid-name`, but why does that prevent fixing the issue with `disallowed-name`?

[2022-11-21 21:50] clavedeluna commented on #4297
I'm not able to reproduce this issue, which is one of those that I think when is present is very easy to reproduce, so closing. If anyone is able to repro, please re-open.

[2022-11-21 21:50] #4297 closed

[2022-11-21 21:51] Pierre-Sassoulas commented on #5835
There's a documentation about performance for contributor here : https://pylint.pycqa.org/en/latest/development_guide/contributor_guide/profiling.html

[2022-11-21 21:52] clavedeluna commented on #4991
Unable to reproduce issue on code as provided, so hopefully this means the updates in astroid since this issue came up fixed it!

[2022-11-21 21:52] #4991 closed

[2022-11-21 21:57] clavedeluna commented on #5835
Cool. An investigation with a profiler is definitely needed here to get some data on what's going on!

[2022-11-21 22:00] clavedeluna commented on #4694
This is reproducible with first running `pip install djangorestframework`

[2022-11-21 22:10] clavedeluna commented on #7543
Just so I can remove the needs reproduce label, FYI this can be reproduced as stated originally in scipy 1.4.1 but surprisingly cannot be reproduced with `pip install scipy==1.9.*`... Not sure what that means maintainers?

[2022-11-21 22:14] clavedeluna commented on #3701
Really good point. The sad answer is that they're both completely coupled in the name checker. While separating them out would seem to be the obvious decision, there is a good reason why they're coupled in the first place. Maybe there is some magic way to keep the behavior in https://github.com/PyCQA/pylint/pull/7808 in `_check_name` to only raise for disallowed and not invalid-name...

[2022-11-21 22:36] DanielNoord commented on #7543
Means that `scipy` has become easier for us to infer and we no longer recurse to deeply 🎉

Closing!

[2022-11-21 22:36] #7543 closed

[2022-11-21 22:55] nickdrozd commented on #5835
@clavedeluna There's another profiler called Yappi that I've used to great effect in Pylint profiling. I wrote up some instructions for it here: https://nickdrozd.github.io/2022/04/12/performance-hot-spots.html

[2022-11-21 23:24] cdce8p commented on #3232
I'm not sure the issue hasn't been resolved in the meantime.

Home-Assistant uses `-j 2` be default, even for all CI runs, and also uses custom plugins. There has been the occasional unstable result, but that wasn't because of custom plugins. Rather a result of the way files are passed to works in an unpredictable order which results in different astroid caches for different worker processes.

Of

[2022-11-21 23:39] cdce8p commented on #7813
That's updated. It changed in 3.3. The documentation now says

https://docs.python.org/3/reference/simple_stmts.html#the-return-statement

I would recommend using type annotations and a type checker like `mypy` or `pyright` for that. Both will have no issue detecting this.

--
I recommend we close this one.

[2022-11-21 23:59] jacobtylerwalls commented on #3232
I thought the most severe problem was #4874, and as far as I know, it's still applicable.

[2022-11-22 00:43] #7813 closed

[2022-11-22 00:44] juesato commented on #7813
Ah, didn't see the Python 3 docs, thanks! Closing this thread.

OOC, do you have an example of how to type this? Both `pytype` and `mypy` are happy with this:

[code]

[2022-11-22 02:00] cdce8p commented on #7813
Try `Generator[_T, None, None]` instead. The last argument is the return type.
[code]

[2022-11-22 03:02] nickdrozd commented on #344
After https://github.com/PyCQA/pylint/commit/b2462c91917bdf06db8708fb2999843f809909ff, no more Emacs

[2022-11-22 03:02] #344 closed

[2022-11-22 03:04] nickdrozd commented on #3606
See https://github.com/PyCQA/pylint/commit/b2462c91917bdf06db8708fb2999843f809909ff

[2022-11-22 03:04] #3606 closed

[2022-11-22 03:30] nickdrozd commented on #553
After adding type annotations, Mypy will catch this:

[code]

[code]

This problem can be caught statically by some tool, and since it would be difficult to implement this in Pylint, I don't think it will happen.

[2022-11-22 04:03] nickdrozd commented on #2191
The Pylint warning is technically incorrect, but I think its general sentiment that something is wrong here is right. This code happens to work, but it is teetering on the edge of not working. For instance, one line can be added to make it not work:

[code]

I don't think Pylint should endorse code like this. If the code can't be rewritten, `# pylint: disable = unsupported-membership-test` can be

[2022-11-22 04:03] #2191 closed

[2022-11-22 05:51] mikeage commented on #4297
As the original submitter, I can confirm that it's fixed. It was broken as late as pylint 2.11.1, and fixed in 2.12.0. (just checked)

[2022-11-22 07:55] DanielNoord commented on #553
I actually have a working implementation for instance attributes in an `astroid` PR that could eventually be expanded to also support this I think :smile:

[2022-11-22 08:04] Pierre-Sassoulas commented on #3606
We do have an emacs user in the contributor now (@nickdrozd) it does not mean we can answer the questions without retro-engineering though. @cpitclaudel your educated guess are probably the most reliable source of knowledge we have. In particular if epylint is useful for you please tell us so we revert the decision to remove it from pylint :)

[2022-11-22 08:12] Pierre-Sassoulas commented on #3693
We removed emacs support recently so I'm revisiting this issue. pylint is increasingly doing most of the things in this list better. There's an API, we have a JSON output, we now have a recursive option and better namespace handling... This will still need to be documented better.

[2022-11-22 08:33] Pierre-Sassoulas commented on #3232
This one should be fixed in #7747 hopefully.

Indeed and there's of course #2525 which make any small problem with multiprocessing not worth the small benefit it bring.

[2022-11-22 08:47] Pierre-Sassoulas commented on #5835
I also came across of https://github.com/bloomberg/pytest-memray recently and wanted to check what it can do for pylint. I did not try anything yet.

[2022-11-22 08:51] Pierre-Sassoulas opened #7817 "Make qnames a global `frozenset` in ``is_terminating_func``"
Small nit: This could be a global, maybe even a `frozenset`. That would be a small performance improvement.

_Originally posted by @cdce8p in https://github.com/PyCQA/pylint/pull/7784#discussion_r1028583308_

[2022-11-22 10:59] dpinol opened #7818 "false negative with dangerous-default-value"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

4: W0102: Dangerous default value {} as argument (dangerous-default-value)

### Pylint version

[code]

### OS / Environment

ubuntu 22.4

### Additional dependencies

_No response_

[2022-11-22 11:33] mbyrnepr2 commented on #7818
Thank you @dpinol it looks like a bug. Removing the `*` leads to `dangerous-default-argument` being emitted; so something not quite right there.

[2022-11-22 12:37] clavedeluna opened #7819 "Improve `dict-init-mutate` msg suggestion"
### Current problem

This [PR](https://github.com/PyCQA/pylint/pull/7794) added the `dict-init-mutate` check with a basic msg of `Declare all known key/values when initializing the dictionary.`. This issue is to improve that message to read something more like `Declare all known key/values when initializing the dictionary with 'config = {'dir': 'bin', 'user': 'me', 'workers': 5}'` which will requi

[2022-11-22 12:43] clavedeluna commented on #3232
Sounds like we should still fix this issue then. Do we agree on both raising a UserWarning and exiting pylint? And we're talking about the case when jobs is 0 OR any positive number other than 1, correct?

[2022-11-22 13:31] tomkcook opened #7820 "Pylint does not appear to understand the descriptor protocol"
### Bug description

Writing a custom `@property`-like descriptor causes pylint to issue various false postives.  Example code:

[code]

Running `pylint --disable=too-few-public-methods` on this results in these failures:

[code]

E0213 can be fairly easily handled by disabling `no-self-argument` module- or class-wide.  But E1133 and E1136 are much more difficult to suppress, because they happen e

[2022-11-22 14:35] John2013 opened #7821 "pylint crashed with a AstroidError"
### Bug description

When linting, pylint crashed with a AstroidError and with the following stacktrace:
[code]

pylint crashed with a ``AstroidError`` and with the following stacktrace:
[code]

with pylint==2.15.5 its ok

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Pylint does not crash and shows its linting messages (if any) for foo.py

[2022-11-22 15:15] ggrrll opened #7822 "doc improvement: arrows"
### Current problem

currently, it's difficult to people who are new to UML diagrams to understand what is output by `pyreverse`

### Desired solution

it would be nice to have a description in the docs of the arrows meaning

### Additional context

for instance , something like
https://paulrumyancev.medium.com/uml-class-diagram-arrows-guide-37e4b1bb11e

[2022-11-22 15:19] Pierre-Sassoulas commented on #7821
I can reproduce with:
[code]
It seems it's due to the false positive on enumerate with start, do you want to take a look @clavedeluna ?

[2022-11-22 15:32] Pierre-Sassoulas commented on #7819
An interesting test case:
[code]
Not sure of the message we should show when there is already some keys defined in the constructor.

[2022-11-22 15:47] clavedeluna commented on #7821
always 😢  to see your recently added code buggy. I'll take a look as soon as I can.

[2022-11-22 18:20] cpitclaudel commented on #3606
Thanks @Pierre-Sassoulas !  The questions I wanted help with were these, which I don't think involve epylint:

- What is the "right way" to run pylint in the following example? (See OP for the actual example)
- What should Flycheck do in general: call epylint directly? Or call pylint directly from a working directory calculated as done by epylint? Or something else? We've been unsure for a while,

[2022-11-22 19:23] clavedeluna commented on #3683
I've tried to reproduce this but could not, even with a smaller example. Though it's possible since I don't know the definitions of `InspectRequestsMixin, _Chrome` the issue could've come from that?

Is anyone able to reproduce at this time with latest pylint?

[2022-11-22 20:15] Pierre-Sassoulas commented on #3683
New link to the code is: https://github.com/wkeeling/selenium-wire/blob/master/seleniumwire/webdriver.py#L29

[2022-11-22 20:22] clavedeluna commented on #3683
Thanks @Pierre-Sassoulas! Even with that new code I cannot reproduce any unexpected keyword arg msg.

[2022-11-22 20:37] clavedeluna commented on #619
Tested this in pylint==2.15.6 and this issue is not present, though other no-member warnings may be.

[2022-11-22 20:37] #619 closed

[2022-11-22 20:41] #7817 closed

[2022-11-22 22:12] #3683 closed

[2022-11-22 22:32] Pierre-Sassoulas commented on #3606
We implemented a recursive option in pylint to find the file to lint in a directory so I would use that alongside with an appropriate reporter, probably a custom json reporter (or the official one). It seems epylint was done specifically for IDE integration but the knowledge got lost and as maintainers don't know much about epylint the most well tested and maintained entry-point is definitely pyli

[2022-11-23 01:48] #4913 closed

[2022-11-23 09:03] #7609 closed

[2022-11-23 09:21] kasium opened #7827 "False positive ``missing-param-doc`` when escaping underscore in docstring"
### Bug description

In this code I need to escape the underscore, because else it's not valid RST.

[code]

### Configuration

[code]

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Escaped underscore is understood

### Pylint version

[code]

[2022-11-23 09:53] a-is opened #7828 "`pylint` crashed with a `IndexError`"
### Bug description

I was writing code to process a file and accidentally made an error in it -- I forgot the argument of the `next` function. On checking such a pylint crash code. I tried to create an MRE, it turned out the following:
[code]

if I replace `next()` to `next(file)` then code does not crash. If i remove `for` loop pylynt also does not crash.

Information from `pylint-crash-*.txt` f

[2022-11-23 10:17] Pierre-Sassoulas commented on #7827
Seems like we need to "normalize" the variable name recovered from the docstring. It should be doable without too much pylint knowledge.

[2022-11-23 11:14] felipe-olmos-orange opened #7830 "Disable unnecessary-dunder-call for __init__"
### Current problem

Most of the time `unnecessary-dunder-call` is desirable but not with the `__init__` method.

A legitimate use of calling `__init__` is when you have no-parameter (or only keyword params) constructor. If somewhere in the code you want to reinitialize the object to its default state one just need to call `__init__`. The enforcing of this rule either forces you to create custom `

[2022-11-23 11:59] clavedeluna commented on #7830
@felipe-olmos-orange can you add a code example for what you're talking about?

[2022-11-23 12:01] clavedeluna commented on #7828
🤦‍♀️ and we thought this was fixed!

[2022-11-23 12:03] Pierre-Sassoulas commented on #7828
Could you try upgrading to pylint 2.15.6 @a-is, please ?

[2022-11-23 12:06] clavedeluna commented on #7828
Sorry I wasn't specific enough, I'm pretty sure this is legitimate. The PR that touched code around this https://github.com/PyCQA/pylint/pull/7622/files didn't _specifically_ handle for this. I'll take a look now.

[2022-11-23 12:09] clavedeluna commented on #7828
Oh wait a minute, I"m pretty sure this isn't quite valid code.... If you run the `data` function, you're going to get `TypeError: next expected at least 1 argument, got 0`, so I think pylint is _correctly_ handling this because `next` should never be called as `next()`, it always needs an arg.

so @a-is you'll want to update your code. I think this isn't an issue.

[2022-11-23 12:10] clavedeluna commented on #7828
Oh wait a minute, I'm re-reading the issue description. so we know calling `next()` is invalid python

[2022-11-23 12:16] Pierre-Sassoulas commented on #7828
Yeah we should do our best so pylint does not crash. (As an aside I really dislike when C compiler equate "undefined behavior" with "the compiler can crash and roast your computer in the process".). But we don't go out of our way to never crash either by trying to anticipate everything, if it's never reported then.. who cares. (For example the "utf13" crash was not reported for a very long time)

[2022-11-23 12:18] clavedeluna commented on #2962
This is no longer an issue!

[2022-11-23 12:18] #2962 closed

[2022-11-23 12:19] clavedeluna commented on #7828
Great, I'll open a PR shortly

[2022-11-23 12:25] a-is commented on #7828
I will be able to check the code for 2.15.6 a little later.

I want to note that calling `next` without arguments in some cases pylint works correctly. It seems to me that telling the user that there are errors in his code should not be so radical :)

[2022-11-23 12:35] felipe-olmos-orange commented on #7830
@clavedeluna Here's a quick one

[code]

Note that the state in this example is trivial, but it could be much more complex.  A `reinitialize` method would duplicate `__init__`.

[2022-11-23 12:47] Pierre-Sassoulas commented on #7828
Don't worry about that I misunderstood what @clavedeluna was saying. Thank you for reporting so fast 👍

[2022-11-23 12:58] a-is commented on #7828
It seems that the answer is no longer relevant, but the problem is reproduced on version 2.15.6.

[2022-11-23 13:03] clavedeluna opened #7832 "CI crashes on stdlib primer"
### Bug description

See https://github.com/PyCQA/pylint/actions/runs/3532032498/jobs/5925977705#logs

PR merging is currently blocked due to this.

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

passing stdlib primer

### Pylint version

[code]

### OS / Environment

_No response_

### Additional dependencies

_No response_

[2022-11-23 13:08] clavedeluna commented on #7830
I think that code could genuinely be refactored to use a pattern that doesn't require calling init again. It feels off to me but I can't quite scramble to find the right pattern to make this code pattern "better".  If anything, it seems like everything under init could be called with `self.reset()` or `self.initialize() or even `self.update()`

[2022-11-23 14:35] felipe-olmos-orange commented on #7830
For me that `__init__` has the semantic meaning of "(re)initialization", and I don't think unreasonable to avoid maintaining a `reset` method every time this pattern is needed.

Apart that stack overflow discussion and that of [this feature](https://github.com/PyCQA/pylint/pull/5938), it is assumed that is a bad practice without much more discussion.

[2022-11-23 14:45] Lorenzobattistela commented on #2970
Is this fixed yet? Is there an option for allowing variables with less than 3 characters?

[2022-11-23 15:22] Pierre-Sassoulas commented on #2970
No, this is closed because it's a duplicate of #2018 latest specifications are in #7305

[2022-11-23 15:47] #7832 closed

[2022-11-23 16:41] jacobtylerwalls commented on #7830
Try calling init on the class, not the instance. I thought the way the feature was written we allowed calling init on the class (or on super).

[2022-11-23 16:43] jacobtylerwalls commented on #7830
Oh, sorry. I looked at the use case more carefully. I see you're trying to avoid the overhead of creating a new instance? I'm in favor of no change and just disabling this if wanted.

[2022-11-23 17:11] #2876 closed

[2022-11-23 19:08] DanielNoord commented on #5471
I'm voting to reopen as long as the maintainers of `isort` have not responded to your issue. We aren't even sure that they accept the proposal.

[2022-11-23 19:52] Pierre-Sassoulas commented on #5471
Blocked by a decision on https://github.com/PyCQA/isort/issues/1980.

[2022-11-23 20:00] Pierre-Sassoulas opened #7835 "Warn about ``os.x`` function used on a ``pathlib.Path`` instead of the corresponding function from pathlib``iterdir``"
For future reference, this could also be achieved with `tmp_path.iterdir`. Seems like something a linter could warn about :smile:

_Originally posted by @DanielNoord in https://github.com/PyCQA/pylint/pull/7829#discussion_r1030777599_

[2022-11-23 21:11] Pierre-Sassoulas commented on #7830
I'm closing as not planned, as 4 maintainers and stackoverflow seems to agree on this.

[2022-11-23 21:11] #7830 closed

[2022-11-23 21:17] Pierre-Sassoulas commented on #3232
I would say yes because the exit code could be 0 because of an issue with the processing.

[2022-11-24 09:49] tomkcook commented on #4362
Something needs to be done here.  Pylint is much too strict.  Consider this case:

[code]

This is a pretty clear implementation of the Command design pattern but there doesn't seem to be any way to make pylint understand that these classes know each other intimately.  Even one the `Command` class is a member of the `Service` class (as above), pylint complains about the `Command` class accessing p

[2022-11-24 10:40] Pierre-Sassoulas commented on #4362
Could you open a new issue for that @tomkcook, please ?

[2022-11-24 14:08] mbyrnepr2 commented on #7688
Hi folks. I wanted to check a detail before opening a MR for this in astroid. Sorry for tagging @cdce8p @DanielNoord @jacobtylerwalls but I know you spend time in the astroid repo & don't want to lose out on your insights.

Would it be preferable to add an inference function, `infer_hash` which always returns `nodes.Const(0)` similar to the [infer_str](https://github.com/PyCQA/astroid/blob/main/as

[2022-11-24 15:26] tomkcook opened #7840 "False positive on member classes accessing private attributes of parent"
### Bug description

In the example below, it's completely normal for the `Command` class to access a private member of the `Service` class.

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

It should be okay for a member class to access its parents' private attributes.  I can't think of a clearer way to express that the two clas

[2022-11-24 15:27] tomkcook commented on #7840
This is a more specific version of #4362 .

[2022-11-24 16:15] Pierre-Sassoulas commented on #7821
We're going to fix this in 2.15.7, we're putting a new back-porting mechanism into place right now which temporarily block the release.

[2022-11-24 16:48] DanielNoord commented on #7688
I think `infer_bool` makes more sense as it actually allows us to try and start inferring hashes instead of always returning the same.

[2022-11-24 20:48] clavedeluna commented on #5362
@Pierre-Sassoulas what's the right way to add a new configuration options, such as `--no-header`? I'm looking thru the code and it's confusing, probably because it's streamlined. Is it to add this option to base_options.py? Somewhere else?

[2022-11-24 20:51] #7828 closed

[2022-11-24 22:37] #7821 closed

[2022-11-24 23:31] nickdrozd commented on #7840
Shorter reproducing example:

[code]

[2022-11-25 00:04] nickdrozd commented on #7840
Shorter still and more abstract:

[code]

[2022-11-25 01:15] nickdrozd commented on #2339
I still think this is a terrible and confusing pattern, so I'm going to reopen the issue. The checker can be an optional extension.

[2022-11-25 01:56] KotlinIsland opened #7843 "(🎁) new rule: redundant comprehension"
### Current problem

I am seeing suff in the wild like:
[code]

The list comprehension here is redundant and you should really be writing:
[code]

### Desired solution

Detect these redundant calls and report against them.

### Additional context

_No response_

[2022-11-25 08:02] Pierre-Sassoulas commented on #7843
Thank you for opening the issue. This feel like a false negative for ``use-a-generator`` or ``consider-using-a-generator``.

[2022-11-25 08:07] DanielNoord commented on #2339
I think this might be more something for an external extension. It feels like this wouldn't serve a very large audience and would increase our maintenance burden quite a bit.
I'm a bit wary of adding non-generally accepted extensions (in lack of a better term) after the recent issue about the `while` extension.

[2022-11-25 08:10] Pierre-Sassoulas commented on #2339
What's the suggested fix in this case ? Would it be worst performance wise ? It's a very common pattern as was said in previous comment. If not knowing this pattern and not using it means worst performance I don't think we should discourage its use. I feel like this is bordering on something that should be an independent pylint plugin. Let's hear about other maintainers opinions.

[2022-11-25 11:02] clavedeluna commented on #7843
Could author / maintainer update the title?

[2022-11-25 15:09] ThomasFaivre commented on #3756
Hello,

I'm digging this up because I noticed a change in behavior with a recent pylint version.
The `i` or `print(i)` is not required anymore to reproduce the issue that the `cell-var-from-loop` cannot be disabled from a splitted line:

[code]

Please note that I managed to disable the message with this:

[code]

But that is a `SyntaxError`, so it is probably irrelevant ^^"

I have removed the pr

[2022-11-25 15:42] nickdrozd commented on #2339
The suggested fix would be to add parentheses so that the binary operators in a list are uniform -- all `and` or all `or`.

For example, `A and B or C` is better written as `A and (B or C)`. This makes it immediately clear how the expression will be evaluated.

With uniform operators, it becomes safe to swap operands freely. For example, `A and B or C` is equivalent to `A and C or B` but NOT equiv

[2022-11-25 16:33] nickdrozd opened #7848 "View code coverage in CI"
Is there a way to look at the code coverage in CI? I mean a page that shows the code itself with lines marked as covered / not covered. When I click through Coveralls, it ends up saying SOURCE NOT AVAILABLE. I have no idea if this is a config issue, or permissions, or what.

I would run it locally, but my laptop is crappy and slow :black_cat:

[2022-11-25 16:47] DanielNoord commented on #7848
You need to (sadly) log in to Coveralls for the source coverage to work. They can't make unlimited requests to Github so they need access to your user account to make requests through it to get the source.

[2022-11-25 16:47] #7848 closed

[2022-11-25 17:39] the-real-tokai commented on #7126
I often use a construct like this in Python 2.7 and I get that false positive too:

[code]

[code]

[2022-11-25 17:43] Hakanbkl opened #7849 "I am working on snake game and got this error."
### Bug description

![Ekran görüntüsü 2022-11-25 203953](https://user-images.githubusercontent.com/117858132/204034935-9992bf7b-5cf6-4e42-aa23-f780ce1b95f2.png)

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

dont know

### Pylint version

[code]

### OS / Environment

windows 10

### Additional dependencies

_No response_

[2022-11-25 19:02] clavedeluna commented on #7849
Thanks for the report. Could you please remove the image and include the code as text? That's easy to parse for us. Also, please provide the entire pylint trace error. We will try to reproduce.

[2022-11-25 19:23] Pierre-Sassoulas commented on #7849
This indentation of ``pygame.draw`` is wrong you need to move it 4 spaces to the right before the else. But this is something you should search on the web, pylint is just the messenger, this is not the right place to ask your question about python.

[2022-11-25 19:23] #7849 closed

[2022-11-25 19:30] qequ opened #7850 "[pyreverse] Attributes for nodes set by Linker can't be type hinted"
### Bug description

when the `Linker` works over astroid nodes and set attributes for them , e.g.  when setting `instance_attrs_type`

[code]
when trying to type hint this attributes like

[code]

mypy throws an error like this

[code]

CC: @DudeNr33

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

being able to type hint new attribute

[2022-11-25 21:44] dgutson opened #7851 "pyreverse: invalid argument causes exception"
### Bug description

`pyreverse --version`
causes
[code]

BTW, please add `--version` ;)

CC @qequ

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]
[code]

I can't know pyreverse version!
[code]

[2022-11-25 21:50] mbyrnepr2 commented on #7851
Thanks @dgutson I can reproduce it.

[2022-11-25 22:32] qequ commented on #7851
@Pierre-Sassoulas please assign this to me

[2022-11-25 23:36] clavedeluna commented on #584
Guess I never did close this....

[2022-11-25 23:36] #584 closed

[2022-11-26 11:03] orSolocate opened #7853 "False Positive - ``assignment-from-none`` raised when function not necessarily returns `None`"
### Bug description

`assignment-from-none` is emitted where `func`  does not necessarily returns `None`

consider this `example.py` file to reproduce the error:

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

No Error

### Pylint version

[code]

### OS / Environment

Windows 10

### Additional dependencies

_No response_

[2022-11-26 11:37] DanielNoord commented on #7850
As said by @DudeNr33 this should be fixed by using dataclass wrappers around nodes instead of changing the nodes directly. I'm changing the labels and name of the issue.

[2022-11-26 11:40] DanielNoord commented on #7853
This is way too intricate for a static code analyser to ever understand... I don't think we'll ever be able to implement this and would vote for closing the issue.

[2022-11-26 12:33] clavedeluna commented on #385
@altendky @Pierre-Sassoulas if you want to take a look at the primer results in https://github.com/PyCQA/pylint/pull/7852 and see what you think. At first glance it definitely feels like a ton of messages. For example, this initial implementation is also flagging not calling default params directly, which does follow the spirit of what we're talking about I think.

Do we want to continue as is or

[2022-11-26 12:42] clavedeluna commented on #1123
I looked into this issue and it's decidedly an inference issue in astroid.

In the `assignment-from-no-return` case the inference returned in `function_node = safe_infer(node.value.func)` references `<FunctionDef.g l.7 at 0x111e19370>`.

Similarly, in the `too-many-function-args`, the inference returned in `called = safe_infer(node.func)` references `<FunctionDef.g l.7 at 0x10225b0a0>`

Both of th

[2022-11-26 15:02] #4984 closed

[2022-11-27 08:24] Pierre-Sassoulas commented on #7853
I agree that we'll have a hard time handling this correctly. But the message level should be changed to a warning imo. Nothing is breaking if you assign from None. And astroid should raise an inference error if it can't infer correctly the return value.

[2022-11-27 17:37] orSolocate commented on #7853
I could try and debug it and will share what astroid says when encounters this pattern.
I agree with the message type change, also maybe the message itself could be modified a bit, maybe to something like:
`Assigning result of a function call, where the function **might** return None`

[2022-11-27 18:15] Pierre-Sassoulas commented on #6543
Closing as #7836 was merged, thank you @qequ, great feature !

[2022-11-27 18:15] #6543 closed

[2022-11-27 18:47] qequ commented on #6543
@DudeNr33 @Pierre-Sassoulas should we open a new issue for the cases that @DudeNr33 pointed out that pyreverse can´t handle yet?

[code]

[code]

[2022-11-27 18:56] mbyrnepr2 commented on #2917
It doesn't happen to me either. Closing.
[code]

[2022-11-27 18:56] #2917 closed

[2022-11-27 19:22] Pierre-Sassoulas commented on #6543
I don't know if we want to open this can of worms. If we start to handle those two "simple" cases we'll have to handle a large number of arbitrarily hard (or rather Turing complete hard) other use cases. I'll let @DudeNr33 decide.

[2022-11-27 19:34] mbyrnepr2 commented on #5100
I think it's reasonable to close this. As Daniël suggests, the error is emitted if pyspark is not installed in the same environment where pylint is run. We can always re-open if we obtain further information.

[2022-11-27 19:34] #5100 closed

[2022-11-27 21:00] #7818 closed

[2022-11-27 21:20] RumovZ opened #7857 "False positive about @cache on Enum methods"
### Bug description

[code]

### Configuration

_No response_

### Command used

[code]

### Pylint output

[code]

### Expected behavior

Pylint shouldn't complain about this, the code is perfectly fine.
Repeated calls to `Class(1).func()` will not grow the cache, nor prevent anything from being garbage collected.

### Pylint version

[code]

### OS / Environment

_No response_

### Additional de

[2022-11-27 21:26] DanielNoord commented on #7857
As far as I know the behaviour isn't different for `Enums` but I might be wrong here. Is there documentation that using `cache` in an `Enum` works differently?

[2022-11-27 21:31] mbyrnepr2 commented on #4910
I cannot reproduce this one using:
[code]

The results can change depending on the version of Pandas used; there is currently nothing pandas-specific in astroid to handle this.

@Pierre-Sassoulas  the `Needs astroid Brain` labelled is applied - Do you prefer an `astroid brain` to be the place to handle these issues or a `pylint_pandas` plugin?

[2022-11-27 21:53] RumovZ commented on #7857
From the side of `cache`, there is no difference in behaviour, so there wouldn't be any documentation. What makes this special is that `Class(1)` is a singleton. This modified example demonstrates it:

[code]

[2022-11-27 21:54] Pierre-Sassoulas commented on #4910
Well obviously a panda plugin but as there is none afaik the brain is the best second thing we have.

[2022-11-27 21:56] RumovZ commented on #7857
Or maybe an even clearer demonstration:

[code]

[2022-11-27 22:04] DanielNoord commented on #7857
Both of these examples don't really show that this message is warning against. Defining the `__del__` on both classes does show a difference in behaviour though.

I think that `Enums` are not garbage collected anyway so there is not really a risk of keeping extra things in memory. (I think) this can be shown by doing `python -i file.py` on the following files.

[code]

`B` shows what this warning

[2022-11-27 23:10] RumovZ commented on #7857
I *assumed* this message warns against an indefinitely growing cache, and my example shows that the cache entries for an enum are finite.

This might be stuff for another issue, but I ignored the actual wording of the message, because it doesn't make any sense to me:

1. `'lru_cache(maxsize=None)' or 'cache' will keep all method args alive indefinitely, including 'self' (method-cache-max-size-none

[2022-11-27 23:58] nickdrozd commented on #7853
The function that is returned from `get_func` is not a function that sometimes returns `None`; rather, sometimes it is a function that always returns `None` and sometimes it isn't. So it isn't clear to me that this is a false positive.

Actually, I would say there is a false *negative* at play here, because a minor variation of this code does not raise a warning:

[code]

I suppose we can all agre

[2022-11-28 08:07] DanielNoord commented on #7857
Like the [documentation](https://pylint.pycqa.org/en/latest/user_guide/messages/warning/method-cache-max-size-none.html) shows this is not the case. It is not about an infinitely large cache, but about the garbage collection of the stuff that is in the cache.

How would we rephrase this then? Does the extended description in the documentation help?

The issue warns about decorating methods since i

[2022-11-28 08:49] RumovZ commented on #7857
If I annotate a function with `lru_cache(maxsize=None)` I _expect_ input and output to be cached indefinitely. (I might not be aware of `cache`'s default behaviour, but that's another matter.) The fact that one argument is called `self` doesn't change that.
Also, if this is about garbage collection and not unbound growth, I don't understand why setting a maxsize would silence the warning.

The exa